[2022-03-18 13:58] cthomasONRR commented on #1406
@mcharg Links look good. Approved.

[2022-03-18 14:03] cthomasONRR commented on #1439
@mcharg Links look good. Approved.

[2022-03-18 14:05] cthomasONRR opened #1735 "Add document links to Valuation & Pricing tabs"
- [x] https://dev-onrr-frontend.app.cloud.gov/references/valuation?tabs=pricing,indian-gas-index-zone

- [x] https://dev-onrr-frontend.app.cloud.gov/references/valuation?tabs=unbundling,overview

- [x] https://dev-onrr-frontend.app.cloud.gov/references/valuation?tabs=valuation-regulations

- [x] https://dev-onrr-frontend.app.cloud.gov/references/valuation?tabs=valuation-examples

[2022-03-18 14:06] cthomasONRR commented on #1735
@mcharg This is ready for your review. All docs have status set as 'Ready to Review' in the spreadsheet.

[2022-03-18 14:09] cthomasONRR commented on #1735
In Valuation Regulations, having a similar issue as you with link not being centered, plus PDF icon not showing:
![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/286e129c-6894-4829-9e8e-b6d0ec28a09d)

[2022-03-18 14:16] Maroyafaied commented on #1476
@cthomasONRR U added this one to this sprint, can you please review and update spreadsheets if everything looks good? Thanks

https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/enforcement?tabs=civil-penalties,penalty-collections

[2022-03-18 14:21] cthomasONRR commented on #1476
@Maroyafaied The Penalty Collections tab looks good. I set all those document links as 'approved by oddd' in the spreadsheet.

The Civil Penalties page is not ready for review, since docs need to be linked in the 'References' and 'Assessment Tables' subtabs as well.

[2022-03-18 14:24] cthomasONRR commented on #1476
@Maroyafaied I can link the docs in the  'References' and 'Assessment Tables' subtabs today if you want to actually take your Friday off! ;)

[2022-03-18 14:38] Maroyafaied commented on #1476
@cthomasONRR lol I was just too eager to play around with linking, if you have time today or Monday you can take it over. If not, no worries I will finish it next week.

[2022-03-18 15:11] cthomasONRR commented on #1453
@mcharg I added all the doc links to the Training Presentations page. All docs are ready for approval, and I believe this page is also ready for final approval. Then this issue can be closed :)

[2022-03-18 15:15] mcharg commented on #1735
@cthomasONRR We don't have a complete version of the Indian handbook.  I removed the link, for now, in case we don't get one by the time the site goes live.  Set the status in the spreadsheet to Need Final Doc.

Approved the rest of the docs.

[2022-03-18 15:15] #1735 closed

[2022-03-18 15:16] mcharg commented on #1439
Moving to backlog until we get buttons and centered text.

[2022-03-18 15:21] mcharg commented on #1453
@cthomasONRR All approved.

[2022-03-18 15:21] #1453 closed

[2022-03-18 15:27] mcharg commented on #1476
Approved.

[2022-03-18 15:27] #1476 closed

[2022-03-18 15:32] cthomasONRR commented on #1438
@mcharg I added all doc links. Docs and entire page are ready for your approval.

[2022-03-18 15:50] mcharg commented on #1399
Moving to backlog until we get the button.

[2022-03-18 15:50] mcharg commented on #1406
Moving to backlog until we get the button.

[2022-03-18 15:51] mcharg commented on #1420
Moving to backlog until we get the button.

[2022-03-18 15:52] mcharg commented on #1413
The W-9 is an external link to the IRS site, so it's not in the docs list.

Moving to backlog until we get the button.

[2022-03-18 15:56] cthomasONRR commented on #1496
@mcharg There was only 1 doc to link here. I think the entire page is now ready for approval.

[2022-03-18 15:58] mcharg commented on #1438
Approved and updated dates to match dates on live site.

[2022-03-18 15:58] #1438 closed

[2022-03-18 16:14] cthomasONRR commented on #1498
@mcharg All docs are linked. I think this entire page is ready for approval.

[2022-03-18 16:15] cthomasONRR commented on #1333
@mcharg Documents are linked and ready for your review.

[2022-03-18 16:15] cthomasONRR commented on #1334
@mcharg Documents are linked and ready for your review.

[2022-03-18 16:16] cthomasONRR commented on #1335
@mcharg Documents are linked and ready for your review.

[2022-03-18 16:37] mcharg commented on #1398
@cthomasONRR Links are ready to review. There are two reporter letter links in the reporting codes section that I was able to hard code link, but the icons won't display until we get them added to the links builder.
https://dev-onrr-frontend.app.cloud.gov/reporting/production?tabs=references

[2022-03-18 16:43] cthomasONRR commented on #1398
@mcharg I approved all docs listed as ready on the spreadsheet... those two reporter letter links in the reporting codes section still have the old url for me.

[2022-03-18 17:10] mcharg commented on #1732
We also want them to have the nice urls.

[2022-03-18 17:55] mcharg commented on #1398
Moving to backlog until additional blockers are cleared.

[2022-03-18 18:15] mcharg commented on #1405
@lpgoldstein Links are ready to review. Waiting on button, reporter letters, and video icon before final approval.

[2022-03-18 18:25] #1498 closed

[2022-03-18 18:25] mcharg commented on #1498
Approved.

[2022-03-18 18:26] mcharg commented on #1496
Approved.

[2022-03-18 18:26] #1496 closed

[2022-03-18 18:30] mcharg commented on #1501
@cthomasONRR Docs look good. Leaving in backlog until we get button.

[2022-03-18 18:32] mcharg commented on #1703
And they should all be blue.

[2022-03-18 18:33] mcharg commented on #1695
Closing, since I accidentally got this for the one external pdf.

[2022-03-18 18:33] #1695 closed

[2022-03-18 18:41] mcharg commented on #1412
@lpgoldstein Links are ready to review. Need video icon before full approval.

[2022-03-18 19:07] mcharg commented on #1419
@lpgoldstein Links are ready to review.

[2022-03-18 19:36] mcharg commented on #1508
@cthomasONRR Do you want to review this one?

[2022-03-18 19:37] mcharg commented on #1333
Documents look good.

[2022-03-18 19:37] mcharg commented on #1334
Documents look good.

[2022-03-18 19:38] mcharg commented on #1335
Documents look good.

[2022-03-18 19:41] cthomasONRR commented on #1508
Looks good! I set the page and all docs as approved by oddd.

[2022-03-18 19:54] mcharg opened #1736 "Get final version of Form ONRR-4054 Frequently Asked Questions"
Cody, this was the new one that wasn't finalized.

[2022-03-18 19:55] mcharg commented on #1400
@cthomasONRR This is ready to review. There's a new OGOR FAQ that we don't have the final doc for that's unlinked, plus those two reporter letters.
https://dev-onrr-frontend.app.cloud.gov/about/contact/production-contacts?tabs=troubleshooting

[2022-03-18 19:59] #1508 closed

[2022-03-18 20:05] jlouis-onrr commented on #821
@Maroyafaied, @mcharg IBMP pricing collection is out in dev now

[2022-03-18 20:06] cthomasONRR commented on #1400
@mcharg Docs look good- approved.

[2022-03-18 20:25] mcharg commented on #1407
@cthomasONRR Links are ready to review. https://dev-onrr-frontend.app.cloud.gov/about/contact/royalty-contacts?tabs=troubleshooting

[2022-03-18 20:32] mcharg commented on #1421
@cthomasONRR Links are ready to review. https://dev-onrr-frontend.app.cloud.gov/about/contact/geothermal-contacts?tabs=troubleshooting

[2022-03-18 20:33] cthomasONRR commented on #1407
Docs look good - approved

[2022-03-18 20:40] cthomasONRR commented on #1421
@mcharg

In the first accordion, these 2 links are missing:
![image](https://user-images.githubusercontent.com/72526208/159080037-8066c7d1-3835-490b-9026-dc395ef589f5.png)

In the 3rd to last accordion (lease and agreement number), the "Indian Leases Cross-walked to Distributee Codes" excel is listed on the spreadsheet as bring present, but it is not on the dev site. Should it be on this card?
![i

[2022-03-18 20:43] mcharg commented on #1421
@cthomasONRR the missing links should be there now, I forgot to save my changes.

[2022-03-18 20:46] mcharg commented on #1421
@cthomasONRR The Indian one should be there. I'll fix it on Monday. It's not an easy fix to add a bullet in the middle of the list.

[2022-03-18 20:46] cthomasONRR commented on #1421
@mcharg Great, I approved the 2 in the Training Presentations card, but don't see the one missing from the Reference Lists card I have above... does that Indian lease cross-walk need to be here in Geothermal?

[2022-03-20 02:33] lpgoldstein commented on #1419
@mcharg these are the ones that don't work and I think we discussed but I wanted to document. [eCommerce FAQ](https://onrrreporting.onrr.gov/Help/FAQs.aspx)
[Form 2014 Training Videos](https://dev-onrr-cms.app.cloud.gov/references/training?tab=oil-gas-revenue)
![image](https://user-images.githubusercontent.com/39419003/159145269-acc578e1-b2bb-40ce-9df2-5890f7235e46.png)
![image](https://user-image

[2022-03-20 02:36] lpgoldstein commented on #1412
@mcharg same comments as in geothermal references - but everything else works!

[2022-03-20 02:39] lpgoldstein commented on #1419
@mcharg approved

[2022-03-20 02:41] lpgoldstein commented on #1405
@mcharg Should both of these links go to the same place?
![image](https://user-images.githubusercontent.com/39419003/159145685-48419aa0-7515-4032-a3b5-78b3a207241e.png)

[2022-03-21 12:48] mcharg commented on #1419
Moving to backlog until we get button and ability to link to reporter letters.

[2022-03-21 12:49] mcharg commented on #1412
Moving back to backlog until we get button and ability to link to reporter letters.

[2022-03-21 12:53] mcharg commented on #1405
@lpgoldstein I fixed the links to the videos.

[2022-03-21 12:57] mcharg commented on #1421
@cthomasONRR Added the missing link.

[2022-03-21 13:00] cthomasONRR commented on #1421
@mcharg Great! Approved that doc in the spreadsheet. I think this can go to the backlog now.

[2022-03-21 13:01] mcharg commented on #1390
@cthomasONRR Docs are ready to review on this page.

[2022-03-21 13:02] mcharg commented on #1391
@cthomasONRR Docs are ready to review on this page.

[2022-03-21 13:06] mcharg commented on #1516
@cthomasONRR Docs are ready to review on this page. Note: There's one OGOR FAQ that's not linked because we don't have the final doc.

[2022-03-21 13:07] cthomasONRR commented on #1391
@mcharg Approved. FYI- some of the docs you properly linked weren't listed in the spreadsheet:
![image](https://user-images.githubusercontent.com/72526208/159267021-a64c1e02-2cf0-4486-a0db-796579bee0ae.png)
![image](https://user-images.githubusercontent.com/72526208/159267070-0aa1aeb4-a1ce-4e3c-a32c-962c7db20b8c.png)

[2022-03-21 13:12] cthomasONRR commented on #1516
@mcharg Approved. Same FYI as the previous troubleshooting. These docs are linked properly but not in the spreadsheet to approve:

![image](https://user-images.githubusercontent.com/72526208/159267859-d4f68425-f188-4aaf-9581-c436bbacd1ba.png)
![image](https://user-images.githubusercontent.com/72526208/159267909-4198139d-204d-4bc0-af46-8dbb9a97a7d6.png)

[2022-03-21 13:13] mcharg commented on #1391
@cthomasONRR I just noticed that they weren't in Ready to Review in the spreadsheet.  They're updated to that status now.

[2022-03-21 13:18] mcharg commented on #1520
@cthomasONRR Docs are ready to review.

[2022-03-21 13:27] mcharg commented on #1414
@cthomasONRR Docs are ready to review.

[2022-03-21 13:49] lpgoldstein commented on #1405
@mcharg looks good!

[2022-03-21 14:51] mcharg commented on #1525
@cthomasONRR Docs are ready to review.

[2022-03-21 14:54] cthomasONRR commented on #1525
@mcharg approved

[2022-03-21 14:58] mcharg commented on #1530
@cthomasONRR Documents are ready to review.

[2022-03-21 15:01] cthomasONRR commented on #1530
@mcharg approved

[2022-03-21 15:02] mojobnichols commented on #1588
@Jerome and @Shannon McHarg (or anyone else) If url is generated from slug which has to be unique do we need uniques on url?  I'm leaving off for now.

[2022-03-21 15:05] mcharg commented on #1504
@cthomasONRR Org chart is linked. This page is ready for full ODDD approval.

[2022-03-21 15:07] cthomasONRR commented on #1504
@mcharg I set the document and page as approved.

[2022-03-21 15:11] mojobnichols opened #1742 "Make links grid user interface more usable"

[2022-03-21 15:12] mcharg commented on #1484
@cthomasONRR The document is added. Just waiting on email icon for this one.

[2022-03-21 15:17] mcharg commented on #1503
@cthomasONRR Docs are added. Waiting on email and phone icons.

[2022-03-21 15:18] cthomasONRR commented on #1509
@mcharg Set the docs and page as approved

[2022-03-21 15:20] mcharg commented on #1456
@cthomasONRR Doc links added.  Ready for full ODDD approval.

[2022-03-21 15:21] #1509 closed

[2022-03-21 15:23] cthomasONRR commented on #1456
@mcharg Set the page and docs to approved

[2022-03-21 15:24] mcharg commented on #1503
@cthomasONRR I might have only put that page in the spreadsheet once, since I knew it was the same content in two places.

[2022-03-21 15:24] #1456 closed

[2022-03-21 15:28] lpgoldstein commented on #1544
added links @mcharg ready for approval

[2022-03-21 15:30] mcharg commented on #1546
@lpgoldstein I also added link to distributee codes in one of the tables. Approved doc and page.

[2022-03-21 15:30] #1546 closed

[2022-03-21 15:35] mcharg commented on #1544
@lpgoldstein Looks good. Moving to backlog until we get button.

[2022-03-21 15:37] mcharg commented on #1547
@lpgoldstein Links look good.

[2022-03-21 15:40] daniel-coleman-1 opened #1737 "Correct images for blue/yellow colorblindness"
I can revisit these images if we can select a color scheme at sync up.

![Screenshot 2022-03-21 093356](https://user-images.githubusercontent.com/83892362/159296882-1d461119-83aa-45f4-b2b7-d6bdfcbd6d82.png)

![Screenshot 2022-03-21 093339](https://user-images.githubusercontent.com/83892362/159296905-20443893-8503-44ae-a8bf-b747f0426262.png)

[2022-03-21 15:53] mcharg opened #1738 "Links to historical rulemakings are broken"
They used to work.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/47faa657-f0e5-403c-a148-40c83bcf6a5d)

[2022-03-21 16:10] mcharg commented on #1728
@lpgoldstein Can you check all the links from the Paying home page to the payment options tabs? Maroya missed those and I had to edit them each manually, so there's definitely room for error. https://dev-onrr-frontend.app.cloud.gov/paying

[2022-03-21 16:12] mcharg commented on #1545
@cthomasONRR Doc added. Ready for full ODDD approval.

[2022-03-21 16:18] cthomasONRR commented on #1545
@mcharg I set the doc and page as approved

[2022-03-21 16:22] #1545 closed

[2022-03-21 16:46] mcharg commented on #1728
@Maroyafaied I found a few you missed and added them. Approving.

[2022-03-21 16:46] #1728 closed

[2022-03-21 16:51] daniel-coleman-1 commented on #1737
This image isn't necessarily non compliant, but it's not in line with our color scheme.

![Screenshot 2022-03-21 104037](https://user-images.githubusercontent.com/83892362/159314399-6b203dd8-550f-4f74-a5e8-7e21df1feed3.png)

[2022-03-21 17:19] jlouis-onrr commented on #1738
looks like the domain is wrong in the links:

working link:
https://dev-onrr-frontend.app.cloud.gov/references/rulemakings?topic=Federal%20Oil

non-working link:
https://dev-onrr-cms.app.cloud.gov/references/rulemakings?topic=Federal%20Oil

[2022-03-21 17:21] mcharg commented on #821
@jlouis-onrr IBMP looks good.

[2022-03-21 17:23] cthomasONRR commented on #1738
@mcharg Sure

[2022-03-21 17:29] cthomasONRR commented on #1738
@mcharg @jlouis-onrr Links are fixed!

[2022-03-21 17:32] mcharg commented on #1738
@cthomasONRR I reviewed and they look good. This is good to close.

[2022-03-21 17:36] #1738 closed

[2022-03-21 17:46] mcharg opened #1739 "Unable to create a new page without attaching a document"
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/e558507e-6969-4fdd-a631-aee18b80517b)

[2022-03-21 18:09] mcharg commented on #1708
@lpgoldstein Can you please review the copy at the top of all the contacts pages?

[2022-03-21 18:10] mcharg commented on #1727
This was fixed by editing the urls in #1728.

[2022-03-21 18:10] #1727 closed

[2022-03-21 18:17] mcharg opened #1740 "Add contacts survey and troubleshooting study to GitHub"
Will need to link to them from the troubleshooting blog post.

[2022-03-21 18:44] #1708 closed

[2022-03-21 18:44] mcharg commented on #1731
Closing, since we haven't encountered any new bugs.

[2022-03-21 18:44] #1731 closed

[2022-03-21 20:50] mcharg commented on #1592
@cthomasONRR Docs are uploaded and ready to review.

[2022-03-21 20:53] cthomasONRR commented on #1592
@mcharg Doc links look good. Approving. This stays in backlog to wait for the handbook collection.

[2022-03-21 21:13] cthomasONRR opened #1741 "Discontinued ICRs - create a table in CMS"
Table [here](https://teams.microsoft.com/l/file/ED400BD4-581E-4C99-B0BE-DD0C3037DAA5?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FCMS%2FCollections%2FDiscontinued%20ICRs%2FDiscontinuedICRCollection_NEW%20FOR%20CMS.xlsx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD&

[2022-03-21 21:23] lpgoldstein commented on #1597
@mcharg linked pdfs

[2022-03-21 21:44] daniel-coleman-1 commented on #1737
@mcharg in this image are the 1 and the I different enough, or should we switch to a different font?

![Screenshot 2022-03-21 154324](https://user-images.githubusercontent.com/83892362/159368702-feaffa31-802c-4038-bfc0-7e7f76ef94dc.png)

[2022-03-21 23:41] daniel-coleman-1 commented on #1737
Needs an update if we keep using it:
![Screenshot 2022-03-21 174030](https://user-images.githubusercontent.com/83892362/159380534-25b179b6-f55e-4d0e-a2f0-ade7b492f5fa.png)

[2022-03-22 01:57] lpgoldstein commented on #1740
@mcharg ready for your review

[2022-03-22 12:52] cthomasONRR commented on #1741
@mcharg The table is ready for you to review: https://dev-onrr-frontend.app.cloud.gov/references/icrs?tabs=discontinued

[2022-03-22 12:54] mcharg commented on #1737
@daniel-coleman-1 I can see how the I and 1 might be confused. Maybe try it with Verdana. That was the font that came out of the ONRR 508 team as being most accessible.

[2022-03-22 12:55] mcharg commented on #1737
@daniel-coleman-1 Not sure what you're saying needs to be updated on the current menu. That menu is painful to update, so I don't think we should make updates to it unless it's absolutely necessary.

[2022-03-22 12:57] mcharg commented on #1737
@daniel-coleman-1 The images from the valuation example at the top are all owned by the Royalty Valuation team. It's up to them to make them accessible. I know they have put a lot of thought into color, so they probably are relatively accessible contrast.

[2022-03-22 12:59] mcharg commented on #1740
@lpgoldstein Contacts survey looks good. Are you going to add the ones from the troubleshooting guide as part of this issue or do that separately?

[2022-03-22 13:05] mcharg commented on #1597
@lpgoldstein Looks good.

@cthomasONRR I noticed in your checklist above that there are other documents that need to be linked. Do you want to add those?

[2022-03-22 13:16] cthomasONRR commented on #1741
@mcharg Awesome, we can mark this page as completed in the content tracker! I'll close this issue now.

[2022-03-22 13:16] #1741 closed

[2022-03-22 13:17] mcharg commented on #1429
We built this as a static table instead of a collection.

[2022-03-22 13:17] #1429 closed

[2022-03-22 13:21] mcharg commented on #1733
@Maroyafaied This is ready to review.
https://dev-onrr-frontend.app.cloud.gov/getting-started/new-reporter-checklist

[2022-03-22 13:22] Maroyafaied commented on #821
@jlouis-onrr @mcharg Robert would like to remove the asterisk in the Indian Gas Index Zone, is it best to remove it in the shared spreadsheet.  I send the IBMP for review and asked about displaying blank prices as "--".

[2022-03-22 13:22] mcharg commented on #1388
@cthomasONRR Doc links are ready to review.

[2022-03-22 13:23] #1432 closed

[2022-03-22 14:01] cthomasONRR commented on #1597
Added PDFs or links to other (new) onrr.gov pages to sections:
- [ ] 1.6
- [ ] 2.4.2
- [ ] 2.5.5.4
- [ ] 2.7
- [ ] 3.1 (Will need to update navigation language)

We still need the ability to link to Dear Reporter Letters on sections:
- [ ] 2.4.5
- [ ] 2.5.6

Other:
- [ ] The product code image here (section 2.11) is now missing: https://dev-onrr-frontend.app.cloud.gov/references/handbooks/indian-p

[2022-03-22 14:03] cthomasONRR commented on #1597
@mcharg For the Updated Rules section, can we just have a link that brings them to the filtered Rulemakings table?

[2022-03-22 14:05] lpgoldstein commented on #1740
@mcharg do you have a preference? Now thinking together is better?

[2022-03-22 14:08] cthomasONRR commented on #1388
@mcharg approved

[2022-03-22 14:09] cthomasONRR commented on #1388
@mcharg I think this page is complete and ready for approval?

[2022-03-22 14:19] Maroyafaied commented on #1733
@mcharg looks good.

[2022-03-22 14:24] mcharg commented on #1597
@cthomasONRR I think that works until we get the ability to display a filtered view of the rulemakings.

[2022-03-22 14:33] daniel-coleman-1 commented on #1737
@mcharg looking at those images again and maybe they're a little more purple-y than blue?  But maybe that's just me eyes getting old.   I can redo those images with the same content in an accessible format and run them by RV, let's talk in sync up and decide if that's something we want to do or not.

Here's where we use that onrr.gov image on the site:
![Screenshot 2022-03-22 082918](https://user-

[2022-03-22 14:37] mcharg commented on #1737
@daniel-coleman-1 The RV images have likely been past legal and can't be modified without significant effort across stakeholder groups.

[2022-03-22 14:39] #1733 closed

[2022-03-22 14:39] mcharg commented on #1388
@cthomasONRR We still need buttons for the EMARF.

[2022-03-22 14:44] mcharg commented on #1737
@daniel-coleman-1 For the screenshot of the old site, for the interactive handbook, we should just have a link to the tab.  But we will have to check with RV to make sure we can have it be different from the pdf version.

[2022-03-22 14:47] daniel-coleman-1 commented on #1737
@mcharg roger that, deleted from this issue.

[2022-03-22 16:17] mcharg commented on #1444
@cthomasONRR Docs are added. I think this is ready for full ODDD approval.

[2022-03-22 16:20] mcharg commented on #1717
@daniel-coleman-1 The product code image is missing from the 2016 example. ![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/8fe91bac-153e-4ddd-b1fc-578d8ca9e9d1)

[2022-03-22 16:29] cthomasONRR commented on #1444
@mcharg Approved :)

[2022-03-22 16:29] daniel-coleman-1 commented on #1717
@mcharg good to go, thanks
![Screenshot 2022-03-22 102901](https://user-images.githubusercontent.com/83892362/159528211-330a3826-4f57-4d48-9dc7-ef5c78ef4909.png)

[2022-03-22 16:30] mcharg commented on #1717
@cthomasONRR Also noticed a couple missing from the Indian Payor Handbook, see #1597.

[2022-03-22 16:37] daniel-coleman-1 commented on #1717
@mcharg I'll tag you for review after sync up, could save you some time.

[2022-03-22 17:09] #1444 closed

[2022-03-22 18:02] mcharg commented on #1717
@daniel-coleman-1 Here's the alt text we do have documented from a prior issue.  It's mostly for the new diagrams. I used Sarah's revisions when I added previous.
https://teams.microsoft.com/l/file/707C8F9D-1192-4E43-9BED-4E7BC13354F2?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2

[2022-03-22 18:34] mcharg commented on #1700
@Christian-Sibo-ONRR we got DOI to redirect the broken url, so it should now be fixed on all pages.

[2022-03-22 18:41] mcharg commented on #1717
@daniel-coleman-1 Here's another problem.

This image is displaying in dev.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/6aa0f6fb-e493-4aaf-b63c-5e64956ba53e)

When I try to view it in the CMS, it won't load. It just spins forever.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/4df7db9a-a367-4446-9e4e-f62b6f3b2774)

When I try to find it ba

[2022-03-22 20:06] jlouis-onrr commented on #821
@Maroyafaied, the asterisk in the Indian Gas Index Zone has been removed and reinserted into db.  Also, the pricing collection filters updates are now out in dev.

[2022-03-22 22:23] daniel-coleman-1 opened #1743 "Alt Text"
Alt text is contained in this file:
https://doimspp.sharepoint.com/:w:/s/NRRD/EanXkHsMmaRPlt1lIsNq_TQB0Lh7nvYoptrOcPtpf1OZZQ?e=DLlvs1

@cthomasONRR I'm seeing a ton of overlap, but not in the same order.

[2022-03-22 22:30] daniel-coleman-1 commented on #1743
@cthomasONRR I noticed the dev selection was alphabetized so I alphabetized the local one as well, they're the same.  I'm going to start plugging them into the CMS.  There are some areas where I may ask for clarification around punctuation, like here:
![Screenshot 2022-03-22 162945](https://user-images.githubusercontent.com/83892362/159586970-fe0c546d-c872-4a1c-9ad1-1559bd7538ee.png)
.

[2022-03-22 22:38] daniel-coleman-1 commented on #1743
@cthomasONRR I'm going to wait on plugging these into the CMS until you can take a look, I think we need to re-add all of the commas and may want to re-write some of the alt text.

[2022-03-22 22:43] Maroyafaied commented on #1743
@daniel-coleman-1 Can you make a list for @cthomasONRR for any images that are technical that are missing alt text? The punctuation errors I see in the spreadsheets are quotation marks that didn't import correctly, the example you mentioned above should be "Contractual Allocated Fuel".

[2022-03-22 22:49] Maroyafaied commented on #1743
@daniel-coleman-1 why do we need to re-write alt text? @cthomasONRR has already spend time writing these alt texts with detail before they were deleted as you were working in issue #1717.  You can clean up what Mojo gave you and add any commas and start adding to the CMS. If you come across any technical images that don't have alt texts then Christine can write them. But you should have what you n

[2022-03-22 22:51] daniel-coleman-1 commented on #1743
@Maroyafaied I thought there were some areas we may want to be more descriptive, like:
"2.5.5.1 Image #1" "Flow chart for deciding how to value Indian Gas"""

but if you think it's good to go, I'll plug them in.

[2022-03-22 23:17] Maroyafaied commented on #1743
@daniel-coleman-1 Yes you can plug everything to the CMS and also add alt texts to images that are not technical. Again, you would need to clean up the quotation marks and add necessary commas.  While you are identifying technical images that alt text have been deleted and need to be re-written, you can also note any images you feel need to be more descriptive to that list.  Since @cthomasONRR has

[2022-03-22 23:20] Maroyafaied commented on #1717
@daniel-coleman-1 can you look into @mcharg comment above, is this image still in the CMS? If so, can you let us know what the image title is?

[2022-03-22 23:35] daniel-coleman-1 commented on #1717
@Maroyafaied this isn't ready for review yet, I'll tag for review when it is ready

[2022-03-23 12:41] jkwonatx commented on #1721
https://miro.com/app/board/uXjVOZY8bT8=/?invite_link_id=923924300917

Link to the miro board for today's meeting. Also have ready the compliance spreadsheet above. Thank you.

[2022-03-23 12:43] cthomasONRR commented on #1439
@mcharg For the Indian Payor Handbook card, can we add 3 "Download Ch 1, Download Ch 2, Download Ch3" PDF links below the link to the interactive handbook?

[2022-03-23 12:53] mcharg commented on #1439
@cthomasONRR Sure!

[2022-03-23 12:57] mcharg commented on #1721
Link to the spreadsheet in Teams. https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR%20508%20Compliance%20Approach%20Team/ONRResources.508.Compliance.xlsx?d=wec83f76fa29249789220c3cd5b92cb2e&csf=1&web=1&e=YRK2r0

[2022-03-23 13:03] cthomasONRR commented on #1439
@mcharg I added them, but was struggling to do it a list within the doc linking function (no text would appear). Once we have some more text editing capabilities, I think it will look even better.

![image](https://user-images.githubusercontent.com/72526208/159705381-90440493-abae-4695-a0fb-c56e403f52f0.png)

[2022-03-23 13:11] mcharg commented on #1439
@cthomasONRR What do you think of this?
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/e0b36a08-34e3-4d40-b8f3-00d9cf613728)

[2022-03-23 13:16] cthomasONRR commented on #1439
@mcharg I like your version better! They don't seem to have versions, as each chapter has a different 'last updated' date. Ch 1 last updated September 12, 2018, Ch 2 Last Updated April 2019, Ch 3 Last Updated March 18, 2020.

[2022-03-23 14:20] mcharg commented on #1439
@cthomasONRR Should we put March 18, 2020 as the last updated date, since that's the most recent?

[2022-03-23 14:23] mcharg commented on #1439
@cthomasONRR Do you also want to verify the dates on the other handbooks? I haven't refreshed those since I first started the wireframes.

[2022-03-23 14:25] cthomasONRR commented on #1439
@mcharg Sure, I'll check the live site for all the dates. Just updated the IHP to match the date formats in the other handbooks:
![image](https://user-images.githubusercontent.com/72526208/159721962-69fbbfcf-6ca3-498b-801f-2221eebd1e15.png)

[2022-03-23 14:37] cthomasONRR commented on #1439
@mcharg All other handbook releases/dates match what's on the live site :)

[2022-03-23 14:51] mcharg opened #1744 "Fix debt collection solids contacts"
Participant pointed out inaccuracies with the solids contacts, which we need to fix. Can drop the solids line, repetitive (?), MA### contacts are solids so no need for an additional solids line item

[2022-03-23 14:52] Maroyafaied commented on #821
@jlouis-onrr everything looks great, I removed the asterisk from the shared spreadsheet but looks like you already handled that. I'll keep this issue open until MSA reviews and gives feedback. Thanks

[2022-03-23 14:57] mcharg opened #1745 "Add link to contacts page to unpaid debts page"
https://dev-onrr-frontend.app.cloud.gov/paying/unpaid-debt

[2022-03-23 18:33] mcharg commented on #1745
@lpgoldstein This is ready to review.
https://dev-onrr-frontend.app.cloud.gov/paying/unpaid-debt

[2022-03-23 18:40] mcharg commented on #1736
Sent Christen Watkins an email asking when she might have the final FAQ.

[2022-03-23 18:42] mcharg commented on #1318
@cthomasONRR I think this page is ready for full ODDD approval.

[2022-03-23 18:46] lpgoldstein commented on #1745
@mcharg approved!

[2022-03-23 18:48] #1745 closed

[2022-03-23 18:53] cthomasONRR commented on #1318
@mcharg Approved

[2022-03-23 19:19] merrellc opened #1746 "2014 CSV and ASCII file"
Please replace the sample layouts for the CSV and ASCII record layout for the Form ONRR-2014 with the attached files.
https://onrr.gov/reportpay/royalty-reporting.htm#contacts

Thank you!

[_ASC2014Rev20220401.pdf](https://github.com/ONRR/onrr.gov-site/files/8335897/_ASC2014Rev20220401.pdf)
[_CSV2014Rev20220401.pdf](https://github.com/ONRR/onrr.gov-site/files/8335898/_CSV2014Rev20220401.pdf)

[2022-03-23 19:23] cthomasONRR commented on #1744
@mcharg Should I add in their email addresses to the ContactsFIles excel?

[2022-03-23 19:32] mcharg commented on #1744
@cthomasONRR Sure.

[2022-03-23 19:42] cthomasONRR commented on #1744
@mcharg I added all emails except for Yoo Na Conrad and Sharon Weddle... I looked them up in Teams, Address Book, and onrr resource's new dynamic org chart (https://oep.onrr.local/Reports/OrgChart)... they are not listed anywhere. Have they left onrr? Maybe we need to check in with SMEs to make sure they are the correct contact.

[2022-03-23 19:43] bowlenj opened #1747 "Production Reporting Updates"
Please update the following page with the attached updated forms - https://www.onrr.gov/reportpay/production-reporting.htm

[4054-c 20220401.pdf](https://github.com/ONRR/onrr.gov-site/files/8336045/4054-c.20220401.pdf)
[4058 20220401.pdf](https://github.com/ONRR/onrr.gov-site/files/8336046/4058.20220401.pdf)
[OGOR-Reporting-Instructions-ASCII-Format 20220401.pdf](https://github.com/ONRR/onrr.gov-s

[2022-03-23 19:47] mcharg commented on #1744
Yeah, we should figure out who gives us that contact file and ask if they have updates.

[2022-03-23 19:48] cthomasONRR commented on #1744
@mcharg I'd say contact Rebecca Dyess for an update... looks like it hasn't been updated since October 2019

[2022-03-23 19:48] Maroyafaied commented on #1747
@cthomasONRR can you please make these updates and tag these documents in CMS to be updated. Thanks

[2022-03-23 20:02] cthomasONRR commented on #1747
@bowlenj Good afternoon,
These 8 documents are now updated on the dev site: http://2017onrr/reportpay/production-reporting.htm. Please review and give us your approval to go live.

@Maroyafaied I tagged all 8 documents with 'Update' in the CMS.

[2022-03-23 20:11] cthomasONRR commented on #1744
Email sent to Rebecca Dyess:

"Hi Rebecca,

My name is Christine Thomas with ONRR’s Open Data, Design, and Development (ODDD) team. As you likely know, our team is working to redesign onrr.gov. Part of this redesign includes keeping all the ONRR contacts up to date.

We are working on the Debt Collection - Company Assignments contacts (attached, and located here: https://www.onrr.gov/about/contact

[2022-03-23 20:35] bowlenj commented on #1747
This looks great, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exem

[2022-03-23 20:58] Maroyafaied commented on #1746
@lpgoldstein please also tag these documents with the "update" tag in the CMS.

[2022-03-23 21:01] lpgoldstein commented on #1746
@merrellc The first document needs to have the table summary corrected on the first page. Please correct and then I'll update. Thanks! Lindsay
![image](https://user-images.githubusercontent.com/39419003/159794900-6833e26b-a5cb-4f4f-acec-5e8640aecec0.png)

[2022-03-23 21:02] cthomasONRR commented on #1747
@bowlenj Great, these changes are now live: https://www.onrr.gov/reportpay/production-reporting.htm. Remember to use 'Ctrl+F5' to refresh the page. Closing this issue. Thanks, Christine

[2022-03-23 21:02] #1747 closed

[2022-03-23 21:08] jlouis-onrr commented on #1709
@mcharg, looks like you were trying to use a mui icon.  I've since added the material icons link to the input field and updated the value.

![menu-icon.png](https://images.zenhubusercontent.com/5d893e494c2d9e0001fa99ad/e9c81973-d165-49a5-aaae-3a0a677452cd)

[2022-03-23 21:10] cthomasONRR commented on #1744
Rebecca's response:

"Hello Christine,

Thank you so much for reaching out about updating the contacts for Debt Collection.  Yoo Na Conrad is no longer working with ONRR, and her replacement is Tiffany Mamayev .  Tiffany can be reached at 303-231-3758, [tiffany.mamayev@onrr.gov](mailto:tiffany.mamayev@onrr.gov).   Sharon Weddle has retired and has been recently replaced with Tammy C Johnson.  Tamm

[2022-03-23 21:21] daniel-coleman-1 commented on #1743
@cthomasONRR only the following 3 require alt text:

Reporting Codes
![Screenshot 2022-03-23 151743](https://user-images.githubusercontent.com/83892362/159797640-104f41a8-c7b1-48a6-9b5c-a734c73e6455.png)

Apop 7
![Screenshot 2022-03-23 151702](https://user-images.githubusercontent.com/83892362/159797655-287b3933-e64a-44e2-abbd-c03ace45aebb.png)

Indian Gas Valuation Flow Chart
![Screenshot 2022-03

[2022-03-23 21:26] mcharg commented on #1593
@cthomasONRR This is ready to review.

[2022-03-23 21:31] cthomasONRR commented on #1744
Rebecca gave me permission to update the excel that's online. The updates have been made and the update excel is live: https://www.onrr.gov/about/contact.htm
![image](https://user-images.githubusercontent.com/72526208/159798408-7f526d9c-fd64-4254-9d75-7199ea93ddab.png)

[2022-03-23 21:32] cthomasONRR commented on #1744
@mcharg I think we're good to close this now

[2022-03-23 21:36] mcharg commented on #1709
@jlouis-onrr Can you also add the new icon to the contacts link in the footer?

[2022-03-23 21:54] jlouis-onrr commented on #1709
@mcharg, these updates are now in dev.

[2022-03-23 21:56] daniel-coleman-1 commented on #1717
@mcharg this is ready for review

[2022-03-23 22:22] daniel-coleman-1 commented on #1743
@cthomasONRR I'll have a list for you tomorrow of all of the alt text I'd like to change, accompanied by suggestions to accept/decline.  Should be about 12-15 items.

[2022-03-23 22:29] Maroyafaied commented on #1717
@daniel-coleman-1 I started the review but it seems like you didn't follow the instructions given by @mcharg for tagging. It is hard to review without proper tagging, there was an example done for you for the Interest Calculation image. Please follow the tagging instructions.  Also, can you address the missing images mentioned above for the Indian payor handbook and the valuation diagram?
![image]

[2022-03-24 12:39] mcharg commented on #1594
@Isabelh99 Looks good.
@cthomasONRR Do you want to review, as well?

[2022-03-24 12:44] cthomasONRR commented on #1593
@mcharg I think Appendices E and F are incorrect. Their URL indicates "RRM-Appendix.E" which is the naming scheme that RRM used for the MRRH. If you look on the Y drive (Y:\reportpay\Handbooks\pdfdocs) there is MPRH-Appendix-E and MPRH-Appendix-F, which have different content. I think these are the correct appendices to include here.
![image](https://user-images.githubusercontent.com/72526208/1599

[2022-03-24 12:48] cthomasONRR commented on #1594
@mcharg I just looked over the PDF links, and they are all correct.

[2022-03-24 12:54] mcharg commented on #1594
@cthomasONRR Great. Moving to backlog until we get the TOC collection.

[2022-03-24 12:57] cthomasONRR commented on #1593
@mcharg I went in the CMS and replaced these 2 documents. Everything is approved now.

[2022-03-24 12:59] mcharg commented on #1717
@daniel-coleman-1 Section is missing from tags.  For example, this image should have a "Getting Started" tag.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/4fd5eadc-6519-418b-af75-fb70cf18e8bb)

[2022-03-24 13:01] mcharg commented on #1717
Tabs are also missing from some of the image tags.  This one should have a "Achieving Compliance" label. I would also title this one "Icon Compliance" to indicate how it's used.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/af570f37-d37a-4480-b736-950115e545c7)

[2022-03-24 13:05] mcharg commented on #1717
@daniel-coleman-1 This one appears to not be used on the page and should be deleted.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/d54c2a06-4932-4a3a-b9f5-3b31d9fde8fc)

When I inspect the image on the page, it's using this one.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/2ddb7b21-f6b2-4056-b1b1-a63f604d4e54)

[2022-03-24 13:13] cthomasONRR commented on #1743
@daniel-coleman-1 I added alt text for the 2 images above.

[2022-03-24 13:14] mcharg commented on #1717
This diagram is also used on Reporting > Oil & Gas Revenue > Reference. Please add tags for that.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/4f46593c-f8b1-45b3-a44f-c2b66aae355f)

[2022-03-24 13:17] mcharg commented on #1717
@daniel-coleman-1 We're not using this one on the site, as discussed in synch up. Please delete.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/d55be045-572d-41b6-adc4-24e18f8a724a)

[2022-03-24 13:42] mcharg commented on #1707
@jlouis-onrr Looks good!

[2022-03-24 13:42] #1707 closed

[2022-03-24 13:42] mcharg commented on #1709
@jlouis-onrr Looks good!

[2022-03-24 13:42] #1709 closed

[2022-03-24 13:59] #1744 closed

[2022-03-24 14:46] mcharg commented on #1736
The document owner said we can post a Word doc instead of a PDF.

[2022-03-24 15:06] lpgoldstein commented on #1746
[_ASC2014Rev20220401.pdf](https://github.com/ONRR/onrr.gov-site/files/8342728/_ASC2014Rev20220401.pdf)
revised document

[2022-03-24 15:18] jkwonatx commented on #1595
Done. Ready for review @cthomasONRR

[2022-03-24 15:21] lpgoldstein commented on #1746
@merrellc this is ready for your review! http://2017onrr/reportpay/royalty-reporting.htm

[2022-03-24 15:23] merrellc commented on #1746
Great! Thank you!

Kind Regards,
​Candace Merrell
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3517
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt fro

[2022-03-24 15:28] cthomasONRR commented on #1595
@jkwonatx I checked the docs and everything looks good! Thanks for your help. I'll move this issue back to the Product Backlog because the Table of Contents is still needed.

[2022-03-24 15:37] merrellc commented on #1746
Ready to go live.

Kind Regards,
​Candace Merrell
Minerals Revenue Specialist - Staff Analyst
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3517
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and ex

[2022-03-24 15:51] lpgoldstein commented on #1746
@merrellc It's live! https://onrr.gov/reportpay/royalty-reporting.htm

[2022-03-24 15:51] #1746 closed

[2022-03-24 17:04] #821 closed

[2022-03-24 17:07] #1740 closed

[2022-03-24 17:07] #1688 closed

[2022-03-24 17:31] kmhtran commented on #1596
@cthomasONRR Finished and is now ready to review.

[2022-03-24 17:40] cthomasONRR commented on #1596
@kmhtran This looks great, thank you for your help! Approved. I'm moving this back to Product Backlog because we still need to do the Table of Contents.

[2022-03-24 18:15] mcharg opened #1748 "Check accessibility on uploaded docs"
We have 626 unique docs.  Run accessibility checks to make sure we have no errors being added to the new site.

[2022-03-24 18:48] Maroyafaied opened #1749 "March Analytics"

[2022-03-24 18:52] Maroyafaied opened #1792 "Identify webpages for SME review & draft email"

[2022-03-24 19:14] Maroyafaied opened #1750 "Touch base with Bill on Videos"

[2022-03-25 13:20] jlouis-onrr commented on #1732
@mcharg, the link updates and nice urls are now in dev.

[2022-03-25 13:24] jlouis-onrr commented on #1703
@mcharg, the pdf icon size has been increased to match closer to other icons

[2022-03-25 13:26] mcharg commented on #1732
@jlouis-onrr Looks great!

The only issue I'm noticing is on the one with the accessible docx, clicking both links opens the pdf and I can't open the docx.
![image](https://user-images.githubusercontent.com/38465926/160129353-314a5f9b-1f0d-4890-bc47-2741f78c5fb5.png)

[2022-03-25 13:28] #1703 closed

[2022-03-25 13:29] mcharg commented on #1680
@jlouis-onrr The PDF icons are now blue, but all the other file types are still black.

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/6313bc24-71b0-4f8e-a267-2004f19b38af)

[2022-03-25 13:32] jlouis-onrr commented on #1680
the update was only for the pdf icons, let me target all other icons.

[2022-03-25 13:45] jlouis-onrr commented on #1680
updates are in dev

[2022-03-25 13:48] mcharg commented on #1680
@jlouis-onrr Looks good. Thanks!

[2022-03-25 13:48] #1680 closed

[2022-03-25 15:00] mcharg opened #1751 "Press releases search doesn't work"
I was looking for a press release in 2011 with "Carlsbad" in the title, but it didn't filter at all when searching regardless of year selected.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/e93d0846-332a-4cd3-89d7-0eecf415e575)

[2022-03-25 15:23] cthomasONRR opened #1752 "Request a 508-compliant version of latest Dear Reporter Letter"
We are checking to make sure documents are 508 compliant. The latest Dear Reporter Letter (https://www.onrr.gov/PDFDocs/Dear.Reporter.Letter.File.Structure.Change.pdf) was uploaded via GitHub Issue #1556 (https://github.com/ONRR/onrr.gov-site/issues/1566). A 508 compliance check was not done, and it was uploaded with accessibility errors. Since @daniel-coleman-1 had the pervious issue (#1556), ple

[2022-03-25 16:27] mcharg commented on #1339
Some of these have changed from PDF to XLS, so we need to make sure the collection can accommodate either.

[2022-03-25 16:28] cthomasONRR commented on #1748
**Documents on Y:\PDFDocs not found in tracking sheet:**

- [ ] ONRR_External_User_Acceptable_Use_Policy.pdf (Accessible)
- [ ] All States GOMESA Release 3.30.pdf (Table Errors)
- [ ] 2020_GOMESA_States.pdf (Table Errors)
- [ ] 2020_Disbursements_States.pdf (Table & Alt Text Errors)

**Documents on Y:\compliance\PDFDocs not found in tracking sheet:**

- [ ] 2016.pdf (Table Errors) likely not neede

[2022-03-25 16:30] mcharg commented on #1748
@cthomasONRR The first one is in the sheet. Sort ID 333.

The two GOMESA and Disbursements ones are probably in press releases somewhere.

2016 - we removed that one because they only want the most recent 5 years on the site.

Cal year 21 dist dates was replaced by a 2022 file.

[2022-03-25 16:33] cthomasONRR commented on #1748
@mcharg I removed all filters and found ONRR_External_User_Acceptable_Use_Policy.pdf. It was set as secondary, so I change it to primary. I can't find the GOMESA and Disbursement docs anywhere though.

[2022-03-25 16:37] cthomasONRR commented on #1748
Found "All States GOMESA Release 3.30.pdf"... the one instance was marked as Secondary, so I changed that to Primary

[2022-03-28 13:06] mcharg opened #1753 "Strategy for non-accessible docs"

[2022-03-28 13:08] #1721 closed

[2022-03-28 13:09] cthomasONRR commented on #1748
I checked the spreadsheet, and I think we can close this issue :)

[2022-03-28 13:16] #1748 closed

[2022-03-28 13:57] mcharg commented on #1753
Status for top 100 docs.
**Rank**|**FY21 Downloads**|**% of Total**|**Cumulative %**|**Accessibility**|**URL**
:-----:|:-----:|:-----:|:-----:|:-----:|:-----:
1|1740|8.03%|8.03%|Pass|https://www.onrr.gov/ReportPay/PDFDocs/ALwState.xlsx
2|1158|5.34%|13.37%|Pass|https://www.onrr.gov/reportpay/PDFDocs/2014.pdf
3|886|4.09%|17.46%|Pass|https://www.onrr.gov/reportpay/PDFDocs/CRLNumber.xlsx
4|715|3.30%|2

[2022-03-28 15:23] cthomasONRR commented on #1753
@mcharg I'm looking at instances other than table errors where I was in charge of the GitHub issue.

- [ ] For 4425.pdf (row 37 in the table), I'm not sure what happened. Luis emailed a 508-compliant version that passed, but now when I run it, it no longer passes.
- [ ] For 930202.pdf (row 331 in the table), The GitHub issue has the 508 compliant doc, it just doesn't seem to have transferred over.

[2022-03-28 15:25] mcharg commented on #1753
@cthomasONRR For the PPT warnings, if they're easy to correct, like reading order and duplicate slide title, they should be fixed. It's the more difficult warnings that can't be cleared that we'll accept.

[2022-03-28 15:32] cthomasONRR commented on #1753
@mcharg Ok apologies, that information was definitely lost on me.

I updated 930202.pdf on the Z drive... looks like it made it to the Y but I missed pulling it over to Z. Honestly surprised I didn't do this more with the bulk updates lol.

[2022-03-28 15:49] cthomasONRR commented on #1753
@mcharg I found a compliant version of the 4425.pdf... I will upload it to the Y and Z drives right now. Luis had sent at least 2 versions and looks like I accidentally uploaded the wrong one.

[2022-03-28 16:36] #1732 closed

[2022-03-28 16:42] mojobnichols opened #1754 "Relative links in frontend"
We need to be able to proxy api calls to frontend so that we can provide relative url paths in frontend site.

[2022-03-28 16:56] mcharg opened #1755 "Test out deleting and uploading a doc with the same file name"

[2022-03-28 17:06] cthomasONRR commented on #867
@jkwonatx I added a folder for all wiki guides for CMS:
![image](https://user-images.githubusercontent.com/72526208/160450586-1c2b72b9-cf10-48fd-80f8-618445189103.png)

https://teams.microsoft.com/_#/files/General?groupId=81f624a1-bcde-4f77-ba3b-69c787c88ed3&threadId=19%3A34f9f9ee6b0441dbacab56bfd552f819%40thread.skype&ctx=channel&context=Wiki%2520Guides&rootfolder=%252Fsites%252FNRRD%252FShared%2

[2022-03-28 17:19] mcharg commented on #1393
Latest version of the contacts spreadsheet. https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/CMS/Collections/ContactsFiles.xlsx?d=wee2fc3b441964dce928684aaf6e25e00&csf=1&web=1&e=dQe5Oo

[2022-03-28 17:35] mcharg commented on #140
@Maroyafaied Was this reopened accidentally?

[2022-03-28 17:36] mcharg opened #1756 "Present about Design Critique to the interns"
Presentation: https://doimspp.sharepoint.com/:p:/r/sites/NRRD/Shared%20Documents/General/Admin/Training/DesignCritique.pptx?d=w41faf5d1203f4d8d87382b4091398e2c&csf=1&web=1&e=wKj3O4

[2022-03-28 17:37] mcharg opened #1757 "Present about Roadmapping to the interns"
Presentation: https://doimspp.sharepoint.com/:p:/r/sites/NRRD/Shared%20Documents/General/Admin/Training/Roadmapping.pptx?d=w7788e0abc02e409ba7b94af7bcf6785d&csf=1&web=1&e=AVYxi1

[2022-03-28 17:38] Maroyafaied commented on #140
@mcharg I don't recall reopening it so I guess so.

[2022-03-28 17:41] mcharg opened #1758 "21st Century Idea Act update"
We need to provide an updated status on IDEA by Wednesday at 12 EST.

[2022-03-28 17:55] mcharg opened #1759 "Build contacts in page collection search"

[2022-03-28 18:32] mcharg commented on #1553
@jlouis-onrr Looks good.

[2022-03-28 18:32] #1553 closed

[2022-03-28 18:57] bowlenj opened #1760 "Production Reporting Update"
Please replace the existing instructions with the attached on the production reporting webpage - https://www.onrr.gov/reportpay/production-reporting.htm

[_PASR_CSV_Record_Layout 20220401.pdf](https://github.com/ONRR/onrr.gov-site/files/8365479/_PASR_CSV_Record_Layout.20220401.pdf)
[_OGOR-REPORTING-INSTRUCTIONS-ASCII-FORMAT 20220401.pdf](https://github.com/ONRR/onrr.gov-site/files/8365480/_OGOR-RE

[2022-03-28 19:00] bowlenj opened #1761 "Royalty Reporting Update"
Please replace existing instruction on the royalty reporting page with the attached - https://www.onrr.gov/reportpay/royalty-reporting.htm
[_CSV2014Rev20220401.pdf](https://github.com/ONRR/onrr.gov-site/files/8365498/_CSV2014Rev20220401.pdf)
[_ASC2014Rev20220401.pdf](https://github.com/ONRR/onrr.gov-site/files/8365499/_ASC2014Rev20220401.pdf)

[2022-03-28 19:00] jlouis-onrr commented on #1751
@mcharg, yes, I can add that.

[2022-03-28 19:20] lpgoldstein commented on #1760
@bowlenj Ready for your approval https://www.onrr.gov/reportpay/production-reporting.htm

[2022-03-28 19:36] lpgoldstein commented on #1760
@bowlenj Sorry I sent you the wrong link http://2017onrr/reportpay/production-reporting.htm - it's still in dev

[2022-03-28 19:44] bowlenj commented on #1760
This looks great!!!!!!  Thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential an

[2022-03-28 20:06] lpgoldstein commented on #1761
@bowlenj This is ready for your review: http://2017onrr/reportpay/royalty-reporting.htm

[2022-03-28 20:07] lpgoldstein commented on #1760
@bowlenj This is live so closing out

[2022-03-28 20:07] bowlenj commented on #1761
This one looks great, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and

[2022-03-28 20:07] #1760 closed

[2022-03-28 20:30] lpgoldstein commented on #1761
@bowlenj live so closing

[2022-03-28 20:30] #1761 closed

[2022-03-28 20:48] Maroyafaied opened #1762 "SME approval for pricing pages"

[2022-03-28 21:25] jlouis-onrr commented on #1751
@mcharg, selection for all years is in dev.

[2022-03-29 12:57] cthomasONRR commented on #867
@Maroyafaied @jkwonatx Maybe we should divide up the CMS instructions by topic. Here's some topics where I can write instructions:

- [ ] Building a new webpage
- [ ] Setting up tabs and accordions within a webpage
- [ ] Setting up cards and page dimensions
- [ ] Adding images and proper tagging
- [ ] Adjusting images
- [ ] Creating tables
- [ ] Adding external links
- [ ] Adding internal links
-

[2022-03-29 13:07] Maroyafaied commented on #1758
@mcharg here's a simple status as Deron asked for

<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href="file:///C:/Users/faiedm/AppData/Local/Temp/1/msohtmlclip1/01/clip

[2022-03-29 13:38] mcharg commented on #1758
@Maroyafaied Sent to DeRon.

[2022-03-29 13:38] #1758 closed

[2022-03-29 13:57] #1751 closed

[2022-03-29 14:01] mcharg opened #1763 "NYMEX page doesn't display everything"
@mojobnichols I'm still getting not everything.

For example, Jan & Feb 2008 are in the CMS.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/8f623492-5ea8-4e80-8325-39048b723e8c)

But only Jan is displaying in dev.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/663e1095-6709-44a8-91fa-2aa8c2a673f9)

[2022-03-29 14:01] mcharg opened #1764 "NYMEX page doesn't display everything"
@mojobnichols I'm still getting not everything.

For example, Jan & Feb 2008 are in the CMS.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/8f623492-5ea8-4e80-8325-39048b723e8c)

But only Jan is displaying in dev.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/663e1095-6709-44a8-91fa-2aa8c2a673f9)

[2022-03-29 14:01] mcharg commented on #1764
Duplicate

[2022-03-29 14:01] #1764 closed

[2022-03-29 14:34] mcharg opened #1765 "Request accessible version of eCommerce user guide"

[2022-03-29 14:35] mcharg commented on #1765
I sent an email to Stacey Browne.

[2022-03-29 15:03] mcharg commented on #1753
Breakdown of table errors by team.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/9eabd4ee-57e6-4824-867d-d4c253e42391)

[2022-03-29 15:17] mcharg commented on #1753
Breakdown of non-table errors.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/0ffe3ad5-4325-49a5-a02f-f97ad91887c5)

[2022-03-29 15:21] Maroyafaied commented on #1762
@mcharg @jlouis-onrr  @mojobnichols  here's a status on SME's review on prices pages so far.

Indian Gas Index Zone pricing - Approved
Indian Gas Major Portion - Approved
IBMP - Approved and SME is fine with blank prices displayed as "--" and confirmed we don't need the links for Fort Berthold
NYMEX - I will get final approval once all the files are loaded, SME requested $ signs to be displayed an

[2022-03-29 16:28] Maroyafaied commented on #1762
SME approved Federal Gas Index Options tab and Crude Oi Market Centers tab. I will leave this issue open until NYMEX is ready for approval

[2022-03-29 16:46] jkwonatx commented on #867
I'm happy to follow the direction/format you set @cthomasONRR @Maroyafaied

[2022-03-29 16:50] cthomasONRR commented on #867
@jkwonatx @Maroyafaied I'm in training until noon, but after that I can set up a shared document where we can draft what should go in the wiki. If you and Maroya are good with those categories I listed, I can set up the word document that way. Then we can create a GitHub issue per category, and also divide up the categories so we don't step on each other's toes.

[2022-03-29 17:55] Maroyafaied commented on #867
@jkwonatx forgot the screenshot, here it is.
![image](https://user-images.githubusercontent.com/40175688/160674895-a946d7a2-1883-4be8-8d9b-52e67047cdbe.png)

[2022-03-29 18:26] lpgoldstein opened #1766 "Update OE ONRR Enforcement Updates (02/2021) document to accessible version"
Current version on site is not accessible. Update reading order on several slides and reupload.
[OE-STRAC-Presentation-2021-accessibilitycheck.pptx](https://github.com/ONRR/onrr.gov-site/files/8374060/OE-STRAC-Presentation-2021-accessibilitycheck.pptx)

[2022-03-29 18:29] lpgoldstein commented on #1766
@mcharg ready for review http://2017onrr/compliance/civil-penalties.htm

[2022-03-29 18:31] bowlenj opened #1767 "Handbook Update"
Please replace the existing "View Complete Handbook" with the attached - https://www.onrr.gov/reportpay/Handbooks/index.htm

Minerals Revenue Reporter Handbook - View Complete Handbook
[RRM-Printable.Minerals.Revenue.Handbook.pdf](https://github.com/ONRR/onrr.gov-site/files/8374085/RRM-Printable.Minerals.Revenue.Handbook.pdf)

Minerals Production Reporter Handbook - View Complete Handbook
[Product

[2022-03-29 18:32] mcharg commented on #1766
@lpgoldstein Looks good.

[2022-03-29 18:34] Maroyafaied commented on #1767
@cthomasONRR Please also tag these docs as "update" in cms.

[2022-03-29 18:42] mcharg commented on #1309
@Baymatt I cleaned up the formatting in all the files in Teams.  Working on uploading to the live site, so you can use the upload from url function.

[2022-03-29 18:43] Maroyafaied opened #1768 "Correct Table Summary errors"
@mcharg can you please create a spreadsheet for @carrie-anderson with the 80 docs that have the table summary errors.

[2022-03-29 18:44] mcharg opened #1769 "Upload reformatted NYMEX files to live site"
I cleaned up the formatting for import in the CMS and it'll be a lot easier for @Baymatt to upload via url than to download from Teams then upload to the CMS.

[2022-03-29 18:44] Baymatt commented on #1309
Thank you, that'll definitely help to speed things up!

[2022-03-29 18:45] mcharg commented on #1769
@lpgoldstein I uploaded new versions of the files from 2004 - 2010. Can you take a look and make sure I didn't break anything before copying to Z? http://2017onrr/valuation/NYMEX.htm

[2022-03-29 18:58] mcharg commented on #1768
@carrie-anderson Here's a spreadsheet with a list of all the documents with table errors.
https://teams.microsoft.com/l/file/56CFB7DB-F3DC-4B43-A486-C2ADAAD400EC?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2F508%2FTableErrors.xlsx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsi

[2022-03-29 19:05] #1755 closed

[2022-03-29 19:14] lpgoldstein commented on #1769
I see missing zeros ex 61.1 instead of 61.10 and also I'm getting a 403 - forbidden access for the files without the icon
![image](https://user-images.githubusercontent.com/39419003/160689712-30ee16df-d27e-4411-b124-22fe47268fab.png)

[2022-03-29 19:15] cthomasONRR commented on #867
I also created a wiki page for when we are ready to add content here:
https://github.com/ONRR/onrr.gov-site/wiki/CMS-user-guide

[2022-03-29 19:16] mcharg commented on #1769
@lpgoldstein Those are both issues on the live site.  Nothing I broke.

[2022-03-29 19:16] mcharg commented on #1769
We don't have files for the early 2004 months.

[2022-03-29 19:29] lpgoldstein commented on #1769
@mcharg Then it all looks okay - I opened a bunch of them

[2022-03-29 19:42] mcharg commented on #1769
Pushed to live site.  Will close once changes are reflected in live site.

[2022-03-29 19:54] bowlenj commented on #1767
This looks great, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exem

[2022-03-29 19:54] mcharg opened #1770 "Replacing a file in a collection doesn't replace the file in the folder"
For example, we now have several versions of the file we were trying to get to import to NYMEX.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/38f0624c-075f-4df3-999f-6f05b7d51534)![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/947c1d5b-c11-47c6-a8d0-5e72efbd81c7)

[2022-03-29 20:06] #1769 closed

[2022-03-29 20:07] mcharg commented on #1309
@Baymatt The updated files are on the live site. I tested the import from url out with 2004, so you only need to do 2005-2010.

[2022-03-29 20:10] lpgoldstein commented on #1766
live so closing

[2022-03-29 20:10] #1766 closed

[2022-03-29 20:38] cthomasONRR commented on #1767
@bowlenj Great! The changes are now live: https://www.onrr.gov/reportpay/Handbooks/index.htm.
Closing this issue now.

[2022-03-29 20:38] #1767 closed

[2022-03-29 20:40] Maroyafaied opened #1771 "Production Reporting References"
@lpgoldstein please see the email in the onrrweb mailbox and tag these docs with "update" in the cms if they haven't already been tagged. Thanks

[2022-03-29 20:47] mcharg opened #1772 "Add Form.2014.pptx presentation to Training Presentations page"
Jessica noted the file was missing when looking to download it to make accessible. File is in box Y and Z drives, not sure where the link went.

[2022-03-29 21:57] lpgoldstein commented on #1771
[Gulf-Gas-Plants.xlsx](https://github.com/ONRR/onrr.gov-site/files/8375229/Gulf-Gas-Plants.xlsx)
[Gulf-Metering-Systems.xlsx](https://github.com/ONRR/onrr.gov-site/files/8375230/Gulf-Metering-Systems.xlsx)
[Gulf-Sales-Tanks.xlsx](https://github.com/ONRR/onrr.gov-site/files/8375231/Gulf-Sales-Tanks.xlsx)
[Pacific-Gas-Plants.xlsx](https://github.com/ONRR/onrr.gov-site/files/8375233/Pacific-Gas-Plant

[2022-03-29 21:59] lpgoldstein commented on #1771
all docs accessible too

[2022-03-29 22:22] merrellc opened #1773 "Appendix B - ONRR Lease Conversions"
Hello, please replace the PDF for Appendix B on the website with the attached document.

Document is located at -
https://onrr.gov/reportpay/handbooks/revenue-handbook/index.htm

Thank you
[Appendix B ONRR Lease, Unit, or Communitization Agreement Number..pdf](https://github.com/ONRR/onrr.gov-site/files/8375345/Appendix.B.ONRR.Lease.Unit.or.Communitization.Agreement.Number.pdf)

[2022-03-30 12:35] cthomasONRR commented on #1773
@merrellc Good Morning,
Appendix B of the MRRH is updated on the dev site: https://www.onrr.gov/reportpay/Handbooks/revenue-handbook/index.htm.
Please review and give us your approval to go live.

@Maroyafaied this document is also now tagged with 'update' in the CMS.

Thanks,
Christine

[2022-03-30 12:45] mcharg commented on #1683
Link to miro board. https://miro.com/app/board/uXjVOZY8bT8=/?invite_link_id=923924300917

[2022-03-30 12:48] jkwonatx commented on #1683
onrresources files excel spreadsheet

[https://app.zenhub.com/files/210892300/9dfde446-b101-4019-820a-c4cc73536c5c/download](https://app.zenhub.com/files/210892300/9dfde446-b101-4019-820a-c4cc73536c5c/download)

[2022-03-30 14:47] cthomasONRR commented on #1773
@merrellc Yes, that's where I updated the document. http://2017onrr/reportpay/Handbooks/revenue-handbook/index.htm

[2022-03-30 14:51] lpgoldstein commented on #1771
still waiting on approval - sent email and teams chat to follow up

[2022-03-30 15:08] merrellc commented on #1773
Must not have been updated when I originally looked.

Thank you! Document is ready to go live.

Kind Regards,
​Candace Merrell
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3517
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed

[2022-03-30 15:35] cthomasONRR commented on #1773
@merrellc Great, the changes are now live: https://www.onrr.gov/reportpay/Handbooks/revenue-handbook/index.htm. Please remember to use 'Ctrl+F5' to refresh the page.

Closing this issue now.

Thanks,
Christine

[2022-03-30 16:04] mcharg opened #1774 "Consolidate Section 508 spreadsheet"

[2022-03-30 18:33] lpgoldstein opened #1775 "update reporter letter with accessible version"
updated reporter letter and here is the link: http://2017onrr/PDFDocs/20141218.pdf

@mcharg ready for your review

[2022-03-30 18:35] lpgoldstein commented on #1775
@mcharg ready for review

[2022-03-30 18:41] lpgoldstein commented on #1753
updated reporter letter that had table issues and updated spreadsheet

[2022-03-30 18:48] mcharg commented on #1775
@lpgoldstein Looks good.

[2022-03-30 19:06] mcharg commented on #1772
@bowlenj How's this? I also split up the Oil & Gas Reporting into Leases & Agreements, Oil & Gas Production Reporting, and Oil & Gas Revenue Reporting to match what it will be on the new site. http://2017onrr/reportpay/training/index.htm

[2022-03-30 19:06] bowlenj opened #1776 "Accessibility Updates for Training Presentations"
Attached are the updated training presentations Shannon requested be updated for accessibility in order to be added to the new onrr.gov site.
[Form.ONRR-4430.PR.pptx](https://github.com/ONRR/onrr.gov-site/files/8383377/Form.ONRR-4430.PR.pptx)
[How.to.Save.Your.OGOR.Reports.pptx](https://github.com/ONRR/onrr.gov-site/files/8383379/How.to.Save.Your.OGOR.Reports.pptx)
[OGOR.CSV.REPORTING.pptx](https:

[2022-03-30 19:09] bowlenj commented on #1772
Great, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from dis

[2022-03-30 19:12] mcharg commented on #1772
Pushed to the live site. Will check in an hour to make sure it's gone through.

[2022-03-30 19:35] mcharg commented on #1772
Update is live.

[2022-03-30 19:35] #1772 closed

[2022-03-30 19:37] jkwonatx commented on #867
I will look more closely into this thread tomorrow. Thank you @cthomasONRR for the work!

[2022-03-30 19:47] bowlenj opened #1777 "Update to Production Handbook"
We found a small error in our update we submitted yesterday.  Please replace the attached files as indicated below for the following page - https://www.onrr.gov/reportpay/Handbooks/index.htm

Minerals Production Reporter Handbook - View Complete Handbook
[Production_View Complete Handbook.pdf](https://github.com/ONRR/onrr.gov-site/files/8383646/Production_View.Complete.Handbook.pdf)

Mineral Produ

[2022-03-30 20:01] cthomasONRR commented on #1776
@bowlenj Thank you so much for your help! These even more compliant power points are now live. https://www.onrr.gov/reportpay/training/index.htm

@mcharg @Maroyafaied I tagged all 18 powerpoints with the 'update' tag in the CMS, and updated both the accessibility and content audit spreadsheets.

[2022-03-30 20:01] #1776 closed

[2022-03-30 20:28] #1756 closed

[2022-03-30 20:28] cthomasONRR commented on #1777
@bowlenj Do you want Appendix B to be replaced for both the Minerals Revenue Reporter Handbook and the Minerals Production Reporter Handbook? I believe they are the same.

[2022-03-30 20:33] mcharg opened #1778 "NYMEX filenames"
Can these use the filenames like other collections instead of the ID?
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/44ab56ae-525c-493c-a904-abb4772935f8)

[2022-03-30 20:37] mcharg opened #1779 "Due July 2024 Update GA scripts to GA4"
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/eac01c7b-d22e-4c23-ac75-bebb6a0858dd)

[2022-03-30 20:39] mcharg commented on #1309
@Baymatt The files all look like they're there. I'll create a separate issue to review the data.

[2022-03-30 20:39] #1309 closed

[2022-03-30 20:40] mcharg opened #1780 "Review NYMEX data"
Now that the files are all uploaded.

[2022-03-30 20:52] bowlenj commented on #1777
They are exactly the same expect for the footer...................that's the correction I had to make today for the Production, I had to change the footer to read Mineral Production Reporter Handbook instead of Mineral Revenue Reporter Handbook.

We do need the supplemental appendix B for the Mineral Revenue section replaced but I think Candace may have already sent that to GitHub.

I've attached

[2022-03-30 20:56] cthomasONRR commented on #1777
@bowlenj I didn't receive your attachment- you can send it to me via Teams if that's easier.
The Minerals Production Reporter Handbook updates are on the dev site for your review and approval: http://2017onrr/reportpay/Handbooks/index.htm.

Thanks,
Christine

[2022-03-30 20:59] bowlenj commented on #1777
This looks great, thank you!  I can send you the mineral revenue one for supplemental in teams

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and m

[2022-03-30 21:41] lpgoldstein opened #1781 "submit 508 project to #GovPossible Campaign"
#GovPossible Campaign Do you want to share the amazing work you and your colleagues are doing to improve government? Now’s your chance! Fill out this 3-minute submission form if you are interested in potentially having your work featured on Performance.gov: https://touchpoints.app.cloud.gov/touchpoints/fb402be7/submit.Run by the GSA, this survey will be accepting submissions through Friday, April

[2022-03-31 12:34] jkwonatx commented on #1736
[https://app.zenhub.com/files/210892300/345cfe59-554e-49ea-b978-536e1798a6aa/download](https://app.zenhub.com/files/210892300/345cfe59-554e-49ea-b978-536e1798a6aa/download)

To fix the accessibility flag for no heading, I changed the style of the title on the first page from Normal to Heading ONRR (which I created by modifying Heading 1). The accessibility checker on Word should now show "good to

[2022-03-31 12:37] mcharg commented on #1736
@jkwonatx Looks good to me. Can you reply to Christen's email?

[2022-03-31 12:42] mcharg commented on #1245
Received the accessible doc from Dave. Just confirming whether it's the one-pager or full plan that should go on the About page.

[2022-03-31 12:43] jkwonatx commented on #1736
@mcharg I'll reply to the email as well once I complete the manual check.

[2022-03-31 12:49] mcharg commented on #1750
@Maroyafaied I scheduled a meeting with Bill for next week.

[2022-03-31 12:55] mcharg commented on #706
@meshanw Can you point me to whomever gave you the eCommerce guide? We're trying to get an accessible version and Stacey hasn't responded to me.

[2022-03-31 12:56] Maroyafaied commented on #1717
This issue was assigned of March 14th, a review was done on March 22nd & 23rd with significant errors found due to instructions not followed,  this was discussed verbally & by email. Agreed on a due date of March 24th which was not achieved, and gave an extension for task to be completed on March 30th but still not completed and no status given.  I will close the issue since it was not completed s

[2022-03-31 12:59] Maroyafaied opened #1782 "Complete image task"
This is related to issue #1717, we need to resolve the errors discovered in review process (alt text, tagging, missing images, etc). and compete task with instructions given.

[2022-03-31 13:30] meshanw commented on #706
@mcharg Sure, try Candace Merrell in RRM.

[2022-03-31 13:35] mcharg commented on #706
@meshanw Thank you!

[2022-03-31 14:07] jkwonatx commented on #1736
@mcharg I've completed the manual check. I used the checklist found on the ONRResources Sharepoint folder.

I've made two more changes in addition to the above: 1. replaced the existing table of contents with a properly formatted one 2. deleted the numbers in front of FAQ titles as I don't think it adds to the message and it was formatted wrong, and fixing it was going to complicate the bullets an

[2022-03-31 14:07] mcharg commented on #1736
@jkwonatx Sounds good.

[2022-03-31 14:19] #1736 closed

[2022-03-31 15:12] lpgoldstein opened #1783 "Create and upload accessible reporter letter 20191017"
https://www.onrr.gov/PDFDocs/20191017.pdf

heading issues

[2022-03-31 15:12] mcharg commented on #1723
Just the page it's uploaded to.

[2022-03-31 15:14] mcharg commented on #1724
Check to see if there is a Directus issue for this.

[2022-03-31 15:15] mcharg commented on #1730
Check for a plugin.

[2022-03-31 15:16] lpgoldstein commented on #1783
[https://app.zenhub.com/files/210892300/1fc7a767-d1b7-4139-b65b-f1d56422a16e/download](https://app.zenhub.com/files/210892300/1fc7a767-d1b7-4139-b65b-f1d56422a16e/download)

Accessible document

[2022-03-31 15:17] mcharg commented on #1770
Might go away when Directus fixes file updates.

[2022-03-31 15:23] lpgoldstein commented on #1783
@mcharg This is ready for your review: http://2017onrr/PDFDocs/20191017.pdf

[2022-03-31 15:34] #838 closed

[2022-03-31 15:36] #940 closed

[2022-03-31 15:39] jkwonatx commented on #1030
@mcharg would this make a good companion issue to the persona/ user types issue? If so, I want to do it.

[2022-03-31 15:45] mcharg commented on #1783
@lpgoldstein Looks good.

[2022-03-31 15:47] mcharg commented on #1004
Sent an email to Tracey.

[2022-03-31 15:57] #1783 closed

[2022-03-31 16:17] mcharg opened #1784 "Form ONRR-2014 CSV Sample File accessibility"
Update file to xlsx and delete blank worksheets.

[2022-03-31 16:24] mcharg commented on #1784
@lpgoldstein This is ready to review.
http://2017onrr/reportpay/royalty-reporting.htm

[2022-03-31 16:28] mcharg opened #1785 "Check ONRResource accessibility for accordions"
Run Lighthouse check to see if I can figure out whether the accordions are accessible.

[2022-03-31 16:30] lpgoldstein commented on #1784
@mcharg looks good!

[2022-03-31 16:32] mcharg commented on #1785
@jkwonatx I'm not seeing any errors come up specific to the accordions, so I'm going to say that as long as they're labeled properly, they should be good to use in the wireframe.

[2022-03-31 16:32] #1785 closed

[2022-03-31 16:34] #1763 closed

[2022-03-31 16:34] mcharg commented on #1784
Pushed live.

[2022-03-31 16:40] Maroyafaied opened #1786 "Rewrite alt texts"
After all image issues are resolved, we need to audit the alt texts to ensure proper descriptions are given.

[2022-03-31 16:45] mcharg commented on #1004
Added phone and fax numbers that Tracey gave me. Also added to contacts spreadsheet.

[2022-03-31 16:45] #1004 closed

[2022-03-31 16:46] Maroyafaied commented on #1737
Closing this issue since the images listed are not images we have control over.

[2022-03-31 17:41] mcharg commented on #1784
Updates are live.

[2022-03-31 17:41] #1784 closed

[2022-03-31 18:00] Maroyafaied commented on #1780
@cthomasONRR I'm doing a basic review as well before we send to Robert. Here's what I found, the wrong prices on the live site is a great justification for the CMS. Let me know if you find any other errors and I'll ask Robert if he wants us to correct the live site for now.

- March 2020 prices are missing
- Jan 2008 the roll prices doesn't match the live site , I think its correct in dev and wron

[2022-03-31 18:41] Maroyafaied opened #1787 "SME Approval for training pages"
We met with Jessica and Candace on 3/31 and received their approval on this page as SME's. @mcharg please update the content tracking sheet and close this issue. Thanks

[2022-03-31 18:43] Maroyafaied commented on #1752
Taking this issue since @daniel-coleman-1 is out.

[2022-03-31 18:44] Maroyafaied commented on #1749
Reassigning to @mcharg since @daniel-coleman-1 is out.

[2022-03-31 18:48] mcharg commented on #1787
Spreadsheet is updated.

[2022-03-31 18:48] #1787 closed

[2022-03-31 19:21] Maroyafaied commented on #1566
@bowlenj I apologize but we realized that accessibility checks weren't done before @daniel-coleman-1 uploaded this dear reporter letter to onrr.gov.  The accessibility check shows 2 errors, can you please correct them and resend the accessible version to be uploaded? Thanks
![image](https://user-images.githubusercontent.com/40175688/161133094-273a1cc4-f2f7-4130-9042-40a8da438d51.png)

[2022-03-31 19:38] bowlenj commented on #1566
I've downloaded the document and I'm trying to fix the errors but it's saying the document security settings won't allow the fix.  I'm not able to do anything with it in the content or tags panel either.  I'm not sure how to correct the document.

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natura

[2022-03-31 19:43] Toddsand21 opened #1788 "APACHE RATTLESNAKE FESTIVAL (To add to the Event Calendar on Allottee Assistance Page)"
**APACHE RATTLESNAKE FESTIVAL**
April 15-16, 2022

EVENT INFORMATION
LOCATION:  APACHE, OK
TIME:  FRIDAY, 10:00 am – 6:00 pm; SATURDAY  10:00 am – 6:00 pm

DESCRIPTION:  The Office of Natural Resources Revenue (ONRR) OKC Outreach Office will have an Information Booth to meet with Indian mineral owners and Indian Trust property owners in person at the festival who may have questions or concerns on

[2022-03-31 19:59] Maroyafaied commented on #1566
@bowlenj Do you happen to have the source file? This is the only pdf version I have that was attached to this issue.
[Dear.Reporter.Letter.-.File.Structure.Change_01242022.pdf](https://github.com/ONRR/onrr.gov-site/files/8392714/Dear.Reporter.Letter.-.File.Structure.Change_01242022.pdf)

[2022-03-31 20:42] lpgoldstein commented on #1788
@Toddsand21 This is ready for your review: http://2017onrr/events.htm

[2022-03-31 20:56] mcharg commented on #1782
Here's what I'm doing for this task.

1. Created a list of all the images on the site using the prototype, live site, and dev site. Noted which are duplicates. Put this list in a new tab in the Content Tracking spreadsheet.
2. Going to each image in the list on the dev site and inspecting to see which image is actually being used on the page.
3. Marking the image with a Correct tag if it's using t

[2022-03-31 21:03] lpgoldstein commented on #1788
@Toddsand21 I'll let you know when it's live.

[2022-03-31 21:23] bowlenj commented on #1566
Candace and I both reviewed the attached Dear Reporter Letter - File Structure, and due to document security settings applied at the time of signature we are now unable to make this document compliant.  It was originally compliant but it looks like this is a new error and we are unable to correct it.

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Supp

[2022-03-31 21:41] Maroyafaied opened #1789 "SME Approval - Compliance webpages"
Meeting scheduled on April 6th

[2022-03-31 21:59] #1792 closed

[2022-03-31 22:01] Maroyafaied opened #1790 "SME Approval - Regulations webpages"
Meeting scheduled for April 4th@10:30AM MT.

[2022-03-31 22:02] Maroyafaied opened #1791 "SME Approval - Enforcement webpages"
Meeting schedule for April 4th at 12PM MT.

[2022-04-01 13:29] cthomasONRR commented on #1780
@Maroyafaied Yes, I'm seeing the same issues you pointed out, plus:

- September 2013 CMA is off by one cent ($106.23 in CMS, $106.24 on live site). On both download spreadsheets it's $106.24, so the live site is correct... could this be some weird rounding issue?
- March 2012 CMA is off by one cent ($106.20 in CMS, $106.21 on live site). On both download spreadsheets it's $106.21, so the live sit

[2022-04-01 14:01] cthomasONRR opened #1793 "Follow up on onrr.gov glossary terms with Data Governance"
Meeting set for Tuesday April 5 at 1pm. I will record meeting notes here.

[2022-04-01 14:02] mcharg commented on #1782
@cthomasONRR Images are ready for you to review.

1. All the images are in the Images tab in the Content Tracking sheet. Those ready to review have a status of "Ready to Review."
1. I used "Correct" tags to keep track of ones I reviewed. I deleted them after I went through and deleted any images without them that weren't being used. If there are any lingering "Correct" tags, they can be removed.
2

[2022-04-01 14:28] mcharg commented on #1749
Requested unsampled reports.

[2022-04-01 15:01] #1245 closed

[2022-04-01 15:04] mcharg commented on #1736
Final version approved by SME.
[https://app.zenhub.com/files/210892300/9fe31c5e-ca03-49bb-81ec-9d7904e0a272/download](https://app.zenhub.com/files/210892300/9fe31c5e-ca03-49bb-81ec-9d7904e0a272/download)

[2022-04-01 15:12] mcharg opened #1794 "Request full pdf of Indian Payor Handbook"
Or decide if we don't need one.

[2022-04-01 16:31] cthomasONRR commented on #1782
@mcharg Ok I completed reviewing all images that had the "Ready to Review" status. I saw no major issues.

- I renamed lots of titles for clarity and made sure the titles matched within the CMS and the ContentTracking spreadsheet
- I added several descriptor tags, but the main tags (levels 1-4 navigation) were all there and correct
- I edited a few alt texts where I saw obvious typos (I know this

[2022-04-01 16:37] cthomasONRR commented on #1244
@mcharg Looks good. Approved.

[2022-04-01 16:42] cthomasONRR commented on #1400
@mcharg All look good. Approved.

[2022-04-01 16:42] #1782 closed

[2022-04-01 16:43] #1244 closed

[2022-04-01 17:31] bowlenj opened #1795 "Federal Onshore Terminable Leases"
Please update the following webpage https://onrr.gov/reportpay/royalty-reporting.htm with the attached excel file:

Federal Onshore Terminable Leases - sorted by Due Date, please change (3/1/2022) to read (updated 4/1/2022)
[202204.xlsx](https://github.com/ONRR/onrr.gov-site/files/8399800/202204.xlsx)

[2022-04-01 17:53] bowlenj commented on #1795
Perfect, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from d

[2022-04-01 18:02] mcharg commented on #1749
Done
https://github.com/ONRR/onrr.gov-site/wiki/Analytics

[2022-04-01 18:02] #1749 closed

[2022-04-01 18:41] cthomasONRR commented on #1795
@bowlenj Great, the changes are now live: https://www.onrr.gov/reportpay/royalty-reporting.htm. Closing this issue now.

[2022-04-01 18:41] #1795 closed

[2022-04-01 19:12] cthomasONRR opened #1796 "CMS Wiki Guide: building new webpage and setting up tabs, accordions, and cards."
Issue for writing the following sections of the CMS users guide wiki:

- [x] Building a new webpage
- [x] Setting up tabs
- [x] Settling up accordions
- [x] Setting up cards

Word doc located here: https://teams.microsoft.com/l/file/3399470E-E341-48E5-A818-C49141DF7EC3?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared

[2022-04-01 19:42] mcharg opened #1797 "CMS Workflow"
Kaitlyn is going to work on a workflow diagram for how the workflow with the CMS, content editors, GitHub, dev vs. production, etc. should work.

[2022-04-01 20:19] mcharg opened #1798 "Enable editing revenue statistics in home page"
Change Explore revenue statistics icon to graph

To match the NRRD link in the header. I can't figure out where to edit this.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/e6e03093-a5bb-4a35-b55c-c83b6251b934)

[2022-04-04 13:03] jkwonatx commented on #1683
[https://app.zenhub.com/files/210892300/55d7e0a1-9492-4672-8ac7-486de10c3eac/download]
(ONRR 508 files recategorized)

- [ ] Delete unnecessary or duplicate resource items
- [ ] Add missing items
- [ ] Rename the files as necessary
- [ ] Rename the category names as necessary

[2022-04-04 13:13] cthomasONRR commented on #1796
@mcharg The 4 sections listed above are ready for your review. There's a lot of sections in the document, so I recommend using the Navigation Pane. Thanks!
![image](https://user-images.githubusercontent.com/72526208/161551461-004e2995-c3e0-4c85-8a8d-c9bc6c630e3f.png)

[2022-04-04 14:58] Maroyafaied commented on #1780
@cthomasONRR
- We have March 2020 prices in the live site so I think we just missed uploading that file, @cthomasONRR can you upload that file please?
- I will create a separate issue to fix prices on the current live site.
- Robert Sudar told me that it's ok not to include Jan-Aug of 2004 on the new website since they don't have excel files and the regs changed to use NYMX for non arm's length va

[2022-04-04 15:01] Maroyafaied opened #1799 "Fix NYMEX prices on current website"
- [x] Jan 2008 - Roll

- [x] Jan 2007- CMA

- [x] Jan 2006 - Roll

- [x] Dec 2005 - Roll

- [x] March 2009 -Roll

[2022-04-04 15:03] cthomasONRR commented on #1780
@Maroyafaied I uploaded the March 2020 prices, it's now displaying on the dev site:
![image](https://user-images.githubusercontent.com/72526208/161573195-f2f3d4f9-0076-4621-a576-3b39f651a4b5.png)

[2022-04-04 15:07] Maroyafaied commented on #1780
@cthomasONRR looks good.

[2022-04-04 15:34] cthomasONRR commented on #1799
@Maroyafaied January 2008 Roll should be $0.55, it is still $0.56 on http://2017onrr/valuation/NYMEX.htm
![image](https://user-images.githubusercontent.com/72526208/161579270-1a3df48d-757e-4f1a-ab4a-025b71f6c930.png)

All the others match now :)

[2022-04-04 15:44] Maroyafaied commented on #1799
@cthomasONRR I fixed it and pushing live. Thanks

[2022-04-04 16:18] Maroyafaied opened #1800 "Update links in database"

[2022-04-04 16:26] Maroyafaied commented on #1799
This is live. Closing

[2022-04-04 16:26] #1799 closed

[2022-04-04 17:08] cthomasONRR commented on #1790
@mcharg @Maroyafaied

I updated the References Home to have the card named "Rules and Regulations" and added the CFR link in the card:
https://dev-onrr-frontend.app.cloud.gov/references
![image](https://user-images.githubusercontent.com/72526208/161595486-447535e8-5668-49a4-98a8-5e865ff2a06b.png)

And renamed the webpages "Rules and Regulations" as well. Should I rename the slug?
https://dev-onrr-

[2022-04-04 17:20] cthomasONRR commented on #1790
@Maroyafaied @mcharg The Statutes table is now updated to have FOGRMA and Amendments up front:
https://dev-onrr-frontend.app.cloud.gov/references/statutes
![image](https://user-images.githubusercontent.com/72526208/161597526-d2766d0a-8cc8-4d8d-9116-0c40fc1ed79e.png)

[2022-04-04 17:33] Maroyafaied commented on #1790
@mcharg Ya she mentioned it at the end so I'll let her know that we will have the search functionality working for all pages later.

[2022-04-04 17:39] cthomasONRR commented on #1790
@Maroyafaied @mcharg Shouldn't the card title and page title be consistent though?

[2022-04-04 17:42] Maroyafaied commented on #1790
@cthomasONRR I asked that during the meeting and @mcharg made the point that other cards titles are not matching with the page title and the cards are meant to help users find what they needs quickly and Bonnie didn't seem to care that they are not consistent. @mcharg do you agree ?

[2022-04-04 17:58] Maroyafaied commented on #1790
@cthomasONRR this is showing for me twice, can we remove the second link?
![image](https://user-images.githubusercontent.com/40175688/161603484-b9048678-4455-483a-b196-b389c585da00.png)

[2022-04-04 18:00] cthomasONRR commented on #1790
@Maroyafaied Sorry about that, it is now removed

[2022-04-04 18:35] Maroyafaied commented on #1791
Summary of meeting:
- Add this content and email address to the enforcement tab "If you are aware of any mineral revenue violations (unpaid royalties, unfiled or inaccurate reporting etc.) please email us at ONRR.Enforcement.Referrals@onrr.gov"
- In the contacts tab, combine Enforcement team A & B into one with Sam and Allen as primary and Michael as the supervisor
- Reach out to Kim regarding her

[2022-04-04 18:41] Maroyafaied commented on #1791
@cthomasONRR I added the content and email address in the bottom of the enforcement tab, please review https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/enforcement.

@mcharg should we make the contacts changes in the wireframe to show them or is it not necessary?

I will reach out to Kim about her contacts in the appeals sections.

[2022-04-04 18:49] mcharg commented on #1791
@Maroyafaied I guess it would be good to do that, so they can sign off on it, since we're changing how theirs are structured.

[2022-04-04 18:50] mcharg commented on #1791
I don't think you missed anything.

We should update the contacts in the spreadsheet and let @jlouis-onrr know when it's updated, so he can have the updates when he imports it to the CMS.

[2022-04-04 18:56] cthomasONRR commented on #1791
@Maroyafaied Looks good.

[2022-04-04 18:59] cthomasONRR commented on #1790
@mcharg @Maroyafaied I think we updated everything we needed to today. In the email, I would be sure to add the caveats: developers are working on search features and contacts, as well as the ability to add colored text (for FOGRMA amendments).

[2022-04-04 19:08] Maroyafaied commented on #1791
@mcharg @cthomasONRR  Kim replied to keep her contact in that section. I'll wait to send enforcement an email until the wireframe is done.

[2022-04-04 19:39] Maroyafaied commented on #1790
Hi,

Thank you all for meeting with us today, we have implemented your feedback by doing the following:

- In the R[eference homepage](https://dev-onrr-frontend.app.cloud.gov/references), we changed the card title from "Rulemakings" to "Rules and Regulations" and the GPO eCFR link above the rulemakings links.

- In the [Statues tab](https://dev-onrr-frontend.app.cloud.gov/references/statutes), we

[2022-04-04 19:52] cthomasONRR commented on #1790
I also have Appeals updated incorporated now
https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/appeals?tabs=how-to-appeal
![image](https://user-images.githubusercontent.com/72526208/161621192-8e3ded4a-66e4-4266-ad6e-a57bce3c058c.png)

[2022-04-04 19:56] Maroyafaied commented on #1790
@cthomasONRR changes look good. Please review my email above and let me know if it's good to send out.

[2022-04-04 19:59] cthomasONRR commented on #1790
@Maroyafaied The email looks good- the only edit I made was to correct the spelling of 'statutes'

[2022-04-04 20:09] mcharg commented on #1683
@jkwonatx Here's the updated version where @cmathers1 and I got rid of duplicates, put everything into categories and subcategories, and logically ordered everything within each category.  I didn't see your note about renaming files until after we finished our meeting, so I'll take a look at that in the morning.

https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR%20508

[2022-04-04 20:26] mcharg commented on #1791
I'll do the wireframe and update the contacts spreadsheet in the morning.

[2022-04-04 21:06] boices opened #1801 "Update 2020 Indian Major Portion Gas Prices on onrr.gov"
Good afternoon,

Could you please update the MPP on onrr.gov according to the attached spreadsheet. Since they were just published today, the due date for a response will be June 30, 2022
[Maj_Portion_FinalPrices_2020.xls](https://github.com/ONRR/onrr.gov-site/files/8413158/Maj_Portion_FinalPrices_2020.xls)

Thank you!

@sudarr

[2022-04-04 21:22] lpgoldstein commented on #1796
@cthomas - this looks awesome. I really how you've added the examples for each type of content. Those can be so useful. The only thing I would add is more emphasis on saving your work. Thank you!

[2022-04-04 21:34] Maroyafaied commented on #1801
@boices I'm not familiar with this spreadsheet since we usually get the shared spreadsheet updated with the final prices. Are columns S to W what should be published? @lpgoldstein we will need to update that page in the cms as well.

[2022-04-04 21:46] Maroyafaied opened #1802 "Update 2020 Indian Gas Major Portion prices in CMS & write how to instructions"
Related to issue #1801

[2022-04-04 22:01] lpgoldstein commented on #1801
@boices This is ready for your review: http://2017onrr/valuation/MonMajPP.htm

[2022-04-04 23:02] boices commented on #1801
@lpgoldstein @Maroyafaied

Prices look great. Sorry for the initial confusion--I didn't see that our shared data sheet had a tab for the MPP. I went ahead and updated that too just to maintain a complete record. Thanks for your help!

[2022-04-04 23:20] lpgoldstein commented on #1801
@boices Thanks, I'll let you know when live.

[2022-04-05 00:40] lpgoldstein commented on #1801
@boices it's live so I'm closing the issue

[2022-04-05 00:40] #1801 closed

[2022-04-05 01:16] jkwonatx commented on #1683
![Screen Shot 2022-04-04 at 8 15 32 PM](https://user-images.githubusercontent.com/85380376/161658847-38492021-3f37-419c-9b04-674737c586b6.png)

[2022-04-05 01:21] jkwonatx commented on #1683
What we've accomplished:
![Screen Shot 2022-04-04 at 8 18 16 PM](https://user-images.githubusercontent.com/85380376/161659082-f7bdd327-4f8b-434f-9d09-e4b04c315a0e.png)
Where we are in the process:
![Screen Shot 2022-04-04 at 8 17 47 PM](https://user-images.githubusercontent.com/85380376/161659088-969911c8-4b50-44ff-8493-2939d9785dce.png)
Next -- fat marker sketches, answer wireframe questions (use

[2022-04-05 12:48] bowlenj commented on #1752
Please find attached the unsigned accessible copy of Dear Reporter Letter File Structure Change.  Please add this to the following page, below the existing letter and identify as accessible copy.  We want to keep the signed version up as well.
[Dear Reporter Letter - File Changes MLRS_01242022 unsigned.pdf](https://github.com/ONRR/onrr.gov-site/files/8418212/Dear.Reporter.Letter.-.File.Changes.MLR

[2022-04-05 12:56] cthomasONRR opened #1803 "CMS Wiki Guide: Adding images, and adjusting content dimensions and images"
Complete the following wiki sections:
- [x] Adjusting content dimensions
- [x] Adding images and proper tagging
- [x] Adjusting images

Wiki word document saved here: https://teams.microsoft.com/l/file/3399470E-E341-48E5-A818-C49141DF7EC3?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.g

[2022-04-05 13:27] Maroyafaied commented on #1566
Another issue is open for this #1752

[2022-04-05 13:27] #1566 closed

[2022-04-05 13:31] mcharg commented on #1683
@jkwonatx You can use Axure or whatever you want to use. I would use elements that are on the ONRResource pages in the screenshots.

[2022-04-05 13:44] mcharg opened #1804 "Broken links on Accessibility wiki page"
The two GSA links go to the same place and all the checklists on section508.gov return 404 errors. I think they're still there, they just moved them.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/b0f4f52f-a781-4e8f-8a40-023692a5e322)

[2022-04-05 13:52] Maroyafaied commented on #1752
This is an accessible version, I will upload it in the current site and in the cms.

[Dear Reporter Letter - File Changes MLRS_01242022 unsigned (1) (1).pdf](https://github.com/ONRR/onrr.gov-site/files/8418680/Dear.Reporter.Letter.-.File.Changes.MLRS_01242022.unsigned.1.1.pdf)

[2022-04-05 13:54] mcharg commented on #1683
@jkwonatx @cmathers1 Titles are updated in the spreadsheet.
https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR%20508%20Compliance%20Approach%20Team/ONRResources.508.Compliance.xlsx?d=wec83f76fa29249789220c3cd5b92cb2e&csf=1&web=1&e=5e7QGu

[2022-04-05 13:54] mcharg commented on #1774
Final spreadsheet. https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR%20508%20Compliance%20Approach%20Team/ONRResources.508.Compliance.xlsx?d=wec83f76fa29249789220c3cd5b92cb2e&csf=1&web=1&e=5e7QGu

[2022-04-05 14:15] cthomasONRR commented on #1803
@mcharg @lpgoldstein These next 3 sections are now ready for your review

[2022-04-05 15:00] mcharg commented on #1791
I split the intro up into two lines to make it easier to skim and see what each time does. I also added a missing period to the enforcement referrals sentence and moved that to a card to be consistent with other contacts and add some visual appeal.
https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/enforcement?tabs=enforcement

I fixed the contacts in the spreadsheet and let @jlouis-on

[2022-04-05 15:11] mcharg commented on #1791
I was also thinking we could put all the subtabs under civil penalties into cards to make it less text heavy and easier to see how those all relate.  @cthomasONRR @Maroyafaied Thoughts?

[2022-04-05 15:12] mcharg commented on #1791
The overview wouldn't be in a card, so we would have the overview paragraphs and then cards for References, Assessment Tables, Penalty Collections by Year and Historical Penalty Collections.

[2022-04-05 15:15] cthomasONRR commented on #1791
@mcharg Yeah let's mock up putting the civil penalties tabs into cards below the overview information. I think that will be easier to read/navigate.

[2022-04-05 15:22] Maroyafaied commented on #1791
@mcharg I'm fine with that.

[2022-04-05 15:51] mcharg commented on #1791
@cthomasONRR @Maroyafaied How's this? https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/enforcement?tabs=civil-penalties,penalty-collections

[2022-04-05 15:52] Maroyafaied commented on #1753
I let Jodie know about the two that belong to her group with issues, she will look into correcting them.

[2022-04-05 15:53] cthomasONRR commented on #1791
@mcharg Nice! I like it!

[2022-04-05 15:56] Maroyafaied commented on #1791
@mcharg I agree, looks good. I'll draft an email and send for approval this afternoon. Thanks

[2022-04-05 16:06] mcharg commented on #1765
Still no response from Stacey. Meshan suggested reaching out to Candace and she said Stacey owns the doc. I tried emailing Carlisha Wells who was designated as the 508 contact for Stacey's team at one point, but got no response. Emailed Ana Samour today - she's on Stacey's team and Meshan introduced me to her and seems collaborative.

[2022-04-05 16:32] #1753 closed

[2022-04-05 16:33] Maroyafaied opened #1805 "Get an accessible version of the FY 2020 disbursements national press release"

[2022-04-05 16:40] Maroyafaied opened #1806 "Get accessible version for 2 docs in RV"
I contacted Jodie and she will look into the issues in these docs.

https://www.onrr.gov/unbundling/pdf/How-to-calculate-a-Transportation-UCA.pdf

https://onrr.gov/unbundling/pdf/DCP%20Super%20System%20UCA%20Table.pdf

[2022-04-05 17:10] Maroyafaied opened #1807 "Accessible versions of reporter letters"
- investigate if the accessible version was deleted
- if pdf make it not say ".docx"

[2022-04-05 17:15] Maroyafaied commented on #1765
@Maroyafaied contact Stacey and Joe and ask for accessible word version

[2022-04-05 19:04] mcharg commented on #1796
@cthomasONRR I added my comments to the doc.

[2022-04-05 19:04] mcharg commented on #1803
@cthomasONRR I added my comments to the doc.

[2022-04-05 19:32] cthomasONRR commented on #1793
Meeting notes:

- Wendy reviewing our terms, got to "R", and linking those to their glossary.
- Has a few questions/comments on some terms
- Said the BPR "To-Be" meetings had terms defined, so linking our terms to that data
- Compared their definitions to ours
- Most is good, especially the SME responses
- She created a spreadsheet with comments on several terms where she did not like the definiti

[2022-04-05 19:34] #1793 closed

[2022-04-05 19:52] bbell0229 opened #1808 "Late Payment & Underpayment Interest Table"
Hello,

On the Late Payment & Underpayment Interest Tables page, at https://onrr.gov/ReportPay/interest.htm, please make the following updates:

1) replace the interest Calculator Excel file below the Questions/Contact box on the page with the attached file.
2) Add a new line at the bottom of the Late Payments and Underpayments table for Period 4/1/2022-6/30/2022.
- Indian O&G will be 4%, Solid's

[2022-04-05 20:17] cthomasONRR commented on #1796
@mcharg I responded to you comments. I think I have one question in there for you to verify, then I can add these to the wiki

[2022-04-05 20:17] cthomasONRR commented on #1803
@mcharg I responded to you comments. I'm waiting for Jerome's response about image sizing, then I can add this to the wiki

[2022-04-05 20:52] mcharg commented on #1796
@cthomasONRR I responded to your question.

[2022-04-06 12:56] Maroyafaied commented on #1791
Send email and gave deadline for approval by April 8.

[2022-04-06 13:01] Maroyafaied opened #1809 "Confirm 36 videos identified as accessible"

[2022-04-06 13:18] mcharg opened #1810 "Explore ways to make it clear the Revenue Data link goes to a separate site"
An internal ONRR person who didn't know NRRD was separate had no idea it was a separate site and wondered why we have no home link.  Maybe we have it open in another browser tab or add an external icon (though the USWDS did some research on the external icon and learned that nobody knows what it means). Or maybe we call it Revenue Data Website?
![image.png](https://images.zenhubusercontent.com/5c5

[2022-04-06 13:18] mcharg commented on #1810
I think this is going to be a bigger problem than with the current site because the two sites look so much alike.

[2022-04-06 13:28] cthomasONRR commented on #1796
@mcharg @lpgoldstein Thanks for reviewing! These 4 sections are now on the wiki: https://github.com/ONRR/onrr.gov-site/wiki/CMS-User-Guide. Closing issue.

[2022-04-06 13:28] #1796 closed

[2022-04-06 13:30] mcharg commented on #1810
Or maybe we make it a banner advertising the sister site rather than look like the in site navigation.

[2022-04-06 13:30] mcharg commented on #1810
@Isabelh99 @kmhtran @jkwonatx Are any of you interested in working on this?

[2022-04-06 13:40] mcharg commented on #1796
@cthomasONRR Can you please add alt text for the images in the wiki? It goes in the brackets before the link in parentheses.
![image](https://user-images.githubusercontent.com/38465926/161988075-86fab2e5-ced5-4d4a-9cfa-6eb4b347f703.png)

[2022-04-06 13:56] mcharg commented on #1804
New links for checklists.
- [PDF](https://assets.section508.gov/files/PDF-Printable-Accessiblility-Checklist.docx)
- [Word](https://assets.section508.gov/files/MSWord2016-Printable-Accessiblility-Checklist.docx)
- [Excel](https://assets.section508.gov/files/MS%20Excel%202016%20Printable%20Accessibility%20Checklist-AED%20COP.doc)
- [PowerPoint](https://assets.section508.gov/files/MS%20PowerPoint%20

[2022-04-06 13:59] mcharg commented on #1804
@lpgoldstein Can you please review?
https://github.com/ONRR/onrr.gov-site/wiki/Accessibility

[2022-04-06 14:01] cthomasONRR commented on #1796
@mcharg Done :)

[2022-04-06 14:07] mcharg opened #1811 "Figure out how we want to add a link to the audio described version of videos"
Everything highlighted in yellow is a video in the Production troubleshooting guide.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/0a8bc6b7-fe4c-4a46-8e1c-60a757b1cc22)

[2022-04-06 15:09] Maroyafaied commented on #1789
Moving to next sprint since meeting was rescheduled for April 13th.

[2022-04-06 15:13] cthomasONRR commented on #867
@mcharg @jkwonatx I have the following sections updated in the Word document for your review:

- [ ] Adding documents and proper tagging
- [ ] Linking PDFs and other documents

Jae, I had to update your instructions to just focus on linking PDFs in the CMS. I cover how to navigate around the CMS (like getting to pages and content blocks) in other sections.

Here's the link to the Word doc, I recom

[2022-04-06 15:26] lpgoldstein commented on #1808
@bbell0229 This is ready for your review: http://2017onrr/reportpay/interest.htm

[2022-04-06 15:50] cthomasONRR commented on #1802
@lpgoldstein I checked the raw data, dev, and the live site. Everything matches up for me!

[2022-04-06 16:13] lpgoldstein commented on #1802
@cthomasONRR Thank you!

[2022-04-06 16:15] lpgoldstein commented on #1803
@cthomasONRR They look good to me. Thanks!

[2022-04-06 16:16] #1804 closed

[2022-04-06 16:17] lpgoldstein commented on #1802
@cthomasONRR I've added instructions to the word doc if you have time to review https://teams.microsoft.com/l/file/3399470E-E341-48E5-A818-C49141DF7EC3?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FCMS%2FWiki%20Guides%2FCMS%20Instructions%20for%20ONRR.gov%20wiki.docx&baseUrl=http

[2022-04-06 16:24] Maroyafaied opened #1812 "Review onrr.gov policy"
To be posted on onrresource 508 page.

[2022-04-06 16:27] cthomasONRR commented on #1802
@lpgoldstein Looks good. I will use it the next time I upload prices to see if anything needs modification

[2022-04-06 16:27] bbell0229 commented on #1808
Looks perfect! Thank you!

Brittney A. Bell
Staff Accountant, Financial Services
Revenue, Reporting, & Compliance Management
Office of Natural Resources Revenue
Bldg 85, Denver Federal Center
Denver, CO 80225
1-800-433-9801 x 3381
303.231.3381
***@***.******@***.***>

From: lpgoldstein ***@***.***>
Sent: Wednesday, April 6, 2022 9:27 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Bell, Brittney A ***@

[2022-04-06 16:36] #1802 closed

[2022-04-06 16:38] Maroyafaied commented on #1752
@mcharg I added the two version to the docs tab but not sure what to put in the sort column, can you review I did this correctly. Thanks

![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/6beb48c9-97f0-4f97-b1f9-16a293acb42a)

[2022-04-06 16:44] mcharg commented on #1752
@Maroyafaied Looks good. I need to redo the sort order anyway.  I'll move them up with the other reporter letters and then update the sort order.

[2022-04-06 16:54] cthomasONRR commented on #1803
I added these sections to the wiki, with alt text incorporated for the images
https://github.com/ONRR/onrr.gov-site/wiki/CMS-user-guide

Closing this issue now

[2022-04-06 16:54] #1803 closed

[2022-04-06 17:21] lpgoldstein commented on #1808
@bbell0229 This is live so I will close the issue https://onrr.gov/reportpay/interest.htm

[2022-04-06 17:21] #1808 closed

[2022-04-06 17:27] #1752 closed

[2022-04-06 18:20] cthomasONRR commented on #867
@mcharg Thanks! I added these to the wiki, so I will close this issue now
https://github.com/ONRR/onrr.gov-site/wiki/CMS-User-Guide

[2022-04-06 18:20] #867 closed

[2022-04-06 18:22] cthomasONRR opened #1813 "CMS wiki guide: Creating tables, and adding external and internal links"
Issue to complete the last sections within the CMS wiki:

- [x] Creating tables
- [x] Adding external links
- [x] Adding internal links

Word document located here:
https://teams.microsoft.com/l/file/3399470E-E341-48E5-A818-C49141DF7EC3?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov

[2022-04-06 18:41] StaceyKaiser opened #1814 "Webpage Update - New Lease Agreement XREF files for onrr.gov"
Please replace the existing file located at: http://www.onrr.gov/ReportPay/CrossRef.htm called “Cross-Reference Lease to Agreement Number” with the file entitled “April 2022 Lease Agreement XREF.txt and April 2022 Lease Agreement XREF.xlsx”.  It was queried from the system on 4/6/2022.

[April 2022 Lease Agreement XREF.txt](https://github.com/ONRR/onrr.gov-site/files/8429526/April.2022.Lease.Agree

[2022-04-06 19:30] Isabelh99 commented on #1810
Hi Kaitlyn, I can also help on this! Do you want to work together on this, generate ideas, etc?

[2022-04-06 20:43] StaceyKaiser commented on #1814
@cthomasONRR these files are good to go live.  Thank you!

[2022-04-06 21:02] cthomasONRR commented on #1814
@StaceyKaiser Great!
The changes are now live: https://www.onrr.gov/reportpay/CrossRef.htm.
Please remember to use 'Ctrl+F5' to refresh the page.
Closing this issue, have a great afternoon!

[2022-04-06 21:02] #1814 closed

[2022-04-06 21:15] StaceyKaiser commented on #1814
@cthomasONRR thanks! Have a great afternoon as well.

[2022-04-06 22:45] kmhtran commented on #1810
@Isabelh99 I'd be down to work on this together! We can come up with some ideas independently and meet up sometime this week to talk it through.

[2022-04-07 13:55] mcharg opened #1815 "Inventory all the locations of videos on the new site"
So, when we're told to remove the ones that aren't being refreshed, we know where to remove them.

[2022-04-07 14:57] #1711 closed

[2022-04-07 15:35] mcharg commented on #1809
We have 58 videos on the current site, there are 63 in the YouTube Channel, Bills numbers add up to 51, and there are 59 in Bill's spreadsheet. We need to come to consensus on the universe of videos.

[2022-04-07 16:08] boices opened #1816 "Update index zone prices on onrr.gov"
Good morning,

Please update the April index zone values on onrr.gov. The "Data for onrr.gov" worksheet has been updated with current prices.

Thanks!
@sudarr

[2022-04-07 16:27] damionschulte opened #1817 "March 2022 Nymex Prices"
All, can you please post the March 2022 Nymex prices to the website?  Thank you

@sudarr

[NYMEX032022.xlsx](https://github.com/ONRR/onrr.gov-site/files/8444884/NYMEX032022.xlsx)

[2022-04-07 16:35] boices commented on #1816
Prices look great--thanks again!

[2022-04-07 17:07] cthomasONRR commented on #1816
@boices The April prices are live: https://www.onrr.gov/valuation/allzones.htm. Closing this issue now. Thanks!

[2022-04-07 17:08] cthomasONRR commented on #1816
@Maroyafaied April 2022 prices are now also on the CMS.

[2022-04-07 17:08] #1816 closed

[2022-04-07 17:27] cthomasONRR commented on #1817
@damionschulte The March 2022 NYMEX prices are now on the dev site: http://2017onrr/valuation/NYMEX.htm. Please review and give us your approval to go live.
Thanks,
Christine

[2022-04-07 17:52] damionschulte commented on #1817
Prices look great!  Thank you

From: Christine Thomas ***@***.***>
Sent: Thursday, April 7, 2022 11:28 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Schulte, Damion C ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] March 2022 Nymex Prices (Issue #1817)

 This email has been received from outside of DOI - Use caution before clicking on links, opening attachments, or res

[2022-04-07 18:26] bowlenj opened #1818 "Production Checklist Update"
Please update the production checklist page at this link - https://www.onrr.gov/reportpay/prod-checklist.htm, as indicated on the attached file.  Please let me know if you have any questions, thank you!

[Production Checklist Update_4-7-22.docx](https://github.com/ONRR/onrr.gov-site/files/8445558/Production.Checklist.Update_4-7-22.docx)
.

[2022-04-07 18:33] cthomasONRR commented on #1817
@damionschulte Great! These changes are now live: https://www.onrr.gov/valuation/NYMEX.htm

@Maroyafaied These prices are also uploaded in the CMS

Closing this issue now.

[2022-04-07 18:33] #1817 closed

[2022-04-07 19:01] mcharg commented on #1818
@lpgoldstein Let me know if we need to make any changes to the checklist on the dev site to match these changes.

[2022-04-07 19:45] lpgoldstein commented on #1818
@bowlenj Please let me know if this looks okay - I think I got everything http://2017onrr/reportpay/prod-checklist.htm

[2022-04-07 20:32] mcharg commented on #1797
@mojobnichols We met without you and came up with an approach. Let us know when you're back in the office and we can schedule a time to loop you in and get your feedback.

[2022-04-07 20:39] mcharg commented on #1207
I'm doing this as part of getting to the list of all the videos.

[2022-04-07 20:41] mcharg opened #1819 "Add video links to CMS"

[2022-04-07 22:10] bowlenj commented on #1818
This looks great, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exem

[2022-04-07 23:08] lpgoldstein commented on #1818
@bowlenj This is live so I'm closing out the issue. https://www.onrr.gov/reportpay/prod-checklist.htm

[2022-04-07 23:18] Isabelh99 commented on #1810
Sounds good! I'll be posting some sketches of my ideas with interpretations under here!

[2022-04-08 15:09] mcharg commented on #1818
@bowlenj I just took a look at the production checklist and I think it got replaced with the content from the reporter information maintenance page somehow.
https://www.onrr.gov/reportpay/reporter-maintenance.htm

I think it's also missing the sections for OCS numbers and W-9. Do you want us to add them and remove the cancel user access and change company name sections?

[2022-04-08 16:08] mcharg commented on #1815
@lpgoldstein This is ready for you to review.

We now have a master video list tab with all the videos across the current site, YouTub channel, and Bill's list. And a Video Locations tab that shows where they exist on the new site.
https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Content/Content%20Audit/ContentTracking.xlsx?d=w74b27b0272bc4cee92b0a1280895cb73&csf

[2022-04-08 16:09] mcharg commented on #1207
Audit is done. Will revisit organizing once we know what the final set of videos is.
https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Content/Content%20Audit/ContentTracking.xlsx?d=w74b27b0272bc4cee92b0a1280895cb73&csf=1&web=1&e=5j1UX1

[2022-04-08 16:09] #1207 closed

[2022-04-08 16:10] mcharg commented on #1809
There are only 16 videos marked as accessible in Bill's spreadsheet. 7 are marked as not accessible. 33 have no accessibility status.

[2022-04-08 16:11] mcharg commented on #1809
There are 7 videos on the current site that aren't in Bill's list.

[2022-04-08 16:20] jkwonatx commented on #1687
@mcharg happy to help. Lmk how

[2022-04-08 16:24] jkwonatx commented on #1274
@mcharg @cthomasONRR Now that I have done a manual check on a word doc, I feel better about tackling this -- happy to pick this back up whenever

[2022-04-08 16:30] mcharg commented on #1687
@jkwonatx Here's the ppt from the design studio when we did this for NRRD. Let's discuss after you get back from vacation.
https://doimspp.sharepoint.com/:p:/r/sites/NRRD/Shared%20Documents/General/NRRD/User%20Research/User%20Types/User%20Types%20Design%20Studio.pptx?d=w78b18e59a41242d288019453fc0881b8&csf=1&web=1&e=egFQUv

[2022-04-08 17:17] mcharg commented on #1818
@bowlenj How's this?
http://2017onrr/reportpay/prod-checklist.htm

[2022-04-08 20:57] mcharg commented on #1818
@bowlenj Hold off on reviewing. There's something wonky going on and the page is now blank in development. We're investigating the bugs. The changes from yesterday appear to no longer be on the live site, as well.

[2022-04-08 22:00] jlouis-onrr commented on #1599
@mcharg, frontend cards are in dev.  I've added the collections to the Getting Started, System Access, Leases & Agreements, and Oil & Gas Production sections.

[2022-04-11 12:33] mcharg opened #1820 "Add operator number to the contact header when there's one present"
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/6dc26e44-b70b-440e-bdcc-ef79f83e2eaa)

[2022-04-11 12:34] mcharg commented on #1401
@cthomasONRR This is ready to review.

[2022-04-11 12:40] mcharg commented on #1392
@cthomasONRR This is ready to review.

[2022-04-11 12:42] mcharg commented on #1521
@cthomasONRR This is ready to review.

[2022-04-11 12:43] mcharg commented on #1599
@jlouis-onrr These all look good. The only thing missing is the operator number when there's a company in the header.  I added #1820 for that, since it's a nice to have.

[2022-04-11 12:43] #1599 closed

[2022-04-11 12:46] mcharg commented on #1481
@cthomasONRR This is ready to review.

@Maroyafaied Do we want to add this to the list of pages for regs to review once Christine approved?

[2022-04-11 12:48] Maroyafaied commented on #1481
@mcharg Yes, if enforcements and appeals contacts are ready, I can send them with a reminder email to review.

[2022-04-11 12:48] mcharg commented on #1478
@cthomasONRR This is ready to review.

@Maroyafaied Do we want to add this to the list of pages for Enforcement to approve once Christine approves?

[2022-04-11 12:53] cthomasONRR commented on #1481
@mcharg Looks good - approve.

[2022-04-11 12:56] #1478 closed

[2022-04-11 12:56] #1481 closed

[2022-04-11 13:00] mcharg commented on #1536
@cthomasONRR This is ready to review.

[2022-04-11 13:01] cthomasONRR commented on #1521
@mcharg

- Is there an issue for the "a-z" hyperlinks to be added?
- New Mexico, Kansas, Oklahoma (federal), & Texas contacts are different between dev and wireframe

[2022-04-11 13:03] cthomasONRR commented on #1392
@mcharg Looks good- approved

[2022-04-11 13:05] cthomasONRR commented on #1517
@mcharg Looks good- approved

[2022-04-11 13:06] cthomasONRR commented on #1465
@mcharg Approved

[2022-04-11 13:07] mcharg commented on #1534
@cthomasONRR This is ready to review.

[2022-04-11 13:11] mcharg commented on #1415
@cthomasONRR This is ready to review.

[2022-04-11 13:14] mcharg commented on #1422
@cthomasONRR This is ready to review.

[2022-04-11 13:18] mcharg commented on #1531
@cthomasONRR This is ready to review.

[2022-04-11 13:19] cthomasONRR commented on #1401
Will there be a-z hyperlinks? This was really difficult to review.

**FOR ONSHORE:**

The following entries are at the very last page in dev, and NOT in alphabetical order. I thought they were missing while reviewing the pages in numerical order.
-  Companies starting with: CA - CRA
-  Companies starting with: CRB - CZ
- Companies starting with: O
- Companies starting with: W

The following entrie

[2022-04-11 13:20] cthomasONRR commented on #1401
@mcharg I'm getting really overwhelmed and not sure how to review offshore production

[2022-04-11 13:20] mcharg commented on #1539
@cthomasONRR This is ready to review.

[2022-04-11 13:23] mcharg commented on #1535
@cthomasONRR This is ready to review.

[2022-04-11 13:24] cthomasONRR commented on #1534
@mcharg Approved

[2022-04-11 13:26] mcharg commented on #1485
@cthomasONRR This is ready to review.

[2022-04-11 13:27] mcharg commented on #1450
@cthomasONRR This is ready to review.

[2022-04-11 13:39] cthomasONRR commented on #1415
@mcharg Approved

[2022-04-11 13:40] cthomasONRR commented on #1422
@mcharg Approved

[2022-04-11 13:41] cthomasONRR commented on #1526
@mcharg Approved

[2022-04-11 13:56] cthomasONRR commented on #1531
@mcharg This was almost impossible to review. I think the wireframes are now out of date but here are inconsistencies I found:

**Federal accounts receivable**
- Solid Minerals is the first listing in dev, not it alphabetical order.
- In dev, John O'Donoghue's name is giving a character error:
![image](https://user-images.githubusercontent.com/72526208/162753037-7b4c8204-fc7e-4efd-972a-ef6a5fc2e8d

[2022-04-11 13:58] cthomasONRR commented on #1539
@mcharg Approved

[2022-04-11 13:59] cthomasONRR commented on #1535
@mcharg Approved

[2022-04-11 14:01] cthomasONRR commented on #1485
@mcharg Approved

[2022-04-11 14:02] cthomasONRR commented on #1450
@mcharg Approved

[2022-04-11 14:11] cthomasONRR opened #1821 "Review and approve contacts issues"

[2022-04-11 14:16] Maroyafaied opened #1822 "Fix NYMEX rounding"
It should be rounding down not up when the 3rd decimal place is 5 or above.

Examples:
March 2012: CMA in spreadsheet is $106.205, the database displays it as $106.20 instead of $106.21 as the live site.
September 2013: CMA in spreadsheet is $106.235, the database display it as $106.23 instead of $106.24 as the live site.

[2022-04-11 14:22] cthomasONRR commented on #1401
@mcharg

**Offshore**
Operator numbers that are with the company name in the wireframes need to be added to dev:
![image](https://user-images.githubusercontent.com/72526208/162760260-8aad2c32-68ea-4d11-b4b9-54cd413bd673.png)

[2022-04-11 14:30] Maroyafaied opened #1823 "Add Indian Index Zone instructions to CMS wiki"

[2022-04-11 14:31] Maroyafaied opened #1824 "Add instruction for adding and updating contacts to CMS wiki"

[2022-04-11 14:32] #1743 closed

[2022-04-11 14:37] mcharg commented on #1401
I added #1820 to add the operator number.

[2022-04-11 14:37] mcharg commented on #1401
@cthomasONRR It would probably be better to review against the spreadsheet instead of the wireframe, since we've been updating that and not the wireframes when contacts change.

[2022-04-11 14:38] mcharg commented on #1401
It'll be easier to navigate once the search is added.

[2022-04-11 14:38] #1392 closed

[2022-04-11 14:39] mcharg commented on #1521
@cthomasONRR It should be whatever is in the spreadsheet.

It'll be easier to navigate once search is in.

[2022-04-11 14:39] #1536 closed

[2022-04-11 14:39] #1534 closed

[2022-04-11 14:40] mcharg commented on #1408
@cthomasONRR The wireframes haven't been updated. The spreadsheet is the most updated list.

[2022-04-11 14:40] #1415 closed

[2022-04-11 14:40] #1422 closed

[2022-04-11 14:40] #1526 closed

[2022-04-11 14:41] #1539 closed

[2022-04-11 14:41] #1535 closed

[2022-04-11 14:41] #1485 closed

[2022-04-11 14:41] #1450 closed

[2022-04-11 14:43] #1393 closed

[2022-04-11 14:51] cthomasONRR commented on #1495
@mcharg Approved

[2022-04-11 14:53] #1495 closed

[2022-04-11 15:01] cthomasONRR commented on #1401
@mcharg For **onshore** in dev, there needs to be some reorganization. The "C's" are missing in the alphabetical order, and are on the last page. Same with "O" and "W"
![image](https://user-images.githubusercontent.com/72526208/162766888-e107572e-e955-4f8f-a890-555151f13fe0.png)
I created a pivot in the spreadsheet to more efficiently check names. Names are now matching up.

[2022-04-11 15:02] mcharg commented on #1451
I added the link to the 4444.

@lpgoldstein This is ready for full ODDD approval.

[2022-04-11 15:05] mcharg commented on #1401
@jlouis-onrr Can you look into how the contacts are sorting?

[2022-04-11 15:06] cthomasONRR commented on #1521
@mcharg Approved.

[2022-04-11 15:07] #1521 closed

[2022-04-11 15:08] mcharg opened #1825 "Contacts aren't sorting correctly"
@mcharg For **onshore** in dev, there needs to be some reorganization. The "C's" are missing in the alphabetical order, and are on the last page. Same with "O" and "W"
![image](https://user-images.githubusercontent.com/72526208/162766888-e107572e-e955-4f8f-a890-555151f13fe0.png)
I created a pivot in the spreadsheet to more efficiently check names. Names are now matching up.

_Originally posted by

[2022-04-11 15:10] mcharg opened #1826 "Apostrophes don't display in contacts"
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/e438c32a-7b7b-410f-87ed-44c39b0be984)

[2022-04-11 15:10] cthomasONRR commented on #1531
@mcharg Names check out now.

There still needs to be reorganization. "Solid Minerals" should not be the very first entry fi they are supposed to be in alphabetical order....
![image](https://user-images.githubusercontent.com/72526208/162769864-7b40a719-980e-4a30-bf3b-d88cb1753ad0.png)

[2022-04-11 15:11] mcharg commented on #1825
There are also issues in Paying.
https://github.com/ONRR/onrr.gov-site/issues/1531#issuecomment-1095176347

[2022-04-11 15:12] mcharg commented on #1531
@cthomasONRR I created a new issue for @jlouis-onrr to look at sorting.

[2022-04-11 15:12] mcharg commented on #1531
@cthomasONRR Created #1826 for the parentheses.

[2022-04-11 15:20] #1408 closed

[2022-04-11 15:24] mcharg commented on #1826
@jlouis-onrr Is this an upload issue and we just need to type in the apostrophes in the collection? I think I remember a similar issue with press releases.

[2022-04-11 15:26] mcharg opened #1827 "Use black font on the header for supervisor contacts"
There's not enough contrast between the yellow and white.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/4ea6129a-27c8-4ce5-af86-6410e1766816)

[2022-04-11 15:46] mcharg opened #1828 "Draft status doesn't work"
I made the expansion panels for videos draft, so they wouldn't display until we get the accessible videos, but they're still displaying on the site.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/f4831d12-346c-4504-9a59-c0c59f7d3a56)

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/4abc03c0-85df-4d9c-978e-8b99ffb04c30)

[2022-04-11 16:16] Maroyafaied opened #1829 "Move archived folders to N drive"
To make space in folders

[2022-04-11 16:42] cthomasONRR commented on #1829
Main Y-drive folders:

- [ ] about
- [ ] archive
- [ ] assets
- [ ] compliance
- [ ] foia
- [ ] IndianServices
- [ ] Laws_R_D
- [ ] Not Linked
- [ ] PDF DOcs
- [ ] reportpay
- [ ] unbundling
- [ ] valuation

[2022-04-11 16:50] mcharg commented on #1811
Accordion to digital.gov, as long as we provide a link to an audio described version in the video description, we should be good. @Maroyafaied Are you good with using this strategy?

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/c3bc7a4a-2d3b-41f5-8a6d-d4b9c43ec467)
https://digital.gov/2014/06/30/508-accessible-videos-why-and-how-to-make-them/

[2022-04-11 16:55] mcharg commented on #1811
Or we could do something like this. ![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/7f363302-a851-41cc-b6cf-cd6d8257c32d)

[2022-04-11 17:31] lpgoldstein commented on #1815
@mcharg Looks good

[2022-04-11 17:40] Maroyafaied commented on #1822
@Maroyafaied review

[2022-04-11 17:42] #1815 closed

[2022-04-11 17:43] lpgoldstein opened #1830 "Update headers in royalty checklist"
http://2017onrr/reportpay/roy-checklist.htm
approved by @mcharg

[2022-04-11 17:52] Maroyafaied commented on #1822
@mojobnichols looks good. Thanks

[2022-04-11 17:52] #1822 closed

[2022-04-11 18:31] #1830 closed

[2022-04-11 18:43] mcharg opened #1831 "Remove video from live site"
It's supposed to be the overview of the videos we provide, but got replaced with the overview of reporting, which appears later on the screen.  The overview of the videos we provide is no longer available.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/04f68c2f-8c66-4621-84a8-516376645b95)

[2022-04-11 18:50] Maroyafaied commented on #1791
@mcharg can you please make these changes and let me know when it's ready for review. Thanks

- [ ] Under the yellow banner at the top, please change "ONRR's enforcement team evaluates the enforceability of compliance violations." to "ONRR's two enforcement teams evaluate the enforceability of compliance violations and issue civil penalties when appropriate."

- [ ] Also please capitalize the Liti

[2022-04-11 18:56] cthomasONRR commented on #1790
@Maroyafaied This is ready for your review

[2022-04-11 19:02] lpgoldstein commented on #1831
@mcharg ready for your review http://2017onrr/reportpay/training/index.htm

[2022-04-11 19:04] mcharg commented on #1791
@Maroyafaied This is ready to review. I couldn't do exactly what he wants with the contacts because we only have the options of Primary Contact, Back-up Contact, Supervisor, and Manager for the card headers. I think I captured the spirit of what he's looking for by putting the additional title details with the contact name.

[2022-04-11 19:04] cthomasONRR commented on #1821
Waiting to approve the following contacts until bugs are fixed:

- [ ] Production
- [ ] Payments & Debt Collection

[2022-04-11 19:51] mcharg commented on #1819
Video links added to these pages.

- [ ] [Reporter Training](https://dev-onrr-frontend.app.cloud.gov/references/training?tabs=training-videos,new-reporters)
- [ ] [New Reporter Training](https://dev-onrr-frontend.app.cloud.gov/getting-started/new-reporter-training)
- [ ] [Getting Started Contacts](https://dev-onrr-frontend.app.cloud.gov/about/contact/getting-started-contacts)
- [ ] [Production Con

[2022-04-11 19:52] lpgoldstein commented on #1831
live so closing

[2022-04-11 19:52] #1831 closed

[2022-04-11 20:42] cthomasONRR commented on #1786
@mcharg This is ready for your review. In the Images tab of the ContentTracking spreadsheet,

- I sorted Column D (Type) by "Images".
- Updated Alt Texts are indicated in Column F
- Full alt text is in the CMS as well as Column G

Let me know if I should also work on "Hero" Images and "Icon" Images (from Column D - Type)

[2022-04-11 20:47] jlouis-onrr commented on #1825
@mcharg, sorting update is now out in dev, along with #1820, #1827

[2022-04-11 21:56] Maroyafaied commented on #1791
@mcharg please mark all the pages as approved by SME and close this issue. Thanks
We also build the Contacts page and it's ready for your approval as well as the pages listed below. Thanks

Enforcements, Civil Penalties, Bankruptcies & Litigation Support, Contacts

[2022-04-11 22:09] Maroyafaied commented on #1790
@cthomasONRR  please mark these pages as approved by SME in the tracking sheet and close this issue. Thanks

References Home, Statutes, Rulemakings, Federal Register Notices, Information Collection Requests, How to Appeal, Sureties, and Past Decisions.

[2022-04-12 12:34] cthomasONRR commented on #1790
@Maroyafaied Done!

[2022-04-12 13:06] cthomasONRR commented on #1829
@mcharg This is ready to review, one question:

- Can Y:\archive be deleted? I did not delete just in case, but it's backed up on the N drive.

[2022-04-12 13:10] #1790 closed

[2022-04-12 13:20] cthomasONRR commented on #1531
@mcharg Jerome fixed the card sorting, so that's good on this page now :) Just waiting on apostrophes.

[2022-04-12 13:20] cthomasONRR commented on #1401
@mcharg The sorting is fixed. Should I go ahead and approve, or wait till offshore operator # is included?

[2022-04-12 13:41] #1791 closed

[2022-04-12 13:49] cthomasONRR commented on #1401
@mcharg Great, I just set these as approved in the spreadsheet.

[2022-04-12 13:50] cthomasONRR commented on #1531
@mcharg I set this to approved in the spreadsheet since there's an issue out for the apostrophes

[2022-04-12 13:50] mcharg commented on #1401
@cthomasONRR Jerome did actually put in the operator numbers. https://dev-onrr-frontend.app.cloud.gov/reporting/production?tabs=contacts,offshore-production

[2022-04-12 13:50] mcharg commented on #1825
Looks good.

[2022-04-12 13:50] #1825 closed

[2022-04-12 13:52] mcharg commented on #1820
Looks good.

[2022-04-12 13:52] #1820 closed

[2022-04-12 13:52] mcharg commented on #1827
Looks good.

[2022-04-12 13:52] #1827 closed

[2022-04-12 13:52] #1821 closed

[2022-04-12 14:58] mcharg commented on #1819
@lpgoldstein This is ready to review.  I marked all the links on the Video Locations tab in the content tracking sheet as ready to review.

[2022-04-12 15:08] #1531 closed

[2022-04-12 15:08] #1401 closed

[2022-04-12 15:12] mcharg commented on #1786
@cthomasONRR All the updated alt text looks good to me. Should I mark them as approved in the spreadsheet?

[2022-04-12 15:15] cthomasONRR commented on #1786
@mcharg Sure! I also just updated all the Hero images if you want to that that too. I made sure their titles matched the spreadsheet and made sure all had alt text.

I can't find the icon images, so I haven't edited any of their metadata.

[2022-04-12 15:16] mcharg commented on #1786
The icons are pulled from MUI, so hopefully the alt text is embedded as part of that.

[2022-04-12 15:19] cthomasONRR commented on #1786
@mcharg Great! I will close this issue now.

[2022-04-12 15:19] #1786 closed

[2022-04-12 15:40] damionschulte opened #1832 "March 2022 IBMP Prices"
All, I have updated the Data for ONRR spreadsheet with the March 2022 IBMP Prices.  Can you please prepare them to be published on the website.  Thanks

@sudarr

[2022-04-12 15:53] Maroyafaied commented on #1832
@damionschulte @sudarr we will work on making this update on the current site. Can you please also send us the original spreadsheet your team uses for the calculations for March 2022 to test uploading it to the CMS for the new website? Thanks

[2022-04-12 16:03] mcharg commented on #1829
@cthomasONRR Yes, Y:/archive can be deleted.

[2022-04-12 16:08] cthomasONRR commented on #1832
@Maroyafaied March 22 IBMP is now on the CMS: https://dev-onrr-frontend.app.cloud.gov/references/valuation?tabs=pricing,indian-oil-major-portion

[2022-04-12 16:12] damionschulte commented on #1832
These look great! Thank you

From: Christine Thomas ***@***.***>
Sent: Tuesday, April 12, 2022 10:09 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Schulte, Damion C ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] March 2022 IBMP Prices (Issue #1832)

 This email has been received from outside of DOI - Use caution before clicking on links, opening attachments, or respon

[2022-04-12 16:30] cthomasONRR commented on #1832
@damionschulte Great, these changes are now live: https://www.onrr.gov/valuation/IndianOilIBMP.htm

Closing this issue now.

[2022-04-12 16:30] #1832 closed

[2022-04-12 16:41] mcharg commented on #1829
@cthomasONRR I renamed the folder to "ONRR.gov Archive" and put the faqs.htm file in the highest level archive.

I went through all the folders on Y and only found one instance of archive and not linked you missed.  Moved to the N drive.
N:\IDM\DD\ONRR.gov Archive\Laws_R_D\FR Notices\PDFDocs\1978thru1994

[2022-04-12 16:43] cthomasONRR commented on #1829
@mcharg Thanks for the review, I will close this issue now.

[2022-04-12 18:28] lpgoldstein commented on #1819
@mcharg looks good and updated in content tracking as well.

[2022-04-12 18:30] damionschulte commented on #1832
These look great! Thank you

From: Christine Thomas ***@***.***>
Sent: Tuesday, April 12, 2022 10:03 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Schulte, Damion C ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] March 2022 IBMP Prices (Issue #1832)

 This email has been received from outside of DOI - Use caution before clicking on links, opening attachments, or respon

[2022-04-12 18:47] #1819 closed

[2022-04-12 19:10] cthomasONRR commented on #1813
@mcharg @lpgoldstein These 3 sections are ready for your review

[2022-04-12 19:17] mcharg commented on #1813
@cthomasONRR Looks good. I added one comment about linking to tabs and accordions.

[2022-04-12 19:27] cthomasONRR commented on #1823
@mcharg @lpgoldstein This section is ready for your review in the Wod document. I have it set in the navigation pane, since the document is so long now:

![image](https://user-images.githubusercontent.com/72526208/163038687-7e87b6b8-4851-4a41-b33e-d9e17944b290.png)

https://teams.microsoft.com/l/file/3399470E-E341-48E5-A818-C49141DF7EC3?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&o

[2022-04-12 19:31] mcharg commented on #1823
@cthomasONRR Looks good.

[2022-04-12 19:40] cthomasONRR opened #1833 "CMS Wiki: IBMP and NYMEX"
Create sections under pricing for:

- [ ] IBMP
- [ ] NYMEX

Word document located here:
https://teams.microsoft.com/l/file/3399470E-E341-48E5-A818-C49141DF7EC3?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FCMS%2FWiki%20Guides%2FCMS%20Instructions%20for%20ONRR.gov%20wiki.docx&base

[2022-04-12 19:41] Maroyafaied commented on #1812
@cthomasONRR @mcharg @lpgoldstein please review, I will post this on the wiki when it's final. https://doimspp.sharepoint.com/sites/NRRD/Shared%20Documents/General/ONRR.gov/508/onrr.gov%20accessibility%20policy%20.docx?web=1

[2022-04-12 19:44] cthomasONRR commented on #1813
@mcharg Thanks, added in a note to address your comment

[2022-04-12 19:45] Maroyafaied commented on #1762
SME approved NYMEX and I let him know that the links will be cleaned up.

[2022-04-12 19:45] #1762 closed

[2022-04-12 19:53] cthomasONRR commented on #1812
@Maroyafaied Looks good!

[2022-04-12 19:55] mcharg commented on #1812
@Maroyafaied I reviewed and added a comment about ensuring that manual checks are the responsibility of the document owner.

[2022-04-12 20:21] lpgoldstein commented on #1812
@Maroyafaied I just made a few grammar changes. Looks good!

[2022-04-12 20:22] #1818 closed

[2022-04-12 20:28] Maroyafaied commented on #1812
@mcharg I added this sentence, feel free to make changes to it.

For any documents requested to be uploaded on onrr.gov, the ODDD team will utilize automated accessibility testing tools to validate accessibility or identify issues. It is the document’s owner responsibility and the law to manually examine and identify issues that cannot be detected by the automated testing tools.

[2022-04-12 20:32] mcharg commented on #1812
@Maroyafaied Love it!

[2022-04-12 20:34] Maroyafaied commented on #1812
@mcharg Awesome, did you need me to send this to Jae or just add it to the wiki?

[2022-04-12 20:36] mcharg commented on #1812
You can just add it to the wiki. I can put a copy of the doc in the folder for Jae.

[2022-04-12 20:39] mcharg commented on #1812
Uploaded to Teams. https://doimspp.sharepoint.com/:w:/r/sites/NRRD/Shared%20Documents/General/ONRR%20508%20Compliance%20Approach%20Team/onrr.gov%20accessibility%20policy%20.docx?d=w0820bf1de5a340149466d4d20af05686&csf=1&web=1&e=XgOf2o

[2022-04-12 20:40] mcharg commented on #1812
@Maroyafaied I'll also send it to Dave, so he can copy it for ONRResource.

[2022-04-12 20:48] cthomasONRR commented on #1833
@mcharg @lpgoldstein These are ready for your review.

[2022-04-12 21:00] Maroyafaied commented on #1812
Added the policy to the wiki. https://github.com/ONRR/onrr.gov-site/wiki/Accessibility-Policy

[2022-04-12 21:00] #1812 closed

[2022-04-13 13:06] mcharg commented on #1813
@cthomasONRR Looks good.

[2022-04-13 13:10] mcharg commented on #1833
@cthomasONRR Looks good.

[2022-04-13 13:32] mcharg opened #1834 "Contacts: Drop-downs for contacts fields"
Contacts: Drop-downs for page, tab, and accordion
Can we make these drop-downs with the possible values, so people don't enter things that don't exist?
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/69067206-64bd-4ded-bdf6-4336c6713fdd)

Drop-down for role:
Since the only values that work are Primary Contact, Back-up Contact, Supervisor, and Manager

![image.png](https:

[2022-04-13 13:53] mcharg opened #1835 "Contacts: Append Agency to header"
If an agency is present append to the header like we are doing for operator number.  Currently in FIMO and IESC contacts.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/7d91afe3-226b-4bb0-bb2f-eebf01ead893)

[2022-04-13 13:59] cthomasONRR commented on #1813
@mcharg Great! These are now in the wiki if you want to do a final review. All images have alt text. https://github.com/ONRR/onrr.gov-site/wiki/CMS-user-guide#Creating-tables

[2022-04-13 14:00] cthomasONRR commented on #1823
@mcharg Great! This is in the wiki if you want to do a final review. https://github.com/ONRR/onrr.gov-site/wiki/CMS-user-guide#Updating-pricing-collections

[2022-04-13 14:00] cthomasONRR commented on #1833
@mcharg Great! This is in the wiki if you want to do a final review. https://github.com/ONRR/onrr.gov-site/wiki/CMS-user-guide#Updating-pricing-collections

[2022-04-13 14:47] Maroyafaied commented on #1789
Met on April 13th

- [ ] In overview tab, take out numbers from each card and "Approximate" infront of timeframe

- [ ] Jennifer will send contact info to add to contacts tab for Compliance Management

- [ ] Yvette will be the SME for the STRAC page

[2022-04-13 15:34] mcharg opened #1836 "Contacts: Add drop-down for role"
Since the only values that work are Primary Contact, Back-up Contact, Supervisor, and Manager

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/51c2ad60-1bba-489f-81b9-709c35d63d75)

[2022-04-13 15:49] mcharg commented on #1824
@Maroyafaied @cthomasONRR This is ready to review.

I added a Contacts section at the end of the doc. https://doimspp.sharepoint.com/:w:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/CMS/Wiki%20Guides/CMS%20Instructions%20for%20ONRR.gov%20wiki.docx?d=w3399470ee34148e5a818c49141df7ec3&csf=1&web=1&e=fwdqsd

[2022-04-13 15:52] mcharg commented on #1833
@cthomasONRR Looks good.

[2022-04-13 15:53] mcharg commented on #1823
@cthomasONRR Looks good.

[2022-04-13 15:53] mcharg commented on #1813
@cthomasONRR Looks good.

[2022-04-13 16:07] #1823 closed, assigned to cthomasONRR

[2022-04-13 16:07] #1813 closed

[2022-04-13 16:53] Maroyafaied commented on #1826
@mcharg @cthomasONRR please review. Thanks

![image](https://user-images.githubusercontent.com/40175688/163230913-2396b1d4-cd06-4a86-b986-8cdf496bb509.png)
![image](https://user-images.githubusercontent.com/40175688/163231080-cc89d563-925d-4571-b39d-bb6470de306d.png)
![image](https://user-images.githubusercontent.com/40175688/163231190-50314e1f-9f9a-4169-8a0e-4fb99a3cf05f.png)

[2022-04-13 16:56] cthomasONRR commented on #1826
@Maroyafaied I checked it on the site, looks good!

[2022-04-13 17:22] mcharg commented on #1826
@Maroyafaied Looks good.

[2022-04-13 17:24] #1826 closed, assigned to Maroyafaied

[2022-04-13 17:39] mcharg commented on #1824
@cthomasONRR @Maroyafaied I addressed all the comments.

[2022-04-13 17:43] Maroyafaied commented on #1789
Send email with requested changes and asked for final approval by April 18.

[2022-04-13 17:47] Maroyafaied commented on #1824
@mcharg looks god

[2022-04-13 17:53] cthomasONRR commented on #1824
@mcharg Thanks for addressing my comments. Looks good!

[2022-04-13 18:37] mcharg commented on #1824
Added to the wiki. @cthomasONRR Can you please review?
https://github.com/ONRR/onrr.gov-site/wiki/CMS-User-Guide#Contacts

[2022-04-13 18:47] cthomasONRR commented on #1824
@mcharg Looks good!

[2022-04-13 18:48] #1824 closed

[2022-04-13 18:50] Isabelh99 commented on #1810
Here are some ideas I came up with:
![image](https://user-images.githubusercontent.com/93946660/163249691-067ff45a-7645-429a-a7d9-c52e59eb5a98.png)
![image](https://user-images.githubusercontent.com/93946660/163249716-f2ce254b-b488-4c60-846c-5550520a1dc6.png)
![image](https://user-images.githubusercontent.com/93946660/163249772-96b67c73-fa24-4274-b510-fe6a15a9f3ca.png)

[2022-04-13 19:15] Isabelh99 commented on #1810
fourth idea generated from intern meeting:
![image](https://user-images.githubusercontent.com/93946660/163253517-23aa9a99-2c34-43d6-af67-51eab6af6212.png)

[2022-04-13 20:04] mcharg opened #1837 "Build design for NRRD button in header"
Design is in #1810.

[2022-04-13 20:04] mcharg commented on #1810
Created #1837 for @jlouis-onrr to build this.

[2022-04-13 20:04] #1810 closed

[2022-04-13 20:06] mcharg commented on #1797
Post-its from our meeting.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/4affec30-964e-4c1d-8e5e-42866526beca)

[2022-04-13 21:12] Maroyafaied commented on #1778
@mojobnichols I reviewed and looks good. Closing

[2022-04-13 21:12] #1778 closed

[2022-04-13 23:25] Maroyafaied commented on #1797
@mcharg @mojobnichols @jlouis-onrr I made [two visuals on ppt ](https://doimspp.sharepoint.com/:p:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/CMS/Workflow/Workflow.pptx?d=wf304d9bdaec745f396ca5be16bfbf44f&csf=1&web=1&e=zeXica)to summarize the workflow process we discussed. The first one details the steps and the second is simpler, let me know if I captured anything wrong.  @kmhtran please le

[2022-04-14 12:50] Maroyafaied commented on #1797
I also started a work doc with workflow steps starting with GitHub issue submitted, I will go over this with the team today. https://doimspp.sharepoint.com/sites/NRRD/Shared%20Documents/General/ONRR.gov/CMS/Workflow/Workflow%20example.docx?web=1

[2022-04-14 13:04] mcharg commented on #1797
@Maroyafaied All of the above match my understanding.

[2022-04-14 13:06] mcharg commented on #1451
@cthomasONRR Do you want to review and approve this page, since Lindsay didn't get to it before she left on leave?

[2022-04-14 13:09] mcharg commented on #1533
@cthomasONRR This is ready for full ODDD approval.

[2022-04-14 13:10] cthomasONRR commented on #1451
@mcharg Just reviewed, looks good. I set it to approved by oddd.

[2022-04-14 13:12] mcharg commented on #1335
This is already marked as approved by SME in the spreadsheet. Not sure how this issue is still open.

[2022-04-14 13:13] mcharg commented on #1333
@cthomasONRR Another one approved by SME that's still open.

[2022-04-14 13:13] mcharg commented on #1334
@cthomasONRR Another one approved by SME that's still open.

[2022-04-14 13:15] cthomasONRR commented on #1533
@mcharg This looks good- set as approved by oddd

[2022-04-14 13:16] #1451 closed

[2022-04-14 13:16] #1533 closed

[2022-04-14 13:17] cthomasONRR commented on #1335
@mcharg I think this is good to close. We are actively updating the collection and all content has been added.

[2022-04-14 13:18] cthomasONRR commented on #1333
@mcharg I think we are good to close this issue.

[2022-04-14 13:19] mcharg commented on #1384
@cthomasONRR The reporter letter and press releases links are fixed, so I think the homepage is ready for ODDD approval.

[2022-04-14 13:20] cthomasONRR commented on #1334
@mcharg For this one, looks like we still need to link a Dear Reporter Letter at the bottom of the page. Are we able to do that yet?
![image](https://user-images.githubusercontent.com/72526208/163399328-8f9c87e9-69aa-4ec5-897f-9d1815bd8168.png)

[2022-04-14 13:27] cthomasONRR commented on #1384
@mcharg I went thought all the links. The only minor thing I see is that this dear reporter letter is displaying the old url:
![image](https://user-images.githubusercontent.com/72526208/163400700-f401044f-8b0f-408b-a9b8-f0ffb7a04764.png)

[2022-04-14 13:28] mcharg commented on #1334
Not yet.

[2022-04-14 13:28] #1333 closed

[2022-04-14 13:28] #1335 closed

[2022-04-14 13:32] mcharg commented on #1384
@cthomasONRR We have a separate issue for the announcements collection. I'll add the reporter letter links issue as a dependency on that and we can close this one.

[2022-04-14 13:32] #1384 closed

[2022-04-14 13:33] mcharg commented on #1299
This collection will need to be able to use the inline link tool.

[2022-04-14 13:40] mcharg opened #1838 "Audit videos"
To determine which we want to link to if we don't get updated versions before we launch.

[2022-04-14 15:24] Maroyafaied opened #1839 "SME Approval - Indian Pricing > How to Value tab"
Will ask the MSA manager to give feedback and approve.

- [x] https://dev-onrr-frontend.app.cloud.gov/indian/indian-pricing?tabs=how-to-value,gas

- [x] https://dev-onrr-frontend.app.cloud.gov/indian/indian-pricing?tabs=how-to-value,oil

[2022-04-14 19:55] Maroyafaied commented on #1839
-SME requested this change "For Indian Gas, you must first establish whether your lease is located within **and** index zone or non-index zone as​"

[2022-04-14 20:55] Maroyafaied commented on #1839
- Changing heading from How to price to How to value from RV email threads.

[2022-04-14 21:14] Maroyafaied opened #1840 "Remove RRM videos"
I confirmed with Aaron that he'd like these videos removed from the current website and not included in the new website. The team will eventually remake these videos in the future.

- [x] Remove videos from current website

- [x] Update video inventory excel sheet with "Removed by SME request" or something along those lines

- [x] Unlink the videos from the CMS if they were added

[https://app.zen

[2022-04-14 21:26] Maroyafaied commented on #1839
SME Approved and updated spreadsheet.

[2022-04-14 21:26] #1839 closed

[2022-04-14 22:51] jlouis-onrr commented on #1759
@mcharg, search by collection is in dev now with ability to search by letter, operator num, company, agency, contact info.  I've also added agency to header #1835

[2022-04-15 12:32] cthomasONRR commented on #1840
- [ ] Basic eCommerce Navigation Series - part 1  https://youtu.be/iQh2DIqfOkE
- [ ] New Payor Overview https://youtu.be/NJPtpJnOxiA
- [ ] Overview of reporting to ONRR  https://youtu.be/Qi0RISYbJP4
- [ ] New Operator Overview  https://youtu.be/waNh3gxCBW0
- [ ] OGOR Edits: 11030, 11050  https://youtu.be/JKF0s9TLDm0
- [ ] OGOR Edits: 11259  https://youtu.be/gpaOFORYxhw
- [ ] OGOR Video Series: How

[2022-04-15 12:40] mcharg commented on #1840
@cthomasONRR Do you want to remove from the old site and I'll remove the links I added in the CMS?

[2022-04-15 12:42] cthomasONRR commented on #1840
@mcharg Sounds good- I'm working on removing the links from the old site right now

[2022-04-15 12:46] mcharg commented on #1840
@cthomasONRR There are 4 more that need to be removed. There was a "correct" filter applied to the list that shouldn't have.

- [ ] Form 2014 Series: Basic Overview: Form ONRR-2014 https://youtu.be/Moafa_VqzPo
- [ ] OGOR Edits: 11260 https://youtu.be/krz19kKUTRo
- [ ] Online Rentals Part 1:  Basic Overview https://youtu.be/vbT0PAh-kko
- [ ] Online Rentals Part 2: Add New Lease https://youtu.be/DIW

[2022-04-15 12:50] mcharg commented on #1840
Removed from CMS:
- [ ] Basic eCommerce Navigation Series - part 1  https://youtu.be/iQh2DIqfOkE
- [ ] New Payor Overview https://youtu.be/NJPtpJnOxiA
- [ ] Overview of reporting to ONRR  https://youtu.be/Qi0RISYbJP4
- [ ] New Operator Overview  https://youtu.be/waNh3gxCBW0
- [ ] OGOR Edits: 11030, 11050  https://youtu.be/JKF0s9TLDm0
- [ ] OGOR Edits: 11259  https://youtu.be/gpaOFORYxhw
- [ ] OGOR

[2022-04-15 13:08] mcharg commented on #1840
@cthomasONRR They're all removed from the CMS. The Video Locations tab shows the pages I removed them from. Will you please review?

[2022-04-15 13:11] cthomasONRR commented on #1840
@mcharg Could you please respond to my slack messages or give me a call? I'm having a ton of issues with html formatting when removing from the old site

[2022-04-15 13:48] mcharg commented on #1759
@jlouis-onrr Looks great!

[2022-04-15 13:48] #1759 closed

[2022-04-15 13:48] mcharg commented on #1835
@jlouis-onrr Looks good.

[2022-04-15 13:48] #1835 closed

[2022-04-15 13:49] cthomasONRR commented on #1840
@mcharg The following webpages are ready for your review before I go live:
- [ ] http://2017onrr/reportpay/payments.htm
- [ ] http://2017onrr/reportpay/training/index.htm
- [ ] http://2017onrr/reportpay/training/OGOR-Training-Videos.htm
- [ ] http://2017onrr/reportpay/training/2014-Training-Videos.htm

Working on reviewing the CMS now

[2022-04-15 14:05] cthomasONRR commented on #1840
@mcharg CMS looks good- approved!

[2022-04-15 14:08] mcharg commented on #1840
@cthomasONRR Dev on the old site looks good. Approved to push live!

[2022-04-15 14:39] cthomasONRR commented on #1840
@mcharg The live site updated. Closing this issue now.

[2022-04-15 14:39] #1840 closed

[2022-04-15 14:45] mcharg commented on #1838
Audited a few videos for accessibility to show the types of things that are issues.
https://doimspp.sharepoint.com/:w:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Content/Content%20Audit/VideoAudit.docx?d=w053769f7df684b91980fec2791aa2dfd&csf=1&web=1&e=FL9RAJ

Also made sure all of the links in our tracking spreadsheet are correct and added YouTube views for each video.

[2022-04-15 14:45] #1838 closed

[2022-04-15 16:07] cthomasONRR commented on #1789
Yevette responded:

Thank you for sharing the links to review. The only comment I have is on the contacts page for STRAC. The "Work Planning & Budgets" contacts are broken out into multiple sections. Can you update that sections to look similar to the "Audit Assistance" contacts?
Thanks!
Yvette Smith

I made those changes, sent it to her, and she gave final approval on the STRAC pages. I set those

[2022-04-15 17:43] mcharg commented on #1394
@cthomasONRR This is ready for ODDD approval.

[2022-04-15 17:44] mcharg commented on #1454
@cthomasONRR This is ready for ODDD approval.

[2022-04-15 17:45] mcharg commented on #1500
@cthomasONRR This is ready for ODDD Review.

[2022-04-15 17:47] mcharg commented on #1489
@cthomasONRR This is ready for ODDD approval.

[2022-04-15 17:51] mcharg commented on #1343
@cthomasONRR This is ready for ODDD approval.

[2022-04-15 18:02] cthomasONRR commented on #1394
@mcharg Approved

[2022-04-15 18:02] #1394 closed

[2022-04-15 18:05] cthomasONRR commented on #1454
@mcharg Approved

[2022-04-15 18:06] cthomasONRR commented on #1500
@mcharg Approved

[2022-04-15 18:07] cthomasONRR commented on #1489
@mcharg Approved

[2022-04-15 18:08] cthomasONRR commented on #1343
@mcharg Approved

[2022-04-15 18:09] #1454 closed

[2022-04-15 18:09] #1500 closed

[2022-04-15 18:09] #1489 closed

[2022-04-15 18:09] #1343 closed

[2022-04-15 18:17] cthomasONRR commented on #1789
From Jennifer Goldblatt:

The strategic goal of ONRR’s comprehensive compliance program is to protect the integrity of Federal and Indian energy and mineral revenues by holding industry accountable for compliance with statutes, regulations, and lease terms.

"or Compliance Management Support staff."

Jennifer

I made these corrections, and sent it back for review. They wanted to change the order o

[2022-04-15 20:36] bowlenj opened #1841 "Minerals Revenue Reporter Handbook Appendix C Update"
Please replace Appendix C under the Supplemental Information tab for the Minerals Revenue Reporter Handbook with the attached on the following page - https://www.onrr.gov/reportpay/Handbooks/revenue-handbook/index.htm
[RRM-Appendix C (Final).pdf](https://github.com/ONRR/onrr.gov-site/files/8498178/RRM-Appendix.C.Final.pdf)

[2022-04-15 20:42] cthomasONRR commented on #1841
@bowlenj

Good afternoon,
This update is now on the dev site: http://2017onrr/reportpay/Handbooks/revenue-handbook/index.htm
Please review and give us your approval to go live.

Thanks,
Christine

[2022-04-15 21:06] bowlenj commented on #1841
This looks great, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exem

[2022-04-15 22:02] cthomasONRR commented on #1841
@bowlenj Great! The changes are now live: https://www.onrr.gov/reportpay/Handbooks/revenue-handbook/index.htm

Closing this issue. Have a great weekend!

[2022-04-15 22:02] #1841 closed

[2022-04-18 12:30] cthomasONRR opened #1842 "Glossary Meeting with Data Governance"
Wendy Ranone set a meeting invite for Thursday April 21 @ 9:30am

[2022-04-18 12:31] cthomasONRR opened #1843 "Review Data Governance Glossary input"

[2022-04-18 13:23] cthomasONRR commented on #1843
Spreadsheet Wendy provided located here: https://teams.microsoft.com/l/file/1872EBEB-B9FC-4205-BEC8-52A8CEFA9769?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FCMS%2FCollections%2FGlossary%2FONRR-gov%20Glossary%20DGO%20Input%202022-04-15.xlsx&baseUrl=https%3A%2F%2Fdoimspp.sharepoi

[2022-04-18 16:44] Maroyafaied commented on #1789
@cthomasONRR we just received approval from SME, can you please mark the compliance pages as "approved by SME" then close this issue. Thanks

[2022-04-18 16:46] cthomasONRR commented on #1789
@Maroyafaied All compliance pages are marked as "approved by SME". Closing this issue now.

[2022-04-18 16:46] #1789 closed

[2022-04-19 15:35] cthomasONRR commented on #1843
**Terms that will require SME approval to change**
- Agreement Number (April Lockler)
- Lease (April Lockler)
- Processing Allowance (Amy Lunt)

**Terms that should be removed**
- Serial Register Page (SRP)
- Surety

**Terms that we do not want to change because of one of the following: we know SME will not approve change, new definition too complicated for public website, want to keep the consist

[2022-04-19 16:37] Maroyafaied commented on #1809
I let Eva know that @mcharg did an inventory and it doesn't match Bill's spreadsheet and that in his spreadsheet only 16 videos were marked as accessible and not 36 as mentioned in previous meetings. I also let her know that @mcharg audited a couple of the videos identified as accessible and found accessibility issues. As of right now , Eva's teams does not have a timeline for this project so I co

[2022-04-19 16:37] #1809 closed

[2022-04-19 17:08] Maroyafaied commented on #1828
will close this since the work flow process we agreed on will cover this.

[2022-04-19 17:08] #1828 closed

[2022-04-19 17:14] Maroyafaied commented on #1800
This is in the code and doesn't need to be done.

[2022-04-19 17:25] jlouis-onrr commented on #1807
@Maroyafaied, the update for icons is now in dev

[2022-04-19 17:44] Maroyafaied opened #1844 "Update corrected table summary files"
Related to issue #1768 , Carrie corrected some docs and Christina was going to take over. We need to update the current website with the accessible files and tag these files with "update" in CMS.

[Spreadsheet ](https://teams.microsoft.com/l/file/56CFB7DB-F3DC-4B43-A486-C2ADAAD400EC?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2

[2022-04-19 17:46] Maroyafaied commented on #1807
@jlouis-onrr looks good. Thanks

[2022-04-19 17:46] #1807 closed

[2022-04-19 17:56] lpgoldstein commented on #1805
@mentastc ere is the doc [https://app.zenhub.com/files/210892300/a098a091-f4b1-4a84-ae02-8e1507fa7434/download](https://app.zenhub.com/files/210892300/a098a091-f4b1-4a84-ae02-8e1507fa7434/download)

[2022-04-19 18:36] cthomasONRR commented on #1844
The following files are updated on onrr.gov and have update tags in the CMS:

- [ ] [2014CLEdits.pdf](https://github.com/ONRR/onrr.gov-site/files/8515620/2014CLEdits.pdf)

- [ ]  [FY2020_Disbursements_Texas_Press_Release.pdf](https://github.com/ONRR/onrr.gov-site/files/8515623/FY2020_Disbursements_Texas_Press_Release.pdf) **Duplicate file in the press release collection**

- [ ] [Meeker-UCA-201708

[2022-04-19 18:38] Maroyafaied commented on #1843
@cthomasONRR I send this to Ryan by email and he'll let me know if we need to meet prior to Thursday's meeting.

[2022-04-19 19:48] gingerhensley opened #1845 "Updates to ONRR.govs Current ICR's"
Good afternoon,

I am requesting updates to this page https://onrr.gov/Laws_R_D/FRNotices/ICR0120.htm
Under the Federal Register Publications heading, please add a bullet to the top of the list. The bullet should read as follows: “60-Day Agency Information Collection - (87 FR 21921--April 13, 2022)”

Please add this hyperlink to the language in the parenthesis: https://www.federalregister.gov/docu

[2022-04-19 19:55] gingerhensley opened #1846 "Updates to ONRR.gov's Federal Register Notices Page"
Good afternoon,

I am requesting updates to this page https://onrr.gov/Laws_R_D/FRNotices/index.htm for Federal Register Year 2022
Please create it with April 13, 2022.
It should read as follows:
"87 FR 21921
Wednesday, April 13, 2022
Denver, CO In accordance with the Paperwork Reduction Act of 1995, ONRR is proposing to renew an information collection request. OMB Control Number 1012-0010.

View

[2022-04-19 19:56] cthomasONRR commented on #1845
@gingerhensley This update is on the dev site: http://2017onrr/Laws_R_D/FRNotices/ICR0120.htm. Please review and give us your approval to go live.

@Maroyafaied This ICR page is also update on the CMS.

Thanks,
Christine

[2022-04-19 20:08] gingerhensley opened #1847 "Updates to ONRR.gov's Rules and Regulations Page"
Good afternoon,

I am requesting updates to this page https://onrr.gov/Laws_R_D/index.htm

Under ONRR Rulemakings please add a bullet to the top of the list. The bullet should read as follows:

"AA28: Mailing and Email Address Amendments"

Please add a new RIN page as a hyperlink to the language above consistent with other RIN pages.
On the RIN page, please create this below:
"Regulation Identifie

[2022-04-19 20:09] gingerhensley commented on #1845
Hi Christine, I have reviewed the updates and approve.

Thank you!

[2022-04-19 20:30] cthomasONRR commented on #1845
@gingerhensley Great, the changes are now live: https://onrr.gov/Laws_R_D/FRNotices/AA29.htm. Please remember to use "Ctrl+F5" to refresh the page. I will close this issue now. Thanks, Christine.

[2022-04-19 20:30] #1845 closed

[2022-04-19 20:39] cthomasONRR commented on #1847
@gingerhensley Since this rulemaking is AA28, do you want it above AA29, or between AA27 and AA29?
![image](https://user-images.githubusercontent.com/72526208/164091664-0087f95b-c663-4353-b963-6eb3c3410858.png)

[2022-04-19 20:45] cthomasONRR commented on #1847
@gingerhensley Here is the new webpage in the dev site for you to review. I just need a response on where you would like it located on https://onrr.gov/Laws_R_D/index.htm (before or after AA29).
dev site: http://2017onrr/Laws_R_D/FRNotices/AA28.htm

[2022-04-19 20:49] gingerhensley commented on #1847
Hi Christine! Thanks so much, it looks great. I think we should stay consistent and have it before AA29 so its in numerical order.

[2022-04-19 21:39] cthomasONRR commented on #1847
@gingerhensley Great, here is the index page in dev; http://2017onrr/Laws_R_D/index.htm. Once you review and approve this page, I'll move both pages over to the live site. Thanks!

[2022-04-19 21:42] ONRRamandagarrison opened #1848 "Replace outdated SOP Attachment with new one"
At the bottom of the page (https://www.onrr.gov/About/MOUs-and-SOPs.htm), there is a .pdf labeled [Interagency SOP Attachment A Addendum 1]. This will need to be replaced with a new, updated version that is 508 compliant. It will be called Interagency SOP Attachment A Addendum 2 (effective 2.10.2022).  The .pdf is attached.

![image](https://user-images.githubusercontent.com/62029054/164106590-d17

[2022-04-19 21:44] cthomasONRR commented on #1846
@gingerhensley This update is available for your review on the dev site: http://2017onrr/Laws_R_D/FRNotices/index.htm. Please give us your approval to go live.

Thanks,
Christine

[2022-04-19 21:46] cthomasONRR opened #1849 "Update CMS with new regulation page"
See issue #1847

I need to:

- [x] Create a new webpage for AA28
- [x] Add the new webpage to the Rulemakings collection

[2022-04-19 21:50] Maroyafaied commented on #1848
@lpgoldstein please make this update and tag this doc with "update" in the cms. Thanks

[2022-04-19 22:09] jlouis-onrr commented on #1739
turned off validation for 'file_name' field

[2022-04-19 22:09] cthomasONRR commented on #1849
New AA-28 regulation page located here: https://dev-onrr-frontend.app.cloud.gov/references/rulemakings/aa28

Updated Rulemakings collection located here: https://dev-onrr-frontend.app.cloud.gov/references/rulemakings

[2022-04-19 22:15] gingerhensley commented on #1846
Approved,

Thank you!!

[2022-04-20 12:36] cthomasONRR commented on #1846
@gingerhensley Great, these changes are now live: https://www.onrr.gov/Laws_R_D/FRNotices/index.htm. Please remember to use "Ctrl+F5" to refresh the page. I will close this issue now. Thanks, Christine

[2022-04-20 12:36] #1846 closed

[2022-04-20 12:52] mcharg opened #1850 "Add LVS-GVS overview video to CMS and current site"
This was in the YouTube Channel, but not on the live site Aaron would like it added. I'll add it to both the current and new sites.
https://youtu.be/82QVP2lrFgU

[2022-04-20 13:08] mcharg commented on #1739
@cthomasONRR You were able to create a page without attaching a file? Can we close this?

[2022-04-20 13:10] cthomasONRR commented on #1739
@mcharg Yep!

[2022-04-20 13:12] cthomasONRR commented on #1849
@mcharg Want to review this?

[2022-04-20 13:22] mcharg commented on #1849
@cthomasONRR Looks good.

[2022-04-20 13:22] #1739 closed

[2022-04-20 13:24] #1849 closed

[2022-04-20 13:26] mcharg opened #1851 "Style button component"

[2022-04-20 13:33] mcharg commented on #1386
@cthomasONRR This is ready for ODDD approval.

[2022-04-20 13:35] mcharg commented on #1388
@cthomasONRR This is ready for ODDD approval.

[2022-04-20 13:35] cthomasONRR commented on #1386
@mcharg Button works! Approving.

[2022-04-20 13:36] mcharg commented on #1413
@cthomasONRR This is ready for ODDD approval.

[2022-04-20 13:36] cthomasONRR commented on #1224
@mcharg Buttons work! Approved

[2022-04-20 13:37] mcharg commented on #1420
@cthomasONRR This is ready for ODDD approval.

[2022-04-20 13:38] mcharg commented on #1406
@cthomasONRR This is ready for ODDD approval.

[2022-04-20 13:38] mcharg commented on #1399
@cthomasONRR This is ready for ODDD approval.

[2022-04-20 13:39] cthomasONRR commented on #1388
@mcharg Looks good, approved

[2022-04-20 13:40] bowlenj opened #1852 "Dear Reporter Letter"
Please add the attached letters (1 signed - not 508 and 1 unsigned 508 version) to the following web page - https://www.onrr.gov/DearRep.htm
[Navajo Dear Reporter RIK Program.pdf](https://github.com/ONRR/onrr.gov-site/files/8521952/Navajo.Dear.Reporter.RIK.Program.pdf)
[Navajo Dear Reporter RIK Program (signed).pdf](https://github.com/ONRR/onrr.gov-site/files/8521953/Navajo.Dear.Reporter.RIK.Progr

[2022-04-20 13:41] cthomasONRR commented on #1406
@mcharg Approved

[2022-04-20 13:42] cthomasONRR commented on #1399
@mcharg Approved

[2022-04-20 13:44] mcharg commented on #1395
@cthomasONRR This is ready for ODDD approval.

[2022-04-20 13:46] mcharg opened #1853 "Add email icons to pages"
Creating a separate issue, so we can close out individual page issues, but don't miss pages when we get the icons.

[2022-04-20 13:46] mcharg opened #1854 "Add phone icons to pages"

[2022-04-20 13:46] mcharg opened #1855 "Add video icons to pages"

[2022-04-20 13:48] mcharg commented on #1854
- [ ] [New Reporter Checklist](https://dev-onrr-frontend.app.cloud.gov/getting-started/new-reporter-checklist)

[2022-04-20 13:48] mcharg commented on #1853
- [ ] [New Reporter Checklist](https://dev-onrr-frontend.app.cloud.gov/getting-started/new-reporter-checklist?panel=get-an-onrr-operator-number)

[2022-04-20 13:49] cthomasONRR commented on #1395
@mcharg approved

[2022-04-20 13:51] mcharg commented on #1390
@cthomasONRR This is ready for ODDD approva.

[2022-04-20 13:52] mcharg commented on #1391
@cthomasONRR This is ready for ODDD approval.

[2022-04-20 14:00] mcharg commented on #1855
See Video Locations tab in tracking spreadsheet.

[2022-04-20 14:04] cthomasONRR commented on #1390
@mcharg Approved

[2022-04-20 14:04] cthomasONRR commented on #1391
@mcharg approved

[2022-04-20 14:11] mcharg commented on #1407
@cthomasONRR This is ready for ODDD approval.

[2022-04-20 14:15] mcharg commented on #1414
@cthomasONRR This is ready for ODDD approval.

[2022-04-20 14:18] cthomasONRR commented on #1407
@mcharg Approved

[2022-04-20 14:19] mcharg commented on #1421
@cthomasONRR This is ready for ODDD approval.

[2022-04-20 14:19] cthomasONRR commented on #1414
@mcharg Approved

[2022-04-20 14:20] mcharg commented on #1434
@cthomasONRR This is ready for ODDD approval.

[2022-04-20 14:21] cthomasONRR commented on #1421
@mcharg Approved

[2022-04-20 14:22] cthomasONRR commented on #1434
@mcharg Approved

[2022-04-20 14:25] mcharg commented on #1344
@cthomasONRR This is ready for ODDD approval.

[2022-04-20 14:27] cthomasONRR commented on #1344
@mcharg Approved

[2022-04-20 14:29] mcharg commented on #1544
@cthomasONRR This is ready for ODDD approval.

[2022-04-20 14:31] cthomasONRR commented on #1544
@mcharg Approved

[2022-04-20 14:53] lpgoldstein commented on #1852
@bowlenj What date do you want to put on this letter?

[2022-04-20 15:01] bowlenj commented on #1852
Lets do 04/18/2022, that's the date Yvette signed it.

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged

[2022-04-20 15:10] #1544 closed

[2022-04-20 15:11] #1344 closed, assigned to mcharg

[2022-04-20 15:11] #1434 closed

[2022-04-20 15:11] #1421 closed

[2022-04-20 15:11] #1414 closed

[2022-04-20 15:11] #1411 closed

[2022-04-20 15:11] #1407 closed

[2022-04-20 15:12] gingerhensley commented on #1847
Approved.

Thank you!

[2022-04-20 15:12] #1390 closed

[2022-04-20 15:12] #1395 closed, assigned to mcharg

[2022-04-20 15:12] #1399 closed

[2022-04-20 15:12] #1406 closed

[2022-04-20 15:12] #1420 closed

[2022-04-20 15:12] #1388 closed

[2022-04-20 15:13] #1386 closed

[2022-04-20 15:13] #1224 closed

[2022-04-20 15:18] mcharg commented on #1547
@cthomasONRR This is ready for ODDD approval.

[2022-04-20 15:20] mcharg commented on #1530
@cthomasONRR This is ready for ODDD approval.

[2022-04-20 15:20] cthomasONRR commented on #1547
@mcharg Approved

[2022-04-20 15:21] lpgoldstein commented on #1852
@bowlenj please review http://2017onrr/DearRep.htm

[2022-04-20 15:23] cthomasONRR commented on #1501
@mcharg Approved

[2022-04-20 15:26] cthomasONRR commented on #1530
@mcharg Are there supposed to be any buttons present in the accordions?

[2022-04-20 15:27] cthomasONRR commented on #1243
@mcharg Approved

[2022-04-20 15:30] #1243 closed

[2022-04-20 15:30] #1501 closed

[2022-04-20 15:31] #1547 closed

[2022-04-20 15:34] cthomasONRR commented on #1530
Maybe the Payment Options, because you have similar buttons on other troubleshooting pages. Otherwise I think it's find to not have buttons
![image](https://user-images.githubusercontent.com/72526208/164268162-488278a0-26c6-4dde-8967-e726c50c506a.png)

[2022-04-20 15:41] #1530 closed

[2022-04-20 15:48] #1520 closed

[2022-04-20 15:48] cthomasONRR commented on #1525
@mcharg Approved

[2022-04-20 15:51] mcharg commented on #1250
@cthomasONRR This is ready for ODDD approval. Created a separate issue for email icons.

[2022-04-20 15:52] lpgoldstein commented on #1852
@mcharg please confirm in CMS properly

Termination of Navajo Nation Royalty In-Kind Program (signed)

Termination of Navajo Nation Royalty In-Kind Program

https://dev-onrr-cms.app.cloud.gov/admin/content/reporter_letters
https://dev-onrr-frontend.app.cloud.gov/references/reporter-letters

[2022-04-20 15:52] cthomasONRR commented on #1250
@mcharg Approved... I think we already got SME approval on this?

[2022-04-20 15:54] mcharg commented on #1250
@cthomasONRR Yes, we did get SME approval.

[2022-04-20 15:54] #1250 closed

[2022-04-20 16:03] mcharg opened #1856 "Add next and back links to the detailed example tabs in valuation examples"

[2022-04-20 16:06] mcharg commented on #1336
@cthomasONRR This is ready for ODDD approval.

[2022-04-20 16:11] cthomasONRR commented on #1336
@mcharg Approved

[2022-04-20 16:14] mcharg commented on #1503
@cthomasONRR This is ready for ODDD approval. Created separate issues for adding email and phone icons.

[2022-04-20 16:17] mcharg commented on #1488
@cthomasONRR Ready for ODDD approval. Created separate issue for icons.

[2022-04-20 16:19] cthomasONRR commented on #1488
@mcharg Approved

[2022-04-20 16:19] mcharg commented on #1490
@cthomasONRR Ready for ODDD approval. Created a separate issue for icons.

[2022-04-20 16:20] cthomasONRR commented on #1503
@mcharg Is there still an issue out to make the tables look nicer? This one looks especially bad. Otherwise, approved :)
![image](https://user-images.githubusercontent.com/72526208/164277135-0a6e3f17-82f6-4d05-881e-1caeeb7e8bb2.png)

[2022-04-20 16:21] mcharg commented on #1491
@cthomasONRR Ready for ODDD approval. Created separate issue for icons.

[2022-04-20 16:22] cthomasONRR commented on #1490
@mcharg Approved

[2022-04-20 16:22] mcharg commented on #1493
@cthomasONRR Ready for ODDD approval. Created separate issue for icons.

[2022-04-20 16:23] cthomasONRR commented on #1491
@mcharg Approved

[2022-04-20 16:28] cthomasONRR commented on #1493
@mcharg Approved

[2022-04-20 16:28] cthomasONRR commented on #1494
@mcharg Approved

[2022-04-20 16:29] mcharg commented on #1484
@cthomasONRR Ready for ODDD approval. Created separate issue for icons. Already have SME approval.

[2022-04-20 16:31] cthomasONRR commented on #1484
@mcharg approved

[2022-04-20 16:32] mcharg commented on #1417
@cthomasONRR Ready for ODDD Approval. Already shows as approved in sheet, not sure why this issue wasn't closed.

[2022-04-20 16:35] #1417 closed

[2022-04-20 16:35] #1484 closed

[2022-04-20 16:35] #1494 closed

[2022-04-20 16:35] #1493 closed

[2022-04-20 16:35] #1491 closed

[2022-04-20 16:35] #1490 closed

[2022-04-20 16:35] #1488 closed

[2022-04-20 16:36] #1336 closed

[2022-04-20 16:36] #1525 closed

[2022-04-20 16:38] mcharg commented on #1619
We need this to finish the References pages with reporter letters.

[2022-04-20 16:45] bowlenj commented on #1852
This looks great, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exem

[2022-04-20 16:46] mcharg commented on #1643
This is blocking the majority of pages that aren't approved, so increasing priority to high.

[2022-04-20 16:46] mcharg commented on #1644
This is only needed for the GOMESA and Disbursements links on the homepage.

[2022-04-20 16:48] mcharg commented on #1646
I don't think we need this, since we have all the chapters uploaded as docs outside the collection.

[2022-04-20 16:48] #1646 closed

[2022-04-20 16:55] mcharg commented on #1338
@cthomasONRR This is ready for ODDD approval.

[2022-04-20 16:58] cthomasONRR commented on #1338
@mcharg Approved

[2022-04-20 17:21] mcharg commented on #1852
@lpgoldstein Looks good in CMS.

[2022-04-20 17:22] #1338 closed

[2022-04-20 17:24] lpgoldstein commented on #1852
@bowlenj It's live so I'm closing issue.

[2022-04-20 17:24] #1852 closed

[2022-04-20 17:28] mcharg commented on #1497
We need to talk with SME about what should go on this page. Should it be a topic in the event calendar?

[2022-04-20 17:32] mcharg opened #1857 "Review Getting Started pages with SMEs"

[2022-04-20 17:33] mcharg opened #1858 "Review Forms pages with SMEs"

[2022-04-20 17:34] mcharg opened #1859 "Review Payments pages with SMEs"

[2022-04-20 17:35] mcharg opened #1860 "Review Indian pages with SMEs"

[2022-04-20 17:36] mcharg opened #1861 "Review Reporting pages with SMEs"

[2022-04-20 17:37] mcharg opened #1862 "Review Valuation pages with SMEs"

[2022-04-20 17:38] mcharg opened #1863 "Review Handbooks with SMEs"

[2022-04-20 17:40] mcharg opened #1864 "Review About pages with SMEs"

[2022-04-20 17:40] mcharg opened #1865 "Review FOIA page with SMEs"

[2022-04-20 17:41] mcharg opened #1866 "Review webpages with RRM"

[2022-04-20 18:37] mcharg commented on #1850
Added to old site: http://2017onrr/reportpay/training/OGOR-Training-Videos.htm
And new site: https://dev-onrr-frontend.app.cloud.gov/references/training?tabs=training-videos,oil-gas-production&panel=liquid-verification-system-lvs-gas-verification-system-gvs

[2022-04-20 18:38] mcharg commented on #1850
Aaron approved via chat, so pushing live.

[2022-04-20 18:49] mcharg commented on #1850
Also added to troubleshooting.
https://dev-onrr-frontend.app.cloud.gov/reporting/production?tabs=troubleshooting&panel=i-need-to-understand-how-to-file-an-oil-gas-operators-report-ogor

[2022-04-20 18:53] mcharg opened #1867 "Fix spacing and missing icon in Production Troubleshooting"
Once we have the ability to link docs again.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/82f12f6f-48a7-4102-a807-37708a5f22f9)

[2022-04-20 18:55] mcharg commented on #1850
@lpgoldstein Do you want to review in the CMS?

[2022-04-20 19:51] mcharg commented on #1856
@cthomasONRR Isabel is going to work on this and will let you know when it's ready to review.

[2022-04-20 20:03] cthomasONRR commented on #1856
Sounds good!

[2022-04-20 20:12] mcharg commented on #1850
Live on the old site. https://www.onrr.gov/reportpay/training/OGOR-Training-Videos.htm

[2022-04-20 20:15] mcharg opened #1868 "Plan user interviews on the dev site"

[2022-04-20 20:25] Jared-ONRR opened #1869 "Update File on ONRR.gov"
Good Afternoon,

I have a file that needs updated on ONRR.GOV. The direct link for the file is as follows: https://www.onrr.gov/reportpay/PDFDocs/Gas_Plant_Listing.xlsx

The link is found on https://www.onrr.gov/ReportPay/references.htm in the Manuals and Guidance section as
•Gas Plant List for Onshore and Offshore (as of 8/13/2021).

The update file is attached (same file name) and needs the "as

[2022-04-20 20:34] cthomasONRR commented on #1869
@Jared-ONRR Hello, these changes are now on the dev site: http://2017onrr/reportpay/references.htm. Please review and give us approval to go live. Thanks, Christine.

[2022-04-20 21:09] Jared-ONRR commented on #1869
Good Afternoon Christine,

I don't see any issues with the file or text update, so I think you are good to go live.

Thank you very much,

Jared

Jared Good
Minerals Revenue Specialist - Onshore Production
Reference and Reporting Team 1B
Reference and Reporting Management
Office of Natural Resources Revenue
Office Phone: (303) 231-3319
Hours: 7:30 - 4:00  MTN time
________________________________

[2022-04-20 22:31] #1757 closed

[2022-04-20 22:38] jlouis-onrr commented on #1512
@mcharg, i pushed out a the contacts search and search results page.  still working on smoothing out the filters on the results page.  There's also some styling updates in this update.

[2022-04-21 00:57] lpgoldstein commented on #1850
@mcharg Looks good!

[2022-04-21 12:32] #1869 closed

[2022-04-21 13:00] #1850 closed

[2022-04-21 13:12] mcharg commented on #1512
@lpgoldstein Please test out the search.

[2022-04-21 13:12] mcharg commented on #1511
@lpgoldstein This is ready for ODDD approval.

[2022-04-21 14:07] lpgoldstein commented on #1512
@jlouis-onrr It doesn't seem like the "all categories" filter narrows down the search. Is it supposed to?

[2022-04-21 14:28] lpgoldstein commented on #1512
@mcharg I've searched by first, last, partial names, company names, partial company numbers, people that are listed only as backup contacts, people that are only supervisors. Different key words. you can't search by phone number or type in Supervisor to get those people.

[2022-04-21 15:03] mcharg commented on #1512
@jlouis-onrr Can you make it submit the search when you pick from the suggestions, so you don't have to hit the button?
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/e32ab794-a0c0-48a2-94d8-e1664aa40209)

[2022-04-21 15:03] lpgoldstein commented on #1511
@mcharg Approved!

[2022-04-21 15:03] mcharg commented on #1512
You can drop the suggested searches line below the field. That was just in the prototype because I couldn't make it work.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/cf3dc2c5-03c2-4f6b-91eb-694bae607d89)

[2022-04-21 15:04] jlouis-onrr commented on #1512
yes, that can be added.

[2022-04-21 15:04] #1511 closed

[2022-04-21 15:07] lpgoldstein commented on #1512
@mcharg Do we want people to be able to search by role? Is that important?

[2022-04-21 15:09] mcharg commented on #1512
@jlouis-onrr Can you add the page, tab, and accordion categories to the header bar in search results? We'll also want that for the contacts by company page.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/33bdf53b-b49f-4fb3-a8e4-3881d7783548)

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/8adcf9d7-53a6-4ecc-94dd-8724f94a5f99)

Note: The bars

[2022-04-21 15:11] #1805 closed

[2022-04-21 15:30] jlouis-onrr commented on #1512
for the category headers, we probably need @mojobnichols to style them

[2022-04-21 16:14] Maroyafaied commented on #1842
@cthomasONRR they also wanted to go to SME for "Trust Land"

[2022-04-21 16:17] cthomasONRR commented on #1842
@Maroyafaied Thanks, not sure who is SME is for that. Added it to the list, I had it marked in green on the spreadsheet.

[2022-04-21 16:20] #1843 closed

[2022-04-21 16:45] cthomasONRR commented on #1842
Maroya emailed DGO this follow-up:

Hi,

To summarize our meeting today, here is a list of terms that DG's will need to get approval from SMEs. Please let us know when a SME approves a term and we will make the changes accordingly. Thanks

•	Agreement Number (April Lockler)
•	Lease (April Lockler)
•	Net Royalty (Amy Lunt)
•	Processing Allowance (Amy Lunt)
•	Transaction Code (April Locker)
•	Transp

[2022-04-21 16:45] #1842 closed

[2022-04-21 16:49] cthomasONRR opened #1870 "Update glossary definitions in Collections document"

[2022-04-21 16:55] cthomasONRR opened #1871 "Add intro to CMS wiki"

[2022-04-21 17:04] #1851 closed

[2022-04-21 17:05] lpgoldstein commented on #1848
Sorry just seeing this

[2022-04-21 17:27] lpgoldstein commented on #1848
@ONRRamandagarrison Ready for your review: http://2017onrr/about/MOUs-and-SOPs.htm

[2022-04-21 19:21] ONRRamandagarrison commented on #1848
Lindsay,

Looks good! It's ready to be published.

Thank you,
Amanda

Amanda Garrison

IESC Supervisory Minerals Revenue Specialist
Indian Energy Service Center
P: (720) 595-2025
C: (720) 219-3272
***@***.***

From: lpgoldstein ***@***.***>
Sent: Thursday, April 21, 2022 11:27 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Garrison, Amanda T ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [

[2022-04-21 20:50] bbell0229 opened #1872 "Interest Calculator"
Hello,

On the Late Payment & Underpayment Interest Tables page, at https://onrr.gov/ReportPay/interest.htm, please make the following updates:
1.replace the interest Calculator Excel file below the Questions/Contact box on the page with the attached file.
[Interest_Calculator_Master.xlsx](https://github.com/ONRR/onrr.gov-site/files/8534991/Interest_Calculator_Master.xlsx)

Thank you,

Brittney

[2022-04-21 21:39] Maroyafaied commented on #1872
@bbell0229 please review http://2017onrr/reportpay/interest.htm

[2022-04-21 21:40] lpgoldstein commented on #1848
@ONRRamandagarrison It's live!

[2022-04-21 21:40] #1848 closed

[2022-04-21 21:49] ONRRamandagarrison commented on #1848
Yay! Thank you so much!

Amanda Garrison

IESC Supervisory Minerals Revenue Specialist

IESC Mineral Services, Leasing, and Production

Indian Energy Service Center |

Office of Natural Resources Revenue

13922 Denver West Parkway, <x-apple-data-detectors://10/0>

Building 54, Suite 300 <x-apple-data-detectors://10/0>

Lakewood, CO 80401<x-apple-data-detectors://10/0>

P:(720) 595-2025

C:(720) 21

[2022-04-22 15:14] bbell0229 commented on #1872
Looks good.

Brittney A. Bell
Staff Accountant, Financial Services
Revenue, Reporting, & Compliance Management
Office of Natural Resources Revenue
Bldg 85, Denver Federal Center
Denver, CO 80225
1-800-433-9801 x 3381
303.231.3381
***@***.******@***.***>

From: Maroyafaied ***@***.***>
Sent: Thursday, April 21, 2022 3:40 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Bell, Brittney A ***@***.***>; Ment

[2022-04-22 16:17] lpgoldstein commented on #1872
@bbell0229 Should be live soon. I'll close out the issue once I can see the change on the live site.

[2022-04-22 16:33] mcharg opened #1873 "Clickable prototype for ONRResource 508 compliance page"
And come up with icons.

[2022-04-22 18:24] #1872 closed

[2022-04-22 20:19] mcharg commented on #1683
Next step is #1873 for a clickable prototype.

[2022-04-22 20:19] #1683 closed

[2022-04-25 13:18] cthomasONRR commented on #1870
I took the edits within this spreadsheet: https://teams.microsoft.com/l/file/1872EBEB-B9FC-4205-BEC8-52A8CEFA9769?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FCMS%2FCollections%2FGlossary%2FONRR-gov%20Glossary%20DGO%20Input%202022-04-15.xlsx&baseUrl=https%3A%2F%2Fdoimspp.sharepo

[2022-04-25 14:15] cthomasONRR commented on #1871
@mcharg want to review?

https://github.com/ONRR/onrr.gov-site/wiki/CMS-User-Guide#Introduction

![image](https://user-images.githubusercontent.com/72526208/165107358-350b2675-f444-4f6f-894a-ec7f27633444.png)

[2022-04-25 14:21] cthomasONRR commented on #1871
@mcharg Thanks- fixed the typo and moved the intro to be before the table of contents

![image](https://user-images.githubusercontent.com/72526208/165108555-63a0fd87-f982-4b2a-af0a-5ee02921cac4.png)

[2022-04-25 14:23] #1871 closed

[2022-04-25 14:36] Maroyafaied commented on #1873
@mcharg looks good

[2022-04-25 17:33] cthomasONRR commented on #1844
I checked just now, and there are no additional updated documents in the "508 Done" folder.

[2022-04-25 19:16] #1873 closed

[2022-04-25 20:25] mcharg opened #1874 "Update collections spreadsheets with new urls"
The current spreadsheets link to the old site. We need to update the spreadsheets with the links to the pdfs on the new site.

[2022-04-25 20:25] mcharg commented on #1874
@Maroyafaied Who do you want to work on this?

[2022-04-25 20:29] mcharg commented on #1874
Spreadsheet location: https://doimspp.sharepoint.com/:f:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/CMS/Collections/Handbooks?csf=1&web=1&e=4UqMxf

[2022-04-25 20:30] mcharg commented on #1874
We should discuss in synch up tomorrow to make sure we're putting in what @jlouis-onrr needs for the urls.

[2022-04-25 21:54] Maroyafaied commented on #1865
Scheduled for April 27th at 10:30 am MT.

[2022-04-25 22:01] Maroyafaied commented on #1859
Scheduled April 28th at 8:30am MT.

[2022-04-25 22:16] Maroyafaied commented on #1860
Scheduled April 28th at 9am MT.

[2022-04-26 14:56] lpgoldstein commented on #1874
@mcharg I can work on this

[2022-04-26 15:42] cthomasONRR commented on #1844
@Maroyafaied @mcharg In the spreadsheet linked above, there are 40 more documents that need fixing. But the folder linked above only has 14 documents in need of fixing. Do I have to hunt down the addition 26 and add them to the folder?

[2022-04-26 15:44] mcharg commented on #1844
I don't know anything about the folder. I think @Maroyafaied created it.

[2022-04-26 15:44] cthomasONRR commented on #1844
@mcharg I'm correcting the unbundling ones and updating them in the Y and Z drives. They are just not in the CMS yet, that's why I'm flagging them.

[2022-04-26 16:54] Maroyafaied opened #1875 "Upload 508 compliant GoMESA press release"

[2022-04-26 17:23] cthomasONRR commented on #1844
I corrected the following 10 files myself. The following files are updated on onrr.gov and have update tags in the CMS.

- [ ] [FY2020_Disbursements_North_Dakota_Press_Release.pdf](https://github.com/ONRR/onrr.gov-site/files/8565515/FY2020_Disbursements_North_Dakota_Press_Release.pdf)
- [ ] [FY2020_Disbursements_Wyoming_Press_Release.pdf](https://github.com/ONRR/onrr.gov-site/files/8565516/FY2020_

[2022-04-26 17:28] #1874 closed

[2022-04-26 17:34] Maroyafaied opened #1876 "Consolidate findings for eCommerce & WebCenter portal"
Look at previous user research notes for findings on ONRR's reporting systems to share with ONRR's IT modernization manager.

[2022-04-26 18:47] mcharg commented on #1864
Reviewed wireframes with: Kimbra Davis, Howard Cantor, Nathan Brannberg, Heidi Murphy, Nichelle Rogers

[2022-04-26 18:47] mcharg commented on #1857
We didn't review these separately as wireframes. I wonder if we should just review with other RRM stuff?

[2022-04-26 18:48] mcharg commented on #1858
Also didn't review these separately as wireframes.

[2022-04-26 18:50] mcharg commented on #1858
Maybe we cover with RV and RRM as part of reporting and valuation page reviews?

[2022-04-26 18:54] mcharg opened #1877 "Make search fields on main Contacts page and Search Results page consistent"
Typing a word on the main contacts page that isn't a direct item in the list, returns no results.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/58a81e26-c678-406c-96ec-2c1ade47eb30)
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/058e37d7-fd2a-4823-a637-d207f9b0fd64)

Typing in the same word on the results page filters the results.
![image.pn

[2022-04-26 18:55] mcharg commented on #1512
Created #1877 for an issue with the search fields on the main contacts page and search results pages behaving differently.

[2022-04-26 18:57] mcharg opened #1878 "Separate out category levels on search results filters"
We don't need to filter for albequerque until you've filtered for Indian Services and FIMO.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/c54ddce2-9d9d-4917-b554-fc03d4a6a03c)

Wireframe:
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/08196c01-4bfd-4399-ba7e-b85da0b5f1c7)

[2022-04-26 18:57] mcharg commented on #1512
Created #1878 to split out the levels of categories into separate filters.

[2022-04-26 19:00] mcharg commented on #1512
Looks like the above issues are all addressed. Created new issues for two new items I noticed.

[2022-04-26 19:00] mcharg commented on #1512
@lpgoldstein Do you want to review one more time before closing?

[2022-04-26 19:01] cthomasONRR commented on #1844
I corrected the following 10 files myself. The following files are updated on onrr.gov and have update tags in the CMS.

- [ ] [2020_GOMESA_MS.pdf](https://github.com/ONRR/onrr.gov-site/files/8566103/2020_GOMESA_MS.pdf)
- [ ] [2020_GOMESA_TX.pdf](https://github.com/ONRR/onrr.gov-site/files/8566104/2020_GOMESA_TX.pdf)
- [ ] [20131119.pdf](https://github.com/ONRR/onrr.gov-site/files/8566105/20131119

[2022-04-26 19:41] mcharg opened #1879 "Figure out how to upload a spreadsheet for production contacts"
We met with @codyeckstein about being able to upload a spreadsheet pulled out of Peoplesoft for weekly production contact updates.

[2022-04-26 19:58] Maroyafaied opened #1880 "April Analytics"

[2022-04-26 20:16] cthomasONRR commented on #1844
I corrected the following 9 files myself. The following files are updated on onrr.gov and have update tags in the CMS. I've reached my limit in 508 remediation knowledge- we need Christina's help on the remaining 10. We might need to go back to SMEs to see if they have better documents, because the table header errors are very time-consuming.

- [ ] [Enterprise Carlsbad Transportation System and D

[2022-04-26 20:28] lpgoldstein commented on #1512
@mcharg Looks good.

[2022-04-26 20:29] #1512 closed

[2022-04-26 20:45] Maroyafaied commented on #1876
https://doimspp.sharepoint.com/:x:/r/sites/NRRD/_layouts/15/Doc.aspx?sourcedoc=%7BAA698DB3-E8F9-428C-A868-4E7018B320A5%7D&file=OtherSystemFindings.xlsx&action=default&mobileredirect=true

[2022-04-27 12:43] cthomasONRR commented on #1844
@Maroyafaied Should I email both Carrie and Christina as a follow-up? Here is a draft email:

Hi Carrie and Christina,

I wanted to follow up on the GitHub Issue # [# 1768](https://github.com/ONRR/onrr.gov-site/issues/1768) that Maroya created for you.

I had some time last week and earlier this week to complete most of the documents that were showing various table errors in the Adobe 508 accessib

[2022-04-27 12:51] Maroyafaied commented on #1844
@cthomasONRR Yes, please go ahead and email them. Thanks

[2022-04-27 13:01] cthomasONRR commented on #1844
email sent

[2022-04-27 13:53] merrellc opened #1881 "OGOR CSV Record Layout"
Hello, please replace the current OGOR CSV record layout with the attached file at
https://onrr.gov/reportpay/production-reporting.htm.

Thank you!

[_OGOR-REPORTING-INSTRUCTIONS-CSV-FORMAT 20220401 (1).pdf](https://github.com/ONRR/onrr.gov-site/files/8572589/_OGOR-REPORTING-INSTRUCTIONS-CSV-FORMAT.20220401.1.pdf)

[2022-04-27 13:58] cthomasONRR commented on #1881
@merrellc

Good morning, this new file is now on the dev site: http://2017onrr/reportpay/production-reporting.htm. Please review and give us your approval to go live.

Thanks,
Christine

[2022-04-27 14:32] mcharg opened #1882 "Unable to create a list of links"

[2022-04-27 14:50] merrellc commented on #1881
Approve to go live.  Thank you!

Kind Regards,
​Candace Merrell
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3517
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential

[2022-04-27 15:16] cthomasONRR commented on #1881
@merrellc Great! The changes are now live: https://www.onrr.gov/reportpay/production-reporting.htm. Please remember to use "Ctrl+F5" to refresh the page. Closing this issue now. Thanks, Christine.

[2022-04-27 15:16] #1881 closed

[2022-04-27 16:12] mcharg opened #1883 "Update FOIA link on live site"
Replace DOI FOIA handbook link with FOIA guidance: https://www.doi.gov/foia/news/guidance/

[2022-04-27 16:18] cthomasONRR commented on #1883
@mcharg Ready for your review: http://2017onrr/foia/index.htm

[2022-04-27 16:20] mcharg commented on #1883
@cthomasONRR Looks good.

[2022-04-27 16:21] mcharg opened #1884 "Review capitalization in Contacts"

[2022-04-27 16:30] cthomasONRR commented on #1870
Just waiting on final response from RV/Amy Lunt. I think it's safe to keep those 3 terms as-is, but I'll wait to close this issue until they respond.

[2022-04-27 16:40] cthomasONRR opened #1885 "Make a new redirect for old/broken link"
At https://www.ecfr.gov/current/title-30/chapter-XII/subchapter-A/part-1218/subpart-H/section-1218.560, the following web link is listed (https://www.onrr.gov/FM/Forms/default.htm) which is now a broken link. We need it to redirect to https://www.onrr.gov/reportpay/Forms/index.htm.

[2022-04-27 17:34] cthomasONRR commented on #1870
RV is keeping net royalty and processing allowance as-is. They are making the following changes to transportation allowance. I will make this definition update in the spreadsheets then close this issue.

[2022-04-27 17:39] #1870 closed

[2022-04-27 17:47] mcharg commented on #1885
@cthomasONRR Looks good.

[2022-04-27 17:48] cthomasONRR commented on #1885
@mcharg Is this the correct spreadsheet to update?

![image](https://user-images.githubusercontent.com/72526208/165588263-82351c0a-4304-480a-92c9-469a289095ce.png)

[2022-04-27 17:53] mcharg commented on #1885
@cthomasONRR I think so, but not sure what the 301 redirect status sheet is and how they relate to each other.

[2022-04-27 17:57] cthomasONRR commented on #1885
I updated the Redirects spreadsheet, not sure how to update the 301 redirect status spreadsheet

[2022-04-27 19:03] cthomasONRR commented on #1875
@lpgoldstein Do we need to make this Word doc a 508-compliant PDF? Or is Chris doing that?
![image](https://user-images.githubusercontent.com/72526208/165600429-8681368e-5153-4ead-a1d8-cf156a4d273c.png)

[2022-04-27 19:58] kmhtran commented on #1797
Been having issues with Visio so I'll send a screenshot for now and add my document in the ODDD sharepoint.
@Maroyafaied @mcharg @mojobnichols @jlouis-onrr Here's my understanding of the workflow I gathered from the meetings and Maroya's visuals. I tried to keep it straightforward with the different status changes represented by arrows, and the viewing ability on the Dev/Staging/Production sites o

[2022-04-27 20:21] mcharg commented on #1797
@kmhtran Makes sense to me.

[2022-04-27 21:22] bowlenj opened #1886 "Mineral Revenue Reporter Handbook Chapter 4 Update"
Please replace the existing Chapter 4 at the following page, under Chapters and Table of Contents, with the attached - https://www.onrr.gov/reportpay/Handbooks/revenue-handbook/index.htm
[Chapter 4 (Final Replacement) 11-15 update.pdf](https://github.com/ONRR/onrr.gov-site/files/8577853/Chapter.4.Final.Replacement.11-15.update.pdf)

[2022-04-27 21:37] bowlenj opened #1887 "Mineral Revenue Reporter Handbook Update"
Please replace the existing Mineral Revenue Reporter Handbook - View Complete Handbook with the attached on the following page - https://www.onrr.gov/reportpay/Handbooks/revenue-handbook/index.htm
[RRM-Printable.Minerals.Revenue.Handbook.pdf](https://github.com/ONRR/onrr.gov-site/files/8577948/RRM-Printable.Minerals.Revenue.Handbook.pdf)

[2022-04-27 22:14] Maroyafaied commented on #1887
@lpgoldstein please update this doc in the current website, and mark this doc as "update" in the cms. @lpgoldstein @mcharg we'll also have to make sure that page numbers didn't change for the collection Jerome is building.

[2022-04-28 02:35] lpgoldstein commented on #1887
@bowlenj This is ready for your review: http://2017onrr/reportpay/Handbooks/index.htm

[2022-04-28 03:31] lpgoldstein commented on #1887
@mcharg @Maroyafaied I started checking the page numbers and will finish in the morning.

[2022-04-28 12:20] bowlenj commented on #1887
This looks great, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exem

[2022-04-28 12:30] cthomasONRR commented on #1886
@bowlenj Good morning, this handbook chapter is updated on the dev site: http://2017onrr/reportpay/Handbooks/revenue-handbook/index.htm. Please give us your approval to go live. Thanks! Christine

[2022-04-28 12:30] #1885 closed

[2022-04-28 12:45] cthomasONRR commented on #1844
@Maroyafaied I'm thinking about emailing Jessica Bowlen and whoever else in RRM that might be able to resolve April Lockler's docs. Here's a draft email:

"Hi Jessica,

As you know, the most recent Adobe update is now flagging table header errors. After talking with Sid Sharma, all table errors need to be remediated. We've been able to correct the majority of these, but there are 4 docs within RRM

[2022-04-28 12:48] Maroyafaied commented on #1844
@cthomasONRR please include Aaron Lindquist and Shannon H in the email. Thanks

[2022-04-28 12:53] cthomasONRR commented on #1844
email sent

[2022-04-28 13:02] bowlenj commented on #1886
This looks great, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exem