[2021-04-06 18:13] #595 closed

[2021-04-06 18:48] bowlenj commented on #631
Looks great!  Thank you 😊

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resource Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from d

[2021-04-06 18:57] Maroyafaied commented on #263
@mcharg these 3 press releases links don't work, in year 2010. They don't work in the live site either so it's not something you did.
![image](https://user-images.githubusercontent.com/40175688/113764070-b5f80f00-96d7-11eb-9ad2-a22793975909.png)

[2021-04-06 19:31] mcharg opened #643 "Remove broken press release links"
These three links in 2010 are broken.

http://www.boemre.gov/offshore/PDFs/GOMESAFY2010Final.pdf
http://www.onrr.gov/FM/PDFDocs/20091106.pdf
http://www.onrr.gov/AssetManagement/PDFDocs/FY09RIKAnnualReport.pdf

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/8bfd8f62-afea-402f-918c-a790ffe51903)

[2021-04-06 19:31] mcharg commented on #263
@Maroyafaied I created #643 to fix the broken links, since we need to figure out where they're supposed to link.

[2021-04-06 19:33] mcharg commented on #263
Pushed to the live site.

[2021-04-06 19:33] #263 closed

[2021-04-06 19:46] mcharg commented on #631
Pushed to the live site.

[2021-04-06 19:46] #631 closed

[2021-04-06 20:47] #633 closed

[2021-04-06 20:47] mcharg commented on #633
Approved and pushed to the live site.

[2021-04-07 14:31] mcharg commented on #576
Kim said they're both the wrong files, so we need to get the corrected file.

[2021-04-07 14:31] mcharg commented on #577
Kim said they're both the wrong files, so we need to get the corrected file.

[2021-04-07 17:01] mcharg commented on #492
@Maroyafaied This along with fixing capitalization in links are on dev.  Let me know if it looks good to push live (copying every page to the live folder).  For the links, I did a find and replace on capitalization, so not sure what to check, but let me know if you find any broken links.
http://2017onrr/

[2021-04-07 17:21] #504 closed

[2021-04-07 17:21] #503 closed

[2021-04-07 17:21] #606 closed

[2021-04-07 18:56] Maroyafaied commented on #492
@mcharg the logo and links are good but I noticed some of the symbols are missing, I'm not sure if it's anything related to changes made in this issue.
![image](https://user-images.githubusercontent.com/40175688/113919333-b7413e80-97a0-11eb-99b4-3fafe90636f2.png)

[2021-04-07 19:04] mcharg commented on #492
@Maroyafaied Those are always missing in dev for me, but show up on the live site.

[2021-04-07 19:06] Maroyafaied commented on #492
@mcharg ok , you're good to push live.

[2021-04-07 19:51] mcharg commented on #492
Pushed live

[2021-04-07 19:51] #492 closed

[2021-04-07 19:51] mcharg commented on #642
Approved and pushed live.

[2021-04-07 19:51] #642 closed

[2021-04-07 19:51] mcharg commented on #636
Pushed live

[2021-04-07 19:51] #636 closed

[2021-04-07 19:52] mcharg commented on #101
Pushed live

[2021-04-07 19:52] #101 closed

[2021-04-07 20:05] Maroyafaied commented on #639
@lisareimer please review http://2017onrr/ReportPay/contacts.htm

[2021-04-07 20:14] Maroyafaied commented on #472
I have not heard back from this team. We might want to try a different approach by sending the prototype and a list of questions we have for them.

[2021-04-07 20:56] mcharg opened #644 "March analytics"

[2021-04-08 10:55] LisaReimer commented on #639
Perfect!  Thank  you!
One more thing...is it possible to move Michael Nestlehut's name up to the same line as the letter icon  (see below)?  If not, no worries.

[cid:559d7e7e-e03c-45de-bb3a-7a4b0288bf4f]

...

Respectfully,

Lisa Reimer
Minerals Revenue Specialist - Production Analyst
Reference, Royalty and Production, Team 4B
Reference and Reporting Management
Office of Natural Resources Revenue

[2021-04-08 14:30] boices opened #645 "Update Indian Major Portion Prices on onrr.gov"
Good morning,

We need to update the Major Portion Pricing on onrr.gov. The relevant data is the section with the "05/31/2021" due date on the "Data for ONRR.gov" shared spreadsheet on our OneDrive. Please let me know if you have any questions!

Thanks,
Sean

@sudarr

[2021-04-08 14:54] sudarr commented on #645
I just wanted to note that this is for the Gas Major Portion prices page.

Robert J Sudar
Manager, Market & Spatial Analytics
Office of Natural Resources Revenue
***@***.***
Office: 303-231-3511, Cell: 720-492-6420
________________________________
From: boices ***@***.***>
Sent: Thursday, April 8, 2021 8:31 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Sudar, Robert J ***@***.***>; Mention ***@***.**

[2021-04-08 18:07] #607 closed

[2021-04-08 18:07] #523 closed

[2021-04-08 18:16] Maroyafaied commented on #400
Go with Filester.

[2021-04-08 18:16] #400 closed

[2021-04-08 20:01] mcharg commented on #620
@Baymatt Here's the list of Federal Register Notices.  I was wrong when I said there were 28.  There were only 28 in our accessibility tracking sheet, but 131 in the content audit.  That means most of them had 0 clicks in the last year.

I left the ones that already link to the Federal Register, so you can see if there's a pattern in the links.  They are marked as External in the type column.

Spr

[2021-04-08 20:08] mcharg commented on #620
@Baymatt This beta Federal Register search, but be easier to find the links.
https://ecfr.federalregister.gov/

[2021-04-08 20:09] mcharg commented on #620
And here's a page on the Federal Register for ONRR.
https://www.federalregister.gov/agencies/natural-resources-revenue-office

[2021-04-08 20:29] Maroyafaied commented on #639
@LisaReimer I tried but unfortunately the email address is too long and doesn't fit. I'll put the changes live , you should see it in 30 min. Thanks

[2021-04-08 20:29] #639 closed

[2021-04-08 20:48] LisaReimer commented on #639
Thank you!!  🙂

Respectfully,

Lisa Reimer
Minerals Revenue Specialist - Production Analyst
Reference, Royalty and Production, Team 4B
Reference and Reporting Management
Office of Natural Resources Revenue
Office Phone:  214-640-9049
Fax:  303-445-9547

Please note **ONRR is bound by lease terms and therefore, pursuant to 30 CFR:  For production reporting of oil, gas and geothermal resources on Fe

[2021-04-09 15:06] boices opened #646 "Update NYMEX prices on onrr.gov"
Good morning,

Latest NYMEX prices are attached, thank you!

[NYMEX032021.xlsx](https://github.com/ONRR/onrr.gov-site/files/6286662/NYMEX032021.xlsx)

@sudarr

[2021-04-09 15:43] Maroyafaied commented on #645
@boices please review the dev site. http://2017onrr/valuation/MonMajPP.htm

[2021-04-09 15:57] Maroyafaied commented on #646
@boices please review http://2017onrr/valuation/NYMEX.htm

[2021-04-09 16:24] boices commented on #645
Prices look great-thank you!

Sean Boice
Economist
Office of Natural Resources Revenue

From: Maroyafaied ***@***.***>
Sent: Friday, April 9, 2021 9:44 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Boice, Sean P ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] Update Indian Major Portion Prices on onrr.gov (#645)

 This email has been received from outside of DOI - Use

[2021-04-09 16:24] boices commented on #646
Those are perfect-thanks!

Sean Boice
Economist
Office of Natural Resources Revenue

From: Maroyafaied ***@***.***>
Sent: Friday, April 9, 2021 9:58 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Boice, Sean P ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] Update NYMEX prices on onrr.gov (#646)

 This email has been received from outside of DOI - Use caution before cli

[2021-04-09 18:43] mcharg opened #647 "Remove Safety Net Report (ONRR-4411) from solids page"
It's an oil and gas form.

[2021-04-09 19:13] mcharg commented on #596
@Maroyafaied These are ready to review.
https://qmcq5k.axshare.com/#id=caluw3&p=paying

[2021-04-09 20:08] Baymatt opened #648 "Duplicate FRN numbers on onrr.gov"
There are two FRNs called FR 20574. I believe the one occurring on July 18, 2012 should be changed to FR 42230 but the link is correct. https://www.federalregister.gov/documents/2012/07/18/2012-17511/indian-oil-valuation-negotiated-rulemaking-committee

<img width="771" alt="Screen Shot 2021-04-09 at 1 05 49 PM" src="https://user-images.githubusercontent.com/43329595/114235026-6c583000-9934-11eb-8

[2021-04-12 13:29] mcharg commented on #628
@jpetersononrr dear-reporter-letter-30-june-2020.pdf is also listed on the issue to be removed.  Should it be removed or replaced?

[2021-04-12 14:10] Maroyafaied commented on #646
This is live.

[2021-04-12 14:10] #646 closed

[2021-04-12 14:12] Maroyafaied commented on #645
This is live.

[2021-04-12 14:12] #645 closed

[2021-04-12 14:50] Maroyafaied opened #649 "Remove 26 presentation"
Christina will send us an email confirming we can remove these presentations after confirming with owners. https://onrr.gov/about/presentations.htm

[2021-04-12 15:16] Maroyafaied commented on #596
@mcharg looks good

[2021-04-12 15:17] #596 closed

[2021-04-12 15:39] mcharg commented on #648
@Maroyafaied This is fixed in dev for you to review.
http://2017onrr/Laws_R_D/FRNotices/index.htm

[2021-04-12 15:53] Maroyafaied commented on #648
@mcharg looks good. Thanks @Baymatt for catching that.

[2021-04-12 17:22] mcharg opened #650 "Broken link to FRN"
On this page: https://www.onrr.gov/Laws_R_D/FRNotices/ICR0107.htm

It's not in our list of FRNs, so we need to find the correct link.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/f2e32eca-587b-44ff-9369-14fc36c4336b)

[2021-04-12 17:28] penvosej opened #651 "Requesting update to ONRR.gov for Indian Index Zones"
Please update the Indian Index Zone prices for April on ONRR.gov. The data has been updated with the newest prices in the Data for ONRR.gov Excel spreadsheet.

@sudarr

[2021-04-12 18:16] Maroyafaied commented on #474
Waiting to hear from Heidi Murphy.

[2021-04-12 18:19] Maroyafaied commented on #638
Send Kim Werner email of wireframes and got feedback. Need to contact Matt Collins

[2021-04-12 18:40] jlouis-onrr opened #652 "Create cms homepage layout"

[2021-04-12 18:40] jlouis-onrr opened #653 "Create cms homepage layout"

[2021-04-12 18:45] #653 closed

[2021-04-12 19:17] mcharg commented on #472
@Baymatt In addition to FRNs, there are also Rulemakings and Information Collection Requests.

Can you take a look at a few of each type and see if there is a replacement page on regulations.gov that we can link out to?

Rulemakings: https://www.onrr.gov/Laws_R_D/index.htm
Good test case ONRR rulemaking: https://www.onrr.gov/Laws_R_D/FRNotices/AA05.htm
Good test case MMS rulemaking: https://www.on

[2021-04-12 19:20] mcharg opened #654 "Updates to wireframes based on IESC feedback"
- [x] MOUs & SOPs page location
- [x] Contacts categories
- [x] Referrals page changes

[2021-04-12 19:35] Maroyafaied commented on #628
@jpetersononrr only 4 documents passed the accessibility checks, I send you and Noelle an email. Please let us know once the other documents are corrected.

[2021-04-12 19:48] ONRRamandagarrison opened #655 "Updates to onrr.gov - IESC referral form"
Need to remove current referral form link here:  https://www.onrr.gov/IndianServices/iesc-referrals.htm

**Need to replace with link to digital form:  Below is the code for embedding**

<iframe width="640px" height= "480px" src= "https://forms.office.com/Pages/ResponsePage.aspx?id=urWTBhhLe02TQfMvQApUlAG9FkklRGNHoggEpBcwhwpUNlQ2VFZOOFUxRDdEUk80TDBCNVI2RDBFMyQlQCN0PWcu&embed=true" frameborder= "0"

[2021-04-12 20:38] mcharg commented on #650
The link works in dev, but not on the live site.  Need to find the link to the FRN for this doc.
http://2017onrr/Laws_R_D/FRNotices/PDFDocs/65395.pdf

[2021-04-12 20:42] mcharg commented on #620
@Maroyafaied I updated the links to the FRNs from 2018-2021 on the following pages in dev, if you want to start checking. Will continue going through the list tomorrow.

http://2017onrr/Laws_R_D/FRNotices/index.htm
http://2017onrr/Laws_R_D/FRNotices/ICR0103.htm
http://2017onrr/Laws_R_D/FRNotices/ICR0087.htm
http://2017onrr/Laws_R_D/FRNotices/ICR0162.htm
http://2017onrr/Laws_R_D/FRNotices/ICR0107.h

[2021-04-12 20:48] Maroyafaied commented on #651
@penvosej please review http://2017onrr/valuation/allzones.htm

[2021-04-12 20:49] mcharg commented on #650
I think this is the correct link:
https://www.federalregister.gov/documents/2020/10/15/2020-22773/agency-information-collection-activities-collection-of-monies-due-the-federal-government-and

[2021-04-12 20:58] mcharg commented on #650
@Maroyafaied This is updated in dev.  Let me know if it looks good to post live.
http://2017onrr/Laws_R_D/FRNotices/ICR0107.htm

[2021-04-12 20:59] mcharg commented on #647
Updated in dev and emailed the requestor to review.
http://2017onrr/reportpay/solids.htm

[2021-04-12 21:13] penvosej commented on #651
Thanks, Maroya! Can you do me just one small favor? Can you have the January price for the Northern Rocky Mountains read "$2.20" instead of "$2.2"? Otherwise, everything looks great!

From: Maroyafaied ***@***.***>
Sent: Monday, April 12, 2021 2:49 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Penvose, Jessica M ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] Requestin

[2021-04-12 21:57] Maroyafaied commented on #651
I made that change, I'll make it live.

[2021-04-12 21:59] penvosej commented on #651
Perfect; thanks!

From: Maroyafaied ***@***.***>
Sent: Monday, April 12, 2021 3:57 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Penvose, Jessica M ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] Requesting update to ONRR.gov for Indian Index Zones (#651)

 This email has been received from outside of DOI - Use caution before clicking on links, opening attachments, or

[2021-04-12 22:16] Maroyafaied commented on #651
This is live

[2021-04-12 22:16] #651 closed

[2021-04-12 22:18] Maroyafaied commented on #650
@mcharg looks good

[2021-04-12 23:13] damionschulte opened #656 "March 2021 IBMP Prices"
All, I have updated the Data for ONRR sheet with the March 2021 IBMP Prices.  Can you please prepare them to be published?  Thank you

@sudarr

[2021-04-13 14:41] Maroyafaied commented on #656
@damionschulte please review http://2017onrr/valuation/IndianOilIBMP.htm

[2021-04-13 16:50] Maroyafaied commented on #620
@mcharg all the above look good. Thanks

[2021-04-13 17:33] damionschulte commented on #656
These look great!  Thank you all so much.

From: Maroyafaied ***@***.***>
Sent: Tuesday, April 13, 2021 8:42 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Schulte, Damion C ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] March 2021 IBMP Prices (#656)

 This email has been received from outside of DOI - Use caution before clicking on links, opening attachments, or respo

[2021-04-13 18:19] Maroyafaied commented on #656
This is live

[2021-04-13 18:19] #656 closed

[2021-04-13 19:17] mcharg commented on #620
@Maroyafaied The 2011-2017 ones that are linked on the FRN page are now updated on the following pages in dev.

http://2017onrr/Laws_R_D/FRNotices/index.htm
http://2017onrr/valuation/IndVal.htm
http://2017onrr/reportpay/Handbooks/indian-payor-handbook-chapter-2.htm (2.5.5.1 tab)
http://2017onrr/valuation/allzones.htm
http://2017onrr/about/NewsReleases.htm (2 links to workshops Sep 9, 2011 - these

[2021-04-13 20:44] mcharg commented on #620
@Baymatt Turns out not all of the FRNs are linked from the FRN page.  I added a bunch more to the spreadsheet that we need Federal Register links for and more will be coming.

[2021-04-13 21:16] Maroyafaied commented on #620
@mcharg all look good, I wonder if the press release ones will show once you push live because when I made updates last time they also didn't show in dev and only when I pushed live.

[2021-04-13 21:21] Maroyafaied commented on #628
@mcharg I'm adding Jodi's email as a part of this issue.
"We in error requested that this file be removed:  https://www.onrr.gov/PDFDocs/dear-reporter-letter-30-june-2020.pdf. It is not fully compliant, but as it has been signed and time stamped it cannot be edited to be compliant.  Based on my discussions with Sid, an acceptable alternative is to also post a compliant version of a document labele

[2021-04-14 01:19] Baymatt commented on #620
@mcharg @Maroyafaied The second batch of links are done. There was an odd one where the pdf on the Federal Register website does not match the pdf linked on the spreadsheet. I've added the relevant links below.

60-Day Agency Information Collection - (65 FR 47802--August 3, 2000) https://www.onrr.gov/Laws_R_D/FRNotices/PDFDocs/47802.pdf

https://www.federalregister.gov/documents/2000/08/03/00-1965

[2021-04-14 12:36] mcharg commented on #620
@Baymatt @Maroyafaied Thank you both!

[2021-04-14 12:45] mcharg commented on #628
@Maroyafaied @jpetersononrr I updated the reporter letter in dev.  Let me know if you like what I did for the accessible version and if it's good to post to the live site.
http://2017onrr/DearRep.htm

[2021-04-14 12:56] mcharg opened #657 "Remove Reporter Letters tab from homepage"
We haven't been updating the XML file when we update the reporter letters page, so it's out of date, and very few people click on this tab on the homepage.

[2021-04-14 12:57] mcharg commented on #657
It'll also be more maintenance to keep if we end up doing second accessible versions for all the reporter letters.

[2021-04-14 12:59] jpetersononrr commented on #628
That looks good to me!  Can you make sure the link on the reporter letters section on the home page works as well?  Thanks!!

​Jodie Peterson
Minerals Revenue Specialist
Office of Natural Resources Revenue
***@***.***
(303)231-3719

Royalty Valuation - Consistent Answers to Complex Questions

From: mcharg ***@***.***>
Sent: Wednesday, April 14, 2021 6:46 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc:

[2021-04-14 13:02] mcharg commented on #628
@jpetersononrr I will fix the link on the homepage.  I'll see if we can get a second link on that for the accessible version.  If not, we may take that tab out of the homepage.  Very few people click on it, anyway.

[2021-04-14 13:08] mcharg commented on #648
Pushed live.

[2021-04-14 13:08] #648 closed

[2021-04-14 13:08] mcharg commented on #650
Pushed live.

[2021-04-14 13:08] #650 closed

[2021-04-14 14:41] mcharg commented on #628
@jpetersononrr The reporter letter is live.  The link is fixed on the homepage, but I didn't see a way to add the accessible version to that list.  Will discuss removing that tab with Maroya.

[2021-04-14 14:51] mcharg commented on #628
@jpetersononrr The 4 docs marked as accessible above have been replaced.  It might be a bit before they show up on the live site.

[2021-04-14 17:35] mcharg commented on #640
@Maroyafaied Do you have any feedback on this before I send it to the enforcement team?
https://qmcq5k.axshare.com/#id=5w0f4w&p=enforcement

[2021-04-14 17:51] jpetersononrr opened #658 "Guidance alert box removal"
Hi!

Can you remove the executive order alerts at the top of these pages?  Thanks!

https://onrr.gov/reportpay/policy.htm
https://onrr.gov/reportpay/handbooks/index.htm
https://onrr.gov/DearRep.htm
https://onrr.gov/reportpay/training/index.htm
https://onrr.gov/unbundling/index.htm
https://onrr.gov/valuation/index.htm

[2021-04-14 17:53] mcharg commented on #655
@ONRRamandagarrison This is updated in dev.  Let me know if it's good to post to the live site.
http://2017onrr/IndianServices/iesc-referrals.htm

[2021-04-14 18:41] Maroyafaied commented on #640
@mcharg this is minor but  it says $60 on the current site.  Also, should we include these two bullet point under Litigation support?  In the last pic, it sounded like form Michael's email that he wanted that tab to be called "Overview" instead of "Enforcement" ?Everything else looks good.
![image](https://user-images.githubusercontent.com/40175688/114760458-8e7af500-9d1c-11eb-8c0c-45dca20e2f02.pn

[2021-04-14 18:55] mcharg commented on #640
@Maroyafaied I made the change to the civil penalty amount.  The two bullets for litigation support duplicated content that's in the bankruptcies section.  The tab was Overview, but when Michael said he wanted litigation support content on its own tab, it made more sense to change it to Enforcement, since it has only Enforcement content now.

[2021-04-14 19:02] #640 closed

[2021-04-14 20:40] ONRRamandagarrison commented on #655
Looks good! Please make it live.

Thank you,
Amanda

Amanda Garrison

Supervisory Minerals Revenue Specialist
Indian Energy Service Center
P: (720) 595-2025

From: mcharg ***@***.***>
Sent: Wednesday, April 14, 2021 11:54 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Garrison, Amanda T ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] Updates to onrr.gov - IESC referral

[2021-04-14 20:45] #655 closed

[2021-04-14 20:45] mcharg commented on #655
@ONRRamandagarrison I pushed it live.  It might be a bit before it shows up on the live site.

[2021-04-14 21:03] jnwang01 commented on #366
https://cz2rch.axshare.com here is the new axure link with the edits

[2021-04-14 21:08] mcharg commented on #620
@Baymatt I added another batch to the spreadsheet.  I have a few more pages to go through and will have one more (hopefully smaller) batch tomorrow.

That one pdf is strange.  I'll flag it to review with the regulations team.

[2021-04-15 11:55] grjson opened #660 "Webpage Update - New Lease Agreement XREF file for onrr.gov"
Please replace the existing file located at: http://www.onrr.gov/ReportPay/CrossRef.htm called “Downloadable Text Cross-Reference Lease to Agreement Number” with the file entitled “Apr 2021 Lease Agreement XREF.txt”.  It was queried from the system on 4/15/2021.
[Apr 2021 Lease Agreement XREF.txt](https://github.com/ONRR/nrrd/files/6317654/Apr.2021.Lease.Agreement.XREF.txt)

[2021-04-15 14:02] mcharg commented on #654
@Maroyafaied I separated out the MOUs and SOPs, so we can get Christina's feedback on that this afternoon.
https://qmcq5k.axshare.com/#id=206gu4&p=interagency_coordination

[2021-04-15 14:45] Maroyafaied commented on #654
@mcharg that looks good.

[2021-04-15 15:00] Maroyafaied commented on #366
@jnwang01 It's looking good, I put a couple of comments and resolved most of the comments.

[2021-04-15 17:35] mcharg commented on #620
@Baymatt The last batch is now in the spreadsheet.

[2021-04-15 17:42] Maroyafaied commented on #621
Send this sheet to Robert Sudar with a deadline of 6/31/2021 to correct the excel documents.

[2021-04-15 17:44] ONRRamandagarrison opened #659 "Update to onrr.gov MOU/SOP Page"
On this page:  https://www.onrr.gov/About/MOUs-and-SOPs.htm

[Interagency SOP Attachment A Addendum 1 (Updated 8.14.2020).pdf](https://github.com/ONRR/onrr.gov-site/files/6320025/Interagency.SOP.Attachment.A.Addendum.1.Updated.8.14.2020.pdf)

If possible, please move the Onshore Federal and Indian Energy and Mineral lease Management Standard Operating Procedures section to be above FIMO so it's mo

[2021-04-15 18:30] Maroyafaied commented on #659
@ONRRamandagarrison Hi, the document you attached has accessibility errors, can you please correct them?  I've attached the report. Thanks
[Accessibility report - Interagency.SOP.Attachment.A.Addendum.1.Updated.8.14.2020.pdf.docx](https://github.com/ONRR/onrr.gov-site/files/6320384/Accessibility.report.-.Interagency.SOP.Attachment.A.Addendum.1.Updated.8.14.2020.pdf.docx)

[2021-04-15 18:57] Maroyafaied opened #661 "Link to budget justification instead of pdf"
https://www.doi.gov/bpp/budget-justifications

[2021-04-15 18:59] abudz19 commented on #637
**3 versions of about page**
Please note there are three different primary navigation spacing treatments, one per version
[About page v1 - midsize nav.pdf](https://github.com/ONRR/onrr.gov-site/files/6320460/About.page.v1.-.midsize.nav.pdf)
[About page v2 - smallest nav.pdf](https://github.com/ONRR/onrr.gov-site/files/6320463/About.page.v2.-.smallest.nav.pdf)
[About page v3 - large size nav.pdf](h

[2021-04-15 19:39] mcharg commented on #472
Meeting with Regulations team next sprint.

[2021-04-15 19:40] Maroyafaied commented on #658
@jpetersononrr can you specify exactly what needs to be removed? Should I take out that whole white box? Thanks
![image](https://user-images.githubusercontent.com/40175688/114928710-24cc1b00-9df0-11eb-97de-18e441447bf7.png)

[2021-04-15 19:45] mcharg commented on #472
Questions for regulations & appeals team: https://doimspp-my.sharepoint.com/:w:/r/personal/mchargs_mms_gov/Documents/onrr.gov/508/Questions%20for%20Regulations%20Team.docx?d=w78ffe79f1fe84ae2bbe44c35d8e789ab&csf=1&web=1&e=NYWSkX

[2021-04-16 14:45] Maroyafaied commented on #660
@grjson please review http://2017onrr/ReportPay/CrossRef.htm

[2021-04-16 14:49] Maroyafaied commented on #472
@mcharg these look good, can you please make a copy of this doc in the folder where the other design review notes are? I'll use this question list to take notes in. Thanks

[2021-04-16 17:50] mcharg commented on #576
Replaced both old docs with accessible version.

[2021-04-16 17:50] #576 closed

[2021-04-16 19:13] bowlenj opened #662 "Lease/Agreement Maintenance Update"
Please update the Lease/Agreement Maintenance contact pdf with the attached file at the below location:

https://www.onrr.gov/about/contact.htm
[Lease Agreement Maintenance Contacts_4-16-21.pdf](https://github.com/ONRR/onrr.gov-site/files/6327420/Lease.Agreement.Maintenance.Contacts_4-16-21.pdf)

[2021-04-16 19:51] mcharg commented on #472
@Maroyafaied I moved the doc to the folder with the other docs. https://doimspp.sharepoint.com/:w:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Design%20Reviews%20-%20ONRR%20teams/Questions%20for%20Regulations%20Team.docx?d=wbcb6bd016eb443b2a08852f96435c973&csf=1&web=1&e=MQimuX

[2021-04-16 19:58] Maroyafaied commented on #660
Donna confirmed it looks good by email. It should be live in 30 min.

[2021-04-16 19:58] #660 closed

[2021-04-16 20:20] merrellc opened #663 "Webpage update - Indian Fund Code"
Please update the following webpage http://onrr.gov/ReortPay/payments.htm with the attached file.
Downloadable Excel Version Indian Leases Cross-walked to Distributee

Also change update to read 04/16/2021.

In additon to the above please update the date to read 04/16/2021 on URL
http//www.onrr.gov/ReportPay/royalty-reporting.htm
Thank you
[FCIL.xlsx](https://github.com/ONRR/onrr.gov-site/files/63

[2021-04-16 20:52] merrellc commented on #663
Please use attached file in place of the original one sent (date was not updated).
Thank you
[FCIL.xlsx](https://github.com/ONRR/onrr.gov-site/files/6327818/FCIL.xlsx)

[2021-04-16 21:57] Toddsand21 opened #664 "Title: Concho Area Meeting (under EVENT CALENDAR tab)"
May 19, 2021
Event Information
Location: By Telephone
Time: 1:00 PM - 2:00 PM
Description:  Meeting will be a Call-in Meeting to hear a presentation and updates from ONRR OKC Outreach Office. Representatives from BLM, BTFA, and BIA will also be available to discuss topics regarding Indian oil and gas, IIM accounts and other Indian trust property issues. There will also be a Q&A session for owners

[2021-04-16 23:15] Baymatt commented on #620
@mcharg The last batch is finished

[2021-04-19 16:17] ONRRamandagarrison commented on #659
Maroya,

Our document is classified as a "complex table" for 508 Compliance. It is going to take a while to determine the best way to make this document compliant, as we are not the content creators of it and it is almost eight years old.

Would it be possible to have it posted on onrr.gov now while we continue to work on it?  We are not experienced in correcting complex documents for 508 complian

[2021-04-19 16:38] Maroyafaied commented on #659
@ONRRamandagarrison As previously communicated by ONRR’s Deputy Director, as of September 1, 2020, electronic documents submitted for posting on onrr.gov must be accessible to employees and members of the public with disabilities. We are not allowed to update any new documents on onrr.gov unless it's accessible. You can ask for an exception from Howard to upload it until you correct the document,

[2021-04-19 18:04] boices commented on #621
All corrected files from Sept 2004 - July 2020 can be found here
N:\MRM Shared\Data Transfers\NYMEX\

Files prior to Sept 2004 are not available.

Thanks!

@sudarr

[2021-04-19 18:27] Maroyafaied commented on #662
@bowlenj please review http://2017onrr/about/contact.htm

[2021-04-19 18:47] Maroyafaied commented on #664
@Toddsand21 what would like as a "Title" for the first event? I have to put something in that field, I can put "Call-in meeting" or whatever you like?

[2021-04-19 19:39] aklong09 opened #665 "Request to Update ONRR's Federal Register Notices Page"
Hello,

Please update ONRR’s Federal Register Notices page, located at https://www.onrr.gov/Laws_R_D/FRNotices/index.htm, to add the following three new entries:

1. The first new entry should be displayed as the most recent notice published and should read as follows:

“86 FR 20032
Friday, April 16, 2021
**Denver, CO** ONRR is delaying the effective date of the final rule entitled “ONRR 2020 Valu

[2021-04-19 20:01] bowlenj commented on #662
This looks great, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resource Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt fro

[2021-04-19 20:12] Maroyafaied commented on #662
It should be live soon.

[2021-04-19 20:53] aklong09 opened #666 "Request to Update ONRR's Rules & Regulations Page"
Hello,

Please update ONRR’s Rules and Regulations page, located at: https://www.onrr.gov/Laws_R_D/FRNotices/AA27.htm

Please revise the fourth paragraph of the abstract to read as follows:

“ONRR subsequently published two delay rules in the Federal Register. The First Delay Rule, published on February 12, 2021, delayed the rule's effective date for 60 days, from February 16, 2021 to April 16, 20

[2021-04-19 20:56] #662 closed

[2021-04-20 12:54] Toddsand21 commented on #664
Concho Area Meeting

[2021-04-20 14:26] Maroyafaied commented on #664
@Toddsand21 can I delete some of the older events? There's not room to include all the events?

[2021-04-20 14:45] Maroyafaied commented on #666
@aklong09 please review http://2017onrr/Laws_R_D/FRNotices/AA27.htm

[2021-04-20 14:57] Maroyafaied commented on #665
@aklong09 please review http://2017onrr/Laws_R_D/FRNotices/index.htm

[2021-04-20 15:00] aklong09 commented on #665
@Maroyafaied This looks great--thank you! Approved to publish.

[2021-04-20 15:01] aklong09 commented on #666
@Maroyafaied This one also looks good. Approved to publish! Thank you again.

[2021-04-20 15:04] Toddsand21 commented on #664
Delete all of March Events and in May we'll start deleting April.

[2021-04-20 15:06] Maroyafaied commented on #665
It should be live in 30 min or so.

[2021-04-20 15:19] Maroyafaied commented on #666
This should be live in 30 min

[2021-04-20 15:32] #666 closed

[2021-04-20 17:55] Maroyafaied commented on #664
@Toddsand21 please review http://2017onrr/IndianServices/index.htm#. Thanks

[2021-04-20 18:32] Toddsand21 commented on #664
All of the corrections are in the first event "Concho"  please see:  1) Concho is spelled wrong.  It's with an "o" not a in the Title.  and,  2) in the last sentence in "Other Information" can you add OKC to read  ONRR OKC Outreach office hours...     and, 3) and below that under Name add **Outreach** to read ONRR OKC Outreach Office

[2021-04-20 18:57] Maroyafaied commented on #664
I made those updates, please review http://2017onrr/IndianServices/index.htm#

[2021-04-20 19:32] bowlenj opened #667 "Solids Training Materials"
Please add attached Presentations to the following web page - https://www.onrr.gov/reportpay/training/index.htm

Please add a sub-header under Solids Training Agenda as Training Materials:

[Day 2  5 OE Industry presentation April 2021.pptx](https://github.com/ONRR/onrr.gov-site/files/6346190/Day.2.5.OE.Industry.presentation.April.2021.pptx)

[Day 2  4  Reporter Training - Solid Minerals Complianc

[2021-04-20 19:36] bowlenj commented on #667
[Solids Billing Jessica- WebEx.pptx](https://github.com/ONRR/onrr.gov-site/files/6346222/Solids.Billing.Jessica-.WebEx.pptx)

[2021-04-20 19:50] bowlenj commented on #667
[Sodium and Potassium Reporter Training April 2021.pdf](https://github.com/ONRR/onrr.gov-site/files/6346301/Sodium.and.Potassium.Reporter.Training.April.2021.pdf)

[2021-04-20 22:13] Toddsand21 commented on #664
Everything looks fine. I'll be touch.

[2021-04-20 22:51] bowlenj commented on #667
[1989 Federal and Indian Coal Royalty Valuation Rule Reporter Training April 2021.pdf](https://github.com/ONRR/onrr.gov-site/files/6347027/1989.Federal.and.Indian.Coal.Royalty.Valuation.Rule.Reporter.Training.April.2021.pdf)

[2021-04-21 12:45] cthomasONRR opened #668 "Request to Update ONRR's Federal Register Notices Page"
Hello,

Please update ONRR’s Federal Register Notices page, located at https://www.onrr.gov/Laws_R_D/FRNotices/index.htm, to add the following two new entries:

1. The first new entry should be displayed as the most recent notice published and should read as follows:

“86 FR 20710
Wednesday, April 21, 2021
**Denver, CO** In accordance with the Paperwork Reduction Act of 1995, ONRR is proposing to

[2021-04-21 12:51] cthomasONRR opened #669 "Request to Update ONRR's Webpage "OMB Control Number 1012-0001""
Hello,

Could I please get a link added to the following webpage: https://www.onrr.gov/Laws_R_D/FRNotices/ICR0162.htm

Under the "Federal Register Publications" header, please add the following entry to the top of the list:

"60-Day Agency Information Collection - [86 FR 20710 -- April 21, 2021](https://www.federalregister.gov/documents/2021/04/21/2021-08170/agency-information-collection-activitie

[2021-04-21 12:53] cthomasONRR opened #670 "Please update ONRR's webpage "OMB Control Number 1012-0002""
Hello,

Could I please get a link added to the following webpage: https://www.onrr.gov/Laws_R_D/FRNotices/ICR0103.htm

Under the "Federal Register Publications:" header, please add the following entry to the top of the list:

"60-Day Agency Information Collection - [86 FR 20708 -- April 21, 2021](https://www.federalregister.gov/documents/2021/04/21/2021-08153/agency-information-collection-activiti

[2021-04-21 13:48] mcharg commented on #647
Approved and pushed to live site.

[2021-04-21 13:48] #647 closed

[2021-04-21 15:40] jpetersononrr commented on #658
Yes please!!  Each of these:

***@***.***D73692.482CCE20]

​Jodie Peterson
Minerals Revenue Specialist
Office of Natural Resources Revenue
***@***.***
(303)231-3719

Royalty Valuation - Consistent Answers to Complex Questions

From: Maroyafaied ***@***.***>
Sent: Thursday, April 15, 2021 1:41 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Peterson, Jodie F ***@***.***>; Mention ***@***.***>
Subject: [

[2021-04-21 16:00] Maroyafaied opened #671 "Two new UCA's to be published"
This request came from the onrrweb mailbox, the documents are corrected and accessible.
Could you publish the attached "Versado Saunders Gas Plant UCA"  and "Orla Gas Plant" on the ONRR Unbundling website, with the following attributes on the table(s):

Name: Versado Saunders Gas Plant
Type: Plant
[Orla UCA example.pdf](https://github.com/ONRR/onrr.gov-site/files/6352324/Orla.UCA.example.pdf)
[Ver

[2021-04-21 16:27] Maroyafaied commented on #658
@jpetersononrr please review

http://2017onrr/reportpay/policy.htm
http://2017onrr/reportpay/handbooks/index.htm
http://2017onrr/DearRep.htm
http://2017onrr/reportpay/training/index.htm
http://2017onrr/unbundling/index.htm
http://2017onrr/valuation/index.htm

[2021-04-21 16:38] mcharg commented on #644
Done https://github.com/ONRR/onrr.gov-site/wiki/Analytics

[2021-04-21 16:38] #644 closed

[2021-04-21 17:15] Maroyafaied commented on #668
@cthomasONRR please review http://2017onrr/Laws_R_D/FRNotices/index.htm

[2021-04-21 17:18] cthomasONRR commented on #668
@Maroyafaied this looks great! I approve. Thanks so much for your help!

[2021-04-21 17:23] Maroyafaied commented on #669
@cthomasONRR please review http://2017onrr/Laws_R_D/FRNotices/ICR0162.htm

[2021-04-21 17:25] Maroyafaied commented on #668
This should be live in 30 min.

[2021-04-21 17:25] #668 closed

[2021-04-21 17:25] cthomasONRR commented on #669
@Maroyafaied looks great. I approve. Thanks!!!!

[2021-04-21 17:26] Maroyafaied commented on #669
This should be live in 30 min. Thanks

[2021-04-21 17:26] #669 closed

[2021-04-21 17:31] Maroyafaied commented on #670
@cthomasONRR please review http://2017onrr/Laws_R_D/FRNotices/ICR0103.htm

[2021-04-21 17:33] cthomasONRR commented on #670
@Maroyafaied looks great! I approve. Thanks!!!

[2021-04-21 17:35] Maroyafaied commented on #670
It should be live in 30 minutes. Thanks

[2021-04-21 17:38] #670 closed

[2021-04-21 17:57] mcharg commented on #671
Updated in dev and sent an email to requestor to review.
http://2017onrr/unbundling/index.htm

[2021-04-21 20:57] mcharg commented on #620
@Baymatt There are still 36 that we don't have either the url or comments for.  I added a status column and marked them as URL needed.

[2021-04-21 21:01] mcharg commented on #620
@Maroyafaied I started updating links on this page, if you want to start checking.

http://2017onrr/Laws_R_D/FRNotices/AD04.htm

Ones not updated because there are open questions for the regs team:
* Federal Oil Valuation Proposed Rule — (68 FR 50087--August 20, 2003)
* 65 FR 38299--June 20, 2000
* 65 FR 37043--June 13, 2000
* 64 FR 73820--December 30, 1999

I made it part way through the Prior to

[2021-04-21 21:05] #632 closed

[2021-04-22 20:11] #637 closed

[2021-04-22 20:12] mcharg opened #672 "Continue onrr.gov visual design"
Iterate design from meeting.

[2021-04-22 20:13] mcharg opened #673 "Collect images for onrr.gov"

[2021-04-22 20:59] jpetersononrr commented on #658
That looks great!  Thanks!

​Jodie Peterson
Minerals Revenue Specialist
Office of Natural Resources Revenue
***@***.***
(303)231-3719

Royalty Valuation - Consistent Answers to Complex Questions

From: Maroyafaied ***@***.***>
Sent: Wednesday, April 21, 2021 10:28 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Peterson, Jodie F ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-

[2021-04-22 21:03] mcharg commented on #620
@Baymatt There are two more marked as URL Needed that were linked to the wrong doc on the site.

[2021-04-22 21:03] jpetersononrr commented on #628
I've added table summaries to all of these.  Should be all the ones on the list.  Thanks!
[12_04_19_IndianGasMajorPortion_508.pdf](https://github.com/ONRR/onrr.gov-site/files/6361198/12_04_19_IndianGasMajorPortion_508.pdf)
[20150515.pdf](https://github.com/ONRR/onrr.gov-site/files/6361199/20150515.pdf)
[Blacks Fork UCA.pdf](https://github.com/ONRR/onrr.gov-site/files/6361201/Blacks.Fork.UCA.pdf)
[

[2021-04-23 14:05] bowlenj commented on #667
Please place all training presentations in this issue under Training Presentations at the below location rather than under the Training Agenda.  Also can you please take down the Solid Mineral Reporter Training April 20th - April 22nd Agenda from this location as well.

https://www.onrr.gov/reportpay/training/index.htm

[2021-04-23 15:07] mcharg commented on #620
These pages are ready to review.

- [ ] http://2017onrr/Laws_R_D/FRNotices/AB57.htm
Not updated:
* (76 FR 13431--March 11, 2011)
* (59 FR 39712--August 4, 1994)
<nr>
- [ ] http://2017onrr/Laws_R_D/FRNotices/AC00.htm
- [ ] http://2017onrr/Laws_R_D/FRNotices/AD70.htm
- [ ] http://2017onrr/Laws_R_D/FRNotices/AD28.htm
- [ ] http://2017onrr/Laws_R_D/FRNotices/AC40.htm

- [ ] http://2017onrr/about/NewsR

[2021-04-23 17:45] LisaReimer opened #674 "Request for revisions to the Contacts Page at https://www.onrr.gov/ReportPay/contacts.htm"
Request for revisions to the Contacts Page at  https://www.onrr.gov/ReportPay/contacts.htm
Please see attached Excel Spreadsheet that reflects requested updates and PDF reflecting management approval.

Let me know if you have any questions.  Thank you for your help.

[CONTACT PAGE REVISIONS.xlsx](https://github.com/ONRR/onrr.gov-site/files/6367139/CONTACT.PAGE.REVISIONS.xlsx)
[Mail - Reimer, Lisa

[2021-04-23 19:05] mcharg commented on #577
Done

[2021-04-23 19:05] #577 closed

[2021-04-23 19:05] mcharg commented on #578
Done

[2021-04-23 19:05] #578 closed

[2021-04-23 19:27] #654 closed

[2021-04-23 19:28] mcharg opened #675 "Update wireframes with Paying team feedback"

[2021-04-23 19:30] mcharg opened #676 "Update wireframes with RRM feedback"

[2021-04-23 19:30] mcharg opened #677 "Update wireframes with geothermal feedback"

[2021-04-23 19:34] mcharg opened #678 "Update wireframes with feedback on About pages"
https://doimspp.sharepoint.com/:w:/r/sites/NRRD/_layouts/15/Doc.aspx?sourcedoc=%7BACDFB1F0-F891-423D-991F-4AE9876B2F55%7D&file=Design%20Review%20-%20About%20page.docx&action=default&mobileredirect=true

[2021-04-23 19:38] mcharg opened #679 "Bring process diagram into alignment with visual design and NRRD homepage cards"
Also, remove graph.

[2021-04-23 19:38] mcharg commented on #366
Created #679 for next step.

[2021-04-23 19:38] #366 closed

[2021-04-23 19:49] mcharg commented on #671
They expect to send us changes next week.

[2021-04-23 20:32] mcharg commented on #620
@Baymatt I found a couple more stragglers marked as URL Needed in the spreadsheet.

[2021-04-23 20:35] mcharg commented on #620
175 updated in dev.  136 plus the ones without links and questions to go.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/66a9beba-3133-404a-a542-74df085dd866)

[2021-04-26 14:24] mcharg commented on #667
@bowlenj This is updated in dev. Let me know what you think of the subcategories and whether it's good to push to the live site.
http://2017onrr/reportpay/training/index.htm

[2021-04-26 14:29] mcharg opened #680 "Remove guidance alert from wireframes"
Since they are being removed on the live site.

[2021-04-26 14:35] mcharg commented on #658
@Maroyafaied Don't push the training page live until #667 is approved.  I'll push it then.

[2021-04-26 14:39] mcharg commented on #657
@Maroyafaied This is updated in dev.  Let me know if it's good to push to the live site.
http://2017onrr/index.htm

[2021-04-26 15:11] merrellc commented on #663
I did not mean to close.  Please add the latest file.

Thank you

[2021-04-26 15:34] mcharg commented on #671
Updated dev with new docs from Noelle and waiting for approval.
http://2017onrr/unbundling/index.htm

[2021-04-26 15:41] mcharg commented on #628
@jpetersononrr The Green River Basin doc has some issues with the tables.
![image](https://user-images.githubusercontent.com/38465926/116111150-5c568500-a684-11eb-946d-98b9f0d4575b.png)

[2021-04-26 16:10] Maroyafaied commented on #657
@mcharg looks good.

[2021-04-26 16:16] mcharg commented on #657
Pushed live.

[2021-04-26 16:16] #657 closed

[2021-04-26 16:53] mcharg commented on #628
@jpetersononrr All of these except for the Green River one are updated.  It might be a bit before they show up on the live site.

[2021-04-26 16:56] #664 closed

[2021-04-26 16:56] Maroyafaied commented on #664
This is live.

[2021-04-26 17:02] Maroyafaied commented on #658
@mcharg @jpetersononrr all the link should be live in 30 min except this one since we're making other changes to that page for another issue but will be live as well once dev is approved. http://2017onrr/reportpay/training/index.htm

[2021-04-26 17:12] mcharg commented on #667
@bowlenj approved via email.  I pushed to the live site.

[2021-04-26 17:32] Maroyafaied commented on #658
All pages are live. Thanks

[2021-04-26 17:32] #658 closed

[2021-04-26 18:53] mcharg commented on #661
@Maroyafaied This is updated in dev.  Let me know if it looks good to push live.
http://2017onrr/about/index.htm

[2021-04-26 19:00] Maroyafaied commented on #661
@mcharg looks good

[2021-04-26 20:52] mcharg commented on #620
@Maroyafaied I updated the links on the pages below.

- [ ] http://2017onrr/Laws_R_D/FRNotices/AD22.htm
- [ ] http://2017onrr/Laws_R_D/FRNotices/AC25.htm
- [ ] http://2017onrr/Laws_R_D/FRNotices/ICR0088.htm
- [ ] http://2017onrr/Laws_R_D/FRNotices/AC51.htm
- [ ] http://2017onrr/Laws_R_D/FRNotices/ICR0162.htm
- [ ] http://2017onrr/Laws_R_D/FRNotices/ICR0103.htm
- [ ] http://2017onrr/Laws_R_D/FRNoti

[2021-04-27 13:07] mcharg commented on #661
Pushed live

[2021-04-27 13:07] #661 closed

[2021-04-27 14:49] Maroyafaied commented on #620
@mcharg looks good

[2021-04-27 15:36] mcharg commented on #620
@Maroyafaied Did you review them all or just the last set with the checkmarks?

[2021-04-27 16:00] Maroyafaied commented on #620
@mcharg I didn't realize there were more since it didn't look like a checklist above. I'll check them as well now.

[2021-04-27 16:48] mcharg commented on #620
@Maroyafaied I updated the links on the following pages:

- [ ] http://2017onrr/Laws_R_D/FRNotices/FRICRDisCont.htm
The last row in the table.
<br>
- [ ] http://2017onrr/Laws_R_D/FRNotices/ICR0119.htm
Not updated:
* Solicitation of comments - (68 FR 47605--August 11, 2003)
<br>
- [ ] http://2017onrr/Laws_R_D/FRNotices/ICR0090.htm
Not updated:
* 30-Day Agency Information Collection - (66 FR 42235--

[2021-04-27 20:41] Maroyafaied commented on #663
@merrellc please review
http://2017onrr/ReportPay/payments.htm
http://2017onrr/ReportPay/royalty-reporting.htm

[2021-04-27 20:51] Maroyafaied commented on #620
@mcharg looks good

[2021-04-27 21:02] merrellc commented on #663
Looks great!

Thank you
​Candace Merrell
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3517
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosure u

[2021-04-27 21:17] Toddsand21 opened #681 "TITLE: FIMO CALL-IN OUTREACH (to add to the Event Calendar under ONRR EVENTS)"
May 12th, 2021
TITLE: FIMO CALL-IN OUTREACH
EVENT INFORMATION
LOCATION: By Telephone
TIME: 9:00 AM - 11:30 AM
DESCRIPTION: Meeting will be a Call-In Meeting to hear current updates from the Federal Indian Minerals Office (FIMO).  Representatives from BLM, BTFA, and BIA will be available to discuss topics regarding Indian oil and gas, IIM accounts, Indian trust property issues, and probate.  There

[2021-04-27 22:13] Maroyafaied commented on #663
This is live.

[2021-04-27 22:13] #663 closed

[2021-04-29 15:03] Maroyafaied commented on #643
@mentastc can you please help us find the correct links? or let us know if they should be removed. Thanks

[2021-04-29 17:29] abudz19 commented on #672
**Changes**
Footer
- revert to gray footer
- removed contact info in favor of link to contact page
- show two-line wrap version of logo/watermark

Header
- show two-line wrap version of logo/watermark

Content
- show flyout search

[About page v4 - slide out search.pdf](https://github.com/ONRR/onrr.gov-site/files/6400363/About.page.v4.-.slide.out.search.pdf)
[About page v4 - two line wrap logo - g

[2021-04-29 19:21] mcharg opened #682 "Find urls for public laws"
I added a tab to the FRN doc for public laws.
https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Content%20Audit/FRNs.xlsx?d=w52528d46310b438bb94ddff9b54a5143&csf=1&web=1&e=0qA8Q0

Here's an example public law url:
https://www.congress.gov/111/plaws/publ88/PLAW-111publ88.pdf

[2021-04-29 21:01] #620 closed

[2021-04-29 23:49] Baymatt commented on #682
@mcharg Added links to the laws on the doc, many of them are the entire portion of the law cause I couldn't find the shortened version that we have on ONRR.gov

[2021-04-30 12:30] mcharg commented on #682
@Baymatt Thank you!

[2021-04-30 14:12] Maroyafaied commented on #681
@toddsand21 please review http://2017onrr/IndianServices/index.htm#

[2021-04-30 16:53] mcharg commented on #671
Approved and pushed live.

[2021-04-30 16:53] #671 closed

[2021-04-30 19:22] Toddsand21 commented on #681
I cannot open the file to review it.  It is probably because my Access card is not working right now.  I am scheduled to get it reset in the office next Tuesday.  So it may have to wait until then or we can go ahead and post it?

[2021-04-30 19:23] Toddsand21 commented on #681
Actually I wasn't closing this issue.  I was waiting for a reply.

[2021-05-03 13:29] Maroyafaied commented on #681
@Toddsand21 I can post it if you want, just let me know. Here's the link again. Thanks

http://2017onrr/IndianServices/index.htm#

[2021-05-03 15:03] bowlenj opened #683 "Federal Onshore Terminable Leases"
Please update the following webpage https://www.onrr.gov/reportpay/royalty-reporting.htm with attached excel file:

Federal Onshore Terminable Leases - sorted by Due Date, please change (4/1/2021) to read updated (5/3/2021)

[20210501.xlsx](https://github.com/ONRR/onrr.gov-site/files/6415672/20210501.xlsx)

[2021-05-03 16:57] mcharg commented on #675
Sent back to the team for additional review.
https://qmcq5k.axshare.com/#id=caluw3&p=paying

[2021-05-03 16:57] mcharg commented on #678
Also add diversity and inclusion content from Howard.

[2021-05-03 18:55] bowlenj opened #684 "Webpage Update Cross Reference Lease to Agreement"
Please update the following webpage https://www.onrr.gov/reportpay/CrossRef.htm

Cross-Reference Lease to Agreement Numbers sorted by AgreementName
Cross-Reference Lease to Agreement Numbers sorted by AgreementNumber
Cross-Reference Lease to Agreement Numbers sorted by LeaseNumber

with the attached excel files.  Please also change (updated 4/1/2021 to 5/3/2021)
[CRANumber.xlsx](https://github.com

[2021-05-03 19:58] mcharg commented on #678
@Maroyafaied This is ready for you to review.
https://qmcq5k.axshare.com/#id=vsgcdx&p=about_onrr&g=4

[2021-05-03 20:26] mcharg commented on #677
@Maroyafaied This is ready for you to review.
https://qmcq5k.axshare.com/#id=up0lnh&p=geothermal

[2021-05-03 20:48] mcharg commented on #680
Done

[2021-05-03 20:48] #680 closed

[2021-05-03 20:58] Maroyafaied commented on #677
@mcharg looks good

[2021-05-04 13:37] mcharg commented on #674
@LisaReimer This is updated in dev.  Let me know if it's good to push to the live site.
http://2017onrr/reportpay/contacts.htm

[2021-05-04 14:24] #677 closed

[2021-05-04 15:12] Maroyafaied commented on #683
@bowlenj please review http://2017onrr/reportpay/royalty-reporting.htm

[2021-05-04 15:19] bowlenj commented on #683
Looks great, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resource Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from dis

[2021-05-04 15:42] Maroyafaied commented on #684
@bowlenj please review http://2017onrr/reportpay/CrossRef.htm

[2021-05-04 16:09] Maroyafaied commented on #683
This is live.

[2021-05-04 16:09] #683 closed

[2021-05-04 16:11] bowlenj commented on #684
Looks great, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resource Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from dis

[2021-05-04 16:31] #682 closed

[2021-05-04 16:32] Maroyafaied commented on #684
This is live.

[2021-05-04 16:32] #684 closed

[2021-05-04 17:29] LisaReimer commented on #674
Hello,

Thank you for the great work and for the dev link so I could review.  I just had one question.  Is it possible to enter ONSHORE above my name and OFFSHORE above Michael Nestlehut's name under the ASCII TXT and CSV Assistance?

[cid:ce84423c-b938-4370-9b13-b5ed2f1eb625]

...

Respectfully,

Lisa Reimer
Minerals Revenue Specialist - Production Analyst
Reference, Royalty and Production, Team

[2021-05-04 17:36] #672 closed

[2021-05-04 17:37] mcharg opened #685 "Mock up Contacts and one of the Pricing pages with the visual design"

[2021-05-04 18:26] mcharg commented on #674
@LisaReimer How's this?
http://2017onrr/reportpay/contacts.htm

[2021-05-04 18:57] LisaReimer commented on #674
Perfect!  Thank you so much!  It is ready to go live.

Respectfully,

Lisa Reimer
Minerals Revenue Specialist - Production Analyst
Reference, Royalty and Production, Team 4B
Reference and Reporting Management
Office of Natural Resources Revenue
Office Phone:  214-640-9049
Fax:  303-445-9547

________________________________
From: mcharg ***@***.***>
Sent: Tuesday, May 4, 2021 13:26
To: ONRR/onrr.g

[2021-05-04 19:27] mcharg commented on #674
@LisaReimer Pushed live.  It might be a bit before it shows up on the live site.

[2021-05-04 19:27] #674 closed

[2021-05-04 19:38] LisaReimer commented on #674
Thank you!

Lisa Reimer
Minerals Revenue Specialist - Production Analyst
Reference, Royalty and Production, Team 4B
Reference and Reporting Management
Office of Natural Resources Revenue
Office Phone:  214-640-9049
Fax:  303-445-9547

________________________________
From: mcharg ***@***.***>
Sent: Tuesday, May 4, 2021 14:27
To: ONRR/onrr.gov-site ***@***.***>
Cc: Reimer, Lisa F ***@***.***>; Ment

[2021-05-04 21:03] mcharg commented on #635
Got the mobile design done for the header, footer, and homepage.
1200 px and up: https://qmcq5k.axshare.com/#id=e1wh3o&p=home_v3&view=default
1024 px: https://qmcq5k.axshare.com/#id=e1wh3o&p=home_v3&view=a
768 px: https://qmcq5k.axshare.com/#id=e1wh3o&p=home_v3&view=b
480 px: https://qmcq5k.axshare.com/#id=e1wh3o&p=home_v3&view=c
320 px: https://qmcq5k.axshare.com/#id=e1wh3o&p=home_v3&view=d

@Mar

[2021-05-05 15:33] Maroyafaied commented on #681
@toddsand21 would you like me to post this?

[2021-05-05 15:57] Maroyafaied commented on #681
Sandra asked to go ahead and publish. This will be live in 30 min or so.

[2021-05-05 15:57] #681 closed

[2021-05-05 16:55] #472 closed

[2021-05-05 16:55] #638 closed

[2021-05-05 16:55] #582 closed

[2021-05-05 16:56] mcharg opened #686 "Update wireframes with feedback from regulations team"

[2021-05-05 17:29] mcharg opened #687 "Remove ADR page from live site"
It's currently only linked from the glossary.
https://www.onrr.gov/compliance/ADR.htm

[2021-05-05 18:22] penvosej opened #688 "Add May Indian Index Zone prices to ONRR.gov"
Please include the Indian Index Zone prices for May on ONRR.gov. The Data for ONRR.gov Excel spreadsheet has been updated with the newest prices.

@sudarr

[2021-05-05 18:27] mcharg commented on #635
Page with a left nav.

1200 px and up: https://qmcq5k.axshare.com/#id=o52v1g&p=getting_started&g=14&view=default
1024 px: https://qmcq5k.axshare.com/#id=o52v1g&p=getting_started&g=14&view=a
768 px: https://qmcq5k.axshare.com/#id=o52v1g&p=getting_started&g=14&view=b
480 px: https://qmcq5k.axshare.com/#id=o52v1g&p=getting_started&g=14&view=c
320 px: https://qmcq5k.axshare.com/#id=o52v1g&p=getting_st

[2021-05-05 18:29] Maroyafaied opened #689 "Unbundling Broken links"
This came in the onrrweb mailbox. Sara said these links should not be live yet. @mcharg can you please look into it.

Hi ONRR Web Team,

I found a few broken web links on the Unbundling page of the external website.  When I clicked on the links, I received a "404 - File or directory not found" error.

The site address with the links is https://gcc02.safelinks.protection.outlook.com/?url=https%3A%2

[2021-05-05 18:33] Maroyafaied opened #690 "Production Reporting References"
This request came in from the onrrweb mailbox, the attachments are in the email.

All,
   On the ONRR.gov home page, please update the Production Reporting References with the attached files. The new as of date is 30 Apr 2021.
There are five Gulf files and three Pacific files.

Thank you,

[2021-05-05 18:36] Maroyafaied opened #691 "Subscribe here link doesn't work in homepage"
This link doesn't work in the press release tab or FR notices tab.

![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/c0f13d6e-3a99-4363-b15b-55f6e0423c5f)

[2021-05-05 20:36] #689 closed

[2021-05-05 20:44] Maroyafaied commented on #690
Send dev link to review by email

[2021-05-05 20:51] Maroyafaied commented on #688
@penvosej please review http://2017onrr/valuation/allzones.htm

[2021-05-05 20:54] boices opened #692 "Update April NYMEX on onrr.gov"
Good afternoon,

Please update onrr.gov with the April NYMEX prices as attached. @sudarr

Thank you!
[NYMEX042021.xlsx](https://github.com/ONRR/onrr.gov-site/files/6430188/NYMEX042021.xlsx)

[2021-05-05 21:06] penvosej commented on #688
Hi Maroya,

When I clicked on the link you provided, the last month of prices shown was April. Can you let me know if the Data for ONRR.gov document doesn't have the May prices? I'm pretty sure I updated it but it's possible it didn't save!

Thanks,
Jessica

***@***.***D741C0.2EC86410]

From: Maroyafaied ***@***.***>
Sent: Wednesday, May 5, 2021 2:52 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Penv

[2021-05-05 21:19] Maroyafaied commented on #688
@penvosej please try clearing your cache by hitting ctrl and F5, I see May prices on my browser.
![image](https://user-images.githubusercontent.com/40175688/117210671-3e400180-adb5-11eb-82e3-1c72806daf29.png)

[2021-05-05 21:32] Maroyafaied commented on #692
@boices please review http://2017onrr/valuation/NYMEX.htm

[2021-05-05 21:34] mcharg commented on #635
Valuation & Pricing page that has two levels of tabs and contacts.

1200 px and up: https://qmcq5k.axshare.com/#id=l9inb4&p=valuation___pricing&view=default
1024 px: https://qmcq5k.axshare.com/#id=l9inb4&p=valuation___pricing&view=a
768 px: https://qmcq5k.axshare.com/#id=l9inb4&p=valuation___pricing&view=b
480 px: https://qmcq5k.axshare.com/#id=l9inb4&p=valuation___pricing&view=c
320 px: https://q

[2021-05-05 21:43] penvosej commented on #688
Thanks for the tip; that did the trick! The prices look good.

From: Maroyafaied ***@***.***>
Sent: Wednesday, May 5, 2021 3:20 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Penvose, Jessica M ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] Add May Indian Index Zone prices to ONRR.gov (#688)

 This email has been received from outside of DOI - Use caution before clicki

[2021-05-05 21:51] aklong09 opened #693 "Request to Update ONRR's ICR Page"
Hello,

Please update ONRR’s ICR page entitled “OMB Control Number 1012-0003” located at https://www.onrr.gov/Laws_R_D/FRNotices/ICR0087.htm.

Under the “Federal Register Publications” heading, please add a new bullet at the top of the list to read as follows, with the linked hyperlink:
•	60-Day Agency Information Collection - [(86 FR 20194—April 16, 2021)](https://www.federalregister.gov/document

[2021-05-06 01:19] Maroyafaied commented on #688
This is live.

[2021-05-06 01:19] #688 closed

[2021-05-06 12:58] boices commented on #692
That's perfect--thanks again!

[2021-05-06 14:06] Maroyafaied commented on #692
This is live.

[2021-05-06 14:06] #692 closed

[2021-05-06 15:09] bowlenj opened #694 "Lease/Agreement Maintenance Update"
Please replace the current Lease/Agreement Maintenance contact sheet at the following location, https://www.onrr.gov/about/contact.htm, with the updated version attached.
[Lease Agreement Maintenance Contacts_5-6-21.pdf](https://github.com/ONRR/onrr.gov-site/files/6435645/Lease.Agreement.Maintenance.Contacts_5-6-21.pdf)

Thank You!

[2021-05-06 16:33] #635 closed

[2021-05-06 17:41] #675 closed

[2021-05-06 18:06] #678 closed

[2021-05-06 18:20] Maroyafaied commented on #679
Would like to show this next sprint with the about page wireframe.

[2021-05-06 20:19] mcharg opened #695 "Find links to FRN public comments"
Rule with comments: https://www.onrr.gov/Laws_R_D/FRNotices/AA20.htm

FRN link for the proposed rule FR 16323: https://www.federalregister.gov/documents/2017/04/04/2017-06617/repeal-of-consolidated-federal-oil-and-gas-and-federal-and-indian-coal-valuation-reform

Regulations.gov page with comments: https://www.regulations.gov/document/ONRR-2017-0002-0001/comment

[2021-05-06 20:20] mcharg commented on #695
Both Rules and ICRs have FRNs with public comments.

Rules are linked from this page in the ONRR rulemakings and MMS rulemaking accordions.
https://www.onrr.gov/Laws_R_D/index.htm

Current ICRs are linked from this page: https://www.onrr.gov/Laws_R_D/FRNotices/FRInfColl.htm
Discontinued ICRs are linked from this page: https://www.onrr.gov/Laws_R_D/FRNotices/FRICRDisCont.htm

[2021-05-07 13:38] #690 closed

[2021-05-07 14:23] mcharg commented on #649
@mentastc These are removed in dev.  Let us know when you have a new presentation to post and we'll update the live site.
http://2017onrr/about/presentations.htm

[2021-05-07 14:24] mcharg commented on #643
@mentastc These are removed both in dev and the live site, since the press release changes don't show up in dev.  Let me know if you notice any issues.

[2021-05-07 14:24] #643 closed

[2021-05-07 16:56] mcharg commented on #695
@Baymatt I compiled a list of the FRNs with public comments in a sheet in the FRN spreadsheet.
https://teams.microsoft.com/l/file/52528D46-310B-438B-B94D-DFF9B54A5143?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FContent%20Audit%2FFRNs.xlsx&baseUrl=https%3A%2F%2Fdoimspp.sharepoin

[2021-05-07 19:36] mcharg commented on #621
@boices I don't have access to the folder with the files.

@Maroyafaied Do you have access to the folder?

[2021-05-07 20:18] mcharg commented on #687
@Maroyafaied This is removed in dev. (There used to be ADR in the glossary and it should now be gone.)
http://2017onrr/index.htm

[2021-05-07 20:20] #641 closed

[2021-05-07 20:22] mcharg commented on #693
@aklong09 I pushed to the live site.  Updates to the live site have been really slow today, so it might not show up before the end of the day.

[2021-05-07 20:22] #693 closed

[2021-05-07 20:25] mcharg opened #696 "Update enforcement team contact info"
Samuel Herbert is the Enforcement Team A supervisor starting May 9.  Can you update the 2nd Enforcement contact to change my name/info (Michael Marchetti) out to Sam's (Samuel.Herbert@onrr.gov, 303-231-3065)?

[2021-05-07 20:27] mcharg opened #697 "April Analytics"

[2021-05-07 20:52] mcharg opened #698 "Finish applying title and left nav styles to the prototype"

[2021-05-10 14:50] Maroyafaied commented on #687
@mcharg looks good.

[2021-05-10 14:52] Maroyafaied commented on #621
@mcharg I do have access, you might need to call the help desk to get access.

[2021-05-10 15:08] Maroyafaied commented on #686
@mcharg looks great.

[2021-05-10 15:09] mcharg commented on #621
@Maroyafaied I called and got the drive remapped.

[2021-05-10 15:13] #686 closed

[2021-05-10 15:50] mcharg opened #699 "Remove download links for missing NYMEX files"
This page is built from a csv and I removed the links from that, but I'm not sure how to get rid of the buttons.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/6edbd4aa-0561-4169-bb75-f49c1ba916c2)

[2021-05-10 16:59] mcharg commented on #621
@boices Is there a setting to not share the additional folders?  I checked with @Maroyafaied and she's seeing the same thing as me.

[2021-05-10 17:15] mcharg commented on #694
@bowlenj This is updated in dev.  Let me know if it looks good to push live.
http://2017onrr/about/contact.htm

[2021-05-10 17:18] mcharg commented on #621
@boices Could you put them in One Drive and share that way?

[2021-05-10 17:21] Maroyafaied opened #700 "Present to OLT 508 Status"
Thursday May 13th @8:30 am MT

[2021-05-10 18:16] Maroyafaied commented on #673
I'll add Christa to this issue.

[2021-05-10 18:19] Maroyafaied commented on #676
Add Christa to this.

[2021-05-10 18:28] bowlenj commented on #694
This looks great, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resource Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt fro

[2021-05-10 19:15] mcharg commented on #694
@bowlenj I pushed the change live.  It might be a bit before the change shows up on the live site.

[2021-05-10 19:28] mcharg commented on #696
Turns out we don't have this contact info on the live site.  I updated it in the wireframes.

[2021-05-10 19:28] #696 closed

[2021-05-10 19:28] mcharg commented on #696
Turns out we don't have this contact info on the live site.  I updated it in the wireframes.

[2021-05-10 19:28] boices commented on #621
@mcharg --just uploaded them to One Drive and I tried to send a link to you to provide access. That was my first time doing it though, so let me know if it doesn't come

[2021-05-10 20:52] damionschulte opened #701 "April 2021 IBMP Prices"
All I have updated the IBMP prices in the Data for ONRR.gov spreadsheet.  Can you please have them posted to the website.  Thank you

@sudarr

[2021-05-10 21:02] mcharg commented on #621
@Maroyafaied @boices The NYMEX files are all updated in dev.  Let me know if it looks good to push live.
http://2017onrr/valuation/NYMEX.htm

Note: For the 2004 ones before September, I removed the links, but created #699 for a developer to help figure out how to remove the download buttons.

[2021-05-11 15:07] Maroyafaied commented on #621
@mcharg looks good. Thanks

[2021-05-11 15:44] mcharg commented on #621
@boices These changes are pushed to the live site.

[2021-05-11 20:42] Toddsand21 opened #702 "TITLE: FIMO PHONE-IN OUTREACH"
( Please add the following to the Event Calendar on the Allottee Assistance Page for May Events.)
MAY 20, 2021
TITLE: FIMO PHONE-IN OUTREACH
Event Information
LOCATION: By Telephone
TIME: 1:00 pm - 3:30 pm (mst)
DESCRIPTION: Meeting will be a Call-In Meeting to hear current updates from the Federal Indian Minerals Office.  Representatives from BLM, BTFA, and BIA will be available to discuss topics

[2021-05-11 22:13] StaceyKaiser opened #703 "Webpage Update - New Lease Agreement XREF file for onrr.gov"
Please replace the existing file located at: http://www.onrr.gov/ReportPay/CrossRef.htm called “Downloadable Text Cross-Reference Lease to Agreement Number” with the file entitled “May 2021 Lease Agreement XREF.txt”.  It was queried from the system on 5/11/2021.

[May 2021 Lease Agreement XREF.txt](https://github.com/ONRR/onrr.gov-site/files/6462247/May.2021.Lease.Agreement.XREF.txt)

[2021-05-12 15:15] Maroyafaied commented on #701
@damionschulte please review http://2017onrr/valuation/IndianOilIBMP.htm

[2021-05-12 15:20] Maroyafaied commented on #702
@Toddsand21 please review http://2017onrr/IndianServices/index.htm#

[2021-05-12 17:35] Maroyafaied commented on #702
![image](https://user-images.githubusercontent.com/40175688/118019381-2b2db400-b316-11eb-8638-63b69c1b51fc.png)

[2021-05-12 17:49] Maroyafaied commented on #702
Approved by chat, should be live soon.

[2021-05-12 18:24] mcharg opened #704 "Remove unlinked documents"
So we don't have to bring them with us when we move to the new site.

[2021-05-12 18:27] Maroyafaied commented on #702
This is live.

[2021-05-12 18:27] #702 closed

[2021-05-12 19:16] damionschulte commented on #701
Prices look great!  Thank you

From: Maroyafaied ***@***.***>
Sent: Wednesday, May 12, 2021 9:16 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Schulte, Damion C ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] April 2021 IBMP Prices (#701)

 This email has been received from outside of DOI - Use caution before clicking on links, opening attachments, or responding.

@dam

[2021-05-12 19:30] mcharg commented on #704
I did this for everything except Public Comments, since we are likely to be removing all of those.

[2021-05-12 19:30] #704 closed

[2021-05-12 20:01] mcharg opened #705 "Address regulations team feedback on the wireframes"

[2021-05-12 20:29] Maroyafaied commented on #701
This is live.

[2021-05-12 20:29] #701 closed

[2021-05-12 20:31] damionschulte commented on #701
You are the best!  Thank you

From: Maroyafaied ***@***.***>
Sent: Wednesday, May 12, 2021 2:30 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Schulte, Damion C ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] April 2021 IBMP Prices (#701)

 This email has been received from outside of DOI - Use caution before clicking on links, opening attachments, or responding.

This

[2021-05-12 20:46] mcharg opened #706 "Get eCommerce Guide for onrr.gov"
@meshanw Stacey told me there was one, but hasn't responded to my email asking for it.

[2021-05-12 20:47] mcharg commented on #706
This is where it will live.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/a2cb946c-ad66-486b-9474-fa8e87f3d890)

[2021-05-12 20:50] mcharg opened #707 "Follow up with Stacey about reference files"
@meshanw I met with Stacey a while ago to show her the onrr.gov wireframes and she asked me to compile a list of reference docs that we might be able to look up directly from other systems.  She hasn't gotten back to me since I sent her the list.  Can you follow up with her?

Here's the list of docs:
https://doimspp-my.sharepoint.com/:x:/g/personal/mchargs_mms_gov/EaWcktrIyj1CohLzBlPyADQBfCefH4MP9

[2021-05-12 20:59] meshanw commented on #707
@mcharg Can you forward me the email and I will certainly try to get her to respond. (Sometimes it's easier to have multiple people on emails to her or you have to stay at the top of her email box if you need a response)

[2021-05-12 21:21] mcharg opened #708 "Remove ICR Packages Submitted to OMB"
The regulations team said they can go as long as we give them a copy of the docs to put on their shared drive.

[2021-05-13 15:41] Maroyafaied opened #709 "Run accessibility reports for Phase 3 - April Lockler"

[2021-05-13 16:34] Toddsand21 commented on #702
Thanks I see it.  You can now delete April's Events.

[2021-05-13 17:08] Maroyafaied commented on #709
https://doimspp-my.sharepoint.com/:x:/r/personal/mchargs_mms_gov/_layouts/15/Doc.aspx?sourcedoc=%7B928732E3-BA62-4E42-8D4D-A815C2802C66%7D&file=AccessibilityTracking.xlsx&action=default&mobileredirect=true

[2021-05-13 17:17] Maroyafaied commented on #702
@Toddsand21 I deleted April's events, it should be live soon. Thanks

[2021-05-13 17:35] mcharg commented on #703
@StaceyKaiser This is updated in dev.  Let me know if it looks good to push to the live site.
http://2017onrr/reportpay/CrossRef.htm

[2021-05-13 18:49] Toddsand21 commented on #702
Yes I see it's done. Thanks.

[2021-05-13 18:55] mcharg commented on #708
ICR with packages submitted to OMB:
- [ ] https://www.onrr.gov/Laws_R_D/FRNotices/ICR0169.htm
- [ ] https://www.onrr.gov/Laws_R_D/FRNotices/ICR0110.htm
- [ ] https://www.onrr.gov/Laws_R_D/FRNotices/ICR0074.htm
- [ ] https://www.onrr.gov/Laws_R_D/FRNotices/ICR0088.htm
- [ ] https://www.onrr.gov/Laws_R_D/FRNotices/ICR0138.htm
- [ ] https://www.onrr.gov/Laws_R_D/FRNotices/ICR0104.htm
- [ ] https://ww

[2021-05-13 19:13] abudz19 commented on #685
[Contact Page.pdf](https://github.com/ONRR/onrr.gov-site/files/6474587/Contact.Page.pdf)
[Valuation & Pricing.pdf](https://github.com/ONRR/onrr.gov-site/files/6474590/Valuation.Pricing.pdf)

[2021-05-13 19:28] StaceyKaiser commented on #703
@mcharg The file looks good. You can push it to the live site.  Thanks!

[2021-05-13 19:55] abudz19 commented on #608
@jlouis-onrr

[2021-05-14 13:32] #698 closed

[2021-05-14 13:33] mcharg commented on #673
@jnwang01 We're meeting with leadership on Wednesday to get their feedback on the type of images they would like to see.  After that, I think you can start picking images for each section and styling them to go with the visual design.

[2021-05-14 13:34] #685 closed

[2021-05-14 13:35] mcharg opened #710 "Iterate visual design with feedback from review"
- [ ] Explore lighter tints for tabs, accordions, and table headers.
- [ ] Explore using title case instead of all caps for tabs and primary nav.
- [ ] Explore using a smaller font for second level of tabs.

[2021-05-14 13:36] mcharg commented on #703
@staceykaiser I pushed this to the live site.  Might be a bit before it shows up.

[2021-05-14 13:36] #703 closed

[2021-05-14 13:41] mcharg commented on #706
@Maroyafaied Turns out there isn't a guide specific to eCommerce, but this handbook has a section on it.  Thoughts on pulling the eCommerce section from this to make an eCommerce guide?
https://www.onrr.gov/reportpay/PDFDocs/2012ReporterTrainingBook.pdf

[2021-05-14 14:29] #705 closed

[2021-05-14 14:39] meshanw commented on #673
@mcharg Are we thinking more nature type images similar to what's on onrresource or images of wells, solid minerals, etc?

[2021-05-14 14:48] mcharg commented on #673
@meshanw We're meeting with Kimbra and Howard on Wednesday and will find out which of those two directions they want to go with the images.

[2021-05-14 15:38] mcharg opened #711 "Remove Google Maps from Office Locations page"
It came up in the Web Council that it's an endorsement of a product.

[2021-05-14 15:39] mcharg opened #712 "Redesign office locations page for the new site without Google Maps"
We can't endorse Google.

Current wireframe.
https://qmcq5k.axshare.com/#id=56s5ve&p=office_locations&g=14

[2021-05-14 16:08] mcharg opened #713 "Write alt text for diagrams on onrr.gov"
- [ ] Determining Geothermal Lease Class https://qmcq5k.axshare.com/#id=up0lnh&p=geothermal&g=14
- [ ] How Valuation Works https://qmcq5k.axshare.com/#id=l9inb4&p=valuation___pricing&g=14
- [ ] Compliance https://qmcq5k.axshare.com/#id=wxa2eb&p=compliance&g=14
- [ ] About ONRR > Our History https://qmcq5k.axshare.com/#id=vsgcdx&p=about_onrr&g=14

[2021-05-14 17:55] mcharg commented on #697
Done
https://github.com/ONRR/onrr.gov-site/wiki/Analytics

[2021-05-14 17:55] #697 closed

[2021-05-14 19:25] mcharg commented on #708
Updated in dev:
http://2017onrr/Laws_R_D/FRNotices/ICR0169.htm
http://2017onrr/Laws_R_D/FRNotices/ICR0110.htm

[2021-05-17 14:07] mcharg commented on #695
The regs team appears to be doing this in the spreadsheet I sent them.

[2021-05-17 14:07] #695 closed

[2021-05-17 17:42] mcharg commented on #708
Sent email to Christine to review.

[2021-05-17 20:49] mcharg commented on #560
@Maroyafaied I got this doc from Lori.  It's updated in dev on two pages.  Who needs to review?
http://2017onrr/reportpay/royalty-reporting.htm
http://2017onrr/reportpay/Handbooks/revenue-handbook/index.htm (on the supplemental information tab and in the TOC)

[2021-05-18 13:49] mcharg commented on #711
@Maroyafaied This is updated in dev and ready to review.
http://2017onrr/about/office-locations.htm

[2021-05-18 14:52] mcharg commented on #691
@Maroyafaied I commented out the links in dev.  Does that work?
http://2017onrr/

[2021-05-18 15:23] Maroyafaied commented on #560
@mcharg I send an email to review the changes. Thanks

[2021-05-18 15:25] Maroyafaied commented on #691
@mcharg was there an email address or something for a user to subscribe? I have an email from a user asking how they can subscribe.

[2021-05-18 15:29] mcharg commented on #691
@Maroyafaied It was probably an RSS feed, but I have no idea how that works.

[2021-05-18 15:35] Maroyafaied commented on #691
@mcharg Ok commenting it out is fine then.

[2021-05-18 15:35] Maroyafaied commented on #711
@mcharg looks good.

[2021-05-18 15:43] mcharg commented on #711
Pushed to the live site.

[2021-05-18 15:43] #711 closed

[2021-05-18 15:43] Maroyafaied commented on #706
@mcharg Ya we can do that if the information is different than what's on the other documents related to ecommerce. We can also link to the training video related to ecommerce.

[2021-05-18 15:47] Maroyafaied commented on #560
@mcharg review was verified by email, this is good to push live.  Please also note on the tracking sheet that this doc is accessible. Thanks

[2021-05-18 16:13] mcharg commented on #560
Pushed live.

[2021-05-18 16:13] #560 closed

[2021-05-18 16:47] Maroyafaied commented on #709
@daniel-coleman-1 Below are instructions for this issue, please let me know if you have any questions or feel free to schedule a meeting if you want me to do one as an example.
1. Filter the [accessibility tracking tab](https://doimspp-my.sharepoint.com/:x:/r/personal/mchargs_mms_gov/_layouts/15/Doc.aspx?sourcedoc=%7B928732E3-BA62-4E42-8D4D-A815C2802C66%7D&file=AccessibilityTracking.xlsx&action=de

[2021-05-18 16:56] mcharg commented on #709
@daniel-coleman-1 Column Q is actually going to be blank for the ones that don't have a report.  Once you run the report, you can update that column with either Accessible or Not Accessible.

[2021-05-18 16:57] mcharg commented on #709
And add your name to column P as the one who generated the report.

[2021-05-18 17:41] mcharg commented on #691
Pushed to live site.

[2021-05-18 17:41] #691 closed

[2021-05-18 19:12] meshanw commented on #706
@mcharg One of my team members provided the attached guide. They are going to check to see if there is an updated version since this one is from 2017.
[eCommerce_Reporting_Website_User_Guide.pdf](https://github.com/ONRR/onrr.gov-site/files/6503647/eCommerce_Reporting_Website_User_Guide.pdf)

Once I get an updated copy, I will post here.

[2021-05-18 19:21] mcharg commented on #706
@meshanw Awesome. Thanks!

[2021-05-18 19:21] #706 closed

[2021-05-18 19:40] mcharg commented on #302
I figured out how to remove the "best bets" in search.gov.
https://search.usa.gov/search?query=ogor&affiliate=ONRR

[2021-05-18 20:27] mcharg opened #714 "Find out whether we still need to provide Indian Leases Cross-walked to Distributee Codes as both a pdf and xls file"
They're both marked as accessible, but not being updated at the same time (or at least we didn't update the dates at the same time).  Maybe we can just have the xls?

Royalty Reporting page
https://www.onrr.gov/reportpay/royalty-reporting.htm
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/7691e371-04aa-4211-8ba4-af8b5ec6912e)

Payments page
https://www.onrr.gov/reportpa

[2021-05-18 20:42] Maroyafaied commented on #302
Looks good!

[2021-05-18 20:46] #302 closed

[2021-05-18 20:54] mcharg commented on #466
@CM805 Can you help with this one?

It's referring to the four files on this page.
https://www.onrr.gov/reportpay/CrossRef.htm
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/e416e07c-155e-417a-a85d-a7745bc08cf0)

[2021-05-18 22:07] daniel-coleman-1 opened #715 "@daniel-coleman-1 Column Q is actually going to be blank for the ones that don't have a report. Once you run the report, you can update that column with either Accessible or Not Accessible."
@daniel-coleman-1 Column Q is actually going to be blank for the ones that don't have a report.  Once you run the report, you can update that column with either Accessible or Not Accessible.

_Originally posted by @mcharg in https://github.com/ONRR/onrr.gov-site/issues/709#issuecomment-843360983_

I could be filtering them wrong, but I'm not seeing any that don't have a report.  They're all either

[2021-05-18 22:08] #715 closed

[2021-05-18 22:08] daniel-coleman-1 commented on #709
I'm not seeing any that don't have a report - just Accessible, Not Accessible, or Removed.  Am I filtering them incorrectly?

[2021-05-18 23:02] Maroyafaied commented on #709
@daniel-coleman-1  This is what you should be filtering for: April Lockler (column L), Blank (column Q), phase 3 (column R).  Let me know if that makes sense.
![image](https://user-images.githubusercontent.com/40175688/118734060-d056f980-b7fa-11eb-8aee-a7582bc74e2e.png)

[2021-05-19 13:19] mcharg commented on #709
@daniel-coleman-1 I put your name in column P for the ones that need checking, in case it's easier to filter by that.

[2021-05-19 13:29] sghahn opened #716 "Document Removal Request"
Good morning @mcharg would you please remove the https://www.onrr.gov/ReportPay/PDFDocs/2012ReporterTrainingBook.pdf document from the website. Thank you!

[2021-05-19 16:31] mcharg opened #717 "Review updates to regulations docs and create issues"
They've updated their spreadsheet, so we need to make updates based on what they've given us. I'll look at what's there and create issues, for next sprint, so others can help with the updates.

[2021-05-19 16:32] mcharg commented on #717
Spreadsheet: https://doimspp-my.sharepoint.com/:x:/r/personal/mchargs_mms_gov/Documents/onrr.gov/508/Phase%203/Regulations.xlsx?d=w9f755df9c3964c2989ac4a9ebd8266f8&csf=1&web=1&e=w9mdht

[2021-05-19 16:32] mcharg commented on #717
I may separate this into separate issues for other people to help with once I go through the spreadsheet.

[2021-05-19 19:08] jpetersononrr commented on #628
Hi,

When I try to correct the phantom table (because nothing is highlighted when I click on it), it then says that various words have character issues.  So I don’t have a good answer for this one…

​Jodie Peterson
Minerals Revenue Specialist
Office of Natural Resources Revenue
***@***.***
(303)231-3719

Royalty Valuation - Consistent Answers to Complex Questions

From: mcharg ***@***.***>
Sent: F

[2021-05-19 19:12] mcharg commented on #628
@jpetersononrr Are you starting from a Word doc you can send me and I can see if I can figure it out?

[2021-05-19 19:40] mcharg commented on #716
@sghahn This is updated in dev. Let me know if it's good to push to the live site.
http://2017onrr/reportpay/royalty-reporting.htm

[2021-05-19 20:49] #474 closed

[2021-05-19 20:51] mcharg opened #718 "Wireframe updates from About page reivew"

[2021-05-19 20:52] mcharg commented on #673
We're going with the nature image theme.

[2021-05-19 20:53] mcharg commented on #710
Leadership wants to see less blue, so:
- [ ] Explore using one of the expanded color as the secondary color.

[2021-05-20 11:19] sghahn commented on #716
@mcharg, yes please proceed with the removal.

[2021-05-20 13:26] mcharg commented on #679
@jnwang01 Leadership wanted to change this to match what they're calling the steps elsewhere to be Collect & Disburse, Achieve Compliance, Report & Share.  They'll be sending us a diagram they have that they'd like us to consider.

[2021-05-20 13:35] #716 closed

[2021-05-20 13:35] mcharg commented on #716
@sghahn This is now live.
https://www.onrr.gov/reportpay/royalty-reporting.htm

[2021-05-20 14:38] mcharg commented on #708
These changes are now live.

[2021-05-20 14:38] #708 closed

[2021-05-20 15:47] mcharg opened #719 "Replace FRN pdfs with links to federal register"
- [x] https://www.onrr.gov/Laws_R_D/FRNotices/PDFDocs/1230.pdf
https://www.federalregister.gov/citation/53-FR-1230

- [x] https://www.onrr.gov/Laws_R_D/FRNotices/PDFDocs/1978thru1994/1184.pdf
https://www.federalregister.gov/citation/53-FR-1184

- [x] https://www.onrr.gov/Laws_R_D/FRNotices/PDFDocs/46527.pdf
https://www.federalregister.gov/citation/56-FR-46527

- [x] https://www.onrr.gov/Laws_R_D/F

[2021-05-20 15:56] mcharg commented on #719
Steps to update these:
1. Look up the file in the content audit tab of the [accessibility tracking spreadsheet](https://doimspp-my.sharepoint.com/:x:/r/personal/mchargs_mms_gov/Documents/onrr.gov/508/AccessibilityTracking.xlsx?d=w928732e3ba624e428d4da815c2802c66&csf=1&web=1&e=nbGMpN) to see what page(s) the document is linked on.
2. Find the page(s) in the dev folder and open it in Atom or Notepad

[2021-05-20 15:58] CM805 commented on #466
I'm in contact with Candace Merrell.  She is RRM's web content POC.

[2021-05-20 15:59] mcharg commented on #466
Awesome!

[2021-05-20 15:59] CM805 commented on #714
I'm in contact with Candace Merrell. She is RRM's web content POC.  Tring to find POC for Payment pages.

[2021-05-20 15:59] mcharg commented on #466
I think it's Stacey Kaiser on DORC who we get the .txt one from usually.

[2021-05-20 16:25] CM805 commented on #714
Cheri Baker and Victoria Soto are reviewing the documents for the Payments page.  I will follow up with them next week.

[2021-05-20 16:28] mcharg opened #720 "Replace FRNs with accessible PDFs"
These ones don't have links to the federal register.

- [x] https://www.onrr.gov/Laws_R_D/pubcomm/PDFDocs/990520.pdf
- [x] https://www.onrr.gov/Laws_R_D/FRNotices/PDFDocs/74157.pdf
- [x] https://www.onrr.gov/Laws_R_D/FRNotices/PDFDocs/74156.pdf

Accessible versions attached.
[https://app.zenhub.com/files/210892300/b04a741d-40dd-4a13-bf23-42907bbf2e22/download](https://app.zenhub.com/files/21089230

[2021-05-20 16:30] mcharg commented on #720
Steps to update these:
1. Find the document in the Accessibility Tracking sheet.
2. Save the new pdf to your computer and rename it to match the old file name.
3. Run an accessibility check on the document.  Let @mcharg know if there are errors and I'll return it to the regulations team.
4. If there are no errors, save the new document to the location where the old document was in both the dev sit

[2021-05-20 16:34] mcharg opened #721 "Update FRN page wireframe"
This is what the regulations team would like.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/08a585ef-e659-403c-9978-ef3bcd657561)

[2021-05-20 16:45] mcharg opened #722 "Remove Public Laws docs"
- [x] https://www.onrr.gov/Laws_R_D/PubLaws/PDFDocs/GOMESAct2006.pdf
- [x] https://www.onrr.gov/Laws_R_D/FRNotices/PDFDocs/RSFA_Public_Law_104-200_Sep_22_1996.pdf
- [x] https://www.onrr.gov/Laws_R_D/PubLaws/PDFDocs/AppropriationsAct1992.pdf

[2021-05-20 16:50] mcharg opened #723 "Replace Public Laws documents with links"
- [x] https://www.onrr.gov/Laws_R_D/PubLaws/PDFDocs/97-451.pdf
https://uscode.house.gov/view.xhtml?path=/prelim@title30/chapter29&edition=prelim

- [x] https://www.onrr.gov/Laws_R_D/PubLaws/PDFDocs/MineralLeasingAct1920.pdf
https://uscode.house.gov/view.xhtml?path=/prelim@title30&edition=prelim

- [x] https://www.onrr.gov/Laws_R_D/PubLaws/PDFDocs/LandsAct1953.pdf
https://uscode.house.gov/view.xhtm

[2021-05-20 16:51] mcharg commented on #723
Steps to update these:
1. Look up the file in the content audit tab of the accessibility tracking spreadsheet to see what page(s) the document is linked on.
2. Find the page(s) in the dev folder and open it in Atom or Notepad to edit.
3. Find the link to the document on the page.
4. Copy the link listed below the doc above and paste it in place of the link to the pdf.
5. Save the changes on the pa

[2021-05-20 17:09] CM805 commented on #676
Mary and Sonny, with RRM, are working on this today.

[2021-05-20 18:12] #673 closed

[2021-05-20 18:13] mcharg opened #724 "Decide on photos for each section"

[2021-05-20 18:28] jlouis-onrr commented on #352
closing this in favor of #1101

[2021-05-20 18:28] #352 closed

[2021-05-20 18:39] mcharg commented on #679
@jnwang01 This is the diagram. They want ours to be inline with the 3 blue boxes.
![image](https://user-images.githubusercontent.com/38465926/119031532-3073aa00-b979-11eb-87e7-fd67ea5debe1.png)

[2021-05-20 19:38] CM805 commented on #714
On the Royalty Reporting page we can remove the PDF file.  This was conformed with Candace Merrell.

I'm still working on getting an answer for the Payments page.

[2021-05-20 20:05] mcharg commented on #714
@CM805 Can you create a new issue to remove the PDF on the royalty reporting page?

[2021-05-20 21:19] CM805 commented on #466
For the RRM maintained files Candace has heard from a few payors that they like having it available sorted different ways.  But your surveys suggested otherwise.  She's okay with either.  Maybe remove the duplicates and see if we get any feedback?  Also, this file is updated monthly, so we will need to let Candace know if you just want it in one format for the version posted in June.

[2021-05-20 21:23] mcharg commented on #466
I vote for one version.  When it was a pdf, I could see the value of having it sorted differently, but with Excel it's easy for the user to do that.  @Maroyafaied Do you agree?

[2021-05-20 21:25] mcharg commented on #466
I can also look at analytics and see if different ones are being downloaded now that they're in Excel.

[2021-05-20 21:27] CM805 opened #725 "Remove PDF file: Indian Leases Cross-walked to Distributee Codes"
Remove the PDF version of this file from the Royalty Reporting page.

https://www.onrr.gov/reportpay/royalty-reporting.htm

![image](https://user-images.githubusercontent.com/83783622/119050957-cb6f8280-b97f-11eb-994b-ffc3fdc18546.png)

[2021-05-20 21:28] CM805 commented on #466
@mcharg great idea

[2021-05-20 21:29] CM805 commented on #714
@mcharg done.  #725

[2021-05-20 21:48] CM805 opened #726 "Remove file from ONRR.gov Payments page: Indian Leases Cross-walked to Distributee Code"
Remove the PDF version from ONRR.gov payments page

https://www.onrr.gov/reportpay/payments.htm

![image](https://user-images.githubusercontent.com/83783622/119053027-b7795000-b982-11eb-8b32-ead6cb43facd.png)

[2021-05-20 21:48] CM805 commented on #714
We can remove the PDF version of this.  I created issue #726 for this.

![image](https://user-images.githubusercontent.com/83783622/119052844-75500e80-b982-11eb-877e-7e9fdca7df12.png)

[2021-05-20 21:51] CM805 commented on #714
I have received approval to replace the following PDFs with one Excel file.  I am trying to locate the Excel file.

![image](https://user-images.githubusercontent.com/83783622/119053410-425a4a80-b983-11eb-9a7e-df4b76d7d097.png)

[2021-05-20 22:23] Maroyafaied commented on #466
@mcharg Ya I agree, one excel file would be better, it could even have different tabs with the different sorts if needed for users.

[2021-05-20 22:27] CM805 opened #727 "Consolidate files on ONRR.gov: Cross-Reference Lease to Agreement Numbers"
Replace three existing excel files with one file, based on usage analytics

https://www.onrr.gov/reportpay/CrossRef.htm

![image](https://user-images.githubusercontent.com/83783622/119056610-3de46080-b988-11eb-84f4-ac5f308215dc.png)

[2021-05-20 22:28] CM805 commented on #466
I created issue #727 for that.  I'll follow up with Stacey Kaiser on the .txt file next week.

[2021-05-20 22:52] merrellc opened #728 "Webpage Update - Indian Fund Code"
Please update the following webpage http;//onrr.gov/ReportPay/payments.htm with the attached file's:

Indian Leases Cross-walked to Distriutee Codes
Downloadable Excel Version Indian Leases Cross-walked to Distributee codes also change
updated to read 05/20/2021.

In addition to the above please update the date to read 05/20/2021 on URL http://www.onrr.gov/ReprotPay/royalty-reporting.htm for the s

[2021-05-21 15:01] bakercook opened #729 "Update ONRR.gov"
Hello,

Please update the following information on ONRR.gov from Cheri Baker to:

Contact Soukanaya Phommachaly at ONRR-RFMASGL@onrr.gov for electronic deposit instructions.

https://www.onrr.gov/reportpay/payments.htm

[ONRR.gov update.docx](https://github.com/ONRR/onrr.gov-site/files/6523393/ONRR.gov.update.docx)

[2021-05-21 16:50] mcharg commented on #724
We know leadership wants to use these 3.![Navajo Bridge.jpg](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/8d9f95ad-208a-459e-92ab-ff4c37151d67)![hero image idea 4.jpg](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/f7f5d9dc-89a3-4bef-b824-1430d98e3a16)![Hero Photo Idea 3.jpg](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/e1c7d966-46fc-4ead-a5bf-3ad50

[2021-05-21 16:56] mcharg commented on #466
Analytics:
Sorted by Agreement Name (updated 05/03/2021) - 48 downloads in the last 30 days
Sorted by Agreement Number (updated 05/03/2021) - 82 downloads in the last 30 days
Sorted by Lease Number (updated 05/03/2021) - 113 downloads in the last 30 days
Downloadable Text Cross-Reference Lease to Agreement Number - 80 downloads in the last 30 days

[2021-05-21 16:56] mcharg commented on #727
Analytics:
Sorted by Agreement Name (updated 05/03/2021) - 48 downloads in the last 30 days
Sorted by Agreement Number (updated 05/03/2021) - 82 downloads in the last 30 days
Sorted by Lease Number (updated 05/03/2021) - 113 downloads in the last 30 days

[2021-05-21 17:02] mcharg commented on #728
The remove the pdf piece of this is covered in issues #725 and #726.

[2021-05-21 17:34] mcharg opened #730 "Remove and/or replace public comments with links"
SM: I'm going to do this one myself because it's kind of tricky finding all the code to comment out the comment accordions and finding the lists of docs to archive.

[2021-05-21 18:41] mcharg commented on #718
I addressed Howard's edits, but I need to get the values to incorporate those.

[2021-05-21 18:59] #717 closed

[2021-05-21 20:26] Sheetsj opened #731 "Update Contact list"
Hello,
I need the contact list on ONRR.GOV updated.  Located: ONRR.GOV-Contact US-Online Resources- ONRR Contacts by Company Assignment-Accounts Receivable, Billing, and Financial Issues Information -- Federal

File located on the N'Drive: \\ISEDENNAS\DEN_Common\FMD\FinancialServices\Admin\Fed Assignment Contact List
File Name: finserAssign

[2021-05-21 20:28] Sheetsj commented on #731
I tried to attached the file, but I don't think it is letting me do it. I have tried dragging & dropping ,but it just opens the file up. I also selecting it. I am not sure if it attached.

[2021-05-21 20:37] mcharg commented on #719
I updated ones on pages I touched when removing public comments.

- [ ] http://2017onrr/Laws_R_D/FRNotices/AD04.htm

[2021-05-24 13:06] mcharg commented on #730
- [ ] http://2017onrr/Laws_R_D/FRNotices/AD05.htm
- [ ] http://2017onrr/Laws_R_D/FRNotices/AD04.htm
- [ ] http://2017onrr/Laws_R_D/FRNotices/AA04.htm
- [ ] http://2017onrr/Laws_R_D/FRNotices/AA03.htm
- [ ] http://2017onrr/Laws_R_D/FRNotices/AA02.htm

[2021-05-24 13:45] Maroyafaied commented on #731
@Sheetsj you can email the document to onrrweb@onrr.gov

[2021-05-24 13:46] bakercook commented on #729
Hello,

Another update. Please see below.  Thank you,

[Revision.docx](https://github.com/ONRR/onrr.gov-site/files/6532765/Revision.docx)

[2021-05-24 13:46] #729 closed

[2021-05-24 13:51] Maroyafaied opened #732 "Update contact"
This request came from the mailbox:

Please update to:

Contact Victoria Soto at ONRR-RFMASGL@onrr.gov, for electronic deposit instructions.

https://www.onrr.gov/reportpay/payments.htm

![image](https://user-images.githubusercontent.com/40175688/119357424-cb63d100-bc64-11eb-86e8-dde81dfe87ad.png)

[2021-05-24 13:54] Maroyafaied opened #733 "Update document"
This request came from the mailbox:

Please update this document https://onrr.gov/reportpay/royalty-reporting.htm

[royassign.pdf](https://github.com/ONRR/onrr.gov-site/files/6532807/royassign.pdf)

[2021-05-24 13:58] Maroyafaied commented on #731
@daniel-coleman-1 here is the document

[finserAssign.pdf](https://github.com/ONRR/onrr.gov-site/files/6532849/finserAssign.pdf)

[2021-05-24 16:42] mcharg opened #734 "Write guide for how to update onrr.gov"
To go on the wiki.

[2021-05-24 17:31] mcharg opened #735 "Document CMS requirements"
Lori mentioned that someone on the Web Council said sites need to move to Drupal.  She wants our requirements to see if what we're doing is in compliance.

[2021-05-24 18:24] #652 closed

[2021-05-24 18:26] jlouis-onrr opened #736 "Create new CMS page content blocks"

[2021-05-24 18:27] jlouis-onrr opened #737 "Create main navigation sub menus"

[2021-05-24 18:28] jlouis-onrr opened #738 "Run Headless CMS in cloud.gov"

[2021-05-24 18:30] jlouis-onrr opened #739 "Create Contacts collection and consume from api"

[2021-05-24 18:32] jlouis-onrr opened #740 "Create dev frontend in cloud.gov for new headless CMS"

[2021-05-24 18:33] jlouis-onrr opened #741 "Setup CI for new ONRR frontend app"

[2021-05-24 18:38] jlouis-onrr opened #742 "Implement visual design theming into vuetify"

[2021-05-24 18:38] Maroyafaied commented on #722
Christine Thomas is the reviewer

[2021-05-24 18:45] jlouis-onrr opened #743 "Add link component to handle all version of links"
create component to handle site links (external, internal, icons, no icons, pdfs, etc), similar to NRRDs

[2021-05-24 19:16] #709 closed

[2021-05-24 20:50] meshanw commented on #732
Updated in DEV, sent requestors an email to review.
http://2017onrr/reportpay/payments.htm

[2021-05-24 21:08] meshanw commented on #719
updated link in dev http://2017onrr/Laws_R_D/FRNotices/ab57.htm

[2021-05-24 22:54] CM805 commented on #710
Yellow was specifically mentioned

[2021-05-25 16:24] CM805 commented on #726
Working under issue #728

[2021-05-25 16:26] Maroyafaied commented on #731
@daniel-coleman-1 I believe this is the document that needs to be updated.  And it's saved in the report pay folder, then pdf folder, titled as FSFederalCOAssignm.pdf. So you will need to change the name of the document when you save it.
![image](https://user-images.githubusercontent.com/40175688/119533319-f3c1fd00-bd42-11eb-8bfa-08d762c543ac.png)
FSFederalCOAssignm.pdf

[2021-05-25 16:32] CM805 commented on #728
@merrellc this is ready to review in development:

http://2017onrr/reportpay/royalty-reporting.htm

[2021-05-25 16:36] CM805 commented on #725
@mcharg please review in dev: http://2017onrr/reportpay/payments.htm

[2021-05-25 16:39] mcharg commented on #725
@CM805 Looks good. You can push this to the live site.

[2021-05-25 16:58] CM805 commented on #726
@mcharg this is the pne on the payments page that you just reviewed.  I will push changed to live site once my access gets fixed.

[2021-05-25 17:00] CM805 commented on #725
This is being worked under #728.

[2021-05-25 17:00] #725 closed

[2021-05-25 17:32] CM805 commented on #726
@mcharg you can go ahead and make these changes to the live site while my access gets fixed. Thanks!

[2021-05-25 17:52] mcharg commented on #726
@CM805 I pushed the change to the live site.  It might take a bit (like 30 minutes) to show up.  Once you see the change on the live site, you can close the issue.
https://www.onrr.gov/reportpay/payments.htm

[2021-05-25 17:55] CM805 commented on #727
@mcharg Ready to review in dev
http://2017onrr/reportpay/CrossRef.htm

[2021-05-25 17:59] mcharg commented on #727
@CM805 Can we drop the heading and have just a link that says "Cross-Reference Lease to Agreement Numbers"?  Now that there's only one file, the heading and saying how it's sorted seem unnecessary.
![image](https://user-images.githubusercontent.com/38465926/119545843-414d6280-bd61-11eb-9237-abfdde2f1758.png)

[2021-05-25 19:00] CM805 commented on #727
@mcharg I removed the heading.  Can't figure out how to move the bullet to the left.  Also, I think we can rename this Agreements tied to a lease number.
![image](https://user-images.githubusercontent.com/83783622/119553737-2545c300-bd59-11eb-85b3-baccce607a81.png)

Also, the two documents just above this do not include the lease number.  So, as they are now, we cannot eliminate them in favor of t

[2021-05-25 19:10] mcharg commented on #727
@CM805 I'll go in and change it.  Yes, let's create a new issue for consolidating the other two docs.  I'll look them up in the analytics to see which is used more often.

[2021-05-25 19:13] mcharg commented on #727
@CM805 It's updated in dev.
http://2017onrr/reportpay/CrossRef.htm

[2021-05-25 19:15] mcharg commented on #727
For future reference, it's `<li>` tags nested under a second `<ul>` set that make it into sub bullets.

I commented out the `<ul>` set highlighted in yellow.
![image](https://user-images.githubusercontent.com/38465926/119555475-e79e6580-bd6b-11eb-90b2-d4d56cbfce59.png)

[2021-05-25 19:15] CM805 commented on #727
@mcharg looks good in dev

[2021-05-25 19:17] mcharg commented on #727
@CM805 Should we run it by anyone in RRM before pushing live?

[2021-05-25 19:22] CM805 commented on #727
@mcharg I think we're good to push live

[2021-05-25 20:18] merrellc commented on #728
Ready to go.

Thank you
​Candace Merrell
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3517
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosure u

[2021-05-26 13:37] #726 closed

[2021-05-26 13:51] mcharg opened #744 "Replace Indian Distributee Codes pdfs with Excel file"
I have received approval to replace the following PDFs with one Excel file.  I am trying to locate the Excel file.

![image](https://user-images.githubusercontent.com/83783622/119053410-425a4a80-b983-11eb-9a7e-df4b76d7d097.png)

[2021-05-26 13:52] mcharg commented on #714
@CM805 I created #744 for replacing the pdfs with Excel, since they're a different file from the original issue.  Closing this one, since the original part is done.

[2021-05-26 13:52] #714 closed

[2021-05-26 14:04] mcharg commented on #727
Updated on the live site.
https://www.onrr.gov/reportpay/CrossRef.htm

[2021-05-26 14:04] #727 closed

[2021-05-26 14:53] CM805 opened #745 "Consolidate files on ONRR.gov Cross Ref Page: Active Agreements xls"
Cancel out one of the files below, based on analytics.  These two files contain the same information sorted different ways.

https://www.onrr.gov/reportpay/CrossRef.htm

![image](https://user-images.githubusercontent.com/83783622/119681799-9d66c400-bdff-11eb-8c44-359b9794503b.png)

[2021-05-26 14:56] CM805 commented on #466
@mcharg think I can close this and create a new issue to address the text file, since the majority of this is done?

[2021-05-26 15:03] mcharg commented on #466
@CM805 Yes

[2021-05-26 15:09] daniel-coleman-1 commented on #731
@Sheetsj
Please review:
http://2017onrr/about/contact.htm

[2021-05-26 15:13] mcharg commented on #724
Additional photos: https://teams.microsoft.com/_#/files/General?threadId=19%3A34f9f9ee6b0441dbacab56bfd552f819%40thread.skype&ctx=channel&context=Indian%2520Resources%2520Amanda%2520Garrison%2520Photos&rootfolder=%252Fsites%252FNRRD%252FShared%2520Documents%252FGeneral%252FONRR.gov%252FDesign%252FOpenOpp%2520-%2520Visual%2520Design%252FPhotos%252FIndian%2520Resources%2520Amanda%2520Garrison%2520Ph

[2021-05-26 15:15] mcharg commented on #745
@CM805 Here are the analytics.

saaname.xls was downloaded 78 times in the last 30 days
saanum.xls was downloaded 63 times in the last 30 days

[2021-05-26 15:17] daniel-coleman-1 commented on #733
Accessibility report came back with 1 error.  Maroya emailed document owner to correct error.

[2021-05-26 15:40] CM805 opened #746 "Figure out if we can remove the text Cross-Reference Lease to Agreement Number file"
https://github.com/ONRR/onrr.gov-site/issues/466

https://onrr.gov/reportpay/CrossRef.htm

![image](https://user-images.githubusercontent.com/83783622/119689620-3c8eba00-be06-11eb-85c3-05759dc802a7.png)

Contact Stacy Kiser about this.

@mcharg can you look at analytics for this one?  Can I look at analytics myself?

[2021-05-26 15:42] CM805 commented on #466
Opened new issue #746 for one remaining task

[2021-05-26 15:42] #466 closed

[2021-05-26 15:54] mcharg commented on #746
80 downloads in the last 30 days

@CM805 If you fill out this form to get DAP access, you can get into analytics. https://docs.google.com/forms/d/e/1FAIpQLSc002Xp2hMjH0KxzilzfKG-ei8TzHLK-uady-qQbbAZms7jNQ/viewform

[2021-05-26 16:02] CM805 commented on #745
@mch please review in dev

http://2017onrr/reportpay/CrossRef.htm

[2021-05-26 16:10] mcharg commented on #745
@CM805 I think you can drop the "sorted by..." part of the link label and just call it Active Agreements.

[2021-05-26 16:14] CM805 commented on #745
@mcharg done.  Want to review?  Then I'll push to live.

[2021-05-26 16:17] mcharg commented on #745
@CM805 Looks good to push live.

[2021-05-26 17:01] CM805 commented on #745
@mcharg live is up:

https://onrr.gov/reportpay/CrossRef.htm

[2021-05-26 17:07] #745 closed

[2021-05-27 12:31] Sheetsj commented on #731
When I click the link it is still showing the old version. I have attached the file again just in case it was an old one that I sent in.
[finserAssign.pdf](https://github.com/ONRR/onrr.gov-site/files/6553968/finserAssign.pdf)
.

[2021-05-27 14:04] mcharg opened #747 "Update Compliance Authorities tab in the wireframes"
And link to the Statutes page.

[2021-05-27 15:04] Maroyafaied commented on #731
@Sheetsj please refresh and clear your cache by pressing ctrl and F5. Let us know if it works

[2021-05-27 15:31] CM805 commented on #746
@mcharg I compared the two files:

![image](https://user-images.githubusercontent.com/83783622/119853534-855d7600-becd-11eb-8512-a01a9f893224.png)

All of the data that is in the Excel file is in the text file.  There is more in the text file, to include: active versus inactive status, land classification, lease allocation percentage, and more.  So I do not thing we should get rid of the text file

[2021-05-27 15:33] mcharg commented on #746
@Maroyafaied Should we have a meeting with whomever pulls the Excel file and DORC to see if we can just be pulling this data once and get to one file?

[2021-05-27 16:21] Maroyafaied commented on #734
Put instructions on wiki in issues #719 and #720.

[2021-05-27 16:32] Toddsand21 opened #748 "EVENT CALENDAR (Please add these to our Event Calendar on the Alottee Assistance page)"
JUNE 9, 2021
Title: FIMO PHONE-IN OUTREACH
Event Information
Location: By Telephone
Time: 10:00 AM - 12:00 PM
Description: Meeting will be a Call-In Meeting to hear current updates from the Federal Indian Minerals Office (FIMO).  BLM, BTFA, and BIA representatives will also be on the call to discuss topics regarding Indian oil and gas, IIM accounts, Indian trust property issues, and probate.   Own

[2021-05-27 18:30] Sheetsj commented on #731
Okay I just cleared my cache and it is updated and looks good. Thank You!

[2021-05-27 19:22] abudz19 commented on #710
### Tab variations

[2021-05-27 20:09] Maroyafaied commented on #731
@daniel-coleman-1 you can make this live by saving the document below to the publication folder (Z) \\Isehrnpubstg01\onrr2017\reportpay\PDFDocs
[FSFederalCOAssignm.pdf](https://github.com/ONRR/onrr.gov-site/files/6556516/FSFederalCOAssignm.pdf)

[2021-05-27 20:15] mcharg opened #749 "Iterate visual design"
- [ ] Try an image with yellows/oranges with the teal tabs.
- [ ] Try orange/yellow as tabs.
- [ ] Try orange/yellow as the color block behind the page title.

[2021-05-27 20:15] #710 closed

[2021-05-27 20:16] mcharg commented on #710
@abudz19 The valuation & pricing page purple appears to not have finished uploading and I can't get the file.

[2021-05-27 20:21] mcharg commented on #724
@CM805 Will put all the photos into Slack to vote on and @abudz19 will note which ones she's tried that don't work with the size allotted.

[2021-06-01 14:46] Maroyafaied opened #750 "Greg Gould Testimony pdf 508 compliance check"
This request came in by email from Christina Mathers

Hi Maroya and Shannon,

Please see attached 3 pdf of Greg Gould's testimony checked for accessibility. They should be ready to back on onrr.gov.  Please let me know if you have any questions. Thank you!
[FINA-SENR-ONRR-Testimony-on-Federal-Mineral-Revenues-(FINAL-07212014).pdf](https://github.com/ONRR/onrr.gov-site/files/6577122/FINA-SENR-ONRR-

[2021-06-01 14:51] Maroyafaied commented on #746
@mcharg Do we know who provides the excel file?

[2021-06-01 14:55] mcharg commented on #730
Email sent to Christine for approval.

[2021-06-01 14:56] mcharg commented on #746
@CM805 Is it Candace that provides the Excel file?

[2021-06-01 14:58] mcharg commented on #750
Adding third file.[https://app.zenhub.com/files/210892300/9ccdd42f-e856-4450-ac06-7dfb24505c21/download](https://app.zenhub.com/files/210892300/9ccdd42f-e856-4450-ac06-7dfb24505c21/download)

[2021-06-01 15:24] CM805 commented on #746
@mcharg I think so.

On the accessibility tracking sheet maybe we should add a column to track the person who maintains the file (not just the program manager, but the actual person to contact)

[2021-06-01 16:02] mcharg commented on #746
@CM805 Good idea.

[2021-06-01 16:14] daniel-coleman-1 commented on #731
Confirmed, the document is live.  Issue closed.

[2021-06-01 16:14] #731 closed

[2021-06-01 16:59] daniel-coleman-1 commented on #723
Updated in dev site, pending review

[2021-06-01 17:35] Maroyafaied opened #751 "Training link to "WebCenter Portal user Guide.Pdf" not working"
This request came in by email:

In the ONRR website https://www.onrr.gov/ReportPay/training/index.htm, when you click on the Training Presentation for the “WebCenter Portal User Guide.PDF”, it gives an error showing the file may have been removed or changed.  I am able to open the file right above it called “WebCenter Portal.PDF” with no problems.

Can you please look into this and let me know whe

[2021-06-01 17:43] mcharg commented on #751
@Maroyafaied I fixed this.  The file got put into the Not Linked folder.

[2021-06-01 17:43] #751 closed

[2021-06-01 18:35] mcharg commented on #723
97-451.pdf was also on the Homepage and Civil Penalties page.  I updated the links on those pages.
http://2017onrr/index.htm
http://2017onrr/compliance/civil-penalties.htm

[2021-06-01 18:43] mcharg commented on #723
I also moved the files to the archive folder and updated the content audit and accessibility tracking spreadsheet.  I'll send to Christine for approval.

[2021-06-01 18:45] mcharg commented on #723
@daniel-coleman-1 I missed one.

Replace: https://www.onrr.gov/Laws_R_D/PubLaws/PDFDocs/EnergyPolicyAct2005.pdf
With: https://www.congress.gov/109/plaws/publ58/PLAW-109publ58.pdf

[2021-06-01 18:46] mcharg commented on #722
@daniel-coleman-1 Do you want to take this one, while you're in the Public Laws page?

[2021-06-01 19:55] daniel-coleman-1 commented on #723
I didn't go through the accessibility tracker to find them, I just looked around on the site until I found a place where they were housed.  I'm not totally sure how to use the accessibility tracking sheet here.

For #1. Look up the file in the content audit tab of the accessibility tracking spreadsheet to see what page(s) the document is linked on, what row should I be looking at in the spreadshee

[2021-06-01 20:06] Maroyafaied commented on #748
@toddsand21 for some reason it's only allowing me to add only 2 events at a time, can you review the first two events and I'll push live if it looks good and try to add the others later. http://2017onrr/IndianServices/index.htm#

[2021-06-01 20:15] daniel-coleman-1 commented on #720
@mcharg no accessibility errors, updated files in both dev and live site.

[2021-06-01 20:15] #720 closed

[2021-06-01 20:16] LisaReimer opened #752 "508 Compliance (12 Documents, 12 Accessibility Reports)"
Good afternoon,

Please see attached 508 Compliance documents.  There are 12 documents and 12 corresponding Accessibility Reports.

Please let me know if you would prefer to receive these documents in a zip format in the future.

- [x] [MPRH-Chapter-4.pdf](https://github.com/ONRR/onrr.gov-site/files/6580351/MPRH-Chapter-4.pdf)
[MPRH-Chapter-4_Accessibility Report.pdf](https://github.com/ONRR/onrr.

[2021-06-01 21:06] daniel-coleman-1 commented on #722
@mcharg @Maroyafaied
Removed from the dev site, live site is unchanged.

[2021-06-02 13:29] mcharg commented on #722
@daniel-coleman-1 This looks good.  Once you update the link for the Energy Policy Act, I'll send the Public Laws page to Christine for approval.

[2021-06-02 13:47] mcharg commented on #723
@daniel-coleman-1 I just did the Energy Policy Act, so I can send the page to Christine for review.

[2021-06-02 14:06] mcharg commented on #723
Sent email to Christine for review.

[2021-06-02 14:07] mcharg commented on #722
Sent email to Christine for review.

[2021-06-02 15:14] mcharg commented on #723
@daniel-coleman-1 We got one more link to replace.

Replace: https://www.onrr.gov/Laws_R_D/PubLaws/PDFDocs/GeothermalAct1970.pdf
With: https://uscode.house.gov/view.xhtml?path=/prelim@title30/chapter23&edition=prelim

[2021-06-02 15:15] mcharg commented on #722
@daniel-coleman-1 We have one more to remove.

https://www.onrr.gov/Laws_R_D/PubLaws/PDFDocs/rsfa.pdf

[2021-06-02 15:16] jillbong79 commented on #752
More 508 files RRM:
[MPRH-Chapter-2.pdf](https://github.com/ONRR/onrr.gov-site/files/6585596/MPRH-Chapter-2.pdf)
[MPRH-Table-of-Contents.pdf](https://github.com/ONRR/onrr.gov-site/files/6585597/MPRH-Table-of-Contents.pdf)
[SalesTyp Codes--non-Solids.pdf](https://github.com/ONRR/onrr.gov-site/files/6585598/SalesTyp.Codes--non-Solids.pdf)
[SMRH_Chapter_2.pdf](https://github.com/ONRR/onrr.gov-site/fi

[2021-06-02 15:31] Toddsand21 commented on #748
Yes they look fine please post the first 2 June events.  And you will be deleting the rest of May events, correct?

[2021-06-02 15:32] Maroyafaied commented on #748
@Toddsand21 Ya I'll add the rest of the events and delete May.

[2021-06-02 15:34] Maroyafaied commented on #752
@jillbong79 Attaching the files to the issue works fine, we will plan to work on updating this next week. Thanks

[2021-06-02 15:36] jillbong79 commented on #752
Thank you so much!

Respectfully,

Jill Heinen (she, her, hers)

Minerals Revenue Specialist - Production
Reference, Royalty and Production Team 4A
Reference and Reporting Management
Office of Natural Resources Revenue
Office Phone: (303) 231-3523

“In the end, we will remember not the words of our enemies, but the silence of our friends”. – Martin Luther King, Jr.

Please note **ONRR is bound by

[2021-06-02 15:40] Maroyafaied opened #753 "Update Production Reporting References"
This request came in by email from Johnny Erle

All,
   On the ONRR.gov home page, please update the Production Reporting References with the attached files. The new as of date is 30 Apr 2021.
There are five Gulf files.

Thank you,
[Gulf-Sales-Tanks.xlsx](https://github.com/ONRR/onrr.gov-site/files/6585791/Gulf-Sales-Tanks.xlsx)
[Gulf-Metering-Systems.xlsx](https://github.com/ONRR/onrr.gov-site/fi

[2021-06-02 15:52] daniel-coleman-1 commented on #722
Done

[2021-06-02 15:59] daniel-coleman-1 opened #754 "Update ONRR.gov Compliance page"
Convert links from PDF downloads to document links & descriptions from Federal Laws page

[Preview link](http://2017onrr/compliance/index.htm)

[2021-06-02 16:09] daniel-coleman-1 commented on #754
- [ ] 2009 Federal Oil And Gas Royalty Management Act (FOGRMA, Amendment)
- [ ] 2005 Energy Policy Act
- [ ] 2000 Principles For The Discharge Of The Secretary's Trust Responsibility
- [ ] 1996 Federal Oil And Gas Royalty Simplification And Fairness Act (FOGRSFA)
- [ ] 1994 American Indian Trust Fund Management Reform Act
- [ ] 1991 Mineral Leasing Act (MLA, Amendment)
- [ ] 1982 Federal Oil And G

[2021-06-02 16:33] mcharg commented on #754
@daniel-coleman-1 See the email thread about this.  This compliance team wants to move to something like the federal laws page on NRRD with a user-friendly description for each law.  We may be able to copy the descriptions we have on the NRRD page.

[2021-06-02 16:36] mcharg commented on #754
@Maroyafaied We should find out who Jeff and/or Dane want us to work with on descriptions.

[2021-06-02 16:40] mcharg commented on #722
@daniel-coleman-1 This one is also on the Compliance Overview, so can you please remove it there?

[2021-06-02 16:42] mcharg commented on #722
@daniel-coleman-1 Can you also remove from the compliance overview?

[2021-06-02 16:47] daniel-coleman-1 commented on #722
Removed in Dev

[2021-06-02 16:49] daniel-coleman-1 commented on #754
What I'm seeing is that they would prefer that we link to hosted documents, but we'd like to link to hosted documents that are not hosted on our site - same access to information but less to maintain on our end.  Is that correct?  Also happy to chat verbally about this.

[2021-06-02 16:50] mcharg commented on #754
@daniel-coleman-1 They just gave us the go ahead to use the links and descriptions we have on the NRRD federal laws page for the laws that are on the compliance page.  Then they can react to what we show them.

[2021-06-02 16:54] daniel-coleman-1 commented on #754
Ahhhhhhhhhhh I understand.

[2021-06-02 16:54] daniel-coleman-1 commented on #754
@mcharg  updated task description

[2021-06-02 17:36] mcharg commented on #722
@daniel-coleman-1 One more they want removed.

Royalty Simplification and Fairness Act of 1996

[2021-06-02 17:43] daniel-coleman-1 commented on #722
Current status: Removed in Dev

I made no changes

[2021-06-02 17:44] Maroyafaied commented on #748
@Toddsand21 All the events are added and I removed May's events. Please review http://2017onrr/IndianServices/index.htm#

[2021-06-02 17:44] daniel-coleman-1 commented on #722
We got that one this morning, it just hasn't published yet

[2021-06-02 17:46] mcharg commented on #722
@daniel-coleman-1 Looks like it was replaced with a link, but they want the line removed.

[2021-06-02 18:32] daniel-coleman-1 commented on #722
@mcharg my mistake, fixed.  Line is removed.

[2021-06-02 18:53] mcharg commented on #722
@daniel-coleman-1 Did you save your changes?  I'm still seeing the line.
![image](https://user-images.githubusercontent.com/38465926/120536525-3b373180-c3b2-11eb-905d-cad4803e45e5.png)

[2021-06-02 19:34] mcharg commented on #754
@daniel-coleman-1 This can wait until next sprint, since we're not meeting until the 17th.

[2021-06-02 19:35] mcharg commented on #747
Moving to next sprint after we meeting with the compliance and regs teams.

[2021-06-02 21:28] daniel-coleman-1 commented on #722
What URL is this, and how can I find it from the front page of the site?  I've been removing from the Compliance page.

[2021-06-02 23:18] jlouis-onrr opened #755 "Create SEO component to handle all page meta data"

[2021-06-03 12:41] mcharg commented on #722
@daniel-coleman-1 It's the Public Laws page. http://2017onrr/Laws_R_D/PubLaws/index.htm

You get there from About >Rules & Regulations > Legal Citations (right nav)

[2021-06-03 12:43] mcharg commented on #722
On the Compliance page, on the ones that are replaced with a link, can you change "Open File" to "Open Website"?
![image](https://user-images.githubusercontent.com/38465926/120646707-ca425900-c447-11eb-90c4-1a7f246fb40e.png)

[2021-06-03 13:07] Toddsand21 commented on #748
It's only showing me blank lines.

[2021-06-03 13:43] mcharg commented on #722
@daniel-coleman-1 The Public Laws page is approved to push live.  Let's wait on pushing the changes to Compliance until after the June 17 meeting.

[2021-06-03 13:43] mcharg commented on #723
@daniel-coleman-1 The Public Laws page is approved to push live.  Let's wait on pushing the changes to Compliance until after the June 17 meeting.

[2021-06-03 13:48] Maroyafaied commented on #748
@Toddsand21 That's so weird, it was showing yesterday. I'll look into it today. @jlouis-onrr Do you have any idea why the events are not showing up? \\iondeniisp01\ONRR2017\assets\events

[2021-06-03 14:32] Toddsand21 commented on #748
Yes yesterday I could see the first 2 along with May's events but today it just shows blank lines.

[2021-06-03 14:49] Maroyafaied commented on #748
@Toddsand21 Can you try reviewing again? It should show up now http://2017onrr/IndianServices/index.htm#

[2021-06-03 15:21] daniel-coleman-1 opened #756 "Default to Most Recent Year - Press Release Page"
https://onrr.gov/About/NewsReleases.htm

[2021-06-03 15:36] bowlenj opened #757 "Update ONRR.gov Handbook Page"
Please update the following page with the below information - https://www.onrr.gov/reportpay/Handbooks/index.htm

Please remove Lee-Ann Martins name and phone number and replace with:

April Lockler
(303) 231-3105

Also please remove the note "regarding contents."
[ONRR.gov update April.docx](https://github.com/ONRR/onrr.gov-site/files/6592772/ONRR.gov.update.April.docx)

[2021-06-03 15:39] Toddsand21 commented on #748
Everything looks fine except the Email Address for the Wind River Meeting it reads:  "Undefined" and it should be:
onrroutreachdenver@onrr.gov

[2021-06-03 15:44] mcharg commented on #754
@daniel-coleman-1 Moving this to this issue, so I can push the Public Laws page live and close that issue.

On the Compliance page, on the ones that are replaced with a link, can you change "Open File" to "Open Website"?
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/4d7c520c-b355-4048-a36e-3cc5b8403775)

[2021-06-03 15:46] mcharg commented on #722
Approved and pushed to the live site.  Moved the comment about the compliance page to #754 to address when we update that page.

[2021-06-03 15:46] #722 closed

[2021-06-03 15:47] mcharg commented on #723
Approved and pushed to the live site.

[2021-06-03 15:47] #723 closed

[2021-06-03 15:54] Maroyafaied commented on #748
@Toddsand21 I made that change and pushed it live, it'll be live in 30 min or so.

[2021-06-03 16:09] Toddsand21 commented on #748
I see the first 4 have posted.  Is there more?  Will the June 24 Wind River Meeting post too?

[2021-06-03 16:11] Toddsand21 commented on #748
I'm sorry it still shows the old post with the May events included.  You said it'll take 30 min.  I'll give it time to load. Thanks.

[2021-06-03 16:22] Maroyafaied commented on #748
@Toddsand21 please clear your cache by pressing ctrl and F5

[2021-06-03 16:30] Toddsand21 commented on #748
It looks good.  Thanks!

[2021-06-03 16:32] #748 closed

[2021-06-03 16:46] daniel-coleman-1 commented on #722
Updated in Dev

[2021-06-03 17:37] mcharg commented on #730
Approved via email and pushed live.

[2021-06-03 17:37] #730 closed

[2021-06-03 17:42] mcharg commented on #719
The ones on the public comments pages have been approved by the regs team and updated on the live site.

[2021-06-03 18:01] mcharg commented on #719
Updated remaining pages in dev:
- [ ] http://2017onrr/Laws_R_D/FRNotices/AB17.htm
- [ ] http://2017onrr/Laws_R_D/FRNotices/Ad04.htm
- [ ] http://2017onrr/Laws_R_D/FRNotices/ICR0120.htm
- [ ] http://2017onrr/Laws_R_D/FRNotices/ICR0119.htm
- [ ] http://2017onrr/Laws_R_D/FRNotices/ICR0090.htm
- [ ] http://2017onrr/Laws_R_D/FRNotices/ICR0074.htm

[2021-06-03 18:04] forgravec opened #758 "NYMEX May prices ready for upload"
The NYMEX May prices are ready to be added to the Valuation NYMEX page. Attached is the spreadsheet for uploading as well.

NYMEX: $65.16
Roll: $0.00 (yes, this is correct, the roll happened to be 0 for May)
[NYMEX052021.xlsx](https://github.com/ONRR/onrr.gov-site/files/6593486/NYMEX052021.xlsx)

Thanks,
Cory Forgrave
@sudarr

[2021-06-03 18:11] Maroyafaied commented on #649
@mentastc please let us know when your presentation is ready.

[2021-06-03 18:12] Maroyafaied commented on #735
Send to Lori and haven't heard back.

[2021-06-03 18:13] #735 closed

[2021-06-03 18:17] #736 closed

[2021-06-03 18:37] Maroyafaied commented on #746
@Maroyafaied set up a meeting with DORC and Candace. Request one excel file with all columns and one person to provide it.

[2021-06-03 19:24] abudz19 commented on #724
[Uploading Hero images.pdf…]()

[2021-06-03 19:54] Rebekah474 opened #759 "Add New Outreach video to Allottee Assistance Page on ONRR.gov"
Add the video with the link [https://youtu.be/mmmbqZjySUI] to the Allottee Assistance page on ONRR.gov. Do not take the other video down, we are building a library.

[2021-06-03 20:00] mcharg opened #760 "Visual design for homepage"
Figure what to do instead of the icons I just dropped in.
https://qmcq5k.axshare.com/

[2021-06-03 21:12] boices opened #761 "Update June Indian Index Zone Prices on onrr.gov"
Please update the Indian Index Zone prices for June on ONRR.gov. The "Data for ONRR.gov" spreadsheet has been updated with the newest prices.

@sudarr

[2021-06-03 21:22] mcharg commented on #719
Sent to regs team to review remaining FRN updates.  Also found two more FRN links that I missed in the list to get a replacement link.

[2021-06-03 21:24] mcharg commented on #628
@jpetersononrr Can you send me your source doc, so I can try to help?

[2021-06-04 12:37] bowlenj opened #762 "Updated Royalty Contact List"
Please replace the current Royalty contact list with the attached list on the following page - https://www.onrr.gov/reportpay/PDFDocs/royassign.pdf

[royassign.pdf](https://github.com/ONRR/onrr.gov-site/files/6598436/royassign.pdf)

[2021-06-04 16:22] Toddsand21 opened #763 "Red Earth Festival Outreach (To add to our Event Calendar)"
June 12-13, 2021
Red Earth Festival Outreach
Event Information
Location:  Grand Casino Hotel Resort & Event Center, 777 Grand Casino Blvd., Shawnee, OK.  Booth will be located in the Event Center Lobby area.
Time:  Saturday, June 12th, 9:00 am – 7:00 pm, and Sunday, June 13th,  10:00 am – 5:00 pm

Description:  The Office of Natural Resources Revenue (ONRR) OKC Outreach Office will have a booth to

[2021-06-04 16:24] Toddsand21 commented on #763
We would like to get this posted asap since the event is coming up soon.

[2021-06-04 16:27] Maroyafaied opened #764 "Strategy for Phase 3"
Include Carrie to run accessibility reports### ###

[2021-06-04 17:19] mcharg commented on #719
Approved via email and pushed to the live site.

[2021-06-04 17:19] #719 closed

[2021-06-04 17:27] #749 closed

[2021-06-04 17:56] mcharg opened #765 "May analytics"

[2021-06-04 18:12] mcharg opened #766 "Iterate visual design"
- [ ] Explore alternatives for title block that don't obscure the image as much
- [x] Package up files into a format that @jnwang01 can work with on a Windows machine

[2021-06-04 18:19] mcharg commented on #649
@mentastc is waiting for the valuation team to give him presentations.

[2021-06-04 18:20] mcharg commented on #764
@Maroyafaied We can probably start with reporter letters.  Amy was asking about the status of her team's docs today and that's the biggest chunk left.

[2021-06-04 20:45] mcharg commented on #718
@Maroyafaied Let me know if you have any feedback.

https://qmcq5k.axshare.com/#id=vsgcdx&p=about_onrr

[2021-06-04 20:48] mcharg commented on #721
Sent to regs team to review.  Got it down to grade 12.  @Maroyafaied @daniel-coleman-1 Any ideas to get it down to grade 10?
https://qmcq5k.axshare.com/#id=kkqoxq&p=federal_register_notices

[2021-06-04 20:51] mcharg commented on #750
FINA-SENR-ONRR-Testimony-on-Federal-Mineral-Revenues-(FINAL-07212014).pdf has two errors, the other two look good.  Sent email to Christina to correct errors.

[2021-06-07 13:36] Maroyafaied commented on #721
@mcharg I actually get grade 10 with your changes on hemmingway.
![image](https://user-images.githubusercontent.com/40175688/121026111-0dac0880-c763-11eb-8f9a-8314dfc4be82.png)

[2021-06-07 14:08] Maroyafaied commented on #718
@mcharg this looks good, let's put Kimbra's small changes she send.

[2021-06-07 14:38] mcharg commented on #718
Made Kimbra's changes.

[2021-06-07 14:38] #718 closed

[2021-06-07 14:38] #721 closed

[2021-06-07 18:36] #724 closed

[2021-06-07 18:39] jlouis-onrr commented on #742
https://react-theming.github.io/create-mui-theme/

[2021-06-07 19:17] mcharg commented on #742
@jlouis-onrr Here's the MUI theme with the primary and secondary colors from @abudz19. https://material.io/resources/color/#!/?view.left=0&view.right=1&primary.color=1A227E&secondary.color=0076A3&primary.text.color=ffffff

[2021-06-07 19:28] mcharg commented on #762
@bowlenj This is updated in dev.  Let me know if it's good to push to the live site.

[2021-06-07 19:38] bowlenj commented on #762
Can you send me the link to check, it didn't seem to attach to the email.

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resource Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that

[2021-06-07 19:41] Maroyafaied commented on #763
@Toddsand21 please review, I was able to add it without deleting anything. http://2017onrr/IndianServices/index.htm#

[2021-06-07 19:46] Maroyafaied commented on #761
@boices please review http://2017onrr/valuation/allzones.htm

[2021-06-07 19:51] Maroyafaied commented on #758
@forgravec please review http://2017onrr/valuation/NYMEX.htm

[2021-06-07 19:52] boices commented on #761
All prices look good-thanks again!

Sean Boice
Economist
Office of Natural Resources Revenue

From: Maroyafaied ***@***.***>
Sent: Monday, June 7, 2021 1:46 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Boice, Sean P ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] Update June Indian Index Zone Prices on onrr.gov (#761)

 This email has been received from outside of DOI

[2021-06-07 19:56] forgravec commented on #758
Look good.

Thanks,
Cory Forgrave
Economist
Office of Natural Resources Revenue
303-231-3589
***@***.***

________________________________
From: Maroyafaied ***@***.***>
Sent: Monday, June 7, 2021 1:51 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Forgrave, Cory J ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] NYMEX May prices ready for upload (#758)

 This email has

[2021-06-07 20:16] Maroyafaied commented on #761
This is live.

[2021-06-07 20:16] #761 closed

[2021-06-07 20:16] Maroyafaied commented on #758
This is live.

[2021-06-07 20:16] #758 closed

[2021-06-07 20:17] mcharg commented on #762
@bowlenj The file is linked on this page.
http://2017onrr/about/contact.htm

[2021-06-07 20:19] bowlenj commented on #762
Looks great, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resource Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from dis

[2021-06-07 20:24] mcharg commented on #762
@bowlenj I pushed the change to the live site.  Should show up in about 30 minutes.

[2021-06-07 20:24] #762 closed

[2021-06-07 22:08] Toddsand21 commented on #763
1) Can you change on the Time: Sat: 11:00 am -7:00 pm, Sun: 10:00am - 5:00pm:  If you cannot, we will add it as the last sentence to.. "Other Information"  2) on Who Should Attend: Delete everything in the first sentence beginning with   "in the Southern Plains region  .....  and replace with: .. "including those within the OK area, and also those outside of OK, who may have questions on their Ind

[2021-06-07 22:30] Maroyafaied commented on #763
@Toddsand21 please review the changes, I specified the timing in the "other information" http://2017onrr/IndianServices/index.htm#

[2021-06-07 23:33] Maroyafaied commented on #759
@rebekah474 Do you want the title of the video to "Why did my royalties go down"? Do you want to add a description like the other video or just a title?

[2021-06-07 23:36] Maroyafaied commented on #759
@rebekah474 it's ready for your review if you don't want to add a description. http://2017onrr/IndianServices/index.htm

[2021-06-08 12:28] Toddsand21 commented on #763
It looks fine, but could you change the last sentence on Other Information to read:  Oklahoma City, who work on inquiries from Indian Trust property owners within their area.

Then it's ready to post.  Thanks Maroya!

[2021-06-08 12:32] Maroyafaied commented on #759
@Rebekah474 This should be live in 30 min or so.

[2021-06-08 12:41] Maroyafaied commented on #763
@Toddsand21 I made that change, it should be live in 30 min or so.

[2021-06-08 12:42] Toddsand21 opened #767 "ONRR.gov homepage"
Please delete everything in the upper left corner box titled "Trust Beneficiary Outreach Session"  under Announcements on the ONRR.gov homepage.

[2021-06-08 13:46] Maroyafaied commented on #759
This is live.

[2021-06-08 13:46] #759 closed

[2021-06-08 13:46] #763 closed

[2021-06-08 13:46] Maroyafaied commented on #763
This is live.

[2021-06-08 15:03] Maroyafaied commented on #767
@Toddsand21 Do you want the box deleted all together or did you want to update the content on there with something? We could delete the box entirely and put the Mineral Owner box on top to replace as you guys requested yesterday.

[2021-06-08 15:44] Maroyafaied commented on #746
@CM805 I send an email out about this.

[2021-06-08 15:47] damionschulte opened #768 "May 2021 IBMP Prices"
All, I have updated the ONRR.gov sheet with the May 2021 IBMP prices. Can you please publish then to the website?  Thanks

@sudarr

[2021-06-08 16:17] Toddsand21 commented on #767
Yes I would replace it with the Mineral Owner box for now.  Can we always create another box if we need to if we delete it entirely?

[2021-06-08 16:38] meshanw commented on #757
@bowlenj Please review http://2017onrr/reportpay/Handbooks/index.htm

[2021-06-08 17:18] Rebekah474 commented on #759
I don't see the new video anymore. I only see the How does the market affect my royalties? Was it (the Why did my royalties go down? video) posted on the Allottee assistance page?

[2021-06-08 18:13] CM805 commented on #676
@mcharg and @Maroyafaied I have feedback from Mary and Sonny.  I need to get it in front of April Lockler for her thoughts and then we can discuss implementation.  I'll pick up on this after I return from leave.

[2021-06-08 18:39] Maroyafaied commented on #757
@mcharg this issue is a contact update.

[2021-06-08 18:53] Maroyafaied opened #769 "Corrected document - Phase 2 Robert Winter"
@mcharg this came in by email, the accessibility check comes back with character encoding error that the owner is not able to correct and send me this info below. Can you check with Sid if there's away around this or how to handle it? Thanks

[Paygov--ROW-RUE-Rent_Form.pdf](https://github.com/ONRR/onrr.gov-site/files/6618943/Paygov--ROW-RUE-Rent_Form.pdf)
![image](https://user-images.githubusercon

[2021-06-08 19:08] Maroyafaied commented on #767
@Toddsand21 Yes you can.

[2021-06-08 19:22] Maroyafaied commented on #767
@Toddsand21 Please review http://2017onrr/

[2021-06-08 19:26] Maroyafaied commented on #768
@damionschulte please review http://2017onrr/valuation/IndianOilIBMP.htm

[2021-06-08 19:33] mcharg commented on #769
Sent email to Sid.

[2021-06-08 19:46] Toddsand21 commented on #767
That looks fine. Lets go with it. I'm sure Heidi will approve.

[2021-06-08 20:00] #768 closed

[2021-06-08 20:27] Maroyafaied commented on #767
@Toddsand21 it'll be live in 30 min or so.

[2021-06-08 20:30] Toddsand21 commented on #767
Can you hold off on that? She wants to add the phone numbers to it instead of the link.

[2021-06-08 20:38] Maroyafaied commented on #767
@Toddsand21 I already pushed it live but you can put in another request for phone numbers and changes.

[2021-06-08 20:42] Maroyafaied commented on #767
@Toddsand21 Do you have the phone number and which link you want to replace?

[2021-06-08 20:54] Maroyafaied commented on #767
@Toddsand21 where do you want this? In the Mineral Owner box?

[2021-06-08 20:56] mcharg commented on #769
@Maroyafaied Here's the response I got about the error.  Who needs to be sent this?

The character encoding error usually is a font issue.  Try extracting the page, saving it as a Word file, then running the Inspect document and change the font for the items, reconvert to PDF, then run accessibility checker to see if issue is resolved.  Keep in mind that new errors may arise, but should be easily

[2021-06-08 21:06] Maroyafaied commented on #769
@mcharg I'll email the owner and cc you.

[2021-06-08 21:34] Maroyafaied commented on #753
@daniel-coleman-1 once you made the updates in dev , please send it for review to john.erle@onrr.gov. Thanks

[2021-06-08 21:50] daniel-coleman-1 commented on #753
@Maroyafaied  for the files that are being updated, do I move them to the archive and then replace with these files, or do I just replace them in dev?
If we are archiving, where is the archive folder?

[2021-06-08 22:04] Maroyafaied commented on #767
@Toddsand21 please review http://2017onrr/index.htm

[2021-06-08 22:05] Maroyafaied commented on #753
@daniel-coleman-1 you just replace them by saving it by the same name.

[2021-06-08 23:37] daniel-coleman-1 commented on #753
Updated and awaiting review from John

[2021-06-09 11:18] Toddsand21 commented on #767
It looks fine and ready to go.  Thanks Maroya for your quick response!

[2021-06-09 12:33] Maroyafaied commented on #767
@Toddsand21 I made that change, is it good to go live? http://2017onrr/

[2021-06-09 13:31] Toddsand21 commented on #767
It looks good and ready to go.  Thx.

[2021-06-09 13:40] bowlenj commented on #757
Perfect, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resource Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclos

[2021-06-09 14:58] Maroyafaied commented on #767
This is live.

[2021-06-09 14:58] #767 closed

[2021-06-09 15:02] Maroyafaied commented on #769
@mcharg here is the corrected document from Candace, please send her the preview link when this is updated and also update the tracking sheet. Thanks
[csv_File_Rent_Instructions (6) (1).pdf](https://github.com/ONRR/onrr.gov-site/files/6624799/csv_File_Rent_Instructions.6.1.pdf)

[2021-06-09 15:44] Maroyafaied opened #770 "Capitalization of federal and tribal"
Research with both terms should be capitalized and consult with Matt Williams

[2021-06-09 16:24] mcharg commented on #707
@meshanw and I met and pulled in Rick and Anna and decided to try to identify where each document is pulled from and scheduled a meeting with Jay next week to discuss whether there's anything we can do to get the data out of Accenture now vs. what needs to be considered in BPR requirements for the future state.

[2021-06-09 16:53] mcharg opened #771 "Create static page for Events"
To fix accessibility issues with the drawer.

[2021-06-09 16:54] mcharg opened #772 "Create static page for glossary"
To prevent accessibility issues with the drawer.

[2021-06-09 16:55] mcharg opened #773 "Remove Events and Glossary drawers from the site header"
And link to new static pages to fix accessibility issues with the drawers.

[2021-06-09 17:29] mcharg commented on #771
@Maroyafaied The Events page is ready to review.
http://2017onrr/events.htm

[2021-06-09 17:56] mcharg opened #774 "Create static glossary page"
To fix accessibility issues with drawer.

[2021-06-09 17:56] mcharg commented on #774
Duplicate

[2021-06-09 17:56] #774 closed

[2021-06-09 17:56] mcharg commented on #772
@Maroyafaied First pass at glossary page is in dev.
http://2017onrr/glossary.htm

[2021-06-09 17:59] meshanw commented on #757
Approved via email and pushed to live site
https://onrr.gov/reportpay/Handbooks/index.htm

[2021-06-09 17:59] #757 closed

[2021-06-09 18:24] bowlenj opened #775 "Federal Onshore Terminable Leases"
Please update the following webpage https://www.onrr.gov/reportpay/royalty-reporting.htm with the attached excel file:

Federal Onshore Terminable Leases - sorted by Due Date, please change (5/3/2021) to (updated 6/1/2021)
[202106.xlsx](https://github.com/ONRR/onrr.gov-site/files/6626052/202106.xlsx)

[2021-06-09 18:25] Maroyafaied commented on #775
@meshanw do you have time to take this issue?

[2021-06-09 18:33] meshanw commented on #775
@Maroyafaied Yes

[2021-06-09 18:36] Maroyafaied commented on #772
@mcharg this looks great.

[2021-06-09 19:03] mcharg commented on #769
@merrellc This is updated in dev. Let me know if it looks good to push live.
http://2017onrr/reportpay/payments.htm

[2021-06-09 19:15] mcharg commented on #628
@jpetersononrr I was able to clear the errors by removing what appeared to be empty table tags.  Does this look good to you?
[https://app.zenhub.com/files/210892300/d122d854-4c6c-4a9d-964c-b3c85e784e6f/download](https://app.zenhub.com/files/210892300/d122d854-4c6c-4a9d-964c-b3c85e784e6f/download)

[2021-06-09 19:25] merrellc commented on #769
Push live. Thank you!

​Candace Merrell
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3517
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosure un

[2021-06-09 19:54] meshanw commented on #775
@bowlenj Please review http://2017onrr/reportpay/royalty-reporting.htm

[2021-06-09 19:57] mcharg commented on #769
@merrellc Your doc is pushed lived.  It might take a bit before it shows up on the live site.

[2021-06-09 20:21] bowlenj commented on #775
Perfect, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resource Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclos

[2021-06-09 20:58] Toddsand21 opened #776 "Update Tribal Assistance page"
1)    Upper Right Hand Corner in box titled “Contacts”.  Change what’s in the box to say:
Email the Tribal Liaison Officer with questions. (Link to the email address as shown at the bottom of the Tribal Consultation page).  Which needs to be updated to link to: "Bethany Temple-Hagen@onrr.gov" since she is the Tribal Liaison Officer.  Which will also be part of the next New Issue too I will submit

[2021-06-09 22:05] meshanw commented on #775
Approved via email and pushed to live site.
https://onrr.gov/reportpay/royalty-reporting.htm

[2021-06-10 11:55] jpetersononrr commented on #628
Thank you!

Apologies as I was out for a week.  I couldn’t get rid of the table tag without breaking a million other things.  That works for me!

​Jodie Peterson
Minerals Revenue Specialist
Office of Natural Resources Revenue
***@***.***
(303)231-3719

Royalty Valuation - Consistent Answers to Complex Questions

From: mcharg ***@***.***>
Sent: Wednesday, June 9, 2021 1:15 PM
To: ONRR/onrr.gov-site

[2021-06-10 12:29] #771 closed

[2021-06-10 12:29] mcharg commented on #772
Page is live.

[2021-06-10 12:29] #772 closed

[2021-06-10 12:50] Maroyafaied commented on #753
@daniel-coleman-1 please update the date to 6/10/2021 on these documents in dev  http://2017onrr/reportpay/references.htm

[2021-06-10 13:04] Maroyafaied commented on #746
@StaceyKaiser will convert the text file to excel and @bowlenj approved removing the other excel file.

[2021-06-10 13:14] mcharg commented on #773
This is updated in dev.

@Maroyafaied @jlouis-onrr Take a look and let me know if it looks good to push live.

[2021-06-10 13:27] mcharg commented on #628
@jpetersononrr The Green River file is not updated on the site.  Might be a bit before it shows up on the live site.

[2021-06-10 13:27] #628 closed

[2021-06-10 13:30] mcharg opened #777 "Decide whether to use DOI video player for videos"
The YouTube player currently in use isn't accessible.

[2021-06-10 14:46] daniel-coleman-1 commented on #752
- [ ] MPRH-Chapter-4.pdf

- [ ] 4430Instr.pdf

- [ ] Error_Msg_Production_HOW_TO.pdf

- [ ] MPRH-Abbreviations.pdf

- [ ] MPRH-Appendix-C.pdf

- [ ] MPRH-Appendix-D.pdf

- [ ] MPRH-Appendix-G.pdf

- [ ] MPRH-Appendix-J.pdf

- [ ] MPRH-Appendix-O.pdf

- [ ] MPRH-Chapter-1.pdf

- [ ] RRM-Appendix.A.pdf

- [ ] SMRH_Table_of_Contents.pdf

[2021-06-10 14:48] mcharg commented on #776
@Maroyafaied I'll do the box on the right change while I have Dreamweaver open, since that's in a Library and it takes like an hour for Dreamweaver to open.

[2021-06-10 14:51] Maroyafaied commented on #773
@mcharg I still see them in dev, am I looking at the right one in the header? Should these icons still be there?
![image](https://user-images.githubusercontent.com/40175688/121546957-f66e5480-c9c8-11eb-824e-c3cfc3ed003f.png)

[2021-06-10 14:51] Maroyafaied commented on #776
@mcharg sounds good, thank you!

[2021-06-10 15:00] mcharg commented on #773
@Maroyafaied The icons now link to the static pages instead of open the drawer.

[2021-06-10 15:27] Maroyafaied commented on #773
@mcharg makes sense now.. looks good. Thanks

[2021-06-10 15:29] daniel-coleman-1 commented on #753
Saved dev file to Z drive

[2021-06-10 15:30] Maroyafaied commented on #753
@daniel-coleman-1 you can go ahead and push all the updates live since the requestor already approved with making the date changes. Thanks

[2021-06-10 15:35] mcharg commented on #776
@Maroyafaied I'm just going to do the whole thing, since I'm in the page.

[2021-06-10 15:35] Maroyafaied commented on #776
@mcharg Awesome, thanks.

[2021-06-10 15:42] mcharg commented on #776
@toddsand21 This is updated in dev.  Let me know if it looks good to push live.
http://2017onrr/IndianServices/tribal-assistance.htm

[2021-06-10 16:09] mcharg commented on #773
Updated everywhere on the live site except the two pages updated in #776.  Those will get updated when I get approval to push those changes live.

[2021-06-10 16:09] #773 closed

[2021-06-10 16:22] mcharg commented on #752
@daniel-coleman-1 Are the docs you listed updated in dev or the live site?

[2021-06-10 16:44] jillbong79 commented on #752
This should be the last of the documents for phase 2:
[W-9_Instructions.pdf](https://github.com/ONRR/onrr.gov-site/files/6632955/W-9_Instructions.pdf)
[MPRH-Appendix-F.pdf](https://github.com/ONRR/onrr.gov-site/files/6632956/MPRH-Appendix-F.pdf)

For https://www.onrr.gov/ReportPay/PDFDocs/W-9.pdf please hyperlink the document to the IRS site.  Document is locked and cannot be updated to 508

[2021-06-10 17:08] daniel-coleman-1 commented on #753
Pushed to live site, updates are showing on the live site.  Ready to close, I think.

[2021-06-10 17:18] daniel-coleman-1 commented on #752
@mcharg just in the dev site

[2021-06-10 17:26] daniel-coleman-1 commented on #752
Hi @jillbong79, I ran accessibility reports and came back with errors for the following:
MPRH-Chapter-2.pdf
[MPRH-Chapter-2.pdf.accreport.pdf](https://github.com/ONRR/onrr.gov-site/files/6633264/MPRH-Chapter-2.pdf.accreport.pdf)

SalesTyp Codes--non-Solids.pdf
[SalesTyp.Codes--non-Solids.pdf.accreport.pdf](https://github.com/ONRR/onrr.gov-site/files/6633265/SalesTyp.Codes--non-Solids.pdf.accreport

[2021-06-10 17:27] daniel-coleman-1 commented on #752
@jillbong79 for the W-9, are you ok with linking to this form:
https://www.irs.gov/pub/irs-pdf/fw9.pdf

or should we link to the page where the form is hosted?

[2021-06-10 18:23] sghahn commented on #752
@daniel-coleman-1 yes, please use the linked form you referenced, [https://www.irs.gov/pub/irs-pdf/fw9.pdf]

[2021-06-10 18:39] jillbong79 commented on #752
The corrected files are attached.  All ran with no errors and saved again before adding them here.

**Please note new email address: ***@***.*** is now ***@***.***​​​​

Respectfully,

Jill Heinen (she, her, hers)

Minerals Revenue Specialist - Production
Reference, Royalty and Production Team 4A
Reference and Reporting Management
Office of Natural Resources Revenue
Office Phone: (303) 231-3523

“I

[2021-06-10 22:09] daniel-coleman-1 commented on #734
[How to Update ONRR.gov.docx](https://github.com/ONRR/onrr.gov-site/files/6634667/How.to.Update.ONRR.gov.docx)
@meshanw @mcharg
for your review!

[2021-06-11 13:19] mcharg commented on #734
@daniel-coleman-1 It's a good start.  I added comments to the doc.

[2021-06-11 15:10] meshanw commented on #734
Nice! @daniel-coleman-1 I added a few comments as well.

[2021-06-11 17:07] daniel-coleman-1 commented on #770
Reached out to Matt Williams via email

[2021-06-11 17:08] #753 closed

[2021-06-11 20:09] jillbong79 commented on #752
Here is the correct file for SMRH_Chapter_2: [SMRH_Chapter_2.pdf](https://github.com/ONRR/onrr.gov-site/files/6640762/SMRH_Chapter_2.pdf)

[MPRH-Chapter-2.pdf.accreport.pdf](https://github.com/ONRR/onrr.gov-site/files/6640769/MPRH-Chapter-2.pdf.accreport.pdf)
![image](https://user-images.githubusercontent.com/51677345/121743408-8c37db80-cabe-11eb-94bf-e9ad0e09a920.png)

[2021-06-11 21:00] daniel-coleman-1 commented on #752
@jillbong79 great, we are good to go on that one! SMRH_Chapter_2.prf also saved in dev.

[2021-06-11 21:11] daniel-coleman-1 commented on #752
@sghahn @jillbong79
W-9 link updated in dev to: https://www.irs.gov/pub/irs-pdf/fw9.pdf

[2021-06-11 21:40] jillbong79 commented on #752
Corrected file for Appendix F:
[MPRH-Appendix-F.pdf](https://github.com/ONRR/onrr.gov-site/files/6641078/MPRH-Appendix-F.pdf)
[MPRH-Appendix-F.pdf.accreport.pdf](https://github.com/ONRR/onrr.gov-site/files/6641080/MPRH-Appendix-F.pdf.accreport.pdf)

[2021-06-11 22:30] jillbong79 commented on #752
Corrected file for Sales Type Code:
[SalesTyp Codes--non-Solids.pdf](https://github.com/ONRR/onrr.gov-site/files/6641185/SalesTyp.Codes--non-Solids.pdf)
[SalesTyp Codes--non-Solids.pdf.accreport.pdf](https://github.com/ONRR/onrr.gov-site/files/6641189/SalesTyp.Codes--non-Solids.pdf.accreport.pdf)

[2021-06-11 22:40] jillbong79 commented on #752
File 4058:
[4058.pdf](https://github.com/ONRR/onrr.gov-site/files/6641220/4058.pdf)
[4058.pdf.accreport.pdf](https://github.com/ONRR/onrr.gov-site/files/6641221/4058.pdf.accreport.pdf)

[2021-06-14 16:39] aklong09 opened #778 "Request to update ONRR's Regulations Page (RIN 1012-AA27)"
Hello,

Please update ONRR’s Regulations page for RIN 1012-AA27, located at https://www.onrr.gov/Laws_R_D/FRNotices/AA27.htm.

Please update the abstract to include the following statement directly above the “For more information, please visit . . .” paragraph:

“ONRR published a Notice of Proposed Withdrawal of this rulemaking in the Federal Register on June 11, 2021. The proposed withdrawal prov

[2021-06-14 16:59] aklong09 opened #779 "Request to Update ONRR's Federal Register Notices Page"
Hello,

Please update ONRR’s Federal Register Notices page, located at https://www.onrr.gov/Laws_R_D/FRNotices/index.htm

Please add a new entry for June 11, 2021 at the top of the page to read as follows:

“86 FR 31196
Friday, June 11, 2021
**Denver, CO** ONRR is proposing to withdraw the final rule entitled “ONRR 2020 Valuation Reform and Civil Penalty Rule” (“2020 Rule”). This action opens a 60

[2021-06-14 17:38] Maroyafaied commented on #779
@meshanw let me know if you can take this one and if you need help.

[2021-06-14 17:38] Maroyafaied commented on #778
@meshanw  do you have time for this one as well?

[2021-06-14 18:08] meshanw commented on #778
Yes

[2021-06-14 19:23] meshanw commented on #778
@aklong09 @Maroyafaied Please review http://2017onrr/Laws_R_D/FRNotices/AA27.htm

[2021-06-14 19:36] aklong09 commented on #778
Hi @meshanw --this looks good to me. We approve the changes. Thank you!

[2021-06-14 21:05] Maroyafaied commented on #778
@meshanw looks good, please push live. Thanks

[2021-06-14 21:07] meshanw commented on #778
Pushed to live site.
https://onrr.gov/Laws_R_D/FRNotices/AA27.htm

[2021-06-14 21:24] LisaReimer opened #780 "508 Compliance, 5 Documents"
Good afternoon,

Please see attached 508 Compliance documents. There are 5 documents.

Thank you for your help.

- [x] [MPRH-Appendix-B.pdf](https://github.com/ONRR/onrr.gov-site/files/6651351/MPRH-Appendix-B.pdf)

- [x] [MPRH-Appendix-A ONRR Opr Number.pdf](https://github.com/ONRR/onrr.gov-site/files/6651352/MPRH-Appendix-A.ONRR.Opr.Number.pdf)

- [x] [RRM-Appendix.B.pdf](https://github.com/ONRR/

[2021-06-15 15:26] Sheetsj opened #781 "Update Contact on ONRR.GOV"
Hello,
We need to update the contacts on ONRR.GOV

Location: Contact Us-Online Resources-ONRR contacts by Company assignment-Accounts Receivable, Billing, and Financial Issues Information --Indian

[2021-06-15 15:26] Sheetsj commented on #781
The file is not letting me upload it here.

[2021-06-15 15:31] Sheetsj commented on #781
[finserAssign-IND 2.pdf](https://github.com/ONRR/onrr.gov-site/files/6656860/finserAssign-IND.2.pdf)

[2021-06-15 15:48] mcharg commented on #649
@mentastc This accidentally got pushed live when I was making changes to the global header.  Do you want me to put back one of the presentations?

[2021-06-15 16:23] mcharg commented on #707
Met with Stacey and she's going to have her team look at the files, set up a MART demo with our team, and use a file as a pilot as part of an exchange project.

[2021-06-15 16:23] #707 closed

[2021-06-15 16:44] mcharg commented on #750
The two accessible docs are updated in dev and sent Christina an email to approve.

[2021-06-15 17:21] meshanw commented on #778
Changes are now live.

[2021-06-15 17:21] #778 closed

[2021-06-15 19:08] mcharg commented on #769
Second doc approved via email and pushed live.

[2021-06-15 19:08] #769 closed

[2021-06-15 19:18] mcharg commented on #734
@daniel-coleman-1 I took another look at the guide doc.  There are still some open comments.  Also, did you start the wiki page?

[2021-06-15 19:38] mcharg commented on #776
@toddsand21 have you had a chance to look at this?

[2021-06-15 19:40] mcharg commented on #752
@daniel-coleman-1 Please mark documents updated in dev in the spreadsheet with a status of Accessible in Dev and save Accessible for ones updated on the live site.

[2021-06-15 19:59] mcharg opened #782 "Replace the XREF.txt and the CRLNumber.xlsx files with a single xls file"
Need to get the file from @StaceyKaiser will convert the text file to excel and @bowlenj approved removing the other excel file once we get that.

[2021-06-15 20:00] mcharg commented on #746
Created #782 for after we get the new .xls file created with the same data as the .txt file.

[2021-06-15 20:00] #746 closed

[2021-06-15 20:11] meshanw commented on #779
@aklong09 @Maroyafaied Please review http://2017onrr/Laws_R_D/FRNotices/index.htm

[2021-06-15 20:47] aklong09 commented on #779
Hi @meshanw -- can we add a period after "August 10, 2021" please? Otherwise, this looks good!

[2021-06-15 20:59] meshanw commented on #779
@aklong09 Period added.

[2021-06-15 21:18] aklong09 commented on #779
@meshanw Perfect, thank you!

[2021-06-15 21:41] Maroyafaied commented on #779
@meshanw looks good to push live.

[2021-06-15 22:04] Toddsand21 commented on #776
I cannot get to view the changes when I click on the Tribal Liaison Officer it takes me to a Google sign in page.  Should I be signing into something to view?  Sorry I was off yesterday and I had a few meetings today.

[2021-06-15 22:17] Maroyafaied commented on #776
@Toddsand21 the tribal liaison officer email link opens up a google email message with Bethany's email address. Shannon also added the contacts to the bottom as requested,
![image](https://user-images.githubusercontent.com/40175688/122130512-f8834980-cdf4-11eb-9461-db85bc936dac.png)
![image](https://user-images.githubusercontent.com/40175688/122130598-1cdf2600-cdf5-11eb-936d-2a2a8b66fae1.png)

[2021-06-15 22:20] Toddsand21 commented on #773
Is there something else I should be proofing before it is pushed?  I know we had 2 or 3 items on the Tribal Consultation page and the Tribal Assistance page had 1 item (link to Tribal Liaison) in upper right and the contacts on the bottom of page updated., Then we'll get to the deletions of the 2019 Scheduled Consultation which I don't think I've submitted yet have I?  I can't view the changes of

[2021-06-15 22:33] Toddsand21 commented on #776
I could see the changes at the top "Tribal Liaison Officer" and link, and also at the bottom but is everybody going to get the Gmail page when they click on their link?  And can we shorten Michel's title to just Tribal Liaison, ITOC and his number?  Because we just need to know who the Tribal Liaison contact is?

[2021-06-16 01:58] LisaReimer opened #783 "508 Compliance 2 Doc), Phase 2"
Good afternoon,

Please see attached 508 Compliance document (1).

[MPRH-Chapter-6-SH redo.pdf](https://github.com/ONRR/onrr.gov-site/files/6659693/MPRH-Chapter-6-SH.redo.pdf)

Thank you for your help.

[2021-06-16 13:32] mcharg commented on #776
@toddsand21 It'll open whatever the user has set as their default email program.  It opens in Outlook for me because that is set as my default.  I shortened Michel's title.

[2021-06-16 13:35] mcharg commented on #773
@Toddsand21 The Tribal Assistance changes are in issue #776.  I haven't seen any issues related to the Tribal Consultation page, though I did change the email address on that page to Bethany's as mentioned in #776.

Tribal Assistance in dev:
http://2017onrr/IndianServices/tribal-assistance.htm

Tribal Consultation in dev:
http://2017onrr/IndianServices/consultation.htm

[2021-06-16 13:36] mcharg commented on #773
@Toddsand21 This issue just changed the events drawer to a page without any content changes.  The drawer was causing major issues for screen readers.

New Events page:
http://2017onrr/events.htm

[2021-06-16 14:22] Toddsand21 commented on #776
Ok that should be fine.  It should be ready to post then.  I'll send the next New Issue after you reply to this one.  Thank you all for working on this.  I'm sue Heidi and others should be pleased it's being done!

[2021-06-16 14:27] mcharg commented on #776
@toddsand21 Pushed live.  Might be about 30 minutes before the changes show up on the live site.

[2021-06-16 14:27] #776 closed

[2021-06-16 17:26] #765 closed

[2021-06-16 17:26] mcharg commented on #765
Done
https://github.com/ONRR/onrr.gov-site/wiki/Analytics

[2021-06-16 17:54] meshanw commented on #779
Pushed changes to live site. https://www.onrr.gov/Laws_R_D/FRNotices/index.htm

[2021-06-16 17:55] #779 closed

[2021-06-16 21:12] sghahn commented on #752
@mcharg @daniel-coleman-1 have the following documents been accepted as correct by your team:

MPRH-Appendix-F.pdf
SalesTyp Codes--non-Solids.pdf
4058.pdf

[2021-06-16 21:25] Maroyafaied commented on #752
@sghahn I just checked on these documents for you and 2 out of the 3 are accessible with no errors. The 4058.pdf came back with one error for figures alternate text , I've attached the report for your reference. Thanks
[4058.pdf.accreport.pdf](https://github.com/ONRR/onrr.gov-site/files/6665946/4058.pdf.accreport.pdf)

[2021-06-17 16:57] Toddsand21 opened #784 "Tribal Consultation Page Changes"
1) On the Tribal Consultation page in the upper right hand corner and under the box titled “Contacts”. where it says Click here for  FIMO staff and related contacts. Please delete all including its link to FIMO staff: and replace with a link (to Tribal Liaison Officer), and it should say  "Email the Tribal Liaison Officer with questions". same as the Tribal Assistance page's upper right hand corne

[2021-06-17 18:09] #649 closed

[2021-06-17 18:13] #738 closed

[2021-06-17 18:15] #739 closed

[2021-06-17 18:21] Maroyafaied commented on #770
Please work with Chris Mentasti on this.

[2021-06-17 20:51] mcharg opened #785 "Update links to W-9 pdf to link to IRS"
IRS form:
https://www.irs.gov/pub/irs-pdf/fw9.pdf

Pages to be updated:
- [x] Forms
- [x] New Production Reporter Checklist
- [x] New Royalty Reporter/Payor Checklist
- [x] New Solid Minerals Reporters Checklist

[2021-06-17 20:58] mcharg commented on #752
@LisaReimer @jillbong79 @sghahn I went through this issue to see what's still outstanding.  Daniel had some of the handbook files in the wrong folder, so I moved those to the correct location.  All links on the dev site should now be pointing to the accessible versions. Let me know if we're good to push the updates for the accessible files to the live site.

I created #785 to update the link to th

[2021-06-21 15:09] mcharg opened #786 "Establish collections"

[2021-06-21 15:09] mcharg opened #787 "Establish automation of workflow"

[2021-06-21 15:10] mcharg opened #788 "Plan onrr.gov usability study"

[2021-06-21 15:11] mcharg opened #789 "Get familiar with CMS environment"

[2021-06-21 15:13] mcharg opened #790 "Establish email service CMS"

[2021-06-21 15:13] mcharg opened #791 "Connect S3 services"

[2021-06-21 15:54] mcharg commented on #781
@sheetsj This is updated in dev.  Let me know if it looks good to post to the live site.
http://2017onrr/about/contact.htm

[2021-06-21 16:20] Sheetsj commented on #781
Hello,

I was able to view it and it looks good. I am not able to get onto the site right now. The internet is going in and out. But I agree that it could go live.

Thank you,

Jessica Sheets
Financial Services Staff Accountant
Office of Natural Resources Revenue
Phone: 303-231-3401
________________________________
From: mcharg ***@***.***>
Sent: Monday, June 21, 2021 9:54 AM
To: ONRR/onrr.gov-sit

[2021-06-21 16:35] mcharg commented on #781
@Sheetsj Great.  Once I can get back on the VPN, I'll push it live.

[2021-06-21 16:49] sghahn commented on #752
@Maroyafaied @mcharg @jillbong79 @LisaReimer

Attached are the accessible versions of:
- MPRH-Chapter-2.pdf
[MPRH-Chapter-2.pdf](https://github.com/ONRR/onrr.gov-site/files/6688269/MPRH-Chapter-2.pdf)
- 4058.pdf
[4058.pdf](https://github.com/ONRR/onrr.gov-site/files/6688273/4058.pdf)

Yes, please push all updates to the live site.

Issue #752 should resolve the following 21 documents that were in

[2021-06-21 16:50] sghahn commented on #752
didn't mean to close

[2021-06-21 16:51] mcharg commented on #752
@sghahn I'll get these updates made as soon as I can get back on the vpn.

[2021-06-21 17:02] mcharg commented on #781
@sheetsj Pushed live.  Might be a bit before it shows up on the live site.

[2021-06-21 17:02] #781 closed

[2021-06-21 17:06] mcharg commented on #752
@sghahn The MPRH-Chapter-2 looks good and is updated in dev.

The 4058 is missing alt text on an image.

[2021-06-21 17:14] sghahn commented on #752
@mcharg I re-uploaded the 4058 in my previous message, and there were no errors on it.

Just in case here they are again, let me know if I'm overlooking something, thanks.

[4058_AccReport.pdf](https://github.com/ONRR/onrr.gov-site/files/6688397/4058_AccReport.pdf)
[4058.pdf](https://github.com/ONRR/onrr.gov-site/files/6688398/4058.pdf)

[2021-06-21 17:16] mcharg commented on #752
@sghahn This is the error I'm seeing. It seems to think the contact name label is an image.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/abc5c12a-4180-4096-b87b-c936ce0f5e26)![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/2d480ef1-045a-4a15-b993-716b75bbb668)

[2021-06-21 17:18] mcharg commented on #752
I pushed the rest of the docs live.  It may be a bit before they show up on the live site.

[2021-06-21 17:20] sghahn commented on #752
@mcharg, **_please use the form I submitted twice this morning,_** you are opening a previous version submitted by another user that has the error, the form that you are looking at is a fillable form and should not be.

Please see what I have attached, it is not a fillable form.

[4058_AccReport.pdf](https://github.com/ONRR/onrr.gov-site/files/6688420/4058_AccReport.pdf)
[4058.pdf](https://github.

[2021-06-21 17:25] mcharg commented on #752
@sghahn Got the updated version this time.  Not sure why it kept downloading the old version.  I updated it in both dev and the live site.

I created a separate issue for the W-9, since it needs to be updated in several places.

Let me know if we're good to close this issue.

[2021-06-21 17:27] mcharg commented on #785
@sghahn The W-9 links are updated in dev.  Let me know if they look good to go to the live site.

http://2017onrr/reportpay/Forms/index.htm
http://2017onrr/reportpay/prod-checklist.htm
http://2017onrr/reportpay/roy-checklist.htm
http://2017onrr/reportpay/solids-checklist.htm

[2021-06-21 17:29] sghahn commented on #752
@mcharg, there is some weird internet stuff going on this morning, glad it finally worked for you :)

I believe we should be good to go now to close the ticket, yay, thanks so much!

[2021-06-21 17:29] #752 closed

[2021-06-21 17:32] sghahn commented on #785
@mcharg looks great, thanks a bunch for the quick reply on this and #752

[2021-06-21 17:32] mcharg commented on #783
@lisareimer This is updated in dev.  Let me know if it's good to push to the live site.

[2021-06-21 17:40] mcharg commented on #780
@lisareimer The printable handbook has regularity errors.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/b54c25b3-5708-4b63-910f-8252587866b5)

[2021-06-21 17:42] mcharg commented on #780
@lisareimer The other 4 docs are updated in dev.  Let me know if they're good to push live.

[2021-06-21 17:44] sghahn commented on #780
@mcharg they are good to go live. I'm looking at the "printable handbook" now, let you know ASAP on this one. Thanks

[2021-06-21 17:46] mcharg commented on #785
@sghahn Pushed live.  Might be a bit before it shows up on the live site.

[2021-06-21 17:46] #785 closed

[2021-06-21 18:01] #737 closed

[2021-06-21 18:28] mcharg commented on #787
Findings from user interviews with content updaters: https://teams.microsoft.com/l/file/4220A805-86D2-4230-B519-032E1DC4259D?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FUser%20Research%2FStudies%2F07_ContentProcess%2FConsolidatedFindings.xlsx&baseUrl=https%3A%2F%2Fdoimspp.share

[2021-06-21 18:36] mcharg commented on #780
@sghahn The four are pushed to the live site.

[2021-06-21 20:10] sghahn commented on #780
@mcharg attached last document for this issue.

[RRM-Printable.Minerals.Revenue.Handbook_AccReport.pdf](https://github.com/ONRR/onrr.gov-site/files/6689237/RRM-Printable.Minerals.Revenue.Handbook_AccReport.pdf)

[RRM-Printable.Minerals.Revenue.Handbook.pdf](https://github.com/ONRR/onrr.gov-site/files/6689214/RRM-Printable.Minerals.Revenue.Handbook.pdf)

[2021-06-21 20:13] sghahn commented on #783
@mcharg Yes, please push to live site

[2021-06-21 20:16] sghahn commented on #783
@mcharg please upload this to live site as well...

- [ ] [4430.pdf](https://github.com/ONRR/onrr.gov-site/files/6689266/4430.pdf)

[2021-06-21 20:26] StaceyKaiser commented on #782
Please replace the existing file located at: http://www.onrr.gov/ReportPay/CrossRef.htm called “Downloadable Text Cross-Reference Lease to Agreement Number” with the file entitled “June 2021 Lease Agreement XREF.xlsx”.  It was queried from the system on 6/21/2021.
[June 2021 Lease Agreement XREF.xlsx](https://github.com/ONRR/onrr.gov-site/files/6689311/June.2021.Lease.Agreement.XREF.xlsx)

[2021-06-21 20:38] mcharg commented on #782
Thank you @StaceyKaiser!

[2021-06-21 20:44] mcharg commented on #780
@sghahn The printable handbook is updated in dev, let me know if it's good to post live.

[2021-06-21 20:49] mcharg commented on #783
@sghahn Chapter 6 is pushed live.  4430 is updated in dev, let me know if it's good to post live.

[2021-06-21 20:50] sghahn commented on #783
@mcharg Ch. 6 is good to go live. 4430 good to go live when you are ready.

[2021-06-21 20:56] mcharg commented on #783
@sghahn Both docs have been pushed live.

[2021-06-21 20:56] #783 closed

[2021-06-21 23:14] jlouis-onrr commented on #756
this is now updated in dev: http://2017onrr/About/NewsReleases.htm

[2021-06-22 16:28] mcharg commented on #787
I started a Visio file with worksheets for common user tasks and a first pass at a workflow for updating a document that we can use to start the discussion in tomorrow's meeting.
https://teams.microsoft.com/l/file/CB7FB4A5-6E58-43D0-A2BA-30BFAA9BB11F?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=vsd&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGener

[2021-06-22 17:38] Maroyafaied commented on #733
This was resolved in issue #762

[2021-06-22 17:38] #733 closed

[2021-06-22 19:45] meshanw commented on #784
@Toddsand21 @mcharg Please review http://2017onrr/IndianServices/consultation.htm

[2021-06-22 19:56] mcharg commented on #784
@meshanw Looks good to me.

[2021-06-22 19:58] mcharg opened #792 "Work with regulations team to make FOGRMA Amendments page accessible"
It currently uses color coding and the colors used aren't enough contrast from the background.  I asked and they want to keep the page instead of linking externally.
https://www.onrr.gov/Laws_R_D/PubLaws/PL97451.htm

Alexis Long is the contact for this on the regulations team.

[2021-06-22 20:18] Toddsand21 commented on #784
Yes it looks fine to me and ready to post.  And I think we're done w these pages.  Thanks for all your help.

[2021-06-22 20:33] meshanw commented on #784
Pushed to live site. https://onrr.gov/IndianServices/consultation.htm

[2021-06-22 20:33] #784 closed

[2021-06-23 14:53] daniel-coleman-1 commented on #734
Here's the Wiki:
https://github.com/ONRR/onrr.gov-site/wiki/How-to-Update-ONRR.gov
@meshanw @mcharg for your review!
@CM805 if you could take a look and  provide a high level overview, I'd appreciate it! No worries if you don't have time now though.

[2021-06-23 15:55] daniel-coleman-1 commented on #792
If I understand Section 508 correctly, we need to get the contrast ratio to 4.5:1.

I switched the red to blue, and the magenta to a dark green.
Blue (#00008B) comes in at 15.3:1
Dark Green (#006400) comes in at 7.44:1

I used:
https://adasitecompliance.com/ada-color-contrast-checker/

Updated page on dev:
http://2017onrr/Laws_R_D/PubLaws/PL97451.htm

[2021-06-23 16:25] Maroyafaied opened #793 "Create basic webhook that creates a GitHub issue"

[2021-06-23 16:46] Maroyafaied opened #794 "Create Price Template that pulls data from NRRD API"

[2021-06-23 16:58] mcharg commented on #792
@daniel-coleman-1 I think we may also need to make sure the green and blue are contrasted enough from each other, but the bold/italics may help with that.

Can you please work with @aklong09 to make sure the regulations team is okay with the changes?

[2021-06-23 17:00] mcharg commented on #792
@daniel-coleman-1 We should also remove the underlining as a code, since underlines mean clickable on the rest of the site.

[2021-06-23 17:10] mcharg commented on #792
@daniel-coleman-1 You can use color brewer with the colorblind safe box checked to find colors that are differentiated enough from each other.
https://colorbrewer2.org/

[2021-06-23 17:29] sghahn opened #795 "RRM 508 Ph 2 Fianl Document"
@mcharg this should be the final document for the Phase 2 508 compliance...

- [x] [RRM-Chapter.7.pdf](https://github.com/ONRR/onrr.gov-site/files/6703833/RRM-Chapter.7.pdf)

[2021-06-23 18:27] CM805 commented on #782
@StaceyKaiser can you please correct the two accessibility issues and get it back to me?

![image](https://user-images.githubusercontent.com/83783622/123149210-419f5300-d41e-11eb-915d-df4ecd0fbb12.png)

![image](https://user-images.githubusercontent.com/83783622/123149253-4e23ab80-d41e-11eb-8be7-96070913b8e9.png)

[2021-06-23 18:33] CM805 commented on #734
High level- It's clean and the layout is easy to follow.  I really like that the narrative is engaging and that it not only provides instructions but background info as well.

I'm using this right now to help me with #782.

- I think it'd be helpful to tell readers how to open the .htm file (you have to right click on it and open it in notepad).  I remember being stumped on this after Maroya taugh

[2021-06-23 18:48] mcharg commented on #795
@sghahn This is updated in dev.  Let me know if it's good to post live.

[2021-06-23 18:50] sghahn commented on #795
@mcharg please go live, thank you.

[2021-06-23 18:50] daniel-coleman-1 commented on #792
@mcharg  Colorbrewer looks like its made for mapping - but maybe I'm missing something there?  We talked in the stand up and Mojo told me to use Lighthouse from within Chrome, I ran an accessibility check and it passed - but it looks like it didn't compare the text colors against each other, just the foreground to the background.

[2021-06-23 18:52] daniel-coleman-1 commented on #792
submitted changes to @aklong via email, awaiting approval.

[2021-06-23 18:52] daniel-coleman-1 commented on #770
Chris and I are scheduled for coffee Monday morning.

[2021-06-23 18:55] mcharg commented on #792
@daniel-coleman-1 You can only rely so much on automated checks and those won't tell you about whether two colors are differentiated enough from each other if they're not on top of each other.  Color Brewer was designed for maps, but it will give you colors that are differentiated enough for colorblind users to distinguish.

[2021-06-23 19:00] mcharg commented on #792
@daniel-coleman-1 The section numbers also look like links, but they're not, which needs to be fixed.

[2021-06-23 19:12] mcharg commented on #792
@daniel-coleman-1 Found an Adobe pallette accessibility check and it looks like your colors are good.
https://color.adobe.com/create/color-accessibility
![image](https://user-images.githubusercontent.com/38465926/123154840-5dfaba00-d435-11eb-9830-d970d656732a.png)

I still think we need to reserve underlining for links.

[2021-06-23 19:27] mcharg commented on #795
@sghahn Done

[2021-06-23 19:27] #795 closed

[2021-06-23 19:27] mcharg commented on #780
@sghahn Is the printable handbook good to push live?

[2021-06-23 19:32] sghahn commented on #780
@mcharg Yes, please push the printable handbook to live site, thank you for following up on this one!!

[2021-06-23 19:34] mcharg commented on #780
@sghahn Done

[2021-06-23 19:34] #780 closed

[2021-06-23 19:47] mcharg commented on #734
@daniel-coleman-1 Looks good.  My feedback below.

Updating links:
* If a link is being updated, it should be updated in the Content Audit tab in the Accessibility Tracking worksheet, so that reflects the current state of the site.
* You should also check the Content Audit when making link changes to see if the link needs to be updated in more than once place.

Commenting out:
* If you're commenti

[2021-06-23 19:50] mcharg commented on #734
@Maroyafaied should also review.

[2021-06-23 20:16] jlouis-onrr commented on #756
pushed out to production

[2021-06-23 20:16] #756 closed

[2021-06-23 22:39] StaceyKaiser commented on #782
Here is a new Excel file
[June 2021 Lease Agreement XREF.xlsx](https://github.com/ONRR/onrr.gov-site/files/6705207/June.2021.Lease.Agreement.XREF.xlsx)

[2021-06-24 14:57] daniel-coleman-1 commented on #792
Changes have been approved and are live:
https://www.onrr.gov/Laws_R_D/PubLaws/PL97451.htm

Also a sidenote:
I went with blue and green because the two primary types of colorblindness are red/green and blue/yellow.

[2021-06-24 14:57] #792 closed

[2021-06-24 15:12] sghahn opened #796 "RRM 508 Compliance Ph 3"
@mcharg Please remove the following documents from the website:

- [x] https://www.onrr.gov/ReportPay/PDFDocs/Book-1-Tuesday-September-8.pdf
- [x] https://www.onrr.gov/ReportPay/PDFDocs/Book-2-Wednesday-September-9.pdf
- [x] https://www.onrr.gov/ReportPay/PDFDocs/Solid-Minerals-Reporter -Training-Agenda.pdf
- [x] https://www.onrr.gov/ReportPay/PDFDocs/20150730.pdf
- [x] https://www.onrr.gov/About/

[2021-06-24 15:16] sghahn commented on #796
I'm not sure why the document link isn't working for https://www.onrr.gov/ReportPay/PDFDocs/Solid-Minerals-Reporter -Training-Agenda.pdf it's line #68 on Maroya's spreadsheet

[2021-06-24 15:22] mcharg commented on #796
@sghahn I'll find the doc and remove it.

[2021-06-24 16:00] mcharg commented on #796
@sghahn The reporter letter https://www.onrr.gov/ReportPay/PDFDocs/20150730.pdf is also on the reporter letters page (and we have a copy of it in a different folder), should it be removed there, as well? https://www.onrr.gov/PDFDocs/20150730.pdf

[2021-06-24 16:08] sghahn commented on #796
@mcharg yes, please remove in all locations.

[2021-06-24 16:14] mcharg commented on #796
@sghahn Done.  I went ahead and made all these changes in both dev and the live site, since the only one that was still linked on the site was the reporter letter on the reporter letters page.

[2021-06-24 16:18] sghahn commented on #796
@mcharg I'd like to keep the issue open for the Phase 3 compliance docs, it would be open a couple of months, if that's ok with you?? It would be easier for out team to track all of the documents rather than having several different issues open. What are your thoughst?

[2021-06-24 16:21] daniel-coleman-1 commented on #770
Michelle Rogers as well

[2021-06-24 16:22] mcharg commented on #796
@sghahn Ok.

[2021-06-24 16:47] Maroyafaied commented on #734
@daniel-coleman-1
1. Under the structure section, you mentioned the dev site, it would good to include the link to it and mention that you have to be connected to VPN to view it. http://2017onrr/
2.  For the running accessibility check section, we should just use Jennifer's instructions. We can either link or copy and paste it your section. https://github.com/ONRR/onrr.gov-site/wiki/Checking-the-a

[2021-06-24 18:47] #750 closed

[2021-06-24 19:09] mcharg opened #797 "Review old issues for contacts updates and update contacts spreadsheet"
So we're starting from the right place in the CMS.

[2021-06-24 22:02] jillbong79 commented on #796
6 Documents and Reports Phase 3:
[JOA_ACC_RPT.PDF](https://github.com/ONRR/onrr.gov-site/files/6712328/JOA_ACC_RPT.PDF)
[JOA.pdf](https://github.com/ONRR/onrr.gov-site/files/6712329/JOA.pdf)
[eCommerce_2012_Acrobat_Accessibility_Report.PDF](https://github.com/ONRR/onrr.gov-site/files/6712330/eCommerce_2012_Acrobat_Accessibility_Report.PDF)
[eCommerce_2012.pdf](https://github.com/ONRR/onrr.gov-site

[2021-06-24 22:12] jlouis-onrr opened #798 "Create site breadcrumbs"

[2021-06-25 13:13] mcharg commented on #796
@jillbong79 All 6 docs are updated on both the dev and live sites.  Might be a bit before they show up on the live site.

[2021-06-25 14:10] jillbong79 commented on #796
@mcharg thanks!  will update our side appreciate it

[2021-06-25 14:57] Toddsand21 opened #799 "Event Calendar (please enter these on the Allottee Assistance page under this tab)"
EVENT CALENDAR
TITLE: FIMO JULY 2021 PHONE-IN OUTREACH
Date: Wednesday, July 14, 2021
Time: 10:00 AM - 12:00 PM
Location: By Telephone
Description:  Meeting will be a Call-In Meeting to hear current updates from the Federal Indian Minerals Office.  Representatives from BLM, BTFA, and BIA will be available to discuss topics regarding Indian oil and gas, IIM accounts, Indian trust property issues, a

[2021-06-25 15:15] mcharg commented on #676
@sghahn @jillbong79 I think this doc actually belongs to the compliance team.  It's only on the compliance overview and we're removing it.  You can remove it from your list.  Not sure we assigned it to your team.
https://www.onrr.gov/pdfdocs/American-IndianTrustFundManagementReformActof1994.pdf

[2021-06-25 15:21] sghahn commented on #676
@mcharg thank you, I will remove it from our list.

[2021-06-25 16:10] meshanw commented on #799
@Toddsand21 Would you like the June events removed?

[2021-06-25 16:34] Toddsand21 commented on #799
Yes go ahead and delete then if you need to make room.  We will have one more to add once we decide if we are having it but it's not until the end of July and I guess we'll know for sure in the next week or so.

[2021-06-25 17:01] mcharg commented on #754
Updated in dev and sent email for approval:

Compliance overview: http://2017onrr/compliance/index.htm
Public laws: http://2017onrr/Laws_R_D/PubLaws/index.htm

[2021-06-25 17:54] meshanw commented on #799
@Toddsand21 Please review http://2017onrr/events.htm

[2021-06-25 18:08] meshanw commented on #799
@Toddsand21 please review http://2017onrr/events.htm

[2021-06-25 18:58] mcharg commented on #747
Public laws: https://qmcq5k.axshare.com/#id=lef7h9&p=statutes&g=1
Compliance authorities: https://qmcq5k.axshare.com/#id=wxa2eb&p=compliance&g=1

[2021-06-25 18:58] #747 closed

[2021-06-25 19:49] Toddsand21 commented on #799
It looks fine and ready to post.  Thanks!

[2021-06-25 22:36] jillbong79 commented on #796
Documents and Reports Phase 3:
[SMRH_Appendix_C.pdf](https://github.com/ONRR/onrr.gov-site/files/6719077/SMRH_Appendix_C.pdf)
[20101215 Acrobat Accessibility Report.PDF](https://github.com/ONRR/onrr.gov-site/files/6719078/20101215.Acrobat.Accessibility.Report.PDF)
[20101215.pdf](https://github.com/ONRR/onrr.gov-site/files/6719079/20101215.pdf)
[MPRH-Appendix-M Acrobat Accessibility Report.PDF](htt

[2021-06-25 22:50] jillbong79 commented on #796
I believe this is a duplicate from phase 2.  Would someone mind checking this??
![image](https://user-images.githubusercontent.com/51677345/123491917-3f332980-d5d5-11eb-8008-d8e5adb6abd0.png)
[SalesTyp Codes--non-Solids.pdf](https://github.com/ONRR/onrr.gov-site/files/6719134/SalesTyp.Codes--non-Solids.pdf)
[SalesTyp Codes--non-Solids.pdf.accreport.pdf](https://github.com/ONRR/onrr.gov-site/files/

[2021-06-28 13:52] meshanw commented on #799
Pushed to live site

[2021-06-28 13:52] #799 closed

[2021-06-28 13:56] mcharg commented on #766
Sketch file and Illustrator files uploaded to Teams.
https://teams.microsoft.com/_#/files/General?threadId=19%3A34f9f9ee6b0441dbacab56bfd552f819%40thread.skype&ctx=channel&context=Visual%2520Design&rootfolder=%252Fsites%252FNRRD%252FShared%2520Documents%252FGeneral%252FONRR.gov%252FDesign%252FOpenOpp%2520-%2520Visual%2520Design%252FVisual%2520Design

[2021-06-28 13:56] mcharg commented on #766
I'm going to close this issue and create a new one for the title block alternatives.

[2021-06-28 13:56] #766 closed

[2021-06-28 13:57] mcharg opened #800 "Explore alternatives for title block that don't obscure the image as much"
We talked about moving the title off of the image or looking at opacity.

[2021-06-28 14:07] mcharg commented on #796
@jillbong79 I have the SalesTyp Codes--Non-Solids.pdf listed as phase 2 and it's already accessible.

[2021-06-28 14:25] mcharg commented on #796
@jillbong79 SMRH_Chapter_4 was also updated in phase 2.

[2021-06-28 14:28] mcharg commented on #796
@jillbong79 The documents above are all updated on both dev and the live site.  Might be a bit before they show up on the live site.

[2021-06-28 17:10] mcharg commented on #797
@jlouis-onrr The contacts spreadsheet is now up to date.  There were a handful of changes from the last time I updated.  I also added columns with the link to the file or page the contact info lives on in the current site and the date last updated.
https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Contacts/ContactsFiles.xlsx?d=wee2fc3b441964dce928684aaf6e25

[2021-06-28 17:10] #797 closed

[2021-06-28 17:49] #712 closed

[2021-06-28 19:02] mcharg commented on #786
I started a list of what I think are collections.
https://teams.microsoft.com/l/file/33FE485C-BA9E-4323-8AE2-291A3D1F5993?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FDesign%2FCollections%2FCollections.xlsx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD&serviceName=

[2021-06-28 19:02] jillbong79 commented on #796
Phase 3 Docs:
[Current-Pipeline-Condensate-Systems.pdf](https://github.com/ONRR/onrr.gov-site/files/6728649/Current-Pipeline-Condensate-Systems.pdf)
[PASR_CSV_Record_Layout Acrobat Accessibility Report.PDF](https://github.com/ONRR/onrr.gov-site/files/6728651/PASR_CSV_Record_Layout.Acrobat.Accessibility.Report.PDF)
[PASR_CSV_Record_Layout.pdf](https://github.com/ONRR/onrr.gov-site/files/6728652/PAS

[2021-06-28 19:28] mcharg commented on #796
@jillbong79 The list above is updated in both dev and the live site.  Might be a bit before they show up on the live site.

[2021-06-28 19:31] mcharg commented on #754
Approved via email and pushed live. https://www.onrr.gov/compliance/index.htm
https://www.onrr.gov/Laws_R_D/PubLaws/index.htm

[2021-06-28 19:31] #754 closed

[2021-06-28 20:01] Maroyafaied opened #801 "check on remaining docs status in phase 2"
Contact any program managers with documents left in phase 2 to be corrected.

[2021-06-29 12:51] Maroyafaied commented on #734
@daniel-coleman-1 This looks good, you can close this issue!

[2021-06-29 13:52] Maroyafaied commented on #764
We will contact program managers with their lists of documents in phase 3 and ask them to strategize which docs they want to remove and which they want to keep & correct. Once they identify which ones they want to correct, we will offer to run accessibility reports for those docs.

[2021-06-29 15:02] CM805 commented on #676
@mcharg I emailed you this comment as well.

I was planning to run these by April Lockler first, but then I got to thinking that it would be much easier for her to see what it looks like on the actual wireframe.  So, can we get it added there and then send it to her for review and final approval?

[2021-06-29 15:03] CM805 commented on #782
@StaceyKaiser there is one more accessibility issue.  My apologies for sending the same screenshot twice last time.  I meant to have this as one of the screenshots.
![image](https://user-images.githubusercontent.com/83783622/123821744-e86d6e80-d8b8-11eb-9919-7f502f7c6499.png)

[2021-06-29 18:07] CM805 commented on #676
Sent latest prototypes to RRM for review via email.

[2021-06-29 19:10] Sheetsj opened #802 "Late Payment & Underpayment Interest Tables"
Hello,

On the Late Payment & Underpayment Interest Tables page, at https://onrr.gov/ReportPay/interest.htm, please make the following updates.

Replace the Interest Calculator Excel file below the Questions/Contact box on the page.

Add a new line at the bottom of the Late Payments and Underpayments table for Period 07/1/2021 - 10/31/2021, all columns remain the same.
If you have any questions, p

[2021-06-29 21:55] Maroyafaied commented on #802
@meshanw let me know if you have time to take this one. Thanks

[2021-06-29 22:59] jillbong79 commented on #796
Phase 3 Upload:
[USGS-sodium-potassium-011877 Acrobat Accessibility Report.PDF](https://github.com/ONRR/onrr.gov-site/files/6736301/USGS-sodium-potassium-011877.Acrobat.Accessibility.Report.PDF)
[USGS-sodium-potassium-011877.pdf](https://github.com/ONRR/onrr.gov-site/files/6736302/USGS-sodium-potassium-011877.pdf)
[RRM-Chapter.3 Acrobat Accessibility Report.PDF](https://github.com/ONRR/onrr.gov-si

[2021-06-30 13:29] mcharg opened #803 "Create redirect for FOGRMA doc"
Someone reached out to Lori saying they have broken links.  We replaced the doc with an external ink.

[2021-06-30 14:01] mcharg commented on #803
Updated in dev.

http://2017onrr/Laws_R_D/PubLaws/PDFDocs/97-451.pdf
redirects to
https://uscode.house.gov/view.xhtml?path=/prelim@title30/chapter29&edition=prelim

@meshanw Can you please test it out and make sure it looks good to post to the live site?

[2021-06-30 14:08] mcharg commented on #803
I forgot @meshanw said she was out the rest of the week.  @CM805 Can you please review?

[2021-06-30 14:22] CM805 commented on #676
April Lockler gave us the thumbs up on the latest prototype!

[2021-06-30 14:22] #676 closed

[2021-06-30 16:26] sghahn commented on #796
@mcharg 7 508 uploads:

- [ ] [4292.pdf](https://github.com/ONRR/onrr.gov-site/files/6742504/4292.pdf)

- [ ] [4293.pdf](https://github.com/ONRR/onrr.gov-site/files/6742509/4293.pdf)

- [ ] [4393.pdf](https://github.com/ONRR/onrr.gov-site/files/6742511/4393.pdf)

- [ ] [4411.pdf](https://github.com/ONRR/onrr.gov-site/files/6742512/4411.pdf)

- [ ] [SMRH_Abbreviations.pdf](https://github.com/ONRR/o

[2021-06-30 17:14] mcharg commented on #796
@sghahn The 4411.pdf has some errors about tagged annotations.
![image](https://user-images.githubusercontent.com/38465926/124003478-fc8e9a00-d9a4-11eb-8741-bcabe5fa9548.png)

[2021-06-30 17:15] sghahn commented on #796
@mcharg I'll take a look at this now, thank you.

[2021-06-30 17:26] mcharg commented on #796
@sghahn The rest of the docs in your list look good and have been updated.

[2021-06-30 17:33] sghahn commented on #796
@mcharg corrected 4411 with report

- [ ] [4411.pdf](https://github.com/ONRR/onrr.gov-site/files/6742888/4411.pdf)
- [ ] [4411_AccReport.pdf](https://github.com/ONRR/onrr.gov-site/files/6742889/4411_AccReport.pdf)

[2021-06-30 17:44] mcharg commented on #796
@sghahn 4411 is updated.

[2021-06-30 17:52] CM805 commented on #803
@mcharg I confirmed the link is working.  I also tried it from here and it is good: http://2017onrr/Laws_R_D/PubLaws/

Also, I don't see an issue with the link on the live site: https://www.onrr.gov/Laws_R_D/PubLaws/index.htm

[2021-06-30 17:55] mcharg commented on #803
Pushed live.

[2021-06-30 17:55] #803 closed

[2021-06-30 18:29] #777 closed

[2021-06-30 18:35] #794 closed

[2021-06-30 18:39] StaceyKaiser commented on #782
Please see attached Excel file with an update to the colors.
[June 2021 Lease Agreement XREF.xlsx](https://github.com/ONRR/onrr.gov-site/files/6743264/June.2021.Lease.Agreement.XREF.xlsx)

[2021-06-30 18:55] #699 closed

[2021-06-30 20:03] jillbong79 commented on #796
Phase 3 Upload:
[4292s1a.pdf](https://github.com/ONRR/onrr.gov-site/files/6743432/4292s1a.pdf)
[4292s1a Acrobat Accessibility Report.PDF](https://github.com/ONRR/onrr.gov-site/files/6743433/4292s1a.Acrobat.Accessibility.Report.PDF)
[RRM-Overlapping.Agreement.Training.2020.Handbook.pdf](https://github.com/ONRR/onrr.gov-site/files/6743563/RRM-Overlapping.Agreement.Training.2020.Handbook.pdf)
[RRM-Ov

[2021-06-30 20:13] CM805 commented on #782
@StaceyKaiser this is ready to review in dev: http://2017onrr/reportpay/CrossRef.htm

Also, I had to make a change to the table colors again to get it to fully pass the accessibility check.  Basically, if you use one of the black table schemes or the dark blue you should be fine.  Orange, green, and light blue all cause issues.  Here is the file the way I modified it.

[June.2021.Lease.Agreement.X

[2021-06-30 20:24] CM805 commented on #744
I took a look at the Accessibility Tracking sheet to find out which program manager this falls under.  I drafted an email to ask Rob Winter about it and sent it to @Maroyafaied.   Do you want me to send it to him, or do you prefer to send it to him?

[2021-06-30 20:44] StaceyKaiser commented on #782
I get an error when I click on the link to the file: 404 - File or directory not found.
The resource you are looking for might have been removed, had its name changed, or is temporarily unavailable.

[2021-06-30 20:49] CM805 commented on #782
@StaceyKaiser can you try again?  I just added .xlsx to the file name on the link

[2021-06-30 21:49] StaceyKaiser commented on #782
Looks good now.  You can post to the live site now.  Thanks!

[2021-06-30 21:55] jillbong79 commented on #796
Phase 3 Upload:
[SMRH_Appendix_E Acrobat Accessibility Report.PDF](https://github.com/ONRR/onrr.gov-site/files/6744224/SMRH_Appendix_E.Acrobat.Accessibility.Report.PDF)
[SMRH_Chapter_7 Acrobat Accessibility Report.PDF](https://github.com/ONRR/onrr.gov-site/files/6744225/SMRH_Chapter_7.Acrobat.Accessibility.Report.PDF)
[SMRH_Chapter_1 Acrobat Accessibility Report.PDF](https://github.com/ONRR/onrr.g

[2021-06-30 22:04] CM805 commented on #782
Should be live later today at:  https://onrr.gov/reportpay/CrossRef.htm

[2021-07-01 13:13] mcharg commented on #782
@CM805 You can note in the Notes column in the Accessibility Tracking sheet that we're replacing the old documents with the new one.  We haven't been adding new documents to that sheet.

For the Content Audit sheet, we should add the new document, so that one reflects the current state of the site.  We should probably add columns to that one with the program manager (pulled from the accessibility

[2021-07-01 13:51] mcharg commented on #796
@jillbong79 RRM-Appendix.A was updated in Phase 2.  Do you want me to use this doc or leave the one that's there now?

[2021-07-01 13:54] mcharg commented on #796
@jillbong79 The rest of the documents are all updated.  I think that's all the Phase 3 docs for your team.

[2021-07-01 14:03] sghahn commented on #796
@mcharg Leave the RRM-Appendix A from phase 2 please don't use the one uploaded yesterday. Thank  you.

Yes, this should should make RRM 100% complete on Phase 3 (and Phase 1 & 2)!!! yay @jillbong79 !!

Many thanks everyone. Have a great holiday weekend. I will update RRM on our completed status.

[2021-07-01 14:06] mcharg commented on #796
@sghahn @jillbong79 You were super fast with this round!  And you're the first team to finish all 3 phases!!

So much for keeping the issue open for a couple months.  Is it good to close?

[2021-07-01 14:11] sghahn commented on #796
@mcharg @jillbong79  Jill blew it out of the park!! We are thrilled to be done, yes we can close the ticket, woot woot!!

[2021-07-01 14:11] #796 closed

[2021-07-01 14:18] CaGarcia1 opened #804 "508 Compliant Form 4410"
@mcharg @maroyafaied Please update this form for onrr.gov

[4410.pdf](https://github.com/ONRR/onrr.gov-site/files/6748787/4410.pdf)

[2021-07-01 14:43] jillbong79 commented on #796
@mcharg @sghahn whoop whoop!

[2021-07-01 15:27] mcharg commented on #804
@CaGarcia1 Updated.  It might be a bit before it shows up on the live site.

[2021-07-01 15:27] #804 closed

[2021-07-01 15:58] Maroyafaied commented on #802
@sheetsj please review http://2017onrr/reportpay/interest.htm

[2021-07-01 16:02] Sheetsj commented on #802
Looks good! Thank you :)

[2021-07-01 17:44] CM805 opened #805 "Update Content Audit Sheet"
New issue, based on working #782

Update the Content Audit worksheet on the [Accessibility Tracking](https://doimspp-my.sharepoint.com/:x:/r/personal/mchargs_mms_gov/_layouts/15/Doc.aspx?sourcedoc=%7B928732e3-ba62-4e42-8d4d-a815c2802c66%7D&action=edit&wdSkeletonState=%7B%22IsEnabled%22%3Atrue%2C%22Options%22%3A1088%7D&wdenableroaming=1&wdodb=1&wdorigin=Other&wdredirectionreason=Force_SingleStepBoo

[2021-07-01 17:45] CM805 commented on #782
Verified changes on live site.

Created issue #805 to update Accessibility Tracking document with additional information

[2021-07-01 17:45] #782 closed

[2021-07-01 18:11] #734 closed

[2021-07-01 18:15] #791 closed

[2021-07-01 18:16] #764 closed

[2021-07-01 18:16] #787 closed

[2021-07-01 18:17] #786 closed

[2021-07-01 18:25] Maroyafaied commented on #770
@daniel-coleman-1 put this in the wiki under the content guide.

[2021-07-01 18:27] #741 closed

[2021-07-01 18:29] Maroyafaied commented on #744
@CM805 send email to Rob Winter

[2021-07-01 18:31] Maroyafaied commented on #802
This is  live.

[2021-07-01 18:31] #802 closed

[2021-07-01 20:17] CM805 commented on #805
@mcharg I got all the formulas in to bring in the data.  When I put the formula into the Accessibility Tracking sheet, there are several blanks...which means we have documents on Accessibility Tracking that we do not have on the Content Audit sheet.

I also added conditional formatting to the Accessibility Tacking current status.

@Baymatt is going to try to figure out how to do conditional format

[2021-07-01 20:19] mcharg commented on #805
@CM805 The ones we have on the accessibility tracking sheet that aren't in the content audit are likely ones we've replaced with links to external sites or pdfs that are now xls, so the links no longer match.

[2021-07-01 21:25] Baymatt commented on #805
Sent the updated spreadsheet to @CM805, but here are the rules that I created for reference. Message/tag me if the functionality is not what is expected.

<img width="710" alt="Screen Shot 2021-07-01 at 2 12 39 PM" src="https://user-images.githubusercontent.com/43329595/124191107-25339400-da78-11eb-80c6-e3a052682df0.png">

[2021-07-01 21:54] CM805 opened #806 "Add missing files to Content Audit sheet"
Some files are on the Accessibility Tracking worksheet and not the Content Audit worksheet.  These can be identified in column N as N/A.  They need to be added to the Content Audit worksheet and have all metadata populated.

[2021-07-01 21:55] CM805 commented on #805
Done.  Thanks for the help @Baymatt
Created #806 to get Content Audit sheet up to date.

[2021-07-01 21:55] #805 closed

[2021-07-02 12:56] Maroyafaied opened #807 "Initiate phase 3 - 508 compliance"
Need to send program managers list of docs in phase 3 and ask them to decide if they will correct all of them or remove any of them.

[2021-07-02 13:07] Maroyafaied opened #808 "June Analytics"

[2021-07-02 13:07] mcharg commented on #806
@CM805 We don't need to add any that have been removed from the site or are replaced with a different file format (like pdf turned into xls).

[2021-07-06 18:51] forgravec opened #809 "NYMEX prices - June ready for ONRR.gov"
The NYMEX prices are ready to be posted and the spreadsheet uploaded to ONRR.gov
[NYMEX062021.xlsx](https://github.com/ONRR/onrr.gov-site/files/6772152/NYMEX062021.xlsx)

NYMEX: $71.35
NYMEX Roll: $0.13

Thanks,
Cory Forgrave
@Sudarr

[2021-07-06 20:08] penvosej opened #810 "July Indian Index Zone prices"
The prices for the 6 Indian Index Zones have been calculated for July and are ready to be posted to ONRR.gov.  You can find the prices that need to be posted in the shared OneDrive Excel document titled "Data for ONRR.gov".

@sudarr
@schulted

[2021-07-06 23:30] daniel-coleman-1 opened #811 "Update Production Reporting References"
Received via email from John Erle:

 Please replace the production reporting refences located on the homepage under: reporting paying, production reporting references, offshore
with the attached five gulf files and three pacific files and replace the as of date with 2 July 21.

[Gulf-Buy-Back.xlsx](https://github.com/ONRR/onrr.gov-site/files/6773271/Gulf-Buy-Back.xlsx)
[Gulf-Metering-Systems.xlsx]

[2021-07-06 23:30] daniel-coleman-1 commented on #811
Updated in dev and awaiting approval

[2021-07-07 13:54] Maroyafaied commented on #679
@jnwang01 send this revised version

https://nrezre.axshare.com/#id=13pxu2&p=version_2_icons_cards

[2021-07-07 14:40] Maroyafaied commented on #809
@forgravec please review http://2017onrr/valuation/NYMEX.htm

[2021-07-07 14:44] Maroyafaied commented on #810
@penvosej please review http://2017onrr/valuation/allzones.htm

[2021-07-07 14:49] forgravec commented on #809
Prices look good.

Thanks,
Cory Forgrave
Economist
Office of Natural Resources Revenue
303-231-3589
***@***.***

________________________________
From: Maroyafaied ***@***.***>
Sent: Wednesday, July 7, 2021 8:40 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Forgrave, Cory J ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] NYMEX prices - June ready for ONRR.gov (#809)

[2021-07-07 15:02] Maroyafaied commented on #809
This is live.

[2021-07-07 15:07] penvosej commented on #810
Hi Maroya!

The data on the webpage looks good. Thanks for taking care of that for us!!

Jessica

From: Maroyafaied ***@***.***>
Sent: Wednesday, July 7, 2021 8:45 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Penvose, Jessica M ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] July Indian Index Zone prices (#810)

 This email has been received from outside of DOI - Use