[2022-04-28 13:31] cthomasONRR commented on #1886
@bowlenj Great! These changes are now live: https://www.onrr.gov/reportpay/Handbooks/revenue-handbook/index.htm. Closing this issue.

[2022-04-28 13:31] #1886 closed

[2022-04-28 14:24] Maroyafaied commented on #1865
The SMEs approved the page, @cthomasONRR can you update the status in the spreadsheet and close this issue. Thanks

[2022-04-28 14:28] cthomasONRR commented on #1865
I think this issue can be closed now

[2022-04-28 14:44] Maroyafaied opened #1888 "Review Debt Collection page & contacts with SMEs"
https://dev-onrr-frontend.app.cloud.gov/about/contact/paying-contacts?tabs=contacts,debt-collection

https://dev-onrr-frontend.app.cloud.gov/paying/unpaid-debt

[2022-04-28 14:53] Maroyafaied commented on #1888
We need this link updated before we send for review

![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/e9b18dcd-e38d-402b-a4c9-d2fed45d2284)

[2022-04-28 14:55] mcharg commented on #1888
@Maroyafaied I added the reporter letter links issue as a dependency.

[2022-04-28 14:55] lpgoldstein commented on #1887
@bowlenj It's live so I'm closing the issue.

[2022-04-28 15:45] cthomasONRR commented on #1860
Regulations table made: https://dev-onrr-frontend.app.cloud.gov/indian/indian-references?tabs=regulations

[2022-04-28 16:02] cthomasONRR commented on #1860
Added SOP to references tab and fixed title to have "SOP" in all caps

https://dev-onrr-frontend.app.cloud.gov/indian/indian-references?tabs=references

[2022-04-28 16:05] cthomasONRR commented on #1860
Removed tabs in tribal consultation and removed "view scheduled consultations" link
https://dev-onrr-frontend.app.cloud.gov/indian/tribal-consultation

[2022-04-28 16:17] #1794 closed

[2022-04-28 16:18] cthomasONRR commented on #1860
email sent

[2022-04-28 16:20] mcharg commented on #1798
Need to be able to add/update GOMESA and disbursements press releases, as well.

[2022-04-28 16:29] #1836 closed

[2022-04-28 16:33] mcharg commented on #1702
Covered in #1697

[2022-04-28 16:33] #1702 closed

[2022-04-28 16:41] Maroyafaied commented on #1884
@jlouis-onrr please export a spreadsheet and @cthomasONRR will review it.

[2022-04-28 17:04] mcharg commented on #904
We decided to hard code the Indian announcements, so I think this is done.

[2022-04-28 17:04] #904 closed

[2022-04-28 17:30] lpgoldstein commented on #1887
@bowlenj This is ready for your review http://2017onrr/reportpay/Handbooks/index.htm

[2022-04-28 17:31] lpgoldstein commented on #1887
Updated document for reference [RRM-Printable.Minerals.Revenue.Handbook (5).pdf](https://github.com/ONRR/onrr.gov-site/files/8585081/RRM-Printable.Minerals.Revenue.Handbook.5.pdf)

[2022-04-28 17:38] bowlenj commented on #1887
The B.1.2 is fixed but page 59, Chapter 54 isn't showing the updated version 4.1 4-27-2022.  That was there this morning.

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to

[2022-04-28 18:19] cthomasONRR commented on #1860
Added IESC logo, and updated IESC contacts as per Amanda Garrison's email. Huge update to contacts. https://dev-onrr-frontend.app.cloud.gov/indian/assistance?tabs=contacts,indian-energy-service-center-iesc-contacts

[2022-04-28 19:17] lpgoldstein commented on #1887
@bowlenj closing out the issue!

[2022-04-28 19:17] #1887 closed

[2022-04-28 19:28] cthomasONRR commented on #1844
We have all of RRM's docs completed save for "https://www.onrr.gov/ReportPay/Handbooks/revenue-handbook/pdfs/RRM-Appendix.E.pdf" which is on hold as RRM needs to coordinate with RV on transaction codes.

[2022-04-28 20:26] cthomasONRR commented on #1860
Continuing to make edits as per Heidi's emails

[2022-04-28 20:47] lpgoldstein commented on #1876
@Maroyafaied This is ready for your review: https://doimspp.sharepoint.com/:x:/s/NRRD/EbONaar56IxCqGhOcBizIKUBk3mBRQ0rqRUb3AgbgVcoyA?email=Maroya.Faied%40onrr.gov&e=aQqdVH

[2022-04-28 21:46] Maroyafaied commented on #1876
@mcharg @lpgoldstein This is great, I didn't think we have that many findings. I will share it with Nathan and IT managers.

[2022-04-28 22:24] cthomasONRR commented on #1860
I asked Heidi to check in with Amanda before I make any more changes.

[2022-04-29 14:56] mcharg opened #1889 "Add pay.gov video to both sites"
https://youtu.be/0ClyFaAnWSA

Rhonda Baker is the owner and she said she would like it added.

[2022-04-29 16:46] mcharg commented on #1797
Here's a link to the Visio file on Teams.
https://doimspp.sharepoint.com/:u:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/CMS/Workflow/CMS%20Workflow.vsdx?d=w3679d45f46f24d17b5277bede84dfcbe&csf=1&web=1&e=6sUJrC

@mojobnichols @jlouis-onrr Can you take a look at the diagram?

[2022-04-29 18:55] lpgoldstein opened #1890 "Update production reporting documents - gas"
[Gulf-Buy-Back (1).xlsx](https://github.com/ONRR/onrr.gov-site/files/8593092/Gulf-Buy-Back.1.xlsx)
[Gulf-Flash-Gas (1).xlsx](https://github.com/ONRR/onrr.gov-site/files/8593093/Gulf-Flash-Gas.1.xlsx)
[Gulf-Metering-Systems (1).xlsx](https://github.com/ONRR/onrr.gov-site/files/8593095/Gulf-Metering-Systems.1.xlsx)
[Gulf-Gas-Plants (1).xlsx](https://github.com/ONRR/onrr.gov-site/files/8593096/Gulf-G

[2022-04-29 20:25] mcharg commented on #1890
@lpgoldstein Johnny approved via email and I pushed to the live site.  Will check to see if they're live before closing.

[2022-04-29 20:33] mcharg commented on #1890
Changes are live.

[2022-04-29 20:33] #1890 closed

[2022-05-02 13:11] bowlenj opened #1891 "Federal Onshore Terminable Leases"
Please update the following webpage https://www.onrr.gov/reportpay/royalty-reporting.htm with the attached excel file:

Federal Onshore Terminable Leases - sorted by Due Date, please change (4/1/2022) to read (updated 5/2/2022)

[20220502.xlsx](https://github.com/ONRR/onrr.gov-site/files/8603018/20220502.xlsx)

[2022-05-02 15:21] mcharg commented on #1716
Document updated in CMS.

[2022-05-02 15:22] mcharg opened #1892 "Update documents in CMS"

[2022-05-02 15:24] mcharg commented on #1892
https://dev-onrr-cms.app.cloud.gov/document/4440.pdf
Linked on pages:
- [ ] https://dev-onrr-frontend.app.cloud.gov/references/icrs/1012-0010
- [ ] https://dev-onrr-frontend.app.cloud.gov/references/forms?tabs=solid-minerals-reporting
- [ ] https://dev-onrr-frontend.app.cloud.gov/reporting/solids?tabs=forms

[2022-05-02 15:42] #1616 closed

[2022-05-02 15:52] lpgoldstein commented on #1891
@bowlenj This is ready for your review http://2017onrr/reportpay/royalty-reporting.htm

[2022-05-02 15:55] bowlenj commented on #1891
This looks great, thank you!

[2022-05-02 15:55] bowlenj commented on #1891
This looks great, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exem

[2022-05-02 16:07] lpgoldstein commented on #1891
@bowlenj Thanks! It's live so I'm closing the issue.

[2022-05-02 16:07] #1891 closed

[2022-05-02 16:44] lpgoldstein commented on #1892
tracking sheet https://doimspp.sharepoint.com/:x:/r/sites/NRRD/_layouts/15/Doc.aspx?sourcedoc=%7B74B27B02-72BC-4CEE-92B0-A1280895CB73%7D&file=ContentTracking.xlsx&action=default&mobileredirect=true&cid=8a7f9c54-c06f-4349-be50-ab4d747c31f1

[2022-05-02 19:24] mcharg commented on #1890
Documents are updated in CMS.

[2022-05-02 19:24] mcharg commented on #1887
Document is updated in CMS.

[2022-05-02 19:25] mcharg commented on #1886
Document updated in CMS.

[2022-05-02 19:26] mcharg commented on #1881
Document updated in CMS.

[2022-05-02 19:28] mcharg commented on #1869
File updated in CMS.

[2022-05-02 19:28] mcharg commented on #1848
File updated in CMS.

[2022-05-02 19:30] mcharg commented on #1889
Resent approval email.

[2022-05-02 19:31] mcharg commented on #1814
Files updated in CMS.

[2022-05-02 19:31] mcharg commented on #1795
File updated in CMS.

[2022-05-02 19:31] mcharg commented on #1777
Files updated in CMS.

[2022-05-02 19:32] mcharg commented on #1776
Files updated in CMS.

[2022-05-02 19:32] mcharg commented on #1773
File updated in CMS.

[2022-05-02 19:33] mcharg commented on #1771
Files updated in CMS.

[2022-05-02 19:33] mcharg commented on #1767
File updated in CMS.

[2022-05-02 19:34] mcharg commented on #1761
Files updated in CMS.

[2022-05-02 19:34] mcharg commented on #1760
Files updated in CMS.

[2022-05-02 19:34] mcharg commented on #1747
Files updated in CMS.

[2022-05-02 19:35] mcharg commented on #1746
Files updated in CMS.

[2022-05-02 19:35] mcharg commented on #1682
Files updated in CMS.

[2022-05-02 19:36] mcharg commented on #1675
File updated in CMS.

[2022-05-02 19:36] mcharg commented on #1631
Documents updated in CMS.

[2022-05-02 19:37] mcharg commented on #1622
No doc updates needed in CMS.

[2022-05-02 19:37] mcharg commented on #1605
Documents updated in CMS.

[2022-05-02 19:37] mcharg commented on #1590
Docs updated in CMS.

[2022-05-02 19:41] #1876 closed

[2022-05-02 20:11] mcharg opened #1893 "Duplicate press release documents"
@jlouis-onrr Is there a way to determine which copy is actually used in the collection? A lot of the press releases have duplicates.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/6b87b860-f6c3-4e63-ba5f-92a55dbae8b7)

[2022-05-02 21:11] mcharg commented on #1889
This is live.

[2022-05-02 21:20] #1889 closed

[2022-05-03 13:19] mcharg commented on #1892
@cthomasONRR Lindsay and I got all the documents yesterday. Can you please review when you're back in the office?

[2022-05-03 13:19] mcharg opened #1894 "Review interest rate collection with SMEs"

[2022-05-03 13:20] mcharg commented on #1797
Please review in sync up today.

[2022-05-03 13:21] mcharg commented on #1867
This is waiting on the link list to be fixed.

[2022-05-03 13:22] mcharg commented on #1866
We have a meeting on Wednesday with RRM managers to review.

[2022-05-03 13:26] mcharg opened #1895 "Practice Impact Expo presentations"

[2022-05-03 15:46] jlouis-onrr opened #1896 "Add equal column height to content blocks"
also add that content filed be required

[2022-05-03 17:11] Maroyafaied commented on #1342
@mcharg this is ready to review again.

[2022-05-03 17:13] Maroyafaied commented on #1770
@mojobnichols @mcharg can you confirm this is fixed by the update.

[2022-05-03 17:52] Maroyafaied commented on #1797
@lpgoldstein please make the following changes

- remove the ready to review status
-  clarify on the arrow to development that this shows draft and published status
- clarify on the arrow to staging that this shows publish status and already published
- clarify on the arrow to ODDD push button that only after review and approval .
-

[2022-05-03 19:34] mcharg opened #1897 "Spell out FMP in the reporter letter drop-down"
From Melissa:
Noticed just now on reporter letter drop down selection of FMP.  Probably should spell out acronym since this is for the public website in the drop down.

[2022-05-03 19:35] bbell0229 opened #1898 "Accounts Receivable, Billing, and Financial issues-Federal Contact update"
Hello,

On the Payments page,
https://www.onrr.gov/reportpay/PDFDocs/FSFederalCOAssignm.pdf, please update with the attached file.

Please remove the prior attachment and replace with the new employee listing.

[Fed Assignments Email 5-3-2022.docx](https://github.com/ONRR/onrr.gov-site/files/8613750/Fed.Assignments.Email.5-3-2022.docx)

Thank you,

Brittney

[2022-05-03 19:37] mcharg commented on #1875
This needs to be added in the CMS.

[2022-05-03 20:14] mcharg commented on #1342
@mojobnichols Not working. The pay.gov link under QuickLinks goes opens in the current window.
https://dev-onrr-frontend.app.cloud.gov/

Some of the links on this page are also not working.
https://dev-onrr-frontend.app.cloud.gov/references/statutes

Also, the [1996 Amendments to FOGRMA](https://dev-onrr-cms.app.cloud.gov/references/statutes/fogrma-amendments) link on this page is also not working

[2022-05-03 20:23] mcharg commented on #1770
It's still not deleting the file when you replace it in the collection, but we can go to the folder and use the replace file function as a workaround.

[2022-05-03 20:24] mcharg commented on #1875
@lpgoldstein This is ready to review on the dev site.
https://dev-onrr-frontend.app.cloud.gov/about/public-affairs

[2022-05-03 20:27] mcharg commented on #1893
This is related to #1770 and there are duplicate files in other collections, as well.

[2022-05-03 20:28] mcharg commented on #1687
I was thinking about this today and I think a good first step is for me to go through all of the existing onrr.gov studies and catalog user tasks and then after Jae and Kaitlyn are back, we can do a design studio where we group the users into like categories to arrive at a task-based set of user types.

[2022-05-03 21:40] Maroyafaied commented on #1806
[https://app.zenhub.com/files/210892300/953ad996-328e-4007-8895-dfca866d2035/download](https://app.zenhub.com/files/210892300/953ad996-328e-4007-8895-dfca866d2035/download)

[2022-05-03 21:42] Maroyafaied commented on #1844
@cthomasONRR  I will send Amy's doc to Jodie. https://www.onrr.gov/valuation/PDFDocs/Processed%20Gas%20Example%20Final%2005262020.pdf

[2022-05-03 21:51] Maroyafaied commented on #1859
@cthomasONRR @mcharg I forwarded an email I received today with requested changes. Thanks

[2022-05-03 23:00] jlouis-onrr commented on #1552
@mcharg, think i finally found the culprit in this one. This update is now in dev.

[2022-05-03 23:00] jlouis-onrr commented on #1649
@mcharg, all handbook collections are now in dev.

[2022-05-04 03:17] lpgoldstein commented on #1875
@mcharg This looks good!

[2022-05-04 03:48] lpgoldstein commented on #1797
@Maroyafaied changes made. Let me know if we need further revisions.

[2022-05-04 12:39] cthomasONRR commented on #1892
@mcharg How should I review? Can we sort by tags in the CMS yet? Also, should I put 'update' tags on the the reporter letters listed in the excel that do not have tags?

[2022-05-04 12:52] Maroyafaied commented on #1797
@lpgoldstein looks good.

[2022-05-04 12:54] mcharg commented on #1892
@cthomasONRR We added a tab to the Content Tracking sheet called "Doc Updates" that shows which files we updated.
https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Content/Content%20Audit/ContentTracking.xlsx?d=w74b27b0272bc4cee92b0a1280895cb73&csf=1&web=1&e=5bGWKa

[2022-05-04 12:54] Maroyafaied commented on #1806
[https://app.zenhub.com/files/210892300/86dd13d5-cbda-4364-b4ff-0157957c049f/download](https://app.zenhub.com/files/210892300/86dd13d5-cbda-4364-b4ff-0157957c049f/download)

[2022-05-04 12:56] cthomasONRR commented on #1892
@mcharg Yes I know. Have you updated documents and I should be checking if the updated docs are in the CMS?

Looks like you updated all Reporter Letters, as per the note in the doc descriptions. I made sure the update tags were removed.

For Press Releases, all tags are absent in the CMS for me. Were these intentionally removed? I don't see any notes in the doc descriptions to indicate that these

[2022-05-04 12:57] mcharg commented on #1892
The Update tags were intentionally removed and I didn't make any notes in the doc descriptions. I only noted in the spreadsheet. Can you check to see if the updated docs are in the CMS based on the spreadsheet?

[2022-05-04 12:58] mcharg commented on #1552
Looks good.

[2022-05-04 12:58] #1552 closed

[2022-05-04 12:59] cthomasONRR commented on #1892
So I will have to download every doc to check? CMS won't display anything in the "modified by" column option. I'm also going through the spreadsheet and removing "update" from the tags list in column F where I know it's been updated

[2022-05-04 13:01] cthomasONRR commented on #1892
I'm check by making sure the update tag has been removed in the CMS. If I see that removed, I know you've updated it. Then I'm deleting the update tag in column f of the excel.

[2022-05-04 13:01] mcharg opened #1899 "Horizontal rule is missing under tabs"
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/e27d3be5-2554-4629-b72b-58db4b69c368)

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/4d9ca8b0-9c34-4426-8b33-976ac4a795e3)

[2022-05-04 13:02] mcharg commented on #1892
You could just compare against the same doc on the live site.  We uploaded the new ones from the Y drive.

[2022-05-04 13:05] cthomasONRR commented on #1892
OK I will do both, but it will take me most of the day to do this.

[2022-05-04 13:30] mcharg opened #1900 "Link, etc. menu doesn't display when editing a content block from the content blocks area"
No menu:
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/17b6dfe1-da18-4241-ab7b-6d544474843f)

Menu when accessed from a page:
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/42555832-2ff6-4820-9df6-750d3e21cf41)

[2022-05-04 13:40] HammenONRR opened #1901 "Webpage Update - New Lease Agreement XREF files for onrr.gov"
Please replace the existing file located at: http://www.onrr.gov/ReportPay/CrossRef.htm called “Cross-Reference Lease to Agreement Number” with the file entitled “May 2022 Lease Agreement XREF.txt and May 2022 Lease Agreement XREF.xlsx”.  It was queried from the system on 5/4/2022
[May 2022 Lease Agreement XREF.txt](https://github.com/ONRR/onrr.gov-site/files/8620782/May.2022.Lease.Agreement.XREF.

[2022-05-04 14:01] mcharg commented on #1892
@cthomasONRR Fixed

[2022-05-04 14:23] mcharg commented on #1859
I made the updates from the email and sent a response to the requestor.

[2022-05-04 14:55] mcharg opened #1902 "Move alert up on tribal lockboxes page"
Once the reordering bug is fixed.

[2022-05-04 14:58] #1857 closed

[2022-05-04 14:58] Maroyafaied commented on #1857
This will be reviewed by RRM along with the troubleshooting guide and handbooks. I will make an issue for RRM and include all the webpages they are reviewing.

[2022-05-04 15:03] mcharg commented on #1866
We probably also need to review troubleshooting with Jen Dougherty from FM.  I'll create a separate issue for that.

[2022-05-04 15:03] Maroyafaied commented on #1859
We received an email approving the webpages by SME's. @mcharg please mark as approved by SME in the spreadsheet and close this issue. Thanks

[2022-05-04 15:04] mcharg opened #1903 "Review troubleshooting guide with FM."

[2022-05-04 15:04] mcharg commented on #1863
Covered by RRM and RV issues.

[2022-05-04 15:04] #1863 closed

[2022-05-04 15:04] mcharg commented on #1861
Covered by another issue.

[2022-05-04 15:04] #1861 closed

[2022-05-04 15:04] Maroyafaied commented on #1858
This will be reviewed as part of issue #1866 and will have RV review as well.

[2022-05-04 15:04] #1858 closed

[2022-05-04 15:06] #1859 closed

[2022-05-04 15:10] mcharg commented on #1898
@bbell0229 Would it be possible to get a version of the doc with what changed highlighted? That'll make it easier for us to make updates to the contacts in the CMS for the new site.

[2022-05-04 15:14] cthomasONRR commented on #1898
@bbell0229

The word document has 2 accessibility warnings for reading order. Could you please fix those?

Also, could you let me know what contacts changed? If you could let me know which "alphabetic groupings/company name" categories (column 1) have updates, it will really help us update the new CMS. Thanks!

[2022-05-04 15:14] bbell0229 commented on #1898
Hello, attached is the change document.

Brittney A. Bell
Staff Accountant, Financial Services
Revenue, Reporting, & Compliance Management
Office of Natural Resources Revenue
Bldg 85, Denver Federal Center
Denver, CO 80225
1-800-433-9801 x 3381
303.231.3381
***@***.******@***.***>

From: mcharg ***@***.***>
Sent: Wednesday, May 4, 2022 9:11 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Bell, Brittney

[2022-05-04 15:49] cthomasONRR commented on #1898
@bbell0229 Thanks for your patience!

These changes are now on the dev site: http://2017onrr/reportpay/payments.htm. Please review and give us your approval to go live.

[2022-05-04 15:51] Maroyafaied commented on #1844
I sent the fedwire doc to be corrected by the document owners.

[2022-05-04 15:53] lpgoldstein commented on #1901
@HammenONRR This is ready for your review: http://2017onrr/reportpay/CrossRef.htm

[2022-05-04 15:55] Toddsand21 opened #1904 "CONCHO AREA MEETING (To be added to Event Calendar on Allottee Asst. page)"
CONCHO AREA MEETING
MAY 19, 2022
1:00 pm to 2:00 pm CST
Location:  By Telephone

Description:  Meeting will be a Call-in Meeting to hear brief updates from ONRR Outreach Office.  Representatives from BLM, BTFA, and BIA. will also be present to give brief announcements and updates for their agencies.  Owners will be able to ask questions during the Q&A session regarding Indian Oil & Gas leases, IIM

[2022-05-04 15:59] cthomasONRR commented on #1844
I have the following document updated in the Y, Z, and CMS locations.

 https://www.onrr.gov/reportpay/PDFDocs/4110.pdf (owner: James Smith)

[2022-05-04 16:04] Isabelh99 commented on #1108
For getting working access to Axure is there a way to get in w/out buying license? Also, its there like a NRRD domain in Axure that I should consider?
I have this link:
https://qmcq5k.axshare.com/#id=ucmj7g&p=minerals_production_reporter_handbook&g=1
that maybe get me access to it but I'm not to sure...

[2022-05-04 16:14] Isabelh99 commented on #1108
For the widgets library, what should it cover? Should I create something similar to like this:
![image.png](https://images.zenhubusercontent.com/618982f60788a50b9734edf8/e94484e1-8603-40f1-b922-6ed586ed3835)

[2022-05-04 16:22] bbell0229 commented on #1898
Looks perfect as always! So ready for the new site to be up and running to make this easier on all of us.

Brittney A. Bell
Staff Accountant, Financial Services
Revenue, Reporting, & Compliance Management
Office of Natural Resources Revenue
Bldg 85, Denver Federal Center
Denver, CO 80225
1-800-433-9801 x 3381
303.231.3381
***@***.******@***.***>

From: Christine Thomas ***@***.***>
Sent: Wednesday

[2022-05-04 16:32] cthomasONRR commented on #1898
@bbell0229 Great! These changes are now live: https://www.onrr.gov/reportpay/payments.htm.

@Maroyafaied The CMS is also updated.

Closing this issue now. Thanks!

[2022-05-04 16:32] #1898 closed

[2022-05-04 16:34] mcharg commented on #1108
Here's the one we have for NRRD. We need to create something similar that has the widgets and styles we have on the new onrr.gov dev site.
[NRRD-library.zip](https://github.com/ONRR/onrr.gov-site/files/8622296/NRRD-library.zip)

[2022-05-04 17:49] Isabelh99 commented on #1856
I have a question on the CMS:
So far I've added the content blocks (location: https://dev-onrr-frontend.app.cloud.gov/references/valuation/processed-gas-example?tabs=detailed-example,pc-1) to all the examples remaining and published them. But they're not popping up on the dev onrr location I've assigned them to... I think I'm missing a step on CMS by switching placement of the navigation links..

[2022-05-04 17:51] Isabelh99 commented on #1856
Also, can I add links to this one as well?
![image](https://user-images.githubusercontent.com/93946660/166748916-c6713d13-b0fb-421d-83b4-946addf6c0c9.png)
bottom tabs' location: https://dev-onrr-frontend.app.cloud.gov/references/valuation/pop-example

[2022-05-04 17:58] mcharg commented on #1856
@Isabelh99 There's a bug in the CMS at the moment where new content blocks can't be reordered on pages with long lists of subtabs. I can explain in our check-in.

Yes, you can add the links to the second example.

[2022-05-04 18:13] Isabelh99 commented on #1856
Noted! And completed the other example.

[2022-05-04 18:38] mcharg commented on #1856
Yep, they're all at the end of the last tab. After the reordering bug gets fixed, we can put them in the correct spots.
![image](https://user-images.githubusercontent.com/38465926/166803259-489b43a3-7892-4ee4-8fda-429dca6fa6b0.png)

[2022-05-04 18:46] boices opened #1905 "Update April NYMEX on onrr.gov"
Good afternoon,

Please update the NYMEX values for April according to the attached spreadsheet.

Thanks!
@sudarr
[NYMEX042022.xlsx](https://github.com/ONRR/onrr.gov-site/files/8626237/NYMEX042022.xlsx)

[2022-05-04 18:49] Maroyafaied opened #1906 "Reduce reading grade level for Indian pages"
Heidi suggested content updates for [Tribal Resource Home](https://dev-onrr-frontend.app.cloud.gov/indian), [Tribal Assistance](https://dev-onrr-frontend.app.cloud.gov/indian/assistance), and [Tribal Consultation](https://dev-onrr-frontend.app.cloud.gov/indian/tribal-consultation) .

We will recommend changes to reduce reading level if possible and get her approval.

[2022-05-04 18:50] Maroyafaied commented on #1906
https://doimspp.sharepoint.com/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Indian/ITOC_ReadingLevel.docx?web=1

[2022-05-04 18:57] Maroyafaied commented on #1905
@lpgoldstein please add this file to the CMS NYMEX collection as well. Thanks

[2022-05-04 19:04] Maroyafaied commented on #1860
We met with Heidi and her team today, we made some changes as we're talking.  The only change we haven't done yet is moving the Tribal Assistance tab after Choosing Assistance and adding Marvin as a contact (request send by email after the meeting).

 I created issue #1906 to work on reducing the grade level for the content changes, and will send our recommendations to Heidi for her approval.

[2022-05-04 19:11] lpgoldstein commented on #1905
@boices Ready for your review: http://2017onrr/valuation/NYMEX.htm

[2022-05-04 19:45] boices commented on #1905
That's perfect. Thanks again!

[2022-05-04 19:50] cthomasONRR commented on #1892
OK finished reviewing, @mcharg and @lpgoldstein are thorough, didn't find any issues!

[2022-05-04 19:57] HammenONRR commented on #1901
Review has been completed and we are good to go!

[2022-05-04 20:21] lpgoldstein commented on #1905
It's live so I'm closing out the issue @boices

[2022-05-04 20:25] #1905 closed

[2022-05-04 20:27] mcharg commented on #1892
Yay!

[2022-05-04 20:27] #1892 closed

[2022-05-04 20:40] Toddsand21 commented on #1904
in the first sentence after Description could you change it to read....will be a Call-In Meeting and will begin with updates from the ONRR Outreach Office.  Followed by representatives from BLM, BTFA and the BIA will also....
Everything else looks fine and ready to go.

[2022-05-04 20:49] lpgoldstein commented on #1904
@Toddsand21 how about this? http://2017onrr/events.htm

[2022-05-04 20:58] forgravec opened #1907 "Indian Index Zone Prices ready for upload"
The May 2022 Indian Index Zone prices are ready to be added to the ONRR.gov valuation page. The prices have been inputted into the Data for ONRR spreadsheet in the OneDrive.

Thanks,
Cory Forgrave
@sudarr

[2022-05-04 21:06] Maroyafaied commented on #1907
@lpgoldstein please also update the prices in the CMS. Thanks

[2022-05-04 21:07] lpgoldstein commented on #1901
@HammenONRR live so closing out the issue.

[2022-05-04 21:07] #1901 closed

[2022-05-04 21:09] Toddsand21 commented on #1904
Yes it looks fine with the updates and ready to post. Thanks!

[2022-05-04 21:12] lpgoldstein commented on #1907
@forgravec Ready for review: http://2017onrr/valuation/allzones.htm

[2022-05-04 21:14] forgravec commented on #1907
Prices look good...thanks.

Cory Forgrave
Economist
Office of Natural Resources Revenue
303-231-3589
***@***.***
________________________________
From: lpgoldstein ***@***.***>
Sent: Wednesday, May 4, 2022 3:12 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Forgrave, Cory J ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] Indian Index Zone Prices ready for upload (Issue

[2022-05-04 21:37] lpgoldstein commented on #1904
@Toddsand21 It's live so I'm closing the issue.

[2022-05-04 21:37] #1904 closed

[2022-05-04 22:02] lpgoldstein commented on #1907
@forgravec It's live so I'm closing issue.

[2022-05-04 22:02] #1907 closed

[2022-05-05 14:51] Maroyafaied commented on #1806
@mcharg can you please review, I updated the docs in dev current site and in the CMS. I also updated the link for DCP UCA in the collection spreadsheet. Thanks

http://2017onrr/unbundling/index.htm
http://2017onrr/unbundling/methodology.htm
https://dev-onrr-frontend.app.cloud.gov/references/valuation?tabs=unbundling,unbundling-methods
https://doimspp.sharepoint.com/:x:/r/sites/NRRD/_layouts/15/Doc

[2022-05-05 15:13] Maroyafaied opened #1908 "Review 508 onresource page & get approval"
https://onrresourcestage/508-Compliance/

[2022-05-05 15:20] Maroyafaied opened #1909 "Review Handbook Collections"

[2022-05-05 15:27] mcharg commented on #1906
@cthomasONRR I did my best. I put SMM before my rewrites and put them under yours. I'm not good at determining whether Tribe/Tribal is a proper noun. Can you take a pass through and fix capitalization?

[2022-05-05 15:38] cthomasONRR commented on #1906
@mcharg Great! I accepted your changes and made sure "tribal" and "tribe(s)" are lower-case.

Should I remove the red text completely to make the doc easier to read, then we can send to Heidi for approval? Or I can try to highlight what sections changed in our lower reading level edits.

[2022-05-05 15:38] mcharg commented on #1906
I think removing all the red text works.

[2022-05-05 15:54] mcharg commented on #1908
I sent the following feedback to Justin:

- There's a missing link for digital signatures. I sent him the correct link.
- Copy about which PPT template to use was missing.
- He's going to make all external links open in a new tab. They're currently a mix of new tab vs. not.

Everything else looks good.

[2022-05-05 16:06] #1649 closed

[2022-05-05 16:06] #1648 closed

[2022-05-05 16:06] #1651 closed

[2022-05-05 16:06] #1647 closed

[2022-05-05 16:06] #1650 closed

[2022-05-05 16:08] #1797 closed

[2022-05-05 16:11] #1770 closed

[2022-05-05 16:13] Maroyafaied commented on #1844
will create a new issue for the 2 docs left.

[2022-05-05 16:13] #1844 closed

[2022-05-05 16:18] #1768 closed

[2022-05-05 16:32] mcharg opened #1910 "Review Solids troubleshooting with SMEs"

[2022-05-05 20:18] #1806 closed

[2022-05-06 01:00] Maroyafaied commented on #1906
Sent email to Heidi.

[2022-05-06 13:11] cthomasONRR commented on #1884
@mcharg

Things I'm fixing:

- I'm going through all columns and making sure info is properly capitalized.
- I'm also correcting some weird spacing within a few company names.
- Corrected Ray O'Sullivan's name (showing weird characters in the csv file"
- I'm highlighting the cell is yellow if it's been modified.
- I'll see how much I change before deciding it I should re-upload the spreadsheet or

[2022-05-06 13:24] mcharg commented on #1884
@cthomasONRR

* I'm going to look up what phone number format is best for screen readers.
* Let's keep all caps for company names, so we don't have to reformat every time there's an update.
* I think we should match the address book.

[2022-05-06 13:28] mcharg commented on #1884
Let's go with xxx-xxx-xxxx for the phone numbers. That's what we used in the org chart and Sid was good with that.

[2022-05-06 13:30] mcharg commented on #1854
Also make sure phone numbers are in xxx-xxx-xxxx format.

[2022-05-06 13:35] mcharg commented on #1899
Looks good.

[2022-05-06 13:35] #1899 closed

[2022-05-06 13:38] mcharg commented on #1619
Looks good!

[2022-05-06 13:38] #1619 closed

[2022-05-06 13:41] mcharg commented on #1412
@cthomasONRR This page is ready for ODDD approval.

[2022-05-06 13:42] mcharg commented on #1419
@cthomasONRR This page is ready for ODDD approval.

[2022-05-06 13:54] cthomasONRR commented on #1419
This link does not work:
![image](https://user-images.githubusercontent.com/72526208/167146969-67f82a3d-de96-4654-a945-060cb8919785.png)

[2022-05-06 13:59] cthomasONRR commented on #1412
@mcharg Approved

[2022-05-06 14:04] cthomasONRR commented on #1405
@mcharg Just a thought - when we can move cards again, it might be nice to move the reporting code diagram card last so it can be the width of the page. Then Reference Lists, Instructions, and Reporter Letters cards could all be in-line with each other.

![image](https://user-images.githubusercontent.com/72526208/167148694-38f8b059-4b57-4c2f-976c-a8c7ba9c94cc.png)

[2022-05-06 14:07] cthomasONRR commented on #1405
@mcharg Approved

[2022-05-06 14:09] mcharg commented on #1419
@cthomasONRR Fixed

[2022-05-06 14:11] #1412 closed

[2022-05-06 14:11] #1405 closed

[2022-05-06 14:11] cthomasONRR commented on #1419
@mcharg Thanks! Approved.

[2022-05-06 14:12] #1419 closed

[2022-05-06 14:59] mcharg opened #1911 "Newly uploaded reporter letters aren't going into Reporter Letters folder"
Ones uploaded in the File field are going into the Press Releases folder. Ones uploaded to the Accessible File field are going into the File Library folder.

[2022-05-06 15:00] mcharg opened #1912 "Unable to delete reporter letter"
I made a test reporter letter to test out where the uploaded files were saving and it won't let me delete it.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/179ad106-48a5-4d73-9599-381467906305)

[2022-05-06 16:31] cthomasONRR commented on #1906
Heidi sent back minor edits. Doc located [here](https://teams.microsoft.com/l/file/62D22316-C1C1-49C9-B183-8BD95074CD12?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FDesign%2FIndian%2FONRR.gov_ITOC_ReadingLevel_Heidi%20Review.docx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsi

[2022-05-06 16:50] cthomasONRR commented on #1906
@mcharg The following webpages are ready for your review:

- [ ] https://dev-onrr-frontend.app.cloud.gov/indian
- [ ] https://dev-onrr-frontend.app.cloud.gov/indian/assistance?tabs=tribal-assistance
- [ ] https://dev-onrr-frontend.app.cloud.gov/indian/tribal-consultation

[2022-05-06 18:03] mcharg commented on #1893
Done

[2022-05-06 18:07] mcharg commented on #1884
@cthomasONRR Looks good.

[2022-05-06 18:14] mcharg opened #1913 "Links to specific tabs on a page aren't working"
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/2533fb51-1c37-4d87-9e65-a23ab07997fc)

[2022-05-06 18:15] mcharg commented on #1913
Just realized the link had "tab=" instead of "tabs="

[2022-05-06 18:15] #1913 closed

[2022-05-06 18:17] mcharg commented on #1906
@cthomasONRR Looks good.

[2022-05-06 19:07] cthomasONRR opened #1914 "Update fedwire doc"
Doc is updated on the Y and Z drives, and the CMS

[2022-05-06 19:08] cthomasONRR commented on #1914
[fedwire.pdf](https://github.com/ONRR/onrr.gov-site/files/8643124/fedwire.pdf)

[2022-05-06 19:09] #1914 closed

[2022-05-06 19:12] cthomasONRR commented on #1884
@mcharg Great! Now how do I get this updated excel back into the CMS?

[2022-05-06 19:12] cthomasONRR commented on #1906
@mcharg Are you ok with me emailing Heidi to say that the text is all in (just waiting on tabs reorg).

[2022-05-06 19:16] mcharg commented on #1906
@cthomasONRR Yes

[2022-05-06 19:16] mcharg commented on #1884
@cthomasONRR That's a question for @jlouis-onrr

[2022-05-06 19:18] cthomasONRR commented on #1906
Email sent!

[2022-05-06 19:19] cthomasONRR commented on #1884
OK I put this back to "in progress" until we can figure out how to re-upload

[2022-05-09 12:28] #1906 closed

[2022-05-09 12:29] cthomasONRR opened #1915 "Update Indian Resources Contact Info"

[2022-05-09 12:30] cthomasONRR commented on #1915
[2022 FIMO Staff Web Update.docx](https://github.com/ONRR/onrr.gov-site/files/8651618/2022.FIMO.Staff.Web.Update.docx)
[2022 FIMO BIA Other Contacts.docx](https://github.com/ONRR/onrr.gov-site/files/8651619/2022.FIMO.BIA.Other.Contacts.docx)

[2022-05-09 13:12] cthomasONRR commented on #1915
@Maroyafaied @mcharg I made these updates on the dev site. Shannon could you review before I go live? http://2017onrr/IndianServices/fimostaff.htm

I need @jlouis-onrr 's input for the CMS. I have an updated contacts excel sheet in issue #1884. Should I make these changes to that spreadsheet then upload the spreadsheet back into the CMS? Jerome will have to teach us how to do this.

[2022-05-09 15:24] mcharg opened #1916 "Wait for Directus to fix nested tabs bug"

[2022-05-09 15:28] cthomasONRR commented on #1035
Did a quick inventory, 1,129 internal onrr.gov links need appropriate 301 redirects. Not sure how long this will take me.
I also need to create a new column for external redirects (this will just be copy+pasting to a new column).

[2022-05-09 15:32] mcharg opened #1917 "Consolidate user tasks from previous studies"

[2022-05-09 15:58] Toddsand21 opened #1918 "North Dakota, South Dakota, Washington, Oregon Virtual Outreach (add to Events Calendar for May)"
North Dakota, South Dakota, Washington, Oregon Virtual Outreach
Thursday, May 26, 2022
10:00 am-10:30 am MST

Location:  Telephone

Description: Representatives from the Office of Natural Resources Revenue will host a Question and Answer session by phone for Indian Mineral Owners and Trust Property Owners regarding their Indian Oil & Gas leases, IIM Accounts, and Indian Trust Properties. Represent

[2022-05-09 16:29] mcharg commented on #1908
@Maroyafaied Justin put in all the changes. Do you have any additional feedback?
https://onrresourcestage/508-Compliance/

[2022-05-09 16:35] mcharg commented on #1903
@Maroyafaied Jen Dougherty is the one to schedule a meeting with for this.

[2022-05-09 16:35] mcharg commented on #1910
We have a meeting for this on Wednesday.

[2022-05-09 16:39] Maroyafaied commented on #1908
@mcharg Would it be possible for Justin to add the page on the main menu navigation before I send it for review?

[2022-05-09 16:39] lpgoldstein commented on #1918
@Toddsand21 This is ready for your review: http://2017onrr/events.htm

[2022-05-09 16:40] mcharg commented on #1908
@Maroyafaied I think he said it would end up on the live site if he did that, so he was going to wait until it's approved.

[2022-05-09 16:58] cthomasONRR commented on #1035
@mcharg I completed all the 301 internal redirects (breadcrumbs) in Column C, Marked those as complete in Column D, and created a new "External Redirect" Column F for all external links.

I found several instances where links were to incorrect docs, and fixed those.

Ready for your review.

[2022-05-09 17:09] Maroyafaied commented on #1754
Will close and test this in staging site once developed.

[2022-05-09 17:36] mcharg commented on #1916
https://github.com/directus/directus/issues/11430

[2022-05-09 17:59] mcharg commented on #1915
@cthomasONRR I would put "CLOSED for lunch from 12:00pm - 1:00pm" as a bullet under each heading, so it doesn't look like it only applies to FIMO.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/b0bc78a2-5819-40f3-b1f9-64c888138339)

[2022-05-09 18:05] mcharg commented on #1915
@cthomasONRR Do you know what they wanted with the BTFA asterisk?
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/8f71e7e5-cb7d-4694-ada0-94c3d3cda731)

[2022-05-09 18:07] mcharg commented on #1915
The Visiting the FIMO contact card looks good on the CMS dev site.

[2022-05-09 18:11] cthomasONRR commented on #1915
@mcharg Updated the dev site with closure info: http://2017onrr/IndianServices/fimostaff.htm

For that asterisk, I'm assuming that is for the acting director to officially be director, but I do not think that info is needed online, especially not in the CMS contact card.

[2022-05-09 18:19] cthomasONRR commented on #1884
@jlouis-onrr This spreadsheet is ready to be re-uploaded to the CMS. Spreadsheet located [here](https://teams.microsoft.com/l/file/B38B6B3C-180E-4E2F-A07C-76B6271AF38A?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FDesign%2FContacts%2Fcontacts_caps_consistency.xlsx&baseUrl=https%3

[2022-05-09 18:19] cthomasONRR commented on #1915
@mcharg Great! I tagged Jerome in #1884 so that he can re-upload the spreadsheet.

[2022-05-09 18:23] mcharg commented on #1035
@cthomasONRR There's a bunch marked as external in column D, but don't have anything in column F. Do we just need to copy column B to column F? ![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/777bc81c-3b1c-4058-b433-2d78d6fdd5f3)

[2022-05-09 18:26] mcharg commented on #1035
@cthomasONRR It let me do it.

[2022-05-09 18:30] mcharg commented on #1035
@cthomasONRR Looks good.

[2022-05-09 18:33] mcharg commented on #852
Table Type 1: Standard table
Example: https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/compliance?tabs=compliance-authorities
![image](https://user-images.githubusercontent.com/38465926/167474595-ace39785-bfa4-43c7-a48f-1c37e70e8a57.png)
Styling:
![image](https://user-images.githubusercontent.com/38465926/167474689-f7e73dad-bdcf-443d-870c-1d5dd3907234.png)

[2022-05-09 18:39] mcharg commented on #852
Table Type 2: Searchable Collection Table
Example: https://dev-onrr-frontend.app.cloud.gov/references/rulemakings
![image](https://user-images.githubusercontent.com/38465926/167475087-41d919d6-47a1-474d-a192-20c504aebc77.png)

Styling:
![image](https://user-images.githubusercontent.com/38465926/167475698-58bd34fe-f147-4a3a-93c0-53d5ce9b9b31.png)

[2022-05-09 18:41] mcharg commented on #852
Table Type 3: Handbook TOC
Example: https://dev-onrr-frontend.app.cloud.gov/references/handbooks/minerals-revenue-reporter-handbook
![image](https://user-images.githubusercontent.com/38465926/167475901-9ef37083-b326-4402-b2ef-10b065cb979c.png)

Styling:
![image](https://user-images.githubusercontent.com/38465926/167475984-159cae71-1551-440a-bb86-c86f4138ec22.png)

[2022-05-09 18:45] mcharg commented on #852
Table Type 4: Inline Pricing Table
Example: https://dev-onrr-frontend.app.cloud.gov/references/handbooks/indian-payor-handbook?tabs=chapter-3-indian-oil-valuation,31&panel=311-comparing-gross-proceeds-ibmp-prices
![image](https://user-images.githubusercontent.com/38465926/167476508-251269c7-cc4a-4daf-b266-4ec4c24edfa4.png)

Styling: Like standard table, but allows right aligning select columns.

[2022-05-09 18:47] mcharg commented on #852
Table Type 5: Pricing Collection Table
Example: https://dev-onrr-frontend.app.cloud.gov/references/valuation?tabs=pricing,indian-gas-index-zone
![image](https://user-images.githubusercontent.com/38465926/167476814-b77789a2-9774-4090-81b3-f79bc65c7511.png)

Styling: Like Searchable Collection Table, but allows right aligning select columns.

[2022-05-09 18:54] mcharg commented on #852
@jlouis-onrr I think we have 5 types of tables. See above for the types.

[2022-05-09 18:58] mcharg commented on #1460
@Maroyafaied @mojobnichols One thing I forgot we wanted to do with this collection is to split it into two tabs. One for oil & gas and one for solids & geothermal. I worked with the SME on this to get rid of the merged cells, which are not accessible.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/acc9d464-d6d8-4f4e-904e-35c8f1128f76)

[2022-05-09 18:59] mcharg commented on #1460
Prototype: https://qmcq5k.axshare.com/#id=qw8sdk&p=late_payment_interest

[2022-05-09 19:00] cthomasONRR commented on #1035
Great! Jerome, the 301 redirects spreadsheet is ready for you. Spreadsheet located [here](https://teams.microsoft.com/l/file/8F317B52-F37E-47BB-8D41-DC17EA254E0C?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FContent%2FContent%20Audit%2FRedirects.xlsx&baseUrl=https%3A%2F%2Fdoimspp

[2022-05-09 19:32] Maroyafaied commented on #1908
Sent email to Howard

[2022-05-09 19:41] Maroyafaied commented on #1765
I sent a follow up email.

[2022-05-09 19:43] lpgoldstein commented on #1909
- [ ] Minerals Revenue Reporter Handbook

- [ ] Minerals Production Reporter Handbook

- [ ] Solid Minerals Reporter Handbook

- [ ] Geothermal Payor Handbook - Class 1 Leases

- [ ] Geothermal Payor Handbook - Class 2 & 3 Leases

- [ ] Indian Payor Handbook

[2022-05-09 19:48] mcharg commented on #1910
Pre-meeting feedback from the Solids team. https://doimspp.sharepoint.com/:w:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Design%20Reviews%20-%20ONRR%20teams/Solids%20web%20page%20updates%20screen%20shots%20_%20as%20of%205-4-2022.docx?d=w7ff3db25e3f342e7b05c4a8d992450c0&csf=1&web=1&e=OaT47U

[2022-05-09 19:51] Maroyafaied commented on #1903
Sent invite for 5/12 at 9:30am MT

[2022-05-09 19:52] Toddsand21 commented on #1918
It looks fine with me and ready to post.

[2022-05-09 20:08] mcharg commented on #1910
Changes made.

[2022-05-09 22:51] lpgoldstein commented on #1918
@Toddsand21 This is live! https://onrr.gov/events.htm

[2022-05-09 22:51] #1918 closed

[2022-05-10 14:14] mcharg commented on #1880
Done
https://github.com/ONRR/onrr.gov-site/wiki/Analytics

[2022-05-10 14:28] #1880 closed

[2022-05-10 15:36] damionschulte opened #1919 "April 2022 IBMP Prices"
All, I have updated the data for ONRR sheet in the OneDrive. Can you please have the prices readied to publish to the website?  Thank you

Also I have attached the IBMP spreadsheet as requested.  Please let me know if you need anything else.
[IBMP_APRIL22.xlsx](https://github.com/ONRR/onrr.gov-site/files/8662968/IBMP_APRIL22.xlsx)

@sudarr

[2022-05-10 15:49] cthomasONRR commented on #1919
@damionschulte Great!

Here are the changes on the dev site: http://2017onrr/valuation/IndianOilIBMP.htm. Please review and give us your approval to go live.

These changes are also on the new site: https://dev-onrr-frontend.app.cloud.gov/references/valuation?tabs=pricing,indian-oil-major-portion. For the spreadsheet, we just need it formatted exactly the same way as the existing spreadsheets. Her

[2022-05-10 16:04] damionschulte commented on #1919
Does this format work better for the spreadsheet?

From: Christine Thomas ***@***.***>
Sent: Tuesday, May 10, 2022 9:50 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Schulte, Damion C ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] April 2022 IBMP Prices (Issue #1919)

 This email has been received from outside of DOI - Use caution before clicking on links, opening att

[2022-05-10 16:11] lpgoldstein commented on #1909
Do people know there is an error in the production handbook? This is wrong in the actual handbook - it should be B.2.2.
![image](https://user-images.githubusercontent.com/39419003/167674209-801573d2-65d7-4eef-ae5a-a4f1fca56a76.png)

[2022-05-10 16:36] damionschulte commented on #1919
Just wanted to make sure this email came through. The prices look great! Thank you all

From: Schulte, Damion C
Sent: Tuesday, May 10, 2022 10:04 AM
To: ONRR/onrr.gov-site ***@***.***>; ONRR/onrr.gov-site ***@***.***>
Cc: Mention ***@***.***>
Subject: RE: [EXTERNAL] Re: [ONRR/onrr.gov-site] April 2022 IBMP Prices (Issue #1919)

The prices all look great. Thank you all.

From: Christine Thomas ***@

[2022-05-10 17:00] cthomasONRR commented on #1919
@damionschulte Great! The changes are now live: https://www.onrr.gov/valuation/IndianOilIBMP.htm.

Closing this issue now.

[2022-05-10 17:00] #1919 closed

[2022-05-10 17:47] mcharg opened #1920 "Delete images and files with delete tag"
It won't let me delete them.

[2022-05-10 20:48] mcharg opened #1921 "Fix double pdf icons when link list is fixed"
https://dev-onrr-frontend.app.cloud.gov/reporting/production?tabs=troubleshooting
https://dev-onrr-frontend.app.cloud.gov/reporting/production?tabs=references

[2022-05-10 20:54] mcharg commented on #1398
Reporter letter links added. Waiting on link list fix to fix double pdf icons.

[2022-05-10 20:54] mcharg commented on #1400
Reporter letter links added. Waiting on link list fix to fix double pdfs icons.

[2022-05-10 20:55] mcharg opened #1922 "Add link dialog to Announcements collection editor"
We need this to link the reporter letter on the home page announcement.

[2022-05-10 21:31] jlouis-onrr commented on #1339
@mcharg, plant-specific ucas are in dev: https://dev-onrr-frontend.app.cloud.gov/references/valuation?tabs=unbundling,plant-specific-ucas

[2022-05-10 21:34] jlouis-onrr commented on #1035
thanks @cthomasONRR, I'll check it out.

[2022-05-11 13:00] mcharg commented on #1339
@jlouis-onrr This looks great. We'll review the links and content in the issue for adding content to the page.

[2022-05-11 13:00] #1339 closed

[2022-05-11 13:06] mcharg commented on #1922
I was able to just get the pretty url and use the other link tool.

[2022-05-11 13:09] mcharg opened #1923 "Add ability to have a header on a homepage sidebar block"
Just noticed the Announcements header is missing.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/5bdf2587-0abe-498a-bff0-9bf09aedeb27)

[2022-05-11 13:17] mcharg commented on #1888
@Maroyafaied Link is added.

[2022-05-11 13:19] #1882 closed

[2022-05-11 13:19] mcharg commented on #1882
This is fixed.

[2022-05-11 13:22] mcharg commented on #1400
@cthomasONRR This is ready for full ODDD approval.

[2022-05-11 13:27] cthomasONRR commented on #1597
@mcharg I linked to Dear Reporter Letters on sections:

- [ ]  2.4.5 (1 letter)
- [ ]  2.5.6 (2 letters)

I'm noticing that when you do the inline search for these docs, they are appearing as both /document/filename.pdf and /reporter-letters/filename.pdf ... I made sure I was selecting the "/reporter-letters/filename.pdf" version, but we might want to get rid of the /document/ version to prevent c

[2022-05-11 13:29] mcharg commented on #1867
Fixed

[2022-05-11 13:31] mcharg commented on #1921
Fixed

[2022-05-11 13:31] #1921 closed

[2022-05-11 13:31] mcharg commented on #1398
@cthomasONRR This is ready for full ODDD approva.

[2022-05-11 13:35] cthomasONRR commented on #1400
@mcharg

I think this DRL should be pointing to /reporter-letters/ not /document/
![image](https://user-images.githubusercontent.com/72526208/167862588-3f6e0d70-6be2-4716-b073-1ab3c10497e7.png)
![image](https://user-images.githubusercontent.com/72526208/167862709-c3ecce43-1996-434c-b22f-1ec2e4606930.png)

[2022-05-11 13:35] mcharg commented on #1497
SME said to remove until we have consultations.

[2022-05-11 13:37] cthomasONRR commented on #1400
@mcharg Same with the buy-back volumes DRL:
![image](https://user-images.githubusercontent.com/72526208/167862959-211cdd83-03f5-4240-835f-0ef6dd1ac962.png)
![image](https://user-images.githubusercontent.com/72526208/167863017-f2c35e70-ee03-46e8-8f1b-8766c5f6c9fa.png)

[2022-05-11 13:39] cthomasONRR commented on #1251
@mcharg Shouldn't the DRL pdf be pointing to /reporter-letters/filename.pdf and not /document/filename.pdf?
![image](https://user-images.githubusercontent.com/72526208/167863423-158550c2-17a8-4881-b44f-40b463c4778d.png)

![image](https://user-images.githubusercontent.com/72526208/167863318-7c98abba-5fcc-45a0-870a-0a4500356235.png)

[2022-05-11 13:40] mcharg commented on #1334
@cthomasONRR Reporter letter link added. This is ready for full ODDD approval. (Note: It's marked as Approved by SME in spreadsheet.)

[2022-05-11 13:40] mcharg commented on #1643
This is fixed.

[2022-05-11 13:43] cthomasONRR commented on #1398
@mcharg These are good- all DRL are pointing to /reporter-letters/ . Approved :)

![image](https://user-images.githubusercontent.com/72526208/167864044-14acb302-5829-4a36-b825-56d26629e11a.png)
example:
![image](https://user-images.githubusercontent.com/72526208/167864121-46bfc790-82d5-4d8e-aa69-5e61f85e2d5c.png)

[2022-05-11 13:46] mcharg commented on #1860
@Maroyafaied Can we mark the Indian pages as approved by SME?

[2022-05-11 13:50] mcharg commented on #1643
Reporter letters are showing up in both the Reporter Letters and Documents folders and not using the correct endpoint in the url.

[2022-05-11 13:50] cthomasONRR commented on #1548
@mcharg This DRL is pointing to /documents/ and not /reporter-letters/

![image](https://user-images.githubusercontent.com/72526208/167865791-266e52fb-fc0d-4656-a292-49239f0de7c7.png)
![image](https://user-images.githubusercontent.com/72526208/167865861-2ec53d89-f20a-4f4c-aeca-a03fca387786.png)

Need to pick the doc that's in the /reporter-letters/ folder

[2022-05-11 13:52] mcharg commented on #1400
@cthomasONRR Fixed the urls.

[2022-05-11 13:54] mcharg commented on #1334
@cthomasONRR Fixed the url.

[2022-05-11 14:03] mcharg commented on #1548
@cthomasONRR url fixed.

[2022-05-11 14:04] cthomasONRR commented on #1334
@mcharg Approved :)

[2022-05-11 14:05] mcharg commented on #1251
@cthomasONRR Fixed url

[2022-05-11 14:05] cthomasONRR commented on #1548
@mcharg Approved :)

[2022-05-11 14:05] #1334 closed

[2022-05-11 14:06] cthomasONRR commented on #1251
@mcharg Approved :)

[2022-05-11 14:07] #1398 closed

[2022-05-11 14:08] #1443 closed

[2022-05-11 14:08] #1251 closed

[2022-05-11 14:12] mcharg commented on #1597
@cthomasONRR The reporter letters look good. I think we're just waiting on the alert card styles.

[2022-05-11 14:15] cthomasONRR commented on #1597
@mcharg OK moving to Product Backlog

[2022-05-11 14:33] mcharg commented on #1922
Reopening issue to add functionality later.

[2022-05-11 14:34] mcharg commented on #1299
Opened #1922 to add inline link tool.

[2022-05-11 14:37] Maroyafaied commented on #1860
@mcharg I sent an email asking Heidi if we have her final approval or if she wants to wait until the tribal assistance tab is moved and for the FIMO contacts updates.

[2022-05-11 14:44] mcharg commented on #1469
This is approved by ODDD.

[2022-05-11 14:44] #1469 closed

[2022-05-11 14:45] cthomasONRR opened #1924 "Remove info in Office Locations"
Remove "To request entry, call Janet Giron at (303) 231-3088." at
https://dev-onrr-frontend.app.cloud.gov/about/office-locations
https://www.onrr.gov/about/office-locations.htm

[2022-05-11 14:58] mcharg commented on #1903
@Maroyafaied Jen Dougherty wasn't in that meeting, so it'll be good to review with her, as well.

[2022-05-11 15:18] jlouis-onrr commented on #1923
@mcharg, this feature is already available via the home page -> sidebar blocks

[2022-05-11 15:43] mcharg commented on #1923
@jlouis-onrr It might be a permission issue.

I can view or remove the block that's there, but not add a new block.
![image](https://user-images.githubusercontent.com/38465926/167891497-38ba9052-1f55-4702-920a-2428b6539816.png)

[2022-05-11 15:48] Maroyafaied commented on #1860
@mcharg Heidi gave her final approval. Please update the spreadsheet and close this issue. Thanks

[2022-05-11 15:54] mcharg commented on #1860
Marked as approved in the spreadsheet.

[2022-05-11 15:54] #1860 closed

[2022-05-11 15:59] jlouis-onrr commented on #1923
ok, looking into why its not editable

[2022-05-11 16:07] lpgoldstein opened #1925 "Increase query limit for handbook collections"
All handbook interactive TOCs stop at 100 even though the handbook collections contain more than that. Here's an example from the revenue handbook. There are over 9 chapters before the appendices.
![image](https://user-images.githubusercontent.com/39419003/167896167-fc5f1df8-4472-42b7-acd4-e36fdfc0d092.png)

[2022-05-11 16:09] cthomasONRR opened #1926 "Standardize phone/fax number formats"
In the new CMS, all phone numbers should be in ###-###-#### format and NOT (###) ###-####. Sid says the ###-###-#### format is easier for screen readers.

[2022-05-11 16:09] cthomasONRR commented on #1924
Complete.

[2022-05-11 16:14] cthomasONRR opened #1927 "Move tribal assistance tab"
Heidi wants the Tribal Assistance tab (located at: https://dev-onrr-frontend.app.cloud.gov/indian/assistance) to be located after the "choosing assistance" tab

![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/f9afdda1-3b98-4b1a-8f3e-88a6730f9a6e)

[2022-05-11 16:22] #1923 closed, assigned to jlouis-onrr

[2022-05-11 16:22] mcharg commented on #1923
@jlouis-onrr Looks good and now I have ability to edit.

[2022-05-11 16:24] mcharg commented on #1542
@Maroyafaied Are you okay with not having a sitemap page and just having the XML sitemap for SEO? I just had it there because we have it on the existing site, but I don't think it's needed for SEO.

[2022-05-11 16:33] cthomasONRR commented on #1926
Webpages to update:

- [ ] https://dev-onrr-frontend.app.cloud.gov/getting-started/new-reporter-checklist?tabs=oil-gas-production
- [ ] https://dev-onrr-frontend.app.cloud.gov/getting-started/new-reporter-checklist?tabs=oil-gas-revenue
- [ ] https://dev-onrr-frontend.app.cloud.gov/getting-started/new-reporter-checklist?tabs=solid-minerals
- [ ] https://dev-onrr-frontend.app.cloud.gov/getting-start

[2022-05-11 16:33] Maroyafaied commented on #1542
@mcharg Do you know if having the sitemap as a page is good practice for accessibility purposes? That the only thing I can think of for have it as a page.

[2022-05-11 16:40] mcharg commented on #1542
We could just reuse the homepage blocks for a quick one.

[2022-05-11 16:45] Maroyafaied commented on #1542
@mcharg Thanks for looking into it, I'm fine with doing a quick one manually.

[2022-05-11 16:47] mcharg opened #1928 "Sitemap page isn't displaying content blocks"
I added a bunch of blocks and they're set to publish, but not displaying.

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/60f48918-6c5b-41c9-8a8d-69b65f649637)

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/62e203b9-3f01-4010-9c94-514c0315c37d)

[2022-05-11 17:21] cthomasONRR commented on #1926
Cross-referencing my list with #1854

[2022-05-11 17:29] mcharg commented on #1542
@lpgoldstein This is ready to review.
https://dev-onrr-frontend.app.cloud.gov/site-map

[2022-05-11 17:30] mcharg opened #1929 "Automate sitemap page"
So we remember to do this when we have more dev capacity.

[2022-05-11 18:08] Maroyafaied commented on #1864
@mcharg @lpgoldstein email sent and cc'd both of you.

[2022-05-11 18:58] mcharg opened #1930 "Submit Government UX Summit topic as a blog post"
https://digital.gov/news/

[2022-05-11 18:59] mcharg opened #1931 "Submit Government UX Summit topic as a webinar"
We are also looking for presenters for future UX CoP webinars. If you are interested in speaking at a future webinar; please contact our UX COP Events Chair.

[2022-05-11 19:19] cthomasONRR commented on #1926
@Baymatt @mcharg This is ready for review. Please review the webpages listed above and make sure all phone/fax numbers are in the ###-###-#### format. This excludes the actual contact card collections, we are waiting for Jerome to upload a spreadsheet of those as the update.

[2022-05-11 20:25] mcharg commented on #1864
About ONRR
- [ ] Can we link to a pdf version of the strategic plan one-pager instead of a PowerPoint?
SM: I explained that PDFs have accessibility issues, so Howard said he's okay with staying in PPT.

- [ ] Under "Our History," "...our offices responsibilities..." should be "our offices' responsibilities..."

Organization and Leadership
- [ ] Please delete the last sentence of Bonnie's bio ("She

[2022-05-11 20:48] mcharg commented on #1884
I made some changes to the solids contacts.

[2022-05-11 20:49] mcharg commented on #1910
I made some changes to the pages. Waiting on them to send me troubleshooting questions to add and for the ordering bug to be fixed.

[2022-05-11 20:50] mcharg opened #1932 "Move How to Use Reporting Systems card on Solids page"
When ordering bug is fixed.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/e032c325-9872-4ef0-8f5b-a0b42413d988)

[2022-05-11 20:50] cthomasONRR commented on #1884
@mcharg In the contacts cards or the spreadsheet?

[2022-05-11 20:54] mcharg commented on #1884
Both

[2022-05-11 20:55] cthomasONRR commented on #1884
@mcharg Thanks! I'm getting concerned about making sure spreadsheet stays relevant.

[2022-05-11 20:59] mcharg commented on #1765
Emailed Mary Deitrick.

[2022-05-11 21:07] #1925 closed

[2022-05-11 21:17] lpgoldstein commented on #1542
Missing "How Leasing Works"
![image](https://user-images.githubusercontent.com/39419003/167949346-7c54002b-f64a-4a6e-8eb6-72bef199fa6a.png)

[2022-05-11 21:18] lpgoldstein commented on #1542
And new reporter training

[2022-05-11 22:06] jlouis-onrr commented on #1798
@mcharg, I wonder if its easier to just create a new card block with the content you want inside that block, then trying to pull the data dynamically and remove the dynamic block from template.

[2022-05-12 10:48] lpgoldstein commented on #1909
@Baymatt This is ready for your review: https://dev-onrr-frontend.app.cloud.gov/references/handbookshttps://doimspp.sharepoint.com/:x:/s/NRRD/ETaIMvlaYqlBtzxDwRDENmcBdm6AJdf7STTTQjOkcczlQg?e=Gt8XvL
I've added columns to the spreadsheet that shows that I've checked everything, what I've checked and noted that I fixed it. Please let me know if you have any questions.

[2022-05-12 13:40] mcharg commented on #1644
@mojobnichols I added the press releases to the new homepage card and it didn't add the pdf icon.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/6a7b1b93-32ff-43f4-b809-e36817035966)

[2022-05-12 13:48] mcharg commented on #1798
@jlouis-onrr Card created. It'll also need the Vuetify icon that you use in the header for the NRRD link.

[2022-05-12 15:14] lpgoldstein commented on #1542
@mcharg Looks good.

[2022-05-12 15:20] #1542 closed

[2022-05-12 15:25] mcharg commented on #1926
Webpages to review:

- [ ] https://dev-onrr-frontend.app.cloud.gov/getting-started/new-reporter-checklist?tabs=oil-gas-production
- [x] https://dev-onrr-frontend.app.cloud.gov/getting-started/new-reporter-checklist?tabs=oil-gas-revenue
- [x] https://dev-onrr-frontend.app.cloud.gov/getting-started/new-reporter-checklist?tabs=solid-minerals
- [x] https://dev-onrr-frontend.app.cloud.gov/getting-start

[2022-05-12 15:28] KristianL3101 opened #1933 "Update to Enforcement and Litigation Support Page"
Please update the right hand side of the Enforcement and Litigation Support page that currently says "Have a Referral for OE?  Here's an optional form for submitting your request."  to:

"Have a Referral for OE?  Please submit directly into OE's database using the following link:"

Also update the Link to read "OE Referrals"  and to the OE Database link below.

[OE Referrals](https://gcc02.safelin

[2022-05-12 15:51] cthomasONRR commented on #1933
@KristianL3101 Hello! I'm having trouble finding this text "Have a Referral for OE? Here's an optional form for submitting your request." on the current onrr.gov or the new site. Could you please point me to the exact webpage/location where you want this change? Thanks!

[2022-05-12 15:54] KristianL3101 commented on #1933
Hello,

it is on the right hand side of Enforcement's onrresource page here:

https://onrresource/Enforcement/

Kristian Lee
Enforcement Specialist
ONRR/OE Litigation Support
Denver Federal Center, Bldg 85/B76
PO Box 25165 MS 64200B
Denver, CO  80225-0165
(303) 231-3101

________________________________
From: Christine Thomas ***@***.***>
Sent: Thursday, May 12, 2022 9:51 AM
To: ONRR/onrr.gov-site

[2022-05-12 15:57] cthomasONRR commented on #1933
@KristianL3101 Ok, sorry for the confusion. We do not own onrrresource, and do not have the capability to change the intranet webpage. (My team - ODDD - is in charge of onrr.gov and revenuedata.doi.gov.) Please contact David Wentzel
 or Lori Yokomizo to make updates on https://onrresource/Enforcement/

[2022-05-12 15:57] mcharg commented on #1884
Made changes to Payments section in the spreadsheet.

[2022-05-12 15:58] KristianL3101 commented on #1933
Ok, Thank you. Sorry for the confusion.

Kristian Lee
Enforcement Specialist
ONRR/OE Litigation Support
Denver Federal Center, Bldg 85/B76
PO Box 25165 MS 64200B
Denver, CO  80225-0165
(303) 231-3101

________________________________
From: Christine Thomas ***@***.***>
Sent: Thursday, May 12, 2022 9:57 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Lee, Kristian H ***@***.***>; Mention ***@***.***>
Su

[2022-05-12 15:59] #1933 closed

[2022-05-12 16:33] Maroyafaied commented on #1888
@mcharg I think we can mark this one approved by SME since they didn't have any changes on this page.

[2022-05-12 16:38] mcharg commented on #1888
Done

[2022-05-12 16:38] #1888 closed

[2022-05-12 17:26] cthomasONRR commented on #1035
@mcharg @jlouis-onrr In the Redirects CMS collection- I fixed all the 'new urls' that had hashtags in them with the correct breadcrumb url. All should be good now :)

[2022-05-12 18:12] cthomasONRR commented on #1035
@mcharg @jlouis-onrr Great! I will close this issue now.

[2022-05-12 18:12] #1035 closed

[2022-05-12 18:13] cthomasONRR commented on #1926
@mcharg Great! Closing this issue now.

[2022-05-12 18:13] #1926 closed

[2022-05-12 19:10] mcharg opened #1934 "Redo org chart"
David sent me the one Joe has been using in presentations and we need to make it accessible.

[2022-05-12 19:46] #1930 closed

[2022-05-12 19:55] Maroyafaied opened #1935 "Remove FIMO paragraph"
@cthomasONRR Heidi asked to remove this paragraph from this page https://www.onrr.gov/about/MOUs-and-SOPs.htm

 ![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/3d4f8f57-982e-48ef-9db9-1e437f540f07)

[2022-05-12 19:57] cthomasONRR commented on #1935
@Maroyafaied

Also remove this entire tab on the new dev site? Not sure if I can delete tabs until that directs bug is fixed.
![image](https://user-images.githubusercontent.com/72526208/168157916-969c82fa-6df6-44cf-a96e-c8d188f402c4.png)

[2022-05-12 20:00] cthomasONRR commented on #1935
@Maroyafaied It's now removed from the current dev site if you would like to review before I go live: http://2017onrr/about/MOUs-and-SOPs.htm

[2022-05-12 20:00] Maroyafaied commented on #1935
@cthomasONRR No don't remove the tab from the dev site, this change is only on the current site.

[2022-05-12 20:01] Maroyafaied commented on #1935
@cthomasONRR dev looks good, please go ahead and push live.

[2022-05-12 20:12] #1931 closed

[2022-05-12 20:31] cthomasONRR commented on #1935
@Maroyafaied Thanks, it's live now: https://www.onrr.gov/about/MOUs-and-SOPs.htm

[2022-05-12 20:37] Maroyafaied opened #1936 "Create & Review spreadsheets for Interest Rate Collection"
The team than maintain this table didn't have a spreadsheet with the data so I created them.  I used the [prototype](https://qmcq5k.axshare.com/#id=qw8sdk&p=late_payment_interest) to format the spreadsheets and the data is from the [live site](https://www.onrr.gov/reportpay/interest.htm). @cthomasONRR @mcharg please review. Thanks

[Oil & Gas](https://teams.microsoft.com/l/file/AA4BA6DA-803F-468C-

[2022-05-12 20:48] Maroyafaied commented on #1935
@cthomasONRR looks good. Closing.

[2022-05-12 20:48] #1935 closed

[2022-05-13 12:52] cthomasONRR commented on #1936
@Maroyafaied I reviewed, looks good!

[2022-05-13 13:09] mcharg commented on #1765
Stacey said she'll have the updated doc in a couple of weeks. Moving to next sprint.

[2022-05-13 13:17] mcharg commented on #1936
Compared against the live site and all the numbers match.

[2022-05-13 15:45] mcharg opened #1937 "Decide on approach for assessing accessibility of new website"

[2022-05-13 15:46] mcharg opened #1938 "Get onrr.gov domain from BSEE"

[2022-05-13 16:42] mcharg commented on #1934
@Maroyafaied I went ahead and updated the org chart based on what Dave sent me. If Joe comes back with something different, we can revise.
[ONRR_External_Org_Chart.pptx](https://github.com/ONRR/onrr.gov-site/files/8689480/ONRR_External_Org_Chart.pptx)

[2022-05-13 16:55] #1903 closed

[2022-05-13 18:08] mcharg commented on #1879
Spreadsheet:
[ANALYST_RESPONSIBILITY_PUB_05092022.xlsx](https://github.com/ONRR/onrr.gov-site/files/8689943/ANALYST_RESPONSIBILITY_PUB_05092022.xlsx)

[2022-05-16 14:01] lpgoldstein commented on #1909
@cthomasONRR Do you have time to review?

[2022-05-16 14:02] cthomasONRR commented on #1909
@lpgoldstein Sure, the link above isn't working. Could you re-link the spreadsheet for me?

[2022-05-16 15:58] mcharg commented on #1779
DAP Users:

Over the last few months, we’ve gotten a BUNCH of questions from you all about our plans for launching a DAP GA4 property.

The good news is: Our goal is to launch a dual Universal Analytics (the current version you use) and GA4 DAP code on May 26, 2022!

Here’s what you need to know to prepare:

Will I need to do anything to initiate data flowing into the DAP GA4 Property?

If your si

[2022-05-16 17:33] mcharg commented on #852
@jlouis-onrr Can you make numerical values that aren't dollar amounts align right?
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/673cfce7-9d43-403a-b197-d27a887df880)
https://dev-onrr-frontend.app.cloud.gov/references/valuation/processed-gas-example

[2022-05-16 17:36] mcharg commented on #852
@jlouis-onrr Not sure why this column is right aligning.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/5a3de2ee-57a4-407e-842d-8996a9e2b819)
https://dev-onrr-frontend.app.cloud.gov/references/handbooks/indian-payor-handbook?tabs=chapter-3-indian-oil-valuation,32&panel=333-example

[2022-05-16 17:40] mcharg commented on #1621
Covered by #852

[2022-05-16 17:40] #1621 closed

[2022-05-16 17:42] mcharg commented on #852
@jlouis-onrr The styling looks good.

[2022-05-16 17:44] mcharg commented on #852
Would also be nice if percentages were right aligned.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/e4b2f92e-12c3-47be-aa40-55bb11fe160d)

[2022-05-16 18:32] #1936 closed

[2022-05-16 18:38] Maroyafaied commented on #1460
@mojobnichols here are the spreadsheets for both tabs in the prototype.

[Oil & Gas](https://teams.microsoft.com/l/file/AA4BA6DA-803F-468C-8E4F-1F49402BFA91?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FCMS%2FCollections%2FInterest%20Rate%2FOil%20%26%20Gas.xlsx&baseUrl=https%3A%2

[2022-05-16 19:04] mcharg opened #1939 "Build staging site"

[2022-05-16 19:51] mcharg commented on #852
@Maroyafaied Should we close this issue and open a new one with the right alignment tweaks, so we can prioritize it separately for Jerome's remaining time?

[2022-05-16 19:53] mcharg commented on #852
@jlouis-onrr Can you add a rule on the bottom row, so it doesn't look like it's floating when the last row is white?
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/1506dda0-51f4-4cbe-859f-2d21da3a1a56)

[2022-05-16 20:10] Maroyafaied commented on #852
@mcharg Yes, that's fine. Just out of curiosity , are we now able to control the width of table columns?

[2022-05-16 20:11] mcharg commented on #852
@Maroyafaied No we can't/

[2022-05-16 20:12] mcharg opened #1940 "Table column alignment tweaks"
- [x] make numerical values that aren't dollar amounts align right.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/673cfce7-9d43-403a-b197-d27a887df880)
https://dev-onrr-frontend.app.cloud.gov/references/valuation/processed-gas-example

- [x] Make this column not align right.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/5a3de2ee-57a4-407e-8

[2022-05-16 20:13] mcharg opened #1941 "Table bottom rule"
Add a rule on the bottom row, so it doesn't look like it's floating when the last row is white.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/1506dda0-51f4-4cbe-859f-2d21da3a1a56)

[2022-05-16 20:14] mcharg commented on #852
Created #1940 for column alignment and #1941 for adding a rule to the bottom of the table.

[2022-05-16 20:14] #852 closed

[2022-05-16 20:19] mcharg commented on #1798
@jlouis-onrr Were you going to make a way to pull numbers from NRRD into the new block?

[2022-05-17 17:39] #1798 closed

[2022-05-17 17:47] Maroyafaied commented on #1800
@mojobnichols  You made the update for content blocks, please make updates to all other blocks

[2022-05-17 17:49] Maroyafaied commented on #1643
@cthomasONRR please review.

[2022-05-17 17:50] Maroyafaied commented on #1742
Build vutify component

[2022-05-17 17:54] cthomasONRR commented on #1643
When doing the inline linking of dear reporter letters, they are only sourcing from the DRL collection. So that part of this issue is resolved :)

[2022-05-17 17:58] mcharg commented on #1643
@cthomasONRR Did it put in a pdf icon when adding?

[2022-05-17 18:10] cthomasONRR commented on #1643
@mcharg no it did not

[2022-05-17 18:40] Maroyafaied commented on #1934
@mcharg I spoke with Joe, the only change is to change the highlighted name to Shayna Varnedoe, she was selected for this position. [Uploading... image.png]

[2022-05-17 18:49] mcharg commented on #1934
@Maroyafaied Looks like it didn't upload the image. Which position does Shayna go on?

[2022-05-17 18:50] Maroyafaied commented on #1934
@mcharg Internal Review, Oversight, and Compliance

[2022-05-17 18:51] mcharg commented on #1934
@Maroyafaied Updated
[ONRR_External_Org_Chart.pptx](https://github.com/ONRR/onrr.gov-site/files/8710776/ONRR_External_Org_Chart.pptx)

[2022-05-17 19:03] Maroyafaied commented on #1934
@mcharg for Rob Winter's notes, can you add "reports to" and capitalize Revenue. Otherwise looks good.
![image](https://user-images.githubusercontent.com/40175688/168890478-07424de7-d9fa-48ed-94d8-7c7eaa16d6e3.png)

[2022-05-17 19:04] mcharg commented on #1934
@Maroyafaied Fixed
[ONRR_External_Org_Chart.pptx](https://github.com/ONRR/onrr.gov-site/files/8710841/ONRR_External_Org_Chart.pptx)

[2022-05-17 19:06] mcharg commented on #1934
@Maroyafaied Replaced the file in the CMS. https://dev-onrr-frontend.app.cloud.gov/about/organization?tabs=organization-chart

[2022-05-17 19:08] Maroyafaied commented on #1934
@mcharg looks good. Thanks

[2022-05-17 19:09] #1934 closed

[2022-05-17 20:32] jlouis-onrr commented on #1884
@mcharg, @cthomasONRR, the updated contacts are now loaded in the cms.  I tried out the new upload feature!  Works great! :rocket:

[2022-05-17 20:33] cthomasONRR commented on #1884
@jlouis-onrr Great! I will spot-check it. Is it something you can teach us how to do ourselves?

[2022-05-17 20:36] jlouis-onrr commented on #1884
@cthomasONRR, for sure.  Its pretty straight forward.  As long the columns in the spreadsheet match the db data modeling or columns in the table and there are no formatting issues it just works. It  aceepts csv or json formats.  Heres what directus says about it: https://docs.directus.io/reference/system/utilities/#import-data-from-file

[2022-05-17 20:38] cthomasONRR commented on #1884
@jlouis-onrr @mcharg Great!

I'm checking, and changes look good! Shannon, there are some un-needed accordion headers in the FIMO contacts now. I'll create a new issue to remove those.

[2022-05-17 20:40] cthomasONRR opened #1942 "Update FIMO contact accordions"
https://dev-onrr-frontend.app.cloud.gov/about/contact/indian-contacts?tabs=federal-indian-minerals-office-fimo-contacts&panel=ignacio-co

Contacts are updated, there are now no contacts in:

- [ ] Albuquerque
- [ ] Ignacio
- [ ] Window Rock, AZ

I will see if I can remove them with the directus bug present.

[2022-05-18 13:34] mcharg commented on #1942
@cthomasONRR Looks good.

[2022-05-18 13:38] cthomasONRR commented on #1884
@mcharg Is this ok to close or are we waiting for #1834 to be resolved?

[2022-05-18 16:28] Maroyafaied commented on #1909
@lpgoldstein sorry, also for revenue Appendix G has the wrong title ![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/080d1a12-5049-49a1-83da-9c1cc8b9b52f)

[2022-05-18 16:46] Maroyafaied commented on #1342
@mojobnichols I just realized this issue was forgotten about from last sprint. Is this done?

[2022-05-18 18:30] Maroyafaied commented on #1909
@lpgoldstein can you add "Appendix G" before the title to be consistent with other rows and also add a row underneath titled "Supplemental Reporting Guidance" before the Glossary and abbreviations.  Also, not sure if you saw my other comment above but I didn't see these fixes in dev.
![image](https://user-images.githubusercontent.com/40175688/169118577-ff016ec0-4bb5-40aa-8927-618405f51ab9.png)

[2022-05-18 18:37] Maroyafaied commented on #1596
@cthomasONRR the TOC looks good . In the Supplemental Information tab, can you list Appendix A and B separately with the same titles as the TOC.
![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/7df00fa7-ead9-4a35-afc2-550590df3c8e)
![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/edbfdaba-eed2-4c98-98a8-3d7274f581bc)

[2022-05-18 18:41] Maroyafaied commented on #1595
@cthomasONRR In the Supplemental Information tab can you please add  Appendix B, and change the title to Appendix A to match the TOC. ![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/5f60100d-b074-488f-a395-6f392af14928)
![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/049d3e0e-22dd-437d-a9df-9550b7d18948)

[2022-05-18 18:43] Baymatt commented on #1909
The description for the Class 2&3 Handbook seems incorrect.

<img width="891" alt="Screen Shot 2022-05-18 at 11 40 58 AM" src="https://user-images.githubusercontent.com/43329595/169121689-6c2d99d5-4b38-4c41-8364-9d9f3dc63050.png">

[2022-05-18 18:46] Maroyafaied commented on #1592
@cthomasONRR  this link goes to the paying section instead of the oil and gas revenue reporting.

![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/6f1bc718-feb4-4b21-9fd7-ad4409a2a9b1)

[2022-05-18 18:48] cthomasONRR commented on #1596
@Maroyafaied It's a single PDF in the documents library, and it like this on the live site too

![image](https://user-images.githubusercontent.com/72526208/169124102-bc895b9d-be2e-4759-9ddd-2cce78f1db1b.png)
![image](https://user-images.githubusercontent.com/72526208/169124326-8e7b448a-9ef7-4af0-8a1c-6c486b0a6775.png)

[2022-05-18 18:49] cthomasONRR commented on #1595
@Maroyafaied There is not a separate Appendix B document. It's this way on the live site too:
![image](https://user-images.githubusercontent.com/72526208/169125602-0676451c-29f3-41f1-ba30-9a3bcc0612ae.png)

[2022-05-18 18:54] cthomasONRR commented on #1909
@mcharg @Baymatt I updated this, but looks like the same card is used in both handbooks. I'm not sure how to make separate cards with the directus bug.

[2022-05-18 18:57] cthomasONRR commented on #1909
@Baymatt @mcharg OK get separate cards set up- no pagination so directus bug didn't interfere
![image](https://user-images.githubusercontent.com/72526208/169132722-fef92576-41b7-4d10-8d45-f8218048a171.png)
![image](https://user-images.githubusercontent.com/72526208/169132868-eb11f7ae-279b-43ca-b4d6-06b7aabe5586.png)

[2022-05-18 18:58] Maroyafaied commented on #1596
@cthomasONRR The handbook has them separated and Appendix A is definition of terms not contacts.  We can ask RV if they prefer to keep it like the live site but it would be inconsistent with what we have in the TOC and the handbook.

![image](https://user-images.githubusercontent.com/40175688/169132484-ca09a58a-73f1-401c-b510-cf3cbd3ae1ae.png)

[2022-05-18 19:02] cthomasONRR commented on #1596
@Maroyafaied I'm not sure what you want me to do- I do not have separate PDFs of appendix a and b to upload.

[2022-05-18 19:06] cthomasONRR commented on #1592
@Maroyafaied Fixed

[2022-05-18 19:45] Maroyafaied commented on #1596
@cthomasONRR We can Keep them as one document, but let's change the title to "Appendix A and B - Class 2 & 3"

[2022-05-18 19:45] Maroyafaied commented on #1595
@cthomasONRR We can Keep them as one document, but let's change the title to "Appendix A and B - Class 1"

[2022-05-18 19:49] cthomasONRR commented on #1596
@Maroyafaied Is this better?
https://dev-onrr-frontend.app.cloud.gov/references/handbooks/geothermal-class-2-and-3?tabs=supplemental-information
![image](https://user-images.githubusercontent.com/72526208/169143942-b1a9504d-53fe-4dec-802c-29c5e34785f1.png)

[2022-05-18 19:50] cthomasONRR commented on #1595
@Maroyafaied Is this better?
https://dev-onrr-frontend.app.cloud.gov/references/handbooks/geothermal-class-1?tabs=supplemental-information
![image](https://user-images.githubusercontent.com/72526208/169144027-3487b241-a2e2-4352-b6fa-d4246422db57.png)

[2022-05-18 19:54] Maroyafaied commented on #1596
Yes, thanks.

[2022-05-18 19:54] #1596 closed

[2022-05-18 19:55] #1595 closed

[2022-05-18 20:14] cthomasONRR opened #1943 "Create new example links for RV"
On the page: https://www.onrr.gov/valuation/index.htm

Add 2 more examples to this table:
![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/e3c1a922-574b-4bab-84ae-8dc222061f61)

- [ ] Initial_Reporting_for_Unprocessed_Gas_in_Non-Index_Zone_MajorPortion_Areas.pdf
- [ ] Revised_Reporting_Using_Alternative_Dual_Accounting_for_Unprocessed_Gas_in_Non-Index_Zone_MP_Areas.pdf

J

[2022-05-18 20:26] cthomasONRR commented on #1943
Hyperlink urls for PDFs:

https://www.onrr.gov/valuation/PDFDocs/Initial_Reporting_for_Unprocessed_Gas_in_Non-Index_Zone_MajorPortion_Areas.pdf

https://www.onrr.gov/valuation/PDFDocs/Revised_Reporting_Using_Alternative_Dual_Accounting_for_Unprocessed_Gas_in_Non-Index_Zone_MP_Areas.pdf

[2022-05-18 20:28] cthomasONRR commented on #1943
Changes on the dev site: http://2017onrr/valuation/index.htm

Jodie approved, but we are holding off going live until she has the 508-compliant documents ready.

[2022-05-18 21:25] lpgoldstein commented on #1909
@maroya removed the duplicates in production handbook after chapter 7
![image](https://user-images.githubusercontent.com/39419003/169158282-2f74282d-bdbb-48c4-b8ce-36b758b9ffe0.png)
And the words "supplemental information"
![image](https://user-images.githubusercontent.com/39419003/169158376-bce40198-3c53-4ca8-b6de-af500c462b76.png)

[2022-05-18 21:37] Maroyafaied commented on #1909
@lpgoldstein Thanks.

[2022-05-18 21:37] #1909 closed

[2022-05-18 21:38] Maroyafaied commented on #1592
@cthomasONRR looks good.

[2022-05-18 21:38] #1592 closed

[2022-05-18 21:39] #1594 closed

[2022-05-18 21:40] #1593 closed

[2022-05-19 12:40] cthomasONRR commented on #1943
Jodie emailed me the documents, and I have them up on the dev site. I emailed her back for review and approval to go live.

[Initial_Reporting_for_Unprocessed_Gas_in_Non-Index_Zone_MajorPortion_Areas.pdf](https://github.com/ONRR/onrr.gov-site/files/8729103/Initial_Reporting_for_Unprocessed_Gas_in_Non-Index_Zone_MajorPortion_Areas.pdf)

[Revised_Reporting_Using_Alternative_Dual_Accounting_for_Unpro

[2022-05-19 12:55] cthomasONRR opened #1944 "Move new example cards for RV from contacts to examples tab"
Add the 2 new example PDFs from #1943 to the CMS.

2 new example cards here: https://dev-onrr-frontend.app.cloud.gov/references/valuation?tabs=valuation-examples

[2022-05-19 13:00] cthomasONRR commented on #1944
I saved the 2 example PDFs in the CMS documents library:
![image](https://user-images.githubusercontent.com/72526208/169299153-b15730b5-32d4-4b91-8288-32e99af79978.png)
![image](https://user-images.githubusercontent.com/72526208/169299219-2003a6ab-5ae3-428c-985a-b47892a0438a.png)

[2022-05-19 13:11] cthomasONRR commented on #1944
The 2 card blocks are at the bottom of the contacts page (https://dev-onrr-frontend.app.cloud.gov/references/valuation?tabs=contacts) because of the directus pagination bug.

When the bug is fixed, these 2 card block should go after the 2 existing card blocks on: https://dev-onrr-frontend.app.cloud.gov/references/valuation?tabs=valuation-examples

[2022-05-19 13:18] mcharg opened #1945 "Due June 1: Proposal for Rosenfeld Civic Design conference"
The conference is virtual in November.
https://rosenfeldmedia.com/civic-design-2022/call-for-proposals/

[2022-05-19 13:19] mcharg commented on #1945
2022 Conference Themes
Theme 1—The Decade Cycle: 10 years back, 10 years forward
Theme 2—Power Structures: Shifting how and by whom design gets done
Theme 3—Balancing Time Horizons: Shifting entrenched systems while chipping away at near-term change

[2022-05-19 13:20] mcharg commented on #1945
We could probably fit into balancing time horizons by talking about shifting entrenched accessibility issues while chipping away at redesigning onrr.gov.

We could also talk about shifting how and by whom design gets done.

[2022-05-19 14:03] cthomasONRR commented on #1943
Jodie approved the changes, and they are now live: https://www.onrr.gov/valuation/index.htm.

Closing this issue.

[2022-05-19 14:03] #1943 closed

[2022-05-19 16:09] bowlenj opened #1946 "Quick Start Guide"
Can we please have the Quick Start Guide found at the following link removed, this information is no longer valid and was found by a payor via google -[ [https://onrrreporting.onrr.gov/Help/DoiWebGettingStarted.aspx](https://gcc02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fonrrreporting.onrr.gov%2FHelp%2FDoiWebGettingStarted.aspx&data=05%7C01%7CJessica.Bowlen%40onrr.gov%7Cbb925ab7f29b4823

[2022-05-19 16:17] mcharg commented on #1946
@bowlenj That's an eCommerce page, so Stacey Browne's team would need to make the change.

[2022-05-19 16:24] mcharg commented on #1878
@jlouis-onrr That works.

[2022-05-19 16:26] jlouis-onrr commented on #1878
:+1:

[2022-05-19 16:50] #1946 closed

[2022-05-19 17:06] Maroyafaied commented on #1342
@mojobnichols will update content in database

[2022-05-19 17:07] #1895 closed

[2022-05-19 17:24] #1269 closed

[2022-05-19 18:33] mcharg commented on #1940
@jlouis-onrr These are all right aligned, but shouldn't be.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/d74678b7-106a-4237-ad42-a5818c2ef4cb)
https://dev-onrr-frontend.app.cloud.gov/references/valuation/pop-example?tabs=sample-statement&panel=disallowed-pipeline-plant-fuels

[2022-05-19 18:47] mcharg commented on #1940
@jlouis-onrr Another one that's right aligning that shouldn't.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/40d3cd4e-bcfb-4a98-b2a8-db387e87f91d)
https://dev-onrr-frontend.app.cloud.gov/indian/indian-references?tabs=regulations

[2022-05-19 21:42] cthomasONRR opened #1947 "Add example plant statement for RV"
Megan Hessee emailed with an example plant statement to go with the 2 new Indian examples (#1943 and #1944).

I'm waiting on them to send me a 508-compliant version, and for them to tell me where they want it.

[2022-05-19 21:43] jlouis-onrr commented on #1940
@mcharg, looks like I need to adjust the regex pattern a bit more.  thx

[2022-05-19 22:29] cthomasONRR commented on #1947
After email discussions with Megan H, we have the dev site set for the new document:
http://2017onrr/valuation/index.htm

![image](https://user-images.githubusercontent.com/72526208/169414822-3a5bf6ff-cc34-4074-8af6-285ba3125421.png)

When we get the document, we need to title it as "Indian_unprocessed_gas_example_statement.pdf"... we will need to replace the spaces in the file name with underscor

[2022-05-19 22:34] cthomasONRR commented on #1947
Adding @lpgoldstein to this issue because we likely won't get the 508-compliant document until next week (when I'm on leave).

[2022-05-19 22:42] Maroyafaied commented on #1864
Sent Howard an email updating him and asked if he wants us to add EITI in the engagement section.

[2022-05-20 14:25] mcharg opened #1948 "Build manual events calendar"

[2022-05-20 14:55] mcharg commented on #1937
I scheduled a meeting for next Tuesday.

[2022-05-20 14:58] mcharg opened #1949 "Test contacts collection"

[2022-05-20 15:00] mcharg opened #1950 "Make sure documents are in a shared location"
@jlouis-onrr I made you a folder. https://teams.microsoft.com/_#/files/General?groupId=81f624a1-bcde-4f77-ba3b-69c787c88ed3&threadId=19%3A34f9f9ee6b0441dbacab56bfd552f819%40thread.skype&ctx=channel&context=Jerome's%2520Stuff&rootfolder=%252Fsites%252FNRRD%252FShared%2520Documents%252FGeneral%252FAdmin%252FJerome's%2520Stuff

[2022-05-20 18:17] jlouis-onrr commented on #1878
@mcharg, this is now in dev

[2022-05-20 18:18] mcharg commented on #1877
Looks good.

[2022-05-20 18:18] #1877 closed

[2022-05-20 18:19] mcharg commented on #1878
@jlouis-onrr Looks good.

[2022-05-20 18:19] #1878 closed

[2022-05-20 19:10] cthomasONRR opened #1951 "Dear Reporter Letters that need relinking to show PDF icon"

[2022-05-20 19:15] cthomasONRR commented on #1951
- [ ] https://dev-onrr-frontend.app.cloud.gov/ (2016 Rule yellow info box)
- [ ]

[2022-05-20 19:52] cthomasONRR commented on #1951
@mcharg I was able to get PDF icons for the DRLs listed above. The only one I couldn't figure out how to do was the one on the homepage because it is within a collection.

[2022-05-20 19:56] mcharg commented on #1951
@cthomasONRR We don't have access to the link tool from within the announcements collection.  We have an issue to add that, so we'll have to update that one when we get to that issue.

[2022-05-20 19:58] cthomasONRR commented on #1951
@mcharg OK, thanks for letting me know. I went through the website, so I think I caught all DRLs (and other docs) that needed icons. Most DRLs were a collection list within accordions, so all of those had links already.

[2022-05-20 19:59] mcharg commented on #1951
@cthomasONRR All the links look good.

[2022-05-20 20:00] #1643 closed

[2022-05-20 20:01] cthomasONRR commented on #1951
Cool, I'll close this now.

[2022-05-20 20:01] #1951 closed

[2022-05-20 20:32] jlouis-onrr commented on #1940
@mcharg, updated regex has been added for percentages

[2022-05-20 20:32] jlouis-onrr commented on #1941
@mcharg, updated table styles are out in dev.

[2022-05-20 20:57] #1940 closed

[2022-05-20 20:57] mcharg commented on #1940
Looks good.

[2022-05-20 20:58] mcharg commented on #1644
@mojobnichols This is definitely still broken. I tried rebuilding the press release links on the homepage twice and the icons aren't there.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/b81b7f7b-acdc-46ea-96a8-41df80641df3)

[2022-05-20 20:59] #1941 closed

[2022-05-20 20:59] mcharg commented on #1941
Looks good.

[2022-05-20 21:00] mcharg commented on #1864
All changes addressed.

[2022-05-20 21:00] #1864 closed

[2022-05-20 21:20] mcharg commented on #1644
Mojo was able to add the icon to the press releases on the homepage. Will create a new issue to fix the anomaly preventing me from doing it.

[2022-05-20 21:20] #1644 closed

[2022-05-20 21:21] mcharg opened #1952 "Make it so that press releases always add the pdf (or other) icon"

[2022-05-23 17:01] mcharg commented on #1917
@lpgoldstein This is ready for you to review.
https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/User%20Research/Studies/UserTypes.xlsx?d=w8d6e1a5762644d4e98c52f6af51cd008&csf=1&web=1&e=QlYm1N

[2022-05-23 17:03] Maroyafaied commented on #1800
@mcharg please review

[2022-05-23 17:08] #1800 closed

[2022-05-23 17:08] mcharg commented on #1800
Looks good.

[2022-05-23 17:15] Maroyafaied commented on #1949
look into what happens to existing records when reuploading the same record.

[2022-05-23 17:20] Maroyafaied commented on #1696
@mcharg please review

[2022-05-23 17:20] #1696 closed, assigned to jlouis-onrr

[2022-05-23 20:18] jlouis-onrr commented on #1949
@Maroyafaied, @mcharg,  the upload functionality will append/and or add records to an existing record collection when the ID field is not used.  If the ID field is used and matching id matches the record it will be updated with the new values.

[2022-05-23 21:16] mcharg opened #1953 "Reporter letter search and topic filter are broken"
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/b987c095-a58c-4be0-af07-dc5a5ee093b1)

[2022-05-23 21:20] lpgoldstein commented on #1917
@mcharg Looks good!

[2022-05-23 21:22] #1917 closed

[2022-05-24 13:15] mcharg commented on #1916
I checked today and the PR still hasn't been merged. https://github.com/directus/directus/pull/12506

[2022-05-24 14:47] mcharg commented on #1910
I emailed the group to see when they'll have the new troubleshooting questions.

[2022-05-24 15:37] shannonmcharg commented on #1087
Yeah, it was an old iteration. No need for a background.

[2022-05-24 15:38] jlouis-onrr commented on #1087
ok, thanks!

[2022-05-24 15:47] #1947 closed

[2022-05-24 17:08] mcharg commented on #1425
Hex values.

Dark Gold: #71500F
Blue: #1A227E (can use a similar dark blue that's already in the palette)

[2022-05-24 17:21] mcharg opened #1954 "Run lighthouse accessibility checks and create issues for findings"

[2022-05-24 17:21] mcharg commented on #1954
Also check with screen reader.

[2022-05-24 17:22] mcharg commented on #1937
We decided to do lighthouse checks page by page and create GH issues for accessibility issues to be fixed. We will also go through the pages with a screen reader.

[2022-05-24 17:22] #1937 closed

[2022-05-24 17:23] #1866 closed

[2022-05-24 18:22] bowlenj opened #1955 "Update to Minerals Revenue Reporter Handbook"
I updated Appendix C in the "View Complete Handbook" for Minerals Revenue Reporter Handbook located here - https://www.onrr.gov/reportpay/Handbooks/revenue-handbook/index.htm

Please replace the current version "View Complete Handbook" with the attached updated version.
[RRM-Printable.Minerals.Revenue.Handbook.pdf](https://github.com/ONRR/onrr.gov-site/files/8765303/RRM-Printable.Minerals.Revenue.

[2022-05-24 18:25] mcharg opened #1956 "Homepage accessibility"
Lighthouse report: [Homepage.pdf](https://app.zenhub.com/files/210892300/f140a07b-90d6-432c-81a3-cc2c3b918535/download)

[2022-05-24 18:26] mcharg commented on #1954
Pages:

- [ ] Home
- [ ] Getting Started Home
- [ ] How Leasing Works
- [ ] New Reporter Checklist
- [ ] System Access
- [ ] New Reporter Training
- [ ] Reporting Home
- [ ] Oil & Gas Production
- [ ] Oil & Gas Revenue
- [ ] Solid Minerals
- [ ] Geothermal
- [ ] References (Home)
- [ ] Statutes
- [ ] FOGRMA Amendments
- [ ] Rulemakings
- [ ] Regulation Identifier Number 1012-AA29
- [ ] Regulation

[2022-05-24 18:28] mcharg opened #1957 "Request screen reader"
https://apps.microsoft.com/store/detail/nvda-nonvisual-desktop-access/9NVL6Z0TM57D?hl=en-us&gl=US

[2022-05-24 19:04] lpgoldstein commented on #1957
@cthomasONRR I requested this for you as well.

[2022-05-24 19:04] #1957 closed

[2022-05-24 19:55] jlouis-onrr commented on #1087
@mcharg, mobile side menu and main menu updates are in dev.

[2022-05-24 19:57] mcharg commented on #1087
Or rather the main menu.

[2022-05-24 20:01] jlouis-onrr commented on #1087
yep. Ill get that added.

[2022-05-24 20:02] lpgoldstein commented on #1955
@bowlenj Will you please send me an updated copy of appendix c as well so that the individual appendix pdf matches the information in the complete handbook?

[2022-05-24 20:06] bowlenj commented on #1955
I just sent it to you in chat!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and ex

[2022-05-24 20:11] lpgoldstein commented on #1955
@bowlenj This is ready for your review: http://2017onrr/reportpay/Handbooks/index.htm

[2022-05-24 20:18] lpgoldstein commented on #1955
Updated in cms as well

[2022-05-24 20:27] bowlenj commented on #1955
This looks great, thank you!!!!!!!!!!!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidentia

[2022-05-24 21:17] lpgoldstein commented on #1955
@bowlenj It's live!

[2022-05-24 21:17] #1955 closed

[2022-05-24 22:53] Maroyafaied opened #1958 "SME review - Reference Lists & Codes"
Sent email to RRM to review on 5/24

https://dev-onrr-frontend.app.cloud.gov/references/reference-lists

[2022-05-25 11:53] lpgoldstein commented on #1947
@cthomasONRR RV added the example to each of the documents that are already in the cards above. I updated onrr.gov accordingly and deleted the new example line item in the table. In the CMS,  I replaced the existing documents and deleted the placeholder links in the cards.

[2022-05-25 14:51] lpgoldstein commented on #1948
@mcharg https://dev-onrr-frontend.app.cloud.gov/events

[2022-05-25 15:02] lpgoldstein commented on #1455
@mcharg https://dev-onrr-frontend.app.cloud.gov/references/training?tabs=training-schedule

[2022-05-25 16:40] #1945 closed, assigned to lpgoldstein

[2022-05-25 21:04] mojobnichols commented on #1342
Database is updated for content_blocks and card_blocks.   I refrained from updating tab blocks because its a stlightly more complex json object and there were only two of them.  If we can find where they so I can try locally and test other wise it might just be easier to use external link in new tool to correct these two.

To be clear @mcharg can you find (which page on frontend) the external link

[2022-05-25 21:19] lpgoldstein commented on #1342
@mojobnichols I'll find for you because Shannon won't be back until next week.

[2022-05-25 21:24] lpgoldstein commented on #1342
@mojobnichols This is an external link that doesn't open on a new page https://dev-onrr-frontend.app.cloud.gov/reporting/production?tabs=new-reporter-checklist&panel=give-onrr-your-taxpayer-id
I think it's on a card, within an accordion, within a tab.

[2022-05-25 21:26] Maroyafaied commented on #1342
@mojobnichols I tested the ones in Shannon's comment above and they all are working now and opening in a new tab. Here's an example of a link in a tab that doesn't work.  https://dev-onrr-frontend.app.cloud.gov/indian/assistance?tabs=federal-indian-minerals-office
![image](https://user-images.githubusercontent.com/40175688/170370088-a2ceac26-d808-47e6-945a-1b17593ce491.png)

[2022-05-26 12:41] Maroyafaied commented on #1949
@jlouis-onrr Thanks for looking into it. @lpgoldstein @mcharg @cthomasONRR The ID field need to be selected from the download option. As  long as the id record along with columns being updated, the records will get updated with new values.  Otherwise if the Id is not used the records will get added to collection as new records.

[2022-05-26 12:42] #1949 closed

[2022-05-26 14:24] mojobnichols commented on #1342
BLM is set to http instead of https  it redirects to https so its not a big deal but that is why it didn't get fixed and the others did

[2022-05-26 14:27] mojobnichols commented on #1342
@lpgoldstein same thing href is http:// instead of https://

@Maroyafaied and @lpgoldstein I'll fix http:// as well to open in new tags

[2022-05-26 14:27] lpgoldstein commented on #1342
@mojobnichols Thank you! Let me know when I can start checking.

[2022-05-26 14:46] Maroyafaied commented on #1342
@mojobnichols everything looks good and opening in a new tab. Thanks!

[2022-05-26 15:02] lpgoldstein commented on #1342
@mojobnichols @Maroyafaied Everything I've opened works as well!

[2022-05-26 17:51] Maroyafaied commented on #1894
Bringing this in this sprint since collection is ready.

[2022-05-26 22:57] Toddsand21 opened #1959 "KAULEY VIRTUAL OUTREACH MEETING (to be added to Event Calendar on Allottee Asst. Page)"
KAULEY VIRTUAL OUTREACH MEETING
Thursday, June 16, 2022
1:00 pm to 2:00 pm CST
Location:  By Telephone

Description: This meeting will be a Call-in Meeting to hear a brief presentation and updates from the Office of Natural Resources Revenue (ONRR) Outreach Office. Representatives from the Bureau of Land Management (BLM), Bureau of Trust Funds Administration (BTFA), and the Bureau of Indian Affair

[2022-05-26 22:58] Toddsand21 commented on #1959
Please note: I will be out of the office until June 6, but I will check my email today and tomorrow to get this through and posted by 06/01/22. Thanks,.

[2022-05-26 23:11] Maroyafaied commented on #1561
Added the collections to the webpage

[2022-05-27 00:40] lpgoldstein commented on #1959
@Toddsand21 This is ready for your review: http://2017onrr/events.htm

[2022-05-27 15:38] gingerhensley opened #1960 "Updates to ONRR's Current ICR's page"
Good morning,
I am requesting updates to this page https://onrr.gov/Laws_R_D/FRNotices/ICR0136.htm

Under the Federal Register Publications heading, please add a bullet to the top of the list. The bullet should read as follows: “60-Day Agency Information Collection - (87 FR 32050--May 26th, 2022)”

Please add this hyperlink to the language in the parenthesis:  https://www.federalregister.gov/docum

[2022-05-27 15:41] gingerhensley opened #1961 "Updates to ONRR's Current FRN's 2022 page"
Good morning,
I am requesting updates to this page https://onrr.gov/Laws_R_D/FRNotices/index.htm

Please create it with May 26th, 2022.
It should read as follows:
“87 FRN 32050
Thursday, May 26th, 2022
**Denver, CO** In accordance with the Paperwork Reduction Act of 1995, ONRR is proposing to renew an information collection request. OMB Control Number 1012-0005.
View FR document"

Please add this

[2022-05-27 16:58] lpgoldstein commented on #1960
@gingerhensley This is ready for your review: http://2017onrr/Laws_R_D/FRNotices/ICR0136.htm

[2022-05-27 17:00] gingerhensley commented on #1960
Approved,

Thank you!

[2022-05-27 18:36] lpgoldstein commented on #1960
@gingerhensley This is live so I'm closing.

[2022-05-27 18:36] #1960 closed

[2022-05-27 18:37] lpgoldstein commented on #1961
@Maroyafaied This isn't updating and I'm not sure why. I think Jerome had to manually push something. I tried to push it live as well so it may just be slow.

[2022-05-27 19:05] Maroyafaied commented on #1961
@lpgoldstein it's on the live site in the bottom of the homepage and the webpage, make sure you select year 2022 to be able to see it. The year goes to 2021 by default.  https://onrr.gov/Laws_R_D/FRNotices/index.htm

![image](https://user-images.githubusercontent.com/40175688/170774698-b0045142-92ce-4063-8f98-f7fe1a31876f.png)

[2022-05-27 19:07] Maroyafaied commented on #1961
@gingerhensley please select year 2022 and review, let us know if you have any changes. Thanks https://onrr.gov/Laws_R_D/FRNotices/index.htm

[2022-05-27 19:31] gingerhensley commented on #1961
Approved,

Thank you!

[2022-05-27 20:11] Toddsand21 commented on #1959
The time on the Pawnee Area Meeting should be 1:00 pm to 2:00 pm instead of  to 2:30 pm.

[2022-05-27 20:24] Toddsand21 commented on #1959
That seems to be the only corrections I see and it should be ready to post.

[2022-05-27 20:56] #1961 closed

[2022-05-27 21:00] Maroyafaied commented on #1959
@Toddsand21 I made that correction. It should be live in 30 min or so. Thanks http://2017onrr/events.htm

[2022-05-27 21:50] lpgoldstein commented on #1959
@Toddsand21 It's live! I'll go ahead and close out the issue. https://onrr.gov/events.htm

[2022-05-27 21:50] #1959 closed

[2022-05-31 15:05] Maroyafaied commented on #1561
@cthomasONRR can you please review and mark this page as "Approved by ODDD" if everything looks good? Thanks

[2022-05-31 15:07] cthomasONRR commented on #1561
@Maroyafaied These are already set to "Approved by SME"

[2022-05-31 15:28] Maroyafaied commented on #1561
@cthomasONRR It shouldn't have that status since we left that page out when we asked the Paying section SMEs to review, it wasn't completed at the time.
![image](https://user-images.githubusercontent.com/40175688/171211306-7bf0c2f9-f7dc-4a3a-aa9d-8ba7359cbf64.png)

[2022-05-31 15:29] cthomasONRR commented on #1561
@Maroyafaied OK I set the Late Payment Interest page back to "Approved by ODDD"

[2022-05-31 16:05] Maroyafaied commented on #1837
@mcharg it looks like Jerome was able to do this before he left, please review. Thanks

[2022-05-31 16:12] Maroyafaied commented on #1342
@mcharg we checked the external links and everything is working , please review and let  @mojobnichols know if there's issues. Thanks

[2022-05-31 16:18] cthomasONRR commented on #1954
@lpgoldstein @mcharg I'm noticing that all pages so far are getting the following errors. (And highest accessibility rating is 84%.) Should we try to fix the following errors before running any more reports?

Doesn't like the left-side navigation pane:
![image](https://user-images.githubusercontent.com/72526208/171222268-d989f888-96fd-4946-8037-28957a55c011.png)

Doesn't seem to ID the alt text wi

[2022-05-31 16:25] Maroyafaied commented on #1916
I asked for an update and received this response @mojobnichols @mcharg @cthomasONRR
![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/d8e8237a-bc9a-45e5-b203-31fcc33a7dac)

[2022-05-31 17:02] cthomasONRR commented on #1954
Also, we need to discuss if we want to check all individual tabs... if so, there will be way more line items to add to the list above.

[2022-05-31 17:09] Maroyafaied commented on #1916
@mcharg @mojobnichols @cthomasONRR  Also, it seems like there are some nested tabs that you can sort and move around. For example ![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/4ba36e34-9720-4388-aff4-02ff307a12de)

[2022-06-01 12:05] #1561 closed

[2022-06-01 12:11] Maroyafaied commented on #1958
Sent another email asking for status but got multiple out of office automatic replies.

[2022-06-01 13:01] bowlenj opened #1962 "Lease Agreement Maintenance Contact List Update"
Please replace the Lease Agreement Maintenance Contact List located here with the attached list - https://www.onrr.gov/reportpay/PDFDocs/RS_LeAgAssignments.pdf

[Lease Agreement Maintenance Contacts_5-31-22.pdf](https://github.com/ONRR/onrr.gov-site/files/8814275/Lease.Agreement.Maintenance.Contacts_5-31-22.pdf)

[2022-06-01 13:06] cthomasONRR commented on #1962
@bowlenj Is there a way you can highlighted what contacts have changed so I can also update the new website?

[2022-06-01 13:10] bowlenj commented on #1962
Hi Christine,

I just sent you a chat with them listed out.  Here's the list, I wasn't sure if you could see it in the email:

[cid:0c0c931c-313d-48c3-84c3-4ae5107a0590]

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is inten

[2022-06-01 13:10] cthomasONRR commented on #1962
@bowlenj The updated list is on the dev site for you to review: http://2017onrr/about/contact.htm. Please let us know if you approve to go live. Thanks!

[2022-06-01 13:12] bowlenj commented on #1962
Perfect, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from d

[2022-06-01 13:36] cthomasONRR commented on #1962
@bowlenj Great, the updated document is now live. Remember to use "Ctrl+F5" to refresh the page and the pdf:
https://www.onrr.gov/about/contact.htm
https://www.onrr.gov/reportpay/PDFDocs/RS_LeAgAssignments.pdf

Closing this issue now.

[2022-06-01 13:59] #1837 closed

[2022-06-01 14:08] mcharg commented on #1455
@lpgoldstein Do we not have the pdf to link to?

[2022-06-01 14:09] mcharg commented on #1455
Actually, where the event is in the past, maybe we should remove it an just add a line of text that says there are no upcoming trainings.

[2022-06-01 14:12] mcharg commented on #1342
Looks good.

[2022-06-01 14:12] #1342 closed

[2022-06-01 14:18] bowlenj opened #1963 "Federal Onshore Terminable Leases"
Please update the following webpage https://www.onrr.gov/reportpay/royalty-reporting.htm with the attached excel file:

Federal Onshore Terminable Leases - sorted by Due Date, please change (5/2/2022) to read (updated 6/1/2022)

[20220601.xlsx](https://github.com/ONRR/onrr.gov-site/files/8814971/20220601.xlsx)

[2022-06-01 14:18] mcharg commented on #1916
@Maroyafaied You can sort if there's only one page of content. If there are multiple pages, you can't sort.

[2022-06-01 14:23] mcharg opened #1964 "External footer links are not working"
It's sticking the url of the current page before the external url.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/2e7f7c81-b765-4bf2-aa5f-a672f5ede525)

[2022-06-01 14:25] mcharg commented on #1964
https://dev-onrr-frontend.app.cloud.gov/indian/https://facebook.com/doionrr
https://dev-onrr-frontend.app.cloud.gov/indian/https://usa.gov

[2022-06-01 14:28] cthomasONRR commented on #1963
@bowlenj These changes are now in the dev site: http://2017onrr/reportpay/royalty-reporting.htm. Please review and give us your approval to go live. Thanks!

[2022-06-01 14:42] bowlenj commented on #1963
Perfect, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from d

[2022-06-01 15:05] cthomasONRR commented on #1963
@bowlenj Great, the changes are now live: https://www.onrr.gov/reportpay/royalty-reporting.htm.

Closing this issue.

[2022-06-01 15:05] #1963 closed

[2022-06-01 15:56] cthomasONRR commented on #1954
@mcharg @lpgoldstein

I got all pages tested except for:

- search results (main search not working),
- Glossary (that collection is not yet uploaded), and
- Contacts by Company (could not find this page).

Did the contacts by company page get removed?

[2022-06-01 15:59] mcharg commented on #1954
@cthomasONRR I removed the link to contacts by company, since we can launch without it.

[2022-06-01 17:02] #1894 closed

[2022-06-01 17:29] #1950 closed

[2022-06-01 17:29] #1087 closed

[2022-06-01 18:58] cthomasONRR opened #1965 "Help Regulations Team with editing Form 4425"
The Regulations team is editing the entire form 4425 to correlate to a new rulemaking that is making submission of the 4425 electronic as well as changing what information is required on the form.  Matt Collins specifically requested a Word version of the form to edit as this rulemaking progresses.

I sent them the PDF on the live site, explained how to save as a Word document, and cautioned them

[2022-06-01 19:10] mcharg opened #1966 "Screen reader doesn't read submenus in the primary navigation"
It says there are submenus, but I haven't figured out how to access them and they aren't in the list of elements.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/0f0e3d70-3b81-4744-95f7-8d6f20e73e03)

A work around for this could be to make the primary nav items clickable and bring up the section homepage.

[2022-06-01 19:51] mcharg opened #1967 "The press release and reporter letters on the homepage have screen reader issues"
They read as a single item list and only reads the first item and then jumps to View All.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/df50660d-6e71-422a-82c6-e871ed4943cf)

[2022-06-01 19:57] mcharg opened #1968 "Social media links need accessible names (footer)"
It's reading the last part of the url (i.e. doionrr for Facebook). It would be better to pick up the menu label field from the CMS.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/2a8e5c89-75ed-4c2e-8094-83fce5692df2)

[2022-06-01 20:04] mcharg opened #1969 "Screen reader only reads the highlighted item in the left nav"
So here, it only reads How Leasing Works.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/c862421c-129d-44be-a29c-44693fb0c018)

[2022-06-01 20:20] mcharg opened #1970 "Hero images alt text isn't being read by screen reader"
They get skipped over entirely except on the homepage. Here is a video of what it does on the homepage. There's stray "graphic" tags within the text and the "H1" tag is in a weird place, plus it reads the paragraph twice.
https://doimspp-my.sharepoint.com/personal/mchargs_mms_gov/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fmchargs%5Fmms%5Fgov%2FDocuments%2FRecordings%2FTeams%20meeting%2D20220601%5F

[2022-06-01 20:21] mcharg commented on #1970
I would make this a low priority, except we're relying on the alt text for attribution of the images, so I made it a medium.

[2022-06-01 20:29] mcharg commented on #1555
These are reading as buttons, which works.

[2022-06-01 20:42] mcharg opened #1971 "Contacts, Events, Glossary links and footer icon links are missing visible focus indicator when tabbing"
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/06325c33-a4d3-43a7-b34c-c35954919bc1)

So do the logo/home, social, and contacts links in the footer

![Image](https://github.com/DOI-ONRR/onrr.gov-site/assets/115593715/1258c2b8-b9cb-43a1-a0c4-b29b2df8bf27)

[2022-06-01 20:47] mcharg opened #1972 "Screen reader testing"
Pages:
- [x] Global header
- [x] Global footer
- [x] Hero images
- [x] Left nav
- [x] Home
- [x] Getting Started Home
- [x] How Leasing Works
- [x] New Reporter Checklist
- [x] System Access
- [x] New Reporter Training
- [x] Reporting Home  _- Note: it did not read the alt text for the 3 images on this page. There is proper alt text in the CMS._
- [x] Oil & Gas Production
- [x] Oil & Gas Revenue
-

[2022-06-01 20:56] Maroyafaied opened #1973 "Add payor fraud announcement"
To homepage and paying section. I'm waiting on final wording for the announcement

[2022-06-01 23:05] Maroyafaied commented on #1973
Ruth & Rob approved through chat. Changes are now live. Closing

[2022-06-01 23:05] #1973 closed

[2022-06-02 12:46] #1965 closed

[2022-06-02 13:23] mcharg commented on #1967
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/137c920d-d2b0-447e-b5cd-7ff14f164069)

[2022-06-02 13:24] mcharg opened #1974 "Image loading progress bar doesn't have accessible name"
From OCIO Report:

OCIO Violation: Provide alternative text for images
Occurance: 10%
Severity: 10
Priority: 10
Note: This svg element does not have a mechanism that allows an accessible name value to be calculated

Description: This is a single element with 137 instances. It’s the circular progress bar when any page is slow to load

![image.png](https://images.zenhubusercontent.com/63482c003bae1b

[2022-06-02 13:25] mcharg commented on #1968
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/a60f8def-e7b2-4397-a5ee-e0e36778514c)![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/4c9a9a25-efff-484f-acce-2cbdd84e671c)

[2022-06-02 13:29] mcharg commented on #1969
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/31a10e9a-a0e9-4015-98b4-85cad825d7d8)

[2022-06-02 13:29] mcharg commented on #1969
[Uploading... image.png]

[2022-06-02 14:43] boices opened #1975 "Update NYMEX on onrr.gov"
Good morning,

Please update the May NYMEX prices on onrr.gov

Thank you!

@sudarr
[NYMEX052022.xlsx](https://github.com/ONRR/onrr.gov-site/files/8824923/NYMEX052022.xlsx)

[2022-06-02 14:51] cthomasONRR commented on #1975
@boices Good morning, this update in the the dev site: http://2017onrr/valuation/NYMEX.htm. Please review and give us your approval to go live. Thanks.

[2022-06-02 14:52] boices commented on #1975
@cthomasONRR that's perfect--thanks again!

[2022-06-02 14:58] #1455 closed

[2022-06-02 15:54] lpgoldstein commented on #1920
flagged with delete tag

[2022-06-02 16:53] mcharg opened #1976 "Screen Reader issue: Headings are not tagged correctly"
For instance, this page has an H1 and an H2 and neither are showing up in the headings list.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/74939905-d6c1-4370-b683-d1dbb4d98bf6)

[2022-06-02 16:58] mcharg commented on #1974
Reporting Home page
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/af08efa8-f1c9-484e-bc4c-7533b9bc8859)

[2022-06-02 17:01] mcharg commented on #1969
There are also issues with this menu on mobile. ![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/cf1bed4e-4628-4663-b2f5-5b9da21871de)

[2022-06-02 17:22] mcharg opened #1977 "Research search.gov"

[2022-06-02 17:29] cthomasONRR opened #1978 "Production Reporting References"
Email from Johnny Erle from the onrr.gov inbox.

Hello,

On the ONRR.gov home page, please update the Production Reporting References with the attached files. The new as of date is 06/02/2022.
There are five Gulf files.

[2022-06-02 17:36] mcharg opened #1979 "Reach out to Sam to show us how to use a screen reader"

[2022-06-02 17:36] mcharg opened #1980 "Reach out to Sam to show us how to use a screen reader"

[2022-06-02 17:47] cthomasONRR commented on #1978
Emailed Johnny for review and approval. All 5 docs are updated in the CMS. I added the updated date in the description box.

[2022-06-02 18:08] mcharg opened #1981 "Mobile menu is missing a label"
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/75dff834-95b9-451a-bd0b-5eef48c3d067)

[2022-06-02 19:01] cthomasONRR commented on #1978
Changes are live. Closing issue.

[2022-06-02 19:01] #1978 closed

[2022-06-03 15:16] mcharg commented on #1980
Duplicate

[2022-06-03 15:16] #1980 closed

[2022-06-03 15:43] penvosej opened #1982 "Indian Index Zones for June 2022"
Hello, the June 2022 Indian Index Zone prices are ready to be published on ONRR.gov.  The "Data for ONRR.gov" Excel spreadsheet has been updated with relevant data.

@sudarr

[2022-06-03 15:52] lpgoldstein commented on #1982
@penvosej ready for review http://2017onrr/valuation/allzones.htm

[2022-06-03 16:54] mcharg commented on #1974
Reporting > Geothermal
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/54509603-e9c7-4f9d-b38d-d42ceb451cef)

[2022-06-03 18:09] mcharg commented on #1974
How Valuation Works
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/e6e7c5bf-3963-4ed0-9cd7-68612c9f46aa)

[2022-06-03 18:30] mcharg opened #1983 "Contact search button doesn't have an accessible label"
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/2501adbc-acfd-48f7-aedd-cbb251730034)

[2022-06-03 18:35] mcharg commented on #1954
I made sure we have issues for all the errors found in the Lighthouse reports.

[2022-06-03 18:35] #1954 closed

[2022-06-03 18:36] mcharg commented on #1910
Sent another email.

[2022-06-03 18:38] mcharg commented on #1910
Michael Anspach said we can call all the solids pages approved.

[2022-06-03 18:38] #1910 closed

[2022-06-03 18:41] mcharg commented on #1765
Sent another email.

[2022-06-03 18:47] #1956 closed

[2022-06-03 19:10] mcharg opened #1984 "Request approval to present at DOI Digital Week"
@Maroyafaied I forwarded you an email from Sid.

[2022-06-03 20:29] mcharg commented on #1210
@crobey98 Any updates on this?

[2022-06-03 20:40] mcharg commented on #1958
Crystel pointed out some copy we need to add. Waiting on RRM to send final copy.

[2022-06-03 22:41] lpgoldstein commented on #1982
Approved via email. Live and closing issue.

[2022-06-03 22:41] #1982 closed

[2022-06-06 17:14] damionschulte opened #1985 "May 2022 IBMP Prices"
All, I have updated the Data for ONRR sheet on the OneDrive with the May 2022 IBMP Prices. Can you please have them posted to the website?  Also I've attached the spreadsheet with the prices in the format we discussed.  Please let me know if you need anything else. Thanks

Damion

@sudarr
[May 22 IBMP For GitHub.xlsx](https://github.com/ONRR/onrr.gov-site/files/8846251/May.22.IBMP.For.GitHub.xlsx)

[2022-06-06 18:27] cthomasONRR commented on #1985
For the spreadsheet, we need the year and month present like this:
![image](https://user-images.githubusercontent.com/72526208/172222959-85a4dc7c-da23-4847-91a6-233e4bc1addd.png)

I can modify the spreadsheet you sent. Thanks!

[2022-06-06 18:41] damionschulte commented on #1985
Prices look great!  Thank you.

From: Christine Thomas ***@***.***>
Sent: Monday, June 6, 2022 12:26 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Schulte, Damion C ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] May 2022 IBMP Prices (Issue #1985)

 This email has been received from outside of DOI - Use caution before clicking on links, opening attachments, or respondi

[2022-06-06 18:41] damionschulte commented on #1985
Ok cool.  I will fix the sheet for next month.

From: Christine Thomas ***@***.***>
Sent: Monday, June 6, 2022 12:28 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Schulte, Damion C ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] May 2022 IBMP Prices (Issue #1985)

 This email has been received from outside of DOI - Use caution before clicking on links, opening attachme

[2022-06-06 19:02] cthomasONRR commented on #1985
@damionschulte

Great! These changes are now live: https://www.onrr.gov/valuation/IndianOilIBMP.htm
Remember to use "Ctrl+F5" to refresh the page.

Thanks!
Christine

[2022-06-06 20:04] cthomasONRR commented on #1972
@mcharg I've checked all pages except for the contacts pages. I'll do that tomorrow (need a break from NVDA).

I only check 2 of the rulemakings and ICR pages each, let me know if you want me to go back and check all of those. They are simple with just text and sometimes a bulleted list, so I didn't feel the need to check them all.

[2022-06-06 22:29] lpgoldstein commented on #1977
unable to access search.gov. emailed and waiting to hear back.

[2022-06-06 22:34] Maroyafaied commented on #1984
Howard approved, I will create another issue to work on the presentation.

[2022-06-06 22:34] #1984 closed

[2022-06-06 22:35] Maroyafaied opened #1986 "Create presentation for DOI Digital Week"

[2022-06-06 23:45] Maroyafaied commented on #1979
Send Sam an email

[2022-06-07 13:15] mcharg commented on #1972
@cthomasONRR Can you create an issue for all the images that aren't reading alt text?

I don't think it's necessary to go through all the rulemaking and ICR pages.

[2022-06-07 13:17] cthomasONRR commented on #1897
@mcharg

I believe I have these fixed:
![image](https://user-images.githubusercontent.com/72526208/172389598-37d6eb08-afc9-4605-b406-f183b541af3f.png)

Want to review, or can I close?

[2022-06-07 13:18] mcharg commented on #1897
@cthomasONRR Looks good.

[2022-06-07 13:19] cthomasONRR commented on #1972
@mcharg OK will do. I'll check the contacts pages this afternoon (just can't get myself to use NVDA right now lol)

[2022-06-07 13:20] cthomasONRR commented on #1897
@mcharg Great! Closing!

[2022-06-07 13:20] #1897 closed

[2022-06-07 13:21] cthomasONRR opened #1987 "NVDA not reading out the alt text for the following images"
**Hero images**

- [x] None of the Hero Images have alt text: https://dev-onrr-cms.app.cloud.gov/admin/files/folders/8c9f9538-b9ba-424e-a1ac-28983c1a8354

**Home**

- [x] Revenue Statistics Image (NRRD Oil Rig): https://dev-onrr-cms.app.cloud.gov/admin/files/02564c61-ce46-4a9e-813e-2870861643a1

**Reporting Home**

- [x] Oil & Gas Icon: https://dev-onrr-cms.app.cloud.gov/admin/files/dca156d4-68e0-

[2022-06-07 16:09] mcharg commented on #1275
@bowlenj Can you help with this?

[2022-06-07 17:38] bowlenj commented on #1275
I just replied to an email now regarding the conversion.  I'm happy to help with any wording, let me know if you have questions or need additional information.

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only f

[2022-06-08 13:05] HammenONRR opened #1988 "Webpage Update - New Lease Agreement XREF files for onrr.gov"
Please replace the existing file located at: http://www.onrr.gov/ReportPay/CrossRef.htm called “Cross-Reference Lease to Agreement Number” with the file entitled “June 2022 Lease Agreement XREF.txt and June 2022 Lease Agreement XREF.xlsx”.  It was queried from the system on 6/8/2022
[June 2022 Lease Agreement XREF.txt](https://github.com/ONRR/onrr.gov-site/files/8861722/June.2022.Lease.Agreement.X

[2022-06-08 13:07] cthomasONRR commented on #1972
@mcharg For all contacts pages so far, it's picking up heading level 2:
![image](https://user-images.githubusercontent.com/72526208/172624051-6ca023c1-0681-4cb5-ba44-92a2489166f3.png)

![image](https://user-images.githubusercontent.com/72526208/172623993-b7ea26d7-99af-4783-9458-ceaa1e9e1200.png)

[2022-06-08 13:11] mcharg commented on #1972
@cthomasONRR We should create an issue for that, since on some pages it needs to be H2, but if there's already a tab title that's H2, they should be H3.

[2022-06-08 13:15] cthomasONRR commented on #1988
@HammenONRR

Good morning, these changes are on the dev site: http://2017onrr/reportpay/CrossRef.htm.
Please review and give us your approval to go live.

Thanks,
Christine

[2022-06-08 13:37] cthomasONRR opened #1989 "Screen Reader issue: Contacts headers need to reflect the heading level based on location"
Currently all light purple contact headers are being read out as Heading 2.

But, they need to be hierarchical depending on the rest of the page. If the page has tabs, there's an H2 for the tab title, so the contact headers should be H3. Example:
![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/24968ec8-540a-4e7a-ac7c-fd616c2c81f2)![image.png](https://images.zenhubusercon

[2022-06-08 13:37] Maroyafaied opened #1990 "May Analytics"

[2022-06-08 14:31] cthomasONRR commented on #1988
@HammenONRR Great, these changes are now live: https://www.onrr.gov/ReportPay/CrossRef.htm. Please remember to use "Ctrl+F5" to refresh the page. Thanks!

[2022-06-08 14:31] #1988 closed

[2022-06-08 18:39] mcharg commented on #1255
Put in labels in place of the icons.

[2022-06-08 18:39] #1255 closed

[2022-06-08 19:20] mcharg opened #1991 "Write final blog post"

[2022-06-08 19:26] cthomasONRR commented on #1856
@mcharg I set these to "Draft" instead of "Published" until the Directus bug gets fixed.

[2022-06-08 19:26] mcharg commented on #1765
@Maroyafaied Do you want me to take out the links to this doc?

[2022-06-08 19:34] Maroyafaied commented on #1765
@mcharg Yes, I'll add it again if the doc is updated.

[2022-06-08 19:38] Maroyafaied commented on #1862
@cthomasONRR Thanks! I sent Jodi an invite for June 13th.

[2022-06-08 19:39] cthomasONRR commented on #1916
I added a comment (https://github.com/directus/directus/pull/12506)
![image](https://user-images.githubusercontent.com/72526208/172702861-9d8c803b-371b-4146-9a18-869bd4eac041.png)

[2022-06-08 19:53] mcharg commented on #1765
I also added an Accessibility Errors label to the doc in the Documents folder in the CMS.

[2022-06-08 20:09] Maroyafaied commented on #1765
@mcharg sounds good. Thanks

[2022-06-09 12:44] mcharg commented on #1868
@cthomasONRR Do you want to learn how to write a study plan before I go?

[2022-06-09 16:28] mcharg commented on #1916
@mojobnichols This might be a quick fix.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/89870e14-48df-4a9a-b425-37e9b8485cf0)

[2022-06-09 16:35] cthomasONRR commented on #1916
https://github.com/directus/directus/discussions/12818

[2022-06-09 16:36] Maroyafaied opened #1992 "Updates to cross ref webpage"
https://onrr.gov/reportpay/CrossRef.htm

comment out content in pic below and add paragraph from the new dev site with link to appendix B from revenue handbook.

![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/35190daa-d491-4da0-8938-0eeb9d3c467f
)

[2022-06-09 16:39] Maroyafaied commented on #1958
@mcharg please take out the formatting tab and add link to appendix B from the revenue handbook and send to Jessica for approval. Thanks

[2022-06-09 17:38] Maroyafaied commented on #1979
@cthomasONRR met with Sam and confirmed heading issues and lef nav issues. We will work on fixing those and re-testing with Sam.

[2022-06-09 17:38] #1979 closed

[2022-06-09 17:54] Maroyafaied commented on #1992
@cthomasONRR looks like @mcharg already made those changes.

[2022-06-09 17:54] Maroyafaied commented on #1992
http://2017onrr/reportpay/CrossRef.htm

[2022-06-09 18:02] cthomasONRR commented on #1976
I talked with Sam, and these headings are how he navigates through a webpage. He says they are necessary and without them, the website can't be considered 508-compliant.

[2022-06-09 18:07] cthomasONRR opened #1993 "Add caution and info icons to cards"
- [x] 2016 Processed Gas Example

- [x] POP Unprocessed Gas Example

- [x] Indian Payor Handbook

[2022-06-09 18:30] mcharg opened #1994 "Due June 23: Boston UXPA proposal"
http://uxpaboston.org/uxpa-boston-events/user-experience-conference/2022-call-for-proposals/

[2022-06-09 18:37] cthomasONRR commented on #1993
@mcharg Want to click through these 3 webpages and make sure I got icons on all the cards?

[2022-06-09 18:48] mcharg commented on #1993
@cthomasONRR I think you got them all. Are these pages ready for ODDD approval now?

[2022-06-09 18:51] cthomasONRR commented on #1993
@mcharg The only things missing are:

- [ ] Colors for the icons
- [ ] Next and back links (blocked by directus bug)

So I guess they are ok for approval.

[2022-06-09 19:00] bowlenj opened #1995 "Active Agreements and Active Lease Update"
Please update the following webpage:
https://onrr.gov/reportpay/CrossRef.htm

1. Active Agreements - sorted by State and Agreement name.
2. Active Agreements - sorted by State and Agreement number.

with the attached excel files.  Please also change (updated 1/01/2022) to 6/9/2022 for both.
[saanum.xlsx](https://github.com/ONRR/onrr.gov-site/files/8873163/saanum.xlsx)
[saaname.xlsx](https://github

[2022-06-09 19:18] mcharg commented on #1597
Approved by ODDD.

[2022-06-09 19:18] #1597 closed

[2022-06-09 19:19] mcharg commented on #1446
Approved by ODDD

[2022-06-09 19:19] #1446 closed

[2022-06-09 19:19] mcharg commented on #1449
Approved by ODDD.

[2022-06-09 19:19] #1449 closed

[2022-06-09 19:20] cthomasONRR commented on #1995
@bowlenj Thanks for your clarifications. This is on the dev site: http://2017onrr/reportpay/CrossRef.htm.

Please review and give us your approval to go live.

Thanks,
Christine

[2022-06-09 19:24] #1992 closed

[2022-06-09 19:25] mcharg commented on #1958
Done and approved.

[2022-06-09 19:25] #1958 closed

[2022-06-09 19:27] #1993 closed

[2022-06-09 19:29] mcharg opened #1996 "Write blog post about internship"

[2022-06-09 19:56] bowlenj commented on #1995
Perfect, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from d

[2022-06-09 19:58] bowlenj opened #1997 "Active Leases"
Please update the following webpage - https://onrr.gov/reportpay/CrossRef.htm, with the attached file.

Active Leases - Sorted by State and Agency Lease Number (updated 1/3/2022) please replace with 6/9/2022.
[ALwState.xlsx](https://github.com/ONRR/onrr.gov-site/files/8873501/ALwState.xlsx)

[2022-06-09 20:02] cthomasONRR commented on #1995
@bowlenj Great, this is live: https://www.onrr.gov/reportpay/CrossRef.htm. Please remember to use "Ctrl+F5" to refresh the page.

Thanks,
Christine

[2022-06-09 20:02] #1995 closed

[2022-06-09 20:03] cthomasONRR commented on #1997
@bowlenj This is ready for your review and approval on the dev site: http://2017onrr/reportpay/CrossRef.htm

[2022-06-09 20:06] cthomasONRR commented on #1972
@mcharg I think we can close this issue. We have new issues addressing the screen reader shortcomings.

[2022-06-09 20:13] mcharg commented on #1424
@cthomasONRR I added horizontal lines to separate the bold sections as a workaround for the colored text. I also updated the intro paragraph accordingly. Take a look and see if it looks good to you.
https://dev-onrr-frontend.app.cloud.gov/references/statutes/fogrma-amendments

[2022-06-09 20:14] #1972 closed, assigned to mcharg, lpgoldstein, cthomasONRR

[2022-06-09 20:25] mcharg commented on #1424
Removed (date) and marked page as approved by ODDD.

[2022-06-09 20:25] #1424 closed

[2022-06-09 20:27] mcharg opened #1998 "Revise sample statement copy to not mention gold text"
https://dev-onrr-frontend.app.cloud.gov/references/valuation/processed-gas-example?tabs=sample-statement
https://dev-onrr-frontend.app.cloud.gov/references/valuation/pop-example?tabs=sample-statement

[2022-06-09 20:28] mcharg commented on #1998
@cthomasONRR This is ready to review.

[2022-06-09 20:30] cthomasONRR commented on #1998
@mcharg looks good, thanks!

[2022-06-09 20:30] #1998 closed

[2022-06-09 20:31] mcharg commented on #1425
We have work around for these for the launch.

[2022-06-09 20:49] bowlenj commented on #1997
Looks great, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt fr

[2022-06-09 20:49] mcharg commented on #1541
Building manually for launch.

[2022-06-09 21:01] cthomasONRR commented on #1997
@bowlenj Great! The changes are now live: https://www.onrr.gov/reportpay/CrossRef.htm. Thanks for all your help today!

[2022-06-09 21:01] #1997 closed

[2022-06-10 17:22] mcharg commented on #1541
@cthomasONRR This is ready for you to review.
https://dev-onrr-frontend.app.cloud.gov/glossary

[2022-06-10 20:14] mcharg opened #1999 "Update favicon"
Should we use the one from NRRD or the ONRR logo?

[2022-06-10 20:23] mcharg commented on #1977
@mojobnichols I set up a site for search.gov. I think we just need to add in this code somewhere.

Form Snippet
`<!DOCTYPE html>
<html>
<head><title>page title</title></head>
<body>
  <form id="search_form" action="https://search.usa.gov/search" accept-charset="UTF-8" method="get">

    <input type="hidden" name="affiliate" id="affiliate" value="onrr.gov" autocomplete="off" />
    <label for="quer

[2022-06-10 20:26] mcharg commented on #1977
I also applied styling to search results.
https://search.usa.gov/search?affiliate=onrr.gov&query=production&commit=Search

[2022-06-10 20:28] mcharg commented on #1977
@mojobnichols I also found API stuff. I added you to the account, so you can go in and take a look. You should have an invite in your email.

[2022-06-10 20:48] lpgoldstein commented on #1977
I'm still emailing with search.gov to get a meeting set up and approve Maroya and Christine.

[2022-06-13 13:51] #1541 closed

[2022-06-13 15:24] Maroyafaied commented on #1986
Send descriptions, pics, and bio today and final presentation when it's ready.

[2022-06-13 15:27] cthomasONRR commented on #1986
@lpgoldstein @Maroyafaied @mcharg here's a long version of the presentation description:

**From 5,000 to 0: Prioritizing Documents for 508-Compliant Remediation**
When the Director of the Office of Natural Resources Revenue (ONRR) decided to ensure all documents on onrr.gov are Section 508 compliant in July of 2020, we thought it would be a reasonable project. This presentation focuses on our pla

[2022-06-13 15:32] Maroyafaied commented on #1986
This is the short version we used for DOI Equity office hours.

The Office of Natural Resources Revenue (ONRR) successfully met accessibility requirements by ensuring that all public facing documents on onrr.gov are Section 508 compliant. The Open Data, Design, and Development (ODDD) team will share their successful project plan to remediate over 5,000 documents to be Section 508 compliant. In thi

[2022-06-13 15:34] cthomasONRR commented on #1986
I'm fine with either, they are both good :)

[2022-06-13 16:34] cthomasONRR commented on #1986
I made a copy of the 508 Equity Office Hour presentations and saved it as "508 DOI Digital Week July 2022" [here](https://teams.microsoft.com/l/file/3ACEF94C-FD63-44D0-A860-31F02E641888?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=pptx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FOutreach%2FProposals%20%26%20Presentations%2FFY22%2F508%20D

[2022-06-13 17:21] lpgoldstein commented on #1986
Lindsay Goldstein is a Program Analyst with the Open Data, Design & Display team in the Office of Natural Resources Revenue in the Department of the Interior. An economist by training, she made her way over to civic tech a few years ago and there's no turning back. She loves learning and sharing new methods of making government accessible for everyone.

[2022-06-13 17:28] mcharg opened #2000 "Valuation examples flow chart"
Jodie will be sending what needs to go in the chart.

[2022-06-13 17:31] cthomasONRR commented on #1986
I emailed Sid and Angela our presentation summary and presenter bios.

[2022-06-13 19:28] cthomasONRR commented on #1990
@mcharg This is ready for your review. Waiting on the image to be viewable because of the branch updates, but it's update in the file folder.
https://github.com/ONRR/onrr.gov-site/wiki/Analytics

[2022-06-13 19:36] mcharg commented on #1990
@cthomasONRR The dashboard report needs to be uploaded to this folder.
![image](https://user-images.githubusercontent.com/38465926/173431242-a5f82d4d-0df0-49e1-b093-17d337c56c36.png)

[2022-06-13 19:40] cthomasONRR commented on #1990
@mcharg It's there for me:
![image](https://user-images.githubusercontent.com/72526208/173431870-86adbc12-ab18-4d4b-a27f-9a4a5416be3b.png)
https://github.com/ONRR/research/tree/master/onnr-dot-gov-research/analytics/FY22

[2022-06-13 19:49] mcharg commented on #1990
@cthomasONRR Looks good!

[2022-06-13 19:49] #1990 closed

[2022-06-14 15:32] mcharg opened #2001 "Add analytics tracking"

[2022-06-14 15:33] mcharg opened #2002 "Add analytics tracking"

[2022-06-14 17:16] cthomasONRR commented on #1986
@lpgoldstein @mcharg The presentation is ready for your review

[2022-06-14 17:35] mcharg commented on #1986
@cthomasONRR Looks good. My only comment is to update the team slide.

[2022-06-14 20:05] cthomasONRR opened #2003 "Update spacing in Processed Gas example"
https://dev-onrr-frontend.app.cloud.gov/references/valuation/processed-gas-example?tabs=overview

RV doesn't like the spaces with the text of the Overview section. I believe I can fix this when the Directus pagination bug is fixed.

![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/f18dc292-a1bd-4860-b462-9ae376285f27)

[2022-06-14 20:07] cthomasONRR commented on #1862
I resolved all their requested updated. I created Issue #2003 for the one that is blocked by the Directus bug.

[2022-06-14 20:10] cthomasONRR commented on #1986
@mcharg Thanks, I incorporated the updated one you sent into the presentation

[2022-06-14 20:29] #2002 closed, assigned to mojobnichols

[2022-06-15 12:42] cthomasONRR commented on #1944
Complete:
![image](https://user-images.githubusercontent.com/72526208/173829399-dd65f031-af09-43da-9422-d2ef9bc77138.png)

[2022-06-15 12:45] cthomasONRR commented on #1927
Complete:
![image](https://user-images.githubusercontent.com/72526208/173829911-ebf85d17-5411-4e2f-bfce-e7853d26fc05.png)

@mcharg Want to review?

[2022-06-15 12:54] cthomasONRR commented on #1856
@mcharg Next and Back links are in place. This is ready for your review.

[2022-06-15 13:07] cthomasONRR commented on #2003
Completed:
![image](https://user-images.githubusercontent.com/72526208/173834324-f03dc719-d7d4-483b-9d6b-ae11ad9bea32.png)

@mcharg Want to review?

[2022-06-15 13:32] mcharg commented on #1927
@cthomasONRR Looks good.

[2022-06-15 13:35] #1927 closed

[2022-06-15 13:39] mcharg opened #2004 "Allow expansion panels to stay closed"
When you use the tabs, the Assumptions panel stays closed, but when you use the Next tab and Previous tab links, it reopens.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/bca000dd-13c8-43a5-abde-324c23a10767)

[2022-06-15 13:40] mcharg commented on #1856
@cthomasONRR Looks good. I created a new issue to address the Assumptions panel reopening when you use the Next tab and Previous tab links.

[2022-06-15 13:41] #1856 closed

[2022-06-15 13:42] mcharg commented on #2003
@cthomasONRR Looks good.

[2022-06-15 13:42] #2003 closed

[2022-06-15 13:46] mcharg commented on #1932
@cthomasONRR Want to review?
https://dev-onrr-frontend.app.cloud.gov/reporting/solids?tabs=references&panel=i-need-to-understand-how-to-file-reports-for-solid-minerals

[2022-06-15 13:48] cthomasONRR commented on #1932
@mcharg Looks good :)

[2022-06-15 13:49] mcharg commented on #1902
@cthomasONRR Want to review.
https://dev-onrr-frontend.app.cloud.gov/paying/payment-options?tabs=tribal-lockbox-payments

[2022-06-15 13:50] cthomasONRR commented on #1902
@mcharg Want to add an alert/caution icon?
![image](https://user-images.githubusercontent.com/72526208/173843924-398bab3f-a122-468a-b3ba-7f22f68370d5.png)

[2022-06-15 13:51] mcharg opened #2005 "Add instructions to wiki about getting unsampled analytics reports"

[2022-06-15 13:52] mcharg opened #2006 "Add instructions to wiki for how to check to see if analytics are turned on in the dev site"

[2022-06-15 13:54] mcharg commented on #1902
@cthomasONRR Icon added.

[2022-06-15 15:57] mcharg opened #2007 "Submit sitemap to Bing and Google"
https://smallbusiness.chron.com/submit-map-bing-75016.html

[2022-06-15 16:04] mcharg opened #2008 "Look into using search.gov API to have the search results page live on our site"
That way we can have the regular site header and footer.

[2022-06-15 16:51] mcharg opened #2009 "Troubleshooting Guide Presentation"
So it's ready to go for conferences after I leave.

[2022-06-15 17:00] mcharg commented on #873
please see below links to the information we discussed during our call:
[Manage Your Site Configuration and Use of Features from the Admin Center](https://search.gov/admin-center/index.html)
[APIs for Search.gov Customers](https://search.gov/developer/)
[How to Index with Search.gov - Our indexer](https://search.gov/indexing/indexing-with-searchgov.html)

[2022-06-15 17:37] lpgoldstein commented on #1977
closing this issue because we've met with the search.gov team and know what we need to do around launch to make our search function.

[2022-06-15 17:37] #1977 closed

[2022-06-15 21:34] cthomasONRR commented on #1862
Jodie emailed her approval, so I marked RV's pages as "approved by SME" in the content tracking sheet.

[2022-06-16 12:52] #1916 closed

[2022-06-16 12:52] mcharg commented on #1916
Fixed

[2022-06-16 12:53] #1862 closed

[2022-06-16 12:56] mcharg commented on #1447
Analytics from May to help determine whether we need the coloring on the icons at launch.

2016 example: 160 page views (0.48% of total page views)
POP example: 61 page views (0.18% of total page views)

[2022-06-16 12:59] mcharg commented on #1765
This has been sent back to RRM by Stacey's team. Jessica is checking with Mary to see if it's worth updating the guide and putting it on the website.

[2022-06-16 13:00] mcharg commented on #1765
I'm moving this back to the backlog, since we've removed the links and just need to add them back in later if we get an updated guide.

[2022-06-16 13:03] mcharg commented on #1989
@Maroyafaied I'm thinking this one might be able to wait until after launch. It's going to require logic to figure out whether there's a tab when contacts display. It's more important to get the headers reading at all than to not be skipping levels.

[2022-06-16 13:13] mcharg commented on #1999
@Maroyafaied Do we want to use the favicon from NRRD or the ONRR logo?

[2022-06-16 13:15] mcharg commented on #1999
NRRD:
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/6504878f-32c8-4e23-8540-dfbe1be3d204)
ONRR logo:
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/3ebc4ed9-777f-4abb-8367-1b880b7ad74b)

[2022-06-16 13:16] Maroyafaied commented on #1999
@mcharg ONRR logo.

[2022-06-16 15:33] Maroyafaied opened #2010 "Indian example visual"
Jodie will send a rough decision tree and we will create a visual to help users decide which example they should be looking at.

[2022-06-16 15:38] Maroyafaied opened #2011 "Offline sketching user types"

[2022-06-16 15:48] Maroyafaied commented on #2010
closing this since issue#2000 is already open for it.

[2022-06-16 15:48] #2010 closed

[2022-06-16 19:25] mcharg opened #2012 "Lighthouse reports on the blog"

[2022-06-21 15:07] Maroyafaied commented on #1765
@mcharg Jessica emailed saying let's not put it on onrr.gov at the time since they don't have the source doc.

[2022-06-21 17:19] Maroyafaied opened #2013 "Figure out server outage"

[2022-06-21 17:22] Maroyafaied commented on #1447
Will close and make another issues for coloring icons.

[2022-06-21 17:22] #1447 closed

[2022-06-22 13:28] cthomasONRR commented on #2011
I added my brainstorming ideas to the folder [here](https://teams.microsoft.com/_#/files/General?groupId=81f624a1-bcde-4f77-ba3b-69c787c88ed3&threadId=19%3A34f9f9ee6b0441dbacab56bfd552f819%40thread.skype&ctx=channel&context=User%2520Types&rootfolder=%252Fsites%252FNRRD%252FShared%2520Documents%252FGeneral%252FONRR.gov%252FUser%2520Research%252FUser%2520Types)

[2022-06-22 19:01] mcharg commented on #1999
https://dev-onrr-frontend.app.cloud.gov/

[2022-06-22 19:01] mcharg commented on #1999
@Maroyafaied This is ready to review.

[2022-06-22 19:03] mcharg commented on #1964
Links all work.

[2022-06-22 19:03] #1964 closed

[2022-06-22 19:59] mcharg commented on #1999
Also updated on the search results page. https://search.usa.gov/search?affiliate=onrr.gov

[2022-06-22 20:11] Maroyafaied commented on #1999
@mcharg looks great.

[2022-06-22 20:26] #1999 closed

[2022-06-22 20:34] mcharg commented on #1999
If you need to update the favicon after I leave, the SVG and ICO files are in this folder. https://doimspp.sharepoint.com/:f:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Visual%20Design/Favicon?csf=1&web=1&e=nFi2qD

[2022-06-22 21:11] Maroyafaied commented on #1868
@cthomasONRR looks great, good job! I added a few small comments. Thanks

[2022-06-22 21:19] Maroyafaied opened #2015 "Recruit participants for dev study"

[2022-06-22 21:21] Maroyafaied opened #2016 "Conduct dev study"

[2022-06-23 12:35] Maroyafaied commented on #1868
@cthomasONRR looks good. Thanks

[2022-06-23 12:49] cthomasONRR commented on #1868
I also have a participant list excel set up and a notes template ready to go. (Located in the same file folder as the study plan, [here](https://teams.microsoft.com/_#/files/General?groupId=81f624a1-bcde-4f77-ba3b-69c787c88ed3&threadId=19%3A34f9f9ee6b0441dbacab56bfd552f819%40thread.skype&ctx=channel&context=12_DevSite&rootfolder=%252Fsites%252FNRRD%252FShared%2520Documents%252FGeneral%252FONRR.gov

[2022-06-23 13:19] mcharg commented on #1868
@cthomasONRR You are amazing.

[2022-06-23 13:52] #1994 closed

[2022-06-23 14:26] mcharg commented on #2011
Added my sketches. https://doimspp.sharepoint.com/:p:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/User%20Research/User%20Types/Sketches/Shannon_Sketches.pptx?d=w60275f70daa14ea7a34b2a7c7eac37f7&csf=1&web=1&e=YpC22O

[2022-06-23 14:33] mcharg commented on #259
@mojobnichols I think you're going to have to put in tagging before we can generate the XML sitemap. This is what I got from an automatic sitemap generator.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/8dbda7a9-ef5a-4c67-a9a7-dd8045dbcb0f)

[2022-06-23 14:36] cthomasONRR commented on #259
@mojobnichols Yeah, when I go to https://dev-onrr-frontend.app.cloud.gov/site-map > right click > view page source, this is what I see:

![image](https://user-images.githubusercontent.com/72526208/175325312-421efc72-8cab-4637-9eb4-4cd888878528.png)

[2022-06-23 14:46] Maroyafaied opened #2017 "Q3 Metrics"

[2022-06-23 15:03] cthomasONRR commented on #1274
After some thought, maybe this should be a checklist we use and when something fails, we send back to document owner? That way, we are not spending hours manually checking documents.

[2022-06-23 15:06] Maroyafaied commented on #1911
@mojobnichols please give @Maroyafaied @cthomasONRR access as admin.

[2022-06-23 15:17] #1952 closed

[2022-06-23 15:26] #1970 closed

[2022-06-23 17:24] mcharg commented on #2005
@cthomasONRR I added the instructions to the NRRD analytics instructions page. Let me know if they look good and I'll add them to the instructions pages for ONRR.gov and the blog.
https://github.com/ONRR/nrrd/wiki/Analytics-Reports

[2022-06-23 17:50] cthomasONRR commented on #2005
@mcharg I think it looks good. I will use it for next round of analytics. I updated some formatting to make the text/images more separated for readability.

[2022-06-23 17:59] mcharg commented on #2006
@cthomasONRR This is ready to review.
https://github.com/ONRR/onrr.gov-site/wiki/Dev-Site-Analytics

[2022-06-23 18:28] mcharg opened #2018 "Compile MUI icons we're using on the site for the widget library"

[2022-06-23 19:16] mcharg commented on #2005
Added to the onrr.gov and blog instructions pages.
https://github.com/ONRR/onrr.gov-site/wiki/Analytics-Templates-&-Instructions
https://github.com/ONRR/blog-nrrd/wiki/Analytics-Templates-&-Instructions

[2022-06-23 19:16] #2005 closed, assigned to mcharg

[2022-06-23 19:22] cthomasONRR commented on #2006
@mcharg Looks good, just edited some formatting.

[2022-06-23 19:36] #2006 closed

[2022-06-24 15:01] mcharg commented on #2018
I got all the icons pulled in @cthomasONRR if you want to take a look and see if I missed any.
https://mjf0mg.axshare.com/

[2022-06-24 15:27] #2018 closed

[2022-06-24 16:21] mcharg commented on #1108
@cthomasONRR and I completed this.

[2022-06-24 16:21] #1108 closed

[2022-06-24 16:25] mcharg opened #2019 "Axure training"

[2022-06-27 14:11] mcharg commented on #2000
Sent Jodie an email to get an update on when she'll have the rough tree to us.

[2022-06-27 14:20] mcharg commented on #2000
Got a draft from Jodie and set up a meeting with Christine and Lindsay to show them how I do flow charts.

[2022-06-27 15:11] Maroyafaied commented on #2011
Added my sketch

https://teams.microsoft.com/l/file/AE9F2492-FEFE-42F9-A576-CF2B4BA766CC?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=pptx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FUser%20Research%2FUser%20Types%2FSketches%2FMaroya's%20sketch.pptx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD&serviceName=teams&

[2022-06-27 16:30] cthomasONRR opened #2020 "Production Reporting References"
Johnny Erle emailed the inbox with:

Hello,

On the ONRR.gov home page, please update the Production Reporting References with the attached files. The new as of date is 06/27/2022.
There are five Gulf files and three Pacific.

Thank you,

[2022-06-27 17:04] cthomasONRR commented on #2020
Changes are now live.

[2022-06-27 17:04] #2020 closed

[2022-06-28 13:03] Maroyafaied commented on #2015
I started recruiting yesterday, I'll add the names to the spreadsheet.

[2022-06-28 15:00] #2011 closed, assigned to mentastc, mcharg, lpgoldstein, Maroyafaied, cthomasONRR, jkwonatx, codyeckstein

[2022-06-28 15:19] Maroyafaied commented on #2015
This is the email I used to recruit, 2 out 3 responded so far.

Subject: New onrr.gov website feedback
Hi XX,

As you know, our Open Data, Design, and Development (ODDD) team has been redesigning the onrr.gov website. We are continuing to make sure the new redesign is meeting the needs of all stakeholders. In preparation of launching the new redesigned website, we would like to get your feedback o

[2022-06-28 16:12] mcharg opened #2021 "Evaluate triangles/poke holes"
For the next design studio.

[2022-06-28 17:06] #1687 closed

[2022-06-29 17:45] #2000 closed

[2022-06-29 19:24] cthomasONRR commented on #2016
Here's a thank you email template we can use for this study. I can send these to the 2 participants so far:

SUBJECT: Thank you for providing feedback on the new onrr.gov!

"Hello [participant name],

Thank you so much for taking time out of your work day to talk with the Open Data, Design, and Development team. Your feedback on the new onrr.gov is very much appreciated and valued!

If you have an

[2022-06-29 20:33] mcharg commented on #2001
@mojobnichols Instructions for adding our site to DAP are here. https://digital.gov/guides/dap/add-your-site-dap/

[2022-06-29 20:38] mcharg commented on #2001
@mojobnichols I think you just need to put in this code right before the </head> tag on all pages. I'm guessing we fall under the subagency example with DOI being the agency and ONRR being the subagency, but you could probably look at NRRD to see what we do there.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/584a38c8-c2f1-4345-8839-2e8942142078)

[2022-06-29 20:42] mcharg commented on #2001
@mojobnichols This is what I'm seeing in NRRD. ![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/b79fc6eb-53ce-45ed-8102-46b586079c86)

[2022-06-29 20:43] mcharg commented on #2001
@mojobnichols And this is what we have in the blog.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/7da2ee51-c67e-48f5-bbcf-1f51f2d30de0)

[2022-06-29 20:46] mcharg commented on #2001
I'm thinking you just need to put this line into the <head> tag to get basic analytics. You can add tag manager later.

<script async="" src="https://www.google-analytics.com/analytics.js"></script>

[2022-06-30 12:42] cthomasONRR opened #2022 "Practice presentation for DOI Digital Week"
This is to practice before meeting with Sid and Angela

[2022-06-30 12:43] cthomasONRR opened #2023 "Submit DOI Digital Week Presentation to Sid and Angela"
Due Friday July 8.

[2022-06-30 13:11] cthomasONRR commented on #1976
I emailed Sam for him to double-check accessibility and am waiting for his response.

[2022-06-30 13:11] cthomasONRR commented on #1969
I emailed Sam for him to double-check accessibility and am waiting for his response.

[2022-06-30 17:02] #1969 closed

[2022-06-30 17:02] #1976 closed

[2022-06-30 17:02] #1966 closed

[2022-06-30 17:17] lpgoldstein opened #2024 "Consolidate Dev Study Findings"

[2022-06-30 17:20] cthomasONRR opened #2025 "Meet with Sam about screen reader"

[2022-06-30 17:43] cthomasONRR commented on #2025
Meeting invite sent for Wednesday, July 6 @ 10am

[2022-06-30 20:16] cthomasONRR commented on #259
XML Site Map Generator: https://www.xml-sitemaps.com/

[2022-07-01 13:42] cthomasONRR opened #2026 "Pick Shannon's brain"

[2022-07-01 13:45] cthomasONRR commented on #2026
@mcharg Linked is a doc that has nrrd and onrr.gov analytics. I'm hoping to do the blog this sprint, just lots of interviews and meetings to distract

https://doimspp-my.sharepoint.com/:w:/r/personal/thomasc_mms_gov/Documents/Analytics%20June%2022.docx?d=w261b7ab33ba34182a8bbc2d4bb65236e&csf=1&web=1&e=z11J3A

[2022-07-01 14:15] mcharg opened #2027 "Set up analytics reports for dev site"

[2022-07-01 16:17] #2022 closed

[2022-07-01 16:18] cthomasONRR commented on #2023
@Maroyafaied We added an additional slide at the end of the presentation to list all our accessibility blog posts. Could you please review again and then I'll email to Sid and Angela

https://teams.microsoft.com/l/file/3ACEF94C-FD63-44D0-A860-31F02E641888?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=pptx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2

[2022-07-01 17:55] Toddsand21 opened #2028 "SHAWNEE AREA VIRTUAL OUTREACH"
SHAWNEE AREA VIRTUAL OUTREACH
Thursday, July 21, 2022
1:00 PM– 2:00 PM CST

LOCATION: By Telephone

DESCRIPTION: Meeting will be a Call-in Meeting to hear a brief presentation and updates from the ONRR Outreach Office.  Representatives from each of the BLM, BTFA, and BIA will also be on the call to discuss topics regarding Indian Oil & Gas leases, IIM Accounts and Indian Trust property issues, and

[2022-07-01 18:24] lpgoldstein commented on #2028
@Toddsand21 Ready for your review: http://2017onrr/events.htm

[2022-07-01 18:28] merrellc opened #2029 "Webpage - Federal Onshore Terminable Leases"
Please update the following webpage www.onrr.gov/ReportPay/royalty-reporting.htm with the attached file;

Federal Onshore Terminable Leases - sorted by Due Date - update date to read updated 07/01/2022.

Thank you!

[20220701.xlsx](https://github.com/ONRR/onrr.gov-site/files/9030947/20220701.xlsx)

[2022-07-01 18:49] lpgoldstein commented on #2029
@merrellc ready for your review: http://2017onrr/reportpay/royalty-reporting.htm

[2022-07-01 19:35] Toddsand21 commented on #2028
On the Colorado meeting Please change the time to MST after it reads ....10:30 AM MST

Other than that it looks fine.  Thanks!

[2022-07-01 19:38] lpgoldstein commented on #2028
@Toddsand21 Changed to MST and I'll let you know when it goes live. Thanks!

[2022-07-01 19:40] Toddsand21 commented on #2028
Thank you I appreciate it!

Sandra Todd
Minerals Revenue Specialist
Office of Natural Resources Revenue
Indian Outreach, OKC
(405) 879-6052
(800) 354-7015
________________________________
From: lpgoldstein ***@***.***>
Sent: Friday, July 1, 2022 2:39 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Todd, Sandra L. ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] SHAWNEE AR

[2022-07-01 19:43] mcharg commented on #2021
Here are my hole poked triangles.
https://doimspp.sharepoint.com/:p:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/User%20Research/User%20Types/Sketches/Round%202/Shannon.pptx?d=w31b62beff4ca4cc3ae86ec2b530fa739&csf=1&web=1&e=g7LrHV

[2022-07-01 20:14] merrellc commented on #2029
Thank you!

Kind Regards,
​Candace Merrell
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3517
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from discl

[2022-07-01 20:29] lpgoldstein commented on #2028
@Toddsand21 It's live so I'm closing the issue. Thanks!

[2022-07-01 20:29] #2028 closed

[2022-07-01 20:40] lpgoldstein commented on #2029
@merrellc This is live so closing the issue. Thanks!

[2022-07-01 20:40] #2029 closed

[2022-07-05 12:31] cthomasONRR commented on #2021
I added some ideas/edits to the triangles here:
https://teams.microsoft.com/l/file/832770DE-1EEE-4A72-8746-292FDF4DA291?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=pptx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FUser%20Research%2FUser%20Types%2FSketches%2FRound%202%2FChristine.pptx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.co

[2022-07-05 13:12] mcharg commented on #2001
@mojobnichols It's still not tracking. Moving this to this sprint.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/4d660efa-0aaf-4444-b9d2-5bd077ec5b07)

[2022-07-05 13:43] mcharg commented on #2026
@cthomasONRR I added comments in the doc.

[2022-07-05 14:13] mcharg commented on #1996
@kmhtran has started a draft and hopes to have something ready to review this week.

[2022-07-05 14:45] mcharg commented on #1275
@codyeckstein Do you think we can get this done in the next 2 weeks?

[2022-07-05 16:12] #2023 closed, assigned to cthomasONRR

[2022-07-05 17:17] Maroyafaied commented on #1987
@mojobnichols please give a status update on this issue.

[2022-07-05 17:20] mcharg opened #2030 "Check accessibility on search"

[2022-07-05 17:35] Maroyafaied opened #2031 "Get access to code for onrr.gov"

[2022-07-05 17:52] cthomasONRR commented on #1920
I have admin rights and can't delete:
![image](https://user-images.githubusercontent.com/72526208/177386934-b472dc3f-011b-4acc-922c-8855fdfbce9f.png)

[2022-07-05 18:07] mcharg commented on #2027
This is done.

[2022-07-05 18:11] merrellc opened #2032 "Webpage Update (Indian Fund Code)"
Hello, Please update the following webpage www.onrr.gov/ReportPay/payments.htm with the attached file:

Indian Leases Cross-walked to distributee Codes-

Also update date to read 07/01/2022.

Thank you

[FCIL.xlsx](https://github.com/ONRR/onrr.gov-site/files/9048550/FCIL.xlsx)

[2022-07-05 18:25] cthomasONRR commented on #1911
Fixed

[2022-07-05 18:25] #1911 closed

[2022-07-05 18:25] cthomasONRR commented on #1912
Deleted

[2022-07-05 18:31] cthomasONRR commented on #1920
Fixed

[2022-07-05 19:23] cthomasONRR commented on #2032
@merrellc

This update is on the dev site for your review: http://2017onrr/reportpay/payments.htm
Please review and give us your approval to go live.

Thanks,
Christine

[2022-07-05 19:31] gingerhensley opened #2033 "Updates to ONRR.gov's Federal Register Notices Page"
Good afternoon,
I am requesting updates to this page  https://onrr.gov/Laws_R_D/FRNotices/index.htm

Please create it with the date April 4, 2022.

It should read as follows:
“87 FR 19529
Monday, April 4, 2022
**Denver, CO** In accordance with regulations governing valuation of gas produced from Indian lands, the Office of Natural Resources Revenue (ONRR) is publishing this notice in the Federal R

[2022-07-05 20:06] cthomasONRR commented on #2033
@gingerhensley

This updated is on the dev site: http://2017onrr/Laws_R_D/FRNotices/index.htm
Please review and give us approval to go live.

Thanks,
Christine

[2022-07-05 20:18] merrellc commented on #2032
Approval to go live.  Thank you!

Kind Regards,
​Candace Merrell
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3517
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential

[2022-07-05 20:36] cthomasONRR commented on #2032
@merrellc

Great, the changes are live: https://www.onrr.gov/ReportPay/payments.htm
Closing this issue.

Thanks.
Christine

[2022-07-05 20:36] #2032 closed

[2022-07-05 22:04] bbell0229 opened #2034 "Late Payment & Underpayment Interest Tables"
Hello,

On the late Payment & Underpayment Interest Tables page, at https://onrr.gov/reportpay/interst.htm, please make the following updates:

1) replace the interest calculator excel file with the attached below.
2) Add a new line at the bottom of the Late Payments & Underpayments table for Period 7/1/2022-9/30/2022. Oil and gas will increase to 5%, while solid's remains the same at 1%.

Thank y

[2022-07-05 22:34] Maroyafaied commented on #2034
@cthomasONRR please also update the interest collection. Thanks

[2022-07-06 00:24] Maroyafaied commented on #2021
@mcharg @lpgoldstein Here is what I came up with after our discussion, we can discuss this or other ideas during sync up tomorrow or I can schedule a separate meeting. Thanks

https://teams.microsoft.com/l/file/89A226EB-6730-4969-A678-E06C4A74E4E0?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=pptx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral

[2022-07-06 12:45] cthomasONRR commented on #2034
@bbell0229 Good morning,

These changes are in dev: http://2017onrr/reportpay/interest.htm.
Please review and give us your approval to go live.

Thanks,
Christine

[2022-07-06 13:14] mcharg commented on #259
Christine and I figured out how to generate an XML sitemap of all the pages using the import/export function in the CMS. Checking with @mojobnichols about whether there's a place to upload via GitHub to put it in the location it needs to go to be read by search engines.

Will need to run export function separately for each folder with documents and copy/paste along with some finding and replacing

[2022-07-06 13:34] HammenONRR opened #2035 "Webpage Update - New Lease Agreement XREF files for onrr.gov"
Please replace the existing file located at: http://www.onrr.gov/ReportPay/CrossRef.htm called “Cross-Reference Lease to Agreement Number” with the file entitled “July 2022 Lease Agreement XREF.txt and July 2022 Lease Agreement XREF.xlsx”.  It was queried from the system on 7/6/2022
[July 2022 Lease Agreement XREF.txt](https://github.com/ONRR/onrr.gov-site/files/9055136/July.2022.Lease.Agreement.X

[2022-07-06 13:44] cthomasONRR commented on #2035
@HammenONRR

Good morning, these updates are on the dev site: http://2017onrr/reportpay/CrossRef.htm.
Please review and give us approval to go live.

Thanks,
Christine

[2022-07-06 13:58] gingerhensley commented on #2033
Hi Christine,

Looks good! I approve.
Thanks.

[2022-07-06 14:02] #2033 closed

[2022-07-06 14:23] bbell0229 commented on #2034
The Federal Oil & Gas Leases needs to also be 5%.

Brittney A. Bell
Staff Accountant, Financial Services
Revenue, Reporting, & Compliance Management
Office of Natural Resources Revenue
Bldg 85, Denver Federal Center
Denver, CO 80225
1-800-433-9801 x 3381
303.231.3381
***@***.******@***.***>

From: Christine Thomas ***@***.***>
Sent: Wednesday, July 6, 2022 6:46 AM
To: ONRR/onrr.gov-site ***@***.**

[2022-07-06 14:40] bbell0229 commented on #2034
Looks good.

Brittney A. Bell
Staff Accountant, Financial Services
Revenue, Reporting, & Compliance Management
Office of Natural Resources Revenue
Bldg 85, Denver Federal Center
Denver, CO 80225
1-800-433-9801 x 3381
303.231.3381
***@***.******@***.***>

From: Christine Thomas ***@***.***>
Sent: Wednesday, July 6, 2022 8:27 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Bell, Brittney A ***@***.***>;

[2022-07-06 14:53] merrellc opened #2036 "Webpage - Active Leases"
Hello, please update the following webpage:
www.onrr.gov/ReportPay/CrossRef.htm with the attached file.

Active Leases- Sorted by state and Agency Lease number- please update to show updated 07/01/2022.

Thank you!
[ALwState.xlsx](https://github.com/ONRR/onrr.gov-site/files/9055852/ALwState.xlsx)

[2022-07-06 14:59] merrellc opened #2037 "Webpage Update (Active Agreements)"
Hello, please update the following webpae:
www.onrr.gov/ReprotPay/CrossRef.htm
Active Agreements - sorted by State and Agreement name
Active Agreements - sorted by state and Agency Agreement number

Also update date to read 07/01/2022

Thank you!

[saaname.xlsx](https://github.com/ONRR/onrr.gov-site/files/9055900/saaname.xlsx)
[saanum.xlsx](https://github.com/ONRR/onrr.gov-site/files/9055901/saanu

[2022-07-06 15:01] cthomasONRR commented on #2034
@bbell0229

Great, these changes are now live: https://www.onrr.gov/reportpay/interest.htm.
Please remember to use "Ctrl+F5" to refresh the page.

Closing this issue now.

Thanks,
Christine

[2022-07-06 15:01] #2034 closed

[2022-07-06 15:06] cthomasONRR commented on #2037
@merrellc It looks like "saanum" was removed for the site... do you want to add it back in?

[2022-07-06 15:24] merrellc commented on #2036
Approved. Thank you!

Kind Regards,
​Candace Merrell
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3517
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt

[2022-07-06 15:24] merrellc commented on #2037
No. Do not add back in. Thank you!

Kind Regards,
​Candace Merrell
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3517
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidenti

[2022-07-06 15:26] cthomasONRR commented on #2037
@merrellc

Ok, "saaname" is updated on the dev site: http://2017onrr/reportpay/CrossRef.htm
Please review and give us your approval to go live.

Thanks,
Christine

[2022-07-06 15:51] HammenONRR commented on #2035
Everything looks correct and good to go. Thank you!

[2022-07-06 16:02] cthomasONRR commented on #2036
@merrellc

Great, this change is live: https://www.onrr.gov/reportpay/CrossRef.htm
Please use "Ctrl+F5" to refresh the page.

Closing this issue now.

Thanks,
Christine

[2022-07-06 16:02] #2036 closed

[2022-07-06 16:03] cthomasONRR commented on #2035
@HammenONRR

Great, this change is live: https://www.onrr.gov/reportpay/CrossRef.htm
Please use "Ctrl+F5" to refresh the page.

Closing this issue now.

Thanks,
Christine

[2022-07-06 16:03] #2035 closed

[2022-07-06 16:04] merrellc commented on #2037
Approved. Thank you!

Kind Regards,
​Candace Merrell
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3517
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt

[2022-07-06 16:07] cthomasONRR commented on #2037
@merrellc

Great, this change is live: https://www.onrr.gov/reportpay/CrossRef.htm
Please use "Ctrl+F5" to refresh the page.

Closing this issue now.

Thanks,
Christine

[2022-07-06 16:07] #2037 closed

[2022-07-06 16:14] Maroyafaied commented on #1938
I previously asked BSEE's web manager about this and was told that ONRR already has the onrr.gov domain and BSEE controls the Domain Name Server (DNS) services and they will only need the IP address information of where to point onrr.gov and when to do it, and they can easily re-point it to that location at the time we tell them to.

[2022-07-06 16:32] cthomasONRR commented on #1989
@mcharg and I met with Sam and went though the card with the screen reader. He doesn't think this issue should stop us from going live with the new site. Eventually it would be nice to fix but he called this a "first world problem" lol. I'm removing the "required for launch" label.

[2022-07-06 17:41] mcharg commented on #2001
What's in dev.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/001fc137-edfe-427c-bc25-98594b04764e)

[2022-07-06 18:26] Maroyafaied commented on #2031
@mojobnichols showed us where to see the code on github ![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/38b07528-425f-4adc-9dc7-30b10f366c63)

[2022-07-06 19:01] mcharg commented on #259
Sitemap: https://dev-onrr-frontend.app.cloud.gov/ONRR-sitemap.xml

Location in GitHub: https://github.com/ONRR/onrr.gov-site/tree/dev/frontend/dist

@cthomasONRR Do you want to review? This is the tool I used to validate. https://www.xml-sitemaps.com/validate-xml-sitemap.html

[2022-07-06 19:06] cthomasONRR commented on #259
@mcharg Thank you for your help on this. I used the validation tool you listed and also get the the site map is valid:
![image](https://user-images.githubusercontent.com/72526208/177624123-2765ff0a-325b-41f3-910d-9da16db1514c.png)

I think this is good until Mojo figures out how to automate a sitemap.

Should we send it to our search.gov contacts for an additional review?

[2022-07-06 19:07] mcharg commented on #259
@cthomasONRR I think that's a good idea.

[2022-07-06 19:11] cthomasONRR commented on #259
@mcharg Great, just emailed her with the following:

"Hi Arantxa,

Thank you for the advice! We have our site map here: https://dev-onrr-frontend.app.cloud.gov/ONRR-sitemap.xml
We’ve validated with this checker: https://www.xml-sitemaps.com/validate-xml-sitemap.html, and it’s coming back error free.
Would you mind also checking out our site map to see if you ID any errors/concerns?

Thanks,
Christ

[2022-07-06 19:50] mcharg opened #2038 "Plot participants on new dimensions"

[2022-07-06 20:21] cthomasONRR commented on #259
@mcharg I just got the following response:

"Christine,

We checked and your sitemap looks good. However, we recommend that you wait until your site goes live to submit it to Bing.

Hope this is helpful.

Arantxa"

[2022-07-06 20:25] #259 closed

[2022-07-06 21:13] boices opened #2039 "Update June NYMEX on onrr.gov"
Good afternoon,

Please update the June NYMEX prices on the website.

Thank you!

@sudarr
[NYMEX062022.xlsx](https://github.com/ONRR/onrr.gov-site/files/9058035/NYMEX062022.xlsx)

[2022-07-06 21:23] penvosej opened #2040 "Posting of July Indian Index Zone Prices"
Hello, the July 2022 Indian Index Zone prices are ready to be published on ONRR.gov. The "Data for ONRR.gov" Excel spreadsheet has been updated with the data you need. Can you please also make sure all prices display to the thousandths place? Thanks!!

@sudarr

[2022-07-06 21:23] boices commented on #2039
That's perfect--thanks again!

[2022-07-06 21:31] cthomasONRR commented on #2039
@boices

Great, these changes are live: https://www.onrr.gov/valuation/NYMEX.htm
Please remember to use "Ctrl+F5" to refresh the page.

Closing this issue now.

Thanks,
Christine

[2022-07-06 21:31] #2039 closed

[2022-07-07 12:17] Maroyafaied commented on #2040
@penvosej please review http://2017onrr/valuation/allzones.htm

[2022-07-07 12:56] Maroyafaied opened #2041 "Add finalized user types and dimensions to wiki"
Related to issue #2021

[2022-07-07 16:24] Maroyafaied commented on #1938
@mojobnichols and I met with BSEE's web manager. It sounds like all the needs is the "c name address" from cloud.gov and that will route the DNS appropriately. Apparently this is what we did with the NRRD site when we transitioned from federalist to cloud.gov. @mojobnichols feel free to add more details in the issue if I missed anything or not explaining correctly,  I will create an issue for to g

[2022-07-07 16:28] Maroyafaied opened #2042 "Get c name from cloud.gov for BSEE to route the DNS appropriately"

[2022-07-07 16:31] Maroyafaied opened #2043 "Build production site"

[2022-07-07 16:34] Maroyafaied opened #2044 "Draft strategy & communication plan for the new website launch"
- Figure out how to communicate the launch internally and externally to industry
- Think about offering demos of how to navigate the website before we launch

[2022-07-07 17:59] mcharg opened #2045 "Make images use the Description field for alt text"

[2022-07-07 18:20] mcharg commented on #1953
The error is showing up on the homepage.

[2022-07-07 18:23] cthomasONRR commented on #1987
@mcharg I added the alt text in each page. All images above should show the associated alt text now. Want to review? I will make an issue to review all pages to make sure alt text is in both the image file location and the individual instance on each page.

[2022-07-07 18:23] mcharg opened #2046 "Search field styling"
Ideal styling:
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/f0e95bff-ff98-4668-8480-5c3f13638c65)
On focus:
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/320e1bf4-21c6-45ed-979b-92cce5b0f077)

[2022-07-07 18:25] mcharg commented on #2046
At a minimum the text needs to be readable in the field before launch. Here I've typed in text, but you can't see it.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/a4b0b343-3c20-44e9-a7e1-093d9e9cca59)

[2022-07-07 18:33] cthomasONRR opened #2047 "Check alt text on all images"
I need to go though every page within the CMS and make sure that each instance of each image has alt text in it. We previously believed that having the alt text in the description field of an image file would carry over to the usage of an image on a page, so we wouldn't have to manually add the alt text at each instance we use the same image. But it seems we do. This issue is for me to make sure t

[2022-07-07 18:38] penvosej commented on #2040
Hi Maroya,

Everything looks great! Thanks for doing that.

Jessica

From: Maroyafaied ***@***.***>
Sent: Thursday, July 7, 2022 6:18 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Penvose, Jessica M ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] Posting of July Indian Index Zone Prices (Issue #2040)

 This email has been received from outside of DOI - Use caution befo

[2022-07-07 18:48] mcharg opened #2048 "Alt text for MUI icons"
Is there a way to add alt text or mark them as decorative?

[2022-07-07 18:50] #1987 closed

[2022-07-07 19:24] Maroyafaied commented on #2040
@penvosej you're welcome. It's live now. Thanks

[2022-07-07 19:24] #2040 closed

[2022-07-07 19:31] mcharg commented on #1953
This appears to have resolved itself.

[2022-07-07 19:31] #1953 closed

[2022-07-07 19:44] cthomasONRR commented on #873
@mcharg emailed them with this:

"Hello again,

One more question for you- We have the [search.gov](http://search.gov/) code in and search field seems to be working. We won’t get search results until we submit the site map to Bing, which we won’t do until we go live. Is there anything else we should be doing before we go live?

Thanks for all your patience!

Christine Thomas"

[2022-07-07 20:28] bakercook opened #2049 "Update ONRR.gov"
Please replace the CY 2022 IDD calendar on the website with the updated memo.

[CY 2022 Disb Memo_2.pdf](https://github.com/ONRR/onrr.gov-site/files/9066569/CY.2022.Disb.Memo_2.pdf)

[ONRR.gov location.docx](https://github.com/ONRR/onrr.gov-site/files/9066599/ONRR.gov.location.docx)

Also, please remove the CY 2021 memo from the website.

Thank you,

[2022-07-07 21:27] cthomasONRR commented on #2047
@mcharg I went through all webpages/CMS pages and made sure every image had alt text in each page. All alt text issues should be resolved now. Would you mind spot-checking?

[2022-07-08 13:37] cthomasONRR commented on #2026
@mcharg For your review:
[Blog_Analytics_June22.xlsx](https://github.com/ONRR/onrr.gov-site/files/9072442/Blog_Analytics_June22.xlsx)

[2022-07-08 15:21] mcharg commented on #1275
I scheduled a meeting for next week.

[2022-07-08 16:48] mcharg commented on #2001
I sent an email to DAP to see if someone can help with this.

[2022-07-08 17:44] bowlenj opened #2050 "Update to Forms page"
Please remove Aaron Lindquist's name and email from the Address/Addressee of Record Changes (Form ONRR-4444) section on the forms page at  https://www.onrr.gov/reportpay/Forms/index.htm.

Please replace with - Form ONRR-4444 may be emailed to forms.industry@onrr.gov.

[2022-07-08 17:47] mcharg commented on #2050
@bowlenj We've also got Aaron's email on the new reporter checklists. Do you want it updated there, as well?

[2022-07-08 17:48] mcharg opened #2051 "Update LR2000 links in the troubleshooting guide"
New language:
LR2000 is no longer updated by BLM. You can see the updated [Serial Register Page](https://reports.blm.gov/reports/MLRS/) and find additional information in [MLRS](https://mlrs.blm.gov/s/).

[2022-07-08 17:51] bowlenj commented on #2050
Yes please also remove Aaron's name and email from New Royalty Reporter Checklist (onrr.gov)<https://www.onrr.gov/reportpay/roy-checklist.htm> and replace with email form to ***@***.***  Thank you for finding that!
New Royalty Reporter Checklist<https://www.onrr.gov/reportpay/roy-checklist.htm>
Perform the following tasks to assure your company is set up to report and remit rental and royalties fo

[2022-07-08 17:53] mcharg commented on #856
We've seen a couple people in user testing expect this behavior.

[2022-07-08 18:04] bowlenj commented on #2050
I also found his name on the production and solids checklist.  Can you also update those?

New Solid Minerals Reporters (onrr.gov)<https://www.onrr.gov/reportpay/solids-checklist.htm>
Reporter Information Maintenance (onrr.gov)<https://www.onrr.gov/reportpay/prod-checklist.htm>
Reporter Information Maintenance<https://www.onrr.gov/reportpay/prod-checklist.htm>
Perform the following tasks to assure

[2022-07-08 18:04] cthomasONRR commented on #2051
Places updated:

- [ ] https://dev-onrr-frontend.app.cloud.gov/reporting/revenue?tabs=troubleshooting&panel=i-need-help-finding-a-lease-or-agreement-number
- [ ] https://dev-onrr-frontend.app.cloud.gov/reporting/revenue?tabs=troubleshooting&panel=i-need-to-know-my-royalty-rate
- [ ] https://dev-onrr-frontend.app.cloud.gov/reporting/revenue?tabs=troubleshooting&panel=my-well-lease-or-communitizatio

[2022-07-08 18:06] mcharg commented on #2050
Of course. I also Reporter Maintenance page when I did a site search on the email address.  Will also find all the places on the new site.

[2022-07-08 18:12] cthomasONRR opened #2052 "Directus pagination issue is back"
@mojobnichols I'm seeing the Directus pagination issue again.

It seems to be confined to accordions. Here are locations where I have found it:

- [ ] https://dev-onrr-cms.app.cloud.gov/admin/content/pages/41 Revenue Troubleshooting expansion panel block
![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/9bac4433-9bc0-477c-a220-b413addf4dc6)!
- [ ] https://dev-onrr-cms.app.

[2022-07-08 18:13] mcharg commented on #2050
@bowlenj

The following pages are ready to review in dev on the old site:
http://2017onrr/reportpay/forms/index.htm
http://2017onrr/reportpay/roy-checklist.htm
http://2017onrr/reportpay/prod-checklist.htm
http://2017onrr/reportpay/solids-checklist.htm
http://2017onrr/reportpay/reporter-maintenance.htm

[2022-07-08 18:27] cthomasONRR commented on #2052
- [ ] https://dev-onrr-cms.app.cloud.gov/admin/content/pages/43 Geothermal troubleshooting accordion
- [ ] https://dev-onrr-cms.app.cloud.gov/admin/content/pages/11 production, revenue, solids, and geothermal accordions

[2022-07-08 18:28] mcharg commented on #2050
@bowlenj

The following pages are ready to review on the new site:
https://dev-onrr-frontend.app.cloud.gov/getting-started/new-reporter-checklist
https://dev-onrr-frontend.app.cloud.gov/getting-started/system-access
https://dev-onrr-frontend.app.cloud.gov/about/contact/4444-contacts?panel=i-need-to-give-onrr-my-companys-contact-information&tabs=troubleshooting
https://dev-onrr-frontend.app.cloud.g

[2022-07-08 18:41] mcharg commented on #2047
@cthomasONRR I did some spot check and running lighthouse audits on pages with lots of images and not finding any with missing alt text.

[2022-07-08 18:42] #2047 closed

[2022-07-08 18:45] mcharg commented on #2051
@cthomasONRR Looks good!

[2022-07-08 18:46] cthomasONRR commented on #2051
@mcharg Should I send these links to Cody and Brittany? Or good to close?

[2022-07-08 18:47] mcharg commented on #2051
Maybe have @bowlenj review.

[2022-07-08 18:57] bowlenj commented on #2050
This looks great, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exem

[2022-07-08 19:03] bowlenj commented on #2050
This looks great, and yes let's go ahead and update the contacts on the new page also.

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may conta

[2022-07-08 19:07] mcharg commented on #2050
@bowlenj Do you want me to keep Aaron as a backup contact or remove him altogether?

[2022-07-08 19:13] mcharg commented on #2050
This is what it looks like with Aaron as a back-up. https://dev-onrr-frontend.app.cloud.gov/about/contact/4444-contacts?tabs=contacts

[2022-07-08 19:18] bowlenj commented on #2050
For the 4444's let's remove him altogether.  I'm not sure what to do about the W-9's and Lisa Salazar.....

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is add

[2022-07-08 19:19] bowlenj commented on #2050
Let's remove him as a backup, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confident

[2022-07-08 19:21] mcharg commented on #2050
Done.
https://dev-onrr-frontend.app.cloud.gov/about/contact/4444-contacts?tabs=contacts

And I pushed the changes to the old site live. I'll close the issue when they show up.

[2022-07-08 19:25] bowlenj commented on #2050
Thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosure

[2022-07-08 19:30] mojobnichols commented on #2052
Each collection will have its own pagination issue. since the default is 15.

To correct as admin.

Directus -> Model -> Collection ( in this case Expansion Panel ) -> Builder Field aka M2M (in this case expansion_panel_blocks.   After clicking on fiel on panel to the right select Interface modtify per page (I set to 150)

[2022-07-08 19:44] cthomasONRR commented on #2052
@mojobnichols Is there a reason why expansion panel is greyed out? I'm afraid to change this in case it messes something up
![image](https://user-images.githubusercontent.com/72526208/178060103-cc4ec001-160c-4d14-9a45-f3a3e601dcc2.png)

[2022-07-08 19:44] mcharg commented on #2052
@cthomasONRR I was able to click on it even though it's grayed out.

[2022-07-08 19:46] mcharg commented on #2052
I'm able to get there. @mojobnichols Some of your labels for the steps were slightly off.
![image](https://user-images.githubusercontent.com/38465926/178060295-67f3bf76-e958-4e99-bd12-ebe59e40550c.png)

I did the following:
- Settings gear
- Data model
- expansion_panels
- expansion_panel_blocks
- interface
- Per page field

[2022-07-08 19:47] cthomasONRR commented on #2052
@mojobnichols

I found where you are referring to. I see the 150 but it says M2A instead of M2M... could you explain the difference between M2A and M2M?

![image](https://user-images.githubusercontent.com/72526208/178060491-a36dff16-0f38-4b2f-90a6-116ada95ad2e.png)

![image](https://user-images.githubusercontent.com/72526208/178060312-771c533b-3e74-4ca0-9e33-dfb1bab9e648.png)

[2022-07-08 19:48] mcharg commented on #2050
Changes are live.

[2022-07-08 19:48] #2050 closed

[2022-07-08 19:54] mcharg commented on #2052
Mojo said the grayed out means it doesn't display in the collections list in Directus.  And he was assuming M2M, but M2A is fine. I showed him what I clicked on and that was it.

[2022-07-08 20:06] mcharg opened #2053 "Document how to use the admin interface in Directus"

[2022-07-08 20:13] #2052 closed

[2022-07-08 20:13] mcharg commented on #2053
See #2052 for one example to document.

[2022-07-08 20:15] #2051 closed, assigned to cthomasONRR

[2022-07-08 20:18] mcharg commented on #2001
@mojobnichols and I found a tracking ID to add. Will see if page views come through by Monday.

[2022-07-08 20:19] mcharg commented on #2046
Handled in #873

[2022-07-08 20:19] #2046 closed

[2022-07-08 20:21] mcharg commented on #873
@mojobnichols The styling updates look good and I still get to the search results page.  Will wait for response from search.gov before closing.

[2022-07-11 12:29] mcharg commented on #2001
This is now working! ![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/00c24835-d125-4f89-b339-b8df1f9e6ad2)

[2022-07-11 12:29] #2001 closed

[2022-07-11 13:07] cthomasONRR commented on #1275
I added MLRS language in the troubleshooting guide in issue #2051

Language:
"LR2000 is no longer updated by BLM. You can see the updated [Serial Register Page](https://reports.blm.gov/reports/MLRS/) and find additional information in [MLRS](https://mlrs.blm.gov/s/)."

[2022-07-11 13:11] cthomasONRR commented on #2049
@bakercook

Hello,

Please let me know if you and your team are having issues getting a 508-compliant version of this document. I have some resources that may help.

Thanks,
Christine

[2022-07-11 15:45] mcharg opened #2054 "Add analytics for outbound links"
At a minimum we should have downloads and outbound links. Not sure if those are done using Google Tag Manager.

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/a7631055-ad92-4f51-b741-03a195ac94ca)

[2022-07-11 16:29] damionschulte opened #2055 "June 2022 IBMP Pirces"
All I have updated the Data for ONRR sheet in the OneDrive with the June 22 IBMP Prices.  Can you please prepare them to be posted to the website?  I have also attached the spreadsheet with the prices in it as well.  Thanks

Damion

@sudarr
[June 22 IBMP For GitHub.xlsx](https://github.com/ONRR/onrr.gov-site/files/9085929/June.22.IBMP.For.GitHub.xlsx)

[2022-07-11 17:01] cthomasONRR commented on #2055
@damionschulte
Great, these changes are now live: https://www.onrr.gov/valuation/IndianOilIBMP.htm.
Closing this issue now.

Thanks,
Christine

[2022-07-11 17:01] #2055 closed

[2022-07-11 17:24] mcharg commented on #1275
@cthomasONRR Found another instance of LR2000 in the troubleshooting guide.
https://dev-onrr-frontend.app.cloud.gov/about/contact/lease-agreement-contacts?panel=i-need-contract-or-lease-expiration%2Ftermination-information

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/f79974db-d898-4143-b76a-c0dff369a741)

[2022-07-11 17:25] mcharg commented on #1275
Also:
https://dev-onrr-frontend.app.cloud.gov/about/contact/lease-agreement-contacts?panel=i-received-a-bill-for-a-lease-thats-not-mine
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/12b033cb-86f7-409d-99c1-147b64c545ed)

[2022-07-11 17:27] bowlenj commented on #1275
This looks great!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from dis

[2022-07-11 17:34] mcharg commented on #2054
@mojobnichols I forwarded an email from the DAP team about how page views are tracked using DAP. That might have something to do with why we're not seeing downloads or outbound links or documents clicked on.
[DAP coding capabilities guide](https://app.zenhub.com/files/210892300/fd8ba73a-3867-4c75-9a99-fd2208831d25/download)

Instructions from email:
Hello:

Thanks for your note. I see DAP firing o

[2022-07-11 17:52] cthomasONRR commented on #1275
@mcharg I got these updated. I'm going through to see if there are any other instances that need to be updated. Thanks.

[2022-07-11 17:56] mcharg commented on #1275
@cthomasONRR Looks good.

[2022-07-12 11:58] mcharg commented on #2054
@mojobnichols  Downloads/document clicks and outbound links are definitely not being tracked.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/35bdf0f5-50f1-427f-a5b4-d2d85f78f268)

[2022-07-12 16:22] lpgoldstein opened #2056 "Update eCommerce user guide"
We decided to close this issue because the document isn't updated: Request accessible version of eCommerce user guide #1765

However we need to update this document or post an FAQ regarding password updates because we have switched to Microsoft edge and people are having trouble logging in.

[2022-07-12 16:24] lpgoldstein commented on #2056
![MicrosoftTeams-image](https://user-images.githubusercontent.com/39419003/178543870-a2715900-98ef-45e8-80af-9514dc13da05.png)

[2022-07-12 20:24] lpgoldstein commented on #2009
@mcharg This looks good to me. I'll update the font color and formatting as the very last thing.

[2022-07-12 20:27] bowlenj opened #2057 "Reporter Training Update"
Please update the training page at the following location - https://onrr.gov/reportpay/training/index.htm, with the below info:

Change training dates from January 10-14, 2022 to August 14-19, 2022 and replace the agenda and registration pdf with the attached.

Also please update Reporter Training Presentations to show January & August FY22

[August Reporter Training agenda.pdf](https://github.com

[2022-07-12 20:43] lpgoldstein commented on #2057
@daniel-coleman-1 Please update this on both sites. The new site has two locations. https://dev-onrr-frontend.app.cloud.gov/references/training?tabs=training-schedule

[2022-07-12 20:49] #2009 closed

[2022-07-13 14:22] mcharg opened #2058 "Set up CMS to use PIV"

[2022-07-13 14:48] bakercook commented on #2049
Hi Christine,

Please find attached updated 508 compliant memo. Do you want me to me submit another github request?

Thank you.

Respectfully,

Cheri Baker
Supervisor, Accounts Payable
Office of Natural Resources Revenue
Phone: 303-231-3137

From: Christine Thomas ***@***.***>
Sent: Thursday, July 7, 2022 3:11 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Baker, Cheri L ***@***.***>; Mention ***@***.

[2022-07-13 14:51] cthomasONRR commented on #2049
@bakercook

Hi Cheri,

I did not receive the attachment. Could you please email it to me at christine.thomas@onrr.gov?
No need to create a new issue, thanks!

Christine

[2022-07-13 15:03] cthomasONRR commented on #2049
@bakercook

Thanks for emailing the doc to me!

Just FYI- the doc had 1 accessibility error. I was able to quickly fix it by going into the tags panel and specifying that that text was a paragraph and not a table. I will email you this updated doc.
![image](https://user-images.githubusercontent.com/72526208/178766455-fa696b6f-a176-4531-a342-eb77d3722266.png)

These updates are now on the dev site:

[2022-07-13 16:56] daniel-coleman-1 commented on #2057
@lpgoldstein I'm having some trouble getting the event to populate - and it doesn't seem like the events in the CMS are the same as presenting on the dev site:
![Screenshot 2022-07-13 105249](https://user-images.githubusercontent.com/83892362/178789140-1bcea023-f9b7-4360-a7ca-6cd7f82094cd.png)

![Screenshot 2022-07-13 105302](https://user-images.githubusercontent.com/83892362/178789161-797014e7-8c

[2022-07-13 18:27] bowlenj commented on #2057
I'm not seeing the changes on this link you sent.  Is there something I need to do on my side?

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and m

[2022-07-13 18:44] #2038 closed

[2022-07-13 18:45] mcharg opened #2059 "Refine user types"
Particularly the Partner user type.

[2022-07-13 19:00] daniel-coleman-1 commented on #2057
@bowlenj you may need to press CTRL+F5 a handful of times to clear your cache

[2022-07-13 19:21] mcharg opened #2060 "Contacts search is broken"
Type in BP and pick one of the companies that display and you will get either a spinner or a blank page. No results.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/1783737c-0632-4ae4-ace4-405b782b7980)

[2022-07-13 19:47] #2049 closed

[2022-07-13 19:48] bowlenj commented on #2057
Hi Dan,

The link is working but the text is still reading January.  Can you please replace January 10-14, 2022 to read August 14-19, 2022.  Also please update January FY22 to read January & August FY22.

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.**

[2022-07-14 13:32] daniel-coleman-1 commented on #2057
@bowlenj if you tap CRTL+F5 the changes should appear.  I am seeing them on my side, and have pushed changes live:
https://onrr.gov/reportpay/training/index.htm

You may still need to clear your cache to see the changes.

[2022-07-14 13:48] #1275 closed

[2022-07-14 13:59] bowlenj commented on #2057
Perfect, I see them and they look great!  Thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged

[2022-07-14 14:35] daniel-coleman-1 commented on #2057
@lpgoldstein we are good to go on the current ONRR.gov site and the Reporter Training -> Training Schedule tab, but I'm having trouble populating the event to the events page.

[2022-07-14 15:00] lpgoldstein commented on #2057
@bowlenj do you want to add this to the events page as well? https://onrr.gov/events.htm

[2022-07-14 15:28] cthomasONRR commented on #2016
Closing and opening a new issue for next sprint.

[2022-07-14 15:28] #2016 closed

[2022-07-14 15:36] cthomasONRR opened #2061 "Update Coal sections of the dev site"
- [x] Add coal training to reporter training locations
- [x] Specifying that Coal Washing and Coal Transportation forms are Indian only
- [x] Add (Including Coal) to Solid Minerals headers

[2022-07-14 15:37] mcharg opened #2062 "Make New Reporter Training page use same content as Reporter Training page"

[2022-07-14 15:53] cthomasONRR commented on #2061
https://dev-onrr-frontend.app.cloud.gov/references/training

https://dev-onrr-frontend.app.cloud.gov/references/forms?tabs=solid-minerals-reporting

https://dev-onrr-frontend.app.cloud.gov/reporting/solids

@mcharg Want to review these locations for updated listed above?

[2022-07-14 15:57] daniel-coleman-1 commented on #2057
@lpgoldstein I think I figured it out by using the InlineLink feature to add a link & button:

![Screenshot 2022-07-14 095638](https://user-images.githubusercontent.com/83892362/179025423-460f7da5-73ca-42d5-9963-1708a5acc5d1.png)