[2021-12-07 21:52] mcharg commented on #893
@lpgoldstein Thoughts on this for geothermal?
![Geothermal.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/73688b03-55d3-4718-9e1e-ddc8b4ff2626)

[2021-12-07 21:52] lpgoldstein commented on #1240
@damionschulte It's live!

[2021-12-08 03:16] lpgoldstein commented on #893
@mcharg What about vertical?
![image](https://user-images.githubusercontent.com/39419003/145142144-b12ae9eb-6834-402a-9a91-4003ec0c5c25.png)

[2021-12-08 14:10] mcharg commented on #1245
I sent Nichelle another email about this.

[2021-12-08 14:19] mcharg commented on #1245
Nichelle said the plan is being redone and expects to have a new doc in January.

[2021-12-08 14:38] mcharg commented on #1233
@jlouis-onrr Here's a layout we can't do with the current setup to consider when reworking this.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/f6d78737-88ff-4d23-9ae2-5bba97da4cfd)

[2021-12-08 14:39] mcharg commented on #893
@lpgoldstein I think that could work if we rotate the text on the arrows, so it's right side up.

[2021-12-08 14:41] lpgoldstein commented on #893
@mcharg That makes more sense

[2021-12-08 14:45] mcharg commented on #893
@lpgoldstein What do you think?
![image](https://user-images.githubusercontent.com/38465926/145228259-d2498548-98f0-4f63-b7ca-e089ffb3f0ad.png)

[2021-12-08 14:48] mcharg commented on #893
@lpgoldstein This version might fit nicer below the content. And then we can put links to the handbooks right below each box.
![image](https://user-images.githubusercontent.com/38465926/145228822-1be461a3-75b7-4f24-99ec-36269736eb7b.png)

[2021-12-08 14:50] mcharg commented on #893
@lpgoldstein This version puts class 1 before classes 2 & 3.
![image](https://user-images.githubusercontent.com/38465926/145229133-39e112f6-ba1b-49df-8c2a-01d0a4fd8381.png)

[2021-12-08 14:55] mcharg commented on #893
@lpgoldstein Cleaned it up a bit.
![image](https://user-images.githubusercontent.com/38465926/145230008-f9985e76-8069-4646-aa60-411401c175a8.png)

[2021-12-08 14:58] mcharg commented on #893
Another option.
![image](https://user-images.githubusercontent.com/38465926/145230427-ba219b2e-1066-4cc3-b5c6-a68a21319d96.png)

[2021-12-08 15:04] mcharg commented on #1184
Include date printed and/or disclaimer.

[2021-12-08 15:45] lpgoldstein commented on #893
@mcharg I  like the last option the best - it's clean and easy to read - follows the natural progression of reading down the page

[2021-12-08 15:56] mcharg commented on #1223
@cthomasONRR These are ready for you to review in the wireframes.
https://4pkq0v.axshare.com/

[2021-12-08 16:07] mcharg commented on #893
@Maroyafaied I updated the page in the wireframes, if you want to send it to Herb.
https://qmcq5k.axshare.com/#id=e1wh3o&p=home_v3

[2021-12-08 16:07] mcharg commented on #893
Now in the wireframes. https://qmcq5k.axshare.com/#id=vsgcdx&p=about_onrr

[2021-12-08 16:08] mcharg commented on #889
Now in the wireframes.  @Maroyafaied This is ready for you to review.
https://qmcq5k.axshare.com/#id=l9inb4&p=valuation___pricing

[2021-12-08 16:11] mcharg commented on #878
Duplicate of #1227

[2021-12-08 16:11] cthomasONRR commented on #1223
@mcharg I'm looking though each troubleshooting card, and everything looks good to me!

[2021-12-08 16:12] mcharg commented on #845
Covered by #1233

[2021-12-08 16:12] #845 closed

[2021-12-08 16:13] mcharg commented on #844
I was able to hard code this.

[2021-12-08 16:14] #1223 closed

[2021-12-08 17:25] Maroyafaied commented on #895
@mcharg It looks good to me, and I believe we showed it to Kimbra when reviewing wireframes so it should be good to go.

[2021-12-08 17:42] #895 closed

[2021-12-08 17:54] Maroyafaied commented on #889
@mcharg Since volume, unit value and allowance are all given the same square shape, should we differentiate them by different colors ? Just a thought, otherwise looks good.

[2021-12-08 17:56] mcharg commented on #892
@lpgoldstein What do you think of blue for the icons?
https://qmcq5k.axshare.com/#g=1&id=1t0m2d&p=how_leasing_works

[2021-12-08 17:59] mcharg commented on #889
@Maroyafaied When I reviewed with Megan and Gina, they wanted fewer colors because they were having difficulty trying to differentiate when I had more.

[2021-12-08 18:24] Maroyafaied commented on #889
@mcharg sounds good, glad you got that feedback from them.

[2021-12-08 18:25] #889 closed

[2021-12-08 18:31] mcharg commented on #892
Attribution for disbursements icon:
Money Distribution by Xinh Studio from NounProject.com

[2021-12-08 18:50] Maroyafaied commented on #893
@mcharg where is this in the wireframe? both links above don't go to the diagram.

[2021-12-08 19:17] mcharg commented on #893
@Maroyafaied Fixed the link above.

[2021-12-08 19:19] mcharg commented on #893
Cleaned up shape usage.![Geothermal.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/717d8d43-beb1-4b3e-a61e-6a01dc8fadbc)

[2021-12-08 19:44] Maroyafaied commented on #893
@mcharg Thanks, I send it to Herb.

[2021-12-08 19:52] cthomasONRR commented on #1222
@mcharg This is ready for your review. I have the folder link in the issue description. In the excel, I have the 10 documents not yet 508-compliant highlighted. I am waiting to add those PDFs until we get compliant documents. Christina M should likely get those last 10 to us by the end of the week.

[2021-12-08 19:58] cthomasONRR commented on #1198
All SMEs that had a 12/8 deadline have responded.
I will send Amy and April a reminder early next week.

[2021-12-08 20:11] mcharg commented on #1233
@jlouis-onrr I updated the contacts layout so that we don't have cards within a card.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/668d41b6-2b66-400b-aa2f-565d744b1b36)

[2021-12-08 23:00] #1240 closed

[2021-12-08 23:03] lpgoldstein commented on #1232
The first two videos are fixed and live and I have commented out the last video. Waiting on approval for removing the last video from the site until the video itself is completed.

[2021-12-08 23:30] jlouis-onrr opened #1261 "Add query params to tabs"

[2021-12-09 13:41] lpgoldstein opened #1262 "Make monthly market report indesign template accessible"

[2021-12-09 14:39] mcharg commented on #893
Gina wanted it more centered and both her and Jodie approved this version.![Geothermal.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/26da1cea-de47-4655-a854-a270896df64f)

[2021-12-09 14:39] #893 closed

[2021-12-09 14:46] mcharg opened #1263 "Create tracking sheet for adding pages to CMS - part 1"
- [x] Home

- [x] Getting Started

- [x] Reporting

- [x] Footer Links

- [x] Header Links

[2021-12-09 15:12] cthomasONRR commented on #1212
Jodie emailed 5 documents. 3 are PDFs and 2 are Excels. Going forward, all documents submitted will be Excels.

- [ ] [Eunice Gas Plant UCA.pdf](https://github.com/ONRR/onrr.gov-site/files/7686181/Eunice.Gas.Plant.UCA.pdf)
- [ ] [Yscloskey Plant UCA.pdf](https://github.com/ONRR/onrr.gov-site/files/7686184/Yscloskey.Plant.UCA.pdf)
- [ ] [Buena Suerte Transportion UCA.pdf](https://github.com/ONRR/on

[2021-12-09 16:22] #1257 closed

[2021-12-09 18:18] cthomasONRR opened #1264 "Add compiled MPRH to onrr.gov"
Shannon H made the compiled Minerals Production Reporter Handbook 508-compliant.
I will add it here https://www.onrr.gov/reportpay/Handbooks/index.htm

[2021-12-09 18:34] cthomasONRR commented on #1264
The update is live, and I sent it to Shannon H so she knows it's up on the live site. Closing this issue now.

[2021-12-09 18:34] #1264 closed

[2021-12-09 20:01] cthomasONRR commented on #1212
Ii got Sara's approval that the 2 excels are ok to go live. And the live site just updated. These 5 documents are complete and marked as accessible on the tracking spreadsheet.

[2021-12-09 20:26] mcharg commented on #1222
@cthomasONRR There's a monthly revenue csv in the folder, but otherwise looks good.

[2021-12-09 20:33] cthomasONRR commented on #1222
@mcharg Oops! I was wondering where that file went to! I removed it from the Reporter Letters folder.

[2021-12-09 20:34] mcharg commented on #1241
This is fixed.

[2021-12-09 20:34] #1241 closed

[2021-12-09 20:41] mcharg opened #1265 "Text spacing cleanup"
Can we allow choosing how much space you want between lines?  For example, it feels like too much space for addresses.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/ba916bf6-ab3c-45a9-a848-a161439bf790)

[2021-12-09 21:12] mcharg opened #1266 "Card block won't display if you don't have content in all blocks"
I had to put in a placeholder to get the second row to display even though I only one two cards in that row.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/c66c7982-9e54-49cb-9ffd-51de70781f34)
Dev: https://dev-onrr-frontend.app.cloud.gov/references
CMS: https://dev-onrr-cms.app.cloud.gov/admin/content/pages/5

[2021-12-09 21:15] bowlenj opened #1267 "Reporter Training Agenda & Registration"
Please update the Reporter Training page to add the below training dates at the following link - https://www.onrr.gov/reportpay/training/index.htm

Training Dates
Oil and Gas Reporter Training, January 10-14, 2022

Please also post the attached Agenda and Registration Information just below the date
[Reporter Training Agenda and Registration Information.pdf](https://github.com/ONRR/onrr.gov-site/f

[2021-12-09 21:20] cthomasONRR commented on #1250
@mcharg Sure- can I do this review tomorrow?

[2021-12-09 21:21] mcharg commented on #1250
@cthomasONRR Of course.

[2021-12-09 21:26] mcharg commented on #351
We probably should get this worked out next sprint, so we have a plan for how we're going to do reviews as we add content to the CMS.

[2021-12-09 21:33] cthomasONRR commented on #1267
@bowlenj Are you sure you mean January 2021? That was almost a year ago....

[2021-12-09 21:42] daniel-coleman-1 opened #1268 "Update Sitemap with compiled MPRH"
https://www.onrr.gov/reportpay/Handbooks/index.htm

[2021-12-09 21:50] cthomasONRR commented on #1250
@mcharg Ok had some time to review while waiting on other projects. It looks good to me- the internal Rules&Regs and ICR webpage links send you to "page not found" but all the other links work. Thanks for pioneering the adding of content to CMS!

[2021-12-09 21:51] mcharg opened #1269 "Add ability to use Vuetify components, like icons, in the editor"
From @jlouis-onrr Unfortunately you can't use vuetify components inside of the editor or html, because of cross site scripting attacks.  We will need to add a tool or input that will allow for you to insert the value, then the frontend interprets that to display the vuetify component.  In this case icons.  Its similar to the way the other components work (eg tabs, cards).

Example: https://dev-onr

[2021-12-09 21:52] mcharg commented on #1255
Added links, but can't currently add the icons.

[2021-12-09 21:54] mcharg commented on #1250
@cthomasONRR Fixed the links.

[2021-12-09 21:55] bowlenj commented on #1267
This looks great!  Thank you so much 🙂

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and

[2021-12-09 22:00] cthomasONRR commented on #1267
No worries!!!! It's been a long day!
I just moved the changes to the live site, and it is now live. Remember you might need to click 'Ctel+F5' to refresh the page.
https://www.onrr.gov/reportpay/training/index.htm

[2021-12-09 22:00] daniel-coleman-1 opened #1270 "Add descriptions to all 2014 training videos and Part 2 of PASR"
https://www.onrr.gov/ReportPay/training/2014-Training-Videos.htm
https://www.onrr.gov/ReportPay/training/PASR-Training-Videos.htm

None of the 2014 videos have descriptions, and only the first PASR video has a description.

[2021-12-09 22:05] daniel-coleman-1 commented on #1250
@mcharg sentence case for those two

[2021-12-09 23:20] daniel-coleman-1 commented on #1204
The page is up in Y: Report Pay > Training > Solids-Training-Videos.

It looks like we keep MP4's of the videos available for download on the live site from our servers.  I reached out to Bill Blackburn for MP4 copies.

[2021-12-09 23:36] Maroyafaied commented on #1204
@daniel-coleman-1 what's the link for the page in the dev site? The 5 videos are in the link that @mcharg posted in the issue, you only need the youtube links to post the videos.
![image](https://user-images.githubusercontent.com/40175688/145492331-059ab4b0-026b-43b9-b0d2-45383b4dbdf7.png)

[2021-12-09 23:36] daniel-coleman-1 commented on #1204
file:///Y:/reportpay/training/Solids-Training-Videos.html#

[2021-12-09 23:40] daniel-coleman-1 commented on #1204
@Maroyafaied the buttons on the right offer a download of the video, but we don't have saved copies of these videos

![Screenshot 2021-12-09 163940](https://user-images.githubusercontent.com/83892362/145492648-9ccb1d90-5425-44a2-a89b-4ffb5b38d6af.png)

[2021-12-09 23:51] Maroyafaied commented on #1204
Ok, I see what you mean.

[2021-12-10 13:35] cthomasONRR commented on #1267
@daniel-coleman-1 Here is another new PDF for the site map.

[2021-12-10 13:35] #1267 closed

[2021-12-10 14:06] mcharg commented on #1250
@Maroyafaied I think we have our first completed page in the CMS.  Do you want to review?

[2021-12-10 14:21] Maroyafaied commented on #1250
@mcharg looks great, the only thing I noticed is the email link having ONRR underlined with it, not sure if we should only underline the mailbox or just take ONRR out.
![image](https://user-images.githubusercontent.com/40175688/145588428-50ac3639-21ad-4af8-88d8-dd9624d99ac1.png)

[2021-12-10 14:32] mcharg commented on #1250
@Maroyafaied The ONRR is part of the email address: ONRR_RegulationsMailbox@onrr.gov

[2021-12-10 14:32] mcharg commented on #1250
When we get the email icon, it might help to put that in front of it.

[2021-12-10 14:39] Maroyafaied commented on #1250
@mcharg I didn't see the dash after ONRR.

[2021-12-10 14:41] mcharg commented on #1250
It's not showing up because of the underline.

[2021-12-10 15:23] mcharg opened #1271 "Find out if there is a LAB guide"
And get it.

[2021-12-10 15:42] cthomasONRR commented on #1212
- [ ] [Williams_Manzanares_Transportation_System.xlsx](https://github.com/ONRR/onrr.gov-site/files/7693831/Williams_Manzanares_Transportation_System.xlsx)
- [ ] [Toca-Plant-UCA.xlsx](https://github.com/ONRR/onrr.gov-site/files/7693832/Toca-Plant-UCA.xlsx)
- [ ] [North-Terrebonn-Gas-Plant.xlsx](https://github.com/ONRR/onrr.gov-site/files/7693833/North-Terrebonn-Gas-Plant.xlsx)
- [ ] [Sea-Robin-UCA-

[2021-12-10 16:57] cthomasONRR commented on #1212
- [ ] [Stingray-Gas-Plant.xlsx](https://github.com/ONRR/onrr.gov-site/files/7694253/Stingray-Gas-Plant.xlsx)
- [ ] [Williams_Torre_Alta_Transportation_System_Lybrook_Plant.xlsx](https://github.com/ONRR/onrr.gov-site/files/7694254/Williams_Torre_Alta_Transportation_System_Lybrook_Plant.xlsx)
- [ ] [Otero_and_Lybrook_Transportation_Systems_Huerfano_Mountain_Gas_Plant.xlsx](https://github.com/ONRR/on

[2021-12-10 17:01] cthomasONRR commented on #1212
- [ ] [DRL_Manzanares_October_7_2009.pdf](https://github.com/ONRR/onrr.gov-site/files/7694288/DRL_Manzanares_October_7_2009.pdf)

[2021-12-10 17:05] cthomasONRR commented on #1212
The 11 documents above are now replaced in the Y and Z drives. The accessibility tracking sheet is also updated.

[2021-12-10 17:27] cthomasONRR commented on #1212
- [ ] [UCA-calculations-Engineering-Data-Needs.pdf](https://github.com/ONRR/onrr.gov-site/files/7694422/UCA-calculations-Engineering-Data-Needs.pdf)

I have this engineering needs updated on the Y and Z drive, as well as the tracking sheet.

Now we're just waiting on the Mobile Bay UCA.

[2021-12-10 17:32] cthomasONRR commented on #1212
- [ ] [Mobile-Bay-UCA-Example-Updated-FINA-LS-7-8-16-with-table.xlsx](https://github.com/ONRR/onrr.gov-site/files/7694436/Mobile-Bay-UCA-Example-Updated-FINA-LS-7-8-16-with-table.xlsx)

The last of the Unbundling documents are now updated!

(Still waiting for RV Dear Reporter Letters, then we will finally be finished with Phase 3)

[2021-12-10 17:37] #1212 closed

[2021-12-10 17:37] mcharg commented on #1250
I'm going to move this back to the backlog, so we don't forget to add the email icon.

[2021-12-10 17:42] mcharg opened #1275 "Create language about MLRS for troubleshooting guide"
LR2000 is changing to MLRS in February, so we'll need language to help people with that.

[2021-12-10 17:45] mcharg opened #1272 "Find out more about nonproducing status errors for troubleshooting guide"
Need to find out what error they get when the lease is in a nonproducing status.  Often when they ask why they can't pay rent, it's in a nonproducing status.

[2021-12-10 17:55] mcharg opened #1273 "Work on wording for "I haven't received my bill" question in troubleshooting guide"
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/bdcd507d-95f1-43b6-bee1-7d9a6a118b0f)

[2021-12-10 18:44] mcharg commented on #1030
Jae's going to work on this later and focus on smaller things, for now.

[2021-12-10 18:53] mcharg opened #1274 "Do manual checks on high volume documents"
So we can see the difference between what comes out of manual versus automatic checks.

**PDF**
PDF form: https://www.onrr.gov/reportpay/PDFDocs/2014.pdf
PDF contacts: https://www.onrr.gov/ReportPay/PDFDocs/royassign.pdf
PDF handbook: https://www.onrr.gov/ReportPay/Handbooks/pdfdocs/RRM-Printable.Minerals.Revenue.Handbook.pdf

**Excel**
Excel contacts: https://www.onrr.gov/ReportPay/PDFDocs/ALwSta

[2021-12-10 19:08] mcharg commented on #1184
@jkwonatx You can use this updated version of the spreadsheet to figure out how the contacts should display when printed.  I would look at one of the ones that has 6 contacts.
https://teams.microsoft.com/l/file/EE2FC3B4-4196-4DCE-9286-84AAF6E25E00?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral

[2021-12-10 19:33] mcharg opened #1276 "Decide what errors to add to troubleshooting guide"
Add errors like my lease is not producing, sales date must be prior to termination/expiration.  Go to Lease & Agreement contacts.

[2021-12-10 20:04] mcharg opened #1277 "Determine whether we need to add 4425 to troubleshooting guide and new reporter checklists"
May need to add 4425 to authorize a company to take responsibility for another company.

Would also need in new reporter checklist.

[2021-12-10 20:31] cmathers1 opened #1278 "Replace Docs on onrr.gov"
Good afternoon,

Please replace docs on onrr.gov with the attached remediated documents.  Please let me know if you have any questions.

Thank you!
[20161005.pdf](https://github.com/ONRR/onrr.gov-site/files/7695278/20161005.pdf)
[991201.pdf](https://github.com/ONRR/onrr.gov-site/files/7695279/991201.pdf)
[970130a.pdf](https://github.com/ONRR/onrr.gov-site/files/7695280/970130a.pdf)
[960311.pdf](ht

[2021-12-10 20:47] cthomasONRR commented on #1278
- [ ] 20161005.pdf
- [ ] 991201.pdf
- [ ] 970130a.pdf
- [ ] 960311.pdf
- [ ] 941104.pdf
- [ ] 20040922.pdf
- [ ] Dear Reporter Letter - Keepwhole Gas Processing Contracts.pdf
- [ ] 981218.pdf
- [ ] 981124a.pdf
- [ ] 970220.pdf

@cmathers1 Thank you so much for volunteering your time to help RV complete their Phase 3 tasks. Thanks to you, we are now officially complete with Phase 3 of the 508 proje

[2021-12-10 21:05] cmathers1 commented on #1278
Thank you, Christine!  Have a great weekend!

Sincerely,

Christina

Christina Mathers
Staff Assistant
Director/Deputy Director's Office
Office of Natural Resources Revenue
6th Avenue and Kipling Street Bldg. 85
Denver, Colorado 80225
Phone:  303-231-3429
Cell: 303-503-1315
________________________________
From: Christine Thomas ***@***.***>
Sent: Friday, December 10, 2021 1:47 PM
To: ONRR/onrr.go

[2021-12-10 21:06] #1278 closed

[2021-12-11 00:21] #1232 closed

[2021-12-13 13:42] cthomasONRR commented on #1222
@mcharg The last 10 PDFs are now saved in the folder and 508-compliant. Do you want to do another review, or are you OK with me closing this issue?

[2021-12-13 13:47] mcharg commented on #1222
@cthomasONRR Go ahead and close.

[2021-12-13 13:47] #1222 closed

[2021-12-13 14:30] mcharg commented on #1199
I started this, but a lot of the changes bring the reading level up to grade 14 or 15, so I sent it back asking them to try to lower the reading level.

[2021-12-13 16:18] #1226 closed

[2021-12-13 16:20] Maroyafaied commented on #1229
Put underneath header

[2021-12-13 16:22] Maroyafaied commented on #1230
Look into functionality of adding a spreadsheet that creates a table.

[2021-12-13 16:27] Maroyafaied commented on #1235
revamp should fix this @mcharg please check and close if it's fixed.

[2021-12-13 16:31] Maroyafaied commented on #1237
@jlouis-onrr will create examples to do this through editor js

[2021-12-13 16:34] Maroyafaied commented on #1242
@jlouis-onrr Review docs of extension and give instructions how to fix it.

[2021-12-13 16:39] Maroyafaied commented on #1258
@jlouis-onrr Figure out requirements for images and threshold size

[2021-12-13 16:43] #1260 closed

[2021-12-13 16:48] #1266 closed

[2021-12-13 16:50] #1270 closed

[2021-12-13 17:06] mcharg opened #1279 "Updates to card sorting and tree testing blog post for digital.gov"
They have edits they want me to make before publishing.

[2021-12-13 18:15] #1234 closed

[2021-12-13 18:19] mcharg commented on #892
@lpgoldstein Have you had a chance to look at this?

[2021-12-13 18:24] mcharg commented on #1034
Fixed!

[2021-12-13 18:24] #1034 closed

[2021-12-13 18:42] mcharg commented on #1215
Updated on OneDrive.  Waiting on David to upload to ONRResource.
https://doimspp-my.sharepoint.com/:p:/r/personal/mchargs_mms_gov/Documents/ONRR%20Logo%20and%20PPT%20Template/ONRR_Template_Standard_Width_copy.pptx?d=wf95485a94f47481fb42b62dae5b9fe4e&csf=1&web=1&e=c2BrZw

[2021-12-13 21:10] #1239 closed

[2021-12-14 19:22] Maroyafaied opened #1280 "Add archived press releases and fix any titles or descriptions with symbols"

[2021-12-15 14:51] mcharg opened #1281 "Update Directus when they have a fix for the bug preventing seeing added page blocks"

[2021-12-15 15:38] cthomasONRR commented on #1199
@mcharg Do you want to review before I send this to Sara?
https://qmcq5k.axshare.com/#id=l9inb4&p=valuation___pricing

[2021-12-15 16:00] cthomasONRR commented on #1199
Emailed Sara, awaiting additional changes since she's reevaluating with Hemmingway.

[2021-12-15 16:54] cthomasONRR opened #1282 "Collection: Glossaries"
The new glossary terms are ready to go into the CMS. Could you please make a collection for the following excel? The excel contains all glossary terms.

Link to excel [ONRR_Glossary_Terms_CMS](https://teams.microsoft.com/l/file/56DF3AC9-075F-49DF-9C45-9C12438CFCCD?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Do

[2021-12-15 17:01] mcharg commented on #1209
@daniel-coleman-1 Looks good.  No edits.

[2021-12-15 17:01] #1209 closed

[2021-12-15 18:48] Maroyafaied commented on #1279
@mcharg looks good, I made two minor edits to the categories after testing list to match the table in the blog.

[2021-12-15 19:15] mcharg commented on #1279
Thanks @Maroyafaied I sent in the edits.

[2021-12-15 19:15] #1279 closed

[2021-12-16 16:23] #1206 closed

[2021-12-16 16:24] mcharg opened #1283 "Update troubleshooting guide wireframes with feedback from FM"

[2021-12-16 17:23] #1215 closed

[2021-12-16 18:05] #892 closed

[2021-12-16 18:07] #1198 closed

[2021-12-17 05:00] lpgoldstein opened #1284 "Create tracking sheet for adding pages to the CMS - References"
- [ ] References

Follow on to issue #1263

[2021-12-17 13:53] cthomasONRR commented on #1199
Sara reviewed the axure and approved changes. She might email us with reading level changes after the holidays.

[2021-12-17 13:53] #1199 closed

[2021-12-17 14:30] mcharg commented on #1273
@codyeckstein This is what I have after our discussion with Jen.

This depends on whether there are estimates.  It can take up to 3 months after the rent is due to issue a bill.  You will only get a bill for rent if you have a nonterminable lease.

[2021-12-17 14:49] mcharg commented on #1283
Done. https://4pkq0v.axshare.com

[2021-12-17 14:49] #1283 closed

[2021-12-17 15:43] lpgoldstein opened #1285 "Create tracking sheet for adding pages to the CMS - part 3"
- [x] Paying

follow on to issue #1263

[2021-12-17 15:45] lpgoldstein opened #1288 "Create tracking sheet for adding pages to the CMS - Compliance & Enforcement"
- [ ] compliance & enforcement

follow onto issue ONRR/nrrd#1263

[2021-12-17 15:46] lpgoldstein opened #1287 "Create tracking sheet for adding pages to the CMS - part 5"
- [x] Indian Resources

follow on to issue ONRR/nrrd#1263

[2021-12-20 13:54] cthomasONRR commented on #1216
We have a meeting scheduled with Nichelle for Tuesday, January 4 @ 9am.

[2021-12-20 14:45] mcharg opened #1286 "Meet with GIS team about visual design"

[2021-12-20 14:51] mcharg opened #1289 "Update sitemap with CMS content audit: Home page (0.0) and Getting Started (1.0)"

[2021-12-20 15:34] #1119 closed

[2021-12-20 16:19] mcharg commented on #1280
@daniel-coleman-1 This folder has the spreadsheet with all the press releases and a sub-folder with all the press release documents. https://doimspp.sharepoint.com/:f:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Collections/Press%20Releases?csf=1&web=1&e=t4bjLy

[2021-12-20 16:30] daniel-coleman-1 commented on #351
https://iencsj.axshare.com

[2021-12-20 17:52] mojobnichols commented on #1125
Same thing reviewed and didn't close.

[2021-12-20 17:56] #1125 closed

[2021-12-20 18:18] #1120 closed

[2021-12-20 18:26] daniel-coleman-1 commented on #1268
@cthomasONRR  Updated in 3.7.2
https://92ix0j.axshare.com

[2021-12-20 18:27] daniel-coleman-1 commented on #1268
@lpgoldstein

[2021-12-20 19:18] lpgoldstein commented on #1268
@daniel-coleman-1 Looks good!

[2021-12-20 19:40] cthomasONRR opened #1290 "Axure Training: Complex Interactions"
https://docs.axure.com/axure-rp/tutorials/

- [x] Account Login
- [x] Auto Tab Fields
- [x] Blinking Text
- [x] Dynamically Set Droplist Options
- [x] Set Text with Droplist
- [x] Required Fields
- [x] Scroll Activated Sticky Header
- [x] Set Dynamic Panel State on Next Page
- [x] Slider Control
- [x] Terms and Conditions
- [x] Timer

[2021-12-20 20:18] daniel-coleman-1 commented on #1280
The drop down by year menu isn't providing years in descending order:

![Screenshot 2021-12-20 131724](https://user-images.githubusercontent.com/83892362/146827531-1c80ee53-9d99-46cf-942b-1fc891549455.png)

[2021-12-20 21:27] mcharg commented on #1263
Looks good.

[2021-12-20 21:27] #1263 closed

[2021-12-21 14:00] mcharg commented on #1286
Meeting scheduled for Jan 5.

[2021-12-21 15:11] mcharg commented on #1285
Looks good.

[2021-12-21 15:11] #1285 closed

[2021-12-21 15:20] mcharg commented on #1280
@daniel-coleman-1 Please create a new issue for @jlouis-onrr to fix the year menu.

[2021-12-21 15:32] daniel-coleman-1 opened #1291 "Press release date order issues"
Set Archived Press Release drop down menu to descending year order
Right now they're displaying like this:
![Screenshot 2021-12-21 083248](https://user-images.githubusercontent.com/83892362/146956305-2f6f65c9-fdd9-4d82-8455-0824fffd721a.png)

[2021-12-21 16:29] mcharg commented on #1287
Looks good.

[2021-12-21 16:29] #1287 closed

[2021-12-21 16:30] mcharg opened #1292 "Create tracking sheet for adding pages to the CMS - About ONRR"
- [ ] About ONRR

[2021-12-21 17:15] jkwonatx commented on #1262
Status update:

I'm watching Chad Chelius's LinkedIn Learning content of how to create accessible PDFs using InDesign. He has a set of videos that addresses accessibility by topic. For instance, our PDF Monthly Market report is flagged for Logical Reading Order. He has a video that shows how to address the reading order issue. So I'll start on this task by addressing the issues flagged via Acrobat

[2021-12-21 18:03] daniel-coleman-1 commented on #1280
We have three titles with symbols that aren't presenting correctly, looks like mdashes and single quotes:
![Screenshot 2021-12-21 110142](https://user-images.githubusercontent.com/83892362/146977313-0913f3ca-7360-40c7-b564-e774882682ef.png)

[2021-12-21 18:13] daniel-coleman-1 commented on #1280
@mcharg and @jlouis-onrr will it break anything if I add commas to dollar value totals in titles?
![Screenshot 2021-12-21 111228](https://user-images.githubusercontent.com/83892362/146978555-65c21dd8-66af-4805-a9ad-9987314b5a99.png)

[2021-12-21 18:24] mcharg commented on #1280
@Baymatt will be reviewing to make sure the correct document is added to each release.

[2021-12-21 18:49] mcharg commented on #1291
@jlouis-onrr The most recent date should also display at the top instead of the bottom.

[2021-12-21 18:49] mcharg commented on #1280
@daniel-coleman-1 There's a new press release from Nov 23 that needs to be added to the spreadsheet and CMS. https://www.onrr.gov/about/NewsReleases.htm

[2021-12-21 19:13] mcharg opened #1293 "Video on Employment page is unavailable"
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/bfcf95ab-09c4-4fc2-80fd-f0c2d5013828)

[2021-12-21 19:14] mcharg commented on #1293
Found a link for it in Bill's spreadsheet, so we just need to replace the link. https://www.youtube.com/watch?v=pbh4nYkQcj0

[2021-12-21 20:36] Baymatt commented on #1291
When updating the pdf for the press releases in the CMS, the newly updated one gets pushed to the bottom of the page. ![Screen Shot 2021-12-21 at 12.35.06 PM.png](https://images.zenhubusercontent.com/5f584cee7f8acc2201148806/a34cf19f-46cd-4ab3-acb4-910595f35ed1)

[2021-12-22 15:41] mcharg opened #1294 "Determine whether we can swap out double quotes for single quotes in press release titles"
Examples:
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/f72b412a-a6d3-484a-8cdf-c7a25759aa8b)

[2021-12-22 15:42] mcharg commented on #1280
@jlouis-onrr Did you see Daniel's question above about commas?

[2021-12-22 16:00] daniel-coleman-1 commented on #1293
@mcharg the page is updated in dev, with your approval I will push these changes live:
http://2017onrr/about/employment.htm

[2021-12-22 16:07] mcharg commented on #1293
@daniel-coleman-1 Looks good.  Thanks for picking this up!

[2021-12-22 16:48] daniel-coleman-1 commented on #1293
Changes are now reflected in the live site:
https://onrr.gov/about/employment.htm

![image](https://user-images.githubusercontent.com/83892362/147126958-9c2cf61b-9bdc-4a53-a78a-2d0b3ac59de2.png)

[2021-12-22 16:48] #1293 closed

[2021-12-22 16:52] mcharg opened #1295 "Collection: Testimony"
Spreadsheet:
https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Collections/Testimony/TestimonyCollection.xlsx?d=wbb37fae77a75453ea49e8cc446a8968a&csf=1&web=1&e=Xj9AZw

Docs:
https://doimspp.sharepoint.com/:f:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Collections/Testimony/Testimony%20Docs?csf=1&web=1&e=0BhWcy

[2021-12-22 16:52] mcharg commented on #1295
This could use the same date design as press releases.

[2021-12-22 16:56] mcharg commented on #1280
@daniel-coleman-1 This one has a markdown formatted link that probably needs to use the link component in the editor.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/b342be2a-a555-4d95-8556-93c5f806b6d7)

[2021-12-22 17:01] mcharg opened #1296 "Collection: Presentations"
We don't currently have any presentations.  @mentastc Were you going to find some to post?

Spreadsheet: https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Collections/Presentations/PresentationsCollection.xlsx?d=wf86a287417a442d1a1fa645695bb4ca3&csf=1&web=1&e=3TXW8m

[2021-12-22 17:11] jlouis-onrr commented on #1291
#1158 fixes this

[2021-12-22 17:21] mcharg commented on #844
Spreadsheet for collection: https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Collections/Office%20Locations/OfficeLocationsCollection.xlsx?d=w99321b73b023412ea9c620d3c91ea7ae&csf=1&web=1&e=lDxznD

[2021-12-22 17:26] daniel-coleman-1 commented on #1294
@mentastc I did some research, it looks like Knowing or Willful is a specific legal term, in which case it is correct to refer to the term with full quotes and incorrect to refer to the term with a single quote, unless that single quote is contained inside a full quotation.
I'm thinking 'Knowing or Willful' is incorrect and "Knowing or Willful" would be correct, including in titles.  What do you t

[2021-12-22 17:31] #1291 closed

[2021-12-22 18:01] mcharg opened #1297 "Tab: Engagement > Committees"
https://dev-onrr-frontend.app.cloud.gov/about/engagement
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/29
https://qmcq5k.axshare.com/#id=ocslh8&p=engagement&g=1

Spreadsheet: https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Collections/Committees/CommitteesCollection.xlsx?d=w099e7c44232841bba656b6c4627cb2fd&csf=1&web=1&e=ddwpJz

[2021-12-22 18:23] mcharg opened #1298 "Add topics to reporter letters spreadsheet"
This will drive which ones show up on which references tab within the Reporting section.
https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Collections/Dear%20Reporter%20Letters/Dear%20Reporter%20Letters.xlsx?d=wd17d795b45f34b639c5728525d36fe04&csf=1&web=1&e=wV0tdM

[2021-12-22 19:23] mcharg commented on #1210
@crobey98 Here's a spreadsheet with the data from the current events calendar you can use to build the collection. https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Collections/Events/EventsCollection.xlsx?d=w8b9e6a9de7474e8aad819661095e1448&csf=1&web=1&e=U5fy0d

[2021-12-22 19:24] mcharg opened #1299 "Collection: Announcements"
Spreadsheet: https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Collections/Announcements/AnnouncementsCollection.xlsx?d=w16a7d4b2e97c4e8bb39f98aef21ca881&csf=1&web=1&e=z9T1WO

[2021-12-22 19:29] daniel-coleman-1 commented on #1280
![Screenshot 2021-12-22 122639](https://user-images.githubusercontent.com/83892362/147145178-a8d71453-bf81-4d9b-8263-545e69185313.png)

I've replaced the apostrophes with quotation marks and mdashes with regular dashes with a space on each side, and that works in titles.  We'll still need apostrophes for possessives, though:
![Screenshot 2021-12-22 122844](https://user-images.githubusercontent.com

[2021-12-22 19:29] #1268 closed

[2021-12-22 21:43] mcharg opened #1300 "Continue Rulemakings Pages Collection"
@cthomasONRR Do you want to help with this?

I'm going through each of the rulemakings pages and pulling abstracts and link titles, dates, and urls.  I'm hoping we can use this spreadsheet to build the pages automatically instead of manually.

https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Collections/Rulemakings/RulemakingsPagesCollection.xlsx?d=w9f16fe

[2021-12-23 17:43] jlouis-onrr opened #1301 "Make directus assets file links seo friendly"

[2021-12-27 16:35] ginger-johnson opened #1302 "Request to update ONRR's Federal Register Notices Page"
Good morning,

I am requesting two updates to this page https://www.onrr.gov/Laws_R_D/FRNotices/index.htm

Please add two new entries in chronological order.

For the first entry, please create it with November 18, 2021.
It should read as follows:
“86 FR 64523
Thursday, November 18, 2021
**Denver, CO** In accordance with the Paperwork Reduction Act of 1995, ONRR is proposing to renew an informatio

[2021-12-27 16:44] Maroyafaied commented on #1302
@daniel-coleman-1 thanks for taking this issue, please make these updates to the cms as well if needed. Thanks

[2021-12-27 16:44] ginger-johnson opened #1303 "Request Updates to ONRR's Information Collection Page"
Good morning,

I am requesting updates to this page https://www.onrr.gov/Laws_R_D/FRNotices/ICR0103.htm.

Under the Federal Register Publications heading, please add a bullet to the top of the list. The bullet should read as follows: “30-Day Agency Information Collection - (86 FR 64523--November 18, 2021)”

Please add this hyperlink to the language in the parenthesis: https://www.federalregister.g

[2021-12-27 17:00] Maroyafaied commented on #1302
@daniel-coleman-1 disregard my comment about the cms , I confused this with the press releases.

[2021-12-27 17:39] daniel-coleman-1 commented on #1303
@ginger-johnson your requested changes have been implemented in the dev site:
http://2017onrr/Laws_R_D/FRNotices/index.htm

with your approval I will push these changes live

[2021-12-27 17:40] daniel-coleman-1 commented on #1302
@ginger-johnson your requested changes have been implemented in the dev site:
http://2017onrr/Laws_R_D/FRNotices/index.htm

with your approval I will push these changes live

[2021-12-27 17:45] daniel-coleman-1 commented on #1303
@ginger-johnson the requested change has been implemented in dev:
http://2017onrr/Laws_R_D/FRNotices/ICR0103.htm

with your approval I will push these changes live

[2021-12-27 17:51] ginger-johnson commented on #1302
The changes look great. I approve the changes to go live. Thank you!

[2021-12-27 17:52] ginger-johnson commented on #1303
The changes look great. I approve the changes to go live. Thank you!

[2021-12-27 19:49] daniel-coleman-1 commented on #1303
Fantastic, we are live:
https://www.onrr.gov/Laws_R_D/FRNotices/ICR0103.htm

[2021-12-27 19:49] #1303 closed

[2021-12-27 19:50] daniel-coleman-1 commented on #1302
Fantastic, we are live:
https://www.onrr.gov/Laws_R_D/FRNotices/index.htm

[2021-12-27 21:55] Baymatt commented on #1280
Looked through the press releases and fixed any pdfs that were incorrect. The press release for March 27th, 2014 does still have the strange diamond with a question mark but it seems like that has already been noted.

[2021-12-28 14:14] Maroyafaied commented on #1294
@mentastc I'm closing this issue since @daniel-coleman-1 did the research and decided using full quotes is appropriate, also these press release are from 2013 but but please let us know if you disagree. Thanks

[2021-12-28 14:14] #1294 closed

[2021-12-28 15:25] Maroyafaied opened #1304 "Add 508 compliance study plan and findings to wiki"
@cthomasONRR can you add the plan and findings to wiki and link to them in the 508 compliance study blog post .

here's the link to [research repo ](https://github.com/ONRR/research/tree/master/onnr-dot-gov-research)

[Study plan](https://teams.microsoft.com/l/file/AAD04284-EFF2-45C7-8063-9D8EB069F5F4?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.share

[2021-12-28 17:02] Maroyafaied commented on #1280
@daniel-coleman-1 There's one current press releases missing, @mcharg mentioned above in the comments from November 23rd that needs to be added to the cms and the spreadsheet. ![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/fe30fd98-ffd6-4276-8ad5-10991c147f3c)!. This is it on the on the live site currently. ![image.png](https://images.zenhubusercontent.com/5c58acad07cc4

[2021-12-28 18:34] Maroyafaied opened #1305 "Look into web robot for adding all NYMEX files"

[2021-12-28 18:41] cthomasONRR commented on #1304
This is complete.

New folder and files are located here: https://github.com/ONRR/research/tree/master/onnr-dot-gov-research/09_508_Study

Dan's reference I used to create the new folder: https://github.community/t/add-a-folder/2304

Closing this issue.

[2021-12-28 18:41] #1304 closed

[2021-12-28 18:50] Maroyafaied commented on #1280
@daniel-coleman-1 the links look good. Please add Nov 23rd  press release to spreadsheet and cms, make all title cases consistent, remove the NRRD link from the press release below (1st pic), and remove the periods or rename the title of the 2nd press release below (2nd pic), and remove the space in the 3rd pic to get rid of that symbol.
![image.png](https://images.zenhubusercontent.com/5c58acad07

[2021-12-28 19:51] daniel-coleman-1 commented on #1280
@Maroyafaied title case is consistent throughout.

Link removed:
![Screenshot 2021-12-28 123407](https://user-images.githubusercontent.com/83892362/147601585-1ee1b7ef-8eec-4c6a-a2bb-dc88876f6df9.png)

Apostrophe corrected:
![Screenshot 2021-12-28 123338](https://user-images.githubusercontent.com/83892362/147601588-afb30a4b-5342-41d7-9542-6610bcd97eb5.png)

Rephrased to match structure of other tit

[2021-12-28 21:08] Maroyafaied commented on #1280
@daniel-coleman-1  I've reviewed , here are my comments.

 These need to be fixed
![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/df977ec8-e38a-4d64-aa89-22c40252bd35)![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/45e6ee7f-6f26-46d9-9d7f-72b20a68757a)

Add space
![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/2ed7ae7

[2021-12-28 21:49] #1290 closed

[2021-12-28 23:11] daniel-coleman-1 commented on #1280
@maroya Corrected the first three, thanks for catching.  Also, "to" should always be uncapitalized in titles, so I fixed those as well.

for March 30, we don't need an apostrophe after States because it's plural, not possessive
for Feb 11, the 1 Billion is referring to billions of barrels of oil, not a dollar amount, so no dollar sign needed

[2021-12-29 00:10] Maroyafaied commented on #1280
@daniel-coleman-1 there's a few more I found that need to be fixed, please fix and review all of them thoroughly.

![image](https://user-images.githubusercontent.com/40175688/147615535-f3ce926b-810f-4c3d-97c9-3920d9161945.png)

![image](https://user-images.githubusercontent.com/40175688/147615871-cb8d2b59-e941-4d4a-ae1c-e05408b1dedc.png)

![image](https://user-images.githubusercontent.com/40175688

[2021-12-29 14:09] #1195 closed

[2021-12-29 14:09] Maroyafaied commented on #1195
@jlouis-onrr this looks good, I'll close the issue.

[2021-12-29 14:11] Maroyafaied commented on #1261
@jlouis-onrr is this waiting on someone to review?

[2021-12-29 14:12] Maroyafaied commented on #1256
@jlouis-onrr  is this ready for review?

[2021-12-29 14:34] Maroyafaied opened #1306 "Reporter letters titles"
- Make all titles consistent to be title case, this can be done in the [excel sheet](https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Collections/Dear%20Reporter%20Letters/Dear%20Reporter%20Letters.xlsx?d=wd17d795b45f34b639c5728525d36fe04&csf=1&web=1&e=1AEAWp) and @jlouis-onrr  will incorporate the spreadsheet to the cms)
- Fix titles in cms to remove any

[2021-12-29 15:54] cthomasONRR commented on #1300
@mcharg I filled out the rest of the spreadsheet except for 6 entries (highlighted in yellow). These 6 have more complicated webpages (more narratives and links) so we might want to discuss a better method for these than putting them into this spreadsheet.

[2021-12-29 19:35] jlouis commented on #1306
Surely you mean @jlouis-onnr I think :)

More so the right person ends up getting tagged here if you wanted it to be
a ping.

On Wed, Dec 29, 2021 at 3:35 PM Maroyafaied ***@***.***>
wrote:

--
J.

[2021-12-29 19:39] Maroyafaied commented on #1306
@jlouis ahh so sorry, yes I meant @jlouis-onrr

[2021-12-29 19:45] jlouis commented on #1306
Don't worry!

I learned something today. Namely what ONNR is!

On Wed, Dec 29, 2021 at 8:39 PM Maroyafaied ***@***.***>
wrote:

--
J.

[2021-12-29 21:29] cthomasONRR commented on #1298
@mcharg I added topic(s) for all reporter letters. I did my best to be consistent. In some situations, it was very hard to stay general (ex: should I put Federal Oil, Federal Gas -OR- Federal Leases), but put the more detailed commodity info when I had the specifics to do so.

[2021-12-29 21:38] jlouis-onrr commented on #1159
pagination added to reporter letters data table

[2021-12-29 23:07] daniel-coleman-1 commented on #1280
I think we're good to close this one

[2021-12-29 23:52] #1280 closed

[2021-12-30 15:17] Maroyafaied opened #1307 "December Analytics"

[2021-12-30 18:03] #1281 closed

[2021-12-30 18:05] Maroyafaied commented on #1261
@mojobnichols can you please review then close.

[2021-12-30 18:05] #1219 closed

[2021-12-30 18:05] #1158 closed

[2021-12-30 18:09] Maroyafaied commented on #828
All files should be collections

[2021-12-30 18:12] Maroyafaied commented on #1256
@Maroyafaied review

[2021-12-30 18:51] Maroyafaied commented on #1256
I've reviewed and it looks great.

[2021-12-30 18:51] #1256 closed

[2021-12-30 18:52] Maroyafaied opened #1308 "Demo NYMEX to MSA team"

[2021-12-30 18:54] Maroyafaied opened #1309 "Upload NYMEX files"
Add the rest of the NYMEX files.

[2021-12-30 18:56] Maroyafaied opened #1310 "Prepare for Demo to ELT"
Demo will include
- NYMEX
- Press Releases
- Workflow process
- Renewable snapshot prototype

[2022-01-03 14:16] mcharg commented on #1298
@cthomasONRR Looks great. Thank you!

[2022-01-03 14:16] #1298 closed

[2022-01-03 14:28] mcharg commented on #1302
@cthomasONRR Would these FRNs need to be added to ICR or rulemaking pages in the new site, since we'll no longer have a list of all FRNs?

[2022-01-03 14:29] mcharg commented on #1300
@cthomasONRR Let's discuss the complicated ones with @jlouis-onrr in synch up tomorrow.

[2022-01-03 14:35] cthomasONRR commented on #1302
@mcharg

The first one (with 11/18/21 date) is an ICR and will go under the respective ICR page. Current site: https://www.onrr.gov/Laws_R_D/FRNotices/FRInfColl.htm. Future site: https://qmcq5k.axshare.com/#id=tqf3j1&p=information_collection_requests.

The second one (with 12/27/21 date) is the annual marginal property FRN. Current site: https://www.onrr.gov/Laws_R_D/FRNotices/index.htm. Future si

[2022-01-03 14:46] mcharg commented on #1302
@cthomasONRR Makes sense.  Can you add the ICR one to the ICR spreadsheet?

The FRN one will need to be updated in the CMS, since that page is in there.  @daniel-coleman-1 Can you do that one?

[2022-01-03 14:50] mcharg commented on #1302
@lpgoldstein We should note in the content tracking sheet that the most recent FRN links on the FRNs page will change every year.

[2022-01-03 14:52] cthomasONRR commented on #1302
@mcharg setting up a new issue to update the ICR excel sheet, it is out of date.

[2022-01-03 14:54] cthomasONRR opened #1311 "Update ICR excel collections for CMS (current and discontinued)"
https://doimspp.sharepoint.com/:x:/r/sites/NRRD/_layouts/15/Doc.aspx?sourcedoc=%7B0A9FA42E-3AF2-4CA8-8A9B-AC1991A6F368%7D&file=CurrentICRCollection.xlsx&action=default&mobileredirect=true

Need to update this spreadsheet with the recent ICR publications.

[2022-01-03 14:54] cthomasONRR commented on #1311
Link for discontinued ICRs: https://doimspp.sharepoint.com/:x:/r/sites/NRRD/_layouts/15/Doc.aspx?sourcedoc=%7BA22FFB69-DAC4-4884-8439-C400E5A9AFC2%7D&file=DiscontinuedICRCollection.xlsx&action=default&mobileredirect=true

[2022-01-03 14:57] cthomasONRR commented on #1311
Folder housing collections: https://doimspp.sharepoint.com/sites/NRRD/Shared%20Documents/Forms/AllItems.aspx?csf=1&web=1&e=hHcebS&cid=5837c964%2D7e25%2D4165%2Dbd63%2D6e7c0c1e4b99&RootFolder=%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR%2Egov%2FDesign%2FCollections&FolderCTID=0x01200044BDC74607AB0342BAC14F3B92EB1E28

[2022-01-03 15:00] mcharg commented on #828
How would it work for stand-alone document links like the pricing maps to be in a collection?
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/b598f730-0992-4994-90ca-bffe0c50ecb7)

[2022-01-03 15:05] mcharg commented on #828
And what about pages where we have a mix of things?  Would each list be a separate collection?
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/2b28d4ab-2cb7-452e-87e8-578ebca09cbf)

[2022-01-03 15:06] mcharg commented on #828
Another example where cards have different numbers of links and some are docs and some are external links. ![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/90f2dadf-41b0-4e4e-a85a-61a509351f19)

[2022-01-03 15:14] mcharg commented on #828
We've also got docs that live in multiple places and I don't want them to have to live in two collections.

[2022-01-03 15:15] cthomasONRR commented on #1311
@mcharg On the current live site and spreadsheet, only some of the current ICRs have links to the docket folders. ICRs 0004, 0008, 1010 have docket folder links. ICRs 0001, 0002, 0003, 0005, 0006, and 0009 do not have docket folder links. Want me to add those? It will take me a bit to make sure I have the correct docket and add them to the live site.

[2022-01-03 15:17] mcharg commented on #1311
@cthomasONRR I defer to you on whether they are needed.

[2022-01-03 15:19] mcharg commented on #828
For example, the valuation example pdfs are on the page listing the examples and again on the example page.  Same with all the handbooks.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/8ad497fe-040c-4c03-9919-92b6f7003acb)

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/33a26e31-5a87-49d3-bb26-f02bcaceb407)

[2022-01-03 15:19] cthomasONRR commented on #1311
I will work on adding them within this issue. The dockets are good to have in case regs decides they want to remove the older FR pubs... those are all saved within the docket.

[2022-01-03 15:19] mcharg commented on #828
There are also forms linked from many pages.

[2022-01-03 15:20] mcharg commented on #828
And reporter letters.

[2022-01-03 15:20] mcharg commented on #828
And we link to the GOMESA press releases on the homepage separate from the list of press releases.

[2022-01-03 15:22] mcharg commented on #828
@mojobnichols See above comments for places where there might be problems using collections for all documents.

[2022-01-03 15:24] mcharg commented on #1271
There is one coming, but it's not ready yet.  Moving this out of the current sprint.

[2022-01-03 15:48] cthomasONRR commented on #1311
@mcharg ICR 1012-0010 (http://2017onrr/Laws_R_D/FRNotices/FRInfColl.htm) links to 1012-0009 (http://2017onrr/Laws_R_D/FRNotices/ICR0120.htm). I might need your help fixing this link.

[2022-01-03 15:57] bbell0229 opened #1312 "Late Payment & Underpayment Interest Tables"
Good Morning,

On the Late Payment & Underpayment Interest Tables page, at https://onrr.gov/ReportPay/interest.htm, please make the following updates:

1) Replace the interest calculator excel file below the questions/contact box on the page.
2) Add a new line at the bottom of the late payments and underpayments table for period 1/1/2022-3/31-2022, all columns remain the same.

If you have any que

[2022-01-03 16:34] Maroyafaied opened #1313 "Format Dates in NYMEX files"
@mojobnichols can you specify which files we need to format the dates for and to which format?

[2022-01-03 17:20] merrellc opened #1314 "Webpage- Federal Onshore Terminable Leases"
Please update the following webpage http://www.onrr.gov/reportPay/royalty-reporting.htm with the attached PDF file-

Federal Onshore Terminable leases - sorted by Due Date - change update to 01/03/2022.

Thank you!

[20220103.xlsx](https://github.com/ONRR/onrr.gov-site/files/7803160/20220103.xlsx)

[2022-01-03 17:49] cthomasONRR commented on #1314
@merrellc I just want to double-check to make sure you sent over the correct document- your request says PDF but you sent an Excel. Thanks!

[2022-01-03 17:53] cthomasONRR commented on #1314
@merrellc You can view the changes on the dev site: http://2017onrr/reportpay/royalty-reporting.htm

[2022-01-03 18:03] #1261 closed

[2022-01-03 18:17] Maroyafaied commented on #1252
@Maroyafaied review

[2022-01-03 18:20] Maroyafaied commented on #1204
@daniel-coleman-1 if you haven't heard from Bill yet then let's just push live without the MP4

[2022-01-03 18:25] merrellc commented on #1314
Sorry, it should be Excel.

Thank you,
​Candace Merrell
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3517
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt fr

[2022-01-03 18:26] lpgoldstein commented on #1312
@bbell0229 This is ready for your review: http://2017onrr/reportpay/interest.htm

[2022-01-03 18:28] cthomasONRR commented on #1314
@merrellc Thanks! Can you please review the dev site and give us your approval to go live? You can view the changes on the dev site: http://2017onrr/reportpay/royalty-reporting.htm

[2022-01-03 18:29] merrellc commented on #1314
Approve to go live.

Thank you,
​Candace Merrell
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3517
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disc

[2022-01-03 18:31] bbell0229 commented on #1312
Looks good to me! Thank you!!!

[2022-01-03 18:35] cthomasONRR commented on #1314
@merrellc Great thanks! I just moved the changes to the live site. It will take about 30min for the site to update. Please remember to use 'Ctrl+F5' to refresh the webpage. https://www.onrr.gov/reportpay/royalty-reporting.htm

I will close this issue once I see the changes live.

[2022-01-03 18:41] Maroyafaied commented on #1302
Will close and create separate issues.

[2022-01-03 18:41] #1302 closed

[2022-01-03 18:41] mcharg opened #1315 "Update CMS with updated annual FRN link"
See #1302

[2022-01-03 18:42] mcharg commented on #1315
@lpgoldstein to also note in the content tracking sheet that the link gets updated annually.

[2022-01-03 18:46] mcharg opened #1316 "Demo press releases pages and workflow with public relations team"

[2022-01-03 19:04] mojobnichols commented on #1313
Files in link below the here prior to 2011 don't have dates for the month, instead it is the string "January 2010", etc.   These need to be turned into proper dates and then formatted to be January 2010 etc

https://doimspp.sharepoint.com/:f:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Collections/NYMEX?csf=1&web=1&e=YMIaDl

[2022-01-03 19:04] mcharg commented on #1252
This looks good to me.  @mojobnichols I added titles for each of the tabs, so you might want to pull the changes into your local build.

[2022-01-03 19:07] mcharg commented on #1235
For this particular instance, it would work to create the table as a collection and then use the collection in two places.

[2022-01-03 19:08] mcharg commented on #1258
@Maroyafaied Did we want to have @jlouis-onrr do this before the demo, so the images on How Valuation Works aren't cut off?

[2022-01-03 19:13] mcharg commented on #1253
@Maroyafaied The link to valuation regulations is working, so this one is ready to review.

[2022-01-03 19:15] mcharg commented on #1018
@mojobnichols This works when linking from a first level tab to a first level tab, but it doesn't even show up as a link when attempting to link from a sub-tab.

[2022-01-03 19:21] mcharg commented on #1235
Here, I want the report electronically component on the File Reports tab, but I can only put it below the tabs.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/19d656fc-346f-432f-ad6f-019dbdc8e85e)

[2022-01-03 19:23] Maroyafaied commented on #1258
@mcharg Yes, it would be great if @jlouis-onrr can get the images not to cut off before our meeting next Tuesday.

[2022-01-03 19:30] mcharg opened #1317 "Fix contrast on sub-tabs"
There's not enough contrast.  We should probably fix this before the demo.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/b4d9904d-9916-465e-b1af-1f7f387f3036)

Changing to black or dark gray font like the wireframes should fix it.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/fa650551-2a7e-4dc5-9dbf-6bcc1b517375)

[2022-01-03 19:33] Maroyafaied commented on #1252
@mcharg can we make the "crude oil market centers" tab next to the NYMEX Oil tab since they relate to each other? We should also add content to the crude oil market center tab before demo if we could.

[2022-01-03 19:34] mcharg commented on #1252
@Maroyafaied They will be next to each other, but we decided to move NYMEX first for the demo.  I can move it for the demo, if you think it's valuable.

[2022-01-03 19:34] lpgoldstein commented on #1312
@bbell0229 It's live! https://onrr.gov/ReportPay/interest.htm Please clear your cache if you can't see the updates.

[2022-01-03 19:36] Maroyafaied commented on #1252
@mcharg That's fine for the demo.

[2022-01-03 19:37] mcharg opened #1318 "Add Crude Oil Market Centers tab content to CMS"
And move it next to NYMEX for the demo.

[2022-01-03 19:37] #1314 closed

[2022-01-03 19:37] mcharg commented on #1252
@Maroyafaied I created #1318 to add the content and move the tab.

[2022-01-03 19:39] cthomasONRR commented on #1311
@mcharg I finished updating the Current ICRs Excel, if you would like to review. The Discontinued ICRs Excel has similar issues that we discussed. Should I go through and revise this spreadsheet to look like my updated Current ICR spreadsheet?

[2022-01-03 19:40] Maroyafaied commented on #1253
@mcharg looks good

[2022-01-03 19:43] mcharg commented on #1311
@cthomasONRR That works.

[2022-01-03 20:00] Maroyafaied commented on #351
For this issue, I'd like a simple checklist to include the following. Let me know your thoughts @mcharg @lpgoldstein @daniel-coleman-1

For person adding content:
- Add content based on the wireframes
- Ensure correct files are added and correct links
- Ask another person on the team to check added content with link to the dev site
-Update CMS tracking sheet with status or any blockers
- Add your

[2022-01-03 20:30] lpgoldstein commented on #351
@Maroyafaied For the first iteration of content adding do we want to make sure that someone on our team reviews everything as well?

[2022-01-03 20:34] Maroyafaied commented on #351
@lpgoldstein Yes, the section that says " for person reviewing new added content" is meant for someone on our team to do the review.

[2022-01-03 21:14] mcharg commented on #351
@Maroyafaied I think we may also need something about adding collections, since a lot of the content and documents will be added using collections.

Otherwise, looks good.

[2022-01-03 21:14] mcharg commented on #351
We should also attach issues for any blockers to the GitHub issue as depedencies.

[2022-01-03 21:58] Maroyafaied commented on #351
@mcharg Thanks for the feedback, I've edited my draft checklist. Please revise as you see fit.

For person adding content:
- Add content based on the wireframes
- Add appropriate collection for the page
- Ensure correct files are added and correct links
- Ask another person on the team to check added content with link to the dev site
- Update CMS tracking sheet with status or any blockers
- If blo

[2022-01-03 22:12] merrellc opened #1319 "Webpage Update-Active Agreements"
Please update the following webpage-
www.onrr.gov/ReportPay/CrossRef.htm
Active Agreements - sorted by state and Agency Agreement number with the attached Excel file. Please use updated 01/03/2022.

Thank you!
[Active Agreements sorted by Agency Number.xlsx](https://github.com/ONRR/onrr.gov-site/files/7804260/Active.Agreements.sorted.by.Agency.Number.xlsx)

[2022-01-03 22:16] merrellc opened #1320 "Webpage update - Active leases"
Please update the following webpage-
www.onrr.gov/ReportPay/CrossRef.htm with the attached Excel file.

Active leases - Sorted by state and Agency Lease Number updated 01/03/2022.

Thank you!
[ALwState.xlsx](https://github.com/ONRR/onrr.gov-site/files/7804284/ALwState.xlsx)

[2022-01-03 22:17] cthomasONRR commented on #1319
@merrellc I made these changes on the dev site: http://2017onrr/reportpay/CrossRef.htm. Please review and give us your approval to go live. Thanks!

[2022-01-03 22:21] cthomasONRR commented on #1320
@merrellc I made these changes on the dev site: http://2017onrr/reportpay/CrossRef.htm. Please review and give us your approval to go live. Thanks!

[2022-01-03 22:38] cthomasONRR commented on #1311
@mcharg I updated the Discontinued ICRs Excel to match the reformatting I did within the Current ICRs Excel. Please let me know if you want to review, or if I'm good to close this issue. Thanks!

[2022-01-03 23:46] merrellc commented on #1319
Approved.

Thank you,
​Candace Merrell
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3517
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosure und

[2022-01-03 23:46] merrellc commented on #1320
Approved.

Thank you,
​Candace Merrell
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3517
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosure und

[2022-01-03 23:50] Maroyafaied opened #1321 "Remove Drip Condensate Reporter Letter"
April and RV have requested for this reporter letter to be removed, @cthomasONRR can you please make the changes in the dev site and send to April for approval. Also, we'll need to remove it from  the reporter letter collection spreadsheet &  delete it from CMS. Thanks
![image](https://user-images.githubusercontent.com/40175688/147992531-179913a2-7f12-4875-98fd-b90ebd8727b0.png)

[2022-01-04 03:16] #1312 closed

[2022-01-04 13:38] cthomasONRR commented on #1320
@merrellc Great! I just moved these changes to the live site (https://www.onrr.gov/ReportPay/CrossRef.htm). Please allow around 30min for the live site to update. Remember to use 'Ctrl+F5' to refresh the page. I will close this issue once I see the changes live.

[2022-01-04 13:38] cthomasONRR commented on #1319
@merrellc Great! I just moved these changes to the live site (https://www.onrr.gov/ReportPay/CrossRef.htm). Please allow around 30min for the live site to update. Remember to use 'Ctrl+F5' to refresh the page. I will close this issue once I see the changes live.

[2022-01-04 13:46] mcharg commented on #351
@Maroyafaied Should we add something about adding comments to wireframe and/or sitemap if we find things that need to be changed on that end?

[2022-01-04 13:48] cthomasONRR commented on #1321
@Maroyafaied I emailed April the dev site and requester her approval.
I also removed this letter from the Collections folder and the corresponding excel. Both collection items located [here](https://teams.microsoft.com/_#/files/General?groupId=81f624a1-bcde-4f77-ba3b-69c787c88ed3&threadId=19%3A34f9f9ee6b0441dbacab56bfd552f819%40thread.skype&ctx=channel&context=Dear%2520Reporter%2520Letters&rootfol

[2022-01-04 13:49] mcharg commented on #1311
@cthomasONRR I think they look good.

[2022-01-04 13:49] #1311 closed

[2022-01-04 13:50] Maroyafaied commented on #351
@mcharg sure, I added it to the list above.

[2022-01-04 13:51] mcharg commented on #351
@Maroyafaied Looks good.

[2022-01-04 13:58] mcharg opened #1322 "Review Statutes collection"
Can you please make sure I did it right?
https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Collections/Statutes/StatutesCollection.xlsx?d=w099e7c44232841bba656b6c4627cb2fd&csf=1&web=1&e=p53f7s

[2022-01-04 14:01] #1319 closed

[2022-01-04 14:01] #1320 closed

[2022-01-04 14:07] bowlenj opened #1323 "Revised Reporter Training Agenda"
Please replace the existing Agenda and Registration Information document at - https://www.onrr.gov/reportpay/training/index.htm, with the attached Revised Agenda and Registration Information
[REVISED Reporter Training agenda.pdf](https://github.com/ONRR/onrr.gov-site/files/7808128/REVISED.Reporter.Training.agenda.pdf)
.

[2022-01-04 14:13] cthomasONRR commented on #1322
@mcharg I reviewed. This page is much more simple than the ICRs! No big revisions to do. I changed the column B title to "Law Name Hyperlink" so that everyone knows those URLs should be linked within the law name.

[2022-01-04 14:22] cthomasONRR commented on #1323
@bowlenj Good morning, I made this change on the dev site: http://2017onrr/reportpay/training/index.htm. Please review and give us your approval to go live. Thanks!

[2022-01-04 14:25] #1322 closed

[2022-01-04 14:35] cthomasONRR commented on #1321
April approved and the changes are live. Closing this issue.

[2022-01-04 14:35] #1321 closed

[2022-01-04 14:46] bowlenj commented on #1323
Looks Great, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from di

[2022-01-04 14:50] cthomasONRR commented on #1323
@bowlenj Great! I just moved the change to the live site (https://www.onrr.gov/reportpay/training/index.htm). It can take the live site about 30min to update. Please remember to use 'Ctrl+F5' to refresh the webpage. I will close this issue once I see the change live. Thanks!

[2022-01-04 14:59] mcharg opened #1324 "Make collections for all the things"
To link out to from the content tracking sheet.

[2022-01-04 14:59] mcharg commented on #1324
See this folder for list of collections. https://doimspp.sharepoint.com/:f:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Collections?csf=1&web=1&e=T4tYs8

[2022-01-04 15:03] #1323 closed

[2022-01-04 16:51] mcharg commented on #1315
@lpgoldstein I added the note to the content tracking sheet and updated the wireframe.

[2022-01-04 16:56] cthomasONRR commented on #1216
Some of the action items discussed with Nichelle: incorporate 508 info into all-hands meetings, put the compiled resource list (developed by the 508 Documents Team) on ONRResource, promote the use of Microsoft documents over PDFs for the website and ask Kimbra/Howard to endorse this.

I believe we can close this issue now.

[2022-01-04 16:56] Maroyafaied opened #1325 "Add meta titles for all pages on CMS"

[2022-01-04 16:57] Maroyafaied commented on #1246
@mcharg please review https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement

[2022-01-04 19:08] bowlenj opened #1326 "100% Fed Agmt Update"
Please update the following webpage https://www.onrr.gov/reportpay/royalty-reporting.htm with the attached excel file.

100% Federal Agreements with the Same Royalty Rate & Royalty Distributions

Also change (updated 10/07/2021) to read 01/04/2022.
[fedagmts.xlsx](https://github.com/ONRR/onrr.gov-site/files/7809823/fedagmts.xlsx)

[2022-01-04 19:18] bowlenj opened #1327 "Update to Lease/Agreement Maintenance"
Please update the contact list for Lease/Agreement Maintenance at the following webpage https://www.onrr.gov/about/contact.htm, with the attached pdf.

[Lease Agreement Maintenance Contacts_1-4-22.pdf](https://github.com/ONRR/onrr.gov-site/files/7809866/Lease.Agreement.Maintenance.Contacts_1-4-22.pdf)

[2022-01-04 19:20] cthomasONRR commented on #1326
@bowlenj Hello, this change is ready for your review and approval in dev: http://2017onrr/reportpay/royalty-reporting.htm. Please let us know if you approve these changes to go live. Thanks!

[2022-01-04 19:23] cthomasONRR commented on #1327
@bowlenj This PDF failed the accessibility check. Could you please fix the document and resubmit? Thanks.
![image](https://user-images.githubusercontent.com/72526208/148112590-6ba60f40-dcab-44ff-b82b-12ef7ad3009a.png)

[2022-01-04 19:35] bowlenj commented on #1326
Looks great, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from di

[2022-01-04 19:38] bowlenj commented on #1327
I re-checked and I believe it should be good now, sorry about that!
[Lease Agreement Maintenance Contacts_1-4-22.pdf](https://github.com/ONRR/onrr.gov-site/files/7809997/Lease.Agreement.Maintenance.Contacts_1-4-22.pdf)

[2022-01-04 19:38] bowlenj commented on #1327
I re-submitted, I'm sorry about that!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and

[2022-01-04 19:56] cthomasONRR commented on #1327
@bowlenj OK, thanks. This update is now on the dev site: http://2017onrr/about/contact.htm. Please review and give us your approval to make the change live.

[2022-01-04 20:00] cthomasONRR commented on #1326
@bowlenj These changes are now live: https://www.onrr.gov/reportpay/royalty-reporting.htm. Closing this issue.

[2022-01-04 20:00] #1326 closed

[2022-01-04 20:14] bowlenj commented on #1327
Looks great, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from di

[2022-01-04 20:38] cthomasONRR commented on #1327
@bowlenj This change is now live: https://www.onrr.gov/about/contact.htm. Closing this issue.

[2022-01-04 20:38] #1327 closed

[2022-01-04 20:39] cthomasONRR commented on #1300
@mcharg I'm going to close this issue. Let me know if you feel that we need to reopen it.

[2022-01-04 20:39] #1300 closed

[2022-01-04 20:41] #1216 closed

[2022-01-04 20:47] mcharg opened #1328 "Add troubleshooting guide to CMS tracking spreadsheet"
Once we finalize it.

[2022-01-04 20:47] mcharg commented on #1292
Created #1328 to add the troubleshooting guide once it's finalized.

@lpgoldstein The rest of About is ready to review.

[2022-01-04 20:51] Maroyafaied commented on #1252
@mcharg I'm good to close this since you created issue #1318.

[2022-01-04 20:57] #1325 closed

[2022-01-04 21:45] mcharg commented on #1284
@lpgoldstein This is ready for you to review.

[2022-01-04 22:00] mcharg commented on #1288
@lpgoldstein looks good.

[2022-01-04 22:00] #1288 closed

[2022-01-04 22:04] #1324 closed

[2022-01-04 23:32] #1284 closed

[2022-01-05 15:10] mcharg commented on #1258
Looks good.

[2022-01-05 15:10] #1258 closed

[2022-01-05 15:58] #1292 closed

[2022-01-05 18:50] mcharg commented on #1252
@Maroyafaied I added the note about prices being in $ per bbl, if you want to review again.
https://dev-onrr-frontend.app.cloud.gov/references/valuation?tab=pricing

[2022-01-05 18:58] Maroyafaied commented on #1252
@mcharg looks good

[2022-01-05 19:00] #1252 closed

[2022-01-05 19:05] mcharg opened #1329 "Add ability for table cells to have more than one line of content"
These two locations are supposed to be on separate lines.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/f61a39a7-cd50-4120-a052-cc2201ddc014)

Wireframe:
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/626bb3cd-5e7e-4017-ae6a-e70e63673049)

[2022-01-05 19:10] mcharg commented on #1318
@Maroyafaied Is this good enough for the demo?  I couldn't do multiple lines for locations, so used semicolons instead and the table formatting needs to be cleaned up.
https://dev-onrr-frontend.app.cloud.gov/references/valuation?tab=crude-oil-market-centers

[2022-01-05 19:21] mcharg opened #1330 "Paying menu is in wrong order"
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/16f63131-83cb-4b63-a231-ecea17fedd94)

Correct order:
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/36b6f706-c48e-4403-ac77-51e770766c4b)

[2022-01-05 19:24] mcharg opened #1331 "Add Federal Gas Index Option tab"

[2022-01-05 19:37] mcharg opened #1332 "Clean up header styling"
The styling isn't very clean and H5 is bigger than H4.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/4cd309f8-6ad1-434c-873a-524baa395bb7)

Wireframe:
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/ad88c350-86a7-4659-a5b0-260bbdecdc0f)

Fonts used in wireframe:

Color for all text except H1: #1C2326
H1: 45 pt Lato (only this one is #333333)

[2022-01-05 19:40] mcharg commented on #1331
@Maroyafaied Another one that we can show in the demo.  Just needs some styling cleanup.

@cthomasONRR Should we have a link on the CFR in the intro paragraph?  We didn't have one in the wireframe.
https://dev-onrr-frontend.app.cloud.gov/references/valuation?tab=federal-gas-index-option

[2022-01-05 19:53] Maroyafaied commented on #351
@cthomasONRR @lpgoldstein @mcharg please review the updated instructions based on the content tracking sheet. Once you are done with your review , I can use it for issue #1246 since I just added that page and @cthomasONRR can test it out again when she adds pages. https://doimspp.sharepoint.com/sites/NRRD/_layouts/15/doc.aspx?sourcedoc={e1a9e465-d8df-40bc-a745-1c5c891ca07a}&action=edit

[2022-01-05 19:54] mcharg commented on #351
@Maroyafaied I reviewed and added some comments and tracked edits.

[2022-01-05 20:04] mcharg opened #1333 "Tab: Valuation & Pricing > Pricing > Indian Gas Index Zone"
https://dev-onrr-frontend.app.cloud.gov/references/valuation?tab=pricing
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/50
https://qmcq5k.axshare.com/#id=l9inb4&p=valuation___pricing&g=1

Also:
https://dev-onrr-frontend.app.cloud.gov/indian/indian-pricing
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/34
https://qmcq5k.axshare.com/#id=y89dq7&p=indian_pricing&g=1

[2022-01-05 20:13] mcharg commented on #1333
Got as far as I could get. https://dev-onrr-frontend.app.cloud.gov/references/valuation?tab=indian-gas-index-zone

[2022-01-05 20:15] mcharg opened #1334 "Tab: Valuation & Pricing > Pricing > Indian Oil Major Portion"
https://dev-onrr-frontend.app.cloud.gov/references/valuation?tab=pricing
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/50
https://qmcq5k.axshare.com/#id=l9inb4&p=valuation___pricing&g=1

Also:
https://dev-onrr-frontend.app.cloud.gov/indian/indian-pricing
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/34
https://qmcq5k.axshare.com/#id=y89dq7&p=indian_pricing&g=1

[2022-01-05 20:19] cthomasONRR commented on #351
@Maroyafaied I made some edits mainly just for readability.

[2022-01-05 20:23] cthomasONRR commented on #1331
We can link:

1206.141(c) with the following hyperlink: https://www.ecfr.gov/current/title-30/chapter-XII/subchapter-A/part-1206#p-1206.141(c)

and

1206.142(d) with the following hyperlink: https://www.ecfr.gov/current/title-30/chapter-XII/subchapter-A/part-1206#p-1206.142(d)

[2022-01-05 20:26] cthomasONRR commented on #1331
@mcharg For the Pricing intro paragraph, we can link 30 CFR 1206 with the following hyperlink: https://www.ecfr.gov/current/title-30/chapter-XII/subchapter-A/part-1206

![image](https://user-images.githubusercontent.com/72526208/148284320-2960d903-0042-4434-abfe-fc5677ca10c7.png)

[2022-01-05 20:31] mcharg opened #1335 "Tab: Valuation & Pricing > Pricing > Indian Gas Major Portion"
https://dev-onrr-frontend.app.cloud.gov/references/valuation?tab=pricing
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/50
https://qmcq5k.axshare.com/#id=l9inb4&p=valuation___pricing&g=1

Also:
https://dev-onrr-frontend.app.cloud.gov/indian/indian-pricing
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/34
https://qmcq5k.axshare.com/#id=y89dq7&p=indian_pricing&g=1

[2022-01-05 20:38] Maroyafaied commented on #1318
@mcharg Ya it's fine for now, the only thing I think we should add is the word "ONRR" before Approved Crude Oil Market Centers. That's how it is on the live site.

![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/bf41f167-b371-4f64-be94-08a4fea8e583)
![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/a3a3d151-7ea0-463f-bd6f-a82f9e62ca6d)

[2022-01-05 20:53] mcharg opened #1336 "Tab: Valuation & Pricing > Valuation Regulations"

[2022-01-05 20:55] Maroyafaied commented on #1331
@mcharg the middle column should be titled New Mexico not Gulf of Mexico.
![image](https://user-images.githubusercontent.com/40175688/148288110-6deaa4f8-ba4d-4466-b915-120a0198eba1.png)

[2022-01-05 21:35] mcharg commented on #1286
We met.  @jlouis-onrr is going to read documentation on their platform and give them help with how to edit thing and @jkwonatx is going to work on a wireframe they can use as a template.

[2022-01-05 21:35] #1286 closed

[2022-01-05 21:40] mcharg commented on #1336
Putting this one off because we need rulemakings pages before we can add all the links.

[2022-01-05 21:43] mcharg opened #1337 "Tab: Valuation & Pricing > Unbundling"
https://dev-onrr-frontend.app.cloud.gov/references/valuation?tab=unbundling
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/50
https://qmcq5k.axshare.com/#id=l9inb4&p=valuation___pricing&g=1

[2022-01-05 21:51] mcharg opened #1338 "Tab: Valuation & Pricing > Unbundling > Standardized UCAs"
https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Collections/Unbundling/StandardizedUCAsCollection.xlsx?d=w1bc26a68e0594f6a9999de2b4e309294&csf=1&web=1&e=6BxNVz

[2022-01-05 21:52] mcharg opened #1339 "Collection: Plant-Specific UCAs"
https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/CMS/Collections/Unbundling/Plant-SpecificUCAsCollection.xlsx?d=w4652e771955048258c79f8e9a2f2f572&csf=1&web=1&e=f92SuW

[2022-01-05 21:59] mcharg opened #1340 "Page shows incorrect sub-tabs"
I created the Unbundling page, which is another tab on the Valuation & Pricing page. I added sub-tabs for that page, but it's showing the sub-tabs from the pricing page.
https://dev-onrr-frontend.app.cloud.gov/references/valuation?tab=unbundling

[2022-01-06 13:54] Maroyafaied commented on #351
@mcharg @cthomasONRR I've implemented your comments

[2022-01-06 14:01] mcharg commented on #351
@Maroyafaied I want to move the GitHub issue and blockers columns to the left after working with the spreadsheet yesterday, so I'll update the column letters accordingly.

[2022-01-06 14:19] boices opened #1341 "Update December NYMEX prices on onrr.gov"
Good morning,

Please update the December NYMEX CMA and roll prices on onrr.gov. Prices attached.

Thanks!

@sudarr

[NYMEX122021.xlsx](https://github.com/ONRR/onrr.gov-site/files/7822374/NYMEX122021.xlsx)

[2022-01-06 14:21] Maroyafaied commented on #1341
@cthomasONRR can you also add this file to the collection NYMEX folder please.

[2022-01-06 14:25] Maroyafaied commented on #351
@mcharg sounds good, can you let @lpgoldstein know when it's updated so she can add this list to the wiki. Thanks

[2022-01-06 14:28] cthomasONRR commented on #1341
@boices Good morning, these updates are now on the dev site: http://2017onrr/valuation/NYMEX.htm. Please review and give us your approval to go live. Thanks!

[2022-01-06 14:30] cthomasONRR commented on #1341
@Maroyafaied This new NYMEX file is now also in the NYMEX collections folder.

[2022-01-06 14:35] mcharg commented on #351
@lpgoldstein The column letters are updated.

[2022-01-06 14:38] mcharg opened #1342 "Have external links open in a new browser tab"

[2022-01-06 14:43] boices commented on #1341
Looks perfect--thanks again!

[2022-01-06 14:51] mcharg commented on #1331
@Maroyafaied Should we add "ONRR" to the Approved Publications headers like on the Crude Oil Market Centers page?

[2022-01-06 14:52] mcharg commented on #1331
@cthomasONRR The new links are added, if you want to test them.

[2022-01-06 14:59] cthomasONRR commented on #1331
@mcharg Just checked them, they are good to go!

[2022-01-06 15:01] mcharg opened #1343 "Add Employment page content"

[2022-01-06 15:01] cthomasONRR commented on #1341
@boices Great! The changes are now live: https://www.onrr.gov/valuation/NYMEX.htm. I will close this issue now.

[2022-01-06 15:01] #1341 closed

[2022-01-06 15:08] mcharg commented on #1318
@Maroyafaied Made that change.  I'll leave this open and move it to the product backlog until we get the ability to have multiple lines in a table cell.

[2022-01-06 15:10] mcharg commented on #1335
Added as much as I could. https://dev-onrr-frontend.app.cloud.gov/references/valuation?tab=indian-oil-major-portion

[2022-01-06 15:11] mcharg commented on #1337
Added as much as I could. https://dev-onrr-frontend.app.cloud.gov/references/valuation?tab=unbundling

[2022-01-06 15:12] mcharg commented on #1334
Added as much as I could. https://dev-onrr-frontend.app.cloud.gov/references/valuation?tab=indian-oil-major-portion

[2022-01-06 15:13] mcharg commented on #1246
@Maroyafaied Looks good.

[2022-01-06 15:13] #1246 closed

[2022-01-06 15:14] mcharg commented on #1317
@jlouis-onrr Looks good.

[2022-01-06 15:14] #1317 closed

[2022-01-06 15:16] mcharg commented on #1018
I'm pretty sure this will be an issue on the unbundling page, but I can't test it because the wrong sub-tabs are showing up on that page.

[2022-01-06 15:19] mcharg commented on #1254
Moving this one to the product backlog, since we have it far enough for demo and are waiting on the ability to add alt text to images.
https://dev-onrr-frontend.app.cloud.gov/references/valuation?tab=how-valuation-works

[2022-01-06 15:20] mcharg commented on #1254
I also want to play with the width of the images once we get the layout stuff.

[2022-01-06 15:21] mcharg opened #1344 "Tab: Valuation & Pricing > Valuation Examples"

[2022-01-06 15:23] mcharg commented on #1344
@cthomasONRR Should we have links to the CFR on this one?
https://dev-onrr-frontend.app.cloud.gov/references/valuation?tab=valuation-examples

[2022-01-06 15:30] cthomasONRR commented on #1344
@mcharg

30 CFR Part 1290, Subpart B: https://www.ecfr.gov/current/title-30/chapter-XII/subchapter-B/part-1290
I think this should be reworded as just "30 CFR Part 1290" ... I don't see a subpart B, but 1290 is within Subchapter B, that's where the confusion might have occurred.

30 CFR Part 1241: https://www.ecfr.gov/current/title-30/chapter-XII/subchapter-A/part-1241

[2022-01-06 15:45] mcharg commented on #1344
@cthomasONRR Links added.

[2022-01-06 15:45] mcharg commented on #1344
This one is far as it can get without being able to put cards on a tab, so moving back to product backlog.
https://dev-onrr-frontend.app.cloud.gov/references/valuation?tab=valuation-examples

[2022-01-06 15:46] cthomasONRR commented on #1344
@mcharg Links look good!

[2022-01-06 16:26] forgravec opened #1345 "ONRR.gov Indian Gas Index Zone prices"
To Whom it may concern:
The January Indian Gas Index Zone prices are ready to be added to ONRR.gov.  The prices have been added to the "Data for ONRR.gov" spreadsheet in OneDrive.

Thanks
Cory Forgrave
@Sudarr

[2022-01-06 16:53] lpgoldstein commented on #1345
@jlouis-onrr This data request adds 2022 data and it's not showing up in Dev even though I added it to the spreadsheet in assets. Can you please help me with this? I don't remember what we did last year to get the new year to show up. Thanks!

[2022-01-06 17:34] Maroyafaied commented on #1331
@mcharg No we don't need to add "ONRR" for the publications.

[2022-01-06 17:36] mcharg commented on #1331
@Maroyafaied Ok.  I'm going to close this one, since the blockers are all styling things that don't require updates at the page level.

[2022-01-06 17:36] #1331 closed

[2022-01-06 18:18] mcharg commented on #1201
https://qmcq5k.axshare.com/#id=079wgt&p=contact_us

I made the following changes.
* Imported the Contact Us pages from the contact prototype into the overall one.
* Updated the Contacts tabs on the other pages to match the ones in Contact Us.
* Updated Troubleshooting tab on System Access page to match the one in Contact Us.
* Added Troubleshooting tabs to all the Reporting pages to match the ones

[2022-01-06 19:24] cthomasONRR commented on #1201
For getting started and system access, the only contact in the contacts tab is the IT help desk... is this correct?

In Geothermal, there is a duplicate accordion:
![image](https://user-images.githubusercontent.com/72526208/148437933-1befd99f-23cb-4f91-8c6d-6ca5cf732658.png)

For the payments and debt collection contacts page, I'm wondering if these 4 accordions would be better as tabs:
![image](h

[2022-01-06 19:44] mcharg opened #1346 "Add solids videos to wireframes"

[2022-01-06 19:49] mcharg commented on #1201
For getting started and system access, the only contact in the contacts tab is the IT help desk... is this correct?

SM: This is correct.  We were told the other contacts we had on that page aren't monitored.

[2022-01-06 19:51] mcharg commented on #1201
The two paying pages are the same, just in different places.  I'll change the accordions to tabs and change the link to just say "Contacts", since it opens the Contacts accordion on the same page.

[2022-01-06 20:04] jlouis-onrr commented on #1345
@lpgoldstein, Should be good to go. There were a couple of things going on in the allzones.js.  One, the current year and years array needed to be updated.  Two, the code didn't seem to except just one month, but two months or greater.  So I've adjusted it to handle the single month case and or multiple months.  Let me know how it looks and works for you.

[2022-01-06 20:42] lpgoldstein commented on #1345
@forgravec This is ready for your review: http://2017onrr/valuation/allzones.htm

[2022-01-06 20:47] forgravec commented on #1345
Thanks, the prices look good.

Cory Forgrave
Economist
Office of Natural Resources Revenue
303-231-3589
***@***.***

________________________________
From: lpgoldstein ***@***.***>
Sent: Thursday, January 6, 2022 1:42 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Forgrave, Cory J ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] ONRR.gov Indian Gas Index Zone prices (Iss

[2022-01-06 21:33] mcharg commented on #1201
@cthomasONRR

Geothermal extra accordion is gone.

Paying - Accordions are now tabs.  Also applied the card design to this page. https://qmcq5k.axshare.com/#id=rmsbze&p=payments&g=1

Indian - Removed intro copy.  Amanda said they don't really have a problem with people contacting the wrong people for Indian, so I don't think we need it.

[2022-01-06 21:42] cthomasONRR commented on #1201
@mcharg I reviewed again, and it looks good! Thanks for making those changes.

[2022-01-06 21:46] #1201 closed

[2022-01-06 21:51] bbell0229 opened #1347 "Accounts Receivable, Billing, and Financial issues-Federal Contact update"
Hello,

On the Payments page,
https://www.onrr.gov/reportpay/PDFDocs/FSFederalCOAssignm.pdf, please update with the attached file.

Please remove the prior attachment and replace with the new employee listing.

Thank you,

Brittney

[Fed Assignments Email 1_6_2022.docx](https://github.com/ONRR/onrr.gov-site/files/7824915/Fed.Assignments.Email.1_6_2022.docx)

[2022-01-06 22:56] lpgoldstein commented on #1345
@forgravec It's live! https://onrr.gov/valuation/allzones.htm

[2022-01-07 01:13] jkwonatx commented on #1262
The problem we want to solve are two fold:

1. to create an InDesign template that is 508 compliant
2. to modify the MMAR completion and review process that is simple and intuitive to a user who is not familiar with InDesign/Adobe Acrobat, while also ensuring 508 compliance in a consistent manner.

Here's my work so far:

I first had to familiarize myself with the accessibility checker features on

[2022-01-07 01:15] jkwonatx commented on #1262
Before:
![Screen Shot 2022-01-06 at 7 13 38 PM](https://user-images.githubusercontent.com/85380376/148475199-4747bfd4-6454-40c2-a6b2-5cc3ad28c56f.png)
After:
![Screen Shot 2022-01-06 at 7 14 06 PM](https://user-images.githubusercontent.com/85380376/148475249-73758206-36d5-4117-86a1-774165881929.png)

[2022-01-07 13:40] bowlenj opened #1348 "Lease/Agreement Maintenance Update"
Please update the contacts list for Lease/Agreement Maintenance at the following link - https://www.onrr.gov/about/contact.htm, with the attached updated contact list.
[Lease Agreement Maintenance Contacts_1-4-22.pdf](https://github.com/ONRR/onrr.gov-site/files/7829102/Lease.Agreement.Maintenance.Contacts_1-4-22.pdf)

[2022-01-07 13:49] cthomasONRR commented on #1347
@bbell0229 Good Morning! These changes are on the dev site: http://2017onrr/reportpay/payments.htm. Please review and give us your approval to go live. Thanks!

[2022-01-07 13:52] cthomasONRR commented on #1348
@bowlenj Good Morning! I wanted to check in and make sure this is the correct attachment - we uploaded an attachment with the same title and date on 1/4. Thanks!

[2022-01-07 14:05] bowlenj commented on #1348
It is slightly updated, I had to correct the contact for Nebraska from Stacy Burkhardt to Cody Eckstein and I removed the 1-800 number from the top of both pages.  That number is no longer valid.

Thank you for checking with me.  If you don't see those changes, please let me know so that I can send you the right attachment.
Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, R

[2022-01-07 14:09] cthomasONRR commented on #1348
@bowlenj Thanks for your explanation and patience! The updated document is now on the dev site for your review: http://2017onrr/about/contact.htm. Please let us know if you approve to go live. Thanks!

[2022-01-07 14:14] mcharg commented on #1348
@cthomasONRR I'll make sure the updates in this get into the contacts spreadsheet, since I'm working in it today.

[2022-01-07 14:16] mcharg commented on #1347
@cthomasONRR I'll make sure these changes are reflected in the contacts spreadsheet.

[2022-01-07 14:17] bowlenj commented on #1348
Thank you for verifying and I'm sorry for causing the extra work of having to update it again!  I would have felt really terrible if I sent the wrong attachment and had you load the same one again!

This looks great, thank you 😀 !!!!!!!!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Re

[2022-01-07 14:19] cthomasONRR commented on #1348
@bowlenj No worries! I just moved the update to the live site. It can take up to 30min for the site to update. I will close this issue once I see the changes live. Thanks!

[2022-01-07 14:30] #1348 closed

[2022-01-07 14:54] mcharg commented on #1347
@cthomasONRR Spreadsheet updated.

[2022-01-07 15:05] mcharg commented on #1348
@cthomasONRR Spreadsheet updated.

[2022-01-07 17:29] cthomasONRR opened #1349 "Production Reporting References"
All,
   On the ONRR.gov home page, please update the Production Reporting References with the attached files. The new as of date is 01/07/2022.
There are five Gulf files and three Pacific files.

Thank you,.

Johnny Erle

Reference, Royalty, and Production Team 1A - Production Specialist (GVS)
Reference and Reporting Management
Office of Natural Resources Revenue
Office: (303) 231-3577

[2022-01-07 17:30] cthomasONRR commented on #1349
- [ ] [Gulf-Metering-Systems.xlsx](https://github.com/ONRR/onrr.gov-site/files/7830347/Gulf-Metering-Systems.xlsx)
- [ ] [Gulf-Sales-Tanks.xlsx](https://github.com/ONRR/onrr.gov-site/files/7830350/Gulf-Sales-Tanks.xlsx)
- [ ] [Gulf-Gas-Plants.xlsx](https://github.com/ONRR/onrr.gov-site/files/7830351/Gulf-Gas-Plants.xlsx)
- [ ] [Gulf-Flash-Gas.xlsx](https://github.com/ONRR/onrr.gov-site/files/78303

[2022-01-07 18:33] bowlenj opened #1350 "Reporter Training Presentations Update"
Please replace the existing presentations with the same names with the attached presentations at https://www.onrr.gov/reportpay/training/index.htm.

Also please make the following changes to this page - https://www.onrr.gov/reportpay/training/index.htm:
- Move Training Video's under training Presentations
- Change header for Training Presentations to read Reporter Training Presentations January FY

[2022-01-07 19:01] #1349 closed

[2022-01-07 19:24] cthomasONRR commented on #1350
@bowlenj The changes are now on the dev site: http://2017onrr/reportpay/training/index.htm. Please review and give us your approval to make the changes live. Thanks!

[2022-01-07 19:29] bowlenj commented on #1350
Can you move the Training videos to the bottom under Compliance?  That way the presentations are at the top?

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addres

[2022-01-07 19:31] bowlenj commented on #1350
I have one more presentation that needs to be replaced.  It's Billing under the Paying category
[Billing.pptx](https://github.com/ONRR/onrr.gov-site/files/7830926/Billing.pptx)
.

[2022-01-07 19:35] cthomasONRR commented on #1350
@bowlenj

Ok, I moved the training videos and updated the Billing powerpoint.
http://2017onrr/reportpay/training/index.htm

Let me know if anything else needs modifications.
Thanks!

[2022-01-07 19:51] bowlenj commented on #1350
You are AMAZING!!!!  Thank you, it looks perfect 🙂

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or conf

[2022-01-07 20:00] cthomasONRR commented on #1350
@bowlenj
Great! The changes are now live: https://www.onrr.gov/reportpay/training/index.htm.
I will close this issue now.

[2022-01-07 20:00] #1350 closed

[2022-01-07 21:44] sudarr opened #1351 "2021 Index Zone prices not visible"
I'm hearing from a few companies that the 2021 prices for Indian Index zone prices aren't available on the site because 2021 isn't in the year drop-down selection now that 2022 is the default page.
![image](https://user-images.githubusercontent.com/61762459/148611342-60825f7f-bdba-406f-9703-db4cce473ada.png)

[2022-01-07 21:54] cthomasONRR commented on #1351
@jlouis-onrr Could you help Robert with this issue? I just checked the Excel sheets, and the 2021 data is there. I'm also looking at the 'allzones' html page, and I can't see where I can resolve this issue. Your help would be much appreciated. Thanks!

[2022-01-10 14:11] mcharg commented on #1332
We should also add more space when headers appear directly below each other.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/0a45e320-5aeb-4820-b50c-d518e594e121)

[2022-01-10 14:13] mcharg commented on #1343
Fixed a couple of links.  Now blocked by the layout breaks to get the icons on the right and the video player.
https://dev-onrr-frontend.app.cloud.gov/about/employment

[2022-01-10 14:44] bowlenj opened #1352 "Reporter Training Presentations"
Please add the attached presentations CMP-2014 Industry View and ONRR Enforcement to Reporter Training Presentations under Compliance & Enforcement at the following webpage - https://www.onrr.gov/reportpay/training/index.htm

[173_CMP2014_Industry_View_2022-01-13_v2.pptx](https://github.com/ONRR/onrr.gov-site/files/7839546/173_CMP2014_Industry_View_2022-01-13_v2.pptx)
[ONRR Enforcement.pptx](https

[2022-01-10 14:51] cthomasONRR commented on #1352
@bowlenj
Good morning! I have these 2 new trainings uploaded in dev: http://2017onrr/reportpay/Training/index.htm. Please review and give us your approval to go live. Thanks!

[2022-01-10 14:54] bowlenj commented on #1352
Perfect, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclo

[2022-01-10 15:02] #1352 closed

[2022-01-10 15:03] cthomasONRR commented on #1347
@bbell0229 Good morning! This is a friendly reminder that these changes are on the dev site: http://2017onrr/reportpay/payments.htm. Please review and give us your approval to go live. Thanks!

[2022-01-10 15:11] mcharg commented on #1352
@cthomasONRR Yes and I need to add them to the wireframes.  I'm working on that page right now to get the solids videos added, so I'll add these at the same time.

[2022-01-10 15:25] mcharg commented on #1204
@daniel-coleman-1 Can you make the tab for the first video blue instead of green?  The only page with the green is the OGOR one and I'm not sure why.

Also, please link to this page from these two pages:
http://2017onrr/reportpay/training/index.htm (add to the list of training videos)
http://2017onrr/reportpay/solids.htm (create a new header for videos after the Regulations header)

[2022-01-10 15:36] mcharg commented on #1352
@cthomasONRR Added to wireframe.

@bowlenj You may want to look at the wireframe, as well.  I separated training presentations from training videos to make room for the solids videos.  It'll also help the presentations be more prominent and make room for both collections to grow.  I also added the training that's currently on the site to the schedule tab as an example.
https://qmcq5k.axshare.com/#

[2022-01-10 15:38] mcharg commented on #1346
@cthomasONRR Will you please review?  I separated training presentations from videos to make room for both collections to grow. Also added the currently scheduled training to the schedule tab as an example.
https://qmcq5k.axshare.com/#g=1&id=cwcm9b&p=reporter_training

@daniel-coleman-1 This will require updates to the sitemap.  Please create a separate issue to make those changes.

[2022-01-10 15:38] bbell0229 commented on #1347
Looks good. Sorry I was out sick for the end part of last week.

Brittney A. Bell
Staff Accountant, Financial Services
Revenue, Reporting, & Compliance Management
Office of Natural Resources Revenue
Bldg 85, Denver Federal Center
Denver, CO 80225
1-800-433-9801 x 3381
303.231.3381
***@***.******@***.***>

From: Christine Thomas ***@***.***>
Sent: Monday, January 10, 2022 8:03 AM
To: ONRR/onrr.gov-

[2022-01-10 15:55] cthomasONRR commented on #1346
@mcharg I think we need to add a date under Training Presentations. They just asked me to add "January FY22" to the current website.

Current Site:
![image](https://user-images.githubusercontent.com/72526208/148796077-aabf67df-0b2a-45f0-a2e3-3c23d47250f8.png)

Wireframe:
![image](https://user-images.githubusercontent.com/72526208/148796142-e5c3a316-555d-4fff-9a48-b082c2992ad3.png)

[2022-01-10 16:02] cthomasONRR commented on #1347
@bbell0229 Great! The changes are now live: https://www.onrr.gov/reportpay/payments.htm. Please remember to use 'Ctrl+F5' to refresh the page.

[2022-01-10 16:38] Maroyafaied commented on #1297
@mcharg look into uploading content to this page without it being a collection.

[2022-01-10 16:41] #1316 closed

[2022-01-10 16:48] Maroyafaied commented on #1338
@mcharg try to do without a collection.

[2022-01-10 16:50] Maroyafaied commented on #1340
Should get resolved by block layout.

[2022-01-10 17:05] cthomasONRR commented on #1346
@mcharg Did a 2nd review, everything looks good!

[2022-01-10 17:06] bowlenj opened #1353 "Oil & Gas Reporter Training Presentations"
Please add and/or replace the attached slides to the following webpage at onrr.gov - https://www.onrr.gov/reportpay/training/index.htm

Please replace ONRR-4054 Oil and Gas Operations Report (OGOR) with attached Basic OGOR Reporting
[Basic OGOR  Reporting- 012022.pptx](https://github.com/ONRR/onrr.gov-site/files/7839774/Basic.OGOR.Reporting-.012022.pptx)

Please replace OGOR Comma Separated Value

[2022-01-10 17:08] mcharg commented on #1330
Fixed

[2022-01-10 17:08] #1330 closed

[2022-01-10 17:10] Maroyafaied commented on #1351
@sudarr This has been fixed on the live site, can you please check and verify it looks good. Thanks https://onrr.gov/valuation/allzones.htm

[2022-01-10 17:11] #1346 closed

[2022-01-10 17:13] sudarr commented on #1351
It looks great! Thank you guys for getting it resolved.

Robert J Sudar
Manager, Market & Spatial Analytics
Office of Natural Resources Revenue
***@***.***
Office: 303-231-3511, Cell: 720-492-6420
________________________________
From: Maroyafaied ***@***.***>
Sent: Monday, January 10, 2022 10:10 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Sudar, Robert J ***@***.***>; Mention ***@***.***>
Subject:

[2022-01-10 17:18] #1351 closed

[2022-01-10 17:31] bowlenj opened #1354 "More Oil & Gas Presentation Updates"
Please add and/or replace the attached presentations as listed below to the following webpage - https://www.onrr.gov/reportpay/training/index.htm

Please replace Federal Adjustments with the attached Presentation - Federal and Indian Adjustments
[2014 Adjustments  012022 JG.pptx](https://github.com/ONRR/onrr.gov-site/files/7840628/2014.Adjustments.012022.JG.pptx)

Please replace 2014 Reporting Err

[2022-01-10 17:49] cthomasONRR commented on #1353
@bowlenj The following PowePoint is not 508-compliant. Could you please correct this powepoint:

[2022-01-10 17:50] bowlenj opened #1355 "Update Solids Presentations"
Please replace the Reporter Training Presentations under the Solids category with the below attachments at the following webpage - https://www.onrr.gov/reportpay/training/index.htm

Replace Solids Minerals Reporter Opening, Form 4444, Payor Codes, and EMARF with the attached, please keep current name as shown on webpage
[1 - Opening Form ONRR-4444 Payor Codes EMARF 2022.pptx](https://github.com/ON

[2022-01-10 17:55] bowlenj commented on #1353
I'm sorry I attached the wrong one, this one is 508 compliant.  There were 2 in the folder for some reason.

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is address

[2022-01-10 18:10] cthomasONRR commented on #1353
@bowlenj Could you send the 508-compliant attachment? I did not receive it.

[2022-01-10 18:42] cthomasONRR commented on #1353
@bowlenj These revisions are ready for your review and approval: http://2017onrr/reportpay/training/index.htm

[2022-01-10 18:42] cthomasONRR commented on #1354
@bowlenj These revisions are ready for your review and approval: http://2017onrr/reportpay/training/index.htm

[2022-01-10 18:42] cthomasONRR commented on #1355
@bowlenj These revisions are ready for your review and approval: http://2017onrr/reportpay/training/index.htm

[2022-01-10 18:46] bowlenj commented on #1353
Perfect!!!!!!!!!!!!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclo

[2022-01-10 18:46] bowlenj commented on #1354
Perfect, thank you!!!!!!!!!!!!!!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exemp

[2022-01-10 18:47] bowlenj commented on #1355
Looks GREAT, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from di

[2022-01-10 19:31] #1355 closed

[2022-01-10 19:32] cthomasONRR commented on #1354
@bowlenj Great! The changes are now live: https://www.onrr.gov/reportpay/training/index.htm.

@mcharg @daniel-coleman-1 The sitemap and wireframes need to be updated to reflect the addition of new training documents.

[2022-01-10 19:32] cthomasONRR commented on #1353
@bowlenj Great! The changes are now live: https://www.onrr.gov/reportpay/training/index.htm.

@mcharg @daniel-coleman-1 The sitemap and wireframes need to be updated to reflect the addition of new training documents.

[2022-01-10 19:32] #1353 closed

[2022-01-10 19:37] StaceyKaiser opened #1356 "Webpage Update - New Lease Agreement XREF file for onrr.gov"
Please replace the existing file located at: http://www.onrr.gov/ReportPay/CrossRef.htm called “Cross-Reference Lease to Agreement Number” with the file entitled “January 2022 Lease Agreement XREF.txt”.  It was queried from the system on 1/10/2022.

[January 2022 Lease Agreement XREF.txt](https://github.com/ONRR/onrr.gov-site/files/7841426/January.2022.Lease.Agreement.XREF.txt)

[2022-01-10 20:18] Maroyafaied commented on #1356
@StaceyKaiser please review the changes in the dev site, if everything looks good I'll push it live. Thanks http://2017onrr/ReportPay/CrossRef.htm

[2022-01-10 20:21] bowlenj opened #1357 "Royalty Valuation Presentation"
Please add a Royalty Valuation category to the following page - https://www.onrr.gov/reportpay/training/index.htm

Please add attached presentation to the Royalty Valuation category
[Federal Processed Gas Reporting.pdf](https://github.com/ONRR/onrr.gov-site/files/7841671/Federal.Processed.Gas.Reporting.pdf)

[2022-01-10 20:25] mcharg commented on #1354
@cthomasONRR The wireframes and tracking sheet are updated. https://qmcq5k.axshare.com/#id=cwcm9b&p=reporter_training&g=1

[2022-01-10 20:31] cthomasONRR commented on #1357
@bowlenj These changes are now in dev: http://2017onrr/reportpay/training/index.htm. Please review and give us your approval to go live. Thanks!

[2022-01-10 20:32] bowlenj commented on #1357
Perfect!!!!!!!!!!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosu

[2022-01-10 20:50] cthomasONRR commented on #1357
@bowlenj I moved the Royalty Valuation section to be after the 'Oil and Gas Reporting' section, since the RV presentation is about gas. Are you OK with that? Thanks!

[2022-01-10 21:06] #1357 closed

[2022-01-11 14:44] bowlenj opened #1358 "Reporter Training Presentation"
Please add the attached presentation to the following page under Oil & Gas - https://www.onrr.gov/reportpay/training/index.htm

Basic 2014
[2014 Reporting 012022.pptx](https://github.com/ONRR/onrr.gov-site/files/7847418/2014.Reporting.012022.pptx)

[2022-01-11 15:10] Maroyafaied commented on #1358
@bowlenj Do you want the presentation titled to be "Basic 2014" or Form-2014 Basic Reporting Principles". Also, just wanted to let you know that the presenter notes are visible in the attachment, are you ok with that?

[2022-01-11 15:32] daniel-coleman-1 commented on #1307
@mcharg this is ready for review

[2022-01-11 15:34] bowlenj commented on #1358
Let's do Form-2014 for the title.  Is it possible to load it as read only with just the presentation?

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and

[2022-01-11 15:49] bowlenj opened #1359 "Updated Royalty Ecommerce and Electronic Tools"
Please replace the Royalty Ecommerce and Electronic Tools presentation with the attached - https://www.onrr.gov/reportpay/training/index.htm
[Ecommerce and Electronic Tools- Royalty-Revised (004) (1).pptx](https://github.com/ONRR/onrr.gov-site/files/7847919/Ecommerce.and.Electronic.Tools-.Royalty-Revised.004.1.pptx)
.

[2022-01-11 16:01] mcharg commented on #1307
@daniel-coleman-1 December is missing from the landing pages table.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/fcb481a9-be80-4265-a698-4e9b4a14aa59)

[2022-01-11 16:08] Maroyafaied commented on #1358
@bowlenj Please review. @mcharg please add this to the wireframes and content audit tracking sheet. Thanks

[2022-01-11 16:12] Maroyafaied commented on #1359
@bowlenj please review http://2017onrr/reportpay/training/index.htm

[2022-01-11 16:22] bowlenj commented on #1359
I'm sorry I didn't finish typing out the whole name, can you use the name you suggested for this one - Form-2014 Basic Reporting Principles

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual

[2022-01-11 16:29] Maroyafaied commented on #1359
@bowlenj no worries, please review the updated title http://2017onrr/reportpay/training/index.htm

[2022-01-11 16:29] bowlenj commented on #1359
I'm sorry, I think I'm getting things mixed up!  The Royalty Ecommerce and Electronic Tools looks great!

Can we name the Form 2014 what you originally suggested, Form-2014 Basic Reporting Principles

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warnin

[2022-01-11 17:29] daniel-coleman-1 commented on #1204
Pages have been updated in dev:
http://2017onrr/reportpay/training/index.htm
http://2017onrr/reportpay/solids.htm
http://2017onrr/reportpay/training/Solids-Training-Videos.html

@mcharg on the Solids page I didn't create a new header for videos, I placed the link under the "Training Materials" header in the right sidebar.  I could move that heading from the right sidebar to the center underneath R

[2022-01-11 17:34] daniel-coleman-1 commented on #1204
I don't like the spaces here but I think it's ok for now until we can get the MP4's and return the download button.  I sent Bill B a follow up email about the files.
![Screenshot 2022-01-11 103307](https://user-images.githubusercontent.com/83892362/148992687-5f1452c7-9196-429a-9110-24cf8dc4b56e.png)

[2022-01-11 17:40] #1359 closed

[2022-01-11 17:41] #1358 closed

[2022-01-11 17:41] Maroyafaied commented on #1358
this is live

[2022-01-11 17:56] mcharg commented on #1204
@daniel-coleman-1

Here's my feedback:
* The solids page is .html and all the other video pages are .htm.  We should be consistent.
* We should use relative links instead of linking to the live site from dev.  I made the change on the training page, since I was in there making other updates.  Please make the same change to the solids page.  I will comment out the link to the solids page on this pa

[2022-01-11 17:57] mcharg commented on #1204
* Just noticed the download icons are still there for me.  Did you not save your changes to the page on the Y drive?

[2022-01-11 18:17] Toddsand21 opened #1360 "PAWNEE AREA VIRTUAL MEETING (To be added to Event Calendar on the Allottee Assistance Page)"
PAWNEE AREA VIRTUAL MEETING
Wednesday, January 19, 2022
Time: 1:00 pm - 2:00 pm CST
Location: By Telephone

Description: This meeting will be a Call-in Meeting to hear a presentation and updates from the Office of Natural Resources Revenue (ONRR) OKC Office.  Representatives from each of the four agencies including the BLM, BTFA, and the BIA will also be available to discuss topics regarding India

[2022-01-11 18:59] damionschulte opened #1361 "December 2021 IBMP Prices"
All I have updated the ONRR.Gov spreadsheet with the December 21 IBMP prices.  Can you please have them published to the website?  Thank you all very much.

@sudarr

[2022-01-11 19:08] StaceyKaiser commented on #1356
@Maroyafaied everything looks good. Please move to the live site.  Thanks!

[2022-01-11 19:16] Maroyafaied commented on #351
@mcharg I went ahead and added this to the wiki since @lpgoldstein is out. Can you review? https://github.com/ONRR/onrr.gov-site/wiki/Adding-content-internal-checklist

[2022-01-11 19:43] Maroyafaied commented on #1356
This is live.

[2022-01-11 19:43] #1356 closed

[2022-01-11 19:50] daniel-coleman-1 commented on #1307
Ok we're good here, thanks @mcharg

[2022-01-11 19:58] daniel-coleman-1 commented on #1204
@mcharg you may need to clear your cache

[2022-01-11 19:59] daniel-coleman-1 commented on #1204
@mcharg thanks for the feedback, I've edited the link in the solids page to a relative link and changed the Solids Training Videos file to a .htm file.  I think we're good to push changes live.

[2022-01-11 20:01] mcharg commented on #1204
@daniel-coleman-1 You just need to change the .html to .htm on the link from the training page.

[2022-01-11 20:04] daniel-coleman-1 commented on #1204
@mcharg got it in, thanks

[2022-01-11 20:46] Maroyafaied commented on #1361
@damionschulte please review http://2017onrr/valuation/IndianOilIBMP.htm

[2022-01-11 20:50] damionschulte commented on #1361
These look great!  Thanks again.

From: Maroyafaied ***@***.***>
Sent: Tuesday, January 11, 2022 1:47 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Schulte, Damion C ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] December 2021 IBMP Prices (Issue #1361)

 This email has been received from outside of DOI - Use caution before clicking on links, opening attachments, or re

[2022-01-11 20:53] Maroyafaied commented on #1360
@toddsand21 please review http://2017onrr/events.htm

[2022-01-11 21:06] Maroyafaied commented on #1361
This is live.

[2022-01-11 21:06] #1361 closed

[2022-01-11 22:18] jlouis-onrr opened #1362 "Update node and npm package to lts"

[2022-01-11 22:19] jlouis-onrr commented on #1362
updated to lts of node and npm

[2022-01-11 22:19] #1362 closed

[2022-01-11 22:22] Toddsand21 commented on #1360
Just one change in the last sentence in the first paragraph: replace "an" with "a" to read There will be a Q&A...

No other corrections. Ready to post.

[2022-01-12 13:04] Maroyafaied commented on #1360
@Toddsand21 I made the change you requested, it's live.

[2022-01-12 13:04] #1360 closed

[2022-01-12 15:05] Toddsand21 commented on #1360
Thank you!

[2022-01-12 18:51] bowlenj opened #1363 "Reporter Training Slide Update for Audit"
Please replace the CMP 2014 presentation under Audit with the attached presentation at the following webpage - https://www.onrr.gov/reportpay/training/index.htm
[173_CMP2014_Industry_View_2022-01-13_v3.pptx](https://github.com/ONRR/onrr.gov-site/files/7856958/173_CMP2014_Industry_View_2022-01-13_v3.pptx)

[2022-01-12 18:57] mcharg commented on #351
@Maroyafaied Looks good.

[2022-01-12 19:01] cthomasONRR commented on #1363
@bowlenj The changes are on the dev site: http://2017onrr/reportpay/training/index.htm. Please review and give us your approval to go live. Thanks!

[2022-01-12 19:06] #351 closed

[2022-01-12 19:07] bowlenj commented on #1363
Looks great, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from di

[2022-01-12 19:21] mcharg commented on #1276
9630 Lease is not producing – Now fatal in eCommerce
9640 Agreement Number not related to reported lease

For both, send to lease & agreement contacts.

[2022-01-12 19:24] #1272 closed

[2022-01-12 19:24] #1273 closed

[2022-01-12 19:25] bowlenj opened #1364 "Reporter Training Solids Update"
Please remove the Federal & Indian Coal Valuation from the Solid Minerals section on the following webpage - https://www.onrr.gov/reportpay/training/index.htm

[2022-01-12 19:28] cthomasONRR commented on #1364
@bowlenj The changes are on the dev site: http://2017onrr/reportpay/training/index.htm.
Please review and give us your approval to go live. Thanks!

[2022-01-12 19:29] bowlenj commented on #1364
Perfect, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclo

[2022-01-12 19:31] cthomasONRR commented on #1363
@bowlenj Great! The changes are now live: https://www.onrr.gov/reportpay/training/index.htm.
Closing this issue.

[2022-01-12 19:32] #1363 closed

[2022-01-12 20:01] cthomasONRR commented on #1364
@bowlenj Great! The changes are live: https://www.onrr.gov/reportpay/training/index.htm.

@mcharg @daniel-coleman-1 This needs to be updated on the wireframe and site map. Thanks!

[2022-01-12 20:01] #1364 closed

[2022-01-12 20:04] Maroyafaied commented on #1308
We demoed NYMEX on 1/12.  We will test out the workflow process with Corey from MSA and work on Indian Index zone next.

[2022-01-12 20:04] #1308 closed

[2022-01-12 20:09] Maroyafaied opened #1365 "Get access to CMS"
@jlouis-onrr please get @forgravec access to the CMS.

[2022-01-12 20:52] cthomasONRR commented on #1274
A couple of thoughts...

It doesn't make sense to do manual checks on the PDFs. We should be doing those on the source Microsoft documents. Setting up and tracking reading order is much easier in Microsoft. Color contrast isn't much of an issue with these docs because they are all black+white.

For the excels, my current understanding is that as long a there aren't merged cells, it's mostly good t

[2022-01-12 21:34] mcharg commented on #1364
@cthomasONRR Removed from wireframes and tracking sheet.

[2022-01-12 21:49] daniel-coleman-1 commented on #1306
@Maroyafaied titles are all now in title case, @jlouis-onrr can you import into the CMS?

[2022-01-13 13:20] Maroyafaied opened #1366 "update penalty amount"
This request came from Sam through email. @cthomasONRR please send Sam the dev link to review the updates. Thanks

 The Federal Register came out today, updating our penalty amounts. Would you be able to assist us in updating our external page with the following changes?

URL: https://www.onrr.gov/compliance/civil-penalties.htm

In the second paragraph, please update the penalty amounts as follows

[2022-01-13 13:43] cthomasONRR commented on #1366
Emailed Sam the dev site and awaiting his approval to go live.

[2022-01-13 14:01] mcharg opened #1367 "Set up redirect for contact pdf that changed to a doc"
Since many people are likely to have it bookmarked.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/505ca1bd-4e86-450b-abab-b2d7da1dacb4)

[2022-01-13 15:43] cthomasONRR commented on #1366
The changes are now live and I emailed Sam letting him know. Closing this issue now.

[2022-01-13 15:43] #1366 closed

[2022-01-13 15:48] mcharg opened #1368 "Work with 508 docs team on style guide"
I've been pulled into updating the style guide with Christina and Cassady.  Mostly working on fonts and making sure it matches the PPT template.

[2022-01-13 17:01] mcharg commented on #1276
@codyeckstein I added the error to both the leases & agreements and oil & gas royalty pages.  I also added the error number to the nonreporting status accordion.  Let me know if you have any feedback.

https://qmcq5k.axshare.com/#id=q4kw41&p=leases___agreements
https://qmcq5k.axshare.com/#id=its4or&p=oil___gas_royalty

[2022-01-13 17:07] codyeckstein commented on #1276
Looks great! @mcharg

[2022-01-13 17:29] #1276 closed

[2022-01-13 18:03] #1100 closed

[2022-01-13 18:04] #1305 closed

[2022-01-13 18:13] Maroyafaied commented on #1204
@daniel-coleman-1 can you push this live.

[2022-01-13 18:14] Maroyafaied commented on #1313
@Baymatt can you give a status for this issue please?

[2022-01-13 18:22] #1235 closed

[2022-01-13 19:17] mcharg commented on #1367
Updated in dev.  @codyeckstein @cthomasONRR Can you please review before I push live?
http://2017onrr/ReportPay/PDFDocs/FSFederalCOAssignm.pdf

I also updated this one that was set to redirect to the old pdf.
http://2017onrr/ReportPay/PDFDocs/finserassign.pdf

[2022-01-13 19:21] codyeckstein commented on #1367
Looks good. We should remind them to change the "Updated 11/17/2021" next time

[2022-01-13 19:24] cthomasONRR commented on #1367
@mcharg Both redirects work for me!

[2022-01-13 19:42] mcharg commented on #1367
Pushed live.  Will check to make sure it's working in 30 minutes.
https://www.onrr.gov/ReportPay/PDFDocs/FSFederalCOAssignm.pdf
https://www.onrr.gov/ReportPay/PDFDocs/finserassign.pdf

[2022-01-13 20:16] mcharg commented on #1367
Working in the live site.

[2022-01-13 20:16] #1367 closed

[2022-01-13 21:14] Maroyafaied opened #1369 "Reupload formatted NYMEX files to onrr.gov"

[2022-01-13 22:46] Baymatt commented on #1313
Still working through the files, will have it done before the weekend.

[2022-01-13 22:47] Maroyafaied commented on #1313
@Baymatt sounds good, thank you!

[2022-01-14 16:40] jlouis-onrr opened #1370 "Creating issue from postman"

[2022-01-14 16:51] jlouis-onrr commented on #1370
test issue

[2022-01-14 16:51] #1370 closed

[2022-01-14 16:53] mcharg commented on #1328
@lpgoldstein This is ready for you to review.

[2022-01-14 16:59] jlouis-onrr opened #1371 "Creating issue from postman"

[2022-01-14 16:59] #1371 closed

[2022-01-14 17:48] jlouis-onrr opened #1372 "Page Builder Example"
New content ready for review: http://localhost:8055/admin/collections/pages/58

[2022-01-14 17:48] daniel-coleman-1 commented on #1204
We are live:
http://2017onrr/reportpay/training/Solids-Training-Videos.htm
http://2017onrr/reportpay/solids.htm
https://onrr.gov/reportpay/training/index.htm

[2022-01-14 17:48] #1204 closed

[2022-01-14 17:55] mcharg commented on #1343
@lpgoldstein I added the columns. https://dev-onrr-frontend.app.cloud.gov/about/employment

[2022-01-14 17:56] #1372 closed

[2022-01-14 18:44] mcharg commented on #1228
@cthomasONRR Take a looks and see if you think this one is good to call done.
https://dev-onrr-frontend.app.cloud.gov/references

[2022-01-14 18:52] mcharg commented on #1018
@mojobnichols Linking to sub-tabs definitely isn't working.  From Valuation & Pricing > Unbundling > Unbundling methods, I linke to Valuation & Pricing > Unbundling > Standardized UCAs and it just opens to the main Valuation & Pricing page on the first tab.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/f7aa6560-765d-4044-bc95-36f03ac7e418)

[2022-01-14 18:54] mcharg opened #1373 "Images not sizing to the indicated number of columns"
These are supposed to be 8 columns wide, but they're still full width.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/86d5fefb-21b5-40b9-b2c6-b5746f856ea0)

[2022-01-14 18:56] #1225 closed

[2022-01-14 19:01] mcharg commented on #1373
Looks good!

[2022-01-14 19:01] #1373 closed

[2022-01-14 19:02] mcharg opened #1374 "Check whether block is published and display label"
To make it easier to troubleshoot why a page isn't publishing. (Currently, all blocks have to be published for any to display.)

[2022-01-14 19:13] cthomasONRR commented on #1228
The Rulemakings and Valuation & Pricing links highlighted below don't work.
The Regulations and ICRs links highlighted below send you to 'Page not found'.
![image](https://user-images.githubusercontent.com/72526208/149572043-7d0051d5-53a9-4517-9cf9-e7cd58e6dfeb.png)

[2022-01-14 19:16] mcharg opened #1375 "Clean up row heights"
Can we have all cards in a row be the same height?

It would also be nice if we can have double high cards, like this guidance one.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/cd2f8f8a-5edc-429a-91ae-37876dd047dc)

[2022-01-14 19:16] cthomasONRR commented on #1228
Links are fixed, looks good!

[2022-01-14 19:18] mcharg commented on #1375
Pages:
https://dev-onrr-frontend.app.cloud.gov/references

[2022-01-14 19:20] mcharg commented on #1229
Put text under header, so I don't think we need this.

[2022-01-14 19:20] #1229 closed

[2022-01-14 19:21] #1368 closed

[2022-01-14 19:21] #1228 closed

[2022-01-14 19:22] mcharg commented on #1340
Fixed.

[2022-01-14 19:22] #1340 closed

[2022-01-14 19:22] mcharg commented on #1233
Fixed.

[2022-01-14 19:22] #1233 closed

[2022-01-14 19:30] mcharg opened #1376 "Pages not linked from menus won't display in dev"
/references/valuation/pop-example
/references/valuation/processed-gas-example
/about/engagement/ionr

[2022-01-14 19:33] mcharg commented on #1254
Resized images.
https://dev-onrr-frontend.app.cloud.gov/references/valuation

[2022-01-14 19:36] mcharg commented on #1344
Added cards. https://dev-onrr-frontend.app.cloud.gov/references/valuation?tab=valuation-examples

[2022-01-14 19:55] mcharg commented on #1338
Added cards without a collection.
https://dev-onrr-frontend.app.cloud.gov/references/valuation?tab=standardized-ucas

[2022-01-14 19:56] mcharg opened #1377 "Add way to choose text alignment"
So we can do things like right align values in a table.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/d41e7edc-26a0-4572-90cb-d4526a32d53c)

[2022-01-14 19:57] mcharg commented on #1377
We also want to be able to center buttons and links in a card.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/94495843-36dc-4612-921a-a873a9b422ea)

[2022-01-14 20:25] mcharg commented on #1297
Was able to build without being a collection. https://dev-onrr-frontend.app.cloud.gov/about/engagement?tab=committees

[2022-01-14 20:51] mcharg opened #1378 "Add ability to decide how large an image displays and align images"
So we don't have it filling the block.  I also want to be able to choose left, right, or center alignment.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/f3b1136c-b52a-4d8b-8a9d-2a98760bbc3a)

[2022-01-14 21:22] jlouis-onrr opened #1379 "Federal Percent-of-Proceeds Contract Reporting Example"
New content ready for review: http://localhost:8055/admin/collections/pages/63

[2022-01-14 21:25] #1379 closed

[2022-01-14 21:40] jlouis-onrr opened #1380 "Page Builder Example"
New content ready for review: https://dev-onrr-cms.app.cloud.gov/admin/collections/pages/58

[2022-01-14 21:42] #1380 closed

[2022-01-14 21:43] jlouis-onrr opened #1381 "Page Builder Example"
New content ready for review: https://dev-onrr-cms.app.cloud.gov/admin/content/pages/58

[2022-01-15 00:27] #1381 closed

[2022-01-15 00:34] jlouis-onrr opened #1382 "Page Builder Example"
New content ready for review: https://dev-onrr-cms.app.cloud.gov/admin/content/pages/58

[2022-01-15 00:35] #1382 closed

[2022-01-15 00:40] jlouis-onrr opened #1383 "Page Builder Example"
New content ready for review: https://dev-onrr-cms.app.cloud.gov/admin/content/pages/58

[2022-01-15 00:42] #1383 closed

[2022-01-16 22:33] Baymatt commented on #1313
Was able to finish formatting the remaining necessary files yesterday. For some reason, it wouldn't let me edit in the browser so I had to download the files and then reupload them with the fixed formatting. If there are any issues that occur let me know.

[2022-01-18 14:05] mcharg opened #1384 "Page: Home Page"
https://dev-onrr-frontend.app.cloud.gov/
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/1
https://qmcq5k.axshare.com/#id=e1wh3o&p=home_v3

[2022-01-18 14:05] mcharg commented on #1384
We need to add all the hyperlinks.

@jlouis-onrr Is this something you do programmatically or can one of us do it manually?

[2022-01-18 14:08] mcharg opened #1385 "Page: Getting Started Home"
https://dev-onrr-frontend.app.cloud.gov/getting-started
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/9

[2022-01-18 14:08] mcharg opened #1386 "Page: Getting Started Home"
https://dev-onrr-frontend.app.cloud.gov/getting-started
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/9
https://qmcq5k.axshare.com/#id=o52v1g&p=getting_started

[2022-01-18 14:08] #1385 closed

[2022-01-18 14:09] mcharg commented on #1386
I started this one.

[2022-01-18 14:11] mcharg opened #1387 "Page: How Leasing Works"
https://dev-onrr-frontend.app.cloud.gov/getting-started/how-leasing-works
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/10
https://qmcq5k.axshare.com/#id=1t0m2d&p=how_leasing_works

[2022-01-18 14:13] mcharg commented on #1387
I need to save off the images to png for this one.

[2022-01-18 14:14] mcharg opened #1388 "Page: New Reporter Checklist"
https://dev-onrr-frontend.app.cloud.gov/getting-started/new-reporter-checklisthttps://dev-onrr-cms.app.cloud.gov/admin/content/pages/11
https://qmcq5k.axshare.com/#id=muwj32&p=new_reporter_checklist

[2022-01-18 14:16] mcharg opened #1389 "Page: System Access"
https://dev-onrr-frontend.app.cloud.gov/getting-started/system-access
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/12
https://qmcq5k.axshare.com/#id=uy4lvh&p=system_access

[2022-01-18 14:18] mcharg commented on #1389
Add tabs to page.  Created separate issues for the individual tabs.

[2022-01-18 14:20] mcharg opened #1390 "Tab: System Access > Setting Up Access"
https://dev-onrr-frontend.app.cloud.gov/getting-started/system-access
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/12
https://qmcq5k.axshare.com/#id=uy4lvh&p=system_access

[2022-01-18 14:26] mcharg opened #1391 "Tab: System Access > Troubleshooting"
https://dev-onrr-frontend.app.cloud.gov/getting-started/system-access
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/12
https://qmcq5k.axshare.com/#id=uy4lvh&p=system_access

Also:
https://qmcq5k.axshare.com/#id=j6ouxf&p=system_access_1&g=1

[2022-01-18 14:29] mcharg opened #1392 "Tab: System Access > Contacts"
https://dev-onrr-frontend.app.cloud.gov/getting-started/system-access
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/12
https://qmcq5k.axshare.com/#id=uy4lvh&p=system_access

Also:
https://qmcq5k.axshare.com/#id=j6ouxf&p=system_access_1&g=1

[2022-01-18 14:30] mcharg opened #1393 "Collection: Contacts"
Update to card view and with latest information architecture.

[2022-01-18 14:34] mcharg opened #1394 "Page: New Reporter Training"
https://dev-onrr-frontend.app.cloud.gov/getting-started/new-reporter-training
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/13
https://qmcq5k.axshare.com/#id=tgwtqb&p=new_reporter_training&g=1

[2022-01-18 14:36] mcharg opened #1395 "Page: Reporting Home"
https://dev-onrr-frontend.app.cloud.gov/reporting
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/4
https://qmcq5k.axshare.com/#id=oy6t9q&p=reporting&g=1

[2022-01-18 14:37] mcharg commented on #1395
I started this one.

[2022-01-18 14:39] mcharg commented on #1217
Changing this issue to just be setting up tabs and then creating separate issues for tabs.

[2022-01-18 14:41] mcharg opened #1396 "Tab: Production > File Reports"
https://dev-onrr-frontend.app.cloud.gov/reporting/production
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/19
https://qmcq5k.axshare.com/#id=sw7sll&p=oil___gas_production&g=1

[2022-01-18 14:42] mcharg opened #1397 "Tab: Production > Forms"
https://dev-onrr-frontend.app.cloud.gov/reporting/production
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/19
https://qmcq5k.axshare.com/#id=sw7sll&p=oil___gas_production&g=1

Also:
https://dev-onrr-frontend.app.cloud.gov/references/forms?tab=oil-gas-production-reporting
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/47
https://qmcq5k.axshare.com/#id=6zhm0q&p=forms&g=1

[2022-01-18 14:42] mcharg opened #1398 "Tab: Production > References"
https://dev-onrr-frontend.app.cloud.gov/reporting/production
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/19
https://qmcq5k.axshare.com/#id=sw7sll&p=oil___gas_production&g=1

[2022-01-18 14:42] mcharg opened #1399 "Tab: Production > New Reporter Checklist"
https://dev-onrr-frontend.app.cloud.gov/reporting/production
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/19
https://qmcq5k.axshare.com/#id=sw7sll&p=oil___gas_production&g=1

[2022-01-18 14:43] mcharg opened #1400 "Tab: Production > Troubleshooting"
https://dev-onrr-frontend.app.cloud.gov/reporting/production
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/19
https://qmcq5k.axshare.com/#id=sw7sll&p=oil___gas_production&g=1

[2022-01-18 14:43] mcharg opened #1401 "Tab: Production > Contacts"
https://dev-onrr-frontend.app.cloud.gov/reporting/production
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/19
https://qmcq5k.axshare.com/#id=sw7sll&p=oil___gas_production&g=1

Also:
https://qmcq5k.axshare.com/#id=bhj7vh&p=oil___gas_production_1&g=1

[2022-01-18 14:47] mcharg commented on #1396
I got this one as far as I could.

[2022-01-18 14:48] mcharg commented on #1397
I got this one as far as I could.

[2022-01-18 15:15] mcharg opened #1402 "Page: Oil & Gas Revenue"
https://dev-onrr-frontend.app.cloud.gov/reporting/revenue
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/41
https://qmcq5k.axshare.com/#id=5ud60e&p=oil___gas_revenue&g=1

[2022-01-18 15:16] mcharg opened #1403 "Tab: Oil & Gas Revenue > File Reports"
https://dev-onrr-frontend.app.cloud.gov/reporting/revenue
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/41
https://qmcq5k.axshare.com/#id=5ud60e&p=oil___gas_revenue&g=1

[2022-01-18 15:16] mcharg opened #1404 "Tab: Revenue > Forms"
https://dev-onrr-frontend.app.cloud.gov/reporting/revenue
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/41
https://qmcq5k.axshare.com/#id=5ud60e&p=oil___gas_revenue&g=1

Also:
https://dev-onrr-frontend.app.cloud.gov/references/forms?tab=oil-gas-revenue-reporting
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/47
https://qmcq5k.axshare.com/#id=6zhm0q&p=forms&g=1

[2022-01-18 15:16] mcharg opened #1405 "Tab: Revenue > References"
https://dev-onrr-frontend.app.cloud.gov/reporting/revenue
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/41
https://qmcq5k.axshare.com/#id=5ud60e&p=oil___gas_revenue&g=1

Also:
https://dev-onrr-frontend.app.cloud.gov/references/reference-lists
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/48
https://qmcq5k.axshare.com/#id=1f6ois&p=reference_lists___codes&g=1

[2022-01-18 15:16] mcharg opened #1406 "Tab: Revenue > New Reporter Checklist"
https://dev-onrr-frontend.app.cloud.gov/reporting/revenue
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/41
https://qmcq5k.axshare.com/#id=5ud60e&p=oil___gas_revenue&g=1

[2022-01-18 15:16] mcharg opened #1407 "Tab: Revenue > Troubleshooting"
https://dev-onrr-frontend.app.cloud.gov/reporting/revenue
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/41
https://qmcq5k.axshare.com/#id=5ud60e&p=oil___gas_revenue&g=1

Also:
https://qmcq5k.axshare.com/#id=its4or&p=oil___gas_royalty&g=1

[2022-01-18 15:17] mcharg opened #1408 "Tab: Revenue > Contacts"
https://dev-onrr-frontend.app.cloud.gov/reporting/revenue
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/41
https://qmcq5k.axshare.com/#id=5ud60e&p=oil___gas_revenue&g=1

Also:
https://qmcq5k.axshare.com/#id=its4or&p=oil___gas_royalty&g=1

[2022-01-18 15:18] mcharg commented on #1402
This issue is to add tabs.  Created separate issues for each tab.

[2022-01-18 15:31] mcharg opened #1409 "Page: Solid Minerals"
https://dev-onrr-frontend.app.cloud.gov/reporting/solids
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/42
https://qmcq5k.axshare.com/#id=hi0nnh&p=solid_minerals&g=1

[2022-01-18 15:31] mcharg opened #1410 "Tab: Solid Minerals > File Reports"
https://dev-onrr-frontend.app.cloud.gov/reporting/solids
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/42
https://qmcq5k.axshare.com/#id=hi0nnh&p=solid_minerals&g=1

[2022-01-18 15:31] mcharg opened #1411 "Tab: Solid Minerals > Forms"
https://dev-onrr-frontend.app.cloud.gov/reporting/solids
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/42
https://qmcq5k.axshare.com/#id=hi0nnh&p=solid_minerals&g=1

Also:
https://dev-onrr-frontend.app.cloud.gov/references/forms?tab=solid-minerals-reporting
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/47
https://qmcq5k.axshare.com/#id=6zhm0q&p=forms&g=1

[2022-01-18 15:32] mcharg opened #1412 "Tab: Solid Minerals > References"
https://dev-onrr-frontend.app.cloud.gov/reporting/solids
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/42
https://qmcq5k.axshare.com/#id=hi0nnh&p=solid_minerals&g=1

[2022-01-18 15:32] mcharg opened #1413 "Tab: Solid Minerals > New Reporter Checklist"

[2022-01-18 15:32] mcharg opened #1414 "Tab: Solid Minerals > Troubleshooting"
https://dev-onrr-frontend.app.cloud.gov/reporting/solids
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/42
https://qmcq5k.axshare.com/#id=hi0nnh&p=solid_minerals&g=1

Also:
https://qmcq5k.axshare.com/#id=5f8bk2&p=solid_minerals_1&g=1

[2022-01-18 15:32] mcharg opened #1415 "Tab: Solid Minerals > Contacts"
https://dev-onrr-frontend.app.cloud.gov/reporting/solids
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/42
https://qmcq5k.axshare.com/#id=hi0nnh&p=solid_minerals&g=1

Also:
https://qmcq5k.axshare.com/#id=5f8bk2&p=solid_minerals_1&g=1

[2022-01-18 15:35] mcharg commented on #1409
Add tabs to the page.  Separate issues for each tab.

[2022-01-18 15:45] mcharg opened #1416 "Page: Geothermal"
https://dev-onrr-frontend.app.cloud.gov/reporting/geothermal
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/43
https://qmcq5k.axshare.com/#id=up0lnh&p=geothermal&g=1

[2022-01-18 15:45] mcharg opened #1417 "Tab: Geothermal > File Reports"
https://dev-onrr-frontend.app.cloud.gov/reporting/geothermal
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/43
https://qmcq5k.axshare.com/#id=up0lnh&p=geothermal&g=1

[2022-01-18 15:45] mcharg opened #1418 "Tab: Geothermal > Forms"
https://dev-onrr-frontend.app.cloud.gov/reporting/geothermal
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/43
https://qmcq5k.axshare.com/#id=up0lnh&p=geothermal&g=1

Also:
https://dev-onrr-frontend.app.cloud.gov/references/forms?tab=geothermal-reporting
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/47
https://qmcq5k.axshare.com/#id=6zhm0q&p=forms&g=1

[2022-01-18 15:46] mcharg opened #1419 "Tab: Geothermal > References"
https://dev-onrr-frontend.app.cloud.gov/reporting/geothermal
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/43
https://qmcq5k.axshare.com/#id=up0lnh&p=geothermal&g=1

[2022-01-18 15:46] mcharg opened #1420 "Tab: Geothermal > New Reporter Checklist"
https://dev-onrr-frontend.app.cloud.gov/reporting/geothermal
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/43
https://qmcq5k.axshare.com/#id=up0lnh&p=geothermal&g=1

[2022-01-18 15:46] mcharg opened #1421 "Tab: Geothermal > Troubleshooting"
https://dev-onrr-frontend.app.cloud.gov/reporting/geothermal
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/43
https://qmcq5k.axshare.com/#id=up0lnh&p=geothermal&g=1

Also:
https://qmcq5k.axshare.com/#id=b5lzlu&p=geothermal_1&g=1

[2022-01-18 15:46] mcharg opened #1422 "Tab: Geothermal > Contacts"
https://dev-onrr-frontend.app.cloud.gov/reporting/geothermal
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/43
https://qmcq5k.axshare.com/#id=up0lnh&p=geothermal&g=1

https://qmcq5k.axshare.com/#id=b5lzlu&p=geothermal_1&g=1

[2022-01-18 15:49] mcharg commented on #1416
Add tabs.  Separate issue for each tab.

[2022-01-18 15:57] mcharg opened #1423 "Collection: Statutes"

[2022-01-18 15:59] mcharg opened #1424 "Page: FOGRMA Amendments"
https://qmcq5k.axshare.com/#id=02vpg8&p=fogrma_amendments&g=1

[2022-01-18 16:00] mcharg opened #1425 "Add ability to have colored text"
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/0dd3c50d-c9eb-4131-a74c-e82180e52f6b)

[2022-01-18 16:01] mcharg opened #1426 "Page: Rulemakings"
https://dev-onrr-frontend.app.cloud.gov/references/rulemakings
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/44
https://qmcq5k.axshare.com/#id=h57jbd&p=rulemakings&g=1

[2022-01-18 16:02] mcharg opened #1427 "Collection: Rulemakings"

[2022-01-18 16:04] mcharg commented on #943
Duplicate of #1282

[2022-01-18 16:05] mcharg opened #1428 "Collection: Current ICRs"

[2022-01-18 16:06] mcharg opened #1429 "Collection: Discontinued ICRs"

[2022-01-18 16:07] mcharg opened #1430 "Page: ICRs"
https://dev-onrr-frontend.app.cloud.gov/references/icrs
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/46
https://qmcq5k.axshare.com/#id=tqf3j1&p=information_collection_requests&g=1

[2022-01-18 16:07] mcharg commented on #1430
Add intro content and tabs.  Separate issues for each tab.

[2022-01-18 16:08] mcharg opened #1431 "Tab: ICRs > Current"
https://dev-onrr-frontend.app.cloud.gov/references/icrs
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/46
https://qmcq5k.axshare.com/#id=tqf3j1&p=information_collection_requests&g=1

[2022-01-18 16:09] mcharg opened #1432 "Tab: ICRs > Discontinued"
https://dev-onrr-frontend.app.cloud.gov/references/icrs
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/46
https://qmcq5k.axshare.com/#id=tqf3j1&p=information_collection_requests&g=1

[2022-01-18 16:23] mcharg opened #1433 "Page: Forms"
https://dev-onrr-frontend.app.cloud.gov/references/forms
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/47
https://qmcq5k.axshare.com/#id=6zhm0q&p=forms&g=1

[2022-01-18 16:24] mcharg commented on #1433
Add tabs.  Separate issues for each tab.

[2022-01-18 16:26] mcharg opened #1434 "Tab: Forms > System Access"
https://dev-onrr-frontend.app.cloud.gov/references/forms
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/47
https://qmcq5k.axshare.com/#id=6zhm0q&p=forms&g=1

[2022-01-18 16:28] mcharg opened #1435 "Tab: Forms > Appeal Surety"
https://dev-onrr-frontend.app.cloud.gov/references/forms
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/47
https://qmcq5k.axshare.com/#id=6zhm0q&p=forms&g=1

Also:
https://qmcq5k.axshare.com/#id=otcgbi&p=appeals&g=1

[2022-01-18 16:30] mcharg opened #1436 "Figure out strategy for building ICR and rulemaking pages"

[2022-01-18 16:34] mcharg opened #1437 "Page: Reference Lists & Codes"
https://dev-onrr-frontend.app.cloud.gov/references/reference-lists
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/48
https://qmcq5k.axshare.com/#id=1f6ois&p=reference_lists___codes&g=1

[2022-01-18 16:34] mcharg commented on #1437
Add tabs.  Separate issue for each tab.

[2022-01-18 16:36] mcharg opened #1438 "Tab: Reference Lists & Codes > Lease & Agreement Numbers"
https://dev-onrr-frontend.app.cloud.gov/references/reference-lists
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/48
https://qmcq5k.axshare.com/#id=1f6ois&p=reference_lists___codes&g=1

[2022-01-18 16:40] mcharg opened #1439 "Page: Handbooks"
https://dev-onrr-frontend.app.cloud.gov/references/handbooks
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/49
https://qmcq5k.axshare.com/#id=th2nbq&p=handbooks&g=1

[2022-01-18 16:41] mcharg opened #1440 "Figure out strategy for building handbook pages"

[2022-01-18 16:43] mcharg opened #1441 "Page: Valuation & Pricing"
https://dev-onrr-frontend.app.cloud.gov/references/valuation
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/50
https://qmcq5k.axshare.com/#id=l9inb4&p=valuation___pricing&g=1

[2022-01-18 16:43] mcharg commented on #1441
Add tabs.  Separate issues for each tab.

[2022-01-18 16:47] mcharg commented on #1253
Reopening until we put the tabs back in the right order after demo.

[2022-01-18 16:47] mcharg commented on #1253
This issue is for the intro content on the Pricing tab and adding the subtabs.

[2022-01-18 16:54] mcharg commented on #1337
This issue is for the disclaimer accordion and adding the subtabs.

[2022-01-18 16:55] mcharg opened #1442 "Tab: Valuation & Pricing > Unbundling > Overview"

[2022-01-18 16:59] mcharg opened #1443 "Tab: Valuation & Pricing > Unbundling > Plant-Specific UCAs"
https://dev-onrr-frontend.app.cloud.gov/references/valuation?tab=unbundling
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/50
https://qmcq5k.axshare.com/#id=l9inb4&p=valuation___pricing&g=1

[2022-01-18 17:01] mcharg opened #1444 "Tab: Valuation & Pricing > Unbundling > Unbundling Methods"
https://dev-onrr-frontend.app.cloud.gov/references/valuation?tab=unbundling
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/50
https://qmcq5k.axshare.com/#id=l9inb4&p=valuation___pricing&g=1

[2022-01-18 17:07] mcharg opened #1445 "Add ability to link to a filtered view of the rulemaking page"
Click on any of the historical rules link on this page to see how we want it to behave.
https://qmcq5k.axshare.com/#id=l9inb4&p=valuation___pricing&g=1

[2022-01-18 17:12] mcharg opened #1446 "Page: 2016 Valuation Rule Federal Processed Gas Reporting Example (all tabs)"
https://dev-onrr-frontend.app.cloud.gov/references/valuation/processed-gas-example
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/68
https://qmcq5k.axshare.com/#id=0royo3&p=valuation_example&g=1

[2022-01-18 17:13] mcharg opened #1447 "Create helpful tips functionality for valuation examples"
https://qmcq5k.axshare.com/#id=0royo3&p=valuation_example&g=1

[2022-01-18 17:15] mcharg opened #1448 "Add ability to have letters with a colored circle behind them"
See Sample Statement tab.
https://qmcq5k.axshare.com/#id=0royo3&p=valuation_example&g=1

[2022-01-18 17:19] mcharg opened #1449 "Page: Federal Percent-of-Proceeds Contract Reporting Example (all tabs)"
https://dev-onrr-frontend.app.cloud.gov/references/valuation/pop-example
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/69
https://qmcq5k.axshare.com/#id=nm9ju1&p=valuation_example_2&g=1

[2022-01-18 17:22] mcharg opened #1450 "Tab: Valuation & Pricing > Contacts"
https://dev-onrr-frontend.app.cloud.gov/references/valuation?tab=contacts
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/50
https://qmcq5k.axshare.com/#id=l9inb4&p=valuation___pricing&g=1

Also:
https://qmcq5k.axshare.com/#id=6wj92e&p=valuation___pricing_1&g=1

[2022-01-18 17:25] mcharg opened #1451 "Page: Reporter Letters"
https://dev-onrr-frontend.app.cloud.gov/references/reporter-letters
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/51
https://qmcq5k.axshare.com/#id=0zpl7n&p=reporter_letters&g=1

[2022-01-18 17:28] mcharg opened #1452 "Page: Reporter Training"
https://dev-onrr-frontend.app.cloud.gov/references/training
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/52
https://qmcq5k.axshare.com/#id=cwcm9b&p=reporter_training&g=1

[2022-01-18 17:28] mcharg commented on #1452
This issue is for creating tabs.  Separate issues for each tab.

[2022-01-18 17:29] mcharg opened #1453 "Tab: Reporter Training > Training Presentations"
https://dev-onrr-frontend.app.cloud.gov/references/training
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/52
https://qmcq5k.axshare.com/#id=cwcm9b&p=reporter_training&g=1

[2022-01-18 17:29] mcharg opened #1454 "Tab: Training Presentations > Training Videos"
https://dev-onrr-frontend.app.cloud.gov/references/training
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/52
https://qmcq5k.axshare.com/#id=cwcm9b&p=reporter_training&g=1

[2022-01-18 17:30] mcharg opened #1455 "Tab: Reporter Training > Training Schedule"
https://dev-onrr-frontend.app.cloud.gov/references/training
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/52
https://qmcq5k.axshare.com/#id=cwcm9b&p=reporter_training&g=1

[2022-01-18 17:33] mcharg opened #1456 "Page: Paying Home"
https://dev-onrr-frontend.app.cloud.gov/paying
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/6
https://qmcq5k.axshare.com/#id=caluw3&p=paying&g=1

[2022-01-18 17:34] mcharg commented on #1456
@lpgoldstein The links to pay.gov, ACH, and Fedwire are going to the prototype.

[2022-01-18 17:36] mcharg opened #1457 "Page: Payment Options"
https://dev-onrr-frontend.app.cloud.gov/paying/payment-options
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/21
https://qmcq5k.axshare.com/#id=373ruk&p=payment_options&g=1

[2022-01-18 17:38] mcharg opened #1458 "Page: Late Payment Interest"
https://dev-onrr-frontend.app.cloud.gov/paying/interest
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/38
https://qmcq5k.axshare.com/#id=qw8sdk&p=late_payment_interest&g=1

[2022-01-18 17:39] Maroyafaied opened #1459 "finish adding NYMEX files"

[2022-01-18 17:39] mcharg opened #1460 "Collection: Interest Rates"

[2022-01-18 17:40] mcharg commented on #1458
@lpgoldstein Need to copy interest calculator example from live site.

[2022-01-18 17:44] mcharg opened #1461 "Page: Paying > Contacts"
https://dev-onrr-frontend.app.cloud.gov/paying/contacts-paying
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/40
https://qmcq5k.axshare.com/#id=cqd7rp&p=contacts&g=1

[2022-01-18 17:47] mcharg opened #1462 "Page: Compliance"
https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/compliance
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/22
https://qmcq5k.axshare.com/#id=wxa2eb&p=compliance&g=1

[2022-01-18 17:47] mcharg opened #1463 "Tab: Compliance > Overview"
https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/compliance
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/22
https://qmcq5k.axshare.com/#id=wxa2eb&p=compliance&g=1

[2022-01-18 17:48] mcharg commented on #1462
Separate page for each tab.  This issue is to create tabs.

[2022-01-18 17:50] mcharg opened #1464 "Tab: Compliance > Compliance Authorities"
https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/compliance
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/22
https://qmcq5k.axshare.com/#id=wxa2eb&p=compliance&g=1

Same table as Statutes page.

[2022-01-18 17:51] mcharg commented on #1236
Duplicate

[2022-01-18 17:51] #1236 closed

[2022-01-18 17:52] mcharg opened #1465 "Tab: Compliance > Contacts"
https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/compliance
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/22
https://qmcq5k.axshare.com/#id=wxa2eb&p=compliance&g=1

[2022-01-18 17:54] mcharg opened #1466 "Page: Enforcement & Litigation Support"
https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/enforcement
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/26
https://qmcq5k.axshare.com/#id=5w0f4w&p=enforcement&g=1

[2022-01-18 17:55] mcharg opened #1467 "Page: Appeals"
https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/appeals
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/27
https://qmcq5k.axshare.com/#id=otcgbi&p=appeals&g=1

[2022-01-18 17:56] mcharg opened #1468 "Page: STRAC"
https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/cooperative
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/28
https://qmcq5k.axshare.com/#id=5fxgha&p=strac&g=1

[2022-01-18 17:57] mcharg opened #1469 "Page: Indian Resources Home"
https://dev-onrr-frontend.app.cloud.gov/indian
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/8
https://qmcq5k.axshare.com/#id=vqfjwr&p=indian_resources&g=1

[2022-01-18 17:58] mcharg opened #1470 "Page: Assistance"
https://dev-onrr-frontend.app.cloud.gov/indian/assistance?tab=choosing-assistance
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/23
https://qmcq5k.axshare.com/#id=tzo87j&p=assistance&g=1

[2022-01-18 17:59] mcharg opened #1471 "Page: Tribal Consultation"
https://dev-onrr-frontend.app.cloud.gov/indian/tribal-consultation
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/33
https://qmcq5k.axshare.com/#id=htd1ha&p=tribal_consultation&g=1

[2022-01-18 18:00] mcharg opened #1472 "Page: Indian Pricing"
https://dev-onrr-frontend.app.cloud.gov/indian/indian-pricing
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/34
https://qmcq5k.axshare.com/#id=y89dq7&p=indian_pricing&g=1

[2022-01-18 18:02] #1328 closed

[2022-01-18 18:36] #1242 closed

[2022-01-18 18:49] Maroyafaied commented on #1451
@daniel-coleman-1 Review and update tracking sheet.

[2022-01-18 19:02] mcharg opened #1473 "Add filtering ability to tables"
https://qmcq5k.axshare.com/#id=h57jbd&p=rulemakings&g=1

[2022-01-18 19:13] mcharg commented on #1442
@cthomasONRR The Overview tab is ready to review.

[2022-01-18 19:14] mcharg commented on #1441
@cthomasONRR This is just reviewing the tabs (not the content within them).

[2022-01-18 19:14] mcharg commented on #1433
@cthomasONRR This is just reviewing the tabs (not the content within them.)

[2022-01-18 19:14] mcharg commented on #1217
@cthomasONRR This is just reviewing the tabs (not the content within them.)

[2022-01-18 19:15] Maroyafaied opened #1474 "List of names of employees for onrr.gov 508 compliance project"

[2022-01-18 19:17] mcharg commented on #1466
This issue is for adding the intro content and the tabs.

[2022-01-18 19:17] mcharg opened #1475 "Tab: Enforcement & Litigation Support > Enforcement"
https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/enforcement
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/26
https://qmcq5k.axshare.com/#id=5w0f4w&p=enforcement&g=1

[2022-01-18 19:18] mcharg commented on #1475
Content on Enforcement tab

[2022-01-18 19:19] mcharg opened #1476 "Tab: Enforcement & Litigation Support > Civil Penalties"
https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/enforcement
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/26
https://qmcq5k.axshare.com/#id=5w0f4w&p=enforcement&g=1

[2022-01-18 19:21] mcharg opened #1477 "Tab: Enforcement & Litigation Support > Bankruptcies & Litigation Support"
https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/enforcement
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/26
https://qmcq5k.axshare.com/#id=5w0f4w&p=enforcement&g=1

[2022-01-18 19:26] mcharg commented on #1297
Blocked by not being able to link to IONR page.

[2022-01-18 19:27] cthomasONRR commented on #1474
After going though issues and emails, this is what I have:

Jodie Peterson, Antoinette Urisote, Christina Mathers, Carrie Garcia, Carrie Anderson, Lori Yokomizo, Shannon Hahn, Yvette Smith, Andrea Scharton, Evelyn Shropshire, Bill Blackburn, Luis Aguilar, Alexis Long, Noelle White, Kerri Gallant, Jessica Bowlen.

[2022-01-18 19:28] cthomasONRR commented on #1474
There are probably more people who were remediating, but these are the ones who emailed me with docs to update or remove.

[2022-01-18 19:28] mcharg opened #1478 "Tab: Enforcement & Litigation Support > Contacts"

[2022-01-18 19:31] mcharg commented on #1474
We probably have more listed in the document updater column in the content audit sheet within the 508 sheet.

[2022-01-18 19:33] mcharg opened #1479 "Tab: Appeals > How to Appeal"
https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/appeals
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/27
https://qmcq5k.axshare.com/#id=otcgbi&p=appeals&g=1

[2022-01-18 19:36] mcharg opened #1480 "Tab: Appeals > Past Decisions"
https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/appeals
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/27
https://qmcq5k.axshare.com/#id=otcgbi&p=appeals&g=1

[2022-01-18 19:37] mcharg opened #1481 "Tab: Appeals > Contacts"
https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/appeals
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/27
https://qmcq5k.axshare.com/#id=otcgbi&p=appeals&g=1

[2022-01-18 19:40] mcharg opened #1482 "Tab: STRAC > Overview"
https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/cooperative
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/28
https://qmcq5k.axshare.com/#id=5fxgha&p=strac&g=1

[2022-01-18 19:41] mcharg opened #1483 "Tab: STRAC > Current Partners"
https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/cooperative
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/28
https://qmcq5k.axshare.com/#id=5fxgha&p=strac&g=1

[2022-01-18 19:42] mcharg opened #1484 "Tab: STRAC > IPA"
https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/cooperative
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/28
https://qmcq5k.axshare.com/#id=5fxgha&p=strac&g=1

[2022-01-18 19:43] mcharg opened #1485 "Tab: STRAC > Contacts"
https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/cooperative
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/28
https://qmcq5k.axshare.com/#id=5fxgha&p=strac&g=1

[2022-01-18 19:47] mcharg opened #1486 "Tab: Assistance > Choosing Assistance"
https://dev-onrr-frontend.app.cloud.gov/indian/assistance?tab=choosing-assistance
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/23
https://qmcq5k.axshare.com/#id=tzo87j&p=assistance&g=1

[2022-01-18 19:48] mcharg commented on #1486
@cthomasONRR The Choosing Assistance tab is ready to review.

[2022-01-18 19:49] mcharg commented on #1470
@cthomasONRR This is to review the tab, not the content within them.

[2022-01-18 19:50] mcharg opened #1487 "Tab: Assistance > Indian Outreach"
https://dev-onrr-frontend.app.cloud.gov/indian/assistance?tab=indian-outreach
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/23
https://qmcq5k.axshare.com/#id=tzo87j&p=assistance&g=1

[2022-01-18 19:50] mcharg commented on #1487
This is for adding the tabs.  Separate issue for each tab.

[2022-01-18 19:52] mcharg opened #1488 "Tab: Assistance > Indian Outreach > Overview"
https://dev-onrr-frontend.app.cloud.gov/indian/assistance?tab=indian-outreach
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/23
https://qmcq5k.axshare.com/#id=tzo87j&p=assistance&g=1

[2022-01-18 19:52] mcharg opened #1489 "Tab: Assistance > Indian Outreach > Videos"
https://dev-onrr-frontend.app.cloud.gov/indian/assistance?tab=indian-outreach
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/23
https://qmcq5k.axshare.com/#id=tzo87j&p=assistance&g=1

[2022-01-18 19:55] mcharg opened #1490 "Tab: Assistance > FIMO"
https://dev-onrr-frontend.app.cloud.gov/indian/assistance?tab=federal-indian-minerals-office
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/23
https://qmcq5k.axshare.com/#id=tzo87j&p=assistance&g=1

[2022-01-18 19:56] mcharg opened #1491 "Tab: Assistance > Tribal Assistance"
https://dev-onrr-frontend.app.cloud.gov/indian/assistance?tab=tribal-assistance
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/23
https://qmcq5k.axshare.com/#id=tzo87j&p=assistance&g=1

[2022-01-18 19:58] mcharg opened #1492 "Tab: Assistance > IESC"
https://dev-onrr-frontend.app.cloud.gov/indian/assistance?tab=indian-energy-service-center
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/23
https://qmcq5k.axshare.com/#id=tzo87j&p=assistance&g=1

[2022-01-18 19:58] mcharg commented on #1492
This issue is just to add the tabs.

[2022-01-18 19:59] cthomasONRR commented on #1217
@mcharg I reviewed the tabs. It looks good to me. Added my name as reviewed in the ContentTracking sheet.

[2022-01-18 19:59] mcharg opened #1493 "Tab: Assistance > IESC > About"
https://dev-onrr-frontend.app.cloud.gov/indian/assistance?tab=indian-energy-service-center
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/23
https://qmcq5k.axshare.com/#id=tzo87j&p=assistance&g=1

[2022-01-18 20:00] mcharg opened #1494 "Tab: Assistance > IESC > Referral Information"
https://dev-onrr-frontend.app.cloud.gov/indian/assistance?tab=indian-energy-service-center&tabs=indian-energy-service-center,referral-information
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/23
https://qmcq5k.axshare.com/#id=tzo87j&p=assistance&g=1

[2022-01-18 20:01] mcharg opened #1495 "Tab: Indian Contacts"
https://dev-onrr-frontend.app.cloud.gov/indian/assistance?tab=contacts
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/23
https://qmcq5k.axshare.com/#id=tzo87j&p=assistance&g=1

[2022-01-18 20:05] cthomasONRR commented on #1441
@mcharg I reviewed the tabs. It looks good to me. Added my name as reviewed in the Content Tracking sheet.

[2022-01-18 20:09] cthomasONRR commented on #1442
The expansion panel needs to be added to the dev site. I'm assuming that's because it hasn't been developed yet? Also, within the expansion panel, the subheaders are bolded in the wireframe. Do you want to add that in?

![image](https://user-images.githubusercontent.com/72526208/150010863-5cfd6f08-b1d8-4557-b50e-ecf167e3c8d4.png)

[2022-01-18 20:13] cthomasONRR commented on #1486
@mcharg I reviewed the content in this tab. It looks good to me - all links are working. Added my name as reviewed in the Content Tracking sheet.

[2022-01-18 20:18] cthomasONRR commented on #1470
@mcharg I reviewed the tabs. It looks good to me. Added my name as reviewed in the Content Tracking sheet.

[2022-01-18 20:23] cthomasONRR commented on #1442
Moved the expansion panel review to #1337

[2022-01-18 20:24] cthomasONRR commented on #1337
The expansion panel needs to be added to the dev site. I'm assuming that's because it hasn't been developed yet? Also, within the expansion panel, the subheaders are bolded in the wireframe. Do you want to add that in?

![image](https://user-images.githubusercontent.com/72526208/150012914-2e1919fc-4495-4c3a-8893-f9763540045f.png)

[2022-01-18 20:32] cthomasONRR commented on #1474
@mcharg I checked and that column is blank in the Content Audit tab. The Accessibility Tracking tab only tracks the GS15 owner.

[2022-01-18 20:36] mcharg commented on #1471
This issue is to add the tabs.

[2022-01-18 20:36] mcharg opened #1496 "Tab: Tribal Consultation > Overview"

[2022-01-18 20:37] mcharg opened #1497 "Tab: Tribal Consultation > Scheduled Consultations"

[2022-01-18 20:38] mcharg commented on #1472
This issue is to add the tabs.

[2022-01-18 20:40] mcharg opened #1498 "Tab: Indian Pricing > How to Value"
https://dev-onrr-frontend.app.cloud.gov/indian/indian-pricing
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/34
https://qmcq5k.axshare.com/#id=y89dq7&p=indian_pricing&g=1

[2022-01-18 20:48] mcharg opened #1499 "Page: Indian References"
https://dev-onrr-frontend.app.cloud.gov/indian/indian-references
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/35
https://qmcq5k.axshare.com/#id=xj5291&p=indian_references&g=1

[2022-01-18 20:50] mcharg opened #1500 "Tab: Indian References > Training"
https://dev-onrr-frontend.app.cloud.gov/indian/indian-references
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/35
https://qmcq5k.axshare.com/#id=xj5291&p=indian_references&g=1

[2022-01-18 20:51] mcharg opened #1501 "Tab: Indian References > References"
https://dev-onrr-frontend.app.cloud.gov/indian/indian-references
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/35
https://qmcq5k.axshare.com/#id=xj5291&p=indian_references&g=1

[2022-01-18 20:52] mcharg opened #1502 "Tab: Indian References > Regulations"
https://dev-onrr-frontend.app.cloud.gov/indian/indian-references
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/35
https://qmcq5k.axshare.com/#id=xj5291&p=indian_references&g=1

[2022-01-18 20:55] Maroyafaied commented on #1474
A few other names are
Chris Mentasti
Aaron Lindquist
Candace Merrell
@mcharg can you check from the 508 participant list if there are any document updaters we interviewed that need to be included.

[2022-01-18 20:56] mcharg commented on #1474
@Maroyafaied I'll take a look tomorrow and also see if I can recover the spreadsheet to a point where the column wasn't blank.

[2022-01-18 20:57] mcharg opened #1503 "Page: Tribal Lockbox Payments"
https://dev-onrr-frontend.app.cloud.gov/indian/lockbox-payments
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/36
https://qmcq5k.axshare.com/#id=khr15i&p=indian_payments&g=1

[2022-01-18 20:59] mcharg commented on #1457
@daniel-coleman-1 The Tribal Lockbox Payments tab has the same content as the page in #1503.  Once you build the content for that tab, I can show you how to reuse it on the other page.

[2022-01-18 21:08] #1313 closed

[2022-01-18 21:11] Maroyafaied commented on #1369
@daniel-coleman-1 here is the files where the nymex files were updated from 2011 to prior .https://doimspp.sharepoint.com/:f:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Collections/NYMEX?csf=1&web=1&e=YMIaDl

[2022-01-18 21:34] daniel-coleman-1 commented on #1369
@Maroyafaied this page is ready for your review:
http://2017onrr/valuation/NYMEX.htm

With your approval I will push changes to the live site.

[2022-01-18 21:41] mcharg opened #1504 "Page: Organization & Leadership"
https://dev-onrr-frontend.app.cloud.gov/about/organization
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/18
https://qmcq5k.axshare.com/#id=6dbkxg&p=organization___leadership

[2022-01-18 21:44] mcharg opened #1505 "Page: Engagement"

[2022-01-18 21:44] mcharg commented on #1505
https://dev-onrr-frontend.app.cloud.gov/about/engagement
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/29
https://qmcq5k.axshare.com/#id=ocslh8&p=engagement

[2022-01-18 21:45] mcharg commented on #1505
This issue is just for adding the tabs.

[2022-01-18 21:45] mcharg commented on #1505
@cthomasONRR The tabs are ready to review.

[2022-01-18 21:47] mcharg opened #1506 "Page: Indian Oil Valuation Negotiated Rulemaking Committee"
https://dev-onrr-frontend.app.cloud.gov/about/engagement/ionr
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/64
https://qmcq5k.axshare.com/#id=yus88b&p=ionr&g=1

[2022-01-18 21:47] mcharg commented on #1506
This page is built, but we can't view it in dev currently.

[2022-01-18 21:50] mcharg opened #1507 "Tab: Engagement > Presentations"
https://dev-onrr-frontend.app.cloud.gov/about/engagement?tab=presentations
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/29
https://qmcq5k.axshare.com/#id=ocslh8&p=engagement&g=1

[2022-01-18 21:50] cthomasONRR commented on #1505
@mcharg I reviewed the tabs and it looks good. Added my reviewer info to the tracking sheet.

[2022-01-18 21:50] mcharg commented on #1507
Need to confirm with @mentastc whether we will have presentations to put on the site.

[2022-01-18 21:52] mcharg opened #1508 "Tab: Engagement > Testimony"
https://dev-onrr-frontend.app.cloud.gov/about/engagement?tab=testimony
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/29
https://qmcq5k.axshare.com/#id=ocslh8&p=engagement&g=1

[2022-01-18 21:53] mcharg opened #1509 "Page: Interagency Coordination"
https://dev-onrr-frontend.app.cloud.gov/about/interagency
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/30
https://qmcq5k.axshare.com/#id=206gu4&p=interagency_coordination&g=1

[2022-01-18 21:54] mcharg commented on #1509
Includes all tab content.

[2022-01-18 21:56] mcharg opened #1510 "Page: Anti-Harassment Program"
https://dev-onrr-frontend.app.cloud.gov/about/anti-harassment
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/32
https://qmcq5k.axshare.com/#id=l88jo0&p=anti-harassment_program&g=1

[2022-01-18 21:58] mcharg opened #1511 "Page: Contact Us"
https://dev-onrr-frontend.app.cloud.gov/about/contact
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/16
https://qmcq5k.axshare.com/#id=079wgt&p=contact_us&g=1

[2022-01-18 21:58] Maroyafaied commented on #1369
@daniel-coleman-1 I only checked a couple of files, they look fine. You can push live.

[2022-01-18 21:58] mcharg opened #1512 "Add ability to main search from the contacts us page"

[2022-01-18 21:59] mcharg opened #1513 "Page: Contacts > Getting Started"
https://qmcq5k.axshare.com/#id=2rx8r1&p=getting_started_1&g=1

[2022-01-18 22:00] mcharg commented on #1513
Add page and tabs in CMS.

[2022-01-18 22:01] mcharg opened #1514 "Create issues for adding pages and tabs in CMS"

[2022-01-18 22:02] mcharg commented on #1514
Still have to finish contact section and header and footer links.

[2022-01-18 22:56] jlouis-onrr opened #1515 "Update Vue Router to get all top level and child levels dynamically from api"

[2022-01-18 23:30] daniel-coleman-1 commented on #1369
We are live:
https://onrr.gov/valuation/NYMEX.htm

[2022-01-18 23:30] #1369 closed

[2022-01-18 23:32] Maroyafaied commented on #1459
@mojobnichols all the files have been upload to this folder by @daniel-coleman-1 \\Isehrnpubstg01\onrr2017\valuation\ExcelFiles

[2022-01-19 13:16] Maroyafaied commented on #1474
@mcharg @cthomasONRR I got in the spreadsheet and the column was still there in one of the tabs. Here's the list I gave Nichelle, if you think of anyone else I can email their name.

 Employees updating documents: Christina Mathers, Jodie Peterson, Antoinette Urisote, Carrie Garcia, Carrie Anderson, Lori Yokomizo, Shannon Hahn, Yvette Smith, Andrea Scharton, Evelyn Shropshire, Bill Blackburn, Luis

[2022-01-19 13:43] mcharg commented on #1474
Additional people copied on the RRM email when they finished the first time.

Jon Swedin, Lisa Reimer, Jill Heinen, John Erle

Do we also want to include our cross-trainers who helped?

Looks like you got the participants from the 508 interviews.

Additional participants from the content process interviews who update documents:
Damion Schulte, Hannah Bade, Janice Lopez, Sandra Allen, Amanda Garris

[2022-01-19 13:54] mcharg commented on #1474
There's also a tab with content updaters in the market map. https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/User%20Research/ONRR.gov%20market%20map.xlsx?d=wc989d84457f740908c35de6f819f178e&csf=1&web=1&e=dYVKBu

Names that I don't think are listed above (a lot of these update the contacts lists or pricing): Jessica Penvose, Cory Forgrave, Jessica Sheets, Sean Boi

[2022-01-19 14:16] Maroyafaied commented on #1474
@mcharg dod all those people specifically worked on the 508 project for onrr.gov? I know some supervisors didn't remediate documents but were included in emails like John Swedin, Karl W, Heidi B, Michael Marchetti and Matti Collins. And yes we should include the cross trainers.

[2022-01-19 14:17] mcharg opened #1516 "Tab: Getting Started Troubleshooting"
https://qmcq5k.axshare.com/#id=2rx8r1&p=getting_started_1&g=1

[2022-01-19 14:20] mcharg commented on #1474
I'm not sure.   I know Kim Werner, Amanda Garrison, Lisa Reimer, Jill Heinen, Janice Lopez, Cheri Baker, Jessica Sheets, Christine Madigan for sure.

[2022-01-19 14:22] mcharg opened #1517 "Tab: Getting Started Contacts"
https://qmcq5k.axshare.com/#id=2rx8r1&p=getting_started_1&g=1

[2022-01-19 14:25] #1474 closed

[2022-01-19 14:25] mcharg opened #1518 "Page: System Access Contacts"
https://qmcq5k.axshare.com/#id=j6ouxf&p=system_access_1&g=1

Add page and tabs.

[2022-01-19 14:27] mcharg opened #1519 "Page: Lease & Agreement Contacts"
https://qmcq5k.axshare.com/#id=q4kw41&p=leases___agreements&g=1

Add page and tabs.

[2022-01-19 14:27] mcharg opened #1520 "Tab: Lease & Agreement Contacts > Troubleshooting"
https://qmcq5k.axshare.com/#id=q4kw41&p=leases___agreements&g=1

[2022-01-19 14:28] mcharg opened #1521 "Tab: Lease & Agreement Contacts > Contacts"
https://qmcq5k.axshare.com/#id=q4kw41&p=leases___agreements&g=1

[2022-01-19 14:31] mcharg opened #1522 "Page: Oil & Gas Production Contacts"
https://qmcq5k.axshare.com/#id=bhj7vh&p=oil___gas_production_1&g=1

Add page and tabs.

[2022-01-19 14:33] mcharg opened #1523 "Page: Oil & Gas Royalty Contacts"
https://qmcq5k.axshare.com/#id=its4or&p=oil___gas_royalty&g=1

Add page and tabs.

[2022-01-19 14:35] mcharg opened #1524 "Page: Oil & Gas Rent"
https://qmcq5k.axshare.com/#id=ekmgn0&p=oil___gas_rent&g=1

Add page and tabs.

[2022-01-19 14:35] mcharg opened #1525 "Tab: Oil & Gas Rent Contacts > Troubleshooting"
https://qmcq5k.axshare.com/#id=ekmgn0&p=oil___gas_rent&g=1

[2022-01-19 14:36] mcharg opened #1526 "Tab: Oil & Gas Rent Contacts > Contacts"
https://qmcq5k.axshare.com/#id=ekmgn0&p=oil___gas_rent&g=1

[2022-01-19 14:38] mcharg opened #1527 "Page: Solid Minerals Contacts"
https://qmcq5k.axshare.com/#id=5f8bk2&p=solid_minerals_1&g=1

Add page and tabs.

[2022-01-19 14:40] mcharg opened #1528 "Page: Geothermal Contacts"
https://qmcq5k.axshare.com/#id=b5lzlu&p=geothermal_1&g=1

Add page and tabs.

[2022-01-19 14:40] mcharg opened #1529 "Page: Paying Contacts"
https://qmcq5k.axshare.com/#id=rmsbze&p=payments&g=1

Add page and tabs.

[2022-01-19 14:41] mcharg opened #1530 "Tab: Paying Contacts > Troubleshooting"
https://qmcq5k.axshare.com/#id=rmsbze&p=payments&g=1

[2022-01-19 14:41] mcharg opened #1531 "Tab: Paying Contacts > Contacts"
https://qmcq5k.axshare.com/#id=rmsbze&p=payments&g=1

[2022-01-19 14:48] mcharg opened #1532 "Page: Updating Contact Info Contacts"
https://qmcq5k.axshare.com/#id=yo51a5&p=4444&g=1

Add page and tabs.

[2022-01-19 14:49] mcharg opened #1533 "Tab: Updating Contact Info > Troubleshooting"
https://qmcq5k.axshare.com/#id=yo51a5&p=4444&g=1

[2022-01-19 14:50] mcharg opened #1534 "Tab: Updating Contact Info > Contacts"
https://qmcq5k.axshare.com/#id=yo51a5&p=4444&g=1

[2022-01-19 14:52] mcharg opened #1535 "Page: Valuation & Pricing Contacts"
https://dev-onrr-frontend.app.cloud.gov/about/contact/valuation-contacts
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/80
https://qmcq5k.axshare.com/#id=6wj92e&p=valuation___pricing_1&g=1

[2022-01-19 14:53] mcharg commented on #1535
We should add the page this sprint and then move it back to the backlog until the collection is ready.

[2022-01-19 14:56] mcharg opened #1536 "Page: Compliance & Enforcement Contacts"
https://dev-onrr-frontend.app.cloud.gov/about/contact/compliance-contacts
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/81
https://qmcq5k.axshare.com/#id=v9d2mh&p=compliance___enforcement_1&g=1

[2022-01-19 14:56] mcharg commented on #1536
Create page this sprint and then move to product backlog to finish when the collection is ready.

[2022-01-19 14:58] mcharg opened #1537 "Page: Indian Services Contacts"
https://qmcq5k.axshare.com/#id=n3ym4g&p=indian_services&g=1

[2022-01-19 14:58] mcharg commented on #1537
Add page as part of this issue.  Content will be added in another issue.

[2022-01-19 14:59] mcharg opened #1538 "Page: Contacts by Company"
https://qmcq5k.axshare.com/#id=8co3v5&p=company&g=1

[2022-01-19 15:00] mcharg commented on #1538
Add page in this sprint and move to product backlog to be updated when the collection is ready.

[2022-01-19 15:01] mcharg opened #1539 "Page: Information Requests contacts"
https://qmcq5k.axshare.com/#id=ax7rui&p=information_requests&g=1

[2022-01-19 15:04] mcharg opened #1540 "Page: Events"
https://ulfcy9.axshare.com/

[2022-01-19 15:04] mcharg commented on #1540
This page was in the CMS, but is no longer there.

[2022-01-19 15:05] mcharg opened #1541 "Page: Glossary"
https://qmcq5k.axshare.com/#id=r7lprg&p=glossary&g=1

[2022-01-19 15:06] mcharg commented on #1541
This page was in the CMS, but is no longer there.

[2022-01-19 15:09] mcharg commented on #1376
@jlouis-onrr There are also pages not linked from the primary nav that have disappeared.  We had pages for the valuation examples (I don't have the ID numbers for these because I created new pages and updated the spreadsheet), events (59), glossary (60), and sitemap (61) that are all missing.

[2022-01-19 15:10] mcharg opened #1542 "Page: Sitemap"
https://qmcq5k.axshare.com/#id=d6wgq0&p=sitemap&g=1

[2022-01-19 15:11] mcharg opened #1543 "Page: Disclaimer"
https://dev-onrr-frontend.app.cloud.gov/disclaimer
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/15
https://qmcq5k.axshare.com/#id=bp2rns&p=disclaimer&g=1

[2022-01-19 15:16] #1514 closed

[2022-01-19 15:17] #1505 closed

[2022-01-19 15:28] #1470 closed

[2022-01-19 15:28] #1486 closed

[2022-01-19 15:29] #1442 closed

[2022-01-19 15:29] #1441 closed

[2022-01-19 15:29] #1217 closed

[2022-01-19 15:30] #1433 closed

[2022-01-19 16:03] mcharg opened #1544 "Tab: Payment Options > Pay.gov"
https://dev-onrr-frontend.app.cloud.gov/paying/payment-options
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/21
https://qmcq5k.axshare.com/#id=373ruk&p=payment_options&g=1

[2022-01-19 16:05] mcharg opened #1545 "Tab: Payment Options > ACH"
https://dev-onrr-frontend.app.cloud.gov/paying/payment-options
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/21
https://qmcq5k.axshare.com/#id=373ruk&p=payment_options&g=1

[2022-01-19 16:07] mcharg commented on #1456
@Maroyafaied The tabs will need to be created on the Payment Options before you'll be able to link to them.  @daniel-coleman-1 Let Maroya know when the tabs are created.

[2022-01-19 16:08] mcharg opened #1546 "Tab: Payment Options > Fedwire"
https://dev-onrr-frontend.app.cloud.gov/paying/payment-options
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/21
https://qmcq5k.axshare.com/#id=373ruk&p=payment_options&g=1

[2022-01-19 16:09] mcharg opened #1547 "Tab: Payment Options > Rent Payments"
https://dev-onrr-frontend.app.cloud.gov/paying/payment-options
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/21
https://qmcq5k.axshare.com/#id=373ruk&p=payment_options&g=1

[2022-01-19 16:11] mcharg opened #1548 "Tab: Payment Options > Check Payments"
https://dev-onrr-frontend.app.cloud.gov/paying/payment-options
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/21
https://qmcq5k.axshare.com/#id=373ruk&p=payment_options&g=1

[2022-01-19 16:13] mcharg commented on #1457
@daniel-coleman-1 I created a separate issue for each tab to be consistent with what I did for other pages.  This issue is just to create the tabs.

[2022-01-19 16:17] mcharg commented on #1402
@cthomasONRR Tabs are ready to review. https://dev-onrr-frontend.app.cloud.gov/reporting/revenue

[2022-01-19 16:20] cthomasONRR commented on #1402
@mcharg The tabs look good. I signed off in the Content Tracking sheet.

[2022-01-19 16:23] #1402 closed

[2022-01-19 16:29] mcharg commented on #1409
@cthomasONRR Tabs are ready to review

[2022-01-19 16:29] mcharg commented on #1462
@cthomasONRR Tabs are ready to review.

[2022-01-19 16:43] cthomasONRR commented on #1416
@mcharg Tabs look good

[2022-01-19 16:44] cthomasONRR commented on #1409
@mcharg Tabs look good

[2022-01-19 16:44] cthomasONRR commented on #1462
@mcharg Tabs look good

[2022-01-19 16:54] #1462 closed

[2022-01-19 16:55] #1409 closed

[2022-01-19 17:04] mcharg commented on #1437
@cthomasONRR Tabs are ready to review. https://dev-onrr-frontend.app.cloud.gov/references/reference-lists

[2022-01-19 17:07] cthomasONRR commented on #1437
@mcharg Tabs look good

[2022-01-19 17:11] mcharg commented on #1472
@cthomasONRR Tabs are ready to review.

[2022-01-19 17:12] #1437 closed

[2022-01-19 17:13] cthomasONRR commented on #1472
@mcharg Tabs look good

[2022-01-19 17:20] #1389 closed

[2022-01-19 17:20] #1472 closed

[2022-01-19 17:37] mcharg commented on #1404
Added content to both pages.  Blocked by being able to link to docs.
https://dev-onrr-frontend.app.cloud.gov/reporting/revenue?tab=forms
https://dev-onrr-frontend.app.cloud.gov/references/forms?tab=oil-gas-revenue-reporting

[2022-01-19 18:14] Maroyafaied commented on #1306
@jlouis-onrr updated the cms with the excel sheet and ready to review in dev.

[2022-01-19 18:29] jlouis-onrr opened #1549 "Events"
New content ready for review: https://dev-onrr-cms.app.cloud.gov/admin/content/pages/65

[2022-01-19 18:34] mcharg commented on #1506
@cthomasONRR This whole page is ready to review.

[2022-01-19 18:38] cthomasONRR commented on #1506
@mcharg Checked all content and links. Everything looks good.

[2022-01-19 18:42] mcharg commented on #1297
@cthomasONRR Committees tab is ready to review. https://dev-onrr-frontend.app.cloud.gov/about/engagement

[2022-01-19 18:47] cthomasONRR commented on #1297
@mcharg All content matches and links work.

[2022-01-19 18:49] jlouis-onrr opened #1550 "Glossary"
New content ready for review: https://dev-onrr-cms.app.cloud.gov/admin/content/pages/60

[2022-01-19 18:49] jlouis-onrr opened #1551 "Sitemap"
New content ready for review: https://dev-onrr-cms.app.cloud.gov/admin/content/pages/61

[2022-01-19 18:50] #1297 closed

[2022-01-19 18:55] daniel-coleman-1 commented on #1306
@Maroyafaied I've reviewed in dev, looks good with no incorrect symbols.

[2022-01-19 20:30] Maroyafaied commented on #1306
@daniel-coleman-1 it seems like there were a few missed in the spreadsheet.
![image](https://user-images.githubusercontent.com/40175688/150200267-18bbe8e4-912e-44d2-aeb4-8972354b9c9d.png)
![image](https://user-images.githubusercontent.com/40175688/150200318-ccbcf6d4-07b6-4fc4-aae9-9b1680093e97.png)
![image](https://user-images.githubusercontent.com/40175688/150200430-3301a3e2-0f5f-4b73-8caa-b3b4b3

[2022-01-19 22:35] Maroyafaied commented on #1310
@mcharg Let's eliminate slides 5-11 ( I wrote a detailed comment on the ppt). I set up a meeting for us tomorrow to discuss in detail.
1. Add 1-2 slide summarizing what was done in each design studio session
2. Followed by the problem statement (slide 4)
3. Add slide summarized data we currently have for renewables
4. Followed by slide showing sketches (slides 12-13)
5. Add slide with links to pro

[2022-01-20 16:18] daniel-coleman-1 commented on #1306
Thanks for catching, @Maroyafaied
@jlouis-onrr I corrected all the titles in the CMS but don't have access to the workbook, getting this error message:
![Screenshot 2022-01-20 091337](https://user-images.githubusercontent.com/83892362/150378376-6202a536-3110-4c4a-85e1-224dd8a01d46.png)
Is this worth updating via the excel sheet, or do you think we're good with the corrections being entered into Di

[2022-01-20 19:53] mcharg commented on #1374
Fixed and working well.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/f77adaa2-b36a-4a52-9ec3-516299bf9279)

[2022-01-20 19:53] #1374 closed

[2022-01-20 19:57] mcharg commented on #1411
Added cards in both places.  Blocked by not being able to add documents.
https://dev-onrr-frontend.app.cloud.gov/references/forms?tab=solid-minerals-reporting
https://dev-onrr-frontend.app.cloud.gov/reporting/solids?tab=forms

[2022-01-20 20:02] mcharg commented on #1418
Added cards in both places reusing content from revenue tab. Blocked by not being able to add documents.
https://dev-onrr-frontend.app.cloud.gov/reporting/geothermal?tab=forms
https://dev-onrr-frontend.app.cloud.gov/references/forms?tab=geothermal-reporting

[2022-01-20 20:06] mcharg commented on #1403
@cthomasONRR File Reports tab is ready to review.
https://dev-onrr-frontend.app.cloud.gov/reporting/revenue?tab=file-reports

[2022-01-20 20:07] mcharg commented on #1396
@cthomasONRR File Reports tab is ready to review.
https://dev-onrr-frontend.app.cloud.gov/reporting/production

[2022-01-20 20:12] cthomasONRR commented on #1396
@mcharg All content looks good.

[2022-01-20 20:12] cthomasONRR commented on #1403
@mcharg All content looks good.

[2022-01-20 20:12] mcharg commented on #1410
@cthomasONRR File Reports tab is ready to review.
https://dev-onrr-frontend.app.cloud.gov/reporting/solids?tab=file-reports

[2022-01-20 20:16] cthomasONRR commented on #1410
@mcharg All content looks good.

[2022-01-20 20:20] mcharg commented on #1417
Blocked by not being able to add alt text and not having handbook pages yet.
https://dev-onrr-frontend.app.cloud.gov/reporting/geothermal?tab=file-reports

[2022-01-20 20:22] #1396 closed

[2022-01-20 20:23] #1403 closed

[2022-01-20 20:23] #1410 closed

[2022-01-20 20:34] mcharg opened #1552 "Make search icon white"
To increase contrast.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/ac493323-1121-493a-a58c-bb7749da8174)

[2022-01-20 21:45] mcharg opened #1553 "Add option for card to have no block color"
You can have no color before selecting a color, but once you select a color, there's no way to get back to no color.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/d223a7d0-ff4f-4850-aebd-e6ef39913b50)

[2022-01-20 21:48] mcharg commented on #1434
Added content.  Blocked by not being able to add documents.
https://dev-onrr-frontend.app.cloud.gov/references/forms

[2022-01-21 13:59] mcharg commented on #1337
@cthomasONRR The content is ready to review for the accordion and the sub tab labels.  The headers are using a heading style that needs to be updated as part of the issue @jlouis-onrr has for that and there's an issue to have the accordion open by default.  But the content is good to review.

Can you pay attention to capitalization?  @daniel-coleman-1 said anything less than an H1 should be senten

[2022-01-21 14:11] mcharg opened #1554 "Add ability to link to a page with a specific expansion panel open"
This will be important for the troubleshooting guide.

[2022-01-21 14:12] mcharg commented on #1533
And for the Next buttons that take you to the next panel in the new reporter checklist.

[2022-01-21 14:14] mcharg commented on #903
We also want to have the first one open on the new reporter checklists.

[2022-01-21 14:19] mcharg opened #1555 "Add ability to indicate what heading level expansion block titles read as"
For instance, on this page I want them to be H3, but probably different on other pages.
https://dev-onrr-frontend.app.cloud.gov/reporting/production?tab=new-reporter-checklist

[2022-01-21 14:45] mcharg commented on #1399
Got the panels all created.  Blocked by not being able to link to documents.
https://dev-onrr-frontend.app.cloud.gov/reporting/production?tab=new-reporter-checklist

[2022-01-21 15:01] mcharg commented on #1406
Added all the panels.  Blocked by not being able to link to documents.
https://dev-onrr-frontend.app.cloud.gov/reporting/revenue?tab=new-reporter-checklist

[2022-01-21 15:01] mcharg commented on #1220
Working well!

[2022-01-21 15:01] #1220 closed

[2022-01-21 15:07] mcharg commented on #1420
Exact same content as Revenue, so was able to just reuse the entire expansion panel block.
https://dev-onrr-frontend.app.cloud.gov/reporting/geothermal?tab=new-reporter-checklist

[2022-01-21 15:39] mcharg commented on #1413
Panels added.  Blocked by not being able to link to documents.
https://dev-onrr-frontend.app.cloud.gov/reporting/solids?tab=new-reporter-checklist

[2022-01-21 16:06] mcharg commented on #1388
Added panels.  Blocked by not being able to link to documents or having logic.
https://dev-onrr-frontend.app.cloud.gov/getting-started/new-reporter-checklist

[2022-01-21 16:24] mcharg commented on #901
Here's a player one of the other DOI agencies is using. https://www.accessibilityoz.com/

[2022-01-21 16:25] mcharg commented on #901
NPS is using Video JS.

[2022-01-21 16:27] mcharg commented on #901
They're looking for something more accessible than YouTube DOI-wide.

[2022-01-21 17:37] mcharg commented on #1522
@cthomasONRR The tabs are ready to review.

[2022-01-21 20:03] mcharg commented on #1452
@daniel-coleman-1 I created the tabs because I needed to be able to link to the schedule from the troubleshooting guide.  Please review.
https://dev-onrr-frontend.app.cloud.gov/references/training

[2022-01-21 20:16] mcharg commented on #1518
@cthomasONRR Tabs are ready to review.
https://dev-onrr-frontend.app.cloud.gov/about/contact/system-access-contacts

[2022-01-21 20:50] mcharg commented on #1400
Added panels.  Blocked by not being able to link to docs.
https://dev-onrr-frontend.app.cloud.gov/reporting/production?tab=troubleshooting

[2022-01-21 21:33] mcharg opened #1556 "Design contact card search results"

[2022-01-21 21:34] mcharg opened #1557 "Design contacts by company page with cards"

[2022-01-21 21:39] jlouis-onrr opened #1558 "Page Builder Example"
New content ready for review: https://dev-onrr-cms.app.cloud.gov/admin/content/pages/58

[2022-01-21 21:43] mcharg commented on #1182
This is done for everything except the search results and contacts by company pages.  I created #1556 and #1557 for those.
https://qmcq5k.axshare.com/#id=079wgt&p=contact_us

[2022-01-21 21:43] #1182 closed

[2022-01-24 17:26] mcharg commented on #1375
@jlouis-onrr Here's a case where we don't want the card to be taller than the content.
https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/cooperative?tab=ipa-fellowship-program

[2022-01-24 17:30] lpgoldstein commented on #1484
get mail to link to work

[2022-01-24 18:25] mcharg opened #1559 "Make it easier to have content in a right rail"
One potential solution is to make it so that cards without cards next to them size to the content inside the card instead of the content next to it.  To prevent things like this: https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/cooperative?tab=ipa-fellowship-program

[2022-01-24 19:19] mcharg commented on #1559
We have a workaround where we can split the content not in the block from the content next to the block.  Will open a new issue if we discover places where the workaround doesn't work.

[2022-01-24 19:24] mcharg commented on #1375
Looks good.

[2022-01-24 19:24] #1375 closed

[2022-01-24 20:48] mcharg commented on #903
This is fixed.

[2022-01-24 20:48] #903 closed

[2022-01-24 20:55] mcharg commented on #1237
@jlouis-onrr This is working well.  I applied it to the Report Electronically component and the office locations page.

[2022-01-24 20:55] #1237 closed

[2022-01-24 21:31] Maroyafaied commented on #1384
@mcharg Please review, I've added all the links except for the 4444 pdf. For NYMEX oil prices, I linked to the page and removed the "(xls)" for now.  For the Dear Reporter letter link under Announcements, I used the dev site link .. not sure how to link from a collection?  https://dev-onrr-frontend.app.cloud.gov/?tab=pricing

[2022-01-24 21:44] mcharg commented on #1384
@Maroyafaied I changed the link for NYMEX to https://dev-onrr-frontend.app.cloud.gov/references/valuation?tab=nymex-oil-prices since it won't be the first tab on pricing when we move it to it's final location.  It doesn't work right now because it's a sub-tab, so I added that issue as a dependency.

[2022-01-24 21:46] #1306 closed

[2022-01-24 21:51] mcharg commented on #1384
@Maroyafaied I also updated the link in the first announcement to go to the Indian Outreach tab instead of Assistance.  All the other links work.

[2022-01-25 13:57] mcharg commented on #1468
@lpgoldstein This one looks good and can be closed, since it was just adding tabs.

[2022-01-25 13:57] #1468 closed

[2022-01-25 14:00] mcharg commented on #1482
@lpgoldstein Looks good and has no blockers, so closing.

[2022-01-25 14:00] #1483 closed

[2022-01-25 14:00] mcharg commented on #1483
@lpgoldstein Looks good and has no blockers, so closing.

[2022-01-25 14:03] mcharg commented on #1485
@lpgoldstein Moving to backlog, since we don't have the contacts collection.

[2022-01-25 14:04] cthomasONRR commented on #1518
@mcharg Tabs look good

[2022-01-25 14:08] cthomasONRR commented on #1522
@mcharg I can't find the right dev site location here... went to 'about ONRR' then 'contact us' like in the wireframe but don't see any O&G in that location in the dev site.

[2022-01-25 14:09] mcharg commented on #1435
@lpgoldstein Looks good.  I split off the title from the content, since the two locations have different tab titles.

Moving to backlog until we can link to documents.

[2022-01-25 14:10] mcharg commented on #1467
@lpgoldstein Looks good.  Closing, since this one is just for adding tabs.

[2022-01-25 14:10] #1467 closed

[2022-01-25 14:14] mcharg commented on #1479
@lpgoldstein Looks good and no blockers.

[2022-01-25 14:14] #1479 closed

[2022-01-25 14:16] mcharg commented on #1480
@lpgoldstein Looks good.  I added the missing link.

[2022-01-25 14:16] #1480 closed

[2022-01-25 14:17] cthomasONRR commented on #1337
@mcharg The subtabs look good. The capitalization within the accordion content is correct, based on my understanding. My one question - did unbundling ask you not to use the section symbol after 30 CFR? I know there was discussion about the use of it, but I'm so far removed from those conversations now that I don't think we were informed of the decision.

[2022-01-25 14:18] mcharg commented on #1456
@daniel-coleman-1 Can you please making adding tabs to the Payment Options page a high priority, so we can get this page finished?  Let me know if you need help.

[2022-01-25 14:19] mcharg commented on #1456
Added @lpgoldstein and upped the estimate because all the tables she added were a lot of work.

[2022-01-25 14:21] mcharg commented on #1458
@lpgoldstein Do you want to take this one back?  We only assigned it to @daniel-coleman-1 because we thought he would get to it before you were back in the office.

[2022-01-25 14:23] mcharg commented on #1458
Actually, I'm going to split up the tabs into separate issues like I did for other pages.

[2022-01-25 14:24] mcharg commented on #1458
This one is just for creating the tabs, which looks good, so closing.

[2022-01-25 14:24] #1458 closed

[2022-01-25 14:25] mcharg opened #1560 "Tab: Late Payment Interest > Overview"
https://dev-onrr-frontend.app.cloud.gov/paying/interest?tab=overview
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/38
https://qmcq5k.axshare.com/#id=qw8sdk&p=late_payment_interest

[2022-01-25 14:31] mcharg commented on #1560
@lpgoldstein I put the contact in a card.  Take a look and see if you like it before closing.

[2022-01-25 14:32] mcharg opened #1561 "Tab: Late Payment Interest > Rates"
https://dev-onrr-frontend.app.cloud.gov/paying/interest?tab=rates
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/38
https://qmcq5k.axshare.com/#id=qw8sdk&p=late_payment_interest

[2022-01-25 14:33] mcharg commented on #1561
Blocked by not having the interest rates collection.

[2022-01-25 14:34] mcharg opened #1562 "Tab: Late Payment Interest > Interest Calculator"
https://dev-onrr-frontend.app.cloud.gov/paying/interest?tab=interest-calculator
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/38
https://qmcq5k.axshare.com/#id=qw8sdk&p=late_payment_interest

[2022-01-25 14:35] mcharg commented on #1562
@lpgoldstein We need to copy the content from the Sample Calculation pop-up on this page.
https://www.onrr.gov/reportpay/interest.htm

[2022-01-25 14:38] #1518 closed

[2022-01-25 14:40] mcharg commented on #1522
@cthomasONRR Here's the link.  I haven't built the main contact page with links yet. https://dev-onrr-frontend.app.cloud.gov/about/contact/production-contacts

[2022-01-25 14:41] mcharg commented on #1337
@cthomasONRR I don't remember what they said about the section symbol.  I think you made the last set of edits in the wireframes, so I assume they're what they asked for.

[2022-01-25 14:46] cthomasONRR commented on #1522
@mcharg Thanks! Tabs look good

[2022-01-25 14:48] cthomasONRR commented on #1337
@mcharg OK, I think it looks good and will approve. If they want to add section symbols later, that will be an easy fix.

[2022-01-25 14:48] #1522 closed

[2022-01-25 14:52] #1337 closed

[2022-01-25 14:54] mcharg commented on #1439
@cthomasONRR Let me know when you get to this one.  I've created some of the cards for the handbooks as part of the references page, so you'll be able reuse the content.  I'll show you how.

[2022-01-25 15:12] mcharg commented on #1513
@cthomasONRR Tabs are ready to review.
https://dev-onrr-frontend.app.cloud.gov/about/contact/getting-started-contacts

[2022-01-25 15:20] mcharg commented on #1523
@cthomasONRR Tabs are ready to review.
https://dev-onrr-frontend.app.cloud.gov/about/contact/royalty-contacts

[2022-01-25 15:23] cthomasONRR commented on #1519
@mcharg tabs look good

[2022-01-25 15:23] mcharg commented on #1524
@cthomasONRR Tabs are ready to review.
https://dev-onrr-frontend.app.cloud.gov/about/contact/rent-contacts

[2022-01-25 15:23] cthomasONRR commented on #1513
@mcharg tabs look good

[2022-01-25 15:27] mcharg commented on #1527
@cthomasONRR Tabs are ready to review.
https://dev-onrr-frontend.app.cloud.gov/about/contact/solids-contacts

[2022-01-25 15:34] mcharg commented on #1461
@cthomasONRR Tabs are ready to review.
https://dev-onrr-frontend.app.cloud.gov/paying/contacts-paying

[2022-01-25 15:38] mcharg commented on #1529
@cthomasONRR Tabs are ready to review.
https://dev-onrr-frontend.app.cloud.gov/about/contact/paying-contacts

[2022-01-25 15:51] mcharg commented on #1532
@cthomasONRR Tabs are ready to review.
https://dev-onrr-frontend.app.cloud.gov/about/contact/4444-contacts

[2022-01-25 16:00] cthomasONRR opened #1563 "Review and approve CMS pages"
GitHub issues to review and approve:

- [x] 1389
- [x] 1217
- [x] 1396
- [x] 1402
- [x] 1403
- [x] 1409
- [x] 1410
- [x] 1416
- [x] 1228
- [x] 1433
- [x] 1437
- [x] 1441
- [x] 1337
- [x] 1442
- [x] 1462
- [x] 1470
- [x] 1486
- [x] 1472
- [x] 1505
- [x] 1297
- [x] 1506
- [x] 1513
- [x] 1518
- [x] 1519
- [x] 1522
- [x] 1523
- [x] 1524
- [x] 1527
- [x] 1528
- [x] 1461
- [x] 1529
- [x] 1532
- [x] 1537

[2022-01-25 16:05] cthomasONRR commented on #1523
@mcharg Tabs look good

[2022-01-25 16:06] cthomasONRR commented on #1524
@mcharg tabs look good

[2022-01-25 16:08] cthomasONRR commented on #1528
@mcharg tabs look good

[2022-01-25 16:09] cthomasONRR commented on #1461
@mcharg tabs look good

[2022-01-25 16:12] cthomasONRR commented on #1529
@mcharg Tabs look good

[2022-01-25 16:14] cthomasONRR commented on #1532
@mcharg tabs look good

[2022-01-25 16:17] daniel-coleman-1 commented on #1456
@mcharg got the tabs in:
https://dev-onrr-frontend.app.cloud.gov/paying/payment-options?tab=paygov

[2022-01-25 16:29] mcharg commented on #1499
@lpgoldstein I added the tabs to the page, so I could add in the intro content for the contact page I built for another page.
https://dev-onrr-frontend.app.cloud.gov/indian/indian-references

[2022-01-25 16:29] mcharg commented on #1499
@cthomasONRR Tabs are ready to review.
https://dev-onrr-frontend.app.cloud.gov/indian/indian-references

[2022-01-25 16:31] mcharg commented on #1495
Started the intro content.
https://dev-onrr-frontend.app.cloud.gov/indian/assistance
https://dev-onrr-frontend.app.cloud.gov/indian/indian-references?tab=contacts
https://dev-onrr-frontend.app.cloud.gov/about/contact/indian-contacts

[2022-01-25 16:33] mcharg commented on #1456
@daniel-coleman-1 Awesome!  Thank you!

[2022-01-25 16:34] cthomasONRR commented on #1537
@mcharg intro content and tabs look good

[2022-01-25 16:35] mcharg commented on #1457
@daniel-coleman-1 The tabs look good.  I'll show you how to update the tracking spreadsheet in our meeting this afternoon.  Once the spreadsheet is updated, this issue is good to close.