[2021-09-13 15:38] cvojslavek commented on #929
Hi @lpgoldstein @mcharg Should I change anything on this email and meeting invite to Bruce? I'm planning to use the FindTime add-in to find the best time that works with Bruce's schedule and then I can add additional interns and team members as attendees. Would you prefer that I add everyone to vote on the time?
![image.png](https://images.zenhubusercontent.com/612e37e94df0eb7eee8b9988/91ac1890-eb

[2021-09-13 15:44] sghahn commented on #841
Good morning @mcharg @cthomasONRR

11 files:
- [ ] [880316b.pdf](https://github.com/ONRR/onrr.gov-site/files/7155547/880316b.pdf)
- [ ] [891127.pdf](https://github.com/ONRR/onrr.gov-site/files/7155548/891127.pdf)
- [ ] [911030.pdf](https://github.com/ONRR/onrr.gov-site/files/7155549/911030.pdf)
- [ ] [930115.pdf](https://github.com/ONRR/onrr.gov-site/files/7155550/930115.pdf)
- [ ] [940120.pdf](ht

[2021-09-13 16:35] lpgoldstein opened #1013 "Find and fix broken video links"

[2021-09-13 16:56] daniel-coleman-1 commented on #1013
I can take this one

[2021-09-13 17:22] lpgoldstein commented on #1012
@cvojslavek let me know if you need help with this issue

[2021-09-13 17:58] mcharg commented on #999
I sent Noelle notes from when we had meetings and she's rethinking.

[2021-09-13 18:06] #875 closed

[2021-09-13 18:11] #1010 closed

[2021-09-13 18:21] jkwonatx opened #1018 "Link to a tab/ an accordion item when there are sub tabs."
To allow the user to share a link to a specific item under an accordion or a tab on the same page.

[2021-09-13 18:26] jkwonatx opened #1014 "Add direct link to an accordion or a tab item on the same page"
To allow the user to share a link that would take them directly to an item under an accordion or a tab on a given page.

[2021-09-13 19:49] daniel-coleman-1 commented on #1005
Here is the wireframe file I used:
https://qmcq5k.axshare.com/#id=e1wh3o&p=home_v3

And here is the site map file:
https://92ix0j.axshare.com/#id=6cfibl&p=7_0_about_onrr&g=1

[2021-09-13 19:49] daniel-coleman-1 commented on #1005
Checklist:

- [ ] Sitemap reflects what's in the wireframe.
- [ ] Ensure the correct document or page type is reflected in the coloring or line styles.
- [ ] All coloring and line styles match the key.
- [ ] Numbering is accurate.
- [ ] Numbering that refers to other pages is accurate (check to make sure section numbers for those haven't changed).

[2021-09-13 20:04] Maroyafaied commented on #948
@daniel-coleman-1 I did a quick review on the Indian handbook and left comments, some things were duplicated and a few numbers were wrong. Thanks

![image](https://user-images.githubusercontent.com/40175688/133148829-901333b9-3321-43aa-98f2-9c3b74216c42.png)
![image](https://user-images.githubusercontent.com/40175688/133148969-6100d5c5-a973-4727-b363-3dd9014c02b8.png)

[2021-09-13 20:46] jlouis-onrr commented on #755
adding SEO scrape doc so that we can associate cms ids with old and new urls[https://app.zenhub.com/files/210892300/f301ea37-ea45-4101-8121-6849dce81a5c/download](https://app.zenhub.com/files/210892300/f301ea37-ea45-4101-8121-6849dce81a5c/download)

[2021-09-13 20:47] cvojslavek commented on #1012
@lpgoldstein please, can we add this to our meeting tomorrow at 9?

[2021-09-13 20:56] daniel-coleman-1 commented on #948
@Maroyafaied thanks for catching that, I've resolved those.

[2021-09-13 23:17] daniel-coleman-1 commented on #1013
Broken video links:
About Training Videos on training/index.htm

OGOR
OGOR 03-1: Manually Enter OGOR - Header
OGOR 03-4: Manually Enter OGOR - Part B Example (coming soon) [I think this one is ok for now as it's shown to not be available]

PASR
All content populates

Form 2014
All content populates

Indian Oil Rule
All content populates

[2021-09-13 23:24] daniel-coleman-1 commented on #1013
From our YouTube Channel

About Training Videos:
https://www.youtube.com/watch?v=Qi0RISYbJP4
I'm 80% sure this is the correct video

Manually Enter Header:
https://www.youtube.com/watch?v=J4fVPiR1-QM&t=7s
I'm 95% sure this one is correct for OGOR 03-1

[2021-09-14 12:58] cthomasONRR commented on #841
@sghahn @mcharg
Good morning! These 11 documents are updated in dev and live sites. (Shannon M- our accessibility tracking spreadsheet is also updated.)

[2021-09-14 15:26] cvojslavek commented on #1012
@StaceyKaiser This is ready for your review:
http://2017onrr/reportpay/CrossRef.htm

[2021-09-14 15:49] #948 closed

[2021-09-14 16:38] cvojslavek commented on #929
After talking with my husband, here is an example of a possible informal cold recruiting email to send.
Subject: Requesting your expertise

Hey NAME, if your idea of a fun time at work is providing your opinion, never being wrong, and improving the world I have just the initiative that requires your expertise.

ONRR is making a new website to empower, JOB TITLES, like you to, do X, Y, and Z better

[2021-09-14 18:09] jkwonatx commented on #1014
duplicate issue, closing this one.

[2021-09-14 18:09] #1014 closed

[2021-09-14 18:50] cthomasONRR opened #1015 "CMS - allow list component to host HTML (make links accessible)"
Jerome already completed this task during the synch up discussion :)

This is to replace NRRD #1733, as I incorrectly assigned this to NRRD and not ONRR.gov this first time... sorry!

[2021-09-14 18:51] CaGarcia1 opened #1016 "Form 4295 for 508 Compliance"
[4295.pdf](https://github.com/ONRR/onrr.gov-site/files/7164428/4295.pdf)

[2021-09-14 18:58] cthomasONRR commented on #1016
@CaGarcia1 Thanks! The document passed the 508 accessibility check. I updated the live site (https://www.onrr.gov/reportpay/royalty-reporting.htm), but it can take around 30min for the changes to go live. I will close the issue once the new accessible document is live.

Thanks!
Christine

[2021-09-14 19:16] CaGarcia1 opened #1017 "Form 4109 for 508 Compliance"
[4109.pdf](https://github.com/ONRR/onrr.gov-site/files/7164559/4109.pdf)

[2021-09-14 19:31] cthomasONRR commented on #1016
The updated, 508-compliant PDF is live. Closing this issue.

[2021-09-14 19:31] #1016 closed

[2021-09-14 19:50] cthomasONRR commented on #1017
@CaGarcia1 Thanks! The document passed the 508 accessibility check. I updated the live site (https://www.onrr.gov/reportpay/royalty-reporting.htm), but it can take around 30min for the changes to go live. I will close the issue once the new accessible document is live.

Thanks!
Christine

[2021-09-14 20:02] cthomasONRR commented on #1017
The updated, 508-compliant PDF is live. Closing this issue.

[2021-09-14 20:02] #1017 closed

[2021-09-15 13:19] StaceyKaiser commented on #1012
@cvojslavek the file looks good and can be moved to the live site.  Thank you!

[2021-09-15 15:19] cvojslavek commented on #1012
@StaceyKaiser I just made this update live.

It can take up to 30 min for the live site to update, please use “Ctrl+F5” to refresh. (https://www.onrr.gov/ReportPay/CrossRef.htm)

I will close this issue once I see the changes live.

Thank you!
Cat

[2021-09-15 15:37] #1012 closed

[2021-09-15 16:48] cthomasONRR commented on #999
- Let's make sure that the images are hyperlinks that will bring up the detailed PDF of the maps

- At the end of the oil and gas tabs, let's add links to the handbook for further reading

- If we don't hear back from Noelle, let's contact Cindy Gothberg  and Megan Hessee for their help

- If Noelle wants this 'how to price' tab removed, we will push back with the recent positive feedback from the

[2021-09-15 17:06] cthomasONRR commented on #906
@Baymatt  Shannon, Lindsay, and myself discussed, and we think the best way to start is to just add new terms to the existing NRRD glossary. We will eventually put that on the onrr.gov site, and ideally we will have one glossary once NRRD gets put into the CMS.

[2021-09-15 17:15] cthomasONRR commented on #906
@Baymatt With the existing onrr.gov glossary, these are the only terms we'd like to keep:
- EMARF
- Federal Register
- FIMO

[2021-09-15 18:16] mcharg commented on #1018
@jkwonatx FYI - This issue was in the NRRD repo, so I moved it to the onrr.gov repo.

[2021-09-15 18:35] cvojslavek commented on #970
Spot checked the following documents on the live site:

- 20151125a.pdf
- 20151229.pdf
- 20171130-CO.pdf
- 20160630.pdf

[2021-09-15 19:44] codyeckstein commented on #970
![image.png](https://images.zenhubusercontent.com/612e68b98872341fdb32e3ff/28c3e057-0bff-43eb-9560-34a6dcec46ca)

This two files 20150506 and GOMESA-Press  are not on the issue checklist but I will update.

[2021-09-15 19:48] cthomasONRR commented on #970
@codyeckstein Thanks! Yes, I think Carrie added those in after I had created the checklist. I will add them to the checklist now...

[2021-09-15 19:50] codyeckstein commented on #970
![image.png](https://images.zenhubusercontent.com/612e68b98872341fdb32e3ff/369efba1-f204-4856-a06e-f18d84adabe1)

These are not in the 508 folder

[2021-09-15 19:54] cthomasONRR commented on #970
@codyeckstein Thanks. I'm checking with Shannon to see if those were sent to Carrie and she hasn't gotten to them, or if we need to send these links over to her.

[2021-09-15 19:54] Maroyafaied commented on #1005
@daniel-coleman-1  I commented on section 5 and 6.

[2021-09-15 19:58] codyeckstein commented on #970
spot checked these on the live site:

![image.png](https://images.zenhubusercontent.com/612e68b98872341fdb32e3ff/5f1f4439-81d0-4b9f-bf2f-f9a6e78f687a)

[2021-09-15 19:59] daniel-coleman-1 commented on #1013
The About Training Videos and 03-1 are confirmed on the live site.

I've emailed Bill Blackburn and Richard Tucker with what I believe is the correct 03-4 video, with their confirmation I will upload that one as well.

[2021-09-15 20:00] cthomasONRR commented on #970
@codyeckstein @cvojslavek Thank you both for all your help!!! I am going to email Carrie about those 6 remaining documents, I don't think they were sent to her to remediate.

[2021-09-16 12:43] cthomasONRR commented on #970
@mcharg @Maroyafaied As far as I can tell, all the Chief of Staff documents are now 508-Compliant!!! Thanks to @codyeckstein and @cvojslavek for all their work!!!! Here's an update on the status pivot:
![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/8ee87f96-e7c7-43d0-bd80-5a5faa4d75e8)

[2021-09-16 12:45] Maroyafaied commented on #970
That's great, thank you all for your hard work!

[2021-09-16 12:55] cvojslavek commented on #970
@cthomasONRR Thank you for teaching us how to help upload 508 documents!

[2021-09-16 13:59] mcharg opened #1020 "Update wireframes with Indian team's feedback"

[2021-09-16 14:54] mcharg opened #1021 "Send thank you emails to user interview participants"

[2021-09-16 15:37] mcharg opened #1022 "Check OCS contacts"
A couple of participants have said one is on maternity leave and the other is no longer on the team.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/8bd74813-9db6-4775-b954-3b205779e11e)

[2021-09-16 15:40] mcharg opened #1023 "Update prototype with low hanging fruit"
We've seen patterns for the following issues, which I want to iterate on before next week's sessions.

- [ ] Make categories more prominent on contact accordions.
- [x] Call the new reporter setup pages checklists.  Add an intro line of text. Change "Continue" buttons to "Next".

[2021-09-16 16:14] mcharg commented on #1008
Custom plug-in for images

[2021-09-16 16:16] #1003 closed

[2021-09-16 16:18] #994 closed

[2021-09-16 16:18] #993 closed

[2021-09-16 16:18] #952 closed

[2021-09-16 16:20] mcharg commented on #945
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/8fc0d903-41f7-4b82-9d97-f529ff3155be)

[2021-09-16 16:26] mcharg commented on #901
Need to research which players work for 508 compliance.

[2021-09-16 16:32] mcharg commented on #878
Also make it detect links are pdfs and automatically add to the link.

[2021-09-16 16:42] #1002 closed

[2021-09-16 16:51] codyeckstein commented on #1022
Apparently, these are the contacts for now. Stacey is back from maternity leave on the 22nd and we won't update these contacts until a new technician is hired.

[2021-09-16 16:52] #1022 closed

[2021-09-16 17:55] cthomasONRR commented on #908
Antoinette submitted 3 more documents. They are on the live site and the accessibility tracking spreadsheet is updated.

- [ ] [20140630.pdf](https://github.com/ONRR/onrr.gov-site/files/7180002/20140630.pdf)
- [ ] [970331.pdf](https://github.com/ONRR/onrr.gov-site/files/7180004/970331.pdf)
- [ ] [971001.pdf](https://github.com/ONRR/onrr.gov-site/files/7180005/971001.pdf)

[2021-09-16 18:01] cthomasONRR commented on #970
I believe we are done with this issue. Closing now :)

[2021-09-16 18:01] #970 closed

[2021-09-16 18:54] mcharg commented on #999
Noelle sent me new copy, so I'll get it updated in the prototype tomorrow, so we can get user feedback next week.

[2021-09-16 20:27] cthomasONRR opened #1024 "RV 508 Phase 2"
RV is sending in their last Phase 2 documents for the 508 Compliance project.

[2021-09-16 20:29] cthomasONRR commented on #1024
Jodie submitted the following 2 documents:

- [ ] [Indian-Payor-Handbook-Chapter-1-About-this-Handbook-9.2018.pdf](https://github.com/ONRR/onrr.gov-site/files/7180770/Indian-Payor-Handbook-Chapter-1-About-this-Handbook-9.2018.pdf)
- [ ] [Processed Gas Example Final 05262020.pdf](https://github.com/ONRR/onrr.gov-site/files/7180771/Processed.Gas.Example.Final.05262020.pdf)

I have the Indian Payor H

[2021-09-16 20:58] cthomasONRR commented on #1024
I sent the following email to Sid Sharma and Regina Wendling:

"Hi Sid and Regina,

We have one document that Jodie Peterson has worked extremely hard at making compliant. There is one remaining issue within the document that we cannot resolve though:

There are 4 character encoding errors in math equations due to the presence of parentheses that Adobe doesn’t like. Jodie put in alt text that thos

[2021-09-17 12:58] mcharg commented on #1020
Updated and sent an email to Amanda for approval.
https://qmcq5k.axshare.com/#id=vqfjwr&p=indian_resources

[2021-09-17 13:04] cthomasONRR commented on #1024
Regina sent this email as a response:

"Hi, Christine:

The character encoding error usually is a font issue.  Try extracting the page, saving it as a Word file, then running the Inspect document and change the font for the items, reconvert to PDF, then run accessibility checker to see if issue is resolved.  Keep in mind that new errors may arise after your insert the new page back into the main P

[2021-09-17 13:41] mcharg opened #1025 "Add copy about emailing 4444s"
On the checklist and forms pages, we can direct users to email 4444s to Aaron Lindquist.

[2021-09-17 13:45] sghahn commented on #841
@mcharg @cthomasONRR
Good morning, here are 3 documents:

- [ ] [920330.pdf](https://github.com/ONRR/onrr.gov-site/files/7186052/920330.pdf)
- [ ] [961104.pdf](https://github.com/ONRR/onrr.gov-site/files/7186059/961104.pdf)
- [ ] [20030117.pdf](https://github.com/ONRR/onrr.gov-site/files/7186068/20030117.pdf)

(Amariles)

We show that we have 18 remaining documents and these will be uploaded in a

[2021-09-17 13:54] mcharg commented on #1025
These are the pages where we need to add the information.

https://www.onrr.gov/reportpay/prod-checklist.htm
https://www.onrr.gov/reportpay/roy-checklist.htm
https://www.onrr.gov/reportpay/solids-checklist.htm
https://www.onrr.gov/reportpay/reporter-maintenance.htm
https://www.onrr.gov/reportpay/Forms/index.htm

It's also linked on these pages, but we don't have details, so I think we don't need t

[2021-09-17 14:11] cthomasONRR commented on #841
@mcharg @sghahn
Good morning! These 3 documents are updated in dev and live sites. (Shannon M- our accessibility tracking spreadsheet is also updated.)

[2021-09-17 14:22] mcharg commented on #1023
I changed New Reporter Setup to New Reporter Checklist, changed the Continue buttons to Next, and added a note about emailing the 4444. https://qmcq5k.axshare.com/#id=muwj32&p=new_reporter_checklist

I made the same changes to the checklists on the reporting pages and moved the callout on the main tab above the box with the link to WebCenter Portal.  I also added a link to eCommerce to that box an

[2021-09-17 14:25] mcharg commented on #1023
@daniel-coleman-1 The sitemap should be updated with the checklist name change and the addition of the eCommerce link.

[2021-09-17 15:02] mcharg commented on #999
Page updated and sent out for review.
https://qmcq5k.axshare.com/#id=y89dq7&p=indian_pricing

@daniel-coleman-1 There are some new links that should be updated in the sitemap.

[2021-09-17 18:01] sghahn commented on #841
@cthomasONRR @mcharg
Here are 3 more:

- [ ] [921015b.pdf](https://github.com/ONRR/onrr.gov-site/files/7187545/921015b.pdf)
- [ ] [930512.pdf](https://github.com/ONRR/onrr.gov-site/files/7187546/930512.pdf)
- [ ] [20070420.pdf](https://github.com/ONRR/onrr.gov-site/files/7187547/20070420.pdf)

(Doebbler)

[2021-09-17 18:14] cthomasONRR commented on #841
@mcharg @sghahn
These 3 documents are updated in dev and live sites. (Shannon M- our accessibility tracking spreadsheet is also updated.)

[2021-09-17 18:38] sghahn commented on #841
@cthomasONRR @mcharg
These last 15 should make RRM completed on Phase 3. Please confirm the RRM count/completion status.
(I have 20010313 compliant in case it comes back that we need to add it back to the site)

- [ ] [911216.pdf](https://github.com/ONRR/onrr.gov-site/files/7187744/911216.pdf)
- [ ] [911218.pdf](https://github.com/ONRR/onrr.gov-site/files/7187745/911218.pdf)
- [ ] [950717.pdf](htt

[2021-09-17 19:09] cthomasONRR commented on #841
@mcharg @sghahn
These 15 documents are updated in dev and live sites. (Shannon M- our accessibility tracking spreadsheet is also updated.)

There is one more document assigned to RRM: https://www.onrr.gov/ReportPay/PDFDocs/20060523.pdf
Shannon H- are you able to remediate this one as well? Thanks so much for all your help!!!!

[2021-09-17 19:19] sghahn commented on #841
@mcharg @mcharg

Here is
[20060523.pdf](https://github.com/ONRR/onrr.gov-site/files/7188034/20060523.pdf)

This should make is us current except possibly 20010313 , let you know more as soon as I learn more.

[2021-09-17 19:25] cthomasONRR commented on #841
@mcharg @sghahn

AWESOME!!! THANK YOU SO MUCH!!!
As far as I can tell, all RRM documents are now 508-Compliant!!!

[2021-09-17 19:35] sghahn commented on #841
@cthomasONRR

Awesome, thank you everyone for your assistance, it's been great working with you all.

If we can keep this ticket open until next week when I hope to know more about 20010313 that would be great.

[2021-09-17 19:38] cthomasONRR commented on #841
@sghahn Sounds good!

[2021-09-17 20:15] jlouis-onrr opened #1026 "Update all menu links to use new 'url' field"

[2021-09-17 20:42] mcharg commented on #1023
Contacts tweaks are now in.

https://qmcq5k.axshare.com/#id=079wgt&p=contact_us

[2021-09-17 21:47] Baymatt commented on #906
Started on the glossary (ONRR_Glossary_Terms.xslx) and uploaded it to teams, can be found in the ONRR.gov folder. Will be continuing to add terms and definitions. Not sure if the terms are too basic/comprehensive, but I figure better safe to include more terms and then we can remove as needed.

[2021-09-20 13:07] cthomasONRR commented on #1021
Here is a draft thank-you email:

SUBJECT: Thank you for providing feedback on the new onrr.gov!

"Hello [participant name],

Thank you so much for taking time out of your work day to talk with the Open Data, Design, and Development team. Your feedback on the new onrr.gov prototype is very much appreciated and valued! We will apply your input in this next round of modifications to the prototype.

[2021-09-20 13:08] mcharg commented on #1021
@cthomasONRR Looks good.

[2021-09-20 13:43] cthomasONRR commented on #1021
Thanks! @Maroyafaied and @lpgoldstein please let me know if you are good with this email, and I will send it to the 4 participants that I contacted and were interviewed (Alicia, Kelsey, Latisha, Janice).

[2021-09-20 13:51] cthomasONRR commented on #906
@Baymatt Thanks so much for all your work on this! I will also try to add in some terms this week.

[2021-09-20 14:21] Maroyafaied commented on #1021
@cthomasONRR looks great. Thanks

[2021-09-20 14:30] mcharg commented on #1021
@cthomasONRR Can you add a column to the participant sheet indicating which participants you send it to, so we don't forget anyone?

[2021-09-20 14:35] cthomasONRR commented on #1021
@mcharg Yep- Got that added in column 'R' of the participant sheet :)

[2021-09-20 14:42] lpgoldstein commented on #1021
@cthomasONRR

[2021-09-20 14:51] cthomasONRR commented on #1021
Awesome! I just sent this email out the the 4 participants I recruited.
@cvojslavek and @codyeckstein - Please feel free to use this template as well!

[2021-09-20 17:06] cvojslavek commented on #1021
@cthomasONRR Thank you, I used your template!

[2021-09-21 14:06] #1023 closed

[2021-09-21 14:32] cmathers1 opened #1027 "Replace Docs on onrr.gov"
Good morning,

Please replace the following docs on onrr.gov
[MOU ONRR-BOEM-BSEE_March 2013.pdf](https://github.com/ONRR/onrr.gov-site/files/7203878/MOU.ONRR-BOEM-BSEE_March.2013.pdf)
[IPA-5_USC_3371-3375.pdf](https://github.com/ONRR/onrr.gov-site/files/7203882/IPA-5_USC_3371-3375.pdf)
[Greg-GouldTestimonyHNR12-2015.pdf](https://github.com/ONRR/onrr.gov-site/files/7203883/Greg-GouldTestimonyHNR12-

[2021-09-21 14:52] cthomasONRR commented on #1027
@cmathers1

I have the following 3 docs updated on the live site:
- [ ] MOU ONRR-BOEM-BSEE_March 2013.pdf
- [ ] IPA-5_USC_3371-3375.pdf
- [ ] Greg-GouldTestimonyHNR12-2015.pdf

Is "ONRR Prev and Elim Harassing Conduct 8-30-21 hmc.pdf" a new document? Is it replacing the [Anti Harrassment 4-2020](https://app.zenhub.com/files/210892300/570634a4-01a2-42c9-9553-6d47bb98d9aa/download)?

Thanks,
Christi

[2021-09-21 15:42] mcharg opened #1028 "Remove not linked and archive folders from live site"
We'll keep them on the dev site, but removing them from the live site will help with search results not returning old documents.

[2021-09-21 16:00] #1021 closed

[2021-09-21 16:02] cthomasONRR commented on #1027
The 2021 update to the Anti-Harassment Memo is on the live site (https://www.onrr.gov/about/anti-harassment.htm).

All documents are updated. Closing this issue.

[2021-09-21 16:02] #1027 closed

[2021-09-21 17:09] cthomasONRR commented on #906
Attached is a presentation on glossaries from the Plain Language Writing Summit:
[plain-language-summit-online-glossaries](https://app.zenhub.com/files/210892300/58daf895-93d7-4347-8f67-d180c69a7709/download)

[2021-09-21 19:07] mcharg opened #1029 "Consolidate findings from onrr.gov study"

[2021-09-21 19:25] daniel-coleman-1 commented on #1013
From Bill:
https://www.youtube.com/watch?v=_XMuKwjdXK4

03-4 correct video

[2021-09-21 20:05] mcharg opened #1030 "ONRR.gov journey map"

[2021-09-21 20:19] cthomasONRR commented on #1024
I replied back to Regina and Sid:

"Hi Regina and Sid,

Since this issue is occurring within a math equation, there is no font option to change. Jodie has worked with a specialist at Microassist about this specific issue, and they did not have a solution for us. Our current workaround is having alt text and a footnote for this equation… since the footnote and the alt text give the same information

[2021-09-21 20:38] daniel-coleman-1 commented on #1013
Resolved

[2021-09-21 20:38] #1013 closed

[2021-09-22 16:28] cthomasONRR commented on #906
I addition to making a list of terms, here are some things I've been considering based on the Plain Language Summit:

- Other federal agencies put a legal disclaimer on their glossaries. Here's [GSA's for example](https://www.gsa.gov/reference/glossary)
- Here is a version we can use for both onrr and nrrd:
    -  _The definitions in this glossary are simplified. Some are ONRR-specific in their us

[2021-09-22 16:55] mcharg commented on #906
@cthomasONRR Do you want to wait until the end of the month and get the top 10 pages for the fiscal year?

[2021-09-22 16:57] cthomasONRR commented on #906
@mcharg Yes, that sounds perfect!

[2021-09-22 18:03] #999 closed

[2021-09-22 18:04] #1020 closed

[2021-09-22 19:00] mcharg commented on #755
I uploaded the spreadsheet into Teams.  Might be a while before I finish it.
https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/CMS/SEO_export.xlsx?d=w239b0ae10a62442b83734e9d1a132b2a&csf=1&web=1&e=aiNlIn

[2021-09-22 21:10] lpgoldstein opened #1031 "Plan Contacts user study"
Do a user study with STRAC users. https://teams.microsoft.com/_#/files/General?threadId=19%3A34f9f9ee6b0441dbacab56bfd552f819%40thread.skype&ctx=channel&context=XX_STRAC_study&rootfolder=%252Fsites%252FNRRD%252FShared%2520Documents%252FGeneral%252FONRR.gov%252FUser%2520Research%252FStudies%252FXX_STRAC_study

[2021-09-22 21:39] daniel-coleman-1 commented on #1000
Reviewed and I think we're good to go here

[2021-09-23 12:33] Maroyafaied opened #1032 "Added content to what you might have missed edition"

[2021-09-23 12:46] Maroyafaied commented on #1032
@daniel-coleman-1 @mcharg this is what I plan to submit to Nichelle. Can you review? Thanks https://doimspp.sharepoint.com/sites/NRRD/Shared%20Documents/General/WYMHM.docx?web=1

[2021-09-23 12:55] mcharg commented on #755
@jlouis-onrr The spreadsheet is complete.

[2021-09-23 13:19] mcharg commented on #1032
@Maroyafaied I added a couple of comments.

[2021-09-23 13:32] cthomasONRR commented on #1024
Jodie emailed the following document. It passed 508 accessibility check. I updated the file on the dev and live sites, and updated the accessibility tracking spreadsheet:

- [ ] [Indian-Payor-Handbook-Chapter-3-Oil-Valuation-2.2019](https://app.zenhub.com/files/210892300/926c88a7-9f99-4da9-9f5e-41bb2029561c/download)

[2021-09-23 13:48] mcharg commented on #1000
@daniel-coleman-1 I went through those sections and there are still some things that aren't resolved.  I also noted where the checklists have been renamed and we added in the button to eCommerce.

[2021-09-23 14:17] mcharg opened #1033 "Design studio for Contacts"
I think we should do a design studio for Contacts to come up with some solutions that take what some people like about the layout in the pdfs and merge it with the ease of filtering the accordions and ability for stakeholders to more easily update their contact info if they're not in pdfs.  This will also give the interns a chance to participate in a design studio.

[2021-09-23 17:14] daniel-coleman-1 commented on #1000
@mcharg I reviewed the comments and resolved the outstanding issues

[2021-09-23 17:15] daniel-coleman-1 commented on #1005
@Maroyafaied updated section 0.0 and resolved all comments; I think we are ready for a final review and approval

[2021-09-23 18:08] #1032 closed

[2021-09-23 18:11] #848 closed

[2021-09-23 18:11] #1015 closed

[2021-09-23 18:16] #929 closed

[2021-09-23 18:19] Maroyafaied commented on #963
will need to evaluate grape js vs editor js.

[2021-09-23 18:19] #963 closed

[2021-09-23 18:21] #1026 closed

[2021-09-23 18:22] jlouis-onrr opened #1034 "Url field not updating when slug gets updated/changed"

[2021-09-23 18:24] Maroyafaied commented on #1011
will revisit

[2021-09-23 18:24] #1011 closed

[2021-09-23 18:26] #755 closed

[2021-09-23 18:28] jlouis-onrr opened #1035 "Create external bulk 301 redirects"

[2021-09-23 19:01] codyeckstein commented on #1021
Just sent out a couple with your template. Thank you.

[2021-09-23 20:34] mcharg commented on #1000
@daniel-coleman-1 There are still a handful of comments that you marked as resolved that weren't resolved.  I reopened them.

[2021-09-24 13:54] cthomasONRR opened #1036 "Create a redirect link for a dead FR PDF link"
A few of RV's Dear Reporter Letters link to a PDF doc from the Federal Register that was hosted on the onrr.gov website. These FR PDF docs have all since been removed, and replaced with links that go directly to the FR webpage instead of to a PDF.

I am working on getting the following dead link (https://www.onrr.gov/Laws_R_D/FRNotices/PDFDocs/43338.pdf) to redirect to (https://www.federalregister

[2021-09-24 14:21] mcharg commented on #1000
@daniel-coleman-1 There's still one instance where there's two WebCenter Portal links and no eCommerce on the System Access page. ![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/06e43a31-ca2c-40ac-a283-7eab686d21c5)

[2021-09-24 14:43] cthomasONRR commented on #1024
Regina was able to resolve the remaining issues within the processed gas example. I just updated it on the dev and live sites. Closing this issue.

- [ ] [Processed Gas Example Final 05262020](https://app.zenhub.com/files/210892300/2ca4f5c5-bb91-4de5-948e-f681b1374444/download)

[2021-09-24 14:43] #1024 closed

[2021-09-24 14:46] cthomasONRR commented on #1036
The redirect link works now!!!

I looked through all the Dear Reporter Letters that RV had for Phases 1-3, and the link above was the only ONRR-hosted FR PDF link included in the letters. They should be good to start making the Phase 3 documents 508-compliant.

[2021-09-24 14:46] #1036 closed

[2021-09-24 15:09] mcharg commented on #1005
@daniel-coleman-1 I reviewed and added comments.

I also commented on sections 8.0 & 9.0, since I didn't see an issue for those sections and they aren't very involved - it's mostly taking TBDs off boxes.

[2021-09-24 15:14] mcharg opened #1037 "Add miscellaneous pages to wireframes"
- [x] Disclaimer
- [x] Sitemap
- [x] IONR
- [ ] FOGRMA Amendments
- [x] Glossary

[2021-09-24 15:17] mcharg opened #1038 "Design interaction for "view counties" on pricing page"
It's a modal today, but we won't have modals in the new site.

Wireframe: https://qmcq5k.axshare.com/#id=l9inb4&p=valuation___pricing
Current page: https://onrr.gov/valuation/allzones.htm

Screenshot of wireframe:
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/5a8b8285-d302-4568-abd2-3bba76fbdbec)

Screenshot of current modal:
![image.png](https://images.zenhubuserconte

[2021-09-24 15:53] mcharg opened #1039 "Figure out recursion in page builder or grape.js"

[2021-09-24 15:53] mcharg opened #1040 "Close out phase 2"

[2021-09-24 15:55] mcharg opened #1041 "Redirects collection"

[2021-09-24 15:55] mcharg opened #1042 "Links collection"

[2021-09-24 15:57] mcharg opened #1043 "Add disclaimer to onrr.gov glossary"
Language to add at the top of the glossary page:

_The definitions in this glossary are simplified. Some are ONRR-specific in their usage. None of the definitions takes precedence over laws, legislation, regulations, contracts, or specific interpretations or rulings._

This glossary defines many commonly used terms and initialisms but isn’t a full list. To request changes to terms on this list, or

[2021-09-24 15:58] mcharg opened #1044 "Figure out shutdown banner"

[2021-09-24 15:59] mcharg commented on #1044
Looks like Jennifer had one ready to go last year, so we just need to find it and be ready to uncomment it out.
https://github.com/ONRR/onrr.gov-site/issues/364

[2021-09-24 16:23] cthomasONRR commented on #841
@sghahn Dane has replied saying they would like 20010313.pdf remediated and back on the website. Could you help us get this document compliant?

[2021-09-24 16:32] cthomasONRR commented on #841
@sghahn Here is the document in case you don't have it:

[20010313](https://app.zenhub.com/files/210892300/35a015d9-0918-4887-9b1b-359ad57230d0/download)

[2021-09-24 17:42] daniel-coleman-1 commented on #1000
Thanks for the edits and updates @mcharg, went through and updated and resolved outstanding comments.
https://92ix0j.axshare.com/#id=ll6g0k&p=primary_nav

[2021-09-24 17:45] #1000 closed

[2021-09-24 20:30] mcharg commented on #1005
@daniel-coleman-1 Are these sections ready for another review?

[2021-09-27 12:52] sghahn commented on #841
@cthomasONRR @mcharg

Good morning here is the document for the Western Audit team, please make sure that RRM is not shown as the "owner", we made this compliant as a courtesy for Dane Templin's team.

- [ ] [20010313.pdf](https://github.com/ONRR/onrr.gov-site/files/7236302/20010313.pdf)

We can now close this issue. Thank you again for all of your help.

[2021-09-27 12:53] cthomasONRR commented on #1043
I updated the Glossary on the dev site (http://2017onrr/glossary.htm)

Waiting for review before going live.

![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/4f611ad5-f2c9-4252-b56d-823716618353)

[2021-09-27 13:21] cthomasONRR commented on #841
@sghahn

Good morning! I have the updated document on the dev and live sites.

Thank you SO MUCH for your help!!!! We really appreciate you!!!

I will close this issue now.

[2021-09-27 13:21] #841 closed

[2021-09-27 13:51] daniel-coleman-1 commented on #1005
@mcharg yup, they are ready for another review.

[2021-09-27 14:26] Maroyafaied opened #1045 "Heidi Badaracco Accessible documents"
Here are 2 out of the 3 docs for Heidi's program, they are working on the last one. @cvojslavek do you have to do these? @cthomasONRR can you review once Cat uploads in dev and updates the tracking sheet? Thank
[Roles-and-Responsibilities-Booklet.pdf](https://github.com/ONRR/onrr.gov-site/files/7236998/Roles-and-Responsibilities-Booklet.pdf)
[ONRR-Tribal-Consultation-Policy.pdf](https://github.com

[2021-09-27 14:27] cthomasONRR commented on #906
The following locations in ONRR's section of the CFR includes definitions:

[30 CFR 1206.20](https://www.ecfr.gov/current/title-30/chapter-XII/subchapter-A/part-1206#1206.20)
[30 CFR 1204.2](https://www.ecfr.gov/current/title-30/chapter-XII/subchapter-A/part-1204/subpart-A)
[30 CFR 1208.2](https://www.ecfr.gov/current/title-30/chapter-XII/subchapter-A/part-1208/subpart-A)
[30 CFR 1218.51a](https:/

[2021-09-27 14:30] cthomasONRR commented on #1045
@Maroyafaied and @cvojslavek
I'm happy to help with this. Cat, let me know if you want to walk through the process again, or if you just need me to review. Thanks!

[2021-09-27 14:57] mcharg commented on #1043
@cthomasONRR We should use the onnrweb@onrr.gov email address on onrr.gov.  And we can make it into a link by using "mailto:onrrweb@onrr.gov" as the url.

[2021-09-27 15:21] cthomasONRR commented on #1043
Changed the wording slightly:

<p>The definitions in this glossary are simplified. Some are ONRR-specific in their usage. None of the definitions takes precedence over laws, legislation, regulations, contracts, or specific interpretations or rulings.</p>
<p>This glossary defines many commonly used terms and acronyms but isn’t a full list. To request changes to terms on this list, or to suggest new

[2021-09-27 15:32] #1043 closed

[2021-09-27 15:37] mcharg commented on #1005
@daniel-coleman-1 I went back through and there's another round of comments.

[2021-09-27 16:44] cvojslavek commented on #1045
@cthomasONRR these are ready for your review, thank you. I followed the steps below for the 2 documents.
- [x] Recheck docs for accessibility
- [x] Upload docs in dev site
- [x] Review docs in dev site
- [x] Publish to the live site
- [x] Update Accessibility tracking sheet
- [x] Checked the live site

Do I need to move/save the updated files anywhere else, or was that just a step for Carrie's doc

[2021-09-27 17:01] cthomasONRR commented on #1045
@cvojslavek - I just checked the accessibility tracking spreadsheet and was able to download the remediated PDFs from the website. Everything looks good to me!

Yes- that extra step of moving files was specifically for Carrie's OneDrive.

I think you're good to close this issue. Thanks!

[2021-09-27 17:02] daniel-coleman-1 commented on #1005
@mcharg @Maroyafaied Updated

[2021-09-27 17:02] cvojslavek commented on #1045
@cthomasONRR thank you!

[2021-09-27 17:02] #1045 closed

[2021-09-27 17:40] Maroyafaied opened #1046 "Update production reporting references"
This came in from the onrreweb mailbox

All,
On the ONRR.gov home page, please update the Production Reporting References with the attached files. The new as of date is 09/27/2021.

There are five Gulf files, three Pacific files, and one Alaska file.

[2021-09-27 17:40] daniel-coleman-1 commented on #1046
I can take this one

[2021-09-27 18:08] mcharg opened #1047 "September analytics"

[2021-09-27 18:10] mcharg opened #1048 "FY21 analytics"

[2021-09-27 18:10] lpgoldstein opened #1049 "FY Velocity and Enhancement/Maintenance/Bugs"

[2021-09-27 18:11] mcharg opened #1050 "Plan stakeholder interviews for 508 compliance"

[2021-09-27 18:11] mcharg opened #1051 "ONRR logo accessibility"

[2021-09-27 18:12] mcharg opened #1052 "ONRR ppt template accessibility"

[2021-09-27 18:13] mcharg opened #1053 "ONRR-wide color palette"

[2021-09-27 18:35] #1041 closed

[2021-09-27 18:36] #1042 closed

[2021-09-27 19:10] daniel-coleman-1 commented on #1046
http://2017onrr/reportpay/references.htm

[2021-09-27 19:21] daniel-coleman-1 commented on #1044
It's quite close to the top of the page, very easy to find.

Code:

[2021-09-27 19:26] daniel-coleman-1 commented on #1044
![Screenshot 2021-09-27 132519](https://user-images.githubusercontent.com/83892362/134972167-cc2d6901-1aea-4029-b00c-4862234118c2.png)

[2021-09-27 19:30] cthomasONRR commented on #483
The Final Withdraw of the 2020 Rule should be posted in the FR by Thursday (9/30). Once that's published, we will be able to work on this table with more certainty.

[2021-09-27 20:56] Maroyafaied commented on #1046
@daniel-coleman-1 this was approved by email, please push to the live site. Thanks

[2021-09-27 20:56] daniel-coleman-1 commented on #1046
Pushed live about 30 min ago, just confirmed.

[2021-09-27 20:56] #1046 closed

[2021-09-27 21:28] Maroyafaied opened #1055 "Iterate powerpoint template design based on feedback"
Based on HC feedback , we need to iterate the design of the diversity powerpoint template while ensuring accessibility.

[2021-09-27 21:33] Maroyafaied commented on #1005
@daniel-coleman-1 I reviewed the sections with comments left and I believe this is good to close.  We will continue to update as needed. Thanks

[2021-09-27 21:34] #1044 closed

[2021-09-28 14:14] mcharg commented on #1028
@cthomasONRR I removed all the archive and not linked folders and made sure we had all the files that were on Z on Y.  Not sure the best way to test this.

[2021-09-28 14:43] cthomasONRR commented on #1028
@mcharg I found the following archive and not linked folders:

- [ ] Z:\Laws_R_D\PubComm\PDFDocs\AA00\archive
- [ ] Z:\Laws_R_D\PubComm\PDFDocs\AA00\Not Linked
- [ ] Z:\Laws_R_D\PubComm\PDFDocs\AA01\archive
- [ ] Z:\reportpay\Handbooks\pdfdocs\Geopayor\Not Linked

I also wanted to list these "_vti_cnf" files because they appear to be archives:

- [ ] Z:\Laws_R_D\FRNotices\PDFDocs\_vti_cnf
- [ ] Z:

[2021-09-28 14:48] mcharg commented on #1028
@cthomasONRR Jerome said not to touch any of the vti_cnf files because they do something on the back end.

[2021-09-28 15:00] #1028 closed

[2021-09-28 15:09] cthomasONRR commented on #906
Here is the [Teams link](https://teams.microsoft.com/l/file/E1F922C7-62F9-49FC-80BB-85B80E5EE080?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FONRR_Glossary_Terms.xlsx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD&serviceName=teams&threadId=19:34f9f9ee6b0441dbacab56

[2021-09-28 15:13] mcharg commented on #1050
I scheduled a meeting for next Monday to discuss.

[2021-09-28 15:16] daniel-coleman-1 commented on #906
Top five pages for May-September:
![PageviewsMay01-Sep27](https://user-images.githubusercontent.com/83892362/135115832-4a0dbe43-912c-40ea-b428-3f39fb8866b9.png)

and page views for this month so far:
![PageviewsSep1-Sep27](https://user-images.githubusercontent.com/83892362/135115900-fa607908-309e-4bee-b6e5-5a32febe4fe2.png)

[2021-09-28 15:18] daniel-coleman-1 commented on #906
I can give you other time periods if you'd like, the top 8 seem to generally stay the top 8:
![Top10PagesSept](https://user-images.githubusercontent.com/83892362/135116197-bfa8deb6-98be-473f-9aae-1323475bd9da.png)

[2021-09-28 15:18] mcharg commented on #906
@daniel-coleman-1 Those pages are for NRRD.  This issue is for onrr.gov.

[2021-09-28 15:19] daniel-coleman-1 commented on #906
@mcharg whooops, need coffee.  Updating images, thanks for catching.

[2021-09-28 15:19] mcharg commented on #906
@daniel-coleman-1 And we were going to wait until the fiscal year is over, so we can pull the pages from the unsampled report that includes a whole fiscal year.

[2021-09-28 15:20] mcharg commented on #906
But it probably doesn't hurt to look at pages now, since it likely won't change much.

[2021-09-28 15:25] daniel-coleman-1 commented on #906
Updated with ONRR pageviews

[2021-09-28 15:28] mcharg commented on #906
I think those are pretty consistently the top viewed pages.

[2021-09-28 16:51] Maroyafaied opened #1056 "Publish press release - request from chief of staff"
https://www.onrr.gov/pdfdocs/GOMESA.National.Release.pdf

send dev site to chief of staff for review.

[2021-09-28 17:09] Maroyafaied commented on #1056
@mcharg do you know how I can get rid of the pdf icon on this page, it doesn't show on the homepage but it shows here http://2017onrr/About/NewsReleases.htm

[2021-09-28 17:34] mcharg commented on #1056
@Maroyafaied I took a look at it and I can't figure out how the NewsReleases page is pulling the XML file.

[2021-09-28 17:35] mcharg commented on #1056
@Maroyafaied Actually, it doesn't look like the page is being updated on the dev site.  I think there was something weird with press releases and you have to put live for them to show up on that page.

[2021-09-28 17:35] mcharg commented on #1056
@Maroyafaied Wait, it is updating.

[2021-09-28 17:44] Maroyafaied commented on #1056
@mcharg it shows on dev for me , and I actually just pushed it live because they want it out ASAP so we can figure out the icon thing later.

[2021-09-28 19:30] cthomasONRR opened #1057 "Reformat FOGRMA webpage to have tabs"
https://www.onrr.gov/Laws_R_D/PubLaws/PL97451.htm

[2021-09-28 19:32] mcharg commented on #1037
Created #1057 for FOGRMA Amendments page, since it needs formatting and @cthomasONRR's input.

[2021-09-28 19:33] #1056 closed

[2021-09-29 14:00] aklong09 opened #1058 "Request to Update ONRR's FRN Page"
Good morning,

Please update the ONRR Federal Register Notices page located at: https://www.onrr.gov/Laws_R_D/FRNotices/index.htm

Please create a new entry at the top of the page for September 10, 2021 to read as follows:

“86 FR 50742
Friday, September 10, 2021
**Denver, CO** In accordance with the Paperwork Reduction Act of 1995, ONRR is proposing to renew an information collection request. OMB

[2021-09-29 14:06] aklong09 opened #1059 "Request to Update ONRR's Rules & Regulations Page"
Good morning,

Please update ONRR’s Rules and Regulations page for OMB Control No. 1012-0004, located at: https://www.onrr.gov/Laws_R_D/FRNotices/ICR0139.htm

Please add a new bullet at the top of the bulleted list to read as follows: “60-Day Agency Information Collection - (86 FR 50742—September 10, 2021)”

For the “(86 FR 50742—September 10, 2021)” language, please create a hyperlink that connec

[2021-09-29 14:39] cthomasONRR commented on #1058
@aklong09

I have this update on the dev site: http://2017onrr/Laws_R_D/FRNotices/index.htm

Please review and let me know if it's good to go live.

Thanks!

[2021-09-29 14:56] aklong09 commented on #1058
@cthomasONRR this looks absolutely perfect! It's good to push live. Thank you!!

[2021-09-29 15:00] cthomasONRR commented on #1058
@aklong09 Great! I just pushed it to the live site. It can take up to 30min for the changes to go live, and you might need to press 'ctrl+F5' to refresh the page. I'll close this issue once I see it live. Thanks!

[2021-09-29 15:12] cthomasONRR commented on #1057
Attached is my document showing where 1st level tabs should be set, and subsections that should be accordion drop-downs within those tabs.
[FOGRMA Webpage](https://app.zenhub.com/files/210892300/69e5944f-84e2-46b7-b776-52ff72499745/download)

[2021-09-29 15:33] #1058 closed

[2021-09-29 15:33] lpgoldstein commented on #1059
@aklong09 This is ready for your review: http://2017onrr/Laws_R_D/FRNotices/ICR0139.htm

[2021-09-29 16:13] aklong09 opened #1060 "Updates to ONRR Information Collection Pages"
Good morning,

Please update the expiration dates on the following ONRR ICR pages:

For the page located at https://www.onrr.gov/Laws_R_D/FRNotices/ICR0122.htm -- please change the expiration date (currently reads February 28, 2021) to "October 31, 2023."

For the page located at https://www.onrr.gov/Laws_R_D/FRNotices/ICR0073.htm -- please change the expiration date (currently December 31, 2020)

[2021-09-29 16:14] aklong09 commented on #1059
@lpgoldstein This looks perfect! Approved to go live--thank you so much!

[2021-09-29 16:41] #1059 closed

[2021-09-29 17:35] aklong09 commented on #1060
@daniel-coleman-1 All three pages look great! Approved to push them live. Thank you!!

[2021-09-29 18:31] daniel-coleman-1 commented on #1060
Fantastic, all changes are now live:
https://www.onrr.gov/Laws_R_D/FRNotices/ICR0073.htm
https://www.onrr.gov/Laws_R_D/FRNotices/ICR0120.htm
https://www.onrr.gov/Laws_R_D/FRNotices/ICR0122.htm

[2021-09-29 18:31] #1060 closed

[2021-09-30 14:16] aklong09 opened #1061 "Request to Update ONRR's FRN Page"
Good morning,

Please update ONRR's FRN page located at https://www.onrr.gov/Laws_R_D/FRNotices/index.htm

Please create an entry for today, September 30, 2021 to read as follows:
"86 FR 54045
Thursday, September 30, 2021
**Denver, CO** ONRR is withdrawing the ONRR 2020 Valuation Reform and Civil Penalty Rule ("2020 Rule"). As of November 1, 2021, ONRR's 2020 Rule, published in the Federal Registe

[2021-09-30 14:21] cthomasONRR commented on #1061
Good morning!

Here is the preview on the dev site: http://2017onrr/Laws_R_D/FRNotices/index.htm

Please let us know if it's good to go live.

Thanks, and CONGRATULATIONS!!!!

[2021-09-30 14:24] aklong09 opened #1062 "Request to Update ONRR's RIN 1012-AA27 Page"
Good morning,

Please update ONRR's RIN 1012-AA27 page, located at https://www.onrr.gov/Laws_R_D/FRNotices/AA27.htm

In the last full paragraph of the abstract (directly above the "For more information . . ." area), please revise so it reads as follows:
"ONRR published a Notice of Proposed Withdrawal of this rulemaking in the Federal Register on June 11, 2021. The proposed withdrawal provides a 60

[2021-09-30 14:25] aklong09 commented on #1061
@cthomasONRR this looks perfect!! Should be good to go live. Thanks so much!

[2021-09-30 14:30] cthomasONRR commented on #1062
@aklong09

Here is the preview link on the dev site: http://2017onrr/Laws_R_D/FRNotices/AA27.htm

Please review and let us know if it's good to go live.

Thanks!

[2021-09-30 14:51] aklong09 commented on #1062
@cthomasONRR -- looks perfect! Approved to push live. Thank you again!!

[2021-09-30 14:54] cthomasONRR commented on #1062
@aklong09

Great! I just pushed these updates to the live site. I will close this issue once they go live.
https://www.onrr.gov/Laws_R_D/FRNotices/AA27.htm

[2021-09-30 15:39] Maroyafaied opened #1063 "Upload last doc for Heidi - Phase 2"
Please check for accessibility & upload and update the tracking sheet. @cvojslavek can you take this one @cthomasONRR can you review
[Understanding_Your_OST_Quarterly_Statement.pdf](https://github.com/ONRR/onrr.gov-site/files/7260729/Understanding_Your_OST_Quarterly_Statement.pdf)
.

[2021-09-30 15:41] cthomasONRR commented on #1063
@Maroyafaied @cvojslavek Sounds good. Let me know if you need help!

[2021-09-30 15:50] #1062 closed

[2021-09-30 15:51] #1061 closed

[2021-09-30 16:41] Maroyafaied commented on #1040
We received the last doc for this phase!

[2021-09-30 16:41] #1040 closed

[2021-09-30 16:57] #1007 closed

[2021-09-30 17:24] cvojslavek commented on #1063
@cthomasONRR ready for your review, thank you. I followed the steps below:

- [x] Recheck docs for accessibility
- [x] Upload docs in dev site
- [x] Review docs in dev site
- [x] Publish to the live site
- [x] Update Accessibility tracking sheet
- [x] Checked the live site

[2021-09-30 17:31] cthomasONRR commented on #1063
@cvojslavek I just checked the live site and the accessibility tracking spreadsheet. Everything looks good! I think you are good to close this issue.

Just FYI- I think ZenHub is being weird again because it's saying your comment was deleted, but I still see it in GitHub.

[2021-09-30 17:38] #1063 closed

[2021-09-30 19:22] cthomasONRR commented on #906
@Maroyafaied @mcharg @daniel-coleman-1 @lpgoldstein

We have 134 terms listed on our [glossary spreadsheet](https://teams.microsoft.com/l/file/E1F922C7-62F9-49FC-80BB-85B80E5EE080?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FONRR_Glossary_Terms.xlsx&baseUrl=https%3A%2F%2Fdoimspp

[2021-09-30 19:23] cthomasONRR opened #1064 "Convert the glossary terms excel into a word document"
I need to convert the [Excel](https://teams.microsoft.com/l/file/E1F922C7-62F9-49FC-80BB-85B80E5EE080?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FONRR_Glossary_Terms.xlsx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD&serviceName=teams&threadId=19:34f9f9ee6b0441dba

[2021-09-30 19:24] cthomasONRR opened #1065 "Develop definitions for undefined glossary terms A-I"

[2021-09-30 19:42] codyeckstein commented on #906
Should we put 2014 in the glossary?

[2021-09-30 19:46] cthomasONRR commented on #906
@codyeckstein We are trying not to include forms and acronyms, but I think I'm OK with including 'OGOR' and 'Form ONRR-2014' since these are the 2 most heavily used forms and they appear frequently on the top 10 pages. So let's include those 2 and see if anyone feels strongly about removing them.

[2021-09-30 19:46] Maroyafaied commented on #906
@cthomasONRR Are the terms on the spreadsheet are missing terms from the existing glossary on onrr.gov? The existing glossary has form-2014 on there.
![image](https://user-images.githubusercontent.com/40175688/135520555-7be79ff4-3672-44a3-9acb-724bff810895.png)

[2021-09-30 19:47] cthomasONRR commented on #906
@Maroyafaied Yes- in the initial meeting the Lindsay and Shannon, we decided not to include forms and acronyms.

[2021-09-30 19:50] Maroyafaied commented on #906
@cthomasONRR @codyeckstein I agree with adding OGOR' and 'Form ONRR-2014', they are definitely very heavily used.

[2021-09-30 19:52] cthomasONRR commented on #906
@Maroyafaied I think after we develop the glossary, we should have a separate page for "Forms and Acronyms". We could basically move the current glossary to that title since the current glossary only contains forms and acronyms anyway.

[2021-09-30 19:54] mcharg commented on #906
I'll review these against the wireframes tomorrow.

[2021-09-30 19:54] mcharg commented on #906
I'll also take a look at search terms and see if that identifies any terms.

[2021-09-30 20:02] lpgoldstein commented on #906
@cthomasONRR what do you think about adding BOEM since they issue the offshore leases? Also adding "unit" since we have lease, agreement, and communitization agreement?

[2021-09-30 20:05] cthomasONRR commented on #906
@lpgoldstein I'm ok with adding those terms... just added them to the spreadsheet.

[2021-09-30 20:42] codyeckstein commented on #906
Thoughts on these?

GOMESA
Payor Code
Operator Code
Compensatory Royalty Agreement
Production Allocation Schedule Report (PASR)
Facility Measurement Point (FMP) - A meter for royalty volume determination

[2021-09-30 20:46] cthomasONRR commented on #906
@codyeckstein I'm OK adding those terms... please feel free to add them to the spreadsheet

[2021-09-30 20:47] codyeckstein commented on #906
will do

[2021-09-30 20:50] mcharg commented on #1037
Disclaimer: https://qmcq5k.axshare.com/#id=bp2rns&p=disclaimer&g=1
Sitemap: https://qmcq5k.axshare.com/#id=d6wgq0&p=sitemap&g=1
IONR: https://qmcq5k.axshare.com/#id=yus88b&p=ionr&g=1
Glossary: https://qmcq5k.axshare.com/#id=r7lprg&p=glossary&g=1

@lpgoldstein Do you want to review?

@daniel-coleman-1 The IONR page has links that will need to be added to the sitemap and I added the glossary link to

[2021-09-30 22:12] Toddsand21 opened #1066 "EVENT CALENDAR (To be added to the calendar on the Allottee Assistance page."
**U & O, Fort Duchesne, Salt Lake City, UT Virtual Outreach**
Tuesday, October 19, 2021
Time: 10:00 am - 11:00 am MST

Location:  By Telephone
Description: Representatives from the Office of Natural Resources Revenue will host a Question and Answer session by phone for Indian Mineral Owners and Indian trust property owners regarding their Indian Oil & Gas leases, IIM Accounts, and Indian trust pro

[2021-09-30 22:29] daniel-coleman-1 commented on #1066
@Toddsand21  updated for your review:
http://2017onrr/events.htm

With your approval, I will push these changes live.

[2021-09-30 22:38] Maroyafaied commented on #1066
@daniel-coleman-1 can you take "Name" out. Thanks
![image](https://user-images.githubusercontent.com/40175688/135539150-585dca19-a72f-49af-ba15-17e06cdfb8e4.png)

[2021-09-30 22:40] Maroyafaied commented on #1066
@daniel-coleman-1 Also the description of the 2nd event doesn't match what was requested.
![image](https://user-images.githubusercontent.com/40175688/135539349-983b2edf-4738-408a-bce3-efdf4ac668fd.png)

[2021-09-30 22:42] Maroyafaied commented on #1066
@daniel-coleman-1 description of the 1st event doesn't match either.
![image](https://user-images.githubusercontent.com/40175688/135539488-864c85be-646e-4ef9-b4c4-4d03e28eff84.png)

[2021-09-30 22:45] daniel-coleman-1 commented on #1066
thanks for catching, @Maroyafaied.  Corrected.

[2021-09-30 23:44] daniel-coleman-1 commented on #1066
@Toddsand21 pushing live now for timeliness.

[2021-10-01 15:12] Maroyafaied commented on #1066
@daniel-coleman-1 Next time please allow the person making the request a chance to review before pushing live. @Toddsand21 please let us know if it's ok to close this issue or if you'd like any additional changes. Thanks

[2021-10-01 17:54] mcharg commented on #906
Top 20 search terms from FY21.  I should have the top pages on Monday.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/457cdc76-de32-41fd-8ca3-f6297f0111d0)

[2021-10-01 17:54] mcharg commented on #1048
Requested unsampled reports, so we have them ready to go for Monday.

[2021-10-01 19:58] Toddsand21 commented on #1066
In the 2nd meeting announcement, Pawnee Area Meeting could I get you to add the word "Indian"  in the paragraph Who Should Attend: the last sentence after the comma, should read.... or any Indian mineral owners located....

Other than that it looks fine.  Thanks.

[2021-10-01 20:01] mcharg commented on #906
Here's a list of NRRD terms identified for the query tool.  Might be easier than copying and pasting definitions from the live site. https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/NRRD/Design/Glossaries/glossary.terms.query.tool.xlsx?d=w73985e533c8140a98853a10482f267ab&csf=1&web=1&e=VuAhS7

[2021-10-01 20:03] mcharg commented on #906
We should also have a list of definitions for OGOR B disposition codes.  @Maroyafaied Do you know where that doc is?

[2021-10-01 20:43] mcharg commented on #906
I added the following that are used in the wireframes. Feel free to remove any that are at too low a level.

- Web Center Portal (ONRR Web Center Portal was in the list, but we don't refer to it as that in the wires.)
- Pay.gov
- BTFA
- P&R Report
- Compliance
- Enforcement
- Data Mining
- Litigation Support
- Revenue
- OCS Qualification Number
- Assignee
- ONRR Operator Number
- ONRR Payor Number

[2021-10-01 20:55] Maroyafaied commented on #1066
@Toddsand21 please review the change you requested. Thanks

http://2017onrr/events.htm

[2021-10-01 20:57] Toddsand21 commented on #1066
It looks fine and ready to go live.  Thanks!

[2021-10-01 21:28] Toddsand21 commented on #1066
One other change:  Please change the day from Tuesday, October 20, 2021 to read... Wednesday, October 20, 2021 on the Pawnee Meeting?  And there should be no other changes and ready to go.  Thanks!

[2021-10-01 21:30] Maroyafaied commented on #1066
Ok I'll make that change. Thanks

[2021-10-01 21:35] Maroyafaied commented on #1066
Changes should be live within 30 min, I'll close this once its live. http://2017onrr/events.htm

[2021-10-01 22:09] Maroyafaied commented on #1066
All changes are live. Closing.

[2021-10-01 22:09] #1066 closed

[2021-10-01 22:37] Toddsand21 commented on #1066
Changes look fine. Thanks!

[2021-10-01 23:09] cmathers1 opened #1067 "Replace Dear Reporter Letters on ONRR.gov"
Good afternoon,

Please replace the docs on onrr.gov with the attached remediated docs. Thank you!

[Field-Fuel-Valuation-and-Reporting.pdf](https://github.com/ONRR/onrr.gov-site/files/7270485/Field-Fuel-Valuation-and-Reporting.pdf)
[20000602.pdf](https://github.com/ONRR/onrr.gov-site/files/7270477/20000602.pdf)
[20001122.pdf](https://github.com/ONRR/onrr.gov-site/files/7270478/20001122.pdf)
[2014

[2021-10-04 12:54] cthomasONRR commented on #1067
@cmathers1

Thanks for sending these documents! I reviewed the 7 docs, and all 7 passed the accessibility check. I moved them over to the live site.

@mcharg, the accessibility tracking spreadsheet is also updated.

Thanks!
Christine

[2021-10-04 13:31] cthomasONRR commented on #906
@Maroyafaied We're now up to 191 terms, with 88 of those needing definitions. I would really like to cap this glossary at 200 terms. I plan to make several issues so I can develop definitions in stages instead of all at once, and separate issues to make sure existing definitions are at an appropriate reading level. But I would really like to cap this glossary at 200 terms so this project stays man

[2021-10-04 14:04] cthomasONRR commented on #483
I looked back at Amy's email at her table she made for us. Because the 2020 Rule has been officially withdrawn, it is much simpler:
![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/ee229126-8ba5-495c-b0fc-2cd850aa4541)

[2021-10-04 14:46] bbell0229 opened #1068 "Late Payment & Underpayment Interest Tables"
Morning!

On the Late Payment & Underpayment Interest Tables page at https://www.onrr.gov/ReportPay/interest.htm, please make the following updates:

If you have any questions, please let me know.

Thank you,

Brittney Bell

[Interest_Calculator_Master.xlsx](https://github.com/ONRR/onrr.gov-site/files/7278896/Interest_Calculator_Master.xlsx)

[2021-10-04 14:56] cmathers1 commented on #1067
Thank you, Christine!

Sincerely,

Christina

Christina Mathers
Staff Assistant
Director/Deputy Director's Office
Office of Natural Resources Revenue
6th Avenue and Kipling Street Bldg. 85
Denver, Colorado 80225
Phone:  303-231-3429
Cell: 303-503-1315
________________________________
From: Christine Thomas ***@***.***>
Sent: Monday, October 4, 2021 8:17 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: M

[2021-10-04 15:33] cvojslavek commented on #1068
Hi Brittney. Please review and approve the changes made, http://2017onrr/reportpay/interest.htm.

We noticed this was the prior date, 07/1/2021 - 10/31/2021. Should this be 07/1/2021 - 9/30/2021?

[2021-10-04 15:37] bbell0229 commented on #1068
I believe that was a typo. It should have been 9/30/2021. Please make that update. All other updates look correct.

Thank you,

Brittney A. Bell
Staff Accountant, Financial Services
Revenue, Reporting, & Compliance Management
Office of Natural Resources Revenue
Bldg 85, Denver Federal Center
Denver, CO 80225
1-800-433-9801 x 3381
303.231.3381
***@***.******@***.***>

From: Cat Vojslavek ***@***.**

[2021-10-04 15:46] cvojslavek commented on #1068
@bbell0229 we fixed the typo to 07/01/2021 - 09/30/2021. Please review and give us your approval to go live. Thank you. http://2017onrr/reportpay/interest.htm

[2021-10-04 15:48] bbell0229 commented on #1068
This can go live. Thank you!

Brittney A. Bell
Staff Accountant, Financial Services
Revenue, Reporting, & Compliance Management
Office of Natural Resources Revenue
Bldg 85, Denver Federal Center
Denver, CO 80225
1-800-433-9801 x 3381
303.231.3381
***@***.******@***.***>

From: Cat Vojslavek ***@***.***>
Sent: Monday, October 4, 2021 9:46 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Bell, Brittney A

[2021-10-04 16:16] cvojslavek commented on #1068
@lpgoldstein The changes went live. https://onrr.gov/reportpay/interest.htm Please review before I notify Brittney and close this issue.

[2021-10-04 16:37] cvojslavek commented on #1068
@lpgoldstein Thank you for your review!
@bbell0229 Thank you for approving! The changes went live. https://onrr.gov/reportpay/interest.htm Please note that you may have to use “Ctrl+F5” to refresh. Closing this issue.
Thank you.
Cat

[2021-10-04 16:37] #1068 closed

[2021-10-04 18:21] cthomasONRR opened #1069 "Update onshore operators contact information"
https://www.onrr.gov/ReportPay/production-reporter-checklist.htm
![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/6969c14a-5bbf-4055-a6db-5459d104e926)

This 303-231-3627 is now Alexis Long's phone number. We need to figure out the correct contact information to put online.

[2021-10-04 18:52] cthomasONRR commented on #1069
https://www.onrr.gov/reportpay/prod-checklist.htm
The production reporter checklist has Stacy and Dustin listed... maybe these are the correct contacts?
![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/e89678d2-7b1b-44ea-a036-4865d5c6ca37)

[2021-10-04 18:54] cthomasONRR commented on #1069
OK super weird... there are 2 versions of this same New Production Reporter webpage:
This is the webpage when you navigate from the website: https://www.onrr.gov/reportpay/prod-checklist.htm
But if you use the search tool, you get this different/old one: https://www.onrr.gov/ReportPay/production-reporter-checklist.htm

[2021-10-04 19:17] cthomasONRR commented on #483
Attached is my mock-up of the new regs tables:

[RegulationsTalbe](https://app.zenhub.com/files/210892300/6558c7aa-4d41-4523-ac8a-3ad4258e1134/download)

[2021-10-04 19:20] mcharg opened #1070 "Sitemap changes related to miscellaneous pages added to wireframes"
IONR page has subpages that need to be added. https://qmcq5k.axshare.com/#id=yus88b&p=ionr&g=1

And I added the glossary page to the header. https://qmcq5k.axshare.com/#id=r7lprg&p=glossary&g=1

[2021-10-04 19:22] cthomasONRR commented on #1069
I realized that this old/duplicate webpage (https://www.onrr.gov/ReportPay/production-reporter-checklist.htm) needed to be removed from the Y and Z drives. I removed them and Shannon set up a redirect so that people who bookmarked the old webpage are brought to https://www.onrr.gov/reportpay/prod-checklist.htm.

I will close this issue once the change is live and the redirect link is verified as w

[2021-10-04 19:33] cthomasONRR commented on #1069
Change is live and redirect link works! Closing issue!

[2021-10-04 19:33] #1069 closed

[2021-10-04 19:41] #1037 closed

[2021-10-04 19:57] mcharg commented on #483
Wireframe updated and sent to RV to review.
https://qmcq5k.axshare.com/#id=l9inb4&p=valuation___pricing

[2021-10-04 20:04] cthomasONRR commented on #483
For Current Indian Oil regs, could you link to “2015 Indian Oil Rule” (https://www.onrr.gov/Laws_R_D/FRNotices/AA15.htm) it looks like that one link didn’t update.

In the hyperlinks, you can remove the RINs in the parentheses… these were just for me to keep track.

[2021-10-04 21:12] forgravec opened #1071 "September Indian Index Zone prices ready"
The September Indian Gas Index Zone prices have been calculated and are ready to be posted onto ONRR.gov.
The prices have been placed into the "Data for ONRR.gov" spreadsheet in the shared Onedrive location.

Thanks,
Cory Forgrave
@Sudarr

[2021-10-04 21:42] lpgoldstein commented on #1071
@forgravec This is ready for your review: http://2017onrr/valuation/allzones.htm

[2021-10-04 21:47] forgravec commented on #1071
Prices look good.

Thanks for doing this so quickly.
Cory Forgrave
Economist
Office of Natural Resources Revenue
303-231-3589
***@***.***

________________________________
From: lpgoldstein ***@***.***>
Sent: Monday, October 4, 2021 3:42 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Forgrave, Cory J ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] September Indian Index

[2021-10-04 22:01] lpgoldstein commented on #1071
@forgravec Of course! I know how important they are to users. It should be live in the next hour and I'll close out the issue once you let me know if it looks okay.

[2021-10-04 22:11] forgravec commented on #1071
You can close it out...all looks well.

Thanks,
Cory Forgrave
Economist
Office of Natural Resources Revenue
303-231-3589
***@***.***

________________________________
From: lpgoldstein ***@***.***>
Sent: Monday, October 4, 2021 4:01 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Forgrave, Cory J ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] September Indian Index Zone

[2021-10-04 22:16] #1071 closed

[2021-10-04 22:47] daniel-coleman-1 commented on #1048
Mostly good, I found two issues.

It looks like the Active Leases file has 1740 downloads from ReportPay (upper case) and 1692 downloads from reportpay (lower case).  Should I combine them?
![ONRR_Downloads_FY21](https://user-images.githubusercontent.com/83892362/135934360-31353b18-a2b7-4ea2-b613-f3712c320d92.png)

I pulled the below search from search.gov.  Where could "bddbhagf efdfvibcyf" be co

[2021-10-05 13:06] Maroyafaied commented on #906
Here are terms I suggest we add

- Transaction code
- Offshore
- Onshore
- Joint Operating Agreements
- Calendar Month avg
- NYMEX Roll

And here are terms listed in the excel sheet that I suggest we take out.

- Area - We have area and designated areas, I think we can get rid of area and keep designated areas
- Check Payment -self explanatory
- Electronic payment - self explanatory
- Gross Domest

[2021-10-05 13:15] cthomasONRR commented on #906
@Maroyafaied Thanks for your input - I just made the updates you suggested in the Excel.

[2021-10-05 13:39] mcharg commented on #1047
Comment for this was put in the NRRD issue.
https://github.com/ONRR/nrrd/issues/1754#issuecomment-933838104

[2021-10-05 13:45] mcharg commented on #1048
@daniel-coleman-1 Yes, we should combine all the instances of capitalization differences.

I would keep the search term as is, since it's what's in the report.

[2021-10-05 14:09] mcharg commented on #1047
@daniel-coleman-1 Page views graph is missing.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/a1860674-3803-47eb-b9b2-048346cfddf5)

[2021-10-05 14:11] mcharg commented on #1047
@daniel-coleman-1 It's fine to skip the not set landing page.

[2021-10-05 14:16] mcharg commented on #1047
@daniel-coleman-1 Safari desktop is above 1% and needs to be added. ![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/7ff01611-e50c-49d4-a720-5493f2391a88)

[2021-10-05 14:18] mcharg commented on #1048
@daniel-coleman-1 Chrome desktop should be 48.87%
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/9858c0c3-77db-4680-84ed-c929af857a5e)

[2021-10-05 14:21] mcharg commented on #1047
@daniel-coleman-1 The download numbers are copied from August.  These are the September numbers.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/75d07d5b-f20f-4b2a-8cc6-5645dd61995e)

[2021-10-05 14:23] mcharg commented on #1048
@daniel-coleman-1 The third outbound link is DataWarehouse Portal (what WebCenter Portal used to be), not NRRD portal.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/e9fef234-d581-4829-b66c-375bb0483ddf)

[2021-10-05 14:24] Maroyafaied commented on #906
@mcharg @cthomasONRR here's the OGOR B Disposition codes glossary https://teams.microsoft.com/l/file/ABCBCB23-4E64-48A6-9029-AA3F864277FD?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FNRRD%2FData%2FOGOR%20B%2FOGOR.B.Disposition.Categories.Glossary-2.xlsx&baseUrl=https%3A%2F%2Fdoimspp.sharep

[2021-10-05 15:53] daniel-coleman-1 commented on #1048
@mcharg thanks for the notes, updated.
Is there a way to identify total unique searches for FY 2021?  We have them for FY 2019 but not 2020 or 2021

2021
![fy2021](https://user-images.githubusercontent.com/83892362/136058380-e4e87e9b-3044-4c66-b460-4aadb4867160.png)

.
2020
![FY2020](https://user-images.githubusercontent.com/83892362/136058472-32aab444-8708-42bf-882c-f66b36affce4.png)

2019
![FY20

[2021-10-05 16:09] mcharg commented on #1048
@daniel-coleman-1 I think you may have to generate the report for the date range and then copy and paste into Excel and get a sum to get the yearly numbers.

[2021-10-05 16:24] mcharg commented on #1048
@daniel-coleman-1 Makes sense to add up the monthly numbers.  That may have been what I did for 2019.

[2021-10-05 17:31] penvosej opened #1072 "Add September NYMEX prices to ONRR.gov"
The September NYMEX prices are ready to be posted to ONRR.gov. The file with the data is attached. Thank you!
@sudarr
[NYMEX092021.xlsx](https://github.com/ONRR/onrr.gov-site/files/7287958/NYMEX092021.xlsx)

[2021-10-05 17:43] cthomasONRR commented on #1072
@penvosej I made the update on the dev site. Please review and let us know if it's good to go live. Thanks! http://2017onrr/valuation/NYMEX.htm

[2021-10-05 17:56] penvosej commented on #1072
Hi Christine! Thanks for taking care of this so quickly!

The data for September looks good, but can you do me a favor? Can you make it so that all months show two digits past the decimal point? So the January NYMEX would be $52.10, the April NYMEX would be $61.70, and the May Roll would be $0.00. I try to catch this when I am assigned to one of the price calculations, but I've been doing Indian I

[2021-10-05 17:59] cthomasONRR commented on #1072
@penvosej It should be fixed now (http://2017onrr/valuation/NYMEX.htm)... There's some odd communication between the spreadsheet and the website, s0 I have to manually get it to 2 decimal places every time.

[2021-10-05 18:03] penvosej commented on #1072
That looks great, thank you! I thought it probably was an idiosyncrasy of one of the systems, so I really appreciate you manually fixing it!!!

This page looks ready to go live!

From: Christine Thomas ***@***.***>
Sent: Tuesday, October 5, 2021 12:00 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Penvose, Jessica M ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] Add Se

[2021-10-05 18:58] cthomasONRR commented on #1072
@penvosej The changes are live! https://www.onrr.gov/valuation/NYMEX.htm Closing this issue now.

[2021-10-05 18:58] #1072 closed

[2021-10-05 19:24] daniel-coleman-1 commented on #1047
@mcharg I think we're good on this one

[2021-10-05 19:28] cthomasONRR opened #1073 "Make Christina Mathers Correspondence Templates 508-Compliant"
For Nichelle Rodgers 508 ONRR Approach Team - Documents Team. Christina Mathers uploaded 6 letterheads and 1 correspondence handbook for me to make compliant:

- [x] Dallas
- [x] Denver
- [x] FIMO
- [x] Houston
- [x] OKC
- [x] Tulsa
- [x] Correspondence Handbook

[2021-10-05 19:40] #1047 closed, assigned to nobody

[2021-10-05 20:01] #997 closed

[2021-10-05 21:09] daniel-coleman-1 commented on #1048
@mcharg I think this one is good to close

[2021-10-05 22:45] merrellc opened #1074 "Webpage- Federal Onshore Teminable Leases"
Please update the following webpage http://www.onrr.gov/ReportPay/royalty-reporting.htm with the attached excel file.:

Federal Onshore Terminable Leases- sorted by Due Date.  Also update date to read -updated 10/01/21.

Thank you

[202110.xlsx](https://github.com/ONRR/onrr.gov-site/files/7289684/202110.xlsx)

[2021-10-06 13:27] mcharg commented on #1048
Looks like all is good.  I updated the FY19 total searches to add monthly because it wasn't doing that.

[2021-10-06 13:27] #1048 closed

[2021-10-06 13:43] merrellc commented on #1074
Approve of changes.

Thank you,
​Candace Merrell
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3517
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disc

[2021-10-06 14:34] #1073 closed

[2021-10-06 21:16] lpgoldstein opened #1075 "Contacts Design Studio - Scope Definition"

[2021-10-06 21:17] lpgoldstein opened #1076 "Contacts Design Studio - Offline solution sketching"

[2021-10-06 21:18] lpgoldstein opened #1077 "Contacts design studio - solution review and intro to hole poking"

[2021-10-06 21:19] lpgoldstein opened #1078 "Contacts Design Studio - offline hole poking analysis"

[2021-10-06 21:19] lpgoldstein opened #1079 "Contacts Design studio - hole poking review and retro"

[2021-10-07 02:31] #1049 closed

[2021-10-07 14:49] aklong09 opened #1080 "Request to Update ONRR ICR Page"
Good morning,

Please update ONRR's ICR page (1012-0001) located at: https://www.onrr.gov/Laws_R_D/FRNotices/ICR0162.htm

At the top, please add a new bullet to the bulleted list to read as follows: "30-Day Agency Information Collection - (86 FR 55858--October 7, 2021)".

For the "(86 FR 55858--October 7, 2021)" language, please attach the following hyperlink: https://www.federalregister.gov/docum

[2021-10-07 14:54] aklong09 opened #1081 "Request to Update ONRR's Federal Register Notices Page"
Good morning,

Please update ONRR’s Federal Register Notices page, located at: https://www.onrr.gov/Laws_R_D/FRNotices/index.htm

At the top, please create a new entry with today’s date (October 7th) to read as follows:
“86 FR 55858
Thursday, October 7, 2021
**Denver, CO** In accordance with the Paperwork Reduction Act of 1995, ONRR is proposing to renew an information collection request. OMB Cont

[2021-10-07 17:08] #1029 closed

[2021-10-07 17:10] lpgoldstein opened #1082 "Add wireframe study findings to wiki"

[2021-10-07 17:11] #906 closed

[2021-10-07 17:38] cthomasONRR commented on #1081
@aklong09 - Thanks! I just updated the live site (https://www.onrr.gov/Laws_R_D/FRNotices/index.htm). It can take up to 30min for the live site to update, and we recommend using "Ctrl+F5" to refresh the webpage.

I will close this issue once I see the changes live.

Thanks,
Christine

[2021-10-07 18:04] cthomasONRR commented on #1081
@aklong09 The changes are live! Closing issue.

[2021-10-07 18:04] #1081 closed, assigned to cthomasONRR

[2021-10-07 18:04] cthomasONRR commented on #1080
@aklong06 The changes are live! Closing this issue.

[2021-10-07 18:04] #1080 closed

[2021-10-07 19:01] merrellc opened #1083 "Webpage Update - Active Leases"
Please update the following webpage with the attached file -
http://www.onrr.gov/ReportPay/CrossRef.htm

Active leases sorted by State and Agency lease number - Please change to read updated 10/01/2021.

Thank you
[ALwState.xlsx](https://github.com/ONRR/onrr.gov-site/files/7306316/ALwState.xlsx)

[2021-10-07 19:05] bowlenj opened #1084 "Webpage Update 100% Fed Agmt"
Please update the following webpage https://www.onrr.gov/ReportPay/royalty-reporting.htm with the attached excel file.

100% Federal Agreements with the Same Royalty Rate & Royalty Distributions

Also please change (updated 7/01/2021) to read 10/07/2021.
[100pct fed agreements.xlsx](https://github.com/ONRR/onrr.gov-site/files/7306341/100pct.fed.agreements.xlsx)

[2021-10-07 20:31] cthomasONRR commented on #1083
The live site is updated! Closing this issue.

[2021-10-07 20:31] #1083 closed

[2021-10-07 21:18] StaceyKaiser opened #1085 "Webpage Update - New Lease Agreement XREF file for onrr.gov"
Please replace the existing file located at: http://www.onrr.gov/ReportPay/CrossRef.htm called “Downloadable Text Cross-Reference Lease to Agreement Number” with the file entitled “October 2021 Lease Agreement XREF.txt”.  It was queried from the system on 10/7/2021.
[October 2021 Lease Agreement XREF.txt](https://github.com/ONRR/onrr.gov-site/files/7306992/October.2021.Lease.Agreement.XREF.txt)

[2021-10-07 21:35] cvojslavek opened #1086 "Fix the f typos at top of pages"
- [x] https://onrr.gov/reportpay/payments.htm
- [x] https://onrr.gov/IndianServices/index.htm
- [x] https://onrr.gov/about/office-locations.htm
![image](https://user-images.githubusercontent.com/89403899/136465207-f844b626-ba0b-4046-845e-d940266fb1f3.png)
![image](https://user-images.githubusercontent.com/89403899/136465328-151198ed-6c84-43cc-84b2-79ab9c62e057.png)
![image](https://user-images.git

[2021-10-07 22:04] #1084 closed

[2021-10-07 22:54] daniel-coleman-1 commented on #1085
@StaceyKaiser the requested updates have been added to the dev site:
http://2017onrr/ReportPay/CrossRef.htm

With your approval, I will push these changes live.

[2021-10-07 23:32] jlouis-onrr opened #1087 "Side menu to drop down for mobile views"

[2021-10-08 03:00] #1086 closed, assigned to lpgoldstein, cvojslavek

[2021-10-08 13:11] Daphnesmum commented on #1085
Downloadable Text Cross-Reference Lease to Agreement Number.txt file looks correct and can be published to the live site.

[2021-10-08 13:53] #1085 closed, assigned to nobody

[2021-10-08 14:40] aklong09 opened #1088 "Request to Update ONRR ICR Page"
Good morning,

Please update ONRR's ICR page (1012-0003) located at: https://www.onrr.gov/Laws_R_D/FRNotices/ICR0087.htm

At the top, please add a new bullet to the bulleted list to read as follows: "30-Day Agency Information Collection - (86 FR 56288--October 8, 2021)".

For the "(86 FR 56288--October 8, 2021)" language, please attach the following hyperlink: https://www.federalregister.gov/docum

[2021-10-08 14:43] aklong09 opened #1089 "Request to Update ONRR's Federal Register Notices Page"
Good morning,

Please update ONRR’s Federal Register Notices page, located at: https://www.onrr.gov/Laws_R_D/FRNotices/index.htm

At the top, please create a new entry with today’s date (October 8th) to read as follows:
“86 FR 56288
Friday, October 8, 2021
**Denver, CO** In accordance with the Paperwork Reduction Act of 1995, ONRR is proposing to renew an information collection request. OMB Contro

[2021-10-08 14:54] cthomasONRR commented on #1088
@aklong09

I made the changes in the dev site: http://2017onrr/Laws_R_D/FRNotices/ICR0087.htm
Please review and let me know if you approve the changes to go live.

Thanks!
Christine

[2021-10-08 15:03] #1088 closed, assigned to cthomasONRR

[2021-10-08 15:30] cthomasONRR commented on #1089
The changes are live! Closing this issue.

[2021-10-08 15:30] #1089 closed, assigned to cthomasONRR

[2021-10-08 17:09] #1064 closed

[2021-10-12 14:41] Maroyafaied opened #1090 "Identify pages to demo"

[2021-10-12 16:34] Maroyafaied opened #1091 "Add wireframe findings to the wiki"

[2021-10-12 17:09] Maroyafaied commented on #1034
@jlouis-onrr please review.

[2021-10-12 17:17] mcharg commented on #1065
Glossary word doc. https://doimspp.sharepoint.com/:w:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/ONRR_Glossary_Terms.docx?d=w8ff796b34580442c9be04768938bb9a6&csf=1&web=1&e=VmBFNc

[2021-10-12 17:32] jlouis-onrr opened #1092 "Page blocks layout and tab output formatting"

[2021-10-12 17:38] #1082 closed, assigned to lpgoldstein, cvojslavek

[2021-10-12 18:43] mcharg opened #1093 "Recruit participants for 508 compliance stakeholder interviews"

[2021-10-12 20:16] merrellc opened #1094 "Active Leases - Webpage"
Hello, would you please re-upload the attached file. The fields were not expanding correctly on the original document.
![image](https://user-images.githubusercontent.com/61758108/137023033-f87d2b12-b958-4579-b9d0-89cdc3d29463.png)

Thank you!
[ALwState.xlsx](https://github.com/ONRR/onrr.gov-site/files/7332905/ALwState.xlsx)

[2021-10-12 23:23] Maroyafaied opened #1095 "Develop definitions G- L"

[2021-10-13 16:03] jlouis-onrr opened #1096 "Create Press Release Collection and Tab Views"

[2021-10-13 16:04] jlouis-onrr opened #1097 "Finish home page visual design"

[2021-10-13 16:17] daniel-coleman-1 commented on #1070
@mcharg should I nest the page under 6.4.3.2.1 in Indian References -> Regulations -> Oil -> IONR?

![Screenshot 2021-10-13 101557](https://user-images.githubusercontent.com/83892362/137173254-1f64e982-11c6-4e79-a98b-857e3b499937.png)

[2021-10-13 18:13] damionschulte opened #1098 "September IBMP Prices"
All, I have updated the Data for ONRR.gov sheet on the OneDrive  With the September 2021 IBMP prices. Can you please have the published to the website?  Thanks

@sudarr

[2021-10-13 19:26] #1090 closed, assigned to mcharg, Maroyafaied, jlouis-onrr

[2021-10-13 19:31] daniel-coleman-1 commented on #1070
@mcharg Updated, not sure what you mean about sub pages though.  I can jump on a call if that's easier.

[2021-10-13 19:35] mcharg commented on #1070
@daniel-coleman-1 You got it right this time.

[2021-10-13 19:35] #1070 closed

[2021-10-13 20:10] codyeckstein commented on #1094
This is now live. @merrellc

[2021-10-13 20:10] #1094 closed

[2021-10-13 20:13] damionschulte commented on #1098
These look perfect!  Thank you

From: lpgoldstein ***@***.***>
Sent: Wednesday, October 13, 2021 2:05 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Schulte, Damion C ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] September IBMP Prices (#1098)

 This email has been received from outside of DOI - Use caution before clicking on links, opening attachments, or responding.

[2021-10-13 21:08] lpgoldstein commented on #1098
@damionschulte https://onrr.gov/valuation/IndianOilIBMP.htm live! please let me know if this looks okay and I'll close out the issue.

[2021-10-13 21:17] #1098 closed, assigned to lpgoldstein

[2021-10-14 14:42] mcharg commented on #1093
There's a tab in this spreadsheet with a list of types of people to contact.
https://teams.microsoft.com/l/file/C09C0BD3-C590-41E0-8656-F8FFE7851162?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2F508Compliance334%2FShared%20Documents%2FGeneral%2FONRR%20Approach%20Team%2FONRR%20508%20Compliance%20Strategy.xlsx&baseUrl=https%3A%2F

[2021-10-14 15:36] Maroyafaied opened #1100 "NYMEX pricing page frontend"

[2021-10-14 15:40] ONRRamandagarrison opened #1101 "Update to onrr.gov MOU's and SOP's section"
On this page: https://www.onrr.gov/About/MOUs-and-SOPs.htm

See attachment: Interagency SOP Attachment A Addendum 1 (Updated 8.14.2020).pdf

If possible, please move the Onshore Federal and Indian Energy and Mineral lease Management Standard Operating Procedures section to be above FIMO so it's more visible.

Under the .pdf named 'Interagency Standard Operating Procedure September 2013' the .pdf I

[2021-10-14 18:07] daniel-coleman-1 commented on #1101
@ONRRamandagarrison the page is updated in dev here:
http://2017onrr/About/MOUs-and-SOPs.htm

with your approval I will push these changes live.

[2021-10-14 18:29] bowlenj opened #1102 "Royalty Contact update"
Please update the Royalty Contact list at the following location with the attached list - https://www.onrr.gov/reportpay/PDFDocs/royassign.pdf

[royassign.pdf](https://github.com/ONRR/onrr.gov-site/files/7348475/royassign.pdf)

[2021-10-14 18:35] Maroyafaied commented on #1102
@cvojslavek let me know if you don't have time for this issue and I'll reassign it. Thanks

[2021-10-14 19:23] cvojslavek commented on #1102
@bowlenj The changes are on the dev site, http://2017onrr/reportpay/PDFDocs/royassign.pdf. Please review and give us your approval to go live.

Thanks!
Cat

[2021-10-14 20:29] mcharg commented on #1055
I pulled this into the template in #1052.

[2021-10-14 20:32] crobey98 opened #1103 "Update package scripts for Windows"
Currently `npm run start` does not work on Windows. Update the package scripts with either a new script 'wstart' that works for windows or a shell script that runs differently based on OS.

[2021-10-14 20:34] crobey98 commented on #1103
Also update README to reflect changes to package scripts

[2021-10-14 21:07] #1102 closed, assigned to cvojslavek

[2021-10-14 21:17] crobey98 opened #1104 "Update README"
Update README file with instructions on how to initialize, start, stop, etc. via the package scripts.

[2021-10-15 13:10] mcharg opened #1106 "Update MOU & SOP wireframe"
@mcharg can you update the wireframe to have the SOP's tab before the FIMO tab and break out the documents as the pic below.
![image](https://user-images.githubusercontent.com/40175688/137398266-55570301-c0cb-41a9-9a71-042dae1b976f.png)

[2021-10-15 13:12] mcharg commented on #1101
I created #1106 for updating the wireframe.

[2021-10-15 14:55] mcharg opened #1107 "Convert onrr.gov wireframes to Axure 10"
So the interns can edit the file.

There are usually things that break when converting a prototype to a new version of Axure.

[2021-10-15 16:10] mcharg opened #1108 "Create onrr.gov Axure widget library"

[2021-10-15 20:07] #1106 closed, assigned to mcharg

[2021-10-15 20:16] mcharg opened #1109 "Add handbooks to prototype"

[2021-10-15 20:18] mcharg commented on #1107
@lpgoldstein I got through Handbooks, if you want to start looking and adding comments where you see anything broken.
https://qmcq5k.axshare.com/#id=e1wh3o&p=home_v3

[2021-10-15 20:19] mcharg opened #1110 "Standardize pricing tables in wireframes"

[2021-10-18 13:44] mcharg opened #1111 "Table visual design"

[2021-10-18 13:45] mcharg commented on #1057
Created #1111 to address table styling.

[2021-10-18 16:02] mcharg opened #1112 "Get pdfs of the full handbooks"
We don't have them for these:
- [ ] Minerals Production Reporter Handbook
- [ ] Indian Payor Handbook

[2021-10-18 16:14] mcharg opened #1113 "Minerals Revenue Reporter Handbook link is broken"
@lpgoldstein Noticed the link was broken in the prototype.  It's also not working on the live site.  Did the file get moved?
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/6d9a4002-d776-4b63-a225-077c4c4b7ffa)

[2021-10-18 16:27] #1091 closed, assigned to lpgoldstein, cvojslavek

[2021-10-18 16:37] Maroyafaied opened #1114 "Respond to email in mailbox for the IAAF presentation"
The email was send today in the onrrweb@onrr.gov mailbox.

[2021-10-18 17:49] #1113 closed

[2021-10-19 12:46] cthomasONRR opened #1115 "Develop definitions for undefined glossary terms M - Z"
Glossary terms Word document located [here](https://teams.microsoft.com/l/file/8FF796B3-4580-442C-9BE0-4768938BB9A6?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FONRR_Glossary_Terms.docx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD&serviceName=teams&threadId=19:34f

[2021-10-19 14:00] mcharg commented on #1114
I replied yesterday and asked when they want to meet with us.

[2021-10-19 14:11] mcharg commented on #1050
@lpgoldstein I reviewed and added comments.

[2021-10-19 15:21] mojobnichols opened #1116 "Setup circleci deployment"
Set up circle ci deployment for directus.  It should allow the version to match the version locally

[2021-10-19 17:44] mcharg opened #1117 "Provide feedback on ONRResource focus group discussion guide"
They included me in their thread to review the guide.

[2021-10-19 18:20] cvojslavek commented on #1093
@mcharg @lpgoldstein @codyeckstein added a [participant list](https://teams.microsoft.com/l/file/7CDA56A1-9871-48AF-B978-206C52AC069F?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FUser%20Research%2FStudies%2F09_508_compliance%2FParticipant%20list.xlsx&baseUrl=https%3A%2F%2Fdoimsp

[2021-10-19 19:05] mcharg commented on #1093
Looks good @cvojslavek Thanks!

[2021-10-19 20:23] cthomasONRR opened #1118 "Redesign the Rulemakings lists into a searchable table"
https://qmcq5k.axshare.com/#id=h57jbd&p=rulemakings
Within the above wireframe, make ONRR and MMS rulemakings into a singular table that includes: RIN, final publication date, rulemaking title, informal title, federal or Indian, commodity.

[2021-10-19 21:10] crobey98 opened #1119 "Fix security vulnerabilities in repo and update .env credentials"

[2021-10-20 13:34] #1117 closed, assigned to mcharg

[2021-10-20 13:53] #1114 closed, assigned to mcharg, lpgoldstein

[2021-10-20 18:47] mcharg commented on #483
@cthomasONRR Wireframe is updated and links to the new Rulemaking page.
https://qmcq5k.axshare.com/#id=l9inb4&p=valuation___pricing

[2021-10-20 18:53] cthomasONRR commented on #1118
These are nitpicky things:

For the informal name, could you put it in quotations? For example, "2020 Valuation Rule".
![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/18c01724-d35d-41c3-8842-4512f52c1cea)

Could you make the RIN column wider so that when there's 2 RINs, each full RIN is on one line? For example, make sure the 1010-AC29 isn't broken up in 2 lines. Hope th

[2021-10-20 19:34] mcharg commented on #483
@cthomasONRR Done

[2021-10-20 19:35] #1075 closed

[2021-10-20 19:52] #1118 closed

[2021-10-20 21:49] daniel-coleman-1 commented on #1025
@mcharg @Maroyafaied should we direct users to email the 4444s in this form as well?
https://www.onrr.gov/reportpay/PDFDocs/ONRR4444_Instructions.pdf

[2021-10-21 12:09] lpgoldstein commented on #1107
@mcharg I just made a few more comments. There is also one instance of the sticky footer but I didn't comment because of our previous conversation - just in case anyone else notices.

[2021-10-21 14:46] daniel-coleman-1 commented on #1025
@mcharg that makes sense, thanks for explaining!

[2021-10-21 15:23] jlouis-onrr opened #1120 "Add Horizontal Rule Tool to EditorJs"

[2021-10-21 16:38] mcharg commented on #1111
We have #852 to implement the styling.

[2021-10-21 16:38] #1111 closed

[2021-10-21 17:12] #1095 closed

[2021-10-21 17:19] #1093 closed, assigned to mcharg, lpgoldstein, Maroyafaied, cvojslavek, codyeckstein

[2021-10-21 17:21] mcharg opened #1121 "Conduct 508 compliance stakeholder interviews"

[2021-10-21 17:21] mcharg opened #1122 "Conduct 508 compliance stakeholder interviews"

[2021-10-21 17:24] #1092 closed

[2021-10-21 20:43] jpetersononrr opened #1123 "Please post Dear Reporter Letter"
Christina and I checked for compliance.  Please post the Dear Reporter Letter signed today, Oct 21, and let us know what the link is!  Thank you!

[2021-10-13 Withdrawal Rule DRL Final signed.pdf](https://github.com/ONRR/onrr.gov-site/files/7392716/2021-10-13.Withdrawal.Rule.DRL.Final.signed.pdf)]

[2021-10-21 21:54] cthomasONRR commented on #1123
@jpetersononrr

Great! I just moved the updates to the live site (https://www.onrr.gov/DearRep.htm).
It can take 30-60min for the live site to update, please use 'Ctrl+F5' to refresh the webpage.

I will close this issue once I see the changes live.

Thanks,
Christine

[2021-10-21 23:21] #1123 closed, assigned to cthomasONRR

[2021-10-22 12:40] cthomasONRR opened #1124 "Update Rulemakings wireframe per Regs Team suggestions"
Here are the Regs Team comments:
- For the general statement on the page, would it be possible to please revise to: "Pursuant to the authority delegated by the Secretary of the Interior, ONRR promulgates regulations under the mineral leasing laws that govern royalty management."

- Regarding RIN 1012-AA27, the rule title is abbreviated to "2020 Valuation Rule" but no reference to the withdrawal of

[2021-10-22 16:36] mojobnichols opened #1125 "Build cms deployment scripts"
We need way to keep cms update

[2021-10-25 14:21] lpgoldstein opened #1126 "508 compliance recruiting"
We need all of the user types

1 manager/leader
3 people that need assistance
4 people that don't know about 508
1 person that creates 508 documents

[2021-10-25 14:41] cthomasONRR opened #1127 "Create a new webpage for the 1989 Coal Rule"
The 1989 Coal Rule (https://archives.federalregister.gov/issue_slice/1989/1/13/1469-1514.pdf#page=6) is not currently on the onrr.gov website. Regs Team confirmed that the RIN system was implemented in 1993, so there is no RIN for this rule. We still need to make a webpage for it and add it to the rulemakings table with the RIN listed as N/A.

[2021-10-25 15:38] Maroyafaied opened #1128 "Touch base with doc owners for phase 3"

[2021-10-25 15:40] Maroyafaied opened #1129 "Conduct User Interviews - 508 Compliance"

[2021-10-25 15:58] #1129 closed, assigned to nobody

[2021-10-25 15:58] #1121 closed, assigned to mcharg, lpgoldstein

[2021-10-25 17:06] #1124 closed, assigned to mcharg, cthomasONRR

[2021-10-25 17:15] #1116 closed, assigned to nobody

[2021-10-25 17:47] aklong09 opened #1130 "Request to Update ONRR's Rules & Regulations Page"
Hello,

Please update ONRR’s Rules and Regulations web page located at:  https://www.onrr.gov/Laws_R_D/index.htm

Under the bulleted list of ONRR rulemakings, please create a new bullet directly under “AA27: ONRR 2020 Valuation Reform and Civil Penalty Rule” that reads as follows:
“AA26: Consolidated Federal Oil and Gas and Federal and Indian Coal Valuation Reform; Reissuance of Regulations”

For

[2021-10-25 19:17] cthomasONRR opened #1131 "Check breadcrumbs on rulemaking webpages"
I'm noticing that a lot of the breadcrumbs on the individual rulemaking webpages are wrong. I'm going through, checking, and updating breadcrumbs where needed.

[2021-10-25 19:17] cthomasONRR opened #1132 "Check breadcrumbs on rulemaking webpages"
I'm noticing that a lot of the breadcrumbs on the individual rulemaking webpages are wrong. I'm going through, checking, and updating breadcrumbs where needed.

[2021-10-25 19:18] #1131 closed, assigned to cthomasONRR

[2021-10-25 19:30] #1132 closed, assigned to cthomasONRR

[2021-10-25 20:11] #1130 closed, assigned to nobody

[2021-10-26 17:12] #1115 closed, assigned to cthomasONRR, codyeckstein

[2021-10-26 17:16] cthomasONRR opened #1133 "Discuss next steps in glossary project"
Glossary definitions are located [here](https://teams.microsoft.com/l/file/8FF796B3-4580-442C-9BE0-4768938BB9A6?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FONRR_Glossary_Terms.docx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD&serviceName=teams&threadId=19:34f9f9e

[2021-10-26 17:18] cthomasONRR opened #1134 "Review new glossary definitions"
Glossary definitions are located [here](https://teams.microsoft.com/l/file/8FF796B3-4580-442C-9BE0-4768938BB9A6?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FONRR_Glossary_Terms.docx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD&serviceName=teams&threadId=19:34f9f9e

[2021-10-27 13:50] bowlenj opened #1135 "Offshore Production Reporting Contacts"
Please replace the Offshore Production Reporting contact sheet at the following location with the attached PDF - https://www.onrr.gov/reportpay/PDFDocs/OffshoreProductionContacts.pdf

Thank You!
[Offshore listing for web.pdf](https://github.com/ONRR/onrr.gov-site/files/7426648/Offshore.listing.for.web.pdf)

[2021-10-27 14:06] bowlenj opened #1136 "ONRR.gov Update Request"
Please remove Dustin Adair from the below link and replace with:

Jessica Bowlen
Jessica.Bowlen@onrr.gov

https://www.onrr.gov/ReportPay/roy-checklist.htm

[2021-10-27 14:57] bowlenj opened #1137 "Lease/Agreement Maintenance Contacts Update"
Please replace the Lease/Agreement Maintenance Contact sheet at the below link with the attached pdf.

https://onrr.gov/ReportPay/PDFDocs/RS_LeAgAssignments.pdf

Thank You!
[Lease Agreement Maintenance Contacts_10-27-21.pdf](https://github.com/ONRR/onrr.gov-site/files/7427166/Lease.Agreement.Maintenance.Contacts_10-27-21.pdf)

[2021-10-27 15:01] Maroyafaied opened #1138 "Update sitemap Rulemaking page"
This does not match the wireframe, and some numberings are incorrect. I put comments on the sitemap.

[2021-10-27 16:07] #1136 closed, assigned to cvojslavek

[2021-10-27 19:45] #1137 closed, assigned to codyeckstein

[2021-10-27 20:16] mcharg opened #1139 "Consolidate findings from 508 compliance interviews"

[2021-10-27 20:18] mcharg opened #1140 "October Analytics"

[2021-10-28 21:20] #1135 closed, assigned to mcharg, codyeckstein

[2021-10-28 21:48] jlouis-onrr opened #1141 "EditorJs CodeBlock not saving some data"
attributes appear not to be saving, but in the default editorjs this is not occuring

[2021-10-28 22:18] #1128 closed, assigned to Maroyafaied

[2021-10-29 18:06] bakercook opened #1142 "Add Indian Distribution Dates calendar to ONRR.gov"
Please add Indian Distribution Dates for Calendar Year 2022 to Allottee Assistance page.

[Indian Distribution Dates for Calendar Year 2022.pdf](https://github.com/ONRR/onrr.gov-site/files/7444066/Indian.Distribution.Dates.for.Calendar.Year.2022.pdf)

![image](https://user-images.githubusercontent.com/84582338/139481705-59887a25-5e79-4188-b4d9-cb40e15399b4.png)

[2021-10-29 18:15] cthomasONRR commented on #1142
@bakercook

Hello,
I made this update on the dev site: http://2017onrr/IndianServices/index.htm
Please review and let us know if you approve for these changes to go live.
Thanks!
Christine

[2021-10-29 18:22] bakercook commented on #1142
Thank you Christine. That was fast! Can you put the 2021 memo back on the page? The Mineral Owners still need that through December. I will request removal in Q1 CY 2022.

Cheri Baker
Supervisor, Accounts Payable
Office of Natural Resources Revenue
Bldg. 85, Denver Federal Center
Phone: 303-231-3137

________________________________
From: Christine Thomas ***@***.***>
Sent: Friday, October 29, 202

[2021-10-29 18:23] bakercook commented on #1142
Forgot to mention CY 2022 looks good. thanks again

Cheri Baker
Supervisor, Accounts Payable
Office of Natural Resources Revenue
Bldg. 85, Denver Federal Center
Phone: 303-231-3137

________________________________
From: Baker, Cheri L ***@***.***>
Sent: Friday, October 29, 2021 12:22 PM
To: ONRR/onrr.gov-site ***@***.***>
Subject: Re: [EXTERNAL] Re: [ONRR/onrr.gov-site] Add Indian Distribution Da

[2021-10-29 18:28] cthomasONRR commented on #1142
@bakercook

Sorry for my misunderstanding!
Here is the updated dev site with both CY 21 and 22: http://2017onrr/IndianServices/index.htm
Please review again and let me know if you approve.
Thanks!
Christine

[2021-10-29 18:31] bakercook commented on #1142
No worries. I approve. Thank you and enjoy your weekend!

Cheri

________________________________
From: Christine Thomas ***@***.***>
Sent: Friday, October 29, 2021 12:28 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Baker, Cheri L ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] Add Indian Distribution Dates calendar to ONRR.gov (Issue #1142)

 This email has been rece

[2021-10-29 18:34] cthomasONRR commented on #1142
@bakercook
Great! I just made the changes live. It can take about 30min for the changes to appear on the live site. Use 'Ctrl+F5' to refresh the page. I will close this issue once I see the changes live.
Thanks!
Christine

[2021-10-29 19:13] #1142 closed

[2021-10-29 20:01] mcharg commented on #1126
We're at 30 participants.  I think that's enough, so closing.

[2021-10-29 20:01] #1126 closed

[2021-11-01 15:35] Maroyafaied opened #1143 "Remove and archive docs in phase 3 with no response - Nov 15th"
For the document owners that haven't responded to our request for phase 3, I emailed them letting them know if we don't hear back then we will remove and archive documents.

[2021-11-01 16:47] bowlenj opened #1144 "Federal Onshore Terminable Leases"
Please update the following webpage https://www.onrr.gov/ReportPay/royalty-reporting.htm with the attached excel file:

Federal Onshore Terminable Leases - sorted by Due Date, please change (10/01/2021) to read (updated 11/01/2021)

[202111.xlsx](https://github.com/ONRR/onrr.gov-site/files/7454851/202111.xlsx)

[2021-11-01 17:01] cthomasONRR commented on #1144
@bowenj

Hello,
I made these updates on the dev site: http://2017onrr/reportpay/royalty-reporting.htm
Please review and give me your approval to go live.
Thanks!
Christine

[2021-11-01 17:08] bowlenj commented on #1144
Looks great, thank you!

Thank You,
Jessica Bowlen
Office of Natural Resource Revenue
Distribution and Disbursement Support Services
Team 1B
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosure under applicable law.  If the reader of th

[2021-11-01 17:12] cthomasONRR commented on #1144
@bowenj

Great! I just made these changes live: https://www.onrr.gov/ReportPay/royalty-reporting.htm
It can take up to 30min for the changes to appear on the live site. Please use 'Ctrl+F5' to refresh the page.
I will close this issue once I see the changes live.
Thanks,
Christine

[2021-11-01 18:24] #1144 closed

[2021-11-01 19:49] cvojslavek opened #1145 "Add new site 301 redirects to Redirects spreadsheet"
For internal redirects found, add the new site 301 redirects from the [SEO_Export spreadsheet](https://doimspp.sharepoint.com/sites/NRRD/Shared Documents/General/ONRR.gov/Design/CMS/SEO_export.xlsx?web=1) to the [Redirects spreadsheet](https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared Documents/General/ONRR.gov/Content Audit/Redirects.xlsx?d=w8f317b52f37e47bb8d41dc17ea254e0c&csf=1&web=1&e=R4y

[2021-11-01 19:54] #853 closed

[2021-11-01 19:54] cvojslavek commented on #853
Added internal and external redirects to Redirects spreadsheet for 2,525 old urls.

Opened "Add new site 301 redirects to Redirects spreadsheet#1145" to add the new site 301 redirects for internal redirects found.

[2021-11-02 15:52] bowlenj opened #1146 "Royalty Reporting and Error Correction Contact List"
Please update the Royalty contact list at the following link with the attached list - https://www.onrr.gov/reportpay/PDFDocs/royassign.pdf

They've added a backup column.

[ROYASSIGN 11-2-2021.pdf](https://github.com/ONRR/onrr.gov-site/files/7462122/ROYASSIGN.11-2-2021.pdf)

[2021-11-02 15:59] cthomasONRR commented on #1146
@bowlenj

I updated the document on the dev site: http://2017onrr/reportpay/royalty-reporting.htm
Please review and let me know if you approve this update.

Thanks,
Christine

[2021-11-02 16:00] bowlenj commented on #1146
Looks great, thank you!

Thank You,
Jessica Bowlen
Office of Natural Resource Revenue
Distribution and Disbursement Support Services
Team 1B
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosure under applicable law.  If the reader of th

[2021-11-02 16:06] cthomasONRR commented on #1146
@bowlenj
Great! I just made this change live. It can take up to 30min for the change to appear on the live site. Please remember to use 'Ctrl+F5' to refresh the page. I will close this issue once I see the change live.
Thanks,
Christine

[2021-11-02 16:10] cthomasONRR opened #1147 "Update 'ContactsFiles' Excel for Royalty Reporting and Error Correction contacts"
They added a new column with 2 backup contacts each to this PDF: https://www.onrr.gov/reportpay/PDFDocs/royassign.pdf. It will take me a bit to make sure all this information is correctly cataloged into the [Excel](https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Contacts/ContactsFiles.xlsx?d=wee2fc3b441964dce928684aaf6e25e00&csf=1&web=1&e=CnaL3O).

[2021-11-02 17:07] #1146 closed

[2021-11-02 18:25] #1076 closed

[2021-11-02 18:51] daniel-coleman-1 opened #1148 "Update Production Reporting References"
via email from Johnny Erle

[2021-11-02 19:01] daniel-coleman-1 commented on #1148
Changes implemented in dev; requestor out of office until Thursday Nov 4.

[2021-11-03 12:29] cmathers1 opened #1149 "Remediated Reporter Letters for onrr.gov"
Good morning, please see attached remediated Dear Reporter Letters for onrr.gov
[8-27-12--1.pdf](https://github.com/ONRR/onrr.gov-site/files/7467463/8-27-12--1.pdf)
[880204.pdf](https://github.com/ONRR/onrr.gov-site/files/7467466/880204.pdf)
[880311.pdf](https://github.com/ONRR/onrr.gov-site/files/7467467/880311.pdf)
[20001207.pdf](https://github.com/ONRR/onrr.gov-site/files/7467468/20001207.pdf)

[2021-11-03 12:31] Maroyafaied commented on #1149
@cvojslavek let me know if you have time to take this issue. @cthomasONRR can you review after the changes are in dev?

[2021-11-03 12:34] cthomasONRR commented on #1149
Sure! @cvojslavek please let me know if you need any help, or don't have time today!

[2021-11-03 12:52] cthomasONRR commented on #1147
Double checked my work, and all backup contacts are correctly logged in the excel.

[2021-11-03 12:52] #1147 closed

[2021-11-03 13:29] cvojslavek commented on #1149
@Maroyafaied I can take this issue today. @cthomasONRR thank you, I'll let you know when the changes are ready for your review in dev before going live.

[2021-11-03 13:48] cthomasONRR opened #1150 "Review new glossary definitions."
Christine and Cody developed new definitions for previously undefined glossary terms. Please review these new definitions via this [Word document](https://teams.microsoft.com/l/file/8FF796B3-4580-442C-9BE0-4768938BB9A6?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FONRR_Glossary_T

[2021-11-03 13:51] #1133 closed

[2021-11-03 13:54] cthomasONRR commented on #1127
@mcharg Is it OK to close this issue?

[2021-11-03 14:19] #1134 closed

[2021-11-03 14:39] #1127 closed

[2021-11-03 14:42] mcharg opened #1151 "Contacts sketching round 2"

[2021-11-03 14:44] cvojslavek commented on #1149
@cthomasONRR ready for your review at http://2017onrr/DearRep.htm, thank you.

For the 7/9 accessible documents:
- [x] 8-27-12--1.pdf
- [x] 880311.pdf
- [x] 20001207.pdf
- [x] 20071213.pdf
- [x] 20081028.pdf
- [x] 20091007.pdf
- [x] 20111205.pdf

I followed the steps below:
- [x] Recheck docs for accessibility
- [x] Upload docs in dev site
- [x] Review docs in dev site

After your review, I’ll do

[2021-11-03 14:50] cthomasONRR commented on #1149
@cvojslavek Everything for those 7 documents looks good to me.

@cmathers1 2 of the documents did not pass the assessibility check:
 880204.pdf - Table Header and Table Summary failed.
 20040922.pdf - Several fails within the document
Cat has screen captures in the comment above showing the issues. Please let us know if you need help resolving the issues in these two documents. Thank you again for

[2021-11-03 18:22] cvojslavek commented on #1149
@cthomasONRR  @cmathers1 the following 7 documents are on the live site at https://onrr.gov/DearRep.htmONRR (please note that you may have to use “Ctrl+F5” to refresh):
- [x] 8-27-12--1.pdf
- [x] 880311.pdf
- [x] 20001207.pdf
- [x] 20071213.pdf
- [x] 20081028.pdf
- [x] 20091007.pdf
- [x] 20111205.pdf

Thank you for your review @cthomasONRR, for the 7 documents I performed the steps below:
- [x] Pu

[2021-11-03 18:53] cthomasONRR commented on #1149
Looks good to me! We can follow up with Christina sometime tomorrow.

[2021-11-03 19:13] cvojslavek commented on #1149
@cthomasONRR @cmathers1 **880204.pdf** is on the live site at https://onrr.gov/DearRep.htmONRR (please note that you may have to use “Ctrl+F5” to refresh):

Thank you for your review @cthomasONRR, for **880204.pdf** I performed the steps below:
- [x] Publish to the live site
- [x] Update Accessibility tracking sheet
- [x] Check the live site

[2021-11-03 20:37] lpgoldstein commented on #1150
@cvojslavek @daniel-coleman-1 I can take the first 20 new definitions.

[2021-11-03 20:43] #1103 closed

[2021-11-03 21:47] Maroyafaied opened #1152 "Update 5 corrected docs - Phase 3"
Please update the documents that Antoinette send by email on 11/3/2021.

[2021-11-04 06:37] #1104 closed

[2021-11-04 12:26] bowlenj opened #1153 "Active Leases File Update"
Please replace the Active Leases - Sorted by State and Agency Lease Number at the below location with the attached file.  Please leave the date (updated 10/01/2021) as is.  We were notified there were some issues with the current file and need to replace it with the corrected file.

https://www.onrr.gov/reportpay/CrossRef.h
[ALwState_11-3-21.xlsx](https://github.com/ONRR/onrr.gov-site/files/747471

[2021-11-04 12:30] bowlenj opened #1154 "Updates to Payment Webpage"
Please update this webpage per the attached word document - https://www.onrr.gov/reportpay/payments.htm

The document includes screenshots, please let me know if you need additional information.

Thank You!
[Payments WebPage Update.docx](https://github.com/ONRR/onrr.gov-site/files/7474743/Payments.WebPage.Update.docx)

[2021-11-04 12:32] mcharg opened #1155 "Contacts survey"
We sent a survey to RRM and also want to do one for FM to learn what people get contacted about the most and contacts that go to the wrong place.

[2021-11-04 12:36] cthomasONRR commented on #1153
@bowlenj
I updated this excel in the dev site: https://www.onrr.gov/ReportPay/CrossRef.htm
Please review and give us your approval to go live.
Thanks,
Christine

[2021-11-04 12:44] cthomasONRR commented on #1154
@bowlenj
I made all the requested updates. You can review on the dev site: http://2017onrr/reportpay/payments.htm
Please give it a review and let me know if you approve the changes.
Thanks,
Christine

[2021-11-04 12:48] Maroyafaied commented on #1154
@cthomasONRR @bowlenj this document has accessibility errors and will need to be corrected before publishing on onrr.gov.  Both images need alternative texts. Thanks
![image](https://user-images.githubusercontent.com/40175688/140316141-202bb3c3-54a0-44a5-88bc-2e98c173c0cd.png)

[2021-11-04 12:52] Maroyafaied commented on #1154
@bowlenj @cthomasONRR I apologize, I misunderstood and thought you wanted the document itself to be posted on onrr.gov.

[2021-11-04 12:52] cthomasONRR commented on #1154
@blowlenj linked below is the PDF we have.
@Maroyafaied I'm not seeing the missing alt text errors, just a missing document title.
Is there another PDF I should be linking to?
[eCommerce_Online_Rental_FAQ](https://app.zenhub.com/files/210892300/18ff8204-cf10-4cea-99f0-a9a4e1c8c153/download)

[2021-11-04 12:56] cthomasONRR commented on #1152
- [ ] [880111.pdf](https://github.com/ONRR/onrr.gov-site/files/7474867/880111.pdf)
- [ ] [910708.pdf](https://github.com/ONRR/onrr.gov-site/files/7474868/910708.pdf)
- [ ] [920206b.pdf](https://github.com/ONRR/onrr.gov-site/files/7474869/920206b.pdf)
- [ ] [20030416.pdf](https://github.com/ONRR/onrr.gov-site/files/7474874/20030416.pdf)
- [ ] [csv_Rent_example.pdf](https://github.com/ONRR/onrr.gov-

[2021-11-04 13:00] cthomasONRR commented on #1154
@bowlenj could you check to see if you have an updated version of that eCommerce_Online_Rental_FAQ PDF? We have that your team corrected it, but the only version I see on our drives is from 2015. Apologies for any inconvenience!

[2021-11-04 13:00] bowlenj commented on #1154
Good Morning Christine,

The online in front of Rental Payments looks great!  Were you able to correct the path to Online Rental Payment FAQs, I didn't see it on the review page?

Thank You,
Jessica Bowlen
Office of Natural Resource Revenue
Distribution and Disbursement Support Services
Team 1B
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to

[2021-11-04 13:02] cthomasONRR commented on #1154
@bowlenj

The PDF should be appearing here: http://2017onrr/reportpay/PDFDocs/eCommerce_Online_Rental_FAQ.pdf
You might need to press 'Ctrl+F5' to update the webpage.

Could you check to see if you have an updated version of that eCommerce_Online_Rental_FAQ PDF? It's coming up with a document title fail in the accessibility checker. We have that your team corrected it, but the only version I see o

[2021-11-04 13:02] bowlenj commented on #1154
I will look and let you know, thank you so much for your help on this!

Thank You,
Jessica Bowlen
Office of Natural Resource Revenue
Distribution and Disbursement Support Services
Team 1B
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclo

[2021-11-04 13:05] bowlenj commented on #1154
That's it and it pulls up perfectly.  We don't have a newer version, that's it.  Thank you!!!!!!!!!!!!!!

Thank You,
Jessica Bowlen
Office of Natural Resource Revenue
Distribution and Disbursement Support Services
Team 1B
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or c

[2021-11-04 13:07] mcharg opened #1156 "Look into whether we can remove the TIMS contacts files."
They've gotten very little use in the last two years.

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/c6543d8f-8072-4eac-abf8-9365e402d997)

[2021-11-04 13:08] cthomasONRR commented on #1152
All 5 files have been updated on the dev and live sites, and they are updated in the document tracking spreadsheet.

[2021-11-04 13:08] bowlenj commented on #1153
Perfect, thank you!

Thank You,
Jessica Bowlen
Office of Natural Resource Revenue
Distribution and Disbursement Support Services
Team 1B
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosure under applicable law.  If the reader of this m

[2021-11-04 13:09] bowlenj commented on #1154
The link that Christine sent has 508 errors?  Can you send me the pdf and I will get those correct and send back?

Thank You,
Jessica Bowlen
Office of Natural Resource Revenue
Distribution and Disbursement Support Services
Team 1B
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privil

[2021-11-04 13:13] cthomasONRR commented on #1154
@bowlenj
Yes, the PDF I sent has an error (document title fail). We need you to correct it. If you have time, we can do a teams call and I can show you how. Thanks, Christine Thomas.

[2021-11-04 13:14] #1152 closed

[2021-11-04 13:25] mcharg commented on #1156
They also haven't been updated since 2017.

[2021-11-04 13:37] cvojslavek commented on #1150
@cthomasONRR for adding suggestions for which ONRR group or individual SME should review the new definition, do you want us to put it under the definition or make a new column?

[2021-11-04 13:41] cthomasONRR commented on #1150
@cvojslavek You can put it under the definition. Thanks :)

[2021-11-04 13:44] cthomasONRR commented on #1154
@bowlenj
Thanks for sending the compliant PDF to me! I made that update, and moved both updates to the live site: https://www.onrr.gov/reportpay/payments.htm
It can take up to 30min for the changes to go live. Please use 'Ctrl+F5' to update the webpage.
I will close this issue once I see the changes live.
Thanks!
Christine

[2021-11-04 14:23] #1153 closed

[2021-11-04 14:23] #1154 closed

[2021-11-04 15:14] daniel-coleman-1 commented on #1148
Johnny Erle provided review via email and the live site is now updated.

[2021-11-04 15:14] #1148 closed

[2021-11-04 15:15] cvojslavek commented on #1150
@lpgoldstein @daniel-coleman-1 I can take the second 20, *Indian Gas Major Portion to *Production Allocation Schedule Report (PASR)

[2021-11-04 15:58] bowlenj commented on #1154
Perfect, thank you!

Thank You,
Jessica Bowlen
Office of Natural Resource Revenue
Distribution and Disbursement Support Services
Team 1B
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosure under applicable law.  If the reader of this m

[2021-11-04 16:10] boices opened #1157 "Update November Indian Index Zone Prices on onrr.gov"
Please update the Indian Index Zone prices for November on ONRR.gov. The "Data for ONRR.gov" spreadsheet has been updated with the newest prices.

@sudarr

[2021-11-04 16:19] cthomasONRR commented on #1157
@boices
I added the November prices to the dev site: http://2017onrr/valuation/allzones.htm
Please review and let me know if you approve for these changes to go live.
Thanks,
Christine

[2021-11-04 16:32] boices commented on #1157
All prices look good--thank you!

[2021-11-04 16:35] cthomasONRR commented on #1157
@boices
Great! I just moved the changes to the live site: https://www.onrr.gov/valuation/allzones.htm
It can take up to 30min for the live site to update, please use 'Ctrl+F5' to refresh the page.
I will close this issue once I see the changes live.
Thanks!
Christine

[2021-11-04 17:12] #868 closed

[2021-11-04 17:12] Maroyafaied commented on #868
This feature should be coming with Directus.

[2021-11-04 17:14] #1122 closed

[2021-11-04 17:19] #1096 closed

[2021-11-04 17:21] jlouis-onrr opened #1158 "Create collection filtering toolbar"

[2021-11-04 17:23] jlouis-onrr opened #1159 "Create collection pagination"

[2021-11-04 18:25] mcharg opened #1160 "FOIA page updates"
ONRR FOIA has been asked to complete the “Chief Officer Report” to DOJ; one of the questions/requirements is regarding ONRR’s FOIA website.  See below question / website guidance:

“OIP issued guidance in 2017 [https://www.justice.gov/oip/oip-guidance/OIP%20Guidance%3A%20%20Agency%20FOIA%20Websites%202.0] encouraging agencies to regularly review their FOIA websites to ensure that they contain esse

[2021-11-04 18:44] penvosej opened #1161 "October 2021 NYMEX on ONRR.gov"
Hello,

The October NYMEX prices are ready to be posted to ONRR.gov. The file with the data is attached. Thank you!
@sudarr
[NYMEX102021.xlsx](https://github.com/ONRR/onrr.gov-site/files/7477446/NYMEX102021.xlsx)

[2021-11-04 18:53] cthomasONRR commented on #1161
@penvosej
The October prices are on the dev site: http://2017onrr/valuation/NYMEX.htm
Please review and give us your approval for these changes to go live.
Thanks,
Christine

[2021-11-04 19:45] Maroyafaied commented on #1160
Added FOIA link to the footer and send dev link to Tracey Fey to review. http://2017onrr/

[2021-11-04 19:50] mcharg commented on #1160
@Maroyafaied If you want the link to appear on all pages in the footer, it needs to be updated in Dreamweaver.  Also, it shouldn't have the external link icon.

[2021-11-04 20:03] Maroyafaied commented on #1160
@mcharg I removed the external link icon, Tracey only mentioned having it in the homepage but it should probably be on each page. I'll try to do it in Dreamweaver.

[2021-11-04 21:10] penvosej commented on #1161
Hi Christine,

The data for October on the website looks good! Thanks for doing that so quickly!

Jessica

From: Christine Thomas ***@***.***>
Sent: Thursday, November 4, 2021 12:54 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Penvose, Jessica M ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] October 2021 NYMEX on ONRR.gov (Issue #1161)

 This email has been received

[2021-11-04 21:43] LisaReimer opened #1162 "Updates to Onshore Production Contacts List - ONRR.Gov Website"
[RRM ONSHORE PRODUCTION CONTACTS_.pdf](https://github.com/ONRR/onrr.gov-site/files/7478942/RRM.ONSHORE.PRODUCTION.CONTACTS_.pdf)

Hello,

Can you please update the Onshore Production Contacts List - https://onrr.gov/reportpay/PDFDocs/OnshoreProductionContacts.pdf

See attached.

Contact me if you have questions.  Thank you.

[2021-11-04 21:45] codyeckstein commented on #1162
I can do this.

[2021-11-04 21:46] LisaReimer commented on #1162
Thank you, Cody.

[2021-11-04 21:46] cthomasONRR commented on #1161
@penvosej
Great! I just moved the changes over to the live site: https://www.onrr.gov/valuation/NYMEX.htm
It can take up to 30min for the changes to go live. Please use 'Ctrl+F5' to refresh the page.
I will close this issue once I see the changes live.
Thanks!
Christine

[2021-11-04 21:51] LisaReimer commented on #1162
Re attaching PDF.  I left off two colons (:).  Sorry.  Thank you.
[RRM ONSHORE PRODUCTION CONTACTS.pdf](https://github.com/ONRR/onrr.gov-site/files/7479101/RRM.ONSHORE.PRODUCTION.CONTACTS.pdf)

[2021-11-04 21:54] LisaReimer commented on #1162
![image](https://user-images.githubusercontent.com/82039361/140425591-2e1554de-f755-4839-a6b3-64f4128f9532.png)

[2021-11-04 21:55] LisaReimer commented on #1162
Corrected.

[2021-11-04 21:56] codyeckstein commented on #1162
@LisaReimer this is in dev- please review and let me know if looks ok.

http://2017onrr/reportpay/PDFDocs/OnshoreProductionContacts.pdf

[2021-11-04 22:00] cthomasONRR commented on #1161
October prices are live! Closing this issue.

[2021-11-04 22:00] #1161 closed

[2021-11-04 22:03] LisaReimer commented on #1162
It looks good.  Thank you.

[2021-11-04 22:42] codyeckstein commented on #1162
This is now live.

[2021-11-04 22:42] #1162 closed

[2021-11-05 13:39] Maroyafaied commented on #1160
The footer is not a library in Dreamweaver so the link will be just in the homepage for now as requested. We have the link in the wireframe on all the pages for the new site.

[2021-11-05 13:39] #1160 closed

[2021-11-05 14:57] #1097 closed

[2021-11-05 19:19] cthomasONRR commented on #1151
I added my ideas to the PowerPoint, and created a new section after last week's sketches called 'Second Round of Sketching'

[2021-11-05 19:31] daniel-coleman-1 commented on #1150
@cvojslavek @lpgoldstein I added numbers, I'll take 41-60.  Looks like an even 160 total.

Cat, I'm seeing "Indian Gas Major Portion" as 68 and "Production Allocation Schedule Report (PASR)" as 119.

[2021-11-05 19:35] cthomasONRR commented on #1150
@daniel-coleman-1  Just making sure we're all on the same page- you only have to review the new glossary terms (the ones in TrackChanges and with an * in front of the term). We decided to leave the terms that were already defined as-is, because they are already publicly available and we don't want to create multiple versions of the same definition.

[2021-11-05 19:35] daniel-coleman-1 commented on #1150
@cthomasONRR ahh, gotcha gotcha

[2021-11-05 20:34] daniel-coleman-1 commented on #1138
@Maroyafaied updated:
https://92ix0j.axshare.com

[2021-11-08 13:33] cthomasONRR commented on #908
Antoinette sent 3 more remediated PDFs to upload:

- [ ] [920326](https://app.zenhub.com/files/210892300/b6f6d21f-507d-44e5-b233-62c7885e6808/download)
- [ ] [900420](https://app.zenhub.com/files/210892300/2ce53d70-104a-4c91-b174-6780997e4acc/download)
- [ ] [920206a](https://app.zenhub.com/files/210892300/d8c15a99-37b3-4772-a9b4-f5aad091de0b/download)

[2021-11-08 15:30] Maroyafaied commented on #1138
@daniel-coleman-1 can you change the title on the navigation to be "Rulemaking". Also some of them have a parenthesis with information that doesn't follow the wireframe such as AA21 "(final rule not published)."   @cthomasONRR can you please review the sitemap vs. the wireframe and make any comments or changes needed for the sitemap? Thanks

Sitemap
https://92ix0j.axshare.com/#id=6s7b1a&p=3_2_rule

[2021-11-08 15:44] cthomasONRR commented on #1138
@mcharg On the wireframe Rule Titles, there are several that are missing parenthetical comments like "(No Final Rule Published)" or "(Withdrawn)". These are all still notated in bold in the site map, they just need to be added to the wireframe. Let me know if I should make a list of these for you to make checking easier.

@daniel-coleman-1 For the sitemap, the pages are titled as "3.2.1.1 AA29: In

[2021-11-08 16:30] Maroyafaied opened #1163 "Remove docs in phase 3 without response for doc owners"

[2021-11-08 16:31] Maroyafaied opened #1164 "Record presentation of Bold Gov"

[2021-11-08 16:49] daniel-coleman-1 commented on #1138
@cthomasONRR and @Maroyafaied thanks for the review, changes have been updated in the site map.

[2021-11-08 17:19] cthomasONRR commented on #1139
I'm working on the odd number participants and putting their summaries into the "consolidated findings" excel.

[2021-11-08 17:58] cthomasONRR commented on #1163
From April Lockler, approval to remove:

- [ ] 20080829b.pdf
- [ ] 20080829.pdf

[2021-11-08 18:05] #1138 closed

[2021-11-08 18:06] #1141 closed

[2021-11-08 18:14] cthomasONRR commented on #1149
Christina said that we can close this issue- she will make make another issue for the revised document.

[2021-11-08 18:14] #1149 closed

[2021-11-08 18:31] #1143 closed

[2021-11-08 18:43] Maroyafaied opened #1173 "Add press releases to cms"

[2021-11-08 19:04] mcharg commented on #1138
@cthomasONRR Can you make a new issue with what needs to be changed in the wireframe?

[2021-11-08 19:07] cthomasONRR commented on #1163
@cvojslavek I just removed the 6 documents listed above from the dev site. Could you review and let me know if the changes are good to go live? Thanks!

[2021-11-08 19:09] cthomasONRR opened #1165 "Update rulemaking titles in wireframe to match sitemap"
Sitemap
https://92ix0j.axshare.com/#id=6s7b1a&p=3_2_rules___regulations&g=14

Wireframe
https://qmcq5k.axshare.com/#id=h57jbd&p=rulemakings

On the wireframe Rule Titles, there are several that are missing parenthetical comments like "(No Final Rule Published)" or "(Withdrawn)". These are all still notated in bold in the site map, they just need to be added to the wireframe.

Let me know if you ha

[2021-11-08 19:10] cthomasONRR commented on #1138
@mcharg Done! Issue #1165

[2021-11-08 19:52] cvojslavek commented on #1163
@cthomasONRR, looks good! Thanks.

[2021-11-08 20:47] cthomasONRR commented on #1163
@cvojslavek Awesome- thanks! Just move these changes to the live site :)

[2021-11-08 21:32] cthomasONRR opened #1166 "Upload remediated Geothermal Handbooks (Class 1, 2, 3)"
Y:\reportpay\Handbooks\pdfdocs\Geopayor

[2021-11-08 22:14] cthomasONRR commented on #1139
I completed the odd numbers- focused on the content in the summary section. Let me know if I need to be more thorough and I can go back later when data isn't so demanding :)

[2021-11-08 22:31] #1166 closed

[2021-11-09 12:12] damionschulte opened #1167 "October 2021 IBMP Prices"
All I have updated the Data for ONRR.gov sheet on the OneDrive with the October 21 IBMP prices.  Can you please get them ready to publish.  Thank you.

@sudarr

[2021-11-09 12:50] Maroyafaied commented on #1167
@damionschulte The months in the spreadsheet seem to have been mixed up, are all these supposed to be October? Please see pic below.
![image](https://user-images.githubusercontent.com/40175688/140927278-49c06b7a-28e0-48a2-8f9b-d60b56c9923f.png)

[2021-11-09 13:26] damionschulte commented on #1167
Ugh.  Thanks for seeing that.  I have fixed it.  It should be good to go.  Thanks again.

From: Maroyafaied ***@***.***>
Sent: Tuesday, November 9, 2021 5:51 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Schulte, Damion C ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] October 2021 IBMP Prices (Issue #1167)

 This email has been received from outside of DOI - Use cauti

[2021-11-09 13:35] Maroyafaied commented on #1167
@damionschulte No worries, just FYI the month "October" is misspelled in your spreadsheet. The dev site is updated, please review.  Thanks

http://2017onrr/valuation/IndianOilIBMP.htm

[2021-11-09 16:51] Toddsand21 opened #1168 "CONCHO AREA VIRTUAL MEETING (Please add to the Events Calendar on Allottee Assistance Page)"
NOVEMBER 17, 2021

CONCHO AREA VIRTUAL MEETING

Event Information
Location:  By Telephone
Time: 1:00 pm to 2:00 pm CST

Description:  Meeting will be a Call-in Meeting to hear a presentation and updates from ONRR Outreach Office and representatives from BLM, BTFM, and BIA will discuss topics regarding Indian Oil & Gas leases, IIM Accounts and Indian Trust properties.    A limited number of lines w

[2021-11-09 16:58] cthomasONRR commented on #1168
@Toddsand21

I have this update on the dev site: http://2017onrr/events.htm
Please review and give us your approval to go live.

Thanks!
Christine

[2021-11-09 17:22] damionschulte commented on #1167
Deer Lord.  I swear I can't get the month right this month.....  I fixed it again..  Thanks again...  The dev site looks great.  Thank you for everything.

From: Maroyafaied ***@***.***>
Sent: Tuesday, November 9, 2021 6:36 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Schulte, Damion C ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] October 2021 IBMP Prices (Issue #11

[2021-11-09 17:23] damionschulte commented on #1167
Dear Lord!  Dear Lord.  I quite today

From: Maroyafaied ***@***.***>
Sent: Tuesday, November 9, 2021 6:36 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Schulte, Damion C ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] October 2021 IBMP Prices (Issue #1167)

 This email has been received from outside of DOI - Use caution before clicking on links, opening attachments, o

[2021-11-09 17:42] Maroyafaied commented on #1167
@damionschulte This is live. Hope your day gets better :)

[2021-11-09 17:42] #1167 closed

[2021-11-09 18:38] cvojslavek commented on #1150
@cthomasONRR I worked on Indian Oil Index-Based Major Portion (IBMP) to Production Allocation Schedule Report (PASR) that has a * in front of the term. I added SMEs/Groups and added a suggestion if I was able to reduce the readability. I also added some notes for consideration, e.g., see Lease, Plant-Specific UCA. Let me know if you'd like to discuss.

[2021-11-09 18:49] Toddsand21 commented on #1168
1) If you could change BTFM to BTFA in the first sentence in the description and 2) put a "the: in front of ONRR Outreach Office in that same sentence. 3) In the sentence after Other Information:  Delete everything after meeting and change it to read... the call-in number and passcode for this meeting.  4) Next sentence should read: A limited number of lines will be available for callers to this m

[2021-11-09 19:00] cthomasONRR commented on #1168
@toddsand21

I'm not sure I understand all your rewrite instructions for the 'Other Information' section. This is what I understood:

To attend the meeting you must contact the ONRR OKC Outreach Office at (800) 354-7015 to reserve your space and to get the call-in number and passcode for this meeting. A limited number of lines will be available for callers to this meeting, so reserve your space as

[2021-11-09 19:22] Toddsand21 commented on #1168
Looks great and ready to post.

[2021-11-09 19:34] cthomasONRR commented on #1168
@Toddsand21

Great! I just moved the updates to the live site (https://www.onrr.gov/events.htm). It can take up to 30min for the updates to go live. Please use 'Ctrl+F5' to refresh the page. I will close this issue once I see the changes live.

Thanks,
Christine

[2021-11-09 20:16] #1168 closed

[2021-11-09 20:33] #1151 closed

[2021-11-09 21:46] jlouis-onrr opened #1169 "Revamp Menu Items data modeling"

[2021-11-09 22:09] cvojslavek commented on #1145
@mcharg @jlouis-onrr here is a  redirects update and ready for your review:
- I’ve added 116 new onrr.gov redirect links to column E, whole redirect attempt.
- The 116 new onrr.gov redirect links cover the 1,138 blanks remaining for the column C, 301 redirects, located in the Redirects spreadsheet.
- The 301 redirects status spreadsheet and the Redirects spreadsheet are located at: https://doimspp

[2021-11-10 15:17] mcharg commented on #1145
I defer to @jlouis-onrr about whether what you have works.

[2021-11-10 15:24] #1077 closed

[2021-11-10 15:25] mcharg opened #1170 "Contacts design studio - mock up contact cards vs. accordions vs. table"

[2021-11-10 15:44] cthomasONRR commented on #1078
I added in some comments/questions/concerns in Shannon's [Word Doc](https://doimspp.sharepoint.com/:w:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Contacts/Contacts%20Hole%20Poking.docx?d=wb83d7d72509f4c439ec7a65f7774534e&csf=1&web=1&e=ZbfISh)

[2021-11-10 17:49] cthomasONRR opened #1171 "Upload RV 508 Phase 3 Document"
RV sent us the remediated version of this document: [POP-Exaample-Pre_2016-05212020-Final](https://app.zenhub.com/files/210892300/4e8c92ef-a8a7-4809-be60-c5cea8b2b6b2/download)

I updated the document on the dev and live sites, and updated the accessibility tracking spreadsheet.

[2021-11-10 19:31] #1171 closed

[2021-11-10 21:47] mcharg commented on #1155
We've received 20 responses from the RRM survey and met with FM today.  FM will be sending the survey out to their team soon.

[2021-11-10 21:48] mcharg commented on #1163
Is there anything I need to do on this issue?

[2021-11-10 21:50] Maroyafaied commented on #1163
@mcharg not now, I'll wait till the 15th and identify who didn't respond and which docs to remove.

[2021-11-10 21:51] cthomasONRR commented on #1163
@mcharg I think I'll be able to do all the removals, and Cat is here to peer review. We can tag you if we need help!

[2021-11-12 14:32] mcharg commented on #1156
Updated in dev and send an email for approval to push live.
http://2017onrr/reportpay/contacts.htm

[2021-11-15 17:17] mcharg opened #1172 "Work through troubleshooting guide"

[2021-11-15 18:20] Maroyafaied commented on #1112
look into consolidated the chapters in pdf.

[2021-11-16 16:40] #1155 closed

[2021-11-16 16:54] Maroyafaied commented on #1163
@cthomasONRR @mcharg here is a status for each doc owner, please go ahead and remove & archive the 13 docs detailed below.

Patty- Remove & Archive 9 docs (emailed on 7/19 and 10/28)
Ken - Remove & Archive 4 docs (emailed on 7/19 and 10/28)
Amy - Jodie & Christina confirmed they will be able to correct docs by end of Nov
Bill - Will meet and discuss, might take videos out of this project and make

[2021-11-16 17:04] cthomasONRR commented on #1163
Removing the following documents for Patty Damon/Stacey Brown. Putting them in the following folders: Y:\reportpay\PDFDocs\archive\PattyDamon-Stacey Brown Phase 3 No Response AND Y:\PDFDocs\archive\PattyDamon-Stacey Brown Phase 3 No Response

- [ ] https://www.onrr.gov/ReportPay/PDFDocs/20011022.pdf
- [ ] https://www.onrr.gov/ReportPay/PDFDocs/20010815.pdf
- [ ] https://www.onrr.gov/ReportPay/PDFD

[2021-11-16 17:07] mcharg commented on #1165
@cthomasONRR This is updated.  Let me know if additional changes are needed or if we're good to close.
https://qmcq5k.axshare.com/#id=h57jbd&p=rulemakings&g=1

[2021-11-16 17:30] cthomasONRR commented on #1163
@Maroyafaied @mcharg I was able to remove all the reporter letters above except "https://www.onrr.gov/reportpay/PDFDocs/2012ReporterTrainingBook.pdf" because I can't find it anywhere... need to do some more searching on this one.

[2021-11-16 17:37] StaceyKaiser opened #1174 "Webpage Update - New Lease Agreement XREF file for onrr.gov"
Please replace the existing file located at: http://www.onrr.gov/ReportPay/CrossRef.htm called “Downloadable Text Cross-Reference Lease to Agreement Number” with the file entitled “November 2021 Lease Agreement XREF.txt”.  It was queried from the system on 11/16/2021.
[November 2021 Lease Agreement XREF.txt](https://github.com/ONRR/onrr.gov-site/files/7548598/November.2021.Lease.Agreement.XREF.txt

[2021-11-16 17:40] mcharg commented on #1163
@cthomasONRR Looks like that doc was also assigned to April and was removed.
![image](https://user-images.githubusercontent.com/38465926/142037263-d6c30c10-f9b2-4bd0-be71-0da7f6fb2adf.png)

[2021-11-16 17:44] cthomasONRR commented on #1163
@mcharg ok I set it up as removed in the accessibility tracking

[2021-11-16 17:48] cthomasONRR commented on #1174
@StaceyKaiser Sure! I have a question for you- the website currently has this file labeled as "Cross-Reference Lease to Agreement Number" ... do you want me to change the title to “Downloadable Text Cross-Reference Lease to Agreement Number”  along with updating the file?
![image](https://user-images.githubusercontent.com/72526208/142038473-7a185b9b-403d-4e92-bf6b-a62b12cce0ac.png)

[2021-11-16 17:52] StaceyKaiser commented on #1174
@cthomasONRR No, I don't think we need to update the file name. I will change my procedures and take out the word "Downloadable".  Thanks!

[2021-11-16 17:53] cthomasONRR commented on #1174
@StaceyKaiser Thanks for verifying! I made the update on the dev site: http://2017onrr/reportpay/CrossRef.htm
Please review and once I get your approval, I will move these changes live.

[2021-11-16 18:35] cthomasONRR commented on #1165
@mcharg Looks good! Thanks for updating!

[2021-11-16 18:39] #1165 closed

[2021-11-16 19:42] daniel-coleman-1 commented on #1140
@mcharg what's the correct title for the XREF text file below?

![Screenshot 2021-11-16 122738](https://user-images.githubusercontent.com/83892362/142054349-0433d6c3-0f74-4f2d-96b2-4c9333c6ea56.png)

Otherwise good to go

[2021-11-16 19:49] Maroyafaied opened #1175 "Bold GOV - Create powerpoint presentation and moderator questions"

[2021-11-16 20:50] mcharg commented on #1140
Cross-Reference Lease to Agreement Number

[2021-11-16 21:19] StaceyKaiser commented on #1174
@cthomasONRR please move this data to the live site. Thank you!

[2021-11-16 21:30] cthomasONRR commented on #1174
@StaceyKaiser Great! The changes are live. Closing this issue.

[2021-11-16 21:30] #1174 closed

[2021-11-17 13:36] cthomasONRR commented on #908
Antoinette sent 3 more remediated PDFs to upload. They are on the live site and the accessibility tracking spreadsheet is updated.

- [ ] [950929.pdf](https://github.com/ONRR/onrr.gov-site/files/7554965/950929.pdf)
- [ ] [951004.pdf](https://github.com/ONRR/onrr.gov-site/files/7554966/951004.pdf)
- [ ] [20020320.pdf](https://github.com/ONRR/onrr.gov-site/files/7554967/20020320.pdf)

[2021-11-17 14:13] cthomasONRR commented on #1150
@cvojslavek Thanks for your input- I put in comments to your modified definitions and will be accepting almost all of them :)

@lpgoldstein and @daniel-coleman-1 Are you still working on this issue? Just curious if we will need to extend it to next sprint.

[2021-11-17 14:18] lpgoldstein commented on #1150
@cthomasONRR I think I'm done unless you have any questions.

[2021-11-17 14:58] mcharg commented on #1173
@cvojslavek Here's a start at a spreadsheet with what's in the content audit.  I think it's missing the date of the press release, the blurb that displays in the list, and whether it's archived.  The collection isn't showing up for me in the CMS, so waiting for @jlouis-onrr to tell us if there are other fields necessary.
https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ON

[2021-11-17 14:58] mcharg commented on #1173
Some of the newer press releases are also missing.

[2021-11-17 14:59] #1079 closed

[2021-11-17 15:00] #1078 closed

[2021-11-17 15:00] mcharg commented on #1170
@kmhtran Can you add the link to your prototype to this issue?

[2021-11-17 15:14] cvojslavek commented on #1173
Looks great. Yes, I agree that the status (archived, published), date, and excerpt are missing based on Jerome's comments yesterday. Good idea to double check the accessibility.

[2021-11-17 15:51] daniel-coleman-1 commented on #1150
@cthomasONRR I still need to spend some time on this, I'll add comments this afternoon.

[2021-11-17 17:19] Maroyafaied commented on #879
We've discussed with Bill that videos will be their own separate project as most of the videos will need to be re-done based on the website redesign. We send him the wireframes to get a head start of creating content for videos along with the new accessible ONRR logo.  @cthomasONRR @mcharg can one of you update the tracking spreadsheet to take videos out and create another with just videos. Thanks

[2021-11-17 17:22] mcharg commented on #1173
@cvojslavek I updated with the fields from the CMS.  The fields on the right starting with year aren't in the CMS, but thought they might be useful to have for reference.

[2021-11-17 17:25] mcharg commented on #1173
@mentastc You wanted all the press releases from previous administrations to go into the archived tab, correct?

[2021-11-17 17:30] cthomasONRR commented on #879
@Maroyafaied Can we move the videos into a different tab within the same spreadsheet, or do you want a new spreadsheet?

[2021-11-17 17:35] Maroyafaied commented on #879
@cthomasONRR That's fine.

[2021-11-17 17:46] cthomasONRR commented on #879
OK I made I new 'Videos' tab on the existing accessibility tracking spreadsheet, moved all Bill's videos to that tab, and removed them from the 'Accessibility Tracking' tab.

@mcharg could you review to make sure I didn't ruin anything?

[2021-11-17 17:56] mcharg commented on #879
@cthomasONRR Looks good.  I took out a few columns we don't need.

[2021-11-17 18:00] cthomasONRR commented on #879
@mcharg Awesome! Is there anything else we need to do for this issue?

[2021-11-17 18:19] Maroyafaied commented on #879
We're good, thank you both.

[2021-11-17 18:19] #879 closed

[2021-11-17 19:12] kmhtran commented on #1170
Contacts company page using contact cards design: https://oh3exw.axshare.com

[2021-11-17 20:45] mcharg commented on #1140
@daniel-coleman-1 The email I have has a different total for site searches.  Otherwise, looks good.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/4f72dac4-7a6d-418c-9e3f-e77959fe0f83)

[2021-11-17 20:53] cthomasONRR commented on #908
Antoinette sent 4 more remediated PDFs to upload. They are on the live site and the accessibility tracking spreadsheet is updated.

- [ ] [900913.pdf](https://github.com/ONRR/onrr.gov-site/files/7557916/900913.pdf)
- [ ] [930900a.pdf](https://github.com/ONRR/onrr.gov-site/files/7557917/930900a.pdf)
- [ ] [930900b.pdf](https://github.com/ONRR/onrr.gov-site/files/7557918/930900b.pdf)
- [ ] [20041116

[2021-11-17 21:02] mcharg commented on #1156
This is now live.
https://www.onrr.gov/reportpay/contacts.htm

[2021-11-17 21:02] #1156 closed

[2021-11-17 21:18] mcharg commented on #1156
I also removed the TIMS contacts from the spreadsheet.

[2021-11-17 21:56] Toddsand21 opened #1176 "KAULEY VIRTUAL OUTREACH MEETING (To be added to the Event Calendar under Events)"
**KAULEY VIRTUAL OUTREACH MEETING**
December 15, 2021

EVENT INFORMATION
LOCATION: **By Telephone**
TIME: 1:00 PM – 2:00 PM CST

DESCRIPTION: Meeting will be a Call-in Meeting to hear a brief presentation and updates from the Office of Natural Resources Revenue (ONRR) Indian Outreach Office  Representatives from the Bureau of Land Management (BLM), Bureau of Trust Funds Administration (BTFA), and

[2021-11-17 23:52] cthomasONRR commented on #1176
@Toddsand21

These events have been added to the dev site for your review: http://2017onrr/events.htm
Please let us know if you approve for these changes to go live.

Thanks,
Christine

[2021-11-18 00:38] daniel-coleman-1 commented on #1140
Resolved issues, thanks for taking a look @mcharg

[2021-11-18 00:38] #1140 closed

[2021-11-18 16:39] cvojslavek commented on #1173
@mcharg I've added the dates and excerpts to the [PressReleases](https://teams.microsoft.com/l/file/883E1079-7EFD-47F8-8CCF-73B892D45F21?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FDesign%2FCollections%2FPress%20Releases%2FPressReleases.xlsx&baseUrl=https%3A%2F%2Fdoimspp.sharep

[2021-11-18 16:46] Toddsand21 commented on #1176
I can't seem to see anything wehn using the link above.  Can you try to send it again?

[2021-11-18 16:47] cthomasONRR commented on #1176
@Toddsand21
Make sure you are on PuleSecure, otherwise the dev site won't work.
http://2017onrr/events.htm

[2021-11-18 16:48] Toddsand21 commented on #1176
My Pulse Secure is on and again nothing I cannot view it.

[2021-11-18 16:52] Toddsand21 commented on #1176
Ok. I redone my Pulse and I can see it now.

[2021-11-18 17:05] mcharg commented on #1173
@cvojslavek I think consistent and not in all caps would be best.

[2021-11-18 17:06] mcharg commented on #1173
@cvojslavek Chris confirmed that everything from previous administrations should be archived.

[2021-11-18 18:02] Toddsand21 commented on #1176
1. under the Kauley Meeting in the first sentence after the Description: Put a period after Office where it reads.... (ONRR) Indian Outreach Office.
2  under the Shawnee Meeting after Other Information: move the phone number (800) 354-7015 all on the same line.

[2021-11-18 18:08] #1170 closed

[2021-11-18 18:08] cthomasONRR commented on #1176
@Toddsand21

I made these changes. Please do another review and let me know if you approve.
http://2017onrr/events.htm

Thanks,
Christine

[2021-11-18 18:09] Maroyafaied commented on #1119
dependent on deployment scripts

[2021-11-18 18:10] #1163 closed

[2021-11-18 18:11] #1139 closed

[2021-11-18 18:17] #1164 closed

[2021-11-18 18:22] Toddsand21 commented on #1176
I don't see the changes.  What is it I hit Control F5 to update the view?

[2021-11-18 18:24] cthomasONRR commented on #1176
@Toddsand21 Yes, please use 'Ctrl+F5' to refresh the page.

[2021-11-18 18:32] cvojslavek opened #1177 "Collect all press releases in one folder"

[2021-11-18 19:55] bbell0229 opened #1178 "Accounts Receivable, Billing, and Financial issues-Federal Contact update"
Hello,

On the Payments page,
https://www.onrr.gov/reportpay/PDFDocs/FSFederalCOAssignm.pdf, please update with the attached file.

Please remove the prior attachment and replace with the new employee listing.

[finserAssign.pdf](https://github.com/ONRR/onrr.gov-site/files/7565609/finserAssign.pdf)

Thank you,

Brittney

[2021-11-18 19:59] Maroyafaied commented on #1178
@cvojslavek let me know if you have time to take this one.

[2021-11-18 19:59] Maroyafaied commented on #1178
You'll need to update the contacts spreadsheet as well if there are changes.

[2021-11-18 20:17] cvojslavek commented on #1178
@Maroyafaied I would have time after the ONRR Remote & Telework Informational Session and a team meeting till 3:30; however, I did an accessibility check, and the pdf is showing up with issues, see below screenshot with the issues:
![image](https://user-images.githubusercontent.com/89403899/142490239-e6350bd3-579b-4def-871e-0d031f0548c5.png)

[2021-11-18 20:21] cthomasONRR commented on #1176
@Toddsand21 Are you able to view? Do you approve the changes?

[2021-11-18 20:56] Maroyafaied commented on #1178
@bbell0229 Please see @cvojslavek comment above with the attached picture. This document will need to be corrects and made accessible before we are able to post on the website. Thanks

[2021-11-18 21:56] daniel-coleman-1 commented on #1150
@cthomasONRR added my notes

[2021-11-18 22:20] bbell0229 commented on #1178
[finserAssign.pdf](https://github.com/ONRR/onrr.gov-site/files/7566391/finserAssign.pdf)
I modified the last upload for this one. It should be good now. If not I may need assistance. I don't seem to have the accessibility check on my adobe (since it is the standard).

[2021-11-18 22:27] Maroyafaied commented on #1178
@bbell0229  The accessibility check is still showing one error, I believe Jessica @sheetsj has updated this document before so you may be able to ask her for help.

[2021-11-19 13:34] Toddsand21 commented on #1176
Yes I see the changes now.  They look fine.  Ready to post.

[2021-11-19 13:47] cthomasONRR opened #1179 "Upload 508 Phase 3 document for Enforcement"
The following document is now compliant and on the website. The accessibility tracking spreadsheet is also updated.

- [x] [20110310](https://app.zenhub.com/files/210892300/a9bd30cf-882f-4dc3-994a-b6770d827bf5/download)

[2021-11-19 13:54] cthomasONRR opened #1180 "Prep new glossary terms for SME review"
I need to:

- [x] Accept and reconcile changes/comments in the word document
- [x] Move the definitions in the word document into excel
- [x] Make sure each new definition has a SME assigned to review
- [x] Make the excel sortable by SME
- [x] Draft email to send to all SMEs explaining the review
- [x] Create individual excel files to send to each SME
- [x] Only include the definitions we need eac

[2021-11-19 13:55] #1179 closed

[2021-11-19 13:57] cthomasONRR commented on #1150
Thanks! Closing this issue.

[2021-11-19 13:57] #1150 closed

[2021-11-19 14:31] cthomasONRR opened #1181 "eCFR contains old onrr.gov links"
The Regulations Team identified that the eCFR section 1210 (https://www.ecfr.gov/current/title-30/chapter-XII/subchapter-A/part-1210) contains onrr.gov links that no longer work.

I need to:

- [x] Create a list of all the broken links
- [x] Identify if they are already on the redirects sheet
- [x] If not, identify where the broken links should be redirecting
- [x] Figure out a method to properly

[2021-11-19 14:31] cthomasONRR commented on #1176
@Toddsand21 Thanks! The changes are live. Closing this issue.

[2021-11-19 14:31] #1176 closed

[2021-11-19 14:33] cthomasONRR commented on #1181
@cvojslavek After I compile a list of all the links that don't work, would you have time to help me identify if they are on the redirects spreadsheet?

[2021-11-19 14:52] cthomasONRR commented on #1181
There are only 4 broken links across all of part 2010, they are just referenced multiple times:

- [ ] http://www.onrr.gov/FM/PDFDocs/eCommerce_FAQ.pdf
- [ ] http://www.onrr.gov/FM/Handbooks/default.htm
- [ ] http://www.onrr.gov/FM/Forms/AFSOil_Gas.htm
- [ ] http://www.onrr.gov/FM/Forms/AFSSol_Min.htm

![image](https://user-images.githubusercontent.com/72526208/142642555-ee973c3d-4251-48b6-92d6-db

[2021-11-19 18:10] cthomasONRR commented on #1181
- [ ] REDIRECT http://www.onrr.gov/FM/PDFDocs/eCommerce_FAQ.pdf TO https://www.onrr.gov/ReportPay/PDFDocs/eCommerce_Online_Rental_FAQ.pdf

- [ ] REDIRECT http://www.onrr.gov/FM/Handbooks/default.htm TO https://www.onrr.gov/reportpay/Handbooks/index.htm

- [ ] REDIRECT http://www.onrr.gov/FM/Forms/AFSOil_Gas.htm TO https://www.onrr.gov/reportpay/index.htm

- [ ] REDIRECT http://www.onrr.gov/FM/Form

[2021-11-19 21:13] mcharg opened #1182 "Apply card design to full list of contacts"
And refine based on design studio feedback

[2021-11-19 21:13] mcharg commented on #1172
Creating a new issue for the new sprint.

[2021-11-19 21:13] #1172 closed

[2021-11-19 21:14] mcharg opened #1183 "Continue work on troubleshooting guide"

[2021-11-19 21:14] mcharg opened #1184 "Design print view for contacts"

[2021-11-19 21:15] mcharg opened #1185 "Presentation for 508 stakeholder interview findings"

[2021-11-19 21:16] mcharg opened #1186 "Add additional FM participants to survey findings"
We've gotten 8 more responses, since I last added them.

[2021-11-19 21:17] mcharg opened #1187 "Refine powerpoint template with ELT feedback"

[2021-11-19 21:17] #1187 closed

[2021-11-19 21:35] mcharg opened #1188 "Draft email to roll out new logo and ppt"

[2021-11-22 13:52] cthomasONRR commented on #908
Antoinette sent 1 more remediated PDF to upload:
- [ ] 20040220.pdf
This document is on the live site and the accessibility tracking spreadsheet is updated.

She said that another PDF:
- [ ] 20-CFR-1243
Cannot be edited as it is from the CFR (ONRR does not own it). I asked her if we can remove this PDF and instead link to the eCFR location (https://www.ecfr.gov/current/title-30/chapter-XII/subchap

[2021-11-22 14:23] mcharg commented on #857
Lightbox design: https://dcpea5.axshare.com/#id=judyuy&p=events
Expanding design: https://ulfcy9.axshare.com/

[2021-11-22 14:47] bbell0229 commented on #1178
Jessica Sheets no longer works at ONRR.

Brittney A. Bell
Staff Accountant, Financial Services
Revenue, Reporting, & Compliance Management
Office of Natural Resources Revenue
Bldg 85, Denver Federal Center
Denver, CO 80225
1-800-433-9801 x 3381
303.231.3381
***@***.******@***.***>

From: Maroyafaied ***@***.***>
Sent: Thursday, November 18, 2021 3:28 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Bell

[2021-11-22 15:29] cthomasONRR commented on #908
Antoinette gave her OK to remove 30-CFR-1243. I removed the document, replaced the document with the link, and updated the accessibility tracking spreadsheet.

[2021-11-22 15:55] jkwonatx commented on #857
I made an update to the Expanding design above. I fixed the issue with expanding the third event box and unified the Sign Up call to action buttons to a single design: https://ulfcy9.axshare.com

[2021-11-22 15:58] cvojslavek commented on #1173
@mcharg marked the press releases before January 20, 2021 to archived and made the beginning of the excerpts consistent, e.g., Washington—. Also, not sure if matters because it is archived, but the excerpt at F136 has a NRRD site link.

[2021-11-22 18:10] #1145 closed

[2021-11-22 18:13] jlouis-onrr opened #1190 "Create collection toolbar and filters"

[2021-11-22 18:44] #1188 closed

[2021-11-22 19:18] cthomasONRR commented on #1180
Draft email to SMEs:

"Hello [SME],

As you know, the Open Data, Design, and Development (ODDD) team is working to redesign onrr.gov. Part of this redesign includes adding terms to the ONRR glossary (https://www.onrr.gov/glossary.htm).

In order to identify relevant terms to add, we targeted the 10 most frequently webpages and pulled terms that needed defining from there. Most of these terms have

[2021-11-22 19:34] #1186 closed

[2021-11-22 20:39] mcharg commented on #1175
@lpgoldstein Here's the draft presentation.  I didn't update the numbers on the status slide, since I figure they'll keep changing until the day of the presentation.
https://doimspp-my.sharepoint.com/:p:/r/personal/mchargs_mms_gov/Documents/NRRD%20Portal/Outreach/Proposals/FY21/BOLD/BOLD_Presentation_ONRR.pptx?d=w90f206f3dafb46ffbd593272616327b7&csf=1&web=1&e=jY3pMe

[2021-11-22 20:50] mcharg commented on #1181
@cthomasONRR I would send the eCommerce FAQ here. https://onrrreporting.onrr.gov/Help/FAQs.aspx

[2021-11-22 21:39] cthomasONRR commented on #1181
Made a new file folder for the redirect pages: Y:\FM

[2021-11-22 21:47] mcharg commented on #1181
@cthomasONRR The redirects are all working in dev.

[2021-11-22 22:14] cvojslavek commented on #1181
@cthomasONRR @mcharg Added those 4 redirects from above to the [Redirects](https://teams.microsoft.com/l/file/8F317B52-F37E-47BB-8D41-DC17EA254E0C?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FContent%20Audit%2FRedirects.xlsx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2

[2021-11-22 22:38] lpgoldstein opened #1192 "Update onrr.gov market map with 508 interviewees"

[2021-11-22 22:38] #1192 closed

[2021-11-22 23:33] lpgoldstein commented on #1175
@mcharg Here's the script - please take a look when you have chance https://doimspp-my.sharepoint.com/:w:/g/personal/mchargs_mms_gov/EXmS7W2nMwdCtMe2s5HC7-UBm_2KRcUMHkWMSfM3-j2aLw

[2021-11-23 13:33] cthomasONRR commented on #1181
@cvojslavek Thanks!!!

I emailed the Regs Team, and they are happy with these redirects. I'm going to close this issue now.

[2021-11-23 13:33] #1181 closed

[2021-11-23 14:36] mcharg commented on #1175
@lpgoldstein I took a look and added a couple comments.

[2021-11-23 15:04] cthomasONRR commented on #1112
I combined all documents associated with each handbook into 1 PDF.

The Indian Payor Handbook now has table headers failing due to the new Adobe update, but otherwise passes accessibility check.

The MPRH has a TON of accessibility errors when combined. Combined, it is 310 pages. I'm really unsure how to go about resolving.

[2021-11-23 15:45] cthomasONRR commented on #1112
The combined MPRH has flagged errors in Chapters 3 and 6- when checking those individual docs, there are no errors and it passes accessibility check.

The combined MPRH has flagged errors in: Chapters 2, 4, and 7; Appendices E and I; and the Glossary. All these individual documents are now giving the same errors as well. Errors are mainly associated with Table rows, headers, and summaries.

[2021-11-23 16:17] cvojslavek commented on #1177
@cthomasONRR if you'd like to review, the press releases are located in the [PressReleases folder](https://doimspp.sharepoint.com/:f:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Collections/Press%20Releases/PressReleases?csf=1&web=1&e=Nfizbr). And the press release information is in the [Press Release spreadsheet](https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/Gener

[2021-11-23 17:00] cthomasONRR commented on #1177
@cvojslavek WOW!!! Thank you so much! This looks amazing!

[2021-11-23 17:36] cthomasONRR commented on #1177
@lpgoldstein Do you want to review, or are you good with this issue being closed?

[2021-11-23 17:41] lpgoldstein commented on #1177
@cthomasONRR @cvojslavek Looks great, thanks!

[2021-11-23 17:41] #1177 closed

[2021-11-23 18:33] mcharg commented on #1178
@bbell0229 The finserAssign.pdf doc was replaced with this doc as part of the 508 compliance project.
https://www.onrr.gov/ReportPay/PDFDocs/FSFederalCOAssignm.pdf

[2021-11-23 18:34] cthomasONRR commented on #1112
Maybe a different option would be to have a .zip download on the new website to have 1 download for all individual documents. This could be a workaround because it might not be feasible to make the 300pg MPRH 508 compliant.

[2021-11-23 18:48] vcs5274 opened #1193 "Update Navajo Nation information"
Good afternoon,

Please remove

Lockbox mailing address:

Navajo Nation
PO Box 52543
Phoenix AZ 85072-02543
Include Acct No. 6008301569 on the payment.

Courier (delivery) address:

Wells Fargo Lockbox-S4001-01A
Ref: Navajo Nation/Acct No. 6008301569
1305 West 23rd Street
Tempe AZ 85282

Note: Payment address will change effective May 26, 2020

Effective May 26, 2020, the lockbox mailing address a

[2021-11-23 19:07] lpgoldstein commented on #1193
@vcs5274 This is ready for your review: http://2017onrr/reportpay/payments.htm

[2021-11-23 19:10] vcs5274 commented on #1193
Good afternoon,

Thank you. The update looks great.

Respectfully,

Victoria Soto, Supervisory Accountant
Accounting Services, General Ledger
Office of Natural Resources Revenue
Denver Federal Center (6th Ave West & Kipling St
Bldg. 85, Entrance N-1
Denver, CO  80225
Phone: 1-800-433-9801 x13085
     -or-      303-231-3085
Mobile: 720-220-6044
Fax: 303-445-9526
Email: ***@***.******@***.***>

"Rem

[2021-11-23 19:14] lpgoldstein commented on #1193
Thanks @vcs5274  - I'll let you know when it's live for final review.

[2021-11-23 20:00] mcharg opened #1194 "Update onrr.gov with new logo"

[2021-11-23 20:11] mcharg commented on #1194
This is updated in dev.  @lpgoldstein Do you want to take a look and let me know if it looks ok to go live?
http://2017onrr/

[2021-11-23 20:16] daniel-coleman-1 commented on #1194
@mcharg I can't read the text underneath ONRR, but I can't even see the white text on the old logo so I'm thinking ok to go live.

[2021-11-23 20:16] mcharg commented on #1178
@cthomasONRR and I both looked at this and neither of us could figure it out.  We reached out to Regina, but she's out until Monday.  We will revisit next week.

[2021-11-23 20:22] mcharg commented on #1194
@daniel-coleman-1 It needs to be about 125px to be readable, which we can fix on the new site.

[2021-11-23 20:23] mcharg opened #1195 "Update dev site with new logo."
![Logo.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/9896b761-011d-431d-85fa-5baddbd6d745)

[2021-11-23 20:33] lpgoldstein commented on #1193
@vcs5274 This is live!

[2021-11-23 20:33] #1193 closed

[2021-11-23 21:07] vcs5274 commented on #1193
Hello,

I checked the live site and I am not seeing the updates. The old information is still showing

[cid:3c416d9f-78b8-40a3-98f3-57f3099951ed]

Respectfully,

Victoria Soto, Supervisory Accountant
Accounting Services, General Ledger
Office of Natural Resources Revenue
Denver Federal Center (6th Ave West & Kipling St)
Bldg. 85, Entrance N-1
Denver, CO  80225
Phone: 1-800-433-9801 x13085
     -or

[2021-11-23 21:19] mcharg commented on #1194
Pushed live.

[2021-11-23 21:19] #1194 closed

[2021-11-23 22:11] mentastc opened #1196 "Add FY21 Press Release to Site"
Add FY21 Disbursements press release to ONRR.gov site.

Press Release attached
[Fiscal Year 2021 Disbursements Press Release.pdf](https://github.com/ONRR/onrr.gov-site/files/7591283/Fiscal.Year.2021.Disbursements.Press.Release.pdf)

[2021-11-23 22:30] cthomasONRR commented on #1196
@lpgoldstein and @mentastc

The dev site is available for your review:
http://2017onrr/about/NewsReleases.htm

[2021-11-23 22:34] cthomasONRR commented on #1196
Lindsay reviewed. I moved the changes to the live site.

[2021-11-23 23:00] cthomasONRR commented on #1196
It's live! Closing this issue.

[2021-11-23 23:00] #1196 closed

[2021-11-24 15:24] cthomasONRR commented on #1180
@lpgoldstein and @Maroyafaied When you have time, could you review the draft email (in the comment above) that I'm planning to send SMEs? Planning to email them next week. Thanks!

[2021-11-24 18:52] lpgoldstein commented on #1180
@cthomasONRR I just changed out "let" instead of "left" in the last sentence. Looks good! Thanks!

[2021-11-24 19:42] mcharg commented on #1183
We have a draft for:
* [Oil & Gas Production](https://4pkq0v.axshare.com/#id=bhj7vh&p=oil___gas_production&g=14)
* [Oil & Gas Royalty](https://4pkq0v.axshare.com/#id=its4or&p=oil___gas_royalty&g=14)

[2021-11-29 13:31] Maroyafaied commented on #1180
@cthomasONRR This looks good, I don't have any changes.

[2021-11-29 16:45] cmathers1 opened #1197 "Replace Docs for Section 508 Compliant on ONRR.gov"
Good morning,

Please replace the following documents. Thank you!
[940706.pdf](https://github.com/ONRR/onrr.gov-site/files/7619683/940706.pdf)
[940103.pdf](https://github.com/ONRR/onrr.gov-site/files/7619685/940103.pdf)
[931208.pdf](https://github.com/ONRR/onrr.gov-site/files/7619687/931208.pdf)
[930917.pdf](https://github.com/ONRR/onrr.gov-site/files/7619688/930917.pdf)
[930628.pdf](https://githu

[2021-11-29 19:43] mcharg commented on #1183
New draft pages:
* [Leases & Agreements](https://4pkq0v.axshare.com/#id=q4kw41&p=leases___agreements&g=1)
* [Rent](https://4pkq0v.axshare.com/#id=ekmgn0&p=oil___gas_rent&g=1)
* [System Access](https://4pkq0v.axshare.com/#id=j6ouxf&p=system_access&g=1)
* [Getting Started](https://4pkq0v.axshare.com/#id=2rx8r1&p=getting_started)

[2021-11-29 20:45] Maroyafaied commented on #1112
@cthomasONRR let's talk about this during our check in tomorrow.

[2021-11-30 13:39] cthomasONRR commented on #1180
@Maroyafaied What should I do for the deadline? Give them 2 weeks to complete?

[2021-11-30 13:50] Maroyafaied commented on #1180
@cthomasONRR about how many terms did you identify for each SME?

[2021-11-30 14:02] cthomasONRR commented on #1197
@cmathers1

The following documents failed the accessibility check. Could you please go back and fix these 2 documents?
- 881003 - Issues with page content, alt text, tables, lists, headings
- 880930 - Alt text needed

The other 12 documents are now uploaded to the ONRR site. Thanks so much for your help on this project!

[2021-11-30 14:04] #1173 closed

[2021-11-30 14:04] cthomasONRR commented on #1180
@Maroyafaied Most SMEs ahve under 10 terms... April and Amy have 15 and 13 respectively. 15 is the most terms that any SME has.
![image](https://user-images.githubusercontent.com/72526208/144061569-c4c5bef2-df9e-4eff-8751-55374339587d.png)

[2021-11-30 15:17] cmathers1 commented on #1197
Thank you. I am fixing these now and will resend.

Sincerely,

Christina

Christina Mathers
Staff Assistant
Director/Deputy Director's Office
Office of Natural Resources Revenue
6th Avenue and Kipling Street Bldg. 85
Denver, Colorado 80225
Phone:  303-231-3429
Cell: 303-503-1315
________________________________
From: Christine Thomas ***@***.***>
Sent: Tuesday, November 30, 2021 7:02 AM
To: ONRR/o

[2021-11-30 16:09] cthomasONRR commented on #1180
Emails are sent out. Closing this issue.

[2021-11-30 16:09] #1180 closed

[2021-11-30 16:19] cthomasONRR opened #1198 "Incorporate SME edits for Glossary Terms"
Folder for Glossary is located [here](https://teams.microsoft.com/_#/files/General?groupId=81f624a1-bcde-4f77-ba3b-69c787c88ed3&threadId=19%3A34f9f9ee6b0441dbacab56bfd552f819%40thread.skype&ctx=channel&context=Glossary&rootfolder=%252Fsites%252FNRRD%252FShared%2520Documents%252FGeneral%252FONRR.gov%252FDesign%252FGlossary)

Who has responded:

- [x] Data Mining - Jennifer Goldblatt
- [x] FM - Rob

[2021-11-30 16:26] Maroyafaied commented on #1175
@lpgoldstein @mcharg I have drafted answers to the moderator questions, can you both please review and make any changes or additions. Thanks

[2021-11-30 16:28] mcharg commented on #1175
@lpgoldstein Do you have another doc with the script?  The one linked above says "old" in the file name and has questions from the one you copied.

[2021-11-30 16:29] Maroyafaied commented on #1175
https://doimspp-my.sharepoint.com/:w:/g/personal/goldstel_mms_gov/ERWPa1ycwH5IvStgzGoWBXIBEL3MjVH4ycKz_zrsSU0-Zg?email=Maroya.Faied%40onrr.gov&e=dzFsKA

[2021-11-30 16:39] lpgoldstein commented on #1175
@mcharg @Maroyafaied I went ahead and deleted the link to the old one.

[2021-11-30 16:45] mcharg commented on #1175
Reviewed and made a few edits.  Looks good.

[2021-11-30 16:46] cthomasONRR commented on #1197
@cmathers1 Thank you so much! I have the last 2 pdfs uploaded on the live site. Closing this issue.

[2021-11-30 16:58] cthomasONRR commented on #1198
Who has responded:

- [ ] Data Mining - Jennifer Goldblatt
- [ ] FM - Rob Winter
- [ ] IDS - Stacey Browne
- [ ] ITOC - Amanda Garrison
- [ ] MSA - Robert Sudar
- [ ] Regs - Matt Collins
- [ ] RRM - April Lockler
- [ ] RV - Amy Lunt
- [ ] STRAC - Bruce Rumburg

[2021-11-30 22:00] jlouis-onrr commented on #1125
@mojobnichols, the new deployment scripts are now out in dev, can you review when you get a moment?

[2021-11-30 22:26] lpgoldstein commented on #1185
https://doimspp.sharepoint.com/:p:/s/NRRD/EWlzAeo1l85KrKHddFeJqccBJSUm9S1FSNaUTZpxxql-FA?e=pl32oa

[2021-12-01 14:30] mcharg opened #1199 "Unbundling page changes"
RV sent us a doc with changes they want.

[2021-12-01 17:35] cthomasONRR commented on #1112
@mcharg

Here is the Indian Payor Handbook PDF:
[Indian-Payor-Handbook-All-Chapters-Combined.pdf](https://github.com/ONRR/onrr.gov-site/files/7636029/Indian-Payor-Handbook-All-Chapters-Combined.pdf)

We are working with Shannon Hahn to see if they can remediate Ch 7 and Appendix I of the MPRH. Hopefully once those PDFs are fixed, the combined PDF will have less issues.

[2021-12-01 18:58] mcharg opened #1200 "Add training presentations to reporting reference pages"
We didn't include these in the wireframes.

[2021-12-01 18:58] mcharg opened #1201 "Merge contacts prototype with other prototype and add troubleshooting tab to reporting pages"
After we finalize them for contacts.

[2021-12-01 20:11] Maroyafaied opened #1202 "Upload accessible chapter 7 and appendix I"

[2021-12-01 20:13] Maroyafaied commented on #1202
@cthomasONRR I believe Appendix I is located in more than one place in the website. I believe it's in the production handbook section as well as in here https://onrr.gov/reportpay/references.htm ![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/9d05089b-1826-4bfd-8db7-e23aefc36e42)

[2021-12-01 20:34] cthomasONRR commented on #1202
Got all locations on the Y and Z drive updated :)
I'll wait for Shannon H's response before attempting to create a combined handbook again.

[2021-12-01 21:00] #1202 closed

[2021-12-01 21:21] #1175 closed

[2021-12-01 21:33] bowlenj opened #1203 "Federal Onshore Terminable Leases"
Please update the following webpage https://www.onrr.gov/reportpay/royalty-reporting.htm with the attached excel file.

Federal Onshore Terminable Leases - sorted by Due Date, please change (11/01/2021) to read (updated 12/01/2021)

[20211201.xlsx](https://github.com/ONRR/onrr.gov-site/files/7637230/20211201.xlsx)

[2021-12-01 21:39] mcharg opened #1204 "Add Solids videos page to the live site"
There are 5 P&R videos that aren't linked on the site.
https://www.youtube.com/user/ONRRChannel

[2021-12-01 21:43] cthomasONRR commented on #1203
@bowlenj

The changes are on the dev site: http://2017onrr/reportpay/royalty-reporting.htm
Please review and give us your approval to go live.

Thanks,
Christine

[2021-12-01 21:46] bowlenj commented on #1203
Looks great, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from di

[2021-12-01 21:50] cthomasONRR commented on #1203
@bowlenj Great! I just moved the changes over to the live site. It can take about 30min for the changes to go live. Use 'Ctrl+F5' to refresh the page. I will close this issue once I see the changes live. Thanks!

[2021-12-01 22:01] cthomasONRR commented on #1203
Updates are live! Closing this issue.

[2021-12-01 22:01] #1203 closed

[2021-12-02 14:33] mcharg opened #1205 "Figure out linking to CFR from troubleshooting guide"
This is the page where it was recommended.
https://4pkq0v.axshare.com/#id=bhj7vh&p=oil___gas_production&g=4

[2021-12-02 14:33] mcharg opened #1206 "Continue stakeholder reviews for troubleshooting guide"

[2021-12-02 14:47] mcharg opened #1207 "Review and reorganize training videos"
This should be done in conjunction with the accessibility changes and changes to the videos to match the new website.  There are videos on YouTube that aren't on onrr.gov currently, so we need to do an audit and make sure we have all the videos and have them organized well.

[2021-12-02 15:11] mcharg commented on #1183
Draft of all the guides:
https://4pkq0v.axshare.com/

I created #1206 to continue stakeholder reviews of the design.

[2021-12-02 15:13] mcharg opened #1208 "Update contacts spreadsheet to reflect changes in the troubleshooting guide"
Then @kmhtran can use it to update with the card design.

[2021-12-02 18:04] daniel-coleman-1 opened #1209 "November Analytics"

[2021-12-02 18:05] #1185 closed

[2021-12-02 18:06] #1183 closed

[2021-12-02 18:10] Maroyafaied commented on #1119
@mojobnichols please review.

[2021-12-02 18:13] #836 closed

[2021-12-02 18:15] Maroyafaied commented on #857
Will close this one and make another issue for build.

[2021-12-02 18:16] mcharg opened #1210 "Build event calendar"
Expanding design: https://ulfcy9.axshare.com/

[2021-12-02 18:17] mcharg commented on #857
Created #1210 for building.

[2021-12-02 18:17] #857 closed

[2021-12-02 18:20] Maroyafaied commented on #1112
will make an issue for production handbook.

[2021-12-02 18:22] #1112 closed

[2021-12-02 18:24] #1178 closed

[2021-12-02 20:10] daniel-coleman-1 opened #1211 "Update Production Reporting References"
Issue submitted via email by Johnny Erle

[2021-12-03 13:38] cthomasONRR opened #1212 "508 Phase 3 - Remove unbundling PDFs and add excel replacements"
I need to:

- [x] Get Sara's email with the new excel documents
- [x] Remove the PDFs from the dev site
- [x] Add the new excels to the dev site
- [x] Go in atom and rename the file names
- [x] Get Sara's approval
- [x] Move the changes to the live site
- [x] Update the accessibility tracking spreadsheet

[2021-12-03 14:56] cthomasONRR opened #1213 "Minerals Production Reporter Handbook - combine into single PDF"
I need to:

- [x] Take all the 508-compliant PDF files and combine into a single PDF
- [x] Assess if the combined PDF is compliant
- [x] If not compliant, attempt to remediate
- [x] If not able to remediate, talk to Shannon H about making either a combined Word document or a .zip download of all the PDFs

[2021-12-03 15:49] cthomasONRR commented on #1213
Here is the combined PDF: [MPRH-AllDocs-Combined.pdf](https://github.com/ONRR/onrr.gov-site/files/7650695/MPRH-AllDocs-Combined.pdf)

Here is the email I sent to Shannon H that explains the issue:

Hi Shannon,

Attached is the combined MPRH PDF that I created. It unfortunately looks like when you combine individual documents that pass the accessibility check, the resulting combined document will h

[2021-12-03 17:06] daniel-coleman-1 commented on #1211
Updated in dev and requested approval via email

[2021-12-03 18:38] WW-Git-Hub opened #1214 "NYMEX Monthly Upload"
November Nymex prices are ready for upload.

[NYMEX Monthly Price Calc Instructions 202110.docx](https://github.com/ONRR/onrr.gov-site/files/7651695/NYMEX.Monthly.Price.Calc.Instructions.202110.docx)

Walter Weathersby
@sudarr

[2021-12-03 18:40] WW-Git-Hub commented on #1214
I added the wrong file.

Here's the correct one:

[NYMEX112021.xlsx](https://github.com/ONRR/onrr.gov-site/files/7651697/NYMEX112021.xlsx)

@sudarr

[2021-12-03 18:48] cthomasONRR commented on #1214
@WW-Git-Hub

Great! I made the changes in Dev: http://2017onrr/valuation/NYMEX.htm
Please review the dev site and give us the ok to go live.

Thanks,
Christine

[2021-12-03 18:51] WW-Git-Hub commented on #1214
Prices are correct.

From: Christine Thomas ***@***.***>
Sent: Friday, December 3, 2021 12:49 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Weathersby, Walter B ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] NYMEX Monthly Upload (Issue #1214)

 This email has been received from outside of DOI - Use caution before clicking on links, opening attachments, or responding.

[2021-12-03 19:00] cthomasONRR commented on #1214
Thanks! The changes are now live: https://www.onrr.gov/valuation/NYMEX.htm

Closing this issue.

[2021-12-03 19:00] #1214 closed

[2021-12-03 19:36] mcharg opened #1215 "Update PowerPoint template to use Verdana"
The 508 team decided we should use this font across the board, since it's most readable.

[2021-12-03 19:38] mcharg commented on #1208
Updated. https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Contacts/ContactsFiles.xlsx?d=wee2fc3b441964dce928684aaf6e25e00&csf=1&web=1&e=PjPEhN

[2021-12-03 19:38] #1208 closed

[2021-12-03 21:51] daniel-coleman-1 commented on #1211
Approved and pushed live:
https://onrr.gov/reportpay/references.htm

[2021-12-06 14:35] cthomasONRR commented on #1213
Shannon H responded with:

@mcharg It looks like Shannon H will take responsibility for making this combined document 508 compliant, then send the compliant doc over to us to upload. I think this issue can be closed if you're ok with that. Thanks!

[2021-12-06 15:03] mcharg commented on #1213
@cthomasONRR I'm okay with that.

[2021-12-06 15:08] #1213 closed

[2021-12-06 15:19] mcharg opened #1216 "Present 508 compliance study findings to 508 team"

[2021-12-06 15:20] mcharg opened #1217 "Page: Oil & Gas Production"
https://dev-onrr-frontend.app.cloud.gov/reporting/production
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/19
https://qmcq5k.axshare.com/#id=sw7sll&p=oil___gas_production&g=1

[2021-12-06 15:22] mcharg commented on #1009
Closing, since we're changing direction with the design studio.

[2021-12-06 15:22] #1009 closed

[2021-12-06 15:23] mcharg commented on #1006
Addressing with design studio changes.

[2021-12-06 15:23] #1006 closed

[2021-12-06 15:48] cthomasONRR commented on #1216
Do we have a meeting scheduled for this? If not, I can work on getting one scheduled.

[2021-12-06 15:53] mcharg commented on #1216
@cthomasONRR We don't.  Not sure when Nichelle is back in the office.

[2021-12-06 16:08] cthomasONRR commented on #1205
Oil and Gas Production falls within 30 CFR 1210: https://www.ecfr.gov/current/title-30/chapter-XII/subchapter-A/part-1210

OGOR report filing falls under 30 CFR 1210 Subpart C: https://www.ecfr.gov/current/title-30/chapter-XII/subchapter-A/part-1210#subpart-C

I recommend adding a new card under the "I need to understand how to file an OGOR" accordion, with the link to 30 CFR 1210 Subpart C:
![ima

[2021-12-06 16:22] mcharg commented on #1205
@cthomasONRR Should we add CFR links for any of the other guide pages?

[2021-12-06 16:28] cthomasONRR commented on #1205
@mcharg Give me some time and I'll make you a table showing which links should go where in each troubleshooting guide.

[2021-12-06 16:30] mcharg commented on #1205
@cthomasONRR Awesome!  You're amazing.

[2021-12-06 17:04] StaceyKaiser opened #1218 "Webpage Update - New Lease Agreement XREF file for onrr.gov"
Please replace the existing file located at: http://www.onrr.gov/ReportPay/CrossRef.htm called “Cross-Reference Lease to Agreement Number” with the file entitled “December 2021 Lease Agreement XREF.txt”.  It was queried from the system on 12/6/2021
[December 2021 Lease Agreement XREF.txt](https://github.com/ONRR/onrr.gov-site/files/7662294/December.2021.Lease.Agreement.XREF.txt)
.

[2021-12-06 17:16] cthomasONRR commented on #1205
@mcharg Here is my table: [eCFR links for troubleshooting guides.xlsx](https://github.com/ONRR/onrr.gov-site/files/7662359/eCFR.links.for.troubleshooting.guides.xlsx)

Let me know if you want to put it in a shared drive location. I did my best to ID the correct CFR cites, but I mainly work in part 2016 so SMEs might have recommendations on better links to add.

[2021-12-06 17:29] cthomasONRR commented on #908
Antoinette re-sent the final documents. She had corrected them in July and they were loaded in the Y and Z drives, but they hadn't been marked on the accessibility tracking sheet. Everything (including the accessibility tracking sheet) is now updated. FM is officially complete! I can finally close this issue!!!

[2021-12-06 17:32] #908 closed

[2021-12-06 17:37] mcharg commented on #1205
@cthomasONRR This folder would be a good place to put it. https://teams.microsoft.com/_#/files/General?threadId=19%3A34f9f9ee6b0441dbacab56bfd552f819%40thread.skype&ctx=channel&context=Contacts&rootfolder=%252Fsites%252FNRRD%252FShared%2520Documents%252FGeneral%252FONRR.gov%252FDesign%252FContacts

[2021-12-06 17:39] cthomasONRR commented on #1205
@mcharg Great, I just added it there. Thanks!

[2021-12-06 18:06] #1169 closed

[2021-12-06 18:09] lpgoldstein commented on #1218
@StaceyKaiser /this is ready for your review http://2017onrr/reportpay/CrossRef.htm

[2021-12-06 18:17] Maroyafaied opened #1219 "Ingest Monthly summary from NYMEX files"

[2021-12-06 18:19] jlouis-onrr opened #1220 "Create Expansion panel tool for editorjs"

[2021-12-06 18:21] jlouis-onrr opened #1221 "Add skeleton component to collections"

[2021-12-06 18:34] Maroyafaied commented on #1217
@jlouis-onrr will do a bulk upload for the press releases.

[2021-12-06 18:36] Maroyafaied commented on #1217
Start with production reporting page.

[2021-12-06 18:40] cthomasONRR opened #1222 "Add a folder to house compiled Dear Reporter Letters"
Beginning of creating a 'collection' for CMS.

Folder located [here](https://teams.microsoft.com/_#/files/General?groupId=81f624a1-bcde-4f77-ba3b-69c787c88ed3&threadId=19%3A34f9f9ee6b0441dbacab56bfd552f819%40thread.skype&ctx=channel&context=Dear%2520Reporter%2520Letters&rootfolder=%252Fsites%252FNRRD%252FShared%2520Documents%252FGeneral%252FONRR.gov%252FDesign%252FCollections%252FDear%2520Reporter

[2021-12-06 18:41] mcharg commented on #1207
@daniel-coleman-1 This should be done later after the 508 compliance is done for the videos.

[2021-12-06 18:42] #1211 closed

[2021-12-06 18:54] #1190 closed

[2021-12-06 19:15] mcharg opened #1223 "Add CFR links to wireframes"

[2021-12-06 19:16] mcharg commented on #1205
I added #1223 for applying to wireframes.

[2021-12-06 19:16] mcharg commented on #1205
https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Contacts/eCFR%20links%20for%20troubleshooting%20guides.xlsx?d=w6f9e65db7c3f40ceb3a5ad7d598558be&csf=1&web=1&e=hYVq1o

[2021-12-06 19:16] mcharg commented on #1223
Spreadsheet: https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Contacts/eCFR%20links%20for%20troubleshooting%20guides.xlsx?d=w6f9e65db7c3f40ceb3a5ad7d598558be&csf=1&web=1&e=hYVq1o

[2021-12-06 19:52] StaceyKaiser commented on #1218
@lpgoldstein the data looks good and can be published live.  Thanks!

[2021-12-06 20:02] lpgoldstein commented on #1218
@staceykaiser I'll let you know when it's live!

[2021-12-06 20:58] mcharg commented on #1200
Ready to review.  @cthomasONRR or @lpgoldstein Can one of you take a look and make sure none of the presentations on the References tabs seem out of place?

- [ ] [Oil & Gas Production](https://qmcq5k.axshare.com/#id=sw7sll&p=oil___gas_production)
- [ ] [Oil & Gas Revenue](https://qmcq5k.axshare.com/#id=5ud60e&p=oil___gas_revenue)
- [ ] [Solid Minerals](https://qmcq5k.axshare.com/#id=hi0nnh&p=soli

[2021-12-06 21:05] mcharg opened #1224 "Component: Report Electronically"
This is going to live on lots of pages.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/2189efa0-4af3-4a82-b5d3-34b14d5b0e3d)

[2021-12-06 21:09] mcharg commented on #1018
Needed to finish adding Oil & Gas Production page.

[2021-12-06 21:14] mcharg opened #1225 "Add ability to have 3 columns and columns of different widths on same tab"
So we can do layouts like this.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/f67d1b56-4e9f-4d88-8034-f4a3677af863)

[2021-12-06 21:15] mcharg opened #1226 "Add ability to add cards within a tab"
So we can do layouts like this.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/34da9ff1-695d-4e9c-addd-66384d28fa65)

[2021-12-06 21:18] cthomasONRR commented on #1200
@mcharg do you mean the links in each training card? Just making sure I'm checking the correct locations.

[2021-12-06 21:19] mcharg opened #1227 "Add ability for links to display an icon depending on file type."
The first two here should be pdf icons and the third is xls.  Also need icons for PPT, DOC, TXT, video, email, phone.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/a2f95610-1c49-401a-b66f-a649cb39608b)

[2021-12-06 21:22] mcharg commented on #1200
@cthomasONRR They're mostly in the training cards, but some are in troubleshooting.  Just look and see if any links on the References tab seem mislocated.

[2021-12-06 21:23] lpgoldstein commented on #1218
@StaceyKaiser It's live!

[2021-12-06 21:23] #1218 closed

[2021-12-06 21:23] mcharg commented on #1225
We'd also like to be able to do this kind of layout, but can do something where all cards are the same width if this is too difficult. ![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/a3c5e3b0-ac19-4a4a-bb55-12ea7ae72419)

[2021-12-06 21:25] mcharg commented on #1217
Didn't get very far until I ran into things I couldn't do.  I added issues and added them as dependencies on this one.

[2021-12-06 21:26] mcharg commented on #1217
Page in dev: https://dev-onrr-frontend.app.cloud.gov/reporting/production

[2021-12-06 21:35] mcharg commented on #1225
Another example. ![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/1c8766cf-3af7-4e55-8300-57068584163f)

[2021-12-06 21:36] cthomasONRR commented on #1200
@mcharg Thanks! I took a look and all the links look correct/appropriately located to me.

[2021-12-06 21:40] cthomasONRR commented on #1205
@mcharg Great! Let me know if you need any revisions to the table. I will close this issue.

[2021-12-06 21:40] #1205 closed

[2021-12-06 21:42] mcharg opened #1228 "Add References page to CMS"
I picked one I thought I might be able to build now.

Design: https://qmcq5k.axshare.com/#id=7g1uot&p=references

[2021-12-06 21:44] mcharg opened #1229 "Add ability to have descriptor text in the card header"
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/8827e2eb-e410-4d17-8813-b177a981dc19)

[2021-12-06 21:45] mcharg commented on #1228
Won't display in dev because of the slug error. https://dev-onrr-frontend.app.cloud.gov/references

[2021-12-06 21:46] jlouis-onrr commented on #1034
Double urls are being created.

![image.png](https://images.zenhubusercontent.com/5d893e494c2d9e0001fa99ad/01c691aa-3dd1-4db7-83b3-ef42aed7235f)

[2021-12-06 21:54] mcharg opened #1230 "Improve table interaction."
- [ ] Copying and pasting content doesn't work.
It pastes below the table instead of in the cell.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/0b924bd8-7a1d-418e-83f7-4f807f093c7e)

[2021-12-06 21:55] mcharg opened #1231 "Page: Statutes"
https://dev-onrr-frontend.app.cloud.gov/references/statutes
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/20
https://qmcq5k.axshare.com/#id=lef7h9&p=statutes

[2021-12-06 22:10] Maroyafaied opened #1232 "Fix links for OGOR Training videos"
This issue came in the onrrweb mailbox, I asked if they know the correct links but I'm sure we can find them on youtube.

We've been preparing to give various internal and external trainings and in the course of that I found that several of the links on https://www.onrr.gov/reportpay/training/OGOR-Training-Videos.htm are not correct.  It is a combination of broken links and links pointing to the i

[2021-12-06 22:11] Maroyafaied commented on #1232
![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/e045964a-7098-40d7-92ca-202b11f172cf)

[2021-12-07 00:42] jlouis-onrr opened #1233 "Revamp block columns to be collection of layout breaks"

[2021-12-07 03:55] lpgoldstein commented on #1232
@Maroyafaied I was able to fix the first one but the second video isn't on YouTube but we do have it in the folder. We don't have the video for the 3rd one either nor is it on YouTube. I'll email Bill about it and CC you.

[2021-12-07 14:47] cthomasONRR commented on #1198
I emailed Rob Winter, Robert Sudar, and Bruce Rumburg about tomorrow's deadline.
I gave Amy Lunt and April Lockler until 12/15 because they have more terms to review.

[2021-12-07 15:26] mcharg opened #1234 "References menu isn't displaying correctly in dev"
What it looks like in the CMS.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/e6e45155-feef-40e0-af5a-6b73922cdea8)
What it looks like in the dev site.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/a81d557c-26e5-4765-877a-e56b257bb650)

[2021-12-07 15:28] mcharg commented on #1034
This is also happening on sub pages. ![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/c1d5159d-c927-48da-8904-c76989deb9f8)

[2021-12-07 15:29] mcharg commented on #1034
I'm wondering if #1234 is also related.  Maybe it's the pages with the double slash that aren't showing up in the menu?

[2021-12-07 15:33] mcharg opened #1235 "Add ability to use reusable components on a tab and vice versa"
I wanted to use the table I created on the Statutes page on the Compliance Authorities tab of the Compliance tab, but there's no way to do that from within a tab.  Also can't go the other way because you would have to pick the whole tab component.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/9ec0c0a4-539b-4d05-ad29-70574a7da89a)

Statutes wireframe: https://qmcq5k.axs

[2021-12-07 15:34] mcharg opened #1236 "Add Compliance page to CMS"
https://qmcq5k.axshare.com/#id=wxa2eb&p=compliance

[2021-12-07 15:38] mcharg commented on #1230
Also, adding a column adds them to the beginning even if you click on the plus sign at the end.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/82304a66-bd22-401b-bf9f-f239dece6510)

[2021-12-07 15:40] mcharg commented on #1230
- [ ] You can't delete a column once you add it.

[2021-12-07 15:52] mcharg opened #1237 "Create an example to have a card with two columns of content"
Example:
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/77328a01-c492-48e2-a19f-a7a54607cefa)

We want to be able to lay it out something like this with the courier payment in the right column:
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/e9a617c0-b017-4970-a33d-c6ca5341055d)

[2021-12-07 15:53] mcharg opened #1238 "Page: Office Locations"
https://dev-onrr-frontend.app.cloud.gov/about/office-locations
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/24
https://qmcq5k.axshare.com/#id=56s5ve&p=office_locations

[2021-12-07 16:13] cthomasONRR opened #1239 "FOIA request search"
Search between January 2014 - September 2019.

[2021-12-07 16:15] damionschulte opened #1240 "November 21 IBMP Pirces"
All I have updated the ONNR.gov spreadsheet with the November 21 IBMP prices.  Can you please have them ready to publish?  Thank you.

@sudarr

[2021-12-07 16:19] mcharg opened #1241 "Added a two column card block after a one column card block causes the page not to display in dev"
CMS page: https://dev-onrr-cms.app.cloud.gov/admin/content/pages/24
Dev page: https://dev-onrr-frontend.app.cloud.gov/about/office-locations

[2021-12-07 16:28] mcharg opened #1242 "Inconsistent bullet formatting"
If you copy and paste text already formatted as bullets, you get normal spacing between bullets, but if you try to create them within the CMS each bullet is treated as a separate component and they end up spaced out too far.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/9f54fc7c-c1a4-4091-8837-f021ee89fd89)

[2021-12-07 16:29] mcharg opened #1243 "Page: FOIA"
https://dev-onrr-frontend.app.cloud.gov/about/foia
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/31
https://qmcq5k.axshare.com/#id=7ctmer&p=freedom_of_information_act__foia_

[2021-12-07 16:31] mcharg opened #1244 "Page: About ONRR home"
https://qmcq5k.axshare.com/#id=vsgcdx&p=about_onrr

[2021-12-07 16:32] mcharg opened #1245 "Request 508 compliant version of strategic plan objectives"
It's on the About ONRR homepage and I asked Nichelle for a compliant version and she didn't respond.
https://dev-onrr-cms.app.cloud.gov/assets/28df066e-f610-48f4-a3e8-605b202148b2

[2021-12-07 16:32] mcharg commented on #1244
Jerome has most of this page in, we just need a cleaner diagram and a compliant pdf.

[2021-12-07 16:33] mcharg commented on #1244
Page in dev: https://dev-onrr-frontend.app.cloud.gov/about

[2021-12-07 16:39] mcharg opened #1246 "Add Compliance & Enforcement home page to CMS"
https://qmcq5k.axshare.com/#id=m0uxsl&p=compliance___enforcement

[2021-12-07 16:41] boices opened #1247 "Update December Indian Index Zone Prices on onrr.gov"
Please update the Indian Index Zone prices for December on ONRR.gov. The "Data for ONRR.gov" spreadsheet has been updated with the newest prices.

@sudarr

[2021-12-07 16:43] cmathers1 opened #1248 "Replace Documents on onrr.gov"
Good morning,

Please replace Dear Reporter letters on onrr.gov with these remediated documents. Thank you!

[970130.pdf](https://github.com/ONRR/onrr.gov-site/files/7670005/970130.pdf)
[961007.pdf](https://github.com/ONRR/onrr.gov-site/files/7670006/961007.pdf)
[960422.pdf](https://github.com/ONRR/onrr.gov-site/files/7670007/960422.pdf)
[950824.pdf](https://github.com/ONRR/onrr.gov-site/files/767

[2021-12-07 16:44] cmathers1 opened #1249 "Remove from onrr.gov"
Good morning,

Please remove from onrr.gov. Thank you!

[950203.pdf](https://github.com/ONRR/onrr.gov-site/files/7670019/950203.pdf)

[2021-12-07 16:51] mcharg opened #1250 "Page: FRNs"
https://qmcq5k.axshare.com/#id=kkqoxq&p=federal_register_notices

[2021-12-07 16:52] mcharg commented on #1250
I was all excited that I found a page I could build completely, but it won't display because of the url bug.

[2021-12-07 16:57] mcharg opened #1251 "Page: Unpaid Debt"
https://qmcq5k.axshare.com/#id=xmti8p&p=unpaid_debt

[2021-12-07 17:03] mcharg commented on #1237
Another example.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/409cd311-672c-41d1-b066-f4bfce569817)

[2021-12-07 17:23] mcharg commented on #1224
The component was created for the homepage, but it need buttons and the ability to have two columns.

[2021-12-07 17:24] mcharg commented on #1224
Also needs to be able to be reused on tabs.

[2021-12-07 17:36] cthomasONRR commented on #1248
@cmathers1

Thanks! The following 6 PDFs are now updated and marked as compliant.
- [ ] 970130.pdf
- [ ] 961007.pdf
- [ ] 960422.pdf
- [ ] 950824.pdf
- [ ] 950719.pdf
- [ ] 950210.pdf

The following 2 PDFs were already marked as Accessible and updated in our file folders.
- [ ] 880930.pdf
- [ ] 881003.pdf

Here is a list of the last 12 that need to be made accessible:
![image](https://user-images.

[2021-12-07 17:42] cthomasONRR commented on #1249
@cmathers1

Thanks! This document is now removed.

Here is a list of the 11 remaining documents. 1 seems to be a duplicate (Keepwhole Gas Processing Contracts), so really only 10 documents left!
![image](https://user-images.githubusercontent.com/72526208/145079509-b2f56809-eac2-4335-b19d-901d584c1acb.png)

[2021-12-07 17:43] #1249 closed

[2021-12-07 17:43] #1248 closed

[2021-12-07 17:51] lpgoldstein commented on #1247
@boices This is ready for your review: http://2017onrr/valuation/allzones.htm

[2021-12-07 17:53] boices commented on #1247
That looks perfect--thank you!

[2021-12-07 18:36] mcharg opened #1252 "Add NYMEX page content to CMS"

[2021-12-07 18:37] mcharg opened #1253 "Page: Valuation & Pricing: Pricing"

[2021-12-07 18:38] mcharg opened #1254 "Tab: Valuation & Pricing > How Valuation Works"

[2021-12-07 18:40] mcharg opened #1255 "Tab: Public Affairs > Contact & Social Media"

[2021-12-07 18:45] mcharg opened #1256 "Add way to have a second link for reporter letters for the accessible version"
We only have one right now, but could end up with others in the future.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/8205e4f3-4a08-492a-8af2-4857fd7ec914)

[2021-12-07 19:18] lpgoldstein commented on #1247
@boices This is live!

[2021-12-07 19:23] lpgoldstein opened #1257 "Submit bold.gov to DOI digest"
https://forms.office.com/Pages/ResponsePage.aspx?id=urWTBhhLe02TQfMvQApUlJCCR2DZ8AVJsIVXLu1Q0qdUQ1JIRFI0MFpKQzlBVzMzWVk4TUlDNUtZMy4u&wdLOR=cAAAF0272-C64B-4037-9E70-9135B3229D8C

[2021-12-07 20:15] mcharg commented on #889
Pulling this into this sprint, since it's on a page that will show during the demo.

[2021-12-07 20:39] mcharg opened #1258 "Images cut off on the side"
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/64d57eb8-96fb-4d86-99a5-337167c345f3)

[2021-12-07 20:42] mcharg commented on #889
@lpgoldstein I took your suggestion and built these in PPT.  Then exported to PNG.

RVPA
![RVPA.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/edfbafed-7cc7-4532-adad-15e9f3bd0e18)
RVLA
![RVLA.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/4dfd4c69-644e-4681-8fbe-5c0f5c6712ca)

This is what they look like in dev. Much cleaner than the Axure ones. (Note: I st

[2021-12-07 20:44] mcharg commented on #889
I just realized I need to add brackets to the RVLA one.

[2021-12-07 20:46] #1247 closed

[2021-12-07 20:48] mcharg commented on #889
![RVLA.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/97653b7e-e2d4-4aaa-b39e-b4ce90947cca)

[2021-12-07 20:49] cthomasONRR commented on #889
@mcharg Sorry it's been a while. I remember RRM and RV had very differing opinions on how to display these equations. Did they come to an agreement? I'm a bit confused why the royalty rate is being applied twice.

[2021-12-07 20:52] lpgoldstein commented on #1240
@damionschulte http://2017onrr/valuation/IndianOilIBMP.htm This is ready for your review - sorry for the delay - your issue was buried in a ton of new issues.

[2021-12-07 20:53] mcharg commented on #889
@cthomasONRR What I have is the version they agreed on.

[2021-12-07 20:55] cthomasONRR commented on #889
@mcharg OK thanks! If that's what they agreed on, let's not do any changes! haha

[2021-12-07 20:58] mcharg commented on #889
@cthomasONRR Any feedback on the look and feel? The blue and yellow worked well for Gina and Megan.

[2021-12-07 21:02] cthomasONRR commented on #889
@mcharg  If possible, I would maybe change the color of the RVLA box, so that it's different from volume, unit value, and allowances. Maybe a purple?

[2021-12-07 21:04] mcharg commented on #889
I can do that.  I think we made it thicker because Gina and Megan couldn't differentiate any other colors, but wouldn't hurt to make it thicker and another color.

[2021-12-07 21:05] mcharg commented on #889
@cthomasONRR Better?
![RVLA](https://user-images.githubusercontent.com/38465926/145106074-5ba85229-9c42-48e0-be67-4897ebb1cf78.png)

[2021-12-07 21:06] cthomasONRR commented on #889
@mcharg Yes! I like that this makes the final RVLA value stand out.

[2021-12-07 21:10] mcharg opened #1259 "Make images overwrite each other"
It's uploading new versions even though they have the same file name.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/4a7f33c5-4af4-44dd-8afa-7700110a5151)

[2021-12-07 21:10] damionschulte commented on #1240
These look perfect!  Thank you so much.

From: lpgoldstein ***@***.***>
Sent: Tuesday, December 7, 2021 1:53 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Schulte, Damion C ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] November 21 IBMP Pirces (Issue #1240)

 This email has been received from outside of DOI - Use caution before clicking on links, opening attachments,

[2021-12-07 21:19] mcharg opened #1260 "Using an existing tab block doesn't display tab content"
It shows up in the CMS, but not on the page in dev.  I tried to copy what I did on the valuation page to another page that doesn't have the url bug.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/d321c026-78cd-4c95-a164-0c38bbdc9733)

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/84fb62aa-bf30-4bad-8ae6-d4601c8b43fa)

[2021-12-07 21:30] mcharg commented on #895
@lpgoldstein Thoughts?
![History.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/7903a0af-132c-46a0-a05d-09a969fa85a1)

In dev:
https://dev-onrr-frontend.app.cloud.gov/about

[2021-12-07 21:39] lpgoldstein commented on #895
I like it - this is what it looks like in Dev
![image](https://user-images.githubusercontent.com/39419003/145110208-bd5317bb-6d88-4377-950d-37a82a3b0fb8.png)

[2021-12-07 21:43] mcharg commented on #895
Yeah, dev is cutting off all images.

[2021-12-07 21:44] mcharg commented on #895
Changed font to Lato.
![History](https://user-images.githubusercontent.com/38465926/145110896-52022996-ef58-44ae-b725-c1abbd135f15.png)

[2021-12-07 21:47] mcharg commented on #895
@Maroyafaied Do you have any feedback?