[2022-01-25 16:37] cthomasONRR commented on #1499
@mcharg Tabs look good. FYI the axure is buggy for this one. Not sure if it's just me.

[2022-01-25 16:39] daniel-coleman-1 commented on #1545
Wireframe has a closed table but mine is open for the ONRR Bank Account information in dev.

Wireframe:
![Screenshot 2022-01-25 093735](https://user-images.githubusercontent.com/83892362/151019757-02b487a9-ba5c-4634-a7bc-8409e840bef9.png)

Dev:
![Screenshot 2022-01-25 093620](https://user-images.githubusercontent.com/83892362/151019784-71313b7f-ab42-43a1-a6dc-594242f01f96.png)

[2022-01-25 16:45] lpgoldstein commented on #1471
@mcharg please review

[2022-01-25 17:20] mcharg commented on #1511
@cthomasONRR We have some blockers with not having buttons and the image sizing, but the links are all ready to review on this page.
https://dev-onrr-frontend.app.cloud.gov/about/contact

[2022-01-25 17:27] #1523 closed

[2022-01-25 17:27] #1524 closed

[2022-01-25 17:28] #1527 closed

[2022-01-25 17:28] #1528 closed

[2022-01-25 17:28] #1461 closed

[2022-01-25 17:28] #1532 closed

[2022-01-25 17:28] #1529 closed

[2022-01-25 17:28] #1537 closed

[2022-01-25 17:29] #1499 closed

[2022-01-25 17:37] #1506 closed

[2022-01-25 17:37] mcharg commented on #1497
Moving to backlog, since this is blocked.

[2022-01-25 17:38] #1513 closed

[2022-01-25 17:38] #1519 closed

[2022-01-25 17:39] cthomasONRR commented on #1511
@mcharg content and links look good

[2022-01-25 17:40] mcharg commented on #1511
Moving back to backlog because of blockers.

[2022-01-25 17:45] mcharg commented on #1471
@lpgoldstein Looks good.

[2022-01-25 17:45] #1471 closed

[2022-01-25 17:45] mcharg commented on #1496
@lpgoldstein I added links.  Moving to backlog until we can link to the document.

[2022-01-25 17:53] daniel-coleman-1 commented on #1546
need link to distributee codes:
![Screenshot 2022-01-25 105301](https://user-images.githubusercontent.com/83892362/151032033-5a9337e8-517a-4cf1-a927-e446b9afd783.png)

[2022-01-25 18:19] cthomasONRR opened #1564 "Respond to 508 email"
Thank you for sharing this post!

Under next steps I noticed the authors put, “Transition from posting PDFs on onrr.gov to locked Microsoft documents.”

Did you team find it easier remediate documents as Microsoft documents rather than PDF? Or was it because users wanted to update the documents and it was more sustainable to keep them in their original form rather than convert them with each updat

[2022-01-25 18:20] cthomasONRR commented on #1564
I responded with:

Hi Katie,

Apologies for my delayed response- I was out of the office for a few days.

We definitely found it easier to remediate Microsoft documents over the PDFs! There are several reasons for this. With Adobe, we are discovering that they update their accessibility checker occasionally within their software upgrades. We’re finding it increasingly hard to keep up with Adobe’s

[2022-01-25 18:20] #1564 closed

[2022-01-25 20:35] bbell0229 opened #1565 "Late Payment & Underpayment Interest"
Good Morning,

On the Late Payment & Underpayment Interest Tables page, at https://onrr.gov/ReportPay/interest.htm, please make the following updates:

Replace the interest calculator excel file below the questions/contact box on the page.

If you have any questions let me know.
[Interest_Calculator_Master.xlsx](https://github.com/ONRR/onrr.gov-site/files/7936944/Interest_Calculator_Master.xlsx)

[2022-01-25 20:51] lpgoldstein commented on #1475
@mcharg

[2022-01-25 20:52] lpgoldstein commented on #1476
@mcharg please review

[2022-01-25 20:52] lpgoldstein commented on #1477
@mcharg please review

[2022-01-25 20:52] lpgoldstein commented on #1466
@mcharg please review

[2022-01-25 20:52] cthomasONRR commented on #1430
@mcharg I added the ICR intro content and tabs.
I also added the cards for the Current ICR tab, but links to the individual webpages are needed.

Could you please review? Thanks!

[2022-01-25 20:53] mcharg commented on #1230
@daniel-coleman-1 Showed us how to do all of this.

[2022-01-25 20:53] #1230 closed

[2022-01-25 21:01] cthomasONRR commented on #1565
@bbell0229

This change is available on the dev site: http://2017onrr/reportpay/interest.htm.
Please review and give us your approval to go live.

Thanks!
Christine

[2022-01-25 21:17] bbell0229 commented on #1565
Good to go live!

Brittney A. Bell
Staff Accountant, Financial Services
Revenue, Reporting, & Compliance Management
Office of Natural Resources Revenue
Bldg 85, Denver Federal Center
Denver, CO 80225
1-800-433-9801 x 3381
303.231.3381
***@***.******@***.***>

From: Christine Thomas ***@***.***>
Sent: Tuesday, January 25, 2022 2:01 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Bell, Brittney A ***@***

[2022-01-25 21:33] cthomasONRR commented on #1565
@bbell0229 Great! The changes are now live: https://onrr.gov/ReportPay/interest.htm.
Please remember to use Ctrl+F5 to refresh the page.

I will close this issue now.

Thanks,
Christine

[2022-01-25 21:33] #1565 closed

[2022-01-25 23:04] bowlenj opened #1566 "Dear Reporter Letter"
Please add the attached Dear Reporter Letter to the following page - https://www.onrr.gov/DearRep.ht
[Dear Reporter Letter - File Structure Change_01242022.pdf](https://github.com/ONRR/onrr.gov-site/files/7937802/Dear.Reporter.Letter.-.File.Structure.Change_01242022.pdf)
m

[2022-01-25 23:14] Maroyafaied commented on #1456
@lpgoldstein @mcharg I've added the correct links and unlinked the documents. Please review.

[2022-01-25 23:25] daniel-coleman-1 commented on #1566
@bowlenj edits applied in dev for your review:
http://2017onrr/DearRep.htm

with your approval I will push these changes live.

[2022-01-26 13:27] bowlenj commented on #1566
This looks great!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosu

[2022-01-26 14:03] Maroyafaied commented on #1390
@mcharg this is ready for review. https://dev-onrr-frontend.app.cloud.gov/getting-started/system-access

[2022-01-26 14:33] cthomasONRR commented on #1439
I added the cards and content, but need links to PDFs and interactive handbooks.

[2022-01-26 14:35] cthomasONRR commented on #1430
Shannon reviewed intro content and tabs. Closing.

[2022-01-26 14:35] #1430 closed

[2022-01-26 14:49] cthomasONRR opened #1567 "Create Webpages for Current ICRs"
Parent site: https://dev-onrr-frontend.app.cloud.gov/references/icrs

- [x] https://dev-onrr-frontend.app.cloud.gov/references/icrs/1012-0001
- [x] https://dev-onrr-frontend.app.cloud.gov/references/icrs/1012-0002
- [x] https://dev-onrr-frontend.app.cloud.gov/references/icrs/1012-0003
- [x] https://dev-onrr-frontend.app.cloud.gov/references/icrs/1012-0004
- [x] https://dev-onrr-frontend.app.cloud.

[2022-01-26 14:56] mcharg commented on #1454
Added intro content and subtabs. https://dev-onrr-frontend.app.cloud.gov/references/training?tab=training-videos

[2022-01-26 14:58] jlouis-onrr opened #1568 "OMB Control Number 1012-0003"
New content ready for review: https://dev-onrr-cms.app.cloud.gov/admin/content/pages/87

[2022-01-26 15:00] mcharg commented on #1419
Got as far as I could before hitting blockers.
https://dev-onrr-frontend.app.cloud.gov/reporting/geothermal?tab=references

[2022-01-26 15:06] #1560 closed

[2022-01-26 15:07] mcharg commented on #1475
Looks good.

[2022-01-26 15:07] #1475 closed

[2022-01-26 15:07] mcharg commented on #1466
Looks good.

[2022-01-26 15:07] #1466 closed

[2022-01-26 15:08] mcharg commented on #1487
Looks good.

[2022-01-26 15:08] #1487 closed

[2022-01-26 15:14] mcharg commented on #1488
@lpgoldstein Looks good.  Moving to backlog because we need icons for the contact info.  I added the link to the directory.

[2022-01-26 15:16] jlouis-onrr opened #1569 "OMB Control Number 1012-0010"
New content ready for review: https://dev-onrr-cms.app.cloud.gov/admin/content/pages/93

[2022-01-26 15:24] cthomasONRR commented on #1567
All of the Forms links within each ICR page needs to be updated with a new website link. They are currently directing to the current/live onrr.gov site.

[2022-01-26 15:25] mcharg commented on #1491
@lpgoldstein I added the missing links.  Moving to backlog until we get icons.

[2022-01-26 15:28] cthomasONRR commented on #1567
@mcharg These are ready for your review. When you have time, I'd also like some help adding them to the ContentTracking excel. Thanks!

[2022-01-26 16:04] mcharg commented on #1490
@lpgoldstein Looks good.  Moving to backlog until we get icons.

[2022-01-26 16:09] cthomasONRR opened #1570 "Create new webpages for each handbook"
Parent site: https://dev-onrr-frontend.app.cloud.gov/references/handbooks

- [x] Minerals Revenue
https://dev-onrr-frontend.app.cloud.gov/references/handbooks/minerals-revenue-reporter-handbook
- [x] Minerals Production
https://dev-onrr-frontend.app.cloud.gov/references/handbooks/minerals-production-reporter-handbook
- [x] Solid Minerals
https://dev-onrr-frontend.app.cloud.gov/references/handbooks

[2022-01-26 16:22] mcharg commented on #1476
@lpgoldstein Looks good.  Moving to backlog until we get the ability to link to documents.

[2022-01-26 16:24] #1477 closed

[2022-01-26 16:24] mcharg commented on #1477
@lpgoldstein Looks good and no blockers.

[2022-01-26 16:34] daniel-coleman-1 commented on #1566
@bowlenj fantastic, we are live:
https://www.onrr.gov/DearRep.htm

[2022-01-26 16:35] cthomasONRR commented on #1570
@mcharg These pages are ready for your review. This review is just to check the link on the parent site and verify that I made the new handbook pages correctly. No content is on the individual handbook pages yet. I added these new pages to the content tracking spreadsheet, and set their status to Blocked.

[2022-01-26 16:41] Maroyafaied commented on #1504
@mcharg This page and tabs are done, we only need to add the org chart. Please review https://dev-onrr-frontend.app.cloud.gov/about/organization?tab=leadership

[2022-01-26 17:07] mcharg commented on #1559
Other pages.
https://dev-onrr-frontend.app.cloud.gov/indian/assistance?tab=federal-indian-minerals-office
https://dev-onrr-frontend.app.cloud.gov/indian/assistance?tab=indian-energy-service-center

[2022-01-26 17:08] mcharg commented on #1559
So they can stack and not break up content in the left column in responsive views.

[2022-01-26 17:13] mcharg commented on #1456
@Maroyafaied Looks good and tested all the links.  Moving to backlog until we can link to docs.

[2022-01-26 17:16] mcharg commented on #1390
@Maroyafaied Looks good.  Moving to backlog until we can link to docs.

[2022-01-26 17:22] mcharg opened #1571 "Add a color for visited links"

[2022-01-26 17:23] mcharg opened #1572 "Add documents to current ICR pages"
Parent site: https://dev-onrr-frontend.app.cloud.gov/references/icrs

- [x] https://dev-onrr-frontend.app.cloud.gov/references/icrs/1012-0002
- [x] https://dev-onrr-frontend.app.cloud.gov/references/icrs/1012-0004
- [x] https://dev-onrr-frontend.app.cloud.gov/references/icrs/1012-0005
- [x] https://dev-onrr-frontend.app.cloud.gov/references/icrs/1012-0006
- [x] https://dev-onrr-frontend.app.cloud.

[2022-01-26 17:24] mcharg commented on #1567
Added #1572 for adding documents.

[2022-01-26 17:26] cthomasONRR commented on #1567
@mcharg Great! I can take that issue once we're have document-adding functionality!

[2022-01-26 17:28] mcharg commented on #1567
@cthomasONRR Looks good.  I checked all the link except for forms and created a new issue for adding the forms links, so closing.

[2022-01-26 17:28] #1567 closed

[2022-01-26 17:31] mcharg commented on #1570
@cthomasONRR Pages and links from the handbooks page look good.  I think we should mark the pages as blocked, since we need to discuss with developers how to best build those pages.

[2022-01-26 17:32] #1570 closed

[2022-01-26 17:32] mcharg commented on #1570
I marked them as blocked.

[2022-01-26 17:35] mcharg commented on #1504
@Maroyafaied Looks good.  I adjusted the heading levels so that the sub-tabs use H3 and made the sub titles under the names H4 for better accessibility.

Moving to the backlog until we can link the org chart.

[2022-01-26 17:36] mcharg commented on #844
We don't need a collection for this.

[2022-01-26 17:36] #844 closed

[2022-01-26 17:37] mcharg commented on #1238
@Maroyafaied Can you review?  I think we can close this one now that we have the single spacing in the addresses.
https://dev-onrr-frontend.app.cloud.gov/about/office-locations

[2022-01-26 17:38] #1457 closed

[2022-01-26 18:18] daniel-coleman-1 commented on #1544
Blocker: needs blue buttons for links.

Otherwise, good to go.

[2022-01-26 18:19] daniel-coleman-1 commented on #1545
Blocker: table styling.

Otherwise, good to go.

[2022-01-26 18:22] daniel-coleman-1 commented on #1546
Blocker: table styling.  Both color and adding line breaks in between cells.
![Screenshot 2022-01-26 112230](https://user-images.githubusercontent.com/83892362/151223443-80c3eab1-ff94-42d7-bd77-aa69ccfe1dc7.png)

Otherwise good to go.

[2022-01-26 18:23] daniel-coleman-1 commented on #1547
Blocker: Blue buttons needed.

Otherwise, good to go.

[2022-01-26 18:24] daniel-coleman-1 commented on #1548
Good to go! Ready for review.

[2022-01-26 18:25] daniel-coleman-1 commented on #1503
Blocker: table formatting.

Otherwise, good to go.

[2022-01-26 18:26] mcharg commented on #1544
@daniel-coleman-1

* Cards should use the primary color instead of purple.
* Add links to external sites and remove links to docs on the current onrr.gov site.
* Card titles should be H4, not H3

[2022-01-26 18:27] mcharg commented on #1544
Intro sentence is also missing a period.

[2022-01-26 18:28] daniel-coleman-1 commented on #1544
@mcharg cards are purple on the wireframe.  Can you let me know what each of the colors is to be used for so I can add that to the content style guide?

[2022-01-26 18:28] mcharg commented on #1544
They're blue on the wireframes.  So far, it's the primary blue for everything except contact info, which is the secondary blue, and announcements, which are yellow.

[2022-01-26 19:33] mcharg commented on #1545
@daniel-coleman-1 Please remove the link to the document on the current site.

[2022-01-26 19:34] mcharg commented on #1546
@daniel-coleman-1 Please remove the link to the document on the current site.

[2022-01-26 19:35] mcharg commented on #1547
@daniel-coleman-1 Please remove the links to the documents on the live site.

[2022-01-26 19:36] mcharg commented on #1548
@daniel-coleman-1 Please remove the link to the document on the live site.  We will be uploading all documents to this site once Mojo gets that functionality in.

[2022-01-26 19:38] mcharg commented on #1503
@daniel-coleman-1 Please remove links to documents on the live site.

[2022-01-26 19:38] daniel-coleman-1 commented on #1545
@mcharg removed

[2022-01-26 19:38] daniel-coleman-1 commented on #1547
@mcharg removed

[2022-01-26 19:39] daniel-coleman-1 commented on #1548
@mcharg removed

[2022-01-26 19:39] daniel-coleman-1 commented on #1503
@mcharg removed

[2022-01-26 19:39] mcharg commented on #1545
@daniel-coleman-1 Looks good.  Moving back to backlog until we get the ability to link to documents.

[2022-01-26 19:41] mcharg commented on #1547
@daniel-coleman-1 Looks good.  Moving to the backlog until we get the ability to upload docs.

[2022-01-26 19:42] mcharg commented on #1546
@daniel-coleman-1 Looks good.  Moving to backlog until we get the ability to link docs.

[2022-01-26 19:43] mcharg commented on #1548
@daniel-coleman-1 Looks good.  Moving to backlog until we get the ability to link to docs.

[2022-01-26 19:44] mcharg commented on #1503
@daniel-coleman-1 The distributee code links at the bottom are still linked.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/bb4a25cf-c6d3-4c73-bb55-869fa0436ac3)

[2022-01-26 20:09] #1310 closed

[2022-01-26 20:16] cthomasONRR commented on #1424
https://dev-onrr-frontend.app.cloud.gov/references/statutes/fogrma-amendments

[2022-01-26 21:10] mcharg commented on #1405
I'm not sure where I got the reporting code diagram and can't find it on the live site.  Will need to figure out how to get a higher resolution version of it.

[2022-01-26 21:19] mcharg commented on #1405
Got as far as I can without linking docs.
https://dev-onrr-frontend.app.cloud.gov/reporting/revenue?tab=references
https://dev-onrr-frontend.app.cloud.gov/references/reference-lists?tab=revenue-reporting-references

[2022-01-26 21:30] mcharg opened #1573 "Add topics to reporter letter collection"
And then the ability to filter by it for use on the reference tabs on the reporting pages.

[2022-01-26 21:33] Maroyafaied commented on #1238
@mcharg looks good!

[2022-01-26 21:33] mcharg commented on #1412
Got as far as I can without being able to add docs.
https://dev-onrr-frontend.app.cloud.gov/reporting/solids?tab=references

[2022-01-26 21:36] #1238 closed

[2022-01-26 21:55] mcharg commented on #1438
Got as far as I could before hitting blockers.
https://dev-onrr-frontend.app.cloud.gov/references/reference-lists?tab=leases-agreement-numbers

[2022-01-27 13:22] lpgoldstein commented on #1492
Do we need an image in the video tab - I added the link

[2022-01-27 13:22] lpgoldstein commented on #1492
@mcharg ready to review

[2022-01-27 13:31] mcharg commented on #1492
@lpgoldstein We should create a separate issue for the video tab that has the video player as a dependency.

[2022-01-27 13:44] mcharg opened #1574 "Tab: Assistance > IESC > Video Overview"
https://dev-onrr-frontend.app.cloud.gov/indian/assistance?tab=video-overview

[2022-01-27 13:44] mcharg commented on #1492
Tabs look good.  Created #1574 for the video tab.

[2022-01-27 13:44] #1492 closed

[2022-01-27 13:47] mcharg commented on #1493
@lpgoldstein I added in the About tab title and Principles content that were missing and adjusted the heading levels in the cards on the right.  Otherwise, looks good until we get functionality to clean up the layout.  Moving to backlog.

[2022-01-27 13:51] mcharg commented on #1494
@lpgoldstein Looks good.  I adjusted heading levels.  Moving to backlog until we get the ability to add phone and email icons.

[2022-01-27 13:56] mcharg commented on #1503
@daniel-coleman-1 Looks good.  Moving to backlog until we get the ability to link to docs.

[2022-01-27 13:58] mcharg commented on #1436
We decided to do this manually.  @cthomasONRR Did the current ICR pages yesterday and she and @Baymatt will be doing the rulemaking ones.

[2022-01-27 13:58] #1436 closed

[2022-01-27 13:59] mcharg opened #1575 "Create Rulemaking pages"
All the pages linked from here need to be created.
https://qmcq5k.axshare.com/#id=h57jbd&p=rulemakings

[2022-01-27 14:01] mcharg commented on #1575
@cthomasONRR Created these ones yesterday.  I will review and check off when I approve.

- [ ] https://dev-onrr-frontend.app.cloud.gov/references/rulemakings/aa29
- [ ] https://dev-onrr-frontend.app.cloud.gov/references/rulemakings/aa27
- [ ] https://dev-onrr-frontend.app.cloud.gov/references/rulemakings/aa26
- [ ] https://dev-onrr-frontend.app.cloud.gov/references/rulemakings/aa25
- [ ] https://d

[2022-01-27 14:03] Maroyafaied commented on #1451
@daniel-coleman-1 this page looks good, I'm moving it to the backlog.

[2022-01-27 14:04] mcharg commented on #1575
@cthomasONRR On AA27, I'm getting this error when I click on the beta.regulations.gov page on both the old and new sites. ![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/0cb9739d-e916-49d4-a07b-8fed7fef691d)

[2022-01-27 14:06] mcharg commented on #1428
Built without a collection.

[2022-01-27 14:06] #1428 closed

[2022-01-27 14:07] mcharg commented on #1431
@cthomasONRR Looks good, so closing.

[2022-01-27 14:07] #1431 closed

[2022-01-27 14:08] cthomasONRR commented on #1575
@mcharg I will remove the beta link- that's from when they were redesigning regulations.gov. It's not necessary anymore.

[2022-01-27 14:46] Maroyafaied commented on #1452
@daniel-coleman-1 can you review this?

[2022-01-27 15:19] #1265 closed

[2022-01-27 15:22] mcharg commented on #1424
@cthomasONRR I added a couple of missing subtab titles and made sure all the accordions are there.  I'll review the content in detail after I finish my other issues for the sprint.  Also pinged @jlouis-onrr and @daniel-coleman-1 to see if either of them know how to indent in the CMS.

[2022-01-27 15:36] cthomasONRR commented on #1575
@mcharg New batch to review. I'm going to send them out in groups of ~8-10. I'm having some of the same tabbing/indentation issues I mentioned in FOGRMA, but all content is there.

- [ ] https://dev-onrr-frontend.app.cloud.gov/references/rulemakings/aa22
- [ ] https://dev-onrr-frontend.app.cloud.gov/references/rulemakings/aa21
- [ ] https://dev-onrr-frontend.app.cloud.gov/references/rulemakings/aa

[2022-01-27 15:50] cthomasONRR commented on #1575
@mcharg New batch to review:

- [ ] https://www.onrr.gov/Laws_R_D/FRNotices/AA08.htm
- [ ] https://www.onrr.gov/Laws_R_D/FRNotices/AA05.htm
- [ ] https://www.onrr.gov/Laws_R_D/FRNotices/AA04.htm
- [ ] https://www.onrr.gov/Laws_R_D/FRNotices/AA03.htm
- [ ] https://www.onrr.gov/Laws_R_D/FRNotices/AA02.htm

[2022-01-27 16:22] cthomasONRR opened #1576 "Update PowerBI Instruction Wiki"
https://github.com/ONRR/nrrd/wiki/PowerBI-Templates

[2022-01-27 16:37] Maroyafaied commented on #1562
@daniel-coleman-1 Let @mcharg know if you need help. Thanks

[2022-01-27 16:39] mcharg opened #1577 "Unable to add image from library to content blocks"
When you click on choose from library the browse pop-up stays visible and the selection pane is grayed out, so you can't pick an image.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/0a72cf5b-6759-453d-acd2-3df75b37e312)

[2022-01-27 16:44] cthomasONRR commented on #1576
put in wrong repo. closing and reopening in NRRD.

[2022-01-27 16:44] #1576 closed

[2022-01-27 17:37] mcharg commented on #894
Done in the CMS.
https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/compliance

[2022-01-27 17:37] #894 closed

[2022-01-27 17:37] mcharg commented on #1463
Got as far as I can until we get the ability to link to docs.
https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/compliance

[2022-01-27 18:06] #1365 closed

[2022-01-27 18:11] #1563 closed

[2022-01-27 18:18] daniel-coleman-1 commented on #1315
@cthomasONRR this is ready to review:
https://dev-onrr-frontend.app.cloud.gov/references/frns

[2022-01-27 18:24] cthomasONRR commented on #1315
@daniel-coleman-1

The most recent publication should be: https://www.federalregister.gov/documents/2021/12/27/2021-28045/states-decisions-on-participating-in-accounting-and-auditing-relief-for-federal-oil-and-gas-marginal
As per the link Ginger sent in #1302
![image](https://user-images.githubusercontent.com/72526208/151420345-e718358c-38a9-4209-bf7e-9d305dbf461f.png)

[2022-01-27 18:25] daniel-coleman-1 commented on #1315
@cthomasONRR should be good to go, thanks

[2022-01-27 18:26] Maroyafaied opened #1578 "Update current webhook for all collections"

[2022-01-27 18:27] cthomasONRR commented on #1315
@daniel-coleman-1 I did Ctrl+F5 and I'm still getting the old 2020 publication.

[2022-01-27 18:28] Maroyafaied opened #1579 "Get Jerome access to onrrweb mailbox"

[2022-01-27 18:28] daniel-coleman-1 commented on #1315
@cthomasONRR try again?  Should be good

[2022-01-27 18:29] cthomasONRR commented on #1315
@daniel-coleman-1 OK, now it's showing! Thanks! Approve.

[2022-01-27 18:29] #1315 closed

[2022-01-27 19:24] Maroyafaied commented on #1387
@mcharg let me know when images are saved. Thanks

[2022-01-27 19:27] mcharg commented on #1295
We can build this page without a collection.

[2022-01-27 19:27] #1295 closed

[2022-01-27 19:27] mcharg commented on #1423
We can build this page without a collection.

[2022-01-27 19:27] #1423 closed

[2022-01-27 19:32] mcharg commented on #1502
@lpgoldstein You've started on this one, right?

[2022-01-27 19:41] lpgoldstein commented on #1498
@mcharg do you want to check the tabs?

[2022-01-27 19:56] mcharg commented on #1498
@lpgoldstein Looks good. Moving to backlog until we can link to docs.

[2022-01-27 20:01] mcharg commented on #1231
We can build this without a collection.

[2022-01-27 20:04] #834 closed

[2022-01-27 20:13] mcharg commented on #1502
@lpgoldstein Moving to backlog for @cthomasONRR to add new RIN pages when they're built.

[2022-01-27 20:16] mcharg commented on #1501
@lpgoldstein Moving to backlog until we can link to docs.

[2022-01-27 20:33] cthomasONRR commented on #1424
@mcharg I've made all the pages uniform with no tabbing. I think the can go into the backlog until we can do text colors

[2022-01-27 20:59] mcharg commented on #1387
Attribution for disbursements icon (maybe put it in the caption field for now):
Money Distribution by Xinh Studio from NounProject.com

The rest are all CFPB and don't require attribution.
![Lease.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/f466767f-f859-49f7-9671-2ce25fa948e5)
![Disbursements.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/7b77c61e-2a78-4

[2022-01-27 21:44] daniel-coleman-1 commented on #1562
@mcharg added the content from the pop up to the interest calculator.  The current formula image is grainy so I made a new image, what do you think?  Should we go with something more stylized?

Blockers: need to add subscript and superscript options to text, needs shift+enter line breaks within the table, need to be able to resize images, if we want to keep the below blue we need text color and te

[2022-01-27 21:47] mcharg commented on #1562
@daniel-coleman-1 Try using a card with the primary color for the principal and interest rates.

@Maroyafaied Who owns this page?  We should try to get a higher res image of the formula from them or see if there are requirements when creating a new one.

[2022-01-27 21:53] Baymatt commented on #1575
@cthomasONRR Here is the first batch of my links to review, I've also added the ones we added during our meeting.

- [ ] https://dev-onrr-frontend.app.cloud.gov/references/rulemakings/ad32
- [ ] https://dev-onrr-frontend.app.cloud.gov/references/rulemakings/ad28
- [ ] https://dev-onrr-frontend.app.cloud.gov/references/rulemakings/ad22
- [ ] https://dev-onrr-frontend.app.cloud.gov/references/rulema

[2022-01-27 21:57] Maroyafaied commented on #1387
@mcharg This is ready for your review, I did my best with it but let me know if you think there's other ways to make it look better. https://dev-onrr-frontend.app.cloud.gov/getting-started/how-leasing-works

[2022-01-27 21:59] mcharg commented on #1387
@Maroyafaied I think this looks good until we get better control over image sizing.

[2022-01-27 22:01] Maroyafaied commented on #1387
@mcharg ya I agree, it's the best we can do for now.

[2022-01-27 22:12] Maroyafaied commented on #1562
@mcharg @lpgoldstein This page is owned by the Financial Services , you can email Chris Davis or this mailbox and ask for a better pic. ONRR-RFMASGL@onrr.gov

[2022-01-27 22:30] daniel-coleman-1 commented on #1562
@Maroyafaied I sent them an email

[2022-01-27 23:16] jlouis-onrr commented on #1332
@mcharg, can you provide the margins for all headings?

[2022-01-28 00:35] Baymatt commented on #1575
@cthomasONRR Finished up the remaining MMS Revenue Rulemakings and adding links for review. The spreadsheet is updated but the first column needs reordering.

- [ ] https://dev-onrr-frontend.app.cloud.gov/references/rulemakings/ac72
- [ ] https://dev-onrr-frontend.app.cloud.gov/references/rulemakings/ac70
- [ ] https://dev-onrr-frontend.app.cloud.gov/references/rulemakings/ac59
- [ ] https://dev-o

[2022-01-28 13:52] cthomasONRR commented on #1575
@Baymatt @mcharg I marked the following regs pages as 'Blocked' because they require internal/CMS links to forms. This is noted in the status and comments section of the tracking sheet.

https://dev-onrr-frontend.app.cloud.gov/references/rulemakings/ad22
https://dev-onrr-frontend.app.cloud.gov/references/rulemakings/ad01
https://dev-onrr-frontend.app.cloud.gov/references/rulemakings/ac86

The foll

[2022-01-28 14:36] mcharg commented on #1332
Let's try these to start. That's what they are from eyeballing in the wireframes.  I can provide adjustments once I see them on a page.

H1: 50px between breadcrumbs and title, 10px above the yellow line, 40px below the line
H2: 15 px above, 25 px below
H3: 15 px above, 25 px below
H4: 15 px above, 25 px below
H5: 15 px above, 25 px below

[2022-01-28 14:41] cthomasONRR commented on #1502
@lpgoldstein @mcharg
I added in links to the new RIN webpages.

[2022-01-28 14:58] mcharg commented on #1575
@cthomasONRR Reviewed all the ones that weren't checked.  All look good.

[2022-01-28 15:09] #1575 closed

[2022-01-28 15:10] cthomasONRR opened #1580 "Update rulemakings with document links"
The following rulemakings pages are 'Blocked' because they require internal/CMS links to forms. This is noted in the status and comments section of the tracking sheet.

- [x]  https://dev-onrr-frontend.app.cloud.gov/references/rulemakings/ad22
- [x] https://dev-onrr-frontend.app.cloud.gov/references/rulemakings/ad00
- [x]  https://dev-onrr-frontend.app.cloud.gov/references/rulemakings/ad01
- [x]

[2022-01-28 15:38] daniel-coleman-1 commented on #1453
@mcharg I've added the content but none of the links to training documents

[2022-01-28 15:42] mcharg commented on #1453
@daniel-coleman-1 Looks good.  Moving back to backlog until we can link docs.

[2022-01-28 15:58] mcharg commented on #1391
Got as far as I could without linking docs.
https://dev-onrr-frontend.app.cloud.gov/about/contact/system-access-contacts
https://dev-onrr-frontend.app.cloud.gov/getting-started/system-access?tab=troubleshooting

[2022-01-28 16:15] mcharg commented on #1533
Got as far as I couldn't without linking to docs.
https://dev-onrr-frontend.app.cloud.gov/about/contact/4444-contacts?tab=troubleshooting

[2022-01-28 16:56] cthomasONRR opened #1581 "Get accordions to display within second-level tabs."
I'm trying to get the accordions within second-level tabs to appear on the dev site.

Here is what I'm working on- getting the accordions with this second-level 'disallowed costs' tab.
https://qmcq5k.axshare.com/#id=nm9ju1&p=valuation_example_2&g=1
![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/0585d542-0ed7-4d4a-a4fb-e9d690a42c4a)

**CMS Page ID 96. Dev site location:

[2022-01-28 18:12] mcharg commented on #1376
This is fixed.

[2022-01-28 18:12] #1376 closed

[2022-01-28 18:31] cthomasONRR commented on #1449
@mcharg I've done all that I can with this one. Want to review, or should I put in in Product Backlog?

[2022-01-28 19:04] cthomasONRR commented on #1336
https://dev-onrr-frontend.app.cloud.gov/references/valuation?tab=valuation-regulations
https://qmcq5k.axshare.com/#id=l9inb4&p=valuation___pricing&g=1

@mcharg This is ready for your review. All tables are added, with links to the rulemakings page and eCFR. I also added in the handbooks and the links at the bottom of the wireframe.

The tables definitely need some sizing functionality. There is on

[2022-01-28 19:18] daniel-coleman-1 commented on #1544
@mcharg I've input your edits, should be good to go.

I did an accessibility check on the style tile and it's not accessible, so I added the following guidance in text in the ONRR content style guide:

![Screenshot 2022-01-28 121119](https://user-images.githubusercontent.com/83892362/151607510-a64d74aa-31de-4548-ad0c-509e05741b75.png)

I'm assuming this will expand as we continue to develop the si

[2022-01-28 20:39] cthomasONRR opened #1582 "Content not appearing within tabs"
I'm working on Page ID 68: https://dev-onrr-cms.app.cloud.gov/admin/content/pages/68
https://dev-onrr-frontend.app.cloud.gov/references/valuation/processed-gas-example?tab=overview

I was able to add the tabs without issue, and still see them fine on the dev site. I started adding content within the tabs without issue, and was seeing that content appear on the dev site. Now, on the dev site, none

[2022-01-28 21:02] mcharg commented on #1336
@cthomasONRR Looks good.  Putting into the backlog.

[2022-01-28 21:03] mcharg commented on #1544
@daniel-coleman-1 Looks good.  Moving to backlog.

[2022-01-28 21:04] mcharg commented on #1449
@cthomasONRR Looks good.  Moving to backlog.

[2022-01-28 21:27] mcharg commented on #1516
Got as far as I could without linking to docs.
https://dev-onrr-frontend.app.cloud.gov/about/contact/getting-started-contacts

[2022-01-28 21:29] mcharg opened #1583 "January analytics"

[2022-01-28 21:55] mcharg commented on #1464
@cthomasONRR Once you build the table for the Statutes page, you can use it here.

[2022-01-31 13:47] cthomasONRR commented on #1231
@mcharg I built the table and this page is ready for your review. Aside from getting more table functions (sizing, sorting), this page is complete.

[2022-01-31 13:48] mcharg commented on #1231
@cthomasONRR Looks good!

[2022-01-31 13:48] #1231 closed

[2022-01-31 13:50] cthomasONRR commented on #1464
@mcharg I was able to add in the statutes as an existing content block! This tab is ready for your review.

[2022-01-31 13:53] #1464 closed

[2022-01-31 13:53] mcharg commented on #1464
@cthomasONRR Looks good!

[2022-01-31 14:32] cthomasONRR opened #1584 "Make individual webpages for each discontinued ICR"
Parent:
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/46
https://dev-onrr-frontend.app.cloud.gov/references/icrs?tab=discontinued

[2022-01-31 14:57] cthomasONRR commented on #1584
- [ ] https://dev-onrr-frontend.app.cloud.gov/references/icrs/1012-0012
- [ ] https://dev-onrr-frontend.app.cloud.gov/references/icrs/1012-0007
- [ ] https://dev-onrr-frontend.app.cloud.gov/references/icrs/1010-0090
- [ ] https://dev-onrr-frontend.app.cloud.gov/references/icrs/1010-0140
- [ ] https://dev-onrr-frontend.app.cloud.gov/references/icrs/1010-0169
- [ ] https://dev-onrr-frontend.app.clou

[2022-01-31 15:32] mcharg commented on #1407
This is as far as I can get without linking to docs.
https://dev-onrr-frontend.app.cloud.gov/about/contact/royalty-contacts?tab=troubleshooting

[2022-01-31 15:42] cthomasONRR commented on #1584
@mcharg These pages are ready for your review.

[2022-01-31 15:51] mcharg commented on #1421
Got as far as I could without linking docs. /about/contact/geothermal-contacts?tab=troubleshooting

[2022-01-31 16:30] mcharg commented on #1520
Got as far as I could without linking to docs.
https://dev-onrr-frontend.app.cloud.gov/about/contact/lease-agreement-contacts?tab=troubleshooting

[2022-01-31 16:42] jlouis-onrr opened #1585 "Payments & Debt Collection Contacts"
New content ready for review: https://dev-onrr-cms.app.cloud.gov/admin/content/pages/78

[2022-01-31 17:06] mcharg commented on #1530
Got this as far as I could without linking to docs. https://dev-onrr-frontend.app.cloud.gov/about/contact/paying-contacts?tab=troubleshooting

[2022-01-31 17:36] mcharg commented on #1525
Got this as far as I could without linking to docs.
https://dev-onrr-frontend.app.cloud.gov/about/contact/rent-contacts?tab=troubleshooting

[2022-01-31 17:53] mcharg opened #1586 "Clean up contacts pages in prototype for user testing"
Need to add pagination.

[2022-01-31 18:03] Maroyafaied commented on #1515
@mcharg please review.

[2022-01-31 18:04] #1515 closed

[2022-01-31 18:14] daniel-coleman-1 opened #1587 "Finalize capitalization guidance for CMS"
- [ ] H1s
- [ ] H2s
- [ ] H3s
- [ ] H4s
- [ ] H5s
- [ ] Card H2s
- [ ] Card H3s
- [ ] Card H4s
- [ ] Tab Headings
- [ ] Accordions
- [ ] Table headers

[2022-01-31 20:09] mcharg commented on #1414
Got this as far as I could without linking to docs.
https://dev-onrr-frontend.app.cloud.gov/about/contact/solids-contacts?tab=troubleshooting

[2022-01-31 20:41] jlouis-onrr commented on #1332
@mcharg, the vuetify margin and padding classes are in multiples of 4.  For the heading styles I've started with margin-top 16px and margin-bottom: 24px.  I can override these styles and do 15 and 25px respectively, but I'd thought we could see how this looks first.

[2022-01-31 20:51] mcharg commented on #1332
@jlouis-onrr Yeah, let's do what's easiest.

[2022-01-31 20:59] jlouis-onrr commented on #1332
@mcharg, these updates are now out in dev.

[2022-01-31 21:14] mcharg commented on #1332
@jlouis-onrr Looks good!

[2022-01-31 21:14] #1332 closed

[2022-01-31 21:59] jlouis-onrr commented on #1582
@cthomasONRR, you should be seeing the content get displayed now.  A couple of things were preventing this from appearing on the frontend.

1.  There is duplicate page with the same slug and url and the previous page was being rendered as it came across first in the url(page 67 - archived).  The fix for this was a permission adjustment so that archived pages are not readable from the api.

2.  The

[2022-01-31 22:00] jlouis-onrr opened #1588 "URL field should not allow dupes, only unique values"

[2022-01-31 22:14] mcharg commented on #1582
@jlouis-onrr That was one of the pages that mysteriously disappeared, so I created a new one.

[2022-01-31 22:23] jlouis-onrr commented on #1582
it was archived.  On the right hand panel there is a archive option that will allow you to see all pages regardless of their status.  The new issue that wont allow for duplicate slug creation should prevent this from happening again.

[2022-01-31 22:31] jlouis-onrr commented on #1581
@cthomasONRR, the update for this is now out.

[2022-02-01 13:42] cthomasONRR commented on #1581
@jlouis-onrr Thanks!! I will try adding content within second-level tabs today!

[2022-02-01 13:54] mcharg commented on #1584
@cthomasONRR Getting a page not found for this one. https://dev-onrr-frontend.app.cloud.gov/references/icrs/1012-0007

[2022-02-01 13:57] cthomasONRR commented on #1582
@jlouis-onrr I started adding new content, and I'm getting the same issue- Not all of the new content is appearing. I just added an expansion panel and it will not show up.

[2022-02-01 14:00] cthomasONRR commented on #1584
@mcharg I just checked the CMS for 1012-0007 (Page ID 146) and everything looks fine :( I don't know what's going on.

[2022-02-01 14:00] jlouis-onrr opened #1589 "OMB Control Number 1012-0007 (formerly 1010-0119)"
New content ready for review: https://dev-onrr-cms.app.cloud.gov/admin/content/pages/146

[2022-02-01 14:11] mcharg commented on #1584
@cthomasONRR It's working now.

[2022-02-01 14:12] mcharg commented on #1584
@cthomasONRR These all look good.

[2022-02-01 14:12] #1584 closed

[2022-02-01 14:30] mcharg commented on #1559
Upped the priority on this one because the workaround isn't working well for the valuation examples.

[2022-02-01 16:43] cthomasONRR commented on #1446
@mcharg This entire example is ready for your review.

[2022-02-01 17:59] daniel-coleman-1 commented on #1562
I just got an email saying the image I provided works

[2022-02-01 18:51] cthomasONRR opened #1590 "Update Production Reporting References"
All,

On the ONRR.gov home page, please update the Production Reporting References with the attached files. The new as of date is 02/01/2022.
There are five Gulf files.

Thank you,

Johnny Erle

Minerals Revenue Specialist - Offshore Production
Reference and Reporting Team 1A
Office of Natural Resources Revenue
Office: (303) 231-3577

[2022-02-01 18:55] cthomasONRR commented on #1590
- [ ] [Gulf-Metering-Systems.xlsx](https://github.com/ONRR/onrr.gov-site/files/7981211/Gulf-Metering-Systems.xlsx)
- [ ] [Gulf-Sales-Tanks.xlsx](https://github.com/ONRR/onrr.gov-site/files/7981213/Gulf-Sales-Tanks.xlsx)
- [ ] [Gulf-Gas-Plants.xlsx](https://github.com/ONRR/onrr.gov-site/files/7981215/Gulf-Gas-Plants.xlsx)
- [ ] [Gulf-Flash-Gas.xlsx](https://github.com/ONRR/onrr.gov-site/files/79812

[2022-02-01 19:47] daniel-coleman-1 commented on #1587
@mcharg here's what I'm thinking, but I don't know of any examples of H5s on the site.  Can you show me where we have an H5 or two on the wireframe?

H1s – Title Case
H2s – Title Case
H3s – Title Case
H4s – Title case
H5s – Sentence case

Card H2s – Title Case
Card H3s – Title Case
Card H4s – Title case

Tab Headings – Title Case
Accordions – Title Case
Table Headers – Title Case

[2022-02-01 19:50] mcharg commented on #1587
@daniel-coleman-1

Why is H5 the only one that's sentence case?  If all other headers are title case, we might as well make that one title, as well.

The Approve Publications headers on this page are H5.
https://dev-onrr-frontend.app.cloud.gov/references/valuation?tab=federal-gas-index-option

For accordions, a lot of them are actual sentences (like in the troubleshooting guide and new reporter ch

[2022-02-01 20:01] #1590 closed

[2022-02-01 21:28] merrellc opened #1591 "Webpage - Federal Onshore Terminable Leases"
Hello, please update the following webpage http://www.onrr.gov/reportpay/royalty-reporting.htm with the attached file.

Federal Onshore Terminable Leases - sorted by Due Date. Also change update to read 02/01/2022.

Thank you!

[20220201.xlsx](https://github.com/ONRR/onrr.gov-site/files/7982025/20220201.xlsx)

[2022-02-01 21:40] cthomasONRR commented on #1591
@merrellc

These changes are now on the dev site: http://2017onrr/reportpay/royalty-reporting.htm.
Please review, and give us approval to go live.

Thanks,
Christine

[2022-02-01 22:51] merrellc commented on #1591
Approve to go live.

Kind Regards,
​Candace Merrell
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3517
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt f

[2022-02-02 13:30] cthomasONRR commented on #1591
@merrellc
The changes are now live: https://www.onrr.gov/reportpay/royalty-reporting.htm
Please use 'Ctrl+F5' to refresh the page.
Thanks,
Christine

[2022-02-02 13:30] #1591 closed

[2022-02-02 14:37] Maroyafaied commented on #1508
@mcharg this is ready for review. I added the link to documents dependency. https://dev-onrr-frontend.app.cloud.gov/about/engagement?tab=testimony

[2022-02-02 15:27] cthomasONRR opened #1592 "Add content to the Minerals Revenue Reporter Handbook"

[2022-02-02 15:28] cthomasONRR opened #1593 "Add content to the Minerals Production Reporter Handbook"

[2022-02-02 15:29] cthomasONRR opened #1594 "Add content to the Solid Mineral Reporter Handbook"

[2022-02-02 15:30] cthomasONRR opened #1595 "Add content to the Geothermal Payor Handbook - Class 1 Leases"

[2022-02-02 15:31] cthomasONRR opened #1596 "Add content to the Geothermal Payor Handbook - Class 2&3 Leases"

[2022-02-02 15:33] cthomasONRR opened #1597 "Add content to the Indian Payor Handbook (all tabs)"
- https://www.onrr.gov/reportpay/Handbooks/indian-payor-handbook.htm
- https://qmcq5k.axshare.com/#id=4b22sl&p=indian_payor_handbook&g=1
- https://dev-onrr-frontend.app.cloud.gov/references/handbooks/indian-payor-handbook?tab=chapter-1-about-this-handbook
- https://dev-onrr-cms.app.cloud.gov/admin/content/pages/99

[2022-02-02 17:38] Toddsand21 opened #1598 "CONCHO AREA MEETING (to add to the Event Calendar tab on Allottee Asst. page)"
EVENTS

CONCHO AREA MEETING
FEBRUARY 16, 2022
1:00 pm to 2:00 pm CST
Location:  By Telephone

Description:  Meeting will be a Call-in Meeting to hear brief updates from ONRR Outreach Office and representatives from BLM, BTFA, and BIA.  Owners will be able to ask questions regarding Indian Oil & Gas leases, IIM Accounts, and Indian Trust properties issues.  A limited number of lines will be availab

[2022-02-02 17:49] Toddsand21 commented on #1598
Please add "VIRTUAL" in the title to read:  "CONCHO AREA VIRTUAL MEETING"

[2022-02-02 18:06] cthomasONRR commented on #1598
@Toddsand21

Hello,
These changes are now available for you to view on the dev site: http://2017onrr/events.htm
Please let us know if you would like any modifications, or if you approve for these changes to go live.

Thanks,
Christine

[2022-02-02 19:22] Toddsand21 commented on #1598
1. In 1st sentence after **Description:** delete "issues" after it reads "and Indian trust properties"  End sentence with properties.   2. in **Who Should Attend**: Please add the following after it reads,  "the Concho Agency Area," including Canadian, Kingfisher, Custer, and Blaine counties,

[2022-02-02 19:28] cthomasONRR commented on #1598
@Toddsand21
Great, these changes are now on the dev site: http://2017onrr/events.htm
Please review again, and give us your approval to go live.

Thanks,
Christine

[2022-02-02 20:12] cthomasONRR commented on #1597
Items blocking this from being complete:

- Several instances of linking internal ONRR documents (like the full chapters, Dear Reporter Letters, and specific chapters of other Handbooks)
- Need better dimensions for tables
- Need better dimension editing for cards
- Need better dimension editing for images
- There is an image (Ch 3.1) that will need to be updated to reflect the new website
- For t

[2022-02-02 20:22] cthomasONRR commented on #1597
@mcharg Let me know if you'd like to review, or I can just move it back to Product Backlog

[2022-02-02 22:57] daniel-coleman-1 commented on #1583
@mcharg these are mostly good to go, but something wonky is going on with the dashboard pdf file when I try to download it.  I'm going to try and download it again in the morning and will tag you after for review.

[2022-02-02 23:02] daniel-coleman-1 commented on #1587
@mcharg I'm not sure I'm seeing the H5 correctly, can you post a screenshot?

I took another look at the accordions and you're right, many are actual sentences and sentence case does make more sense, so I changed that guidance.

[2022-02-02 23:23] Toddsand21 commented on #1598
They look fine and ready to go live. Thanks!

[2022-02-03 13:34] cthomasONRR commented on #1598
@Toddsand21
Great! The changes are now live: https://www.onrr.gov/events.htm
Please remember to use Ctrl+F5 to refresh the page.
Thanks, Christine

[2022-02-03 13:34] #1598 closed

[2022-02-03 14:05] mcharg commented on #1446
@cthomasONRR PC15 has the Transportation Allowances step 1.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/aa238fe5-cbff-4852-9554-ec7c9a162d5b)

[2022-02-03 14:06] mcharg commented on #1446
@cthomasONRR RVLA has the intro and step 1 from processing allowances.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/8633b025-89a5-4c96-8329-4f2ff8bfbb8a)

[2022-02-03 14:07] mcharg commented on #1446
@cthomasONRR The rest looks good.  I just adjusted some heading levels.

[2022-02-03 14:09] mcharg commented on #1587
@daniel-coleman-1 You can right click on the page and use the Inspect option to view the code and get the heading levels or you could look at the page in the CMS.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/d0e6a960-78c4-4959-808d-877852900e23)

[2022-02-03 14:09] mcharg commented on #1587
@daniel-coleman-1 Another H5 example.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/875f3670-ce6e-4edb-8912-74aa067df31f)

[2022-02-03 14:10] mcharg commented on #1587
@daniel-coleman-1 And another.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/08d75c91-7061-45b4-b6db-8fddc26350ed)

[2022-02-03 14:18] Toddsand21 commented on #1598
Thank you!

Sandra Todd
Minerals Revenue Specialist
Office of Natural Resources Revenue
Indian Outreach, OKC
(405) 879-6052
(800) 354-7015
________________________________
From: Christine Thomas ***@***.***>
Sent: Thursday, February 3, 2022 7:34 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Todd, Sandra L. ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] CONCHO AREA MEE

[2022-02-03 14:23] mcharg commented on #1449
@cthomasONRR Looks good.  Adjusted some heading levels and moving to backlog.

[2022-02-03 14:24] cthomasONRR commented on #1446
@mcharg Thanks for catching those issues! They are now fixed!

[2022-02-03 14:26] cthomasONRR commented on #1449
@mcharg Yay! This one was though to get together!

[2022-02-03 14:42] mcharg commented on #1597
@cthomasONRR Looks good.  Adjusted a few heading levels and moving to backlog.

[2022-02-03 14:43] cthomasONRR commented on #1597
@mcharg Awesome, thanks!!!

[2022-02-03 14:46] mcharg commented on #1446
@cthomasONRR Looks good.  Moving to backlog.

[2022-02-03 14:54] mcharg commented on #1562
@daniel-coleman-1 I did some layout cleanup to make this page more scannable and added dependencies.  Moving to backlog.

[2022-02-03 15:58] daniel-coleman-1 commented on #1583
@mcharg I set the monthly dashboard report to "Not available," aside from that it's good to go

[2022-02-03 16:15] mcharg opened #1599 "Contacts front end cards"

[2022-02-03 16:20] Maroyafaied commented on #1427
@mcharg please add the link to the spreadsheet

[2022-02-03 16:23] Maroyafaied opened #1600 "Update rulemaking and ICR spreadsheets for CMS Collection"

[2022-02-03 16:37] Maroyafaied opened #1601 "Make spreadsheet of handbooks for CMS collection"
Put page number in spreadsheet.

[2022-02-03 16:39] Maroyafaied commented on #1440
1. create spreadsheet for each handbook
2. create collection for each handbook

[2022-02-03 16:39] #1440 closed

[2022-02-03 16:49] Maroyafaied commented on #1447
look into adding icon property within the card block.

[2022-02-03 16:50] #1448 closed

[2022-02-03 16:55] Maroyafaied commented on #1460
@Maroyafaied contact the page owners if they have a spreadsheet for this data.

[2022-02-03 16:59] #1549 closed

[2022-02-03 16:59] #1550 closed

[2022-02-03 16:59] #1551 closed

[2022-02-03 16:59] #1558 closed

[2022-02-03 17:01] cthomasONRR commented on #1600
@mcharg Do these now need to be in an Excel document?

[2022-02-03 17:40] cthomasONRR commented on #1600
Rulemakings Collection linked [here](https://teams.microsoft.com/l/file/5DCF7519-C156-44B3-BE8D-C0749A9D9CC3?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FDesign%2FCollections%2FRulemakings%2FRulemakingsPagesCollection_NEW%20FOR%20CMS.xlsx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint

[2022-02-03 17:40] cthomasONRR commented on #1600
@mcharg Let me know if you'd like to review these before I link them to Jerome's issues.

[2022-02-03 18:02] mcharg commented on #1600
@cthomasONRR These look good.

[2022-02-03 18:14] cthomasONRR commented on #1427
@jlouis-onrr
Rulemakings Collection linked [here](https://teams.microsoft.com/l/file/5DCF7519-C156-44B3-BE8D-C0749A9D9CC3?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FDesign%2FCollections%2FRulemakings%2FRulemakingsPagesCollection_NEW%20FOR%20CMS.xlsx&baseUrl=https%3A%2F%2Fdoims

[2022-02-03 18:16] cthomasONRR commented on #1445
Rulemakings Collection linked [here](https://teams.microsoft.com/l/file/5DCF7519-C156-44B3-BE8D-C0749A9D9CC3?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FDesign%2FCollections%2FRulemakings%2FRulemakingsPagesCollection_NEW%20FOR%20CMS.xlsx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint

[2022-02-03 18:23] mcharg commented on #1427
@cthomasONRR Here's the ICR issue. https://app.zenhub.com/workspaces/open-data-design--development-5464fa79c3cc8d7f4c384eaf/issues/onrr/onrr.gov-site/1429

[2022-02-03 18:25] cthomasONRR commented on #1429
Discontinued ICR Collection Linked [here](https://teams.microsoft.com/l/file/ED400BD4-581E-4C99-B0BE-DD0C3037DAA5?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FDesign%2FCollections%2FDiscontinued%20ICRs%2FDiscontinuedICRCollection_NEW%20FOR%20CMS.xlsx&baseUrl=https%3A%2F%2Fdoimsp

[2022-02-03 18:27] #1600 closed

[2022-02-03 20:00] daniel-coleman-1 commented on #1583
@mcharg dashboard report is good to go, this is now fully ready to review.

[2022-02-03 20:07] forgravec opened #1602 "ONRR.gov Indian Gas Index Zone Prices - February"
The February Indian Gas Index Zone prices are ready to be posted to ONRR.gov.  The prices have been added to the Data for ONRR.gov spreadsheet in the OneDrive.

Thanks,
Cory

@Sudarr

[2022-02-03 20:12] mcharg commented on #1583
@daniel-coleman-1 I'm seeing different files than you have for downloads. ![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/5fcc0cbe-d904-422c-bff4-c8a3b0ead8bf)

[2022-02-03 20:15] mcharg commented on #1583
@daniel-coleman-1 Missing a line break on most viewed pages. ![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/aa34c5d7-aa87-4b24-a01a-b6497072ee8b)

[2022-02-03 20:16] cthomasONRR commented on #1602
@forgravec

These changes are now on the dev site: http://2017onrr/valuation/allzones.htm
Please review and give us your approval to go live.

Thanks,
Christine

[2022-02-03 20:16] mcharg commented on #1583
Everything else looks good.

[2022-02-03 20:40] daniel-coleman-1 commented on #1583
@mcharg input edits, thanks for reviewing.

[2022-02-03 20:46] mcharg commented on #1583
@daniel-coleman-1 I'm seeing different downloads.  It should be the training agenda, Active Leases, and XREF.
![image](https://user-images.githubusercontent.com/38465926/152425929-8223facd-d12f-4f42-a495-ec3f75107e9f.png)

[2022-02-03 20:51] daniel-coleman-1 commented on #1583
@mcharg thanks for catching, corrected.

[2022-02-03 20:53] #1583 closed

[2022-02-03 21:08] forgravec commented on #1602
Prices look good.

Thanks,
Cory Forgrave
Economist
Office of Natural Resources Revenue
303-231-3589
***@***.***

________________________________
From: Christine Thomas ***@***.***>
Sent: Thursday, February 3, 2022 1:16 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Forgrave, Cory J ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] ONRR.gov Indian Gas Index Zone Prices -

[2022-02-03 21:34] cthomasONRR commented on #1602
@forgravec Great! The changes are now live: https://www.onrr.gov/valuation/allzones.htm
Please remember to use Ctrl+F5 to refresh the page.

Thanks,
Christine

[2022-02-03 21:34] #1602 closed

[2022-02-03 21:39] boices opened #1603 "Update Jan 2022 NYMEX"
Good afternoon,

Please update the Jan NYMEX on onrr.gov
@sudarr

[NYMEX012022.xlsx](https://github.com/ONRR/onrr.gov-site/files/7998435/NYMEX012022.xlsx)

Thank you!

[2022-02-03 21:46] cthomasONRR commented on #1603
@boices
These changes are available to view on the dev site: http://2017onrr/valuation/NYMEX.htm
Please review and give us your approval to go live.

Thanks,
Christine

[2022-02-03 22:37] Baymatt commented on #1601
@Maroyafaied Which spreadsheet is this and where can I find the handbooks?

[2022-02-03 22:47] bowlenj opened #1604 "Onshore Production Contact List"
Please update the Onshore Production Contact list at the following webpage with the attached contact list - https://www.onrr.gov/about/contact.hts
[Onshore Production Reporting Contacts.pdf](https://github.com/ONRR/onrr.gov-site/files/7998802/Onshore.Production.Reporting.Contacts.pdf)

[2022-02-03 22:56] Maroyafaied commented on #1601
@Baymatt I'll have to set up a meeting with you to discuss this issue, I set it for next sprint but we can meet next week if you'd like.

[2022-02-03 22:58] Baymatt commented on #1601
Next week will work for me

[2022-02-04 13:43] cthomasONRR commented on #1604
@bowlenj These changes are on the dev site: http://2017onrr/about/contact.htm
Please review and give us your approval to go live.

Thanks,
Christine

[2022-02-04 13:53] bowlenj commented on #1604
It looks great, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt

[2022-02-04 14:01] cthomasONRR commented on #1604
@bowlenj Great! It's not live: https://www.onrr.gov/about/contact.htm
Please remember to use Ctrl+F5 to refresh the page.

Thanks,
Christine

[2022-02-04 14:02] #1604 closed

[2022-02-04 15:18] HammenONRR opened #1605 "Webpage Update - New Lease Agreement XREF file for onrr.gov"
Please replace the existing file located at: http://www.onrr.gov/ReportPay/CrossRef.htm called “Cross-Reference Lease to Agreement Number” with the file entitled “February 2022 Lease Agreement XREF.txt”.  It was queried from the system on 2/04/2022.
[February 2022 Lease Agreement XREF.txt](https://github.com/ONRR/onrr.gov-site/files/8004103/February.2022.Lease.Agreement.XREF.txt)

[2022-02-04 15:32] cthomasONRR commented on #1603
@boices
I got Sean's approval via Teams Chat.
These updates are now live: https://www.onrr.gov/valuation/NYMEX.htm

[2022-02-04 15:32] #1603 closed

[2022-02-04 16:29] mcharg opened #1606 "Update onshore production reporting contacts in the spreadsheet"
They changed the whole format of the list.
https://www.onrr.gov/reportpay/PDFDocs/OnshoreProductionContacts.pdf

[2022-02-04 17:34] cthomasONRR commented on #1606
Updating in the following Contacts Files [Spreadsheet ](https://teams.microsoft.com/l/file/EE2FC3B4-4196-4DCE-9286-84AAF6E25E00?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FDesign%2FContacts%2FContactsFiles.xlsx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD&service

[2022-02-04 18:44] cthomasONRR commented on #1606
@mcharg This is complete. Do you want to review?

[2022-02-07 14:08] mcharg commented on #1109
We're just going to build them without updating the wireframes.

[2022-02-07 15:37] mcharg commented on #1606
@cthomasONRR Looks good.

[2022-02-07 15:37] #1606 closed

[2022-02-07 16:55] HammenONRR commented on #1605
Hello Christine,

They are suppose to be reviewing this today. I will send a reminder.

Thanks!

Jeremy Hammen
Program Analyst
Data Optimization, Retrieval, and Coordination (DORC)
Information and & Data Management (IDM)
Office of Natural Resources Revenue (ONRR)
515-351-0254
***@***.******@***.***>

Warning: This message is intended only for use of the individual or entity to which it is addresse

[2022-02-07 19:00] HammenONRR commented on #1605
Hello, Happy to report the file looks correct and feel free to move the file to live site. Thank you for your patience!

[2022-02-07 19:26] mcharg commented on #1586
All the contacts pages now have pagination.  @cthomasONRR Do you want to take a look and see if I missed anything?
https://qmcq5k.axshare.com/

[2022-02-07 19:30] cthomasONRR commented on #1605
@HammenONRR
Fantastic! These changes are now live: https://www.onrr.gov/ReportPay/CrossRef.htm
Please remember to use 'Ctrl+F5' to refresh the page.
Thanks,
Christine

[2022-02-07 19:30] #1605 closed

[2022-02-07 19:31] Maroyafaied commented on #1507
Chris would like to get rid of it, I will make the update in the cms and delete it from the tracking sheet @mcharg do you want to update the wireframe? We'll update the sitemap with everything else.

[2022-02-07 19:36] cthomasONRR commented on #1586
Is this the correct location? https://qmcq5k.axshare.com/#id=079wgt&p=contact_us
Sorry- what is new that I should be checking?

[2022-02-07 19:36] #1296 closed

[2022-02-07 19:38] mcharg commented on #1586
@cthomasONRR The cards on the Contacts tab on each of the pages linked from Contact Us now have pagination.

[2022-02-07 19:38] mcharg commented on #1507
@Maroyafaied Wireframe will be updated shortly.  Just waiting for it to publish.

[2022-02-07 19:43] cthomasONRR commented on #1586
Ok sorry for misunderstanding.

Several pages have this type of overlap with the cards and page navigation, so I think the pages in Axure need to be lengthened. Here's an example within Oil & Gas Production:
![image](https://user-images.githubusercontent.com/72526208/152859649-03307db0-c393-47e6-9a0c-33a9adeb2afb.png)

Would it be possible to also have links to first page and last page in addition

[2022-02-07 19:55] cthomasONRR commented on #1586
Geothermal has some weird formatting overlap:
![image](https://user-images.githubusercontent.com/72526208/152861196-9e61e0bc-6356-4654-83f3-163cdc865ab2.png)

Pages that have overlap with the cards and page navigation (mentioned in the comment above): Oil & Gas Production, Payments & Debt Collection - Federal Accounts Receivable,

Aside from that, it they all look really good!!!

[2022-02-07 20:18] Maroyafaied commented on #1507
@mcharg I deleted the tab, can you review. Thanks

[2022-02-07 21:29] mcharg commented on #1507
@Maroyafaied Looks good.

[2022-02-08 15:47] cthomasONRR commented on #1586
@mcharg Sounds good!!!

[2022-02-08 16:08] Maroyafaied commented on #1601
@lpgoldstein @Baymatt I created a [folder ](https://teams.microsoft.com/_#/files/General?threadId=19%3A34f9f9ee6b0441dbacab56bfd552f819%40thread.skype&ctx=channel&context=Handbooks&rootfolder=%252Fsites%252FNRRD%252FShared%2520Documents%252FGeneral%252FONRR.gov%252FDesign%252FCollections%252FHandbooks)for the handbooks collection and saved all 5 handbook in there and started an excel sheet with 5

[2022-02-08 16:30] mcharg commented on #1586
@cthomasONRR Fixed geothermal. https://qmcq5k.axshare.com/#id=b5lzlu&p=geothermal_1

[2022-02-08 16:39] cthomasONRR commented on #1586
@mcharg Looks good! Herb Black retired, so we should probably remove his name. I doubt anyone in RV will remember to request its removal...

[2022-02-08 16:43] mcharg commented on #1586
@cthomasONRR Good call.  I also saw Bruce Rumberg still in the list.  @cvojslavek Do you know who should be taking over Bruce's contacts?

[2022-02-08 16:44] mcharg commented on #1557
This page is in the prototype.
https://qmcq5k.axshare.com/#id=8co3v5&p=company&g=1

@cthomasONRR Do you want to review?

[2022-02-08 16:45] mcharg commented on #1556
This page is in the prototype.
https://qmcq5k.axshare.com/#id=fdd7df&p=search_results&g=1

@cthomasONRR Do you want to review?

[2022-02-08 16:56] cthomasONRR commented on #1556
@mcharg I played around with the category filters, and they work well! Here are the issues I found:

The Indian Services section has some formatting errors:
![image](https://user-images.githubusercontent.com/72526208/153036074-fc53fa13-3b41-4513-8cb6-8ce18db29850.png)

The Oil and Gas Production - Onshore contact list here is not updated to reflect the changes you made yesterday:
![image](https://

[2022-02-08 16:59] cthomasONRR opened #1607 "Remove Herb Black's info from Geothermal Handbook webpage"
Herb retired. I will remove his contact information here: https://www.onrr.gov/reportpay/Handbooks/index.htm

[2022-02-08 17:01] cvojslavek commented on #1586
@mcharg @cthomasONRR Hi! I believe Bruce Rumburg should still be on there because he is still the Agreement Officer Representative. I can check with him if you'd like.

[2022-02-08 17:02] cthomasONRR commented on #1607
@mcharg Want to review before I go live?
http://2017onrr/reportpay/Handbooks/index.htm

[2022-02-08 17:09] mcharg commented on #1586
@cvojslavek Thanks!

We've got him listed a few times on the STRAC page. https://qmcq5k.axshare.com/#id=5fxgha&p=strac&g=1

[2022-02-08 17:18] #1557 closed

[2022-02-08 17:19] mcharg commented on #1556
@cthomasONRR Updated with the new onshore production contacts.  The wrapping issues will have to wait until build. https://qmcq5k.axshare.com/#id=fdd7df&p=search_results&g=1

[2022-02-08 17:23] cthomasONRR commented on #1556
@mcharg Looks good! Thanks :)

[2022-02-08 17:31] mcharg commented on #1607
@cthomasONRR Looks good!

[2022-02-08 17:34] #1556 closed

[2022-02-08 18:00] #1607 closed

[2022-02-08 18:02] #1507 closed

[2022-02-08 18:02] #1579 closed

[2022-02-08 18:07] mojobnichols opened #1616 "Wait for Directus bug fix for file updates"

[2022-02-08 18:09] #1582 closed

[2022-02-08 18:10] cvojslavek commented on #1586
@mcharg I connected with Bruce and he said he can be in each of those categories, i.e., Agreement Administration, Intergovernmental Personnel Act Fellowship Program, and Work Planning & Budgets.
Looks great!

[2022-02-08 19:10] mcharg opened #1608 "Add letters to contacts spreadsheet"
- Filter for non-blanks in column G
- Fill in the letters in column E

A bunch are filled in as examples.
https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Contacts/ContactsFiles.xlsx?d=wee2fc3b441964dce928684aaf6e25e00&csf=1&web=1&e=cGBlEr

[2022-02-08 19:15] mcharg commented on #1608
Decided to finish this up while I had it open.

[2022-02-08 19:15] #1608 closed

[2022-02-08 20:15] #1586 closed

[2022-02-08 20:15] #1038 closed

[2022-02-08 21:08] bowlenj opened #1609 "Update to Onshore Production Contact List"
We found a few errors in the Onshore Production Contact list.  Can you please replace the contact list located at the following link with the attached list - https://www.onrr.gov/reportpay/PDFDocs/OnshoreProductionContacts.pdf
[Onshore Production Assignments revised 022203.pdf](https://github.com/ONRR/onrr.gov-site/files/8027488/Onshore.Production.Assignments.revised.022203.pdf)

[2022-02-08 21:15] cthomasONRR commented on #1609
@bowlenj
Sure thing- here it is in dev: http://2017onrr/about/contact.htm
Please review and let me know if you approve to go live.

Could you point out what changed? We have a contacts spreadsheet we're keeping updated for the new onrr.gov site, and I want to make sure I capture the changes there too. Thanks!

[2022-02-08 21:59] damionschulte opened #1610 "January 2022 IBMP"
All, I have updated the Data for ONRR sheet on the one drive with the January 2022 IBMP Prices.  Can you please publish them to the website?  Thanks

@sudarr

[2022-02-08 22:08] bowlenj commented on #1609
This looks great, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exem

[2022-02-08 22:13] Maroyafaied commented on #1610
@damionschulte Please review http://2017onrr/valuation/IndianOilIBMP.htm

[2022-02-08 22:17] damionschulte commented on #1610
These look amazing.  Thank you.

From: Maroyafaied ***@***.***>
Sent: Tuesday, February 8, 2022 3:14 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Schulte, Damion C ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] January 2022 IBMP (Issue #1610)

 This email has been received from outside of DOI - Use caution before clicking on links, opening attachments, or responding.

[2022-02-08 22:32] Maroyafaied commented on #1610
@damionschulte Thanks, this is live.

[2022-02-08 22:32] #1610 closed

[2022-02-08 23:51] Baymatt commented on #1601
I can take the Revenue and Production handbooks.

[2022-02-09 14:07] #1609 closed

[2022-02-09 17:02] Rebekah474 opened #1611 "Add Outreach Videos to ONRR.gov"
We have 2 videos to add to the allottee assistance page of ONRR.gov. The first video (#1) Where do I go for royalty help? and the most recent video (#4) Why are there negative amounts on my statement? There are already 2 videos on the page, please keep all 4, I know the page will be crowded, maybe 2 videos on the left panel and 2 on the right.

Video 1  - Where do I go for royalty help? - YouTube

[2022-02-09 17:06] mcharg commented on #1611
I'm taking this one, since I talked with Rebekah about adding a tab for the videos.

[2022-02-09 18:30] mcharg commented on #1611
@rebekah474 I have this updated in the dev site.  Please review and let me know if it looks good to push live.
http://2017onrr/IndianServices/index.htm

[2022-02-09 19:00] Rebekah474 commented on #1611
Yes it can go live, it looks great, thank you

[2022-02-09 19:01] Rebekah474 commented on #1611
Yes it can go live. I also added a comment on GitHub with the approval to go live.
Thank you

Rebekah Ingraham
Mineral Revenue Specialist
ONRR SIO
Oklahoma City
405-879-6037
800-354-7015
6:30-3:00 CT M-F
We all have different gifts, so we all have different ways of saying to the world who we are. - Fred Rogers
For Allottee Assistance go to:
https://www.onrr.gov/IndianServices/index.htm
To see ONRR

[2022-02-09 19:06] mcharg commented on #1611
@rebekah474 I pushed it live.  The change should be visible within an hour.  I'll check to make sure the change is live before closing this issue.

[2022-02-09 19:10] Rebekah474 commented on #1611
Thank you

Rebekah Ingraham
Mineral Revenue Specialist
ONRR SIO
Oklahoma City
405-879-6037
800-354-7015
6:30-3:00 CT M-F
We all have different gifts, so we all have different ways of saying to the world who we are. - Fred Rogers
For Allottee Assistance go to:
https://www.onrr.gov/IndianServices/index.htm
To see ONRR's training videos, go to:
http://onrr.gov/ReportPay/training/default.htm<https://g

[2022-02-09 19:36] Maroyafaied commented on #1587
All headings will be title case, and the accordions will be sentence case. @daniel-coleman-1 please add this guidance to onrr.gov's wiki. Thanks

[2022-02-09 20:12] daniel-coleman-1 commented on #1587
![Screenshot 2022-02-09 131146](https://user-images.githubusercontent.com/83892362/153282322-d733e5b6-39f8-4bb0-8389-b1aa22067222.png)

[2022-02-09 20:34] mcharg commented on #1587
@daniel-coleman-1 what you have doesn't mention H5.

[2022-02-09 20:41] daniel-coleman-1 commented on #1587
@mcharg nice catch, amended.
![Screenshot 2022-02-09 134117](https://user-images.githubusercontent.com/83892362/153286410-4bccbdc3-4dd9-4a52-8e2c-ff3ddda0c8ec.png)

[2022-02-09 20:41] #1587 closed

[2022-02-09 20:56] Maroyafaied opened #1612 "Add the year 2022 in the drop down Indian Oil Major Portion"
https://onrr.gov/valuation/IndianOilIBMP.htm

[2022-02-09 21:02] daniel-coleman-1 commented on #1509
Do we want to add the ability to add line breaks to tab headers or have them adjust responsively?  Right now I'm only able to have the headers as one horizontal line like this (dev):
![Screenshot 2022-02-09 132136](https://user-images.githubusercontent.com/83892362/153287421-df76386d-2080-4892-9680-bcf9fdd1324e.png)

here it is in the wireframe:
![Screenshot 2022-02-09 134701](https://user-images.

[2022-02-09 21:08] mcharg commented on #1611
This is live.

[2022-02-09 21:08] #1611 closed

[2022-02-09 21:12] Rebekah474 commented on #1611
Thank you, it looks great!

Rebekah Ingraham
Mineral Revenue Specialist
ONRR SIO
Oklahoma City
405-879-6037
800-354-7015
6:30-3:00 CT M-F
We all have different gifts, so we all have different ways of saying to the world who we are. - Fred Rogers
For Allottee Assistance go to:
https://www.onrr.gov/IndianServices/index.htm
To see ONRR's training videos, go to:
http://onrr.gov/ReportPay/training/defa

[2022-02-09 21:23] daniel-coleman-1 commented on #1509
@Maroyafaied this is ready to review.

Aside from that all the previous blockers still exist:
- Add ability for links to display an icon depending on file type
- Add ability to decide how large an image displays
- Add ability to put alt text on images
- Add way to link to documents

[2022-02-09 21:24] daniel-coleman-1 commented on #1510
@Maroyafaied this is good to go, text is entered in and formatted but the two blockers still exist.

[2022-02-09 21:25] daniel-coleman-1 commented on #1543
@Maroyafaied this page is good to review, aside from the current blocker around linking to it.

[2022-02-09 21:51] mcharg commented on #1601
Do we need to add a column with the 1-1 or whatever displays in the page column in the TOC table?  @kmhtran and I were wondering this when trying out wireframing it.  I think they'll need to know what displays when it's built.

[2022-02-09 21:58] mcharg commented on #1601
This is what it looks like if we use what's in the spreadsheet in the wireframe. (Disregard the column widths - Kaitlyn will be cleaning those up.)
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/263ad261-4285-4eec-bf21-a6f53f85cec6)

I think we're missing the display text shown here.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/5724d193-d7a

[2022-02-09 23:11] #1612 closed

[2022-02-09 23:11] Maroyafaied commented on #1612
This is fixed in the live site.

[2022-02-09 23:14] Maroyafaied commented on #1601
@mcharg Not sure what you mean, do you mean adding the chapter number before the page number?

[2022-02-09 23:30] Baymatt commented on #1601
As I understood it from yesterday's meeting, we were including actual page numbers because the ones in the table of contents didn't tell us where the page was actually located in the pdf (e.g. Page 1-1 is page 23 in the pdf for the revenue handbook). Do we still need to keep the original page information for display purposes?

@Maroyafaied @mcharg Should I add an additional column with the origina

[2022-02-10 01:45] lpgoldstein commented on #1262
@jkwonatx Can we close this issue now?

[2022-02-10 13:58] Maroyafaied commented on #1543
@daniel-coleman-1 this page doesn't have any blockers. I reviewed and looks good.

[2022-02-10 13:58] #1543 closed

[2022-02-10 14:02] Maroyafaied commented on #1510
@daniel-coleman-1 looks good, moving to backlog since this page has blockers.

[2022-02-10 14:13] mcharg commented on #1601
I think we need the original page information for display purposes and the actual page number for linking purposes.

[2022-02-10 14:18] mcharg opened #1613 "Fix footer links to internal pages"
The Disclaimer, Sitemap, and FOIA links don't work.

[2022-02-10 14:19] mcharg commented on #1613
Also, the social links in the footer aren't working.

[2022-02-10 14:34] mcharg commented on #1601
The 1-1 is what displays in the TOC in the pdf rather than the physical page number.
![image](https://user-images.githubusercontent.com/38465926/153429035-e284a93b-1f5a-4024-8b17-8c40270fcb2e.png)

And it displays at the bottom of the page within the pdf, so I think we should have those for display purposes to be consistent.
![image](https://user-images.githubusercontent.com/38465926/153429193-16e

[2022-02-10 14:49] Maroyafaied commented on #1601
@mcharg not all the handbook have the same display of page numbers as the revenue one, the geothermal TOC shows just the actual page number.
![image](https://user-images.githubusercontent.com/40175688/153432335-ea362993-66e4-460a-8d6d-a04cb8e8e7cb.png)

[2022-02-10 16:10] daniel-coleman-1 commented on #1394
@mcharg is this the correct format to link to pages within the CMS?
![Screenshot 2022-02-10 090944](https://user-images.githubusercontent.com/83892362/153448280-c8bcf6cb-f576-4565-af4e-82fe76f1fbff.png)

[2022-02-10 16:11] Maroyafaied commented on #1394
@daniel-coleman-1 you have to link to the page url which is /references/training

[2022-02-10 16:12] daniel-coleman-1 commented on #1394
@Maroyafaied am I adding a ".htm" to the end?

[2022-02-10 16:18] Maroyafaied commented on #1394
@daniel-coleman-1 no

[2022-02-10 16:22] Maroyafaied commented on #1394
@daniel-coleman-1 Ok, moving it to backlog.

[2022-02-10 16:25] Maroyafaied commented on #1509
@daniel-coleman-1 moving it to backlog

[2022-02-10 16:32] mcharg commented on #1110
The three Indian pricing tables are ready to review.  @cthomasONRR Do you want to review?

Note: The filtering only sort of works.  You can use the filters to filter by anything except "All" and the two filters don't work together.  Didn't think it was worth the time to get them to work right.
https://qmcq5k.axshare.com/#id=y89dq7&p=indian_pricing

[2022-02-10 16:32] mcharg opened #1614 "Wireframe for Late Payment Interest Table"

[2022-02-10 16:53] daniel-coleman-1 opened #1615 "Add content to WYMHM February"
Due Friday, Feb 18th

https://doimspp.sharepoint.com/:w:/s/ONRRWebContentTeam/ET62XMW96TlDsIbkroSB_AUBvItUwj14mUwYGI-lawsnQg?e=4%3A7FejTk

[2022-02-10 18:06] Maroyafaied commented on #1473
@mcharg please review

[2022-02-10 18:21] cthomasONRR commented on #1445
@jlouis-onrr

Dev site page: https://dev-onrr-frontend.app.cloud.gov/references/rulemakings?topic=All

I clicked though all the sorting options, and they work well! I spot-checked to make sure the hyperlinks are working, and all the ones I checked worked for me.

One question- can we have the Topic dropdown set so multiple items can be selected?

[2022-02-10 18:28] mcharg opened #1617 "Allow multi-select of table filters"

[2022-02-10 18:36] mcharg opened #1618 "Recruit participants for contacts study"

[2022-02-10 19:35] Maroyafaied commented on #1473
No need to create a PR for this. @mcharg @cthomasONRR please review

[2022-02-10 19:59] mcharg commented on #1445
@jlouis-onrr I don't think the links are working.  Christine added links from the valuation regulations page and it's opening the rulemakings page, but the filters aren't applying.

[2022-02-10 20:07] mcharg commented on #1336
@cthomasONRR The links aren't filtering the rulemakings page for me.  I added a comment to the issue about filtering for Jerome to look at it.

[2022-02-10 20:08] mcharg commented on #1473
I created #1617 for multi-select.  Both reporter letters and rulemakings look good to me.

[2022-02-10 20:08] #1473 closed

[2022-02-10 20:13] cthomasONRR commented on #1336
@mcharg Argh, ok, if you look at the hyperlinks, the are individualized to the filter topic. Not sure why the filtered tables aren't displaying

[2022-02-10 20:18] mcharg opened #1619 "Create a topic filter selection for the collection block selection when adding to pages"
So we can filter reporter letters on the reporting pages.

[2022-02-10 20:20] mcharg opened #1620 "Determine which reporter letter topics should display for each reporting page"
I just realized the topics we have don't differentiate between production and revenue.  @cthomasONRR Can we split them up as topics or should we display all oil & gas topics for both?

[2022-02-10 20:25] mcharg commented on #1620
@cthomasONRR I did hand pick ones for the wireframe that RRM approved, but figured it would be easier to implement via filter than figuring out how to link to individual press releases in the component.  Something we should discuss in synch up.

[2022-02-10 23:19] Maroyafaied commented on #1615
@daniel-coleman-1 Can you follow the format outlined and add our team's name as the "Topic/Title" then the content below it.  The 508 blog post can only be one bullet point with the link imbedded in.  You can also add Christa's blog since that has been published, as well as we added historical revenue data from 1982-2002 and added historical disbursements data 1982-2002, and added video outreach p

[2022-02-10 23:44] daniel-coleman-1 commented on #1615
@Maroyafaied how's this?

![Screenshot 2022-02-10 164307](https://user-images.githubusercontent.com/83892362/153515736-92c2bf25-5f95-4cd0-b0cc-47c1a1385074.png)

[2022-02-11 15:34] Maroyafaied commented on #1615
@daniel-coleman-1 Is there a reason why we're not inserting the links within the content like what someone did for the modernization reports? Other than that it looks fine.
![image](https://user-images.githubusercontent.com/40175688/153620762-0fe68e97-2507-4e88-b80d-5aeda2d5f4bb.png)

[2022-02-11 16:43] mcharg opened #1621 "Add ability to align tables at the column level"
Currently, you can only align the entire table.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/f2e44040-9b1d-402a-bbd3-02dbb214d418)

[2022-02-11 16:43] mcharg commented on #1377
Created #1621 for aligning table cells.

[2022-02-11 16:43] daniel-coleman-1 commented on #1615
@Maroyafaied I talked to Dave W about that last time and it's easier for them if we provide the full link in the text

[2022-02-11 16:50] mcharg commented on #1377
#1378 covers images.

[2022-02-11 16:51] mcharg commented on #1377
@jlouis-onrr I was able to update the alignment on all the other pages that were flagged as being blocked by this.  Is this good to close?

[2022-02-11 16:52] #1615 closed

[2022-02-11 17:31] ginger-johnson opened #1622 "Request Updates to ONRR's Information Collection Page"
Good morning,

I am requesting updates to this page https://www.onrr.gov/Laws_R_D/FRNotices/ICR0139.htm

Under the Federal Register Publications heading, please add a bullet to the top of the list. The bullet should read as follows: “30-Day Agency Information Collection - (87 FR 3330--January 21, 2022)"

Please add this hyperlink to the language in the parenthesis: https://www.federalregister.gov/

[2022-02-11 17:34] #902 closed

[2022-02-11 17:35] mcharg opened #1623 "Review pricing tables with MSA"

[2022-02-11 17:37] cthomasONRR commented on #1622
@ginger-johnson
Good morning, these changes are on the dev site: http://2017onrr/Laws_R_D/FRNotices/ICR0139.htm
Please review and give me your approval to go live.

Thanks,
Christine

[2022-02-11 17:39] ginger-johnson opened #1624 "Request to update ONRR's Federal Register Notices Page"
Good morning,

I am requesting updates to this page https://www.onrr.gov/Laws_R_D/FRNotices/index.htm

For the entry, please create it with January 21, 2022.
It should read as follows:
"87 FR 3330
Friday, January 21, 2022
**Denver, CO** In accordance with the Paperwork Reduction Act of 1995, ONRR is proposing to renew an information collection request. OMB Control Number 1012-0004."

At the bottom

[2022-02-11 17:42] ginger-johnson commented on #1622
Christine,

The update looks great.

We are ready for it to go live.

Thank you!

[2022-02-11 17:45] mcharg commented on #1460
We found the spreadsheet in the pricing spreadsheet.

[2022-02-11 17:51] cthomasONRR commented on #1624
@ginger-johnson
Good morning,
The updates are on the dev site: http://2017onrr/Laws_R_D/FRNotices/index.htm. (Remember to navigate to 2022 on the right-hand side.)
Please review and give me your permission to go live.
Thanks,
Christine

[2022-02-11 18:01] cthomasONRR commented on #1622
@ginger-johnson The changes are now live: https://www.onrr.gov/Laws_R_D/FRNotices/ICR0139.htm

Closing this issue.

[2022-02-11 18:01] #1622 closed

[2022-02-11 18:17] #1427 closed

[2022-02-11 19:06] mcharg opened #1625 "Review capitalization on pages in CMS"
To ensure it matches the style guide.

[2022-02-11 19:35] jlouis-onrr commented on #1617
@mcharg, this update is now out in dev and adds multi filtering to data tables and fixes the query params issue.

[2022-02-11 20:04] mcharg commented on #1617
@jlouis-onrr Looks good!

[2022-02-11 20:04] #1617 closed

[2022-02-11 20:04] mcharg commented on #1445
@jlouis-onrr Filters are fixed!

[2022-02-11 20:04] #1445 closed

[2022-02-11 20:05] mcharg commented on #1336
@cthomasONRR The links to the filters are fixed.  I checked the links and they all work.  Moving to backlog.

[2022-02-11 20:06] mcharg commented on #1426
@cthomasONRR I think this page is done and ready for your review.

[2022-02-11 20:12] mcharg commented on #1451
I think we should add a link to the 4444 on this page.

[2022-02-13 23:53] Baymatt commented on #1601
Found a slight discrepancy in the table of contents of the production handbook. Not sure if its our team that maintains this document but just wanted to bring it up.

<img width="486" alt="Screen Shot 2022-02-13 at 3 52 03 PM" src="https://user-images.githubusercontent.com/43329595/153780980-06e8c115-428a-4d9b-8a97-7eb4219c09d9.png">

[2022-02-14 12:54] lpgoldstein commented on #1624
@ginger-johnson Please see the live site with your updates https://www.onrr.gov/Laws_R_D/FRNotices/index.htm

[2022-02-14 15:55] mcharg opened #1626 "Identify which page documents should live on"

[2022-02-14 18:00] merrellc opened #1627 "Webpage Update- Indian Fund Code"
Hello,

Please update the following webpage http://onrr.gov/reportPay/payments.htm with the attached file's:

Indian Leases cross-walked to Distributee Codes-

Downloadable Excel Version Indian Leases cross-walked to Distributee Codes.
Also change update to read 02/14/2022.

Thank you!

[FCIL.xlsx](https://github.com/ONRR/onrr.gov-site/files/8062886/FCIL.xlsx)

[2022-02-14 18:15] mcharg opened #1628 "Fix link component front end"

[2022-02-14 18:15] mcharg opened #1629 "Add ability to upload documents to a page to be linked"

[2022-02-14 18:15] mcharg opened #1630 "Add ability to upload documents to a page to be linked"

[2022-02-14 18:15] mcharg commented on #1629
Duplicate

[2022-02-14 18:15] #1629 closed

[2022-02-14 18:16] #1624 closed

[2022-02-14 18:18] mcharg opened #1631 "Add new FRN to dev site"
Add FRN from #1624 to new site.

[2022-02-14 18:23] Maroyafaied commented on #1601
@Baymatt @lpgoldstein lets have a column for the actual page numbers and a column for the section that's displayed. We can talk more at the intern meeting.

[2022-02-14 18:24] #1377 closed

[2022-02-14 18:41] Maroyafaied commented on #1259
@mojobnichols possibly directus enhancement affecting file download.

[2022-02-14 20:14] mcharg commented on #1227
Icons are in this folder. https://doimspp.sharepoint.com/:f:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Assets/Icons?csf=1&web=1&e=VXeskc

[2022-02-14 20:21] mcharg commented on #1259
We found out that you can replace if you can find the image in the library, but you can't replace the image inline.

[2022-02-14 20:30] mcharg commented on #1620
I'm going to add tags to the one we have in the wireframes, so we can filter by the tag.

[2022-02-14 20:52] mcharg commented on #1620
@cthomasONRR This is ready to review.

Oil & Gas Production: https://dev-onrr-frontend.app.cloud.gov/references/reporter-letters?topic=Oil%20%26%20Gas%20Production
Oil & Gas Revenue: https://dev-onrr-frontend.app.cloud.gov/references/reporter-letters?topic=Oil%20%26%20Gas%20Revenue
Geothermal: https://dev-onrr-frontend.app.cloud.gov/references/reporter-letters?topic=Geothermal
Solids: https://dev-

[2022-02-14 20:53] mcharg commented on #1619
These are the filtered reporter letters we want to show in the cards on the reporting pages.

Oil & Gas Production: https://dev-onrr-frontend.app.cloud.gov/references/reporter-letters?topic=Oil%20%26%20Gas%20Production
Oil & Gas Revenue: https://dev-onrr-frontend.app.cloud.gov/references/reporter-letters?topic=Oil%20%26%20Gas%20Revenue
Geothermal: https://dev-onrr-frontend.app.cloud.gov/references

[2022-02-14 21:08] jkwonatx commented on #1274
Revisiting this issue again. Will come up with a plan to resolve it.

[2022-02-14 22:47] lpgoldstein commented on #1627
@merrellc This is ready for your review: http://2017onrr/reportpay/payments.htm

[2022-02-14 23:13] merrellc commented on #1627
Reviewed. Thank you!

Kind Regards,
​Candace Merrell
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3517
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt

[2022-02-15 01:34] lpgoldstein commented on #1627
@merrellc It's live!

[2022-02-15 01:34] #1627 closed

[2022-02-15 15:50] Maroyafaied commented on #1601
I found a mistake in the Geothermal class 2&3 handbook , I think these should be 2.5.2 and 2.5.3, I'll let royalty valuation know.
![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/a099f277-6cff-4cf9-be67-fc788fd2b925)

[2022-02-15 16:15] mcharg commented on #1630
@jlouis-onrr This is a permissions issue.

[2022-02-15 16:19] mcharg commented on #1227
CMS folder with icons. https://dev-onrr-cms.app.cloud.gov/admin/files/folders/ffc55812-5d8b-4cf8-a0d0-303bd1bdec5b

[2022-02-15 16:20] mcharg opened #1632 "Add shortcut to open a way to add links"
Currently, you have to put in a stray space to be able to open the menu to add links.

[2022-02-15 16:21] mcharg opened #1633 "Remove "/assets" from link list"

[2022-02-15 16:22] mcharg opened #1634 "Include title in link trigger"

[2022-02-15 16:23] mcharg opened #1635 "Allow modification of label"

[2022-02-15 16:25] mcharg opened #1636 "Allow use of selected text for label"

[2022-02-15 16:25] mcharg opened #1637 "Allow replace and append"

[2022-02-15 16:26] mcharg opened #1638 "Get list links working for more than one item"

[2022-02-15 16:30] mcharg opened #1639 "Focus back to editor after inserting inline links"

[2022-02-15 16:30] mcharg opened #1640 "Update ordering of documents and pages available to link"
Order by page first
Add children order
Add parent to order

[2022-02-15 16:31] mcharg opened #1641 "Add page and title to grid"

[2022-02-15 18:16] bbell0229 opened #1642 "Accounts Receivable, Billing, and Financial issues-Federal Contact update"
Hello,

On the Payments page,
https://www.onrr.gov/reportpay/PDFDocs/FSFederalCOAssignm.pdf, please update with the attached file.

Please remove the prior attachment and replace with the new employee listing.

Thank you,
[Fed Assignments Email 2_15_2022.docx](https://github.com/ONRR/onrr.gov-site/files/8073588/Fed.Assignments.Email.2_15_2022.docx)

Brittney

[2022-02-15 18:24] Maroyafaied commented on #1642
@daniel-coleman-1 please work on this issue and also update the contacts spreadsheet with any changes. Thanks

[2022-02-15 18:24] daniel-coleman-1 commented on #1642
@Maroyafaied should this .docx file be converted to a .pdf and checked for accessibility before we add it to the site?

[2022-02-15 18:43] bbell0229 commented on #1642
We are not doing PDF anymore. FS met with your team back in November and we determined that Doc was best for our needs.

Brittney A. Bell
Staff Accountant, Financial Services
Revenue, Reporting, & Compliance Management
Office of Natural Resources Revenue
Bldg 85, Denver Federal Center
Denver, CO 80225
1-800-433-9801 x 3381
303.231.3381
***@***.******@***.***>

From: daniel-coleman-1 ***@***.***>
S

[2022-02-15 18:46] mcharg opened #1643 "Add reporter letters collection items to links"

[2022-02-15 18:46] mcharg opened #1644 "Add press release collection items to links"

[2022-02-15 18:52] daniel-coleman-1 commented on #1642
@bbell0229 changes have been implemented in the dev site for your review:
http://2017onrr/reportpay/payments.htm

with your approval I will push these changes live.

@Maroyafaied I checked the document for accessibility in Word and it is accessible.

[2022-02-15 20:34] Maroyafaied commented on #1623
We met with MSA on 2/15 and reviewed all the pricing tables wireframes.
- They would like prices to display 2 decimal places
-  They don't want the major portions maps displayed on the page and to keep them as pdfs.
- They like the multi select filter option and would like to implement that feature to NYMEX as well
- They asked we only keep the sort arrows for zones/areas & years and remove from t

[2022-02-15 20:53] Maroyafaied commented on #821
@mojobnichols @jlouis-onrr I created folders with the test files that MSA send for each pricing collection. Here they are

[Indian Gas Index Zone](https://doimspp.sharepoint.com/:f:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Collections/Indian%20Gas%20Index%20Zone?csf=1&web=1&e=DLWRBR)
[Indian Gas Major Portion](https://doimspp.sharepoint.com/:f:/r/sites/NRRD/Shared%20Documents/Genera

[2022-02-15 23:00] lpgoldstein commented on #1601
@Baymatt I finished production - do you want me to finish revenue?

[2022-02-15 23:20] Baymatt commented on #1601
@lpgoldstein If you can that'd be great! I don't think I'll be able to get to it by today or tomorrow.

[2022-02-16 13:38] mcharg commented on #1623
Looks good.

[2022-02-16 13:38] #1623 closed

[2022-02-16 13:45] Maroyafaied opened #1645 "Prepare to present 508 project at the Departments "Equity Office Hours""
We got a request to present from Kim at the Office of Diversity, Inclusion and Civil Rights. The presentation will be on March 10th at 2pm ET.  I would like one more person to present with me.

![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/f75546ee-7bfa-49a1-ae5b-1dcab80a3f49)

[2022-02-16 13:49] mcharg opened #1646 "Add handbook collection items to links"
So we can link to chapters and the whole handbook pdf.

[2022-02-16 13:50] mcharg opened #1647 "Collection: Minerals Revenue Reporter Handbook"

[2022-02-16 13:50] mcharg opened #1648 "Collection: Minerals Production Reporter Handbook"

[2022-02-16 13:50] mcharg opened #1649 "Collection: Solids Handbook"

[2022-02-16 13:51] mcharg opened #1650 "Collection: Geothermal Class 1 Handbook"

[2022-02-16 13:51] mcharg opened #1651 "Collection: Geothermal Class 2 & 3 Handbook"

[2022-02-16 13:52] Maroyafaied opened #1652 "Prepare to present to Tim and Joe"
I scheduled a presentation on March 7th, here are the items we need to present about

- History of NRRD
- Technology used for NRRD
- Onrr.gov Redesign strategy (talk a bit about 508 project, user research done, visual design work, wireframes reviews)
- Decision to use Directus vs Drupal

[2022-02-16 14:48] mcharg commented on #1626
This is the order in which I'm placing the primary document locations.

1. Forms page
3. Reporter Training page
4. If a reference applies to only one commodity, references page within reporting for that commodity.
5. If a reference applies to multiple commodities (except 2014 ones that are also in geothermal), any page that isn't tied to a specific commodity.
6. Pages that are specific to a handbo

[2022-02-16 15:32] lpgoldstein commented on #1601
@Maroyafaied This should read 7-1 in the revenue handbook
![image](https://user-images.githubusercontent.com/39419003/154298609-e4f8b226-c875-4f9f-a41a-1d7fb3ba7879.png)

[2022-02-16 15:39] lpgoldstein commented on #1601
And this inconsistent page formatting - should be 9-1 etc
![image](https://user-images.githubusercontent.com/39419003/154299848-1a82c11a-d675-444d-a35d-b16ff0037482.png)

[2022-02-16 15:55] Maroyafaied commented on #1601
@lpgoldstein please email Shannon Hahn and Aaron Lindquist

[2022-02-16 16:19] lpgoldstein commented on #1601
Keeping this here so I remember - this is missing from the TOC
![image](https://user-images.githubusercontent.com/39419003/154309005-85b8ee49-2143-4b3c-9ea7-bcbfc8dcf728.png)

[2022-02-16 16:29] lpgoldstein commented on #1601
missing from TOC
![image](https://user-images.githubusercontent.com/39419003/154310917-7e56a5fc-26cc-4ea5-b439-faf0afca136b.png)

[2022-02-16 16:51] mcharg commented on #1626
This is done. @lpgoldstein Do you want to review?
https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Content%20Audit/ContentTracking.xlsx?d=w74b27b0272bc4cee92b0a1280895cb73&csf=1&web=1&e=8RwoXG

[2022-02-16 17:36] mcharg commented on #1626
I also took at the number of downloads for the 638 documents that will be on the new site.  The top 100 docs covers 82.67% of downloads.
https://doimspp-my.sharepoint.com/:x:/r/personal/mchargs_mms_gov/Documents/onrr.gov/Metrics/Analytics/FY21/Analytics%20DOI%20Agency%20Profile%20onrr.gov%20downloads%20FY21%2020201001-20210930.xlsx?d=wcdd7e42d74ee4a489683f32537f04cd3&csf=1&web=1&e=gX1dxR

[2022-02-16 17:42] daniel-coleman-1 commented on #1642
@bbell0229 changes have been implemented in the dev site for your review:
http://2017onrr/reportpay/payments.htm

with your approval I will push these changes live.

[2022-02-16 18:28] mcharg opened #1653 "Unable to upload .txt file"
I tried to upload this file and it wouldn't upload.
https://www.onrr.gov/reportpay/PDFDocs/XREF.txt

We tried changing this file to xls, but we got complaints from industry because people had set up scripts that pull in the .txt file.

[2022-02-16 18:29] #1653 closed

[2022-02-16 19:22] bowlenj opened #1654 "Update to Lease/Agreement Maintenance Contacts"
Please replace the contact list at the following link with the attached updated list - https://onrr.gov/reportpay/PDFDocs/RS_LeAgAssignments.pdf
[Lease Agreement Maintenance Contacts_2-16-22.pdf](https://github.com/ONRR/onrr.gov-site/files/8082854/Lease.Agreement.Maintenance.Contacts_2-16-22.pdf)

[2022-02-16 19:27] Maroyafaied commented on #1654
@daniel-coleman-1 please update this document and also update the content tracking sheet with any changes. Thanks

[2022-02-16 19:41] bbell0229 commented on #1642
Looks good to go live.

Brittney A. Bell
Staff Accountant, Financial Services
Revenue, Reporting, & Compliance Management
Office of Natural Resources Revenue
Bldg 85, Denver Federal Center
Denver, CO 80225
1-800-433-9801 x 3381
303.231.3381
***@***.******@***.***>

From: daniel-coleman-1 ***@***.***>
Sent: Wednesday, February 16, 2022 10:42 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Bell, Brittney

[2022-02-16 20:31] lpgoldstein opened #1655 "Update minerals revenue reporting handbook"
newest version
[RRM-Printable.Minerals.Revenue.Handbook.pdf](https://github.com/ONRR/onrr.gov-site/files/8083353/RRM-Printable.Minerals.Revenue.Handbook.pdf)

[2022-02-16 20:39] mcharg commented on #1184
Here's a first pass.  I used STRAC and search results.  STRAC because it is the only one with 6 contacts in a topic and search results because it shows the whole topic path.

@lpgoldstein @codyeckstein Do you want to review?

[STRAC Contacts](https://doimspp.sharepoint.com/:w:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Contacts/Print%20Views/Contacts_STRAC.docx?d=w06254be6d92140f48922

[2022-02-16 20:40] mcharg commented on #1626
@lpgoldstein Reviewed and approved.

[2022-02-16 20:40] #1626 closed

[2022-02-16 20:43] lpgoldstein commented on #1655
@sghahn Please let me know if this looks okay http://2017onrr/reportpay/Handbooks/index.htm

[2022-02-16 20:47] codyeckstein commented on #1184
Looking at "chev" - Johnny Erle is the offshore contact but in the topic path it says onshore.
![image.png](https://images.zenhubusercontent.com/612e68b98872341fdb32e3ff/aac24aac-2b00-4d54-b8bc-58335ef882a4)
![image.png](https://images.zenhubusercontent.com/612e68b98872341fdb32e3ff/f14693a3-990c-4fb8-a1ba-f3da5c8b85b3)

[2022-02-16 20:50] mcharg commented on #1184
@codyeckstein Good catch.  Copy and paste error.  Fixed.

[2022-02-16 21:00] codyeckstein commented on #1184
Looks good.

[2022-02-16 21:50] lpgoldstein commented on #1655
approved via email

[2022-02-17 14:39] cthomasONRR commented on #1631
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/88
https://dev-onrr-frontend.app.cloud.gov/references/icrs/1012-0004

The new FR doc is added. @mcharg do you want to review?

[2022-02-17 14:41] mcharg commented on #1631
@cthomasONRR Looks good.

[2022-02-17 14:42] #1631 closed

[2022-02-17 14:55] cthomasONRR commented on #1426
@mcharg The collection is working well- I was able to filter and multi-selects topics. I tested the search for some basic terms like 'gas' and 'coal', and it worked well. I also spot-checked to make sure hyperlinks are working, and all that I checked worked properly. Looks great! I think this issue can be closed :)

[2022-02-17 15:31] #1426 closed

[2022-02-17 15:31] #1620 closed

[2022-02-17 15:55] daniel-coleman-1 commented on #1618
@lpgoldstein  how's this for an invite email:

Hi [Name],

I hope you are all doing well! The Data Display team is working on a new version of onrr.gov and we would love your feedback.

We are planning a study to understand how users approach the contacts section, and how it could be improved. As part of this effort, we’re conducting short interviews with people who use the contacts section of onr

[2022-02-17 16:00] mcharg commented on #1618
@daniel-coleman-1 You call us both Data Display and ODDD.  For internal folks, I think you need to spell out what ODDD is.  For external folks, it would be better to refer to us as ONRR.

[2022-02-17 16:00] daniel-coleman-1 commented on #1654
https://doimspp.sharepoint.com/:x:/r/sites/NRRD/_layouts/15/Doc.aspx?sourcedoc=%7BEE2FC3B4-4196-4DCE-9286-84AAF6E25E00%7D&file=ContactsFiles.xlsx&wdOrigin=OFFICECOM-WEB.START.SEARCH&ct=1644952501990&action=default&mobileredirect=true&ovuser=0693b5ba-4b18-4d7b-9341-f32f400a5494%2Ccolemanw%40mms.gov&cid=fdd5dcbe-28c8-4b51-8840-a470489bb4db

[2022-02-17 16:02] mcharg commented on #1618
Also, we have templates we've used before. https://teams.microsoft.com/l/file/BE542636-D0E1-40CE-9EF4-7CFA4326CBAD?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FNRRD%2FUser%20Research%2FTemplates%2FRecruiting%20Email%20Templates.docx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNR

[2022-02-17 16:03] mcharg commented on #1618
And the language from Cat's husband. https://github.com/ONRR/onrr.gov-site/issues/929#issuecomment-919321694

[2022-02-17 16:17] daniel-coleman-1 commented on #1654
@bowlenj this page has been updated in dev for your review:
http://2017onrr/ReportPay/contacts.htm

with your approval I will push these changes live.

[2022-02-17 16:32] bowlenj commented on #1654
Looks great, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt fr

[2022-02-17 17:04] #1655 closed

[2022-02-17 18:32] daniel-coleman-1 commented on #1642
@bbell0229 fantastic, we are live:
https://onrr.gov/reportpay/payments.htm

[2022-02-17 18:32] #1642 closed

[2022-02-17 18:54] lpgoldstein commented on #1618
@daniel-coleman-1 I changed just a few things but this looks fine. It doesn't seem to matter what you write if you are contacting people that want to help. Cat's husband's email was helpful and provided more of a call to action than our standard template.

 Hi [Name],

I hope you are all doing well! We are working on a new version of onrr.gov and we would love your feedback.

We are planning a stu

[2022-02-18 18:29] daniel-coleman-1 commented on #1654
@bowlenj we are live:
https://www.onrr.gov/ReportPay/contacts.htm

[2022-02-18 18:29] #1654 closed

[2022-02-18 20:31] jlouis-onrr commented on #886
@mcharg, this feature is now out in dev.  You'll find the ability to adjust image position in the tunes menu next to the image.

[2022-02-18 21:07] mcharg opened #1656 "Collection: Image Blocks"
This will allow image and text to appear next to each other within the same column.

Wireframe:
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/0495094f-09b8-4536-9872-e77a12c601b8)

What it does currently:
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/a2c54d66-cb59-4fc6-acba-7c23fb69edd6)

[2022-02-18 21:14] mcharg commented on #1656
Wireframe:
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/d165206e-7767-4dba-9780-237cc2463685)

How it currently appears:
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/77059b16-35fd-42f8-a185-3cf853cae4f0)

[2022-02-18 21:14] jlouis-onrr commented on #1656
@mcharg, I think we'll want to create a new collection called Image Blocks, this will allow this to happen.  Just like the arrangement of other blocks and column sizing.

[2022-02-18 21:21] mcharg commented on #1656
Wireframe: ![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/2dc340ee-376e-49f3-9737-96f175ff96c6)

How it displays currently:
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/daed327a-7dd5-471a-b2f8-11cb90bab39e)

[2022-02-18 21:25] mcharg commented on #1597
@cthomasONRR Image size and alignment is now in (in the 4 dots menu to the right of the image), if you want to go in and adjust any of the images in the handbook.

[2022-02-18 21:25] mcharg commented on #1378
This looks good.

[2022-02-18 21:25] #1378 closed

[2022-02-18 21:25] mcharg commented on #886
Looks good.

[2022-02-18 21:25] #886 closed

[2022-02-18 21:27] mcharg commented on #1008
@jlouis-onrr This looks good.  I'm going to leave this one open until I go in and put in the alt text for the dependent tasks.  I'll do that next week.

[2022-02-18 21:30] mcharg opened #1657 "Add alt text to images."
See #1008 for list of pages.

[2022-02-18 21:47] jlouis-onrr commented on #1656
@mcharg, maybe image blocks might not be needed? I've added two more column choices to content blocks (2, 5) and setup the company contacts card using this.  Check it out. https://dev-onrr-frontend.app.cloud.gov/about/contact

[2022-02-18 21:49] mcharg commented on #1656
@jlouis-onrr I think that could work.  I'll try it out on the other pages next week.

[2022-02-19 00:35] merrellc opened #1658 "Update contacts"
Hello -
Would you please update the contacts on onrr.gov for the Production and Payor Handbooks from April Lockler and Mary Dietrick to Aaron Lindquist - 303-231-3020.

Thank you!

 https://onrr.gov/reportpay/Handbooks/index.htm

[2022-02-22 13:32] cthomasONRR commented on #1658
@merrellc

Good morning, the changes are on the dev site: http://2017onrr/reportpay/Handbooks/index.htm
Please review and give us your approval to go live.

Thanks,
Christine

[2022-02-22 13:38] cthomasONRR commented on #1658
@mcharg This is also updated in the CMS/new dev site.

[2022-02-22 13:58] mcharg commented on #1658
@kmhtran FYI for the handbooks wireframes - The production and Indian handbooks have new contacts.

[2022-02-22 14:02] mcharg commented on #1630
This is fixed.

[2022-02-22 14:02] #1630 closed

[2022-02-22 14:39] mcharg opened #1659 "Write alt text for images"
See #1008 for list of pages with images needing alt text.

@daniel-coleman-1 Can you draft alt text for all the images in a doc that can be reviewed with SMEs?  Looking at the current site and handbooks pdfs, the alt text is pretty sparse and doesn't describe the images.

[2022-02-22 14:40] mcharg commented on #1657
I'm only going to add alt text for images that we have alt text for as part of this issue.  I created a new issue for Dan to write alt text for images we don't have it for.

[2022-02-22 14:53] cthomasONRR opened #1660 "CMS image alt text issues"
@jlouis-onrr

I'm trying to add alt text within the Indian Payor Handbook (https://dev-onrr-frontend.app.cloud.gov/references/handbooks/indian-payor-handbook?tab=25).
CMS: https://dev-onrr-cms.app.cloud.gov/admin/content/pages/99

In Chapter 2, accordion 2.4.1, I added in the alt text, and now the image will not align with the actual text. They used to be side-by-side and now they are not:
![image

[2022-02-22 16:15] mcharg opened #1661 "Add alt text to valuation examples"
Current alt text can be pulled from the live site and the pdf version of the examples.

2016 rule example
Dev: https://dev-onrr-frontend.app.cloud.gov/references/valuation/processed-gas-example
Live site: https://www.onrr.gov/valuation/2016-rule-processed-example.htm

POP example
Dev: https://dev-onrr-frontend.app.cloud.gov/references/valuation/pop-example
Live site: https://www.onrr.gov/valuation

[2022-02-22 16:16] cthomasONRR commented on #1661
@mcharg I can do this. I added issue #1660 because I'm having some formatting issues after adding alt text.

[2022-02-22 16:26] mcharg commented on #1656
@jlouis-onrr Can you make a 10 wide content block, so we can have a 2 wide image and then have the content fill the rest of the row?  Right now, the next image goes on the first row.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/b1336999-a876-4e60-9e57-c88dc3e854e3)

[2022-02-22 16:32] mcharg opened #1662 "Swap out OST logo on the IESC page"
I checked with BTFA and they don't have a new logo yet and said to use the DOI seal.
https://www.onrr.gov/IndianServices/indian-energy-service-center.htm

[2022-02-22 16:45] cthomasONRR commented on #1661
@jlouis-onrr
I'm trying to add alt text to the 2016 Reporting example (https://dev-onrr-cms.app.cloud.gov/admin/content/pages/68). And it will not save the text added to the 'alt text' box. Every time I click the green check, and go back in, it's gone:
![image](https://user-images.githubusercontent.com/72526208/155178617-d2fb34ad-d473-4b09-9cf1-dc3fb2d24895.png)

[2022-02-22 16:56] mcharg commented on #1656
@jlouis-onrr I was able to put in a 2 wide column on the right as a workaround, but it would be better to have the 10 wide. ![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/7432cc1a-0609-492b-9527-292d5b8f5b20)

[2022-02-22 17:21] mcharg commented on #1657
Added alt text on these pages. @daniel-coleman-1 Please review.

- [ ] About ONRR https://dev-onrr-frontend.app.cloud.gov/about
- [ ] How Valuation Works https://dev-onrr-frontend.app.cloud.gov/references/valuation?tab=how-valuation-works
- [ ] Organization & Leadership https://dev-onrr-frontend.app.cloud.gov/about/organization
- [ ] IESC https://dev-onrr-frontend.app.cloud.gov/indian/assistance?t

[2022-02-22 17:23] mcharg commented on #1244
Added alt text.

[2022-02-22 17:24] mcharg commented on #1254
Added alt text.  @lpgoldstein This page is now ready for ODDD Approval.

[2022-02-22 17:28] mcharg commented on #1504
Added alt text.

[2022-02-22 17:29] mcharg commented on #1493
Added alt text and cleaned up columns for agencies.

[2022-02-22 17:29] mcharg commented on #1387
Added alt text.  @lpgoldstein This one is ready for ODDD approval.

[2022-02-22 17:31] mcharg commented on #1463
Added alt text.

[2022-02-22 17:44] mcharg opened #1663 "Add alt text to Indian payor handbook."

[2022-02-22 17:46] cthomasONRR commented on #1597
@mcharg Images are adjusted, not many needed to be manually adjusted. I have issue #1660 out but it is associated with alt text, not size adjusting. I'm putting this issue in the product backlog again.

[2022-02-22 17:59] jlouis-onrr commented on #1656
@mcharg, added 10 col to the content block block col

[2022-02-22 19:17] mcharg commented on #1245
Nichelle said David is working on a new version of the doc.  They are getting resistance to using Word, so I suggested they try using PPT.  I gave them the renewables snapshot as an example.

[2022-02-22 19:47] cthomasONRR commented on #1661
In the POP example the following content blocks will not save the Alt Text:
- [ ] Overview Intro 2 - pop example

[2022-02-22 20:09] cthomasONRR commented on #1663
The following content blocks will not save alt text:

- [ ] 2.5.1

[2022-02-22 20:27] mcharg commented on #1662
This updated in dev. @cthomasONRR Can you please review and let me know if it looks good to push live.
http://2017onrr/IndianServices/indian-energy-service-center.htm

[2022-02-22 20:28] cthomasONRR commented on #1662
@mcharg Updated logo looks good, approve to go live :)

[2022-02-22 21:09] mcharg commented on #1662
This is live.

[2022-02-22 21:09] #1662 closed

[2022-02-22 21:10] mcharg commented on #1577
This is fixed.

[2022-02-22 21:10] #1577 closed

[2022-02-22 21:11] mcharg commented on #1638
This is fixed.

[2022-02-22 21:11] #1638 closed

[2022-02-22 21:13] mcharg commented on #1637
This is working.

[2022-02-22 21:13] #1637 closed

[2022-02-22 21:13] cthomasONRR commented on #1658
@bowlenj

It looks like Candace Merrell is out for the entire week... would you be able to review and approve this issue for us? Thanks!!!

[2022-02-22 21:14] mcharg commented on #1636
This is working.

[2022-02-22 21:14] #1636 closed

[2022-02-22 21:15] #1656 closed

[2022-02-22 21:15] #1184 closed

[2022-02-22 21:55] bowlenj commented on #1658
Yes, can you send me the link to view and approve?

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or

[2022-02-22 21:56] cthomasONRR commented on #1658
@bowlenj

Here is the link to the dev site: http://2017onrr/reportpay/Handbooks/index.htm.

The request was:
"Hello -
Would you please update the contacts on onrr.gov for the Production and Payor Handbooks from April Lockler and Mary Dietrick to Aaron Lindquist - 303-231-3020.

Thank you!
https://onrr.gov/reportpay/Handbooks/index.htm"

[2022-02-22 22:03] bowlenj commented on #1658
This looks great, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exem

[2022-02-22 22:22] bowlenj opened #1664 "Update Production Contact List"
Please replace the existing Onshore Production Contact list at the following link with the attached list - https://www.onrr.gov/reportpay/PDFDocs/OnshoreProductionContacts.pdf

[Onshore Production Assignments revised 2022.pdf](https://github.com/ONRR/onrr.gov-site/files/8120523/Onshore.Production.Assignments.revised.2022.pdf)

[2022-02-22 22:50] daniel-coleman-1 commented on #1664
@bowlenj edits have been entered into dev for your review:
http://2017onrr/ReportPay/contacts.htm
with your approval I will push the update live.

[2022-02-22 22:51] daniel-coleman-1 commented on #1664
@mcharg changes are entered into the tracking spreadsheet

[2022-02-22 23:04] bowlenj commented on #1664
Looks great!  Thank you

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt fr

[2022-02-22 23:09] daniel-coleman-1 commented on #1625
I think in the Troubleshooting tab we should grant an exception to the "All card headers are capitalized" rule, since these headers are being used as an ordered list.  Current presentation:
![Screenshot 2022-02-22 160728](https://user-images.githubusercontent.com/83892362/155234891-ad3f3ddc-622d-47ad-bdde-424e0e2ff26d.png)

Title case (what I think we shouldn't do):
![Screenshot 2022-02-22 160249]

[2022-02-23 00:13] daniel-coleman-1 commented on #1664
@bowlenj fantastic, we are live:
https://www.onrr.gov/ReportPay/contacts.htm

[2022-02-23 00:13] #1664 closed

[2022-02-23 01:02] jlouis-onrr commented on #1660
@cthomasONRR, I've adjusted the image width smaller than the container (block that it is contained in) which allows it to fit as I think you where intending.  I'm going to add the ability to just stretch the image via the tunes button which will allow for the image to stretch to its container automatically without having to know the size. This image position issue is not related to the alt issue a

[2022-02-23 12:36] mcharg commented on #1625
@daniel-coleman-1 Makes sense to me.  Do they need periods, since they're complete sentences?

[2022-02-23 12:42] mcharg opened #1665 "Build contacts print function"
Design is in #1184.

[2022-02-23 13:35] cthomasONRR commented on #1660
@jlouis-onrr

Thanks for your help!!! It's really weird that this happened after adding alt text. I did not adjust the image size at all. It's when I added the alt text that the alignment got messed up. Before adding the alt text, it was aligned appropriately. Anyway, thanks for fixing this for me. I will close this issue now. :)

[2022-02-23 13:35] #1658 closed

[2022-02-23 14:30] mcharg commented on #1663
It's not saving alt text for me in those content blocks either.

[2022-02-23 14:31] Toddsand21 opened #1666 "KAULEY VIRUTAL OUTREACH MEETING (To be added to Event Calendar on Allottee Assistance Page)"
**KAULEY VIRTUAL OUTREACH MEETING**
WEDNESDAY, MARCH 16, 2022
1:00 pm to 2:00 pm CST
Location:  By Telephone

DESCRIPTION: This meeting will be a Call-in Meeting to hear a brief presentation and updates from the Office of Natural Resources Revenue (ONRR) Indian Outreach Office  Representatives from the Bureau of Land Management (BLM), Bureau of Trust Funds Administration (BTFA), and the Bureau of

[2022-02-23 14:40] cthomasONRR commented on #1666
@Toddsand21

Good morning, the changes are on the dev site: http://2017onrr/events.htm.
Please review and give us your approval to go live.

Thanks,
Christine

[2022-02-23 15:15] daniel-coleman-1 commented on #1625
@mcharg I am thinking we go with no punctuation, and we also remove punctuation from the text in the accordions - except in the instances where there is a question mark.  I think because this is an ordered list in cards where the text is acting as a title, we don't need to punctuate the ends of the sentences.  What do you think about that?

[2022-02-23 15:28] daniel-coleman-1 commented on #1625
@mcharg for the accordions, I think we treat them more like newspaper headlines, which act like titles and are often unpunctuated.   For the card case, I did both and I'm thinking it makes more sense with a period.  What do you think?
No period:
![Screenshot 2022-02-23 082523](https://user-images.githubusercontent.com/83892362/155350746-5179aacb-6e1b-4b4c-8837-b56aa55766db.png)

with a period:
![S

[2022-02-23 15:29] daniel-coleman-1 commented on #1625
@mcharg I could go either way on the cards, if you feel strongly that there should be a period I'll agree with you.  For the accordions, I think they are better off without the punctuation.

[2022-02-23 15:36] mcharg commented on #1625
I think without periods they both look like we forgot to put them on.

[2022-02-23 15:47] daniel-coleman-1 commented on #1625
@mcharg what about here, should we add periods for consistency?  These are imperative case with an implied you subject:
![Screenshot 2022-02-23 081945](https://user-images.githubusercontent.com/83892362/155354596-082d1ee4-b4fe-40bf-9e50-55556900763e.png)

[2022-02-23 15:50] Toddsand21 commented on #1666
In the 1st sentence after DESCRIPTION: Put a period after it reads.... (ONRR) Indian Outreach Office.

[2022-02-23 15:53] cthomasONRR commented on #1666
@Toddsand21

Updates are on the dev site: http://2017onrr/events.htm
Please review and give us your approval to go live.

Thanks,
Christine

[2022-02-23 16:00] Toddsand21 commented on #1666
Looks ready to go. Thanks!

[2022-02-23 16:03] mcharg commented on #1625
I think so.

[2022-02-23 17:14] cthomasONRR commented on #1666
@Toddsand21 Great, thanks! These changes are now live: https://www.onrr.gov/events.htm. Please feel free to email me if you need the time changed.

[2022-02-23 17:14] #1666 closed

[2022-02-23 19:23] lpgoldstein commented on #1254
@mcharg How do I check the alt text?

[2022-02-23 19:26] mcharg commented on #1254
@lpgoldstein If you go into where the image is in the CMS, it should display below the image.
![image](https://user-images.githubusercontent.com/38465926/155393230-4690cad5-f167-4e47-bfdc-55db4991cd70.png)

[2022-02-23 21:01] Toddsand21 commented on #1666
Thanks!

[2022-02-23 21:57] mcharg opened #1667 "Add new org chart to live site"
This is Sid approved accessible and is updated.  The one up there now is over a year old.

[External org chart](https://doimspp.sharepoint.com/:p:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Assets/External_OrgChart.pptx?d=w9f87b1efece34c229d9f2034aa498b6d&csf=1&web=1&e=DyKkEz)

[2022-02-23 23:10] daniel-coleman-1 commented on #1618
participant list document:
https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/User%20Research/Studies/11_Troubleshooting_study/participant%20list.xlsx?d=wd67cfd8732194a51bbb832dc43e4c7ef&csf=1&web=1&e=vYzrGh

[2022-02-24 00:29] jlouis-onrr commented on #1660
@cthomasONRR, just pushed out new updates that address the alt tag and the image containment issues.  Can you check it out when you have a chance?

[2022-02-24 13:42] mcharg commented on #1618
@daniel-coleman-1 Can you please edit the invites you sent to include information about what the participant should expect and a number to call if they have issues getting into Teams.  Here's language we've used before.

Thank you so much for taking the time to talk with with us. My colleague, Shannon McHarg, will be conducting the interview along with one or two of my colleagues joining to take n

[2022-02-24 13:50] cthomasONRR commented on #1660
@jlouis-onrr I was able to add and save alt text to the content block listed in issues #1661 and #1663. Thanks!

[2022-02-24 13:51] cthomasONRR commented on #1661
@mcharg I was able to finish adding alt text. Could you please review? Every image should have alt text associated to it now.

[2022-02-24 15:46] mcharg commented on #1661
@cthomasONRR This image is missing alt text.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/21a8b5e7-d0f4-4d7e-9d2d-708fbf9eefa4)

[2022-02-24 15:46] mcharg commented on #1657
@cthomasONRR Can you please review the alt text on the above pages, since Dan is out the rest of the week.

[2022-02-24 15:47] mcharg commented on #1661
Another one. ![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/692eaf61-1d41-4204-ac0f-1f363848451c)

[2022-02-24 15:54] cthomasONRR commented on #1661
@mcharg OK I got the plant statement and PC03-9... you posted the PC03-9 image twice. I'm looking for another image that doesn't have alt text but can't find any.

[2022-02-24 15:55] mcharg commented on #1661
Here's on on the POP example. ![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/808fd551-e0a3-4b45-baf1-baaa68a3c1f8)

[2022-02-24 15:55] mcharg commented on #1661
Another one on POP.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/958fff91-0c49-42a4-9c44-3dfcccc09d22)

[2022-02-24 15:57] mcharg commented on #1661
The reason the two on POP are the same is the royalty reporting block is being used on two different expansion panels. ![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/000ee4f9-1764-4941-9c6f-a02ab64b0781)

[2022-02-24 15:58] cthomasONRR commented on #1661
@mcharg Something is off in your visuals... I don't see that at all:
![image](https://user-images.githubusercontent.com/72526208/155560212-4419206e-8ca2-4634-b376-770535c5556c.png)

Maybe close out and reopen. This was happening to me when I was building these pages.

[2022-02-24 15:59] cthomasONRR commented on #1661
![image](https://user-images.githubusercontent.com/72526208/155560411-6afb361b-53ee-4f19-8740-ca21666626b2.png)

[2022-02-24 16:03] mcharg commented on #1661
Closing out and refreshing fixed the POP ones.  I think this is good to close.

[2022-02-24 16:07] cthomasONRR commented on #1657
@mcharg I don't see the alt text for 'About' in the CMS, but I think it's there on the dev site:
![image](https://user-images.githubusercontent.com/72526208/155561947-deb9ec1b-ac7b-4302-99a5-d1a4ca84352d.png)

![image](https://user-images.githubusercontent.com/72526208/155561904-5b4441e8-7e99-4e57-b180-8d427b365102.png)

[2022-02-24 16:11] mcharg commented on #1657
I'm not seeing it in the CMS either.

[2022-02-24 16:14] mcharg commented on #1657
@cthomasONRR About now has the alt text.

[2022-02-24 16:17] cthomasONRR commented on #1657
@mcharg Thanks, I'm seeing the About alt text now too. All other pages were good. You can close this issue now :)

[2022-02-24 16:17] mcharg commented on #1657
@cthomasONRR Can you check the Geothermal diagram?  The alt text wasn't displaying in the doc before, but it was there when I went to get the About text again.
https://dev-onrr-frontend.app.cloud.gov/reporting/geothermal

[2022-02-24 16:20] cthomasONRR commented on #1657
@mcharg I see the alt text for both CMS and dev site!

[2022-02-24 16:21] #1657 closed

[2022-02-24 16:33] mcharg commented on #1663
@cthomasONRR Looks good.  Didn't find any with missing alt text.

[2022-02-24 16:34] #1663 closed

[2022-02-24 16:35] #1031 closed

[2022-02-24 17:00] #1601 closed

[2022-02-24 18:05] #1254 closed

[2022-02-24 18:06] #1660 closed

[2022-02-24 18:55] mcharg opened #1668 "Conduct troubleshooting user interviews"

[2022-02-24 18:57] mcharg opened #1669 "Take notes for troubleshooting user interviews"

[2022-02-24 19:30] mcharg commented on #1667
Updated in dev and sent to Christina to approve to go live.
http://2017onrr/about/index.htm

[2022-02-24 20:04] lpgoldstein commented on #1387
@mcharg I approve

[2022-02-24 20:04] #1387 closed

[2022-02-28 13:35] mcharg commented on #1667
This is live.

[2022-02-28 13:35] #1667 closed

[2022-02-28 13:36] mcharg opened #1670 "February analytics"

[2022-02-28 13:38] mcharg opened #1671 "Clean up handbooks wireframes and import into overall prototype"

[2022-02-28 13:38] mcharg commented on #1109
These are done.  Created a separate issue for me to import them into the overall prototype.

[2022-02-28 13:38] #1109 closed

[2022-02-28 13:39] mcharg opened #1672 "Update analytics with new chart"

[2022-02-28 14:19] mcharg opened #1673 "Add figures to handbooks spreadsheet"

[2022-02-28 14:23] mcharg commented on #1673
Integrate them in order with the rest of the TOC like the current revenue handbook page.

[2022-02-28 17:17] mcharg commented on #1571
Looks good.

[2022-02-28 17:17] #1571 closed

[2022-02-28 17:18] #1633 closed

[2022-02-28 17:18] lpgoldstein opened #1674 "Update Production Reporting References"
All,
   On the ONRR.gov home page, please update the Production Reporting References with the attached files. The new as of date is 02/28/2022.
There are five Gulf files.

Thank you,
[Gulf-Gas-Plants.xlsx](https://github.com/ONRR/onrr.gov-site/files/8155291/Gulf-Gas-Plants.xlsx)
[Gulf-Sales-Tanks.xlsx](https://github.com/ONRR/onrr.gov-site/files/8155292/Gulf-Sales-Tanks.xlsx)
[Gulf-Metering-System

[2022-02-28 17:19] #1634 closed

[2022-02-28 17:20] #1301 closed

[2022-02-28 17:21] #1641 closed

[2022-02-28 17:21] #1640 closed

[2022-02-28 17:24] lpgoldstein commented on #1674
Sent for review via email http://2017onrr/reportpay/references.htm

[2022-02-28 18:03] Maroyafaied commented on #1671
@Maroyafaied @lpgoldstein review once it's ready.

[2022-02-28 18:21] mcharg commented on #1671
Link to review: https://qmcq5k.axshare.com/#id=th2nbq&p=handbooks

[2022-02-28 18:28] #1459 closed

[2022-02-28 18:50] merrellc commented on #1658
Approval to go live.

Kind Regards,
​Candace Merrell
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3517
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt

[2022-02-28 19:07] lpgoldstein commented on #1674
Live.

[2022-02-28 19:07] #1674 closed

[2022-02-28 21:52] mcharg commented on #1245
Dave sent a version with errors and asked for help fixing the last few, so @jkwonatx is going to take a look.

[2022-02-28 21:59] #1568 closed

[2022-02-28 21:59] #1569 closed

[2022-02-28 21:59] #1585 closed

[2022-02-28 23:47] Maroyafaied commented on #1652
They would like to know

- Why Directus over Drupal? What's the true cost of Directus
- Why the transition to cloud.gov? cost?
- Does Directus need an ATO
- I think we should also add a slide for tools and technology we use such as GitHub, ZenHub, CircleCI, etc.

[2022-03-01 13:54] cthomasONRR commented on #1645
@Maroyafaied I can help present.

[2022-03-01 14:16] bowlenj opened #1675 "Federal Onshore Terminable Leases"
Please update the following webpage with the attached excel file - https://www.onrr.gov/reportpay/royalty-reporting.htm

Federal Onshore Terminable Leases - sorted by Due Date, please change the (2/1/2022) to read (updated 3/1/2022)
[20220301.xlsx](https://github.com/ONRR/onrr.gov-site/files/8162174/20220301.xlsx)

[2022-03-01 14:22] cthomasONRR commented on #1675
@bowlenj

Good morning, these changes are now on the dev site: http://2017onrr/reportpay/royalty-reporting.htm
Please review and give us your approval to go live.

Thanks,
Christine

[2022-03-01 14:32] mcharg commented on #1652
@Maroyafaied I added a first pass at slides to address all of the bullets you mention above.
https://doimspp.sharepoint.com/:p:/r/sites/NRRD/Shared%20Documents/General/Admin/Outreach/NRRD%26Onrr.gov.pptx?d=w97b896f578794560be7d9e5b293cf1fd&csf=1&web=1&e=mEq9uC

[2022-03-01 15:16] cthomasONRR opened #1676 "Register for Code for America"

[2022-03-01 15:25] mcharg commented on #1245
Dave gave us permission to post this as a PPT instead of a PDF.

[2022-03-01 15:40] bowlenj commented on #1675
Looks great, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Data Solutioning and Technical Support
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt fr

[2022-03-01 16:11] cthomasONRR commented on #1675
@bowlenj Great, the changes are now live: https://www.onrr.gov/reportpay/royalty-reporting.htm. Closing this issue now.

[2022-03-01 16:11] #1675 closed

[2022-03-01 16:25] mcharg commented on #1672
Done.

@daniel-coleman-1 Same thing as with NRRD.  Please review.

Current analytics: https://github.com/ONRR/onrr.gov-site/wiki/Analytics
Analytics archive: https://github.com/ONRR/onrr.gov-site/wiki/analytics-archive
Updated instructions: https://github.com/ONRR/onrr.gov-site/wiki/Analytics-Templates-&-Instructions

[2022-03-01 19:03] mcharg opened #1677 "Minerals Revenue Reporter full handbook link is broken"
https://www.onrr.gov/reportpay/Handbooks/reportpay/handbooks/Revenue-handbook/pdfs/RRM-Printable.Minerals.Revenue.Handbook.pdf

[2022-03-01 19:24] lpgoldstein commented on #1677
@mcharg fixing now

[2022-03-01 19:32] lpgoldstein commented on #1677
I don't understand where that broken link is - this is correct link https://onrr.gov/reportpay/Handbooks/pdfdocs/RRM-Printable.Minerals.Revenue.Handbook.pdf on this page https://onrr.gov/reportpay/Handbooks/index.htm @mcharg

[2022-03-01 19:36] mcharg commented on #1677
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/1608324f-137f-446e-afc2-dfbf676a35c4)

[2022-03-01 20:14] cthomasONRR commented on #1659
@mcharg I have 3 of the 4 webpages you listed completed. For the interest calculator equation, the CMS was not saving/retaining my alt text. Could you please review and see if you're having the same issue? Thanks!

[2022-03-01 20:26] mcharg commented on #1671
@lpgoldstein @Maroyafaied I removed the links to the pdfs from the TOCs in the wireframes.

[2022-03-01 20:44] Maroyafaied commented on #1671
@mcharg Is there a prototype for Solid Minerals Handbook? the link just takes me to the solid minerals page, all the other ones look good.  Also, we probably need to think about the Indian payor handbook and how to design it or if we're keeping it the same? I can't remember if we spoke to any SME regarding that handbook?

[2022-03-01 20:47] mcharg commented on #1671
@Maroyafaied Here's Solids.  I'll fix the link on the handbooks page. https://qmcq5k.axshare.com/#id=xhb8nn&p=solid_minerals_reporter_handbook&dp=0&g=1

We did review the Indian Payor handbook and they said we need to keep it very close to the way it is now because of something to do with the RPC and not being able to change anything that came out of requests from that.  They were good with the wa

[2022-03-01 23:02] Maroyafaied commented on #1671
@mcharg thanks for the reminder. Solids looks good.

[2022-03-02 00:21] lpgoldstein commented on #1677
Live

[2022-03-02 14:01] #1676 closed

[2022-03-02 15:10] cthomasONRR commented on #1659
@mcharg I was finally able to add alt text to late payment interest. Do you approve for this issue to close? Thanks for reviewing!

[2022-03-02 15:19] #1659 closed

[2022-03-02 17:52] mcharg opened #1678 "Crop hero images externally and replace the ones in dev with them"

[2022-03-02 17:53] mcharg commented on #849
#1678 is a workaround for this.

[2022-03-02 18:30] mcharg opened #1679 "Bullets with a document have different spacing from other bullets"
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/fafe089c-7720-4ce8-89e8-f1b3b931406c)

[2022-03-02 18:56] mcharg opened #1680 "PDF icons are displaying black instead of blue"

[2022-03-02 18:56] mcharg opened #1681 "Extra pages generate when linking documents"
Appears to be happening when linking to the same doc in more than one place on the page and is adding /s to the url and the page doesn't display in dev.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/eef7702b-c8b8-4cad-9390-d3905fe12c25)

[2022-03-02 19:00] HammenONRR opened #1682 "Webpage Update - New Lease Agreement XREF file for onrr.gov"
[March 2022 Lease Agreement XREF.txt](https://github.com/ONRR/onrr.gov-site/files/8172207/March.2022.Lease.Agreement.XREF.txt)
Please replace the existing file located at: http://www.onrr.gov/ReportPay/CrossRef.htm called “Cross-Reference Lease to Agreement Number” with the file entitled “March 2022 Lease Agreement XREF.txt”.  It was queried from the system on 3/02/2022.

[2022-03-02 19:17] cthomasONRR commented on #1682
@HammenONRR

Hello, these changes are now on the dev site: http://2017onrr/reportpay/CrossRef.htm
Please review and give us your approval to go live.

Thanks,
Christine

[2022-03-02 20:02] HammenONRR commented on #1682
Everything looks good to go! Thank you!

[2022-03-02 20:09] cthomasONRR commented on #1645
@lpgoldstein I'm going to present with you.

Here is the presentation from IAAF: https://doimspp-my.sharepoint.com/:p:/r/personal/mchargs_mms_gov/_layouts/15/doc2.aspx?sourcedoc=%7BDE350753-B5BE-4A89-B933-7211A6E88396%7D&file=IAAF_Presentation_ONRR.pptx&action=edit&mobileredirect=true&DefaultItemOpen=1&ct=1646251563940&wdOrigin=OFFICECOM-WEB.START.OTHER&cid=ebae2770-4ab9-4567-b1a6-ff266695841c

An

[2022-03-02 20:31] cthomasONRR commented on #1682
@HammenONRR Great, these updates are now live: https://www.onrr.gov/ReportPay/CrossRef.htm. Closing this issue now.

[2022-03-02 20:31] #1682 closed

[2022-03-02 20:58] jkwonatx commented on #1245
Demonstrated how Dave and his team could fix the accessibility issues they've identified -- how to replace the diagram elements with images and add to the images the alt text that describe the diagram; and how to add metadata .

[2022-03-02 21:01] mcharg opened #1683 "Wireframe for ONRResource 508 compliance page"
@jkwonatx is going to do a wireframe, so Dave knows what to build.

I will send him screenshots of ONRResource and the list of documents to be organized.

[2022-03-02 21:16] lpgoldstein commented on #1645
@cthomasONRR I agree. Let's set up a practice session.

[2022-03-03 14:04] cthomasONRR commented on #1645
Practice time is set for Tuesday 3/8 at 1pm

[2022-03-03 14:35] jkwonatx commented on #1245
I read the draft of Getting Beyond Auto Checks and examined the solution for the ONRR external org chart. Which got me wondering:

Yesterday I suggested to Dave to replace the diagram with an image file and add alt text to that image, as an easy solution. After reading about the two solutions that Sid proposed, I thought about whether that solution would make the content actually accessible.

I th

[2022-03-03 16:09] Maroyafaied commented on #1555
create a new input filed

[2022-03-03 16:15] Maroyafaied commented on #1574
need to add videos to page after a video collection is created.

[2022-03-03 16:41] Maroyafaied commented on #1621
This will affect pricing tables as well.

[2022-03-03 17:52] mcharg commented on #1681
@mojobnichols Here's another weird one.  The Getting Started Home page added a "-" to the url and now it's displaying with the hero image from the homepage and Home in the left nav instead of the Getting Started hero and left nav.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/ce773bc3-659a-4ee4-821c-37d3356dc0e2)

[2022-03-03 17:56] mcharg commented on #1681
@mojobnichols I tried to change the hero image on the Reporting Home page to a better cropped version and it's doing the same thing. ![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/c211e0e1-5169-438a-ab18-04a96fd52456)

[2022-03-03 18:45] Toddsand21 opened #1684 "Events: Kauley Virtual Meeting (found Events under the Allotte Assistance Page)"
Can we change the date of the Kauley Meeting from March 16th to March 17th?  Everything else remains the same.

[2022-03-03 18:48] cthomasONRR commented on #1684
@Toddsand21

Sure, this change is now on the dev site: http://2017onrr/events.htm
Please review and give us your approval to go live.

Thanks,
Christine

[2022-03-03 19:54] Toddsand21 commented on #1684
It looks fine and ready to go.  Thanks.

[2022-03-03 20:32] cthomasONRR commented on #1684
@Toddsand21 Great, the changes are now live: https://www.onrr.gov/events.htm.
Closing this issue now.

[2022-03-03 20:32] #1684 closed

[2022-03-04 15:59] Maroyafaied commented on #1625
@daniel-coleman-1 I don't have access to the link above, please put it our shared drive. Also, give a status update for this issue since it's been open for a while. I'd like to know if all pages have been reviewed and if there's any pages that need to be corrected for capitalization. Thanks

[2022-03-04 17:01] forgravec opened #1685 "NYMEX February prices for ONRR.gov"
The February NYMEX prices are ready to be uploaded to ONRR.gov.  The spreadsheet is attached.

Thanks,
Cory Forgrave
@sudarr
[NYMEX022022.xlsx](https://github.com/ONRR/onrr.gov-site/files/8187516/NYMEX022022.xlsx)

[2022-03-04 17:05] boices opened #1686 "Update March Index Zone prices on onrr.gov"
Good morning,

Please update the index zone pricing as shown on the "Data for onrr.gov" spreadsheet.

@sudarr

Thanks,
Sean

[2022-03-04 17:14] cthomasONRR commented on #1686
@boices

Good morning, these changes are now on the dev site: http://2017onrr/valuation/allzones.htm
Please review and give us your approval to go live.

Thanks,
Christine

[2022-03-04 17:15] forgravec commented on #1685
Christine,

The prices look good.

Thanks,
Cory Forgrave
Economist
Office of Natural Resources Revenue
303-231-3589
***@***.***
________________________________
From: Christine Thomas ***@***.***>
Sent: Friday, March 4, 2022 10:09 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Forgrave, Cory J ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] NYMEX February prices for ONR

[2022-03-04 17:17] boices commented on #1686
Those look great, thanks again!

[2022-03-04 17:31] cthomasONRR commented on #1685
@forgravec Great, these changes are now live: https://www.onrr.gov/valuation/NYMEX.htm

@mcharg I also updated the CMS with the this new 2/2022 NYMEX excel.

[2022-03-04 17:31] #1685 closed

[2022-03-04 17:31] cthomasONRR commented on #1686
@boices Great, these changes are now live: https://www.onrr.gov/valuation/allzones.htm

[2022-03-04 17:31] #1686 closed

[2022-03-04 21:03] jlouis-onrr commented on #1559
@mcharg, CMS frontend is back up now and the ability to equalize card heights and add outer columns to pages and tab content is in dev.  I've setup some examples in the builder page and also on this page: https://dev-onrr-frontend.app.cloud.gov/indian/assistance?tab=indian-energy-service-center

[2022-03-04 21:15] jlouis-onrr commented on #1559
@mcharg, when creating any new layouts choose from the 'Add Existing' option.  This will prevent dupes from being created.  Currently Directus doesnt support attaching a singleton collection to the m2a field.  It breaks the blocks builder.  Its currently a bug and there are requests for this feature with Directus.

[2022-03-04 21:34] #1681 closed

[2022-03-04 21:47] mcharg opened #1687 "Revisit onrr.gov personas/user types"
It's become clear that we are missing some user types. I'd like to do a series of design studios where we define the dimensions for how people use onrr.gov and do something similar to the triangles.

[2022-03-04 21:48] mcharg opened #1688 "Consolidate user interview findings"

[2022-03-04 22:00] mcharg commented on #1559
@jlouis-onrr Looks good!

[2022-03-07 20:48] mcharg commented on #1434
Documents are all linked. Moving to backlog until we get the button component.

[2022-03-07 20:55] mcharg commented on #1510
@cthomasONRR This page has the documents linked and is ready to review.

[2022-03-07 20:56] #1652 closed

[2022-03-07 21:01] cthomasONRR commented on #1510
@mcharg All 4 pdf links worked and I was able to view the documents. But, I'm really concerned about the PDF urls... they all look like this:
![image](https://user-images.githubusercontent.com/72526208/157116921-1040c18b-7f64-4bbd-b3d4-1b980e766d07.png)

Will we have normal PDF titles in the urls like we currently have on the live site?

[2022-03-07 21:51] jlouis-onrr opened #1689 "Create preview for onrr cms"
from @mojobnichols

Do you think you could set up preview-cms-onrr.cloud.gov that is bound to same database.   Then we can push from a preview branch that we sync with dev and our current branches.

I think the database changes are fine to do and test locally and then release to dev.

Its the code we need a preview for.

[2022-03-07 21:52] mcharg commented on #1397
Documents uploaded. Waiting for Excel icon for one file.

[2022-03-07 22:00] mcharg commented on #1404
Documents added. Waiting on Excel icon for one.

[2022-03-07 22:01] mcharg commented on #1418
Documents added. Waiting on Excel icon for one.

[2022-03-08 14:23] mcharg opened #1690 "The CMS is adding a "-" to the url of pages when we add documents"
The Forms page still displays, but the left nav disappears.
https://dev-onrr-frontend.app.cloud.gov/-/references/forms

Rulemakings pages are giving a 404 error.
https://dev-onrr-frontend.app.cloud.gov/references/rulemakings/ad22
https://dev-onrr-frontend.app.cloud.gov/references/rulemakings/ad00

The main Rulemakings page now has a "-" with the left nav displaying. This page wasn't edited, but do

[2022-03-08 14:47] cthomasONRR opened #1691 "Revise pages that have 2 columns"
Webpages that either need the right rail (8 and 4 size columns) adjusted or right rail cards 'shrunk'

- [x] https://dev-onrr-frontend.app.cloud.gov/about/interagency?tab=outer-continental-shelf-mou (map could be moved more to the right)
- [x] https://dev-onrr-frontend.app.cloud.gov/about/foia (contact card shrink)
- [x] https://dev-onrr-frontend.app.cloud.gov/indian/assistance?tab=federal-indian-

[2022-03-08 14:51] mcharg commented on #1493
Columns are cleaned up and I put the video back on this tab.

[2022-03-08 14:52] mcharg commented on #1691
I updated these pages:
- [ ] https://dev-onrr-frontend.app.cloud.gov/indian/assistance?tab=indian-energy-service-center

[2022-03-08 14:55] mcharg commented on #1490
Added columns to clean up card height.

[2022-03-08 14:56] mcharg commented on #1690
References Home is also broken even though that page wasn't edited.
https://dev-onrr-frontend.app.cloud.gov/-/references

[2022-03-08 15:01] mcharg commented on #1690
I think I fixed this. I added a Hero Title to References and it fixed that one then did the other pages.  I think References needed to be fixed first.

[2022-03-08 15:05] mcharg commented on #1690
Will keep this open until we figure out whether it happens again when we add docs to other pages.

[2022-03-08 15:27] mcharg commented on #1434
@cthomasONRR The document links are ready to review.  After review, this can go back to the backlog until we can add the button.

[2022-03-08 15:27] mcharg commented on #1397
@cthomasONRR The pdfs are ready to review. Waiting on Excel icon before adding the Excel file.

[2022-03-08 15:28] mcharg commented on #1404
@cthomasONRR PDFs are ready to review.

[2022-03-08 15:29] mcharg commented on #1411
@cthomasONRR PDFs are ready to review. Needs to go back into backlog after review until we get the button component.

[2022-03-08 15:29] mcharg commented on #1418
@cthomasONRR PDFs are ready to review.

[2022-03-08 15:32] mcharg commented on #1435
@cthomasONRR This one is ready to review. There are no remaining blockers, so ready for full ODDD Approval.
https://dev-onrr-frontend.app.cloud.gov/references/forms?tab=appeal-surety

[2022-03-08 15:33] mcharg commented on #1435
Content is duplicated on this page. https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/appeals?tab=sureties

[2022-03-08 16:18] cthomasONRR commented on #1645
@lpgoldstein @Maroyafaied Here is the link to the updated presentation
https://teams.microsoft.com/l/file/52946DFF-615A-4924-874F-6E0F79D69C25?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=pptx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FAdmin%2FOutreach%2F508%20Equity%20Office%20Hour.pptx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsi

[2022-03-08 16:40] cthomasONRR opened #1692 "Remove PDF at ICR 1012-0008, wrong primary location"
https://dev-onrr-cms.app.cloud.gov/admin/content/pages/91
https://dev-onrr-frontend.app.cloud.gov/references/icrs/1012-0008

I added a PDF here as the primary location, but the primary location should be within the forms webpage.

Could you please remove this PDF?

Thanks!

[2022-03-08 16:45] cthomasONRR commented on #1397
Looks good.

[2022-03-08 16:47] cthomasONRR commented on #1404
@mcharg One kind of weird PDF icon placement, but otherwise looks good
![image](https://user-images.githubusercontent.com/72526208/157285174-58af0193-2586-4f90-93d1-8f2c1d83b6f5.png)

[2022-03-08 16:47] damionschulte opened #1693 "February 2022 IBMP Prices"
All I have updated the Data for ONNR sheet in the OneDrive with the February  IBMP Prices.  Can you please have them posted to the website?  Thanks

@sudarr

[2022-03-08 16:50] cthomasONRR commented on #1418
@mcharg Looks good

[2022-03-08 16:52] cthomasONRR commented on #1435
@mcharg Looks good, Full ODDD approval granted :)

[2022-03-08 17:02] damionschulte commented on #1693
These are perfect!  Thank you for the super quick turnaround.

From: Christine Thomas ***@***.***>
Sent: Tuesday, March 8, 2022 9:58 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Schulte, Damion C ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] February 2022 IBMP Prices (Issue #1693)

 This email has been received from outside of DOI - Use caution before clicking on li

[2022-03-08 17:14] mcharg opened #1694 "Make document icons stick to the text when wrapping"
So that we don't end up with this.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/015de88b-3610-415c-9caf-59385aaf7d26)

[2022-03-08 17:14] mcharg commented on #1404
Created #1694 for the wrapping issue.

[2022-03-08 17:17] mcharg opened #1695 "Add pdf icon to external pdf links"
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/01dc80a9-faeb-4826-be6b-88f513a04fb4)

[2022-03-08 17:18] mcharg commented on #1434
Created #1695 for the external pdf link.

[2022-03-08 17:19] #1671 closed

[2022-03-08 17:21] mcharg opened #1696 "Clean up spacing with document icons"
The spacing is much wider than for other bullets.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/d6b7bfae-95f6-4c0c-b05c-481160fb00ab)
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/52d8d109-d364-4d84-9377-dcaecf6e4b54)
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/c4b042d6-fb3c-41dd-838f-53b817d54f7e)

[2022-03-08 17:30] jkwonatx commented on #1683
Shannon and I understood the problem. Here's the plan:
1. understand the files
2. categorize the files and create a file tree (contact Carrie for help)
3. compare the tree to how the files are currently organized in the intranet page
4. low-fi wireframe sketches

[2022-03-08 17:31] jkwonatx commented on #1274
I'll revisit today and comment.

[2022-03-08 17:31] #1693 closed

[2022-03-08 17:31] mcharg commented on #1572
@cthomasONRR I fixed the icons.  The rest looks good.

[2022-03-08 17:37] #1673 closed

[2022-03-08 17:38] mcharg commented on #1580
@cthomasONRR Added pdf icon to a couple that were missing. Otherwise, looks good.

[2022-03-08 17:39] mojobnichols commented on #1690
If a parent is broken or any part of url those parent (grandparent etc) pages need to get updated as well.

[2022-03-08 17:41] #1618 closed

[2022-03-08 17:43] mcharg commented on #1580
@cthomasONRR Marked all these pages as Approved by ODDD is the tracking sheet.

[2022-03-08 17:44] mcharg commented on #1572
@cthomasONRR Marked all these pages as Approved by ODDD in the tracking sheet.

[2022-03-08 17:55] cthomasONRR commented on #1580
thank you!

[2022-03-08 17:56] cthomasONRR commented on #1572
thank you!

[2022-03-08 18:08] #1559 closed

[2022-03-08 18:10] mcharg opened #1697 "Icons for phone numbers, email addresses, videos, fax, social media"

[2022-03-08 18:15] Maroyafaied commented on #1210
@crobey98 please update @jlouis-onrr on the status of this issue. Thanks

[2022-03-08 18:18] #828 closed

[2022-03-08 18:22] Maroyafaied opened #1698 "Add Delete Trigger for links in CMS"

[2022-03-08 19:54] cthomasONRR commented on #1691
PDF icon mysteriously appeared in System Access title. I was not editing that content block, and was also not doing anything with PDFs...
https://dev-onrr-frontend.app.cloud.gov/getting-started/system-access
![image](https://user-images.githubusercontent.com/72526208/157314519-9c10a6ab-26c8-44a3-a9d9-dd8cbcc78508.png)

[2022-03-08 20:24] Maroyafaied opened #1699 "Discover uuid to file name translation to frontend"

[2022-03-08 21:19] lpgoldstein commented on #1544
added pdfs

[2022-03-08 21:20] lpgoldstein commented on #1546
added pdfs

[2022-03-08 21:20] lpgoldstein commented on #1545
added pdfs

[2022-03-08 21:20] lpgoldstein commented on #1547
added pdfs

[2022-03-09 01:13] daniel-coleman-1 commented on #1625
@Maroyafaied that link should be accessible now, at 205/299.

[2022-03-09 07:27] Christian-Sibo-ONRR opened #1700 "Footer "Accessibility" link broken"
In the standard page footer, the `Accessibility` link is pointing at "https://www.doi.gov/accessibility.cfm". That page seems to no longer exist. doi.gov's own footer points at "https://www.doi.gov/accessibility".

The `DOI Privacy` link is similarly outdated but doi.gov appears to redirect that one to their new page already.

[2022-03-09 14:29] cthomasONRR commented on #1691
@mcharg I've fixed all the ones listed above. Let me know if you find anymore. I cruised through the site, couldn't find any other cards that needed adjusting.

[2022-03-09 16:54] Maroyafaied commented on #1625
@daniel-coleman-1 Does the edited column mean that there's issues in capitalization? Does the "yes" in that column mean that there's issues?
![image](https://user-images.githubusercontent.com/40175688/157490992-145003ba-9a64-45c4-8472-c01fce3d0dff.png)

[2022-03-09 17:04] daniel-coleman-1 commented on #1625
@Maroyafaied "Reviewed" means I've looked at the page, "Edited" means I made edits.  So if Reviewed is yes and Edited is no, it has been reviewed but no edits were necessary.  If Reviewed is yes and Edited is yes, edits were made in the CMS.

[2022-03-09 17:30] Maroyafaied commented on #1625
@daniel-coleman-1 Ok, thanks for explaining. Just taking a quick glimpse at the dev site and the Geothermal file reports tab says reviewed and no edits but I see a heading that needs to be fixed to be title case but that was not noted or edited?
![image](https://user-images.githubusercontent.com/40175688/157496802-dd09662a-bf58-41aa-a3dd-5d05157d41a8.png)
![image](https://user-images.githubusercon

[2022-03-09 19:03] #1672 closed

[2022-03-09 19:47] mcharg commented on #1691
@cthomasONRR These all look good.

[2022-03-09 19:50] mcharg opened #1702 "Add video icon for when we link out to YouTube"
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/67260007-d655-49d3-858e-4bf7161fafa8)

[2022-03-09 20:13] daniel-coleman-1 commented on #1670
@mcharg this is ready for review

[2022-03-09 20:14] daniel-coleman-1 commented on #1625
@Maroyafaied it looks like I missed that one, thanks for catching

[2022-03-09 21:33] mcharg opened #1703 "Ensure all document icons display the same size."
The pdf one is smaller than the others.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/6dec849d-6d66-47c4-95e9-10831a8f21ab)

[2022-03-09 21:39] Christian-Sibo-ONRR commented on #1700
The link in the test site looks correct. Thank you.

[2022-03-09 22:14] lpgoldstein commented on #1597
uploaded pdfs

[2022-03-09 22:14] lpgoldstein commented on #1439
uploaded pdfs

[2022-03-09 22:47] Maroyafaied commented on #1700
@Christian-Sibo-ONRR Thanks, this is live.

[2022-03-09 22:47] #1700 closed

[2022-03-10 15:19] mcharg opened #1704 "Create a default author photo for the blog"
Something using the bison for when we don't have an image from the author.

[2022-03-10 15:19] #1704 closed, assigned to mcharg

[2022-03-10 16:37] mcharg commented on #1670
@daniel-coleman-1 I'm seeing a different total for search.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/1af3dfac-ce20-4232-8faa-4dbf8bfdc46e)

[2022-03-10 16:38] mcharg commented on #1670
Everything else looks good.

[2022-03-10 16:47] daniel-coleman-1 commented on #1670
Thanks for the edits @mcharg, closing

[2022-03-10 16:47] #1670 closed

[2022-03-10 18:13] #1689 closed

[2022-03-10 18:16] daniel-coleman-1 opened #1705 "Review Accordion Punctuation"
- [x] Getting Started - System Access - Troubleshooting
- [x] Getting Started - System Access - New Reporter Checklist
- [x] Reporting - Oil & Gas Production - New Reporter Checklist
- [x] Reporting - Oil & Gas Production - Troubleshooting
- [x] Reporting - Oil & Gas Revenue - New Reporter Checklist
- [x] Reporting - Oil & Gas Revenue - Troubleshooting
- [x] Reporting - Solid Minerals - New Report

[2022-03-10 20:15] mcharg opened #1706 "Reach out to Data Governance about the glossary"
And how it should interact with the meta definition project they're working on.

[2022-03-10 20:16] mcharg commented on #1679
Duplicate of #1696

[2022-03-10 20:16] #1679 closed

[2022-03-10 20:17] mcharg opened #1707 "Add blue outline on inactive tabs"
So users know they're clickable.

[2022-03-10 20:18] mcharg opened #1708 "Revise copy on contact pages"
To match what I iterated to in the prototype.

[2022-03-10 20:20] mcharg opened #1709 "Change utility header nav to make it more visible"
We made this change to the prototype based on user research findings. Also change contact icon.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/76fcd480-66e2-40aa-ad1a-fa948b5ff811)

[2022-03-10 20:50] jlouis-onrr commented on #1554
@mcharg, this issue is now out in dev, here is a sample of this:
https://dev-onrr-frontend.app.cloud.gov/getting-started/new-reporter-checklist?panel=mail-your-completed-forms-to-onrr

[2022-03-10 20:51] jlouis-onrr commented on #1018
@mcharg, this is now out in dev.  Sample link:
https://dev-onrr-frontend.app.cloud.gov/references/valuation?tabs=unbundling,plant-specific-ucas

[2022-03-10 21:08] mcharg commented on #1554
@jlouis-onrr Looks good. One issue - when I click on a closed panel, it sets the url, but I have to click it a second time to open the panel.
![image](https://user-images.githubusercontent.com/38465926/157754962-705df71e-5344-40b9-9f0d-e4dc34c9de5d.png)

[2022-03-10 21:18] jlouis-onrr commented on #1554
@mcharg.  Ok, I'll check out why that is occurring.

[2022-03-10 21:35] Toddsand21 opened #1710 "Events (to be added to Event Calendar on Allottee Assistance Page)"
**EASTERN OK REGIONAL VIRTUAL MEETING**
THURSDAY, MARCH 24, 2022
1:00 pm to 2:00 pm CST
Location:  By Telephone

DESCRIPTION: This meeting will be a call-in meeting to hear a brief presentation and updates from the Office of Natural Resources Revenue (ONRR) Indian Outreach Office.  Representatives from the Bureau of Land Management (BLM), Bureau of Trust Funds Administration (BTFA), and the Bureau

[2022-03-10 21:50] mcharg commented on #1018
@jlouis-onrr This works!

[2022-03-10 21:50] #1018 closed

[2022-03-10 21:50] #1554 closed

[2022-03-10 22:27] jlouis-onrr commented on #1613
@mcharg, this update is now out in dev.

[2022-03-10 22:36] lpgoldstein commented on #1508
added pdfs

[2022-03-10 22:47] Maroyafaied commented on #1710
@daniel-coleman-1 please work on this issue. Thanks

[2022-03-10 22:58] daniel-coleman-1 commented on #1710
@Toddsand21 the requested changes have been implemented in dev:
http://2017onrr/events.htm
with your approval I will push these changes live

[2022-03-10 23:06] jlouis-onrr commented on #1616
Bug within directus, should be available for all file types:
https://github.com/directus/directus/issues/11898

[2022-03-10 23:16] lpgoldstein commented on #1509
added pdfs

[2022-03-11 12:45] mcharg commented on #1613
@jlouis-onrr Looks good.

[2022-03-11 12:45] #1613 closed

[2022-03-11 13:18] Maroyafaied commented on #1625
These accordions need to be sentence case
![image](https://user-images.githubusercontent.com/40175688/157792039-e9ef5e30-41be-4f21-a9c8-f066ba82988e.png)
![image](https://user-images.githubusercontent.com/40175688/157792092-c06c1883-9379-440e-9d47-b173ed1b771a.png)
![image](https://user-images.githubusercontent.com/40175688/157792742-20f86651-6f74-4f7b-8133-d3bdef220b50.png)

There's a few instanc

[2022-03-11 13:36] mcharg opened #1711 "Add an Excel version of the XREF file"
We heard from several user interview participants that the txt file isn't usable for them and they would rather have Excel.

[2022-03-11 13:38] cthomasONRR commented on #1691
@mcharg

I added the 8 and 4 layout column blocks to the foia page, just to make sure I understand how to use them. I can delete them out if you think they're unnecessary on that page.

You had already added them to the only 2 pages I identified as needing them (FIMO and IPA Fellowship Program tabs). None of the other pages have multiple cards on the right rail, so adding these layout column block

[2022-03-11 13:43] Maroyafaied opened #1712 "Determine high level CMS goals and Strategy"
@mcharg here is a list of general goals that I believe are essential for launching the new website. Feel free to add to it or to strategize on level of importance.

**Links**
- [ ] discover & implement
- [ ] add collection items to links
- [ ] URL & slug to not allow duplicates
- [ ] external links to open in new browser
**File Management**
- [ ] - file updates
- [ ] - file icons
**Contacts**
- [

[2022-03-11 14:08] #945 closed

[2022-03-11 14:14] mcharg opened #1713 "Remove next link placeholders from new reporter checklists"
We determined we don't need them from user testing.

[2022-03-11 16:21] lpgoldstein commented on #1501
added pdfs

[2022-03-11 16:22] lpgoldstein commented on #1488
added pdf

[2022-03-11 16:24] #1691 closed

[2022-03-11 16:44] lpgoldstein commented on #1710
@daniel-coleman-1 Did you see the requested changes?

[2022-03-11 16:47] Toddsand21 commented on #1710
Where do I view it?

[2022-03-11 16:49] daniel-coleman-1 commented on #1710
@Toddsand21 edits have been input in dev here:
http://2017onrr/events.htm

with your approval I will push these changes live.

Thanks for the tag, @lpgoldstein

[2022-03-11 17:18] daniel-coleman-1 commented on #1625
@Maroyafaied edits have been input to the CMS, thanks.

[2022-03-11 17:19] daniel-coleman-1 opened #1714 "Determine Proper Noun Usage"
- [x] Operator number
- [x] Payor number
- [x] Payor code

[2022-03-11 17:41] Toddsand21 commented on #1710
Please make the following changes for the paragraph, **Description**: The Office of Natural Resources Revenue (ONRR) will be hosting a virtual (call-in) Outreach Meeting for Indian mineral owners.  (Delete This meeting will be a Call-in Meeting to hear a brief presentation and updates from the Office of Natural Resources Revenue (ONRR) Indian Outreach Office.)

Also add this as the last sentence f

[2022-03-11 17:56] daniel-coleman-1 commented on #1710
@Toddsand21 can you post your completed final draft here for me to add to the site?

[2022-03-11 18:44] Toddsand21 commented on #1710
EASTERN OK REGIONAL VIRTUAL MEETING
THURSDAY, MARCH 24, 2022
1:00 pm to 2:00 pm CST
Location:  By Telephone

DESCRIPTION: The Office of Natural Resources Revenue (ONRR) will be hosting a virtual (call-in) Outreach Meeting for Indian mineral owners.  Representatives from the Bureau of Land Management (BLM), Bureau of Trust Funds Administration (BTFA), and the Bureau of Indian Affairs (BIA) will als

[2022-03-11 18:47] daniel-coleman-1 commented on #1710
Thanks @Toddsand21, edits have been input in dev here:
http://2017onrr/events.htm

with your approval I will push these changes live.

[2022-03-11 18:53] mcharg commented on #1259
@mojobnichols and I met and this is our suggested strategy.

1. Create a folder for images.
2. Upload all images there.
3. Remove in-page uploaded images.
4. Replace with images that live in the folder.

This doesn't involve any developer work and will fulfill the requirement for images to only live in one place and be able to be updated from where they live.

@Maroyafaied @lpgoldstein @cthomasONR

[2022-03-11 19:46] cthomasONRR commented on #1259
@mcharg This sounds good, thanks for your help!!!

[2022-03-11 20:00] gingerhensley opened #1715 "Updates to ONRR.gov Solids forms"
Good afternoon,

I am requesting updates to this page https://onrr.gov/ReportPay/solids.htm#forms

Under Production & Royalty, please update the form ONRR-4430 Production & Royalty (P&R) Report with the attached document below which has a new expiration date.

[4430 with new exp.pdf](https://github.com/ONRR/onrr.gov-site/files/8235154/4430.with.new.exp.pdf)

Please let me know if you have any ques

[2022-03-11 20:02] gingerhensley opened #1716 "Updates to ONRR.gov Solids forms"
Good afternoon,

I am requesting updates to this page https://onrr.gov/ReportPay/solids.htm#forms

Under Sales Summary Data, please update the form ONRR-4440 Solid Minerals Sales Summary with the attached document below which has a new expiration date.

[Form 4440 with new exp.pdf](https://github.com/ONRR/onrr.gov-site/files/8235226/Form.4440.with.new.exp.pdf)

Please let me know if you have any q

[2022-03-11 20:17] mcharg opened #1717 "Move images to an image folder"

[2022-03-11 20:25] daniel-coleman-1 commented on #1716
@gingerhensley edits have been added to the dev site:
http://2017onrr/ReportPay/solids.htm#forms
with your approval I will push these changes live.

[2022-03-11 20:25] KristianL3101 opened #1718 "Updates to civil penalty page"
Please update page: https://onrr.gov/compliance/civil-penalties.htm

Under "Penalty Collections by Fiscal Year" please delete FY2016 and replace with the attached 2021. Also please update "Historical Penalty Collections" Link with the new one attached. Thank you.

[2021.pdf](https://github.com/ONRR/onrr.gov-site/files/8235400/2021.pdf)
[Penalty Collections.pdf](https://github.com/ONRR/onrr.gov-sit

[2022-03-11 20:25] daniel-coleman-1 commented on #1715
@gingerhensley edits have been added to the dev site:
http://2017onrr/ReportPay/solids.htm#forms
with your approval I will push these changes live.

[2022-03-11 20:33] daniel-coleman-1 commented on #1718
@KristianL3101 updates have been entered into dev:
http://2017onrr/compliance/civil-penalties.htm

with your approval I will push these changes live

[2022-03-11 20:56] Toddsand21 commented on #1710
I never received an email that you had updated it.  I cannot see any new updates.  Is there someway to give me the new updated version>

[2022-03-11 20:58] daniel-coleman-1 commented on #1710
@Toddsand21 you can view the page with the following link:
http://2017onrr/events.htm

Do we need to get you access to the dev site?

[2022-03-11 21:00] KristianL3101 commented on #1718
Yes. Thank you.

Kristian Lee
Enforcement Specialist
ONRR/OE Litigation Support
Denver Federal Center, Bldg 85/B76
PO Box 25165 MS 64200B
Denver, CO  80225-0165
(303) 231-3101

________________________________
From: daniel-coleman-1 ***@***.***>
Sent: Friday, March 11, 2022 1:33 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Lee, Kristian H ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [O

[2022-03-11 21:34] Toddsand21 commented on #1710
It looks fine and ready to post.

[2022-03-11 21:36] daniel-coleman-1 commented on #1718
we are live:
https://onrr.gov/compliance/civil-penalties.htm

[2022-03-11 21:36] #1718 closed

[2022-03-11 21:49] gingerhensley commented on #1716
Looks great, I approve.

Thanks!

[2022-03-11 21:49] gingerhensley commented on #1715
Looks great, I approve.

Thanks!

[2022-03-11 22:05] daniel-coleman-1 commented on #1710
@Toddsand21 fantastic, we are live:
https://onrr.gov/events.htm

[2022-03-11 22:05] #1710 closed

[2022-03-11 22:44] daniel-coleman-1 commented on #1715
@gingerhensley fantastic, we are live:
https://onrr.gov/ReportPay/solids.htm#forms

[2022-03-11 22:44] #1715 closed

[2022-03-11 22:44] daniel-coleman-1 commented on #1716
@gingerhensley fantastic, we are live:
https://onrr.gov/ReportPay/solids.htm#forms

[2022-03-11 22:44] #1716 closed

[2022-03-14 12:31] Maroyafaied opened #1719 "Update civil penalty dev site"
There has been a recent request to make updates to the current site with the following:

Under "Penalty Collections by Fiscal Year" please delete FY2016 and replace with the attached 2021. Also please update "Historical Penalty Collections" Link with the new one attached. Thank you.

[2021.pdf](https://github.com/ONRR/onrr.gov-site/files/8235400/2021.pdf)
[Penalty Collections.pdf](https://github.c

[2022-03-14 12:57] Maroyafaied commented on #1625
@daniel-coleman-1 seems like the the layout and order of the Denver office location changed when you updated it, can you please change it back to the original order.  Also, here's another title that needs to be fixed.  I confirmed with @mcharg that all the "sample layout" should be a heading so please fix those as well. Thanks

![image](https://user-images.githubusercontent.com/40175688/158175422-

[2022-03-14 12:57] mcharg commented on #1625
@daniel-coleman-1 Yes, we should use headings whenever possible to improve readability for screen readers.

[2022-03-14 16:02] jlouis-onrr commented on #821
@Maroyafaied, what is the frequency in which the Indian Gas Index Zone gets updated or will be uploaded?

[2022-03-14 16:09] Maroyafaied commented on #821
@jlouis-onrr  The Indian Gas Index Zone gets updated on a monthly basis.

[2022-03-14 17:06] #1699 closed

[2022-03-14 17:34] mojobnichols opened #1720 "Implement user friendly path and file name for documents."

[2022-03-14 17:57] mcharg commented on #1460
Looks like this one is actually built from the calculator Excel file that also goes on the page. https://github.com/ONRR/onrr.gov-site/issues/1565

[2022-03-14 18:20] Maroyafaied opened #1721 "Organize 508 excel sheet for onrresource"

[2022-03-14 18:27] cthomasONRR commented on #1706
@mcharg Here is a draft of the meeting invite email I'm planning to send Wendy. Please review, then I'll look at the calendar and find a good time for everyone.

"Hi Wendy,

My name is Christine Thomas. I'm one of the program analysts in the Open Data, Design, and Development (ODDD) team. As you know, the ODDD team is working to redesign onrr.gov. Part of this redesign included adding terms to the

[2022-03-14 18:44] jkwonatx commented on #1721
[ONRResources 508 Compliance.xlsx](https://github.com/ONRR/onrr.gov-site/files/8247740/ONRResources.508.Compliance.xlsx)

[2022-03-14 18:44] mcharg commented on #1706
@cthomasONRR Looks good.

[2022-03-14 18:44] jkwonatx commented on #1721
@Maroyafaied @mcharg I've added the excel for Christina. What's her GH handle? Thank you!

[2022-03-14 18:47] mcharg commented on #1721
@jkwonatx Christina is @cmathers1 and Carrie is @carrie-anderson. I think they both need to be added to the org to be properly tagged.   I sent them both invites.

[2022-03-14 18:51] jkwonatx commented on #1721
![Screen Shot 2022-03-14 at 1 48 45 PM](https://user-images.githubusercontent.com/85380376/158240585-a270203c-b603-469d-a035-14a1b6a22794.png)

[2022-03-14 19:36] Maroyafaied commented on #1721
I added @cmathers1 and @carrie-anderson to the issue, please comment on this issue with status updates so @jkwonatx is aware.  Here is the excel file [ONRResources 508 Compliance.xlsx](https://github.com/ONRR/onrr.gov-site/files/8247740/ONRResources.508.Compliance.xlsx) Thanks

[2022-03-14 19:53] jkwonatx commented on #1721
@cmathers1 please suggest the times for our next meeting once you have gotten a sense of how long it would take to add the description to the files.

Please provide a brief description, limiting to the information that would help us understand what it is used for and how it should be categorized. May prove to be a bit tricky, so don't hesitate to reach out. Thank you.

[2022-03-14 21:43] daniel-coleman-1 commented on #1625
@Maroyafaied input edits into CMS: Sureties on appeals page, Sample Layout and office location order.

Should be good to close.

[2022-03-14 21:53] Maroyafaied commented on #1625
@daniel-coleman-1 I'm not seeing the changes in the dev site for the office location and sample layout. I only see the changes on the card in the sureties tab.
![image](https://user-images.githubusercontent.com/40175688/158267252-c3a85451-467a-4d36-a801-41b59cdca811.png)
![image](https://user-images.githubusercontent.com/40175688/158267320-c7188b48-f731-44bd-9139-59c75fdf07c8.png)

[2022-03-14 21:57] daniel-coleman-1 commented on #1625
@Maroyafaied I hit the check mark for the above levels, but not the base level. Should be good now.

[2022-03-14 22:12] daniel-coleman-1 commented on #1625
@Maroyafaied is this what you're looking for for office locations?
![Screenshot 2022-03-14 161126](https://user-images.githubusercontent.com/83892362/158269597-5e2757df-91c4-463d-966e-1c4393b5b047.png)

[2022-03-14 22:14] Maroyafaied commented on #1625
@daniel-coleman-1 No the check payments came first before Other U.S Mail like the wireframe and this pic.
![image](https://user-images.githubusercontent.com/40175688/158269822-baa24c49-f282-483f-a05d-938ba3e473a4.png)

[2022-03-14 22:15] daniel-coleman-1 commented on #1625
@Maroyafaied ok we're up:
![Screenshot 2022-03-14 161525](https://user-images.githubusercontent.com/83892362/158270002-a5841a6f-919f-495a-9c69-12d2540b9a97.png)

[2022-03-14 22:26] #1625 closed

[2022-03-14 22:43] Maroyafaied commented on #1719
Updated the page and we noted in the cms to remove the 2016 file and add the 2021 file. https://dev-onrr-frontend.app.cloud.gov/compliance-enforcement/enforcement?tabs=civil-penalties,penalty-collections

[2022-03-14 22:43] #1719 closed

[2022-03-15 03:32] lpgoldstein opened #1722 "Send thank you notes for troubleshooting contact user study"

[2022-03-15 03:32] #1722 closed

[2022-03-15 14:31] mcharg opened #1723 "Add "Page" column to documents that display in folders"
So we can identify where they live.

[2022-03-15 14:56] mcharg opened #1724 "Add ability to search tags in the documents folder"

[2022-03-15 16:41] Maroyafaied commented on #1705
@daniel-coleman-1 I started my review and found quite a few accordions that haven't been worked on, I stopped reviewing. Please review the dev site before requesting my review to save me time. Thanks

![image](https://user-images.githubusercontent.com/40175688/158427406-79fa44d8-1a07-498d-9ccb-cfb02b19f6c7.png)
![image](https://user-images.githubusercontent.com/40175688/158427567-1101b274-f62d-4bd

[2022-03-15 16:49] daniel-coleman-1 commented on #1705
@Maroyafaied the following are fragments and do not require punctuation at the end:

Unbundling tab on References -> Valuation and Pricing
![Screenshot 2022-03-15 104746](https://user-images.githubusercontent.com/83892362/158429224-7ef44a96-3237-4c7f-bfc3-14839878d9f3.png)

New Reporters tab on References -> Reporter Training -> Training Videos
![Screenshot 2022-03-15 104814](https://user-images.g

[2022-03-15 17:28] cthomasONRR opened #1725 "Add tags to CMS documents"

[2022-03-15 17:40] cthomasONRR commented on #1725
@mcharg I'll focus on pages within References first.

[2022-03-15 18:04] Maroyafaied commented on #1712
We have determined features needed in the CMS and rated user value, developer and non-developer LOE, and requirements for launching along with work blocked by the need of the feature.  We will be using the spreadsheet for planning our work.  https://doimspp.sharepoint.com/:x:/r/sites/NRRD/_layouts/15/Doc.aspx?sourcedoc=%7BBE33A01B-D4B4-4787-A453-0F796DC354F2%7D&file=ONRR.gov%20Prioritization.xlsx&

[2022-03-15 18:04] #1712 closed

[2022-03-15 18:25] Maroyafaied commented on #1705
@daniel-coleman-1 Ok, thanks for clarifying. I'll review again once you have implemented the common noun changes in issue#1714 so I only have to review once. Let me know when those changes are done. Thanks

[2022-03-15 18:36] cthomasONRR commented on #1725
Tagging completed in the following pages:

- [ ] https://dev-onrr-cms.app.cloud.gov/admin/content/pages/47 (Forms)
- [ ] https://dev-onrr-cms.app.cloud.gov/admin/content/pages/50 (Valuation & Pricing)

[2022-03-15 19:47] #849 closed

[2022-03-15 20:02] mcharg commented on #1678
Ready to review. @Maroyafaied @lpgoldstein @cthomasONRR

Home: https://dev-onrr-frontend.app.cloud.gov/
Getting Started: https://dev-onrr-frontend.app.cloud.gov/getting-started
Reporting: https://dev-onrr-frontend.app.cloud.gov/reporting
References: https://dev-onrr-frontend.app.cloud.gov/references
Paying: https://dev-onrr-frontend.app.cloud.gov/paying
Compliance: https://dev-onrr-frontend.app.cl

[2022-03-15 20:02] mcharg commented on #1678
Note: If you're not seeing the new cropping - clear cache.

[2022-03-15 20:23] mcharg commented on #1678
Those are what those looked like before cropping. You'll have to clear cache to see the new versions.
![image](https://user-images.githubusercontent.com/38465926/158465291-dc390bcb-2b3f-49ed-b6ec-4e2c6072ffec.png)
![image](https://user-images.githubusercontent.com/38465926/158465323-445b1f46-3995-4904-bb4d-e07c74152bfd.png)

[2022-03-15 20:26] mcharg commented on #1678
@Maroyafaied I had to wait for quite a while for them to show up.  You could also try a different browser.

[2022-03-15 20:26] cthomasONRR commented on #1678
@mcharg The only one I don't personally like is compliance and enforcement. This is super picky, but could you re-center so that the mountain isn't cut off?
![image](https://user-images.githubusercontent.com/72526208/158465947-8649c2c7-8c91-4d05-bc9a-e23e427cefa7.png)

[2022-03-15 20:27] mcharg commented on #1678
@cthomasONRR Replacing it with this image.
![Echo Lake Mt Evans CO](https://user-images.githubusercontent.com/38465926/158466132-06acc5b2-295c-4286-981a-d737d1bb96b6.jpg)

[2022-03-15 20:28] mcharg commented on #1678
Looks nice in the page.
![image](https://user-images.githubusercontent.com/38465926/158466304-cf421a9d-9923-4370-be64-d6108a7292d8.png)

[2022-03-15 20:29] cthomasONRR commented on #1678
@mcharg Love it! Thanks!

[2022-03-15 20:29] mcharg commented on #1678
And the functionality to replace the images worked and propagated to everywhere it's used.  Even was able to upload a file with a different name with no problem.

[2022-03-15 22:00] Maroyafaied commented on #1705
@daniel-coleman-1 can you change agreement number to also be a common noun and not sure if you reviewed the content within the accordions but there's a few instances where operator number and payor code are still capitalized.
![image](https://user-images.githubusercontent.com/40175688/158477255-b8d3d804-e3ae-4538-a813-633e284627ff.png)
![image](https://user-images.githubusercontent.com/40175688/15

[2022-03-15 22:10] daniel-coleman-1 commented on #1705
@Maroyafaied thanks for catching, I got those edits entered into the CMS

[2022-03-16 13:08] Maroyafaied commented on #1678
@mcharg I'm able to see all the cropped images now, everything looks good!

[2022-03-16 13:12] Maroyafaied commented on #1705
@daniel-coleman-1 is there a reason why agreement is still capital ? See comment and pic above from my review yesterday.

[2022-03-16 13:33] #1678 closed

[2022-03-16 14:26] cthomasONRR commented on #1725
@mcharg Do you want to review this batch and I can open up a new issue for tagging non-pdf docs?

[2022-03-16 14:45] daniel-coleman-1 commented on #1705
@Maroyafaied Agreement is capitalized there because it's the first word of a quotation

[2022-03-16 14:57] Maroyafaied commented on #1705
@daniel-coleman-1 Is that guidance from Chicago Manuel style? The quotation is not in the start of the sentence.

[2022-03-16 15:03] daniel-coleman-1 commented on #1705
@Maroyafaied yes, that's correct for Chicago

[2022-03-16 15:04] #1725 closed

[2022-03-16 15:05] daniel-coleman-1 commented on #1705
@Maroyafaied this isn't a punctuation issue, so I can save it for a sync up if you'd prefer, but I'm looking at the Leases & Agreements accordion and it seems we refer the user to the page they are on here:
![Screenshot 2022-03-16 090123](https://user-images.githubusercontent.com/83892362/158621593-310ac43f-f903-487d-ae75-bc923af91695.png)

[2022-03-16 15:27] mcharg commented on #1717
@daniel-coleman-1 For clarity, here are the steps for this task we discuss at sync up yesterday.

1. Create an Images folder
2. Move all image files in the File Library folder to the Images folder
3. Figure out which files are actually being used on pages
4. Copy alt text from the instance on the page to the description field for the image in the folder
5. For images used on more than one page, en

[2022-03-16 15:49] Maroyafaied commented on #1705
@daniel-coleman-1 I'm reviewing both punctuation and proper/common nouns at once.  My understanding is that when quoting a complete sentence, you should capitalize the first word no matter where the quote is placed but in this case when the quote is a fragment and not a complete sentence then it doesn't have to be capitalized when it's placed in the middle of a sentence. If you can share the Chica

[2022-03-16 15:51] Maroyafaied commented on #1705
@daniel-coleman-1 I'm reviewing both punctuation and proper/common nouns at once.  My understanding is that when quoting a complete sentence, you should capitalize the first word no matter where the quote is placed but in this case when the quote is a fragment and not a complete sentence then it doesn't have to be capitalized when it's placed in the middle of a sentence. If you can share the Chica

[2022-03-16 16:18] daniel-coleman-1 commented on #1705
@Maroyafaied the Chicago Manual guidance as per section 13.18 is to capitalize here, because it is a quote taken from a different context (the error message) and placed in this line of text.

[2022-03-16 17:11] mcharg commented on #1692
https://dev-onrr-cms.app.cloud.gov/admin/files/c2d94fc4-5297-4e8c-bdc9-b13eaab774d7

[2022-03-16 17:11] lpgoldstein opened #1726 "Upload non pdf docs and tag appropriately"

[2022-03-16 17:28] lpgoldstein commented on #1726
Reporter Training

- [ ] WebCenter Portal

- [ ] WebCenter Portal User Guide
- [ ] Basic Leases and Agreements
- [ ] Overlapping Agreements
- [ ] ONRR-4054 Oil and Gas Operations Report   (OGOR)
- [ ] OGOR Comma Separated Value (CSV)   Reporting
- [ ] Production Reporting for   eCommerce and Electronic Tools
- [ ] Edit 11030 Inventory Error
- [ ] OGOR Reporting Errors
- [ ] Liquid Verification Sys

[2022-03-16 17:35] lpgoldstein commented on #1726
Other

Geothermal
- [ ] Form ONRR-2014 Geothermal Codes

Payment Options
- [ ] Indian Distributee Codes

Reference Lists and Codes

- [ ] Cross-Reference Lease to Agreement Number

[2022-03-16 18:02] cthomasONRR commented on #1706
We met with Wendy Ranone. Data Governance is currently working on a "To-Be" glossary associated with BPR and also a "Lease & Agreements" glossary. They are currently in their pilot program for their new metadata management tool, which will house glossary terms.

She was happy that our onrr.gov glossary terms are already peer reviewed. I will email her my clean list of terms and also my spreadsheet

[2022-03-16 18:04] cthomasONRR commented on #1726
@lpgoldstein Thanks!!! I will hopefully have these all reviewed by tomorrow morning at the latest.

[2022-03-16 18:16] daniel-coleman-1 opened #1727 "Bug in tab linking"
Links to tabs seem to be redirecting to the first available tab, rather than the tab indicated in the link.

[2022-03-16 20:02] Maroyafaied commented on #1705
@daniel-coleman-1 I don't have a subscription to Chicago's Manuel, can you post a screen shot of the section you referenced.

[2022-03-16 20:10] daniel-coleman-1 commented on #1705
@Maroyafaied I have a physical copy, here's the text:

Changing Capitalization to suit syntax - an overview.  Aside from proper nouns and some of the words derived from them (see 8.1), most words are normally lowercased unless they begin a sentence (or, often, a line of poetry).  To suit this requirement, the first word in a quoted passage must often be adjusted to conform to the surrounding text.

[2022-03-16 20:15] daniel-coleman-1 commented on #1705
@Maroyafaied so if the quote suits the syntax, you don't capitalize, but if it doesn't, you do capitalize.  The example my manual gives is:
Benjamin Franklin admonishes us to "plough deep while sluggards sleep."

Where in that example the syntax of the sentence is continued, but in:
I'm getting an error message about "Agreement number not related to reported lease"

so if we wanted to drop that to

[2022-03-16 20:20] daniel-coleman-1 opened #1728 "Convert "Tab" to "Tabs" in CMS"

[2022-03-16 20:26] Maroyafaied commented on #1705
@daniel-coleman-1 Thanks, can you change it to lower case with the sentence you suggested (I'm getting an error message saying my "agreement number does not match the lease"). You can close this issue and issue #1714 after this change. Thanks

[2022-03-16 20:31] daniel-coleman-1 commented on #1705
@Maroyafaied input edits, closing the issue now.

![Screenshot 2022-03-16 143053](https://user-images.githubusercontent.com/83892362/158685426-1dc0308d-387d-468d-8aef-3b424eaf906a.png)

[2022-03-16 20:31] #1705 closed

[2022-03-16 20:31] #1714 closed

[2022-03-16 20:58] cthomasONRR commented on #1706
I set up the next meeting for Tuesday  April 5 @1pm mtn.

@mcharg @Maroyafaied are yall good with closing this issue? We can make a new one for the next meeting in the appropriate sprint. Thanks!

[2022-03-16 21:11] Maroyafaied commented on #1706
@cthomasONRR Yes, you can close it.

[2022-03-16 21:31] jlouis-onrr commented on #821
@Maroyafaied, Indian Gas Index Zone collection is now in dev.

[2022-03-16 22:21] jlouis-onrr commented on #821
@mcharg, is there meaning behind the $-- vs -- in the prototype, https://qmcq5k.axshare.com/#id=l9inb4&p=valuation___pricing ? or should the blank fields be like the current site, $-- or just --

[2022-03-16 22:36] Maroyafaied commented on #821
@jlouis-onrr Awesome! It looks great, I will review more in depth tomorrow and send it to the MSA team for their review as well.

[2022-03-17 12:22] #1706 closed

[2022-03-17 12:44] cthomasONRR commented on #1726
@lpgoldstein I checked all documents in those CMS page locations, and all look good with tags!

I also checked the pdfs folder to make sure there weren't any documents without tags, and I'm still seeing the 'Solids_Opening.pptx" document we chatted about yesterday there without tags. So I added it to the Reporter Training page and added tags. Let me know if you can see those changes. Other than th

[2022-03-17 12:47] mcharg commented on #821
@jlouis-onrr It doesn't matter much to me how we show the blank values as long as we're consistent across all the pricing collections.

[2022-03-17 12:52] mcharg commented on #821
@Maroyafaied Do you know what the asterisk is for in the Central Rocky Mountains name? I think it's in the spreadsheet, but isn't reflected anywhere on the current site. We should either drop it or add a footnote to go with it.
![image](https://user-images.githubusercontent.com/38465926/158812332-1e54b7ff-7ab1-4de0-b4c1-481a2b0f253d.png)

[2022-03-17 12:55] mcharg commented on #1707
This is what worked in usability testing.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/61caf31e-fe5f-443d-beb3-506859cab25c)

[2022-03-17 13:03] mcharg commented on #1333
Added counties expansion panel.

[2022-03-17 13:06] Maroyafaied commented on #821
@mcharg @jlouis-onrr I will find time to call Robert today and ask him about the asterisk and how they want the blank values to show.Thanks

[2022-03-17 13:12] mcharg commented on #1446
@cthomasONRR I added headers to this table to fix the issue with the first row looking like a header. Probably is also better for accessibility. Do you think that works?
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/eb7137c0-3a34-4435-bf76-f8747d6d44f8)

[2022-03-17 13:14] mcharg commented on #1446
Put pipes in as a workaround for the table with multiple lines. ![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/cbf068a4-d093-4d1d-8720-bad6fd2dc66a)

[2022-03-17 13:15] cthomasONRR commented on #1446
@mcharg It looks loads better! I would definitely like more formatting options in the future (maybe make the header font larger than the consent, possible colors on the header), but this is a great improvement :)

[2022-03-17 13:16] cthomasONRR commented on #1446
@mcharg and thanks for adding in the 'pipes' I saw you doing this in other tables, but didn't know how to do it myself.

[2022-03-17 13:17] mcharg commented on #1446
@cthomasONRR The pipe is the symbol on the \ key (right above the enter key) if you use shift.

[2022-03-17 13:18] mcharg commented on #1449
Added pipes in table. ![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/4abb458d-dacd-4945-afe9-095b6010c722)

[2022-03-17 15:09] cthomasONRR commented on #1726
@lpgoldstein Great, let's bring up tagging at stand up today. I think this issue can be closed.

[2022-03-17 15:35] #1726 closed, assigned to lpgoldstein, cthomasONRR

[2022-03-17 16:13] mcharg commented on #1717
@daniel-coleman-1 I'm working on the Late Payment Interest page to see what we can do to make it more readable without multiple lines in a table row. As a result, I needed to re-add the image.

I created the Images folder and moved the formula image there before re-adding it to the page. I followed the process above to prove it out.

[2022-03-17 16:25] mcharg opened #1730 "Add ability to have superscript"
We need it for some calculations. Using ^ for now.
https://dev-onrr-frontend.app.cloud.gov/paying/interest?tabs=interest-calculator

[2022-03-17 16:27] mcharg commented on #1728
@Maroyafaied Can I take this one? I'll be removing a bunch of these links as part of updating the contact pages to match the prototype, so might as well look at them all.

[2022-03-17 16:28] mcharg commented on #1329
I reviewed all of the tables on the pages listed above and either put in pipes or reworked them to not need multiple lines. Reducing priority to low, since we can definitely launch without this.

[2022-03-17 16:31] daniel-coleman-1 commented on #1562
@mcharg it looks good to me, I added some line breaks to decrease cognitive load on the reader:
![Screenshot 2022-03-17 102939](https://user-images.githubusercontent.com/83892362/158848304-ac750c67-4149-4e42-a574-9233f595958f.png)

![Screenshot 2022-03-17 102958](https://user-images.githubusercontent.com/83892362/158848325-a449714b-dd43-4d6a-b101-008bae4b7b2c.png)

[2022-03-17 16:33] mcharg commented on #1562
We should probably wait until we know the document link is final before approving. We shouldn't wait on superscript, but that likely won't be a priority before launch.

[2022-03-17 16:34] Maroyafaied commented on #1713
@mcharg yes, thanks!

[2022-03-17 17:58] mcharg commented on #1562
Closing, since the link is final. @daniel-coleman-1 I updated the page in the content tracking sheet to Approved by ODDD.

[2022-03-17 17:58] #1562 closed

[2022-03-17 17:59] mcharg commented on #1508
@Maroyafaied to add links to files.

[2022-03-17 18:49] mojobnichols commented on #1588
@Maroyafaied @mcharg , @jlouis-onrr  The problem with making this unique is that it conflicts with the archiving of page.  An option would be to add the date to to the slug automatically when it is archived.

[2022-03-17 19:08] cthomasONRR opened #1731 "Linking documents bugs"
Hi Mojo,

I'm trying to relink documents and am running into the following issues on the Anti-Harassment page (https://dev-onrr-cms.app.cloud.gov/admin/content/pages/32)

In the 'ONRR Response' section, I'm trying to relink and when I search for the document in the inline link function, I'm seeing duplicates. There are no duplicates of these files in the pdf folder or the CMS webpage.
![image.png]

[2022-03-17 19:17] mcharg commented on #1588
@mojobnichols I'm fine with that.

[2022-03-17 19:18] mcharg commented on #1731
@mojobnichols I'm not seeing duplicates, but @Maroyafaied is.  Could it be a permissions thing?

[2022-03-17 19:23] mcharg commented on #1717
@daniel-coleman-1 In case it helps, here's a list of duplicate files left in the CMS. Many of them are images. The number after the name is the number of instances.

Icon Solids                                                                                                                                                                                   |     2
 Downloadable Example (POP)

[2022-03-17 19:32] mojobnichols commented on #1731
It appears that something is still generating
 he old url.   Which is causing the duplicate and hit or miss on PDF displaying.   Please refrain from updating the urls untill I figure out the cause.

update the new trigger was not installed correctly in dev and it was generating the url in the old way causing the duplicates.  I will remove the duplicates.

[2022-03-17 19:43] cthomasONRR commented on #1731
@mojobnichols YAY! I was able to properly relink, corrected url and pdfs are all displaying.

In the CMS, I don't see any formatting issues to correct:
![image](https://user-images.githubusercontent.com/72526208/158882917-4bb3653d-b74c-45c3-acd4-8628429b3663.png)

But the webpage is displaying the pdf icons irregularly, and now there's an odd space in the list:
![image](https://user-images.githubu

[2022-03-17 19:45] mcharg commented on #1434
@cthomasONRR The links are ready to review.  I even accidentally got the pdf icon for the W-9 by linking to the instructions pdf before linking back to the IRS form.

[2022-03-17 20:01] cthomasONRR commented on #1434
@mcharg Looks good. I put these as 'approved by oddd' in the Docs tab of the ContentTracking sheet. Is the entire System Access page ready for approval?

[2022-03-17 20:02] mcharg commented on #1434
We still need the button for this one.

[2022-03-17 20:02] mcharg commented on #1434
But you can approve in the docs tab.

[2022-03-17 20:05] cthomasONRR commented on #1397
All good except the last link. This should be teh PASR CSV Record Layout. Right now it's the same ASCII file as listed above.
![image](https://user-images.githubusercontent.com/72526208/158886393-35c378e5-d8ca-4a54-b093-e0c9f17b247d.png)

[2022-03-17 20:07] mcharg commented on #1404
@cthomasONRR Docs are ready to review and ready for full ODDD approval.

[2022-03-17 20:10] mcharg commented on #1397
@cthomasONRR Fixed to link to CSV. https://dev-onrr-frontend.app.cloud.gov/references/forms?tabs=oil-gas-production-reporting

[2022-03-17 20:11] cthomasONRR commented on #1404
@mcharg Everything looks good. Set the docs and page as 'approved by oddd' Yay :)

[2022-03-17 20:12] cthomasONRR commented on #1397
@mcharg Thanks! I have all the docs and the page set to approved by oddd :)

[2022-03-17 20:16] cthomasONRR commented on #1510
@mcharg Sorry this one was complicated. Do you want me to review and approve on the tracking sheet?

[2022-03-17 20:19] mcharg commented on #1411
@cthomasONRR Links ready to review. Still need button.

[2022-03-17 20:21] mcharg commented on #1418
@cthomasONRR Ready for full ODDD approval.

[2022-03-17 20:24] mcharg commented on #1435
@cthomasONRR Links updated. Ready for full ODDD approval.

[2022-03-17 20:25] #1692 closed

[2022-03-17 20:25] mcharg commented on #1692
Done

[2022-03-17 20:25] mcharg commented on #1698
Done

[2022-03-17 20:25] #1698 closed

[2022-03-17 20:25] mcharg commented on #1720
Done

[2022-03-17 20:25] #1720 closed

[2022-03-17 20:25] mcharg commented on #1227
Done

[2022-03-17 20:25] #1227 closed

[2022-03-17 20:26] mcharg commented on #1434
Moving to backlog until we get the button for the EMARF card.

[2022-03-17 20:27] #1397 closed

[2022-03-17 20:27] #1404 closed

[2022-03-17 20:28] mcharg commented on #1510
@cthomasONRR Sure

[2022-03-17 20:29] cthomasONRR commented on #1411
@mcharg Approved all documents. Looks good.

[2022-03-17 20:31] cthomasONRR commented on #1418
@mcharg Looks good. Approved all docs and the page.

[2022-03-17 20:33] cthomasONRR commented on #1435
@mcharg Looks good. Approved all docs and the page.

[2022-03-17 20:35] cthomasONRR commented on #1510
@mcharg OK all documents and page are set to approved by oddd. Closing this issue.

[2022-03-17 20:35] #1510 closed

[2022-03-17 20:40] mcharg commented on #1384
@Maroyafaied I fixed the two links to the 4444 and the link to the NYMEX tab on the homepage. I think it's good for full ODDD approval.

[2022-03-17 20:41] mcharg commented on #1384
Note: I dropped the icon for the 4444 docs because they broke the spacing. I use "(pdf)" at the end of the title instead. https://dev-onrr-frontend.app.cloud.gov/

[2022-03-17 20:58] cthomasONRR commented on #1580
@mcharg These pages/documents are ready to review. Pages are already set as approved by oddd, but documents still need approval.

[2022-03-17 21:00] mcharg commented on #1386
@Maroyafaied This one could be done and ready for approval if we decide not to do the checklist logic at launch. https://dev-onrr-frontend.app.cloud.gov/getting-started

[2022-03-17 21:05] Maroyafaied commented on #1713
@mcharg please review

[2022-03-17 21:06] carrie-anderson commented on #1721
[ONRResources.508.Compliance.xlsx](https://github.com/ONRR/onrr.gov-site/files/8292525/ONRResources.508.Compliance.xlsx)

[2022-03-17 21:32] Maroyafaied commented on #1384
@mcharg everything looks good except these links don't work, I fixed the links in the announcement for Indian outreach & the mineral owners link.
![image](https://user-images.githubusercontent.com/40175688/158898469-7c2b0afb-1343-48a4-b8c9-9d077652756e.png)

[2022-03-18 12:37] mcharg commented on #1384
The links to those docs on the Reporter Letters and Press Releases pages are also broken. I looked in the CMS and the docs are there.  @jlouis-onrr @mojobnichols Any idea what's going on? Those links did work at one point.

[2022-03-18 12:38] mcharg opened #1732 "Links to reporter letters and press releases are broken"
See #1384 for details.

[2022-03-18 12:38] mcharg commented on #1732
@mcharg everything looks good except these links don't work, I fixed the links in the announcement for Indian outreach & the mineral owners link.
![image](https://user-images.githubusercontent.com/40175688/158898469-7c2b0afb-1343-48a4-b8c9-9d077652756e.png)

_Originally posted by @Maroyafaied in https://github.com/ONRR/onrr.gov-site/issues/1384#issuecomment-1071519069_

[2022-03-18 12:39] mcharg commented on #1732
The links to those docs on the Reporter Letters and Press Releases pages are also broken. I looked in the CMS and the docs are there.  @jlouis-onrr @mojobnichols Any idea what's going on? Those links did work at one point.

_Originally posted by @mcharg in https://github.com/ONRR/onrr.gov-site/issues/1384#issuecomment-1072370732_

[2022-03-18 12:43] mcharg commented on #1713
Looks good.

[2022-03-18 12:43] #1713 closed

[2022-03-18 12:46] mcharg commented on #1580
@cthomasONRR These all look good and I set the docs to approved in the spreadsheet.

[2022-03-18 12:46] #1580 closed

[2022-03-18 12:47] #1435 closed

[2022-03-18 12:49] #1418 closed

[2022-03-18 12:49] mcharg commented on #1411
Moving to backlog until we get button component.

[2022-03-18 12:56] cthomasONRR commented on #1572
@mcharg This is ready for your review. All the pages were already set to approved by oddd, but all the docs still need approval. I have them set as ready to review on the spreadsheet. After your review, this issue can be closed :)

[2022-03-18 13:03] Maroyafaied commented on #1386
@mcharg Yes, we can launch without that logic, and added that enhancement feature later. Let's add links to the actual new reporter checklist though and take out the "build me a checklist".

[2022-03-18 13:18] mcharg commented on #1388
@cthomasONRR Links to docs are ready to review. Will need logic before final ODDD approval.

[2022-03-18 13:19] mcharg commented on #1413
@cthomasONRR Links are ready to review. Just need button before final ODDD Approval.

[2022-03-18 13:19] mcharg commented on #1420
@cthomasONRR Links are ready to review. Just need button before final ODDD Approval.

[2022-03-18 13:19] mcharg commented on #1406
@cthomasONRR Links are ready to review. Just need button before final ODDD Approval.

[2022-03-18 13:19] mcharg commented on #1399
@cthomasONRR Links are ready to review. Just need button before final ODDD Approval.

[2022-03-18 13:22] mcharg opened #1733 "Add tabs to the new reporter checklist"
As a workaround until we get logic.

[2022-03-18 13:23] mcharg commented on #1386
@Maroyafaied I created #1733 to put tabs for each product in the new reporter checklist that copies what we have in the ones in Reporting.

[2022-03-18 13:23] mcharg commented on #1388
@cthomasONRR Hold off on this one. I'm going to put in tabs in place of the logic, so we can wait until after launch for logic.

[2022-03-18 13:27] mcharg commented on #1572
@cthomasONRR These all look good. Spreadsheet updated.

[2022-03-18 13:27] #1572 closed

[2022-03-18 13:38] mcharg opened #1734 "No longer able to center text"
We used to be able to center text from the tune menu, but that function is gone.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/46aa08cc-578e-45e9-9f3a-637e3197a0a0)

[2022-03-18 13:38] mcharg commented on #1439
@cthomasONRR Links are ready to review. Waiting on button and a fix to being able to center text.

[2022-03-18 13:54] cthomasONRR commented on #1413
@mcharg I approved. I didn't see the W-9 as a line item to approve on the spreadsheet (Sorting by 'ready to review'), just the W-9 Instructions. The W-9 PDF is good to go though.

[2022-03-18 13:56] cthomasONRR commented on #1420
@mcharg Links look good. Approved.