[2019-08-28 20:00] mcharg opened #3 "Epic: onrr.gov discovery"
Discovery activities for onrr.gov, which our team will be taking over.

[2019-09-13 17:00] mcharg opened #9 "Continue summarizing onrr.gov Foresee results"
We have survey results and findings from about 2 years ago that need to be reviewed.

The goals of the analysis should be:

Summarize what's there
Evaluate what's still relevant

Continuation of ONRR/doi-extractives-data#4501

[2019-10-25 19:21] mcharg opened #2 "Create provisional personas for onrr.gov"
Based off of the Foresee comments, analytics, and what we learn by talking with Wendy.

[2019-11-12 17:58] jennmalcolm opened #1 "Figure out ONRR.gov workflow"

[2019-11-20 16:27] mcharg opened #4 "onrr.gov content audit - Indian services section"
Continue content audit with Indian services section.

[2019-11-20 16:27] #4 closed

[2019-11-20 16:32] mcharg opened #5 "onrr.gov content audit - compliance section"
Continue the content audit with the compliance section.

[2019-11-20 16:32] #5 closed

[2019-11-20 16:33] mcharg opened #6 "onrr.gov content audit - reporting/paying section"
Continue the content audit with the reporting/paying section

[2019-11-20 16:33] #6 closed

[2019-11-20 16:34] mcharg opened #7 "onrr.gov content audit - valuation section"
Continue the content audit with the valuation section.

[2019-11-20 16:34] #7 closed

[2019-11-20 16:34] jennmalcolm opened #8 "Develop onrr.gov transition plan"
Elements of plan

- [x] Roles and responsibilities
- [x] Technology
- [x] Work process
- [x] Training
- [x] Timeline
- [x] Communication

[2019-11-20 16:34] #8 closed

[2019-11-20 18:24] #9 closed, assigned to persam2, mcharg

[2019-11-20 18:24] mcharg opened #10 "Review onrr.gov analytics"

[2019-11-20 18:24] #10 closed

[2019-11-20 18:26] mcharg opened #11 "Summarize onrr.gov Foresee reports"
We have survey results and findings from about 2 years ago that need to be reviewed.

The goals of the analysis should be:
- Summarize what's there
- Evaluate what's still relevant

[2019-11-20 18:26] #11 closed

[2019-11-20 18:26] mcharg opened #12 "onrr.gov sitemap"
Create a visual sitemap to go with the content inventory.

[2019-11-20 18:26] #12 closed

[2019-11-20 18:29] mcharg opened #13 "onrr.gov content audit -About section"

[2019-11-20 18:29] #13 closed

[2019-11-20 18:30] #14 closed

[2019-11-20 18:30] mcharg opened #14 "Split up companies & NGOs user segment"
List of services providers (limited access):
https://docs.google.com/spreadsheets/d/1D_z8UhWSuhZ0nF9ptLe1TrDy2a7NluQphzzZ7Ib_GH4/edit#gid=1150383730

Current segment configuration:
https://analytics.google.com/analytics/web/template?uid=WI_LXwSuTn27Z_HGznI8iQ

[2019-11-20 18:31] jennmalcolm opened #15 "Implement search"
After Gatsby switch over, we will need to implement a new search functionality

[2019-11-20 18:31] #15 closed

[2019-12-04 18:38] #1 closed

[2019-12-06 18:48] #2 closed

[2019-12-06 18:51] mcharg opened #16 "Continue onrr.gov personas"
- [ ] Incorporate information from Foresee comments
- [ ] Finalize content
- [ ] Work on presentation cards of the personas
- [ ] Compile questions to ask in user research

[2019-12-06 18:52] mcharg opened #17 "Plan user interviews for onrr.gov"
- [ ] Compile list of questions to ask for each user type
- [ ] Write study plan and script

We will plan on conducting this study in January.

[2019-12-06 18:53] mcharg opened #18 "Walk through and document current state processes for persona tasks"
Put together a click through in Axure.  This may uncover new pain points for the personas.

[2019-12-06 18:54] mcharg opened #19 "Get access to onrr.gov adjacent tools and collect screenshots"
- [x]  Data Warehouse

- [ ] pay.gov

- [ ] ecommerce.

- [ ] Maybe search.gov?

[2020-01-06 16:28] brentryanjohnson opened #26 "Build content model for onrr.gov"
This scope of work involves referencing our content audit of onrr.gov to build a content model for that site. The scope also involves testing [USWDS](https://designsystem.digital.gov/) federalist templates to assess suitability for onrr.gov.

[2020-01-06 21:50] lpgoldstein commented on #19
Found a video on ONRR.gov that walks a payor through how to pay rents on federal leases in eCommerce. Maybe some good screenshots? https://youtu.be/vbT0PAh-kko

[2020-01-06 21:51] lpgoldstein commented on #19
I have access to data warehouse.

[2020-01-07 20:57] lpgoldstein commented on #18
Links to payments instructions.
https://www.onrr.gov/reportpay/payments.htm

New payor instructions
https://www.onrr.gov/reportpay/roy-checklist.htm

Pay.gov how to video
https://youtu.be/0ClyFaAnWSA

Production reporter how to
https://www.onrr.gov/reportpay/prod-checklist.htm

Rent payments on leases
https://youtu.be/vbT0PAh-kko

[2020-01-07 20:57] lpgoldstein commented on #19
Closing in favor of #18

[2020-01-07 20:57] #19 closed

[2020-01-09 17:48] Maroyafaied opened #25 "Social media post 1/15 - ONRR's Navajo land owner's outreach event"
![image](https://user-images.githubusercontent.com/40175688/72091443-69a00280-32cd-11ea-904b-48590eae3bff.png)

[2020-01-09 21:18] mcharg commented on #18
@alenahuang will be starting on this.

[2020-01-09 21:30] alenahuang commented on #17
The link to the interview plan:
https://docs.google.com/document/d/1eKYKnz9YCIeKofMuMFn2yitPUiaScllBeNLUyuXfCog/edit?usp=sharing

[2020-01-09 21:32] mcharg commented on #17
@jennmalcolm @persam2 @lpgoldstein Please review the interview plan.

[2020-01-10 18:34] mcharg opened #20 "Recruit participants for onrr.gov user interviews"
I think we'll be ready to start recruiting next sprint.

It'll probably need to be internal folks recruiting, since we can't share the market map spreadsheet with the interns.

[2020-01-10 18:35] mcharg commented on #3
I don't see a way to make this actually an epic, so I'm closing and creating a new epic.

[2020-01-10 18:35] #3 closed

[2020-01-10 18:36] mcharg opened #21 "Epic: onrr.gov discovery"

[2020-01-13 14:03] jennmalcolm opened #22 "Arrange training from onrr.gov team"

[2020-01-13 14:03] jennmalcolm opened #23 "Receive training on onrr.gov content management"

[2020-01-13 14:04] jennmalcolm opened #24 "Epic: Onrr.gov preparations before transition"

[2020-01-14 20:32] jennmalcolm opened #27 "test epic label"

[2020-01-15 19:55] Maroyafaied commented on #25
posted on social media.

[2020-01-15 19:55] #25 closed

[2020-01-17 17:18] mojobnichols opened #28 "Add state to RevenueTotal"
Add state variables to RevenueTotal to handle fiscal calendar, monthly yearly and which year is selected.

[2020-01-17 17:21] #28 closed

[2020-01-21 14:37] jennmalcolm commented on #17
Looks good. I added my comments.

[2020-01-21 14:45] mcharg commented on #18
@alenahuang Can you please add the link to the Axure file and close this issue?

[2020-01-21 14:47] mcharg commented on #17
@alenahuang Can you please take a look at Jennifer's comments and update the plan accordingly.

@persam2 Have you had a chance to review?

[2020-01-21 19:50] alenahuang commented on #18
https://os2cz3.axshare.com/

[2020-01-21 19:50] alenahuang commented on #18
https://os2cz3.axshare.com/

[2020-01-21 19:50] #18 closed

[2020-01-22 19:54] Maroyafaied commented on #20
I added a column in the market map for onrr.gov to keep track of who we contact

https://doimspp-my.sharepoint.com/:x:/r/personal/mchargs_mms_gov/_layouts/15/Doc.aspx?sourcedoc=%7BC55B52B5-A7E3-40D3-983D-FD8D95FA993B%7D&file=Market%20Map.xlsx&action=default&mobileredirect=true

I created a new folder for this study called onrr.gov iles
NRRD Portal >User Research>Studies>31_onrr.gov

[2020-01-22 19:56] mcharg commented on #20
Recruiting requirements from the study plan:

Over the course of a few weeks, we would like to interview at least 4 participants from each of the following user groups for 30 minute 1:1 interviews. We will focus on people who actually use the site because they will have real questions that they look for the site to answer.

User Type 1: Operator (Reporter)
User Type 2: Payor
User Type 3: Productio

[2020-01-27 18:56] #27 closed

[2020-01-29 19:46] jennmalcolm commented on #22
I've reached out and am currently waiting on a response.

[2020-01-30 17:20] #17 closed

[2020-01-31 16:16] mcharg opened #29 "Conduct user interviews for onrr.gov"

[2020-02-03 19:23] jlouis-onrr opened #30 "Resolve IE11 Console Errors"

[2020-02-03 20:46] Maroyafaied commented on #20
I just found two pdf's with ONRR's royalty reporting and production reporting contacts, if you send recruiting emails please add them to market map and mark that you contacted them. Thanks

ONRR"s royalty reporting contacts
https://www.onrr.gov/ReportPay/PDFDocs/royassign.pdf

ONRR's production reporting contacts
https://www.onrr.gov/ReportPay/PDFDocs/operasgn.pdf

[2020-02-10 16:47] shannonmcharg opened #31 "test"
Seeing if I can submit an issue if I'm not part of the repo or organization.

[2020-02-10 16:51] #31 closed

[2020-02-11 15:14] mcharg commented on #12
Link to complete sitemap: https://92ix0j.axshare.com/

[2020-02-12 18:57] #22 closed

[2020-02-12 18:57] #23 closed

[2020-02-13 18:21] lpgoldstein opened #33 "Pull ONRR contacts from ONRR.gov for recruiting purposes"
Pull contacts from ONRR.gov for recruiting purposes for ONRR.gov user interviews

[2020-02-13 18:22] mcharg opened #32 "Analyze findings from onrr.gov user interviews"
After we finish the interviews.

[2020-02-13 19:06] #20 closed

[2020-02-13 19:06] jennmalcolm commented on #20
Will create a new issue for only ONRR folks.

[2020-02-14 19:24] mcharg commented on #16
We will finish the personas after the first round of user interview findings are done.

[2020-02-14 19:24] #16 closed

[2020-02-18 14:43] jennmalcolm opened #34 "Communication transition for onrr.gov"
We need to make sure that ONRR employees involved with updating content on ONRR.gov understand that maintenance will be moving to our team and our new update request procedures through GitHub.

[2020-02-18 14:44] jennmalcolm opened #35 "Plan for onrr.gov training/workshop with web content team"
We should also plan for a time when we can give training on GitHub and work with the web content team to develop a product framing document for onrr.gov

[2020-02-24 16:39] mcharg opened #36 "onrr.gov Homepage Concepting"
Annie is doing this as part of a class project, so the timeline won't map exactly to our sprints.

[2020-02-24 17:13] jennmalcolm opened #37 "Provide training to web content team"
Training should include how to request changes using GitHub and also some workshopping on product vision, user scenarios, etc.

[2020-02-24 17:15] jennmalcolm opened #38 "Begin draft of product framing document for onrr.gov"
This issue will cover the following sections of the product framing document

- [x] Problem Statement
- [x] Vision
- [ ] User scenarios

[2020-02-24 17:18] jennmalcolm opened #43 "Wiki documentation for onrr.gov"
This issue will be to outline the documentation that we will have in our Wiki and begin  by documenting the pieces we have.

[2020-02-24 17:22] jennmalcolm opened #39 "Write blog post about beginning work on onrr.gov"

[2020-02-24 19:07] Maroyafaied commented on #32
@mcharg can you review the consolidated findings. I added the rest of the participants

https://doimspp-my.sharepoint.com/:x:/r/personal/mchargs_mms_gov/_layouts/15/Doc.aspx?sourcedoc=%7B1F2B30D3-9531-4133-ABBD-EC508A4B0FCD%7D&file=Consolidated%20Findings.xlsx&action=default&mobileredirect=true

[2020-02-24 19:15] Maroyafaied opened #40 "Findings & Recommendations PowerPoint for the ONRR.gov discovery research study."
We have consolidated the findings, we need to come up with recommendations and present findings during demo.

[2020-02-24 19:15] #33 closed

[2020-02-24 19:17] #29 closed

[2020-02-27 19:06] #34 closed

[2020-02-27 19:07] jennmalcolm commented on #35
Workshop to happen March 19.

[2020-02-27 19:07] #35 closed

[2020-02-27 19:20] Maroyafaied commented on #32
@mcharg , Lindsay went through the majority of the comments and I made minor changes. I think it's good to close now?

[2020-02-27 22:17] #32 closed

[2020-03-02 14:17] jennmalcolm opened #41 "Review old emails in onrrweb email box"
Determine if the issues have been solved, follow up/fix as necessary, and come up with a folder system to record what has been solved.

[2020-03-02 15:10] jennmalcolm opened #42 "Incorrect URL"
We received this message in our email box. I logged into the ONRR website to change my password, but was unable to as I received the following message:

Therefore, I selected the “Contact Us” button at the bottom of the bottom of the screen and received the following message:

![image](https://user-images.githubusercontent.com/30806839/75688662-e2885e80-5c6d-11ea-9f0f-d5fc3b809e83.png)

Since I re

[2020-03-02 16:31] jennmalcolm opened #44 "SN Ticket to Update files on royalty-reporting page"
[FCIL.pdf](https://github.com/ONRR/onrr.gov-site/files/4276551/FCIL.pdf)
[FCIL.xlsx](https://github.com/ONRR/onrr.gov-site/files/4276555/FCIL.xlsx)

Description: Please update the following webpage http://onrr.gov/reportpay/payments.htm [http://onrr.gov/reportpay/payments.htm] with the attached files:

Indian Leases Cross-walked to Distributee Codes

Downloadable Excel Version Indian Leases Cross-

[2020-03-02 18:08] jennmalcolm commented on #44
updated site with new files.

[2020-03-02 18:08] #44 closed

[2020-03-02 19:38] jennmalcolm opened #45 "Continue onrr.gov interviews"

[2020-03-02 19:40] jennmalcolm opened #46 "Agenda and outline for onrr.gov training/workshop"
We need to outline the basics of our GitHub training and product framing and user research workshop and get assignments for who will do what. We will get into all of the details and any materials next sprint.

[2020-03-03 15:55] Maroyafaied commented on #42
@jennmalcolm I just checked the contact us page and it's working for me , I don't get this server error.
![image](https://user-images.githubusercontent.com/40175688/75793552-c3043b00-5d2c-11ea-9155-36370ff78d19.png)

[2020-03-03 16:05] Maroyafaied commented on #43
I added a documentation folder under the onrr.gov folder on the shared drive. I started the outline using what we have that is relevant on the NRRD outline.
https://doimspp-my.sharepoint.com/personal/mchargs_mms_gov/_layouts/15/doc.aspx?sourcedoc={89149f21-bf50-4698-9157-d58dbd60ec9d}&action=edit

[2020-03-03 18:13] jennmalcolm opened #47 "change to contacts"
- [x] https://www.onrr.gov/reportpay/prod-checklist.htm - Onshore production reporters- Remove Michael Haring and modify “Eugene Lynn to “Eugenia (Jeannie) Lynn” (it has a typo currently), and add her email address in addition to the phone number (Eugenia.lynn@onrr.gov)

- [x] https://www.onrr.gov/reportpay/roy-checklist.htm    - Part 2  currently has Candace Merrell listed as the contact for EMAR

[2020-03-03 21:22] ONRR-31577 opened #48 "ONRR.gov Production Reporting References"
On the Production Reporting References page at https://onrr.gov/ReportPay/references.htm, in the Offshore section,
please
- replace the five Gulf link pdf files with the attached pdf files--the
file names are the same; and
- replace the (as of ...) dates for all files with  02/27/2020
[Gulf-Metering-Systems.pdf](https://github.com/ONRR/onrr.gov-site/files/4283661/Gulf-Metering-Systems.pdf)
[Gulf-S

[2020-03-03 22:52] forgravec opened #49 "NYMEX price upload"
This is a test to make sure we are correctly completing our requests for ONRR.gov website changes.
Our group, MSA, upload NYMEX, and Indian Gas Index prices at the beginning of every month to the "Valuation" section of ONRR.gov.  This upcoming week, we will have new prices that will need to be uploaded to the 'NYMEX Oil Prices' webpage as well as the 'Indian Gas Index Zone' webpage.

We also have

[2020-03-03 22:53] forgravec commented on #49
Just testing the process of how we will be submitting a request to upload prices.

[2020-03-03 22:53] #49 closed

[2020-03-04 00:16] Maroyafaied commented on #47
Send it for review and waiting for a response.

[2020-03-04 00:17] Maroyafaied commented on #42
This issue is regarding ONRR systems log in so I forward it to the help desk.

[2020-03-04 12:23] jennmalcolm commented on #49
This looks good. Thanks!

[2020-03-04 13:37] jennmalcolm opened #50 "Update events calendar"
to include
Wednesday, March 18, 2020 at 1:00:00 PM | Wednesday, March 18, 2020 at 2:30:00 PM | KAULEY MEETING | Anadarko | OK | Wichita & Affiliated Tribes, Administration Bldg. | Presentation/Meeting with Owners | Office of Natural Resources Revenue | Indian Trust Land Owners | Bring any statements, EOPs, or other documents you wish to discuss. | Oklahoma City Office | Toll Free (800) 354-7015 |

[2020-03-04 14:28] mentastc commented on #48
email sent to dev site with update

[2020-03-04 14:31] mentastc commented on #48
@ONRR-31577, I've update the site in staging, please review the link below, when I have your ok I will push it to the live site.

Link: http://2017onrr/ReportPay/references.htm
Thanks,

Chris

[2020-03-04 14:37] mentastc commented on #50
email sent from web mailbox to review dev

[2020-03-04 14:54] mentastc opened #51 "Broken Link on ONRR.gov and Missing Handbook"
I was looking for the Oil and Gas Payor Handbook, Volume III—Product Valuation, it is not on the Handbook page, it states that it is being revised but the old version is not out there, only an Indian Payor Handbook is available and I do not need the one specific to Indian, please tell me if I am looking in the wrong place for the Oil and Gas Payor Handbook, Volume III—Product Valuation?

Below are

[2020-03-04 14:57] mentastc commented on #51
This may be blocked by the RPC litigation. @jennmalcolm do you know if this was taken down intentionally?

[2020-03-04 20:21] jennmalcolm commented on #51
I talked to RV, and they took the handbook off intentionally.

[2020-03-04 21:03] jennmalcolm commented on #50
@Lindsay, could you review the calendar additions in dev so that we can get this pushed to prod since this is time-sensitive, and we haven't heard back from the requester.

[2020-03-05 13:33] jennmalcolm commented on #50
@mentastc I reviewed this and it looks good, so please push this file to production, and then let the requester know that we went ahead and made it live due to the time-sensitive nature.

[2020-03-05 14:52] mentastc commented on #50
site has been updated

[2020-03-05 14:52] #50 closed

[2020-03-05 14:53] mentastc commented on #41
reviewed mailbox and created one new issue for the payor handbook.

[2020-03-05 14:53] #41 closed

[2020-03-05 17:12] boices opened #52 "Update onrr.gov NYMEX prices"
Please update the NYMEX prices on the onrr.gov website (home page>valuation>NYMEX Oil Prices).

[NYMEX0220.xlsx](https://github.com/ONRR/onrr.gov-site/files/4294168/NYMEX0220.xlsx)

[2020-03-05 17:36] jennmalcolm commented on #47
Requester reviewed and responded by email, but we may have a change to one of the contacts. So, I have reached out for more info from others.

[2020-03-05 18:01] jennmalcolm commented on #48
@lpgoldstein please review and we'll just push since we haven't heard back from @ONRR-31577

[2020-03-05 18:28] jennmalcolm commented on #52
Thanks @boices, the dev site is ready for your review: http://2017onrr/Valuation/NYMEX.htm.

Please confirm here if it looks good to publish.

[2020-03-05 19:37] Maroyafaied commented on #40
@lpgoldstein @mcharg here is what I have worked on for the power point https://doimspp-my.sharepoint.com/:p:/r/personal/mchargs_mms_gov/_layouts/15/Doc.aspx?sourcedoc=%7BE611C91E-6083-46E7-9A39-7F897D670D25%7D&file=ONRR%20Discovery%20Findings.pptx&wdOrigin=OFFICECOM-WEB.START.MRU&action=edit&mobileredirect=true

[2020-03-05 20:15] mcharg commented on #40
@Maroyafaied This is a great start. I put some comments in the presentation.

[2020-03-05 20:17] boices commented on #52
That looks great--thanks!

[2020-03-05 21:54] jennmalcolm commented on #52
The prices are live on the site now.

[2020-03-05 21:54] #52 closed

[2020-03-05 22:51] forgravec opened #53 "Update Indian Gas Index Zone prices"
Please update the ONRR.gov Valuation - Indian Gas Index Zone prices webpage with the new March prices.
The prices are located in the "Data for ONRR.gov" spreadsheet that is located on the OneDrive. The prices will be in the 'Index-Zones' tab.  Here is a link...I hope it works. If not we may have to have Robert add you to the list.
https://doimspp-my.sharepoint.com/:x:/r/personal/sudarr_mms_gov/Doc

[2020-03-05 22:53] jennmalcolm commented on #53
@lpgoldstein I requested access to the prices because I don't have it. You should do the same. Let me know if you want to work know if you want to work on this issue together.

[2020-03-06 15:29] jboroos commented on #53
Hi guys, I shared the sheet with you in oneDrive but I think Robert is the official owner.  Hopefully the link I sent works for you but let me know if you still don't have access to it.  - Jason

[2020-03-06 15:40] lpgoldstein commented on #53
@jboroos I have access to the sheet. Thanks!

[2020-03-06 16:35] lpgoldstein commented on #53
@jboroos and @forgravec please check and let me know if this looks correct http://2017onrr//Valuation/allzones.htm

[2020-03-06 16:39] forgravec commented on #53
@lpgoldstein Prices look good...Thanks.

[2020-03-06 16:39] #53 closed

[2020-03-09 11:47] jennmalcolm commented on #48
@lpgoldstein have you reviewed these changes?

[2020-03-09 11:48] jennmalcolm commented on #47
@Maroyafaied go ahead and push these changes to production. The requested did review them. I reached out to some other people for some additional info, which I haven't received. If we receive more feedback, we can make another change. Thanks.

[2020-03-09 12:01] ONRR-31577 commented on #48
Jennifer,
    Yes. I replied to the original email asking me to review. And I replied it the app telling you I approved. Hopefully you receive this message.
Yes I approve.
Thank you,

-------- Original Message --------
From: Jennifer Malcolm <notifications@github.com>
Date: Mon, March 09, 2020 7:47 AM -0400
To: "ONRR/onrr.gov-site" <onrr.gov-site@noreply.github.com>
CC: "Erle, John R" <John.Erle@o

[2020-03-09 12:08] jennmalcolm commented on #48
Thank you @ONRR-31577, we did receive this reply. I think this repo may not be set up to post replies to email notifications, but I'll look into changing that. @mentastc please push this to production.

[2020-03-09 12:19] jennmalcolm opened #54 "Testing email notifications"
@jennmalcolm test email replies

[2020-03-09 12:54] jennmalcolm commented on #54
@mentastc test

[2020-03-09 12:56] mentastc commented on #54
yes

Chris Mentasti

Data Display
Office of Natural Resources Revenue
Chris.Mentasti@onrr.gov<mailto:Chris.Mentasti@onrr.gov> | (202) 809-5513

From: Jennifer Malcolm <notifications@github.com>
Sent: Monday, March 9, 2020 8:55 AM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.github.com>
Cc: Mentasti, Chris <Chris.Mentasti@onrr.gov>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [ONR

[2020-03-09 12:57] jennmalcolm commented on #54
Thanks.

[2020-03-09 12:57] #54 closed

[2020-03-09 13:03] mentastc commented on #48
@ONRR-31577 the changes have been pushed to the live site and should appear in the next 15 minutes.

[2020-03-09 13:03] #48 closed

[2020-03-09 15:51] Maroyafaied commented on #47
This issue is now fixed on onrr.gov
https://www.onrr.gov/reportpay/prod-checklist.htm
https://www.onrr.gov/reportpay/roy-checklist.htm

[2020-03-09 15:56] jennmalcolm opened #55 "Updates to appeals page"
I need to ask you for some revisions to this webpage: https://www.onrr.gov/compliance/appeals.htm.

[appeals page screenshot.pdf](https://github.com/ONRR/onrr.gov-site/files/4307623/appeals.page.screenshot.pdf)

Please replace Amber Eller with “Appeals Coordinator” (she has retired and we have not yet hired a replacement) and change the phone number to (303) 231-3047 (this is a new phone number th

[2020-03-09 15:57] jennmalcolm commented on #55
@mentastc if you don't have time to do this today, let me know, and I'll work on it.

[2020-03-09 15:58] jennmalcolm commented on #55
I received an email to my email box for this request, so once done, I will respond back for review.

[2020-03-09 16:42] jennmalcolm commented on #55
Never mind @mentastc I will work on this.

[2020-03-09 16:43] jennmalcolm commented on #47
@Maroyafaied we just got a change of the requested contact for the EMARF. Could you change this now?

Please use the following information for EMARF Contact on ONRR.Gov:

Enterprise IT Service Desk: 1 877-256-6260

[2020-03-09 16:45] jennmalcolm opened #56 "Change on payments page"
We would like to put a not on our payments page to inform payors that the Navajo Lockbox Mailing address and Courier address will be changing soon.
https://www.onrr.gov/ReportPay/payments.htm

Please add this below the address information stating

***Effective May 26, 2020 the Lockbox Mailing Address and Courier address will change.

If you could make this a hyperlink that shows the following info

[2020-03-09 16:53] Maroyafaied commented on #47
@jennmalcolm which page is this contact?

[2020-03-09 16:57] jennmalcolm commented on #47
It is on this page: https://www.onrr.gov/reportpay/roy-checklist.htm

In this issue, we had changed it to Stacey Browne, but we just got more feedback on it, and it should be the service desk.

[2020-03-09 17:48] Maroyafaied commented on #47
@jennmalcolm  Please review https://www.onrr.gov/ReportPay/roy-checklist.htm

[2020-03-09 17:53] jennmalcolm commented on #47
Looks good. Thanks @Maroyafaied

[2020-03-09 17:53] #47 closed

[2020-03-09 19:15] jennmalcolm opened #57 "Update royalty reporting page"
Please update the following webpage  http://www.onrr.gov/ReportPay/royalty-reporting.htm [http://www.onrr.gov/ReportPay/royalty-reporting.htm] with the attached PDF file:

 Federal Onshore Terminable Leases - sorted by Due Date.  Also change (2/3/2020) to read (update 3/2/2020).
[FLTerm.pdf](https://github.com/ONRR/onrr.gov-site/files/4308518/FLTerm.pdf)

[2020-03-09 19:16] jennmalcolm commented on #57
Site updated.

[2020-03-09 19:16] #57 closed

[2020-03-09 20:54] jboroos opened #58 "update Indian Oil IBMP prices on onrr.gov"
Good afternoon, can you please update the Indian Oil IBMP price page (https://www.onrr.gov/Valuation/IndianOilIBMP.htm).  These prices are in the IBMP tab of the "Data for ONRR.gov" spreadsheet on OneDrive located at - https://doimspp-my.sharepoint.com/:x:/r/personal/sudarr_mms_gov/_layouts/15/Doc.aspx?sourcedoc=%7B610913F6-CC44-4222-8521-FAD9EA5FEB0E%7D&file=Data%20for%20ONRR.gov.xlsx&action=defa

[2020-03-10 05:01] lpgoldstein commented on #58
@jboroos and @sudarr please review and let us know if this looks okay: http://2017onrr/Valuation/IndianOilIBMP.htm

[2020-03-10 13:30] jennmalcolm commented on #56
changes approved by requester and pushed to prod

[2020-03-10 13:30] #56 closed

[2020-03-10 13:47] jboroos commented on #58
Hi @lpgoldstein, two of our prices are missing their trailing 0s in the table.  PC 02 for Oklahoma should be $49.70 and PC 63 for Uintah and Ouray - Duchesne is $38.10.  I'm not sure why but this has happened in the past and Chad had a way to fix the issue but I'm not sure what it was.  All the other prices looked good so once this issue is fixed we're good to post to the public.  @sudarr

[2020-03-10 14:20] jennmalcolm commented on #58
I fixed the decimals issue. You may need to clear your cache to review.

[2020-03-10 14:23] Maroyafaied commented on #42
@jennmalcolm is this issue ok to close? I haven't heard back from the help desk but they might of contacted the person with the issue?

[2020-03-10 14:26] jennmalcolm commented on #42
Yes, just email the requester back from the shared email box to let them know that we forwarded the email to the help desk since we don't manage that system, and provide them contact info for the help desk in case they  haven't heard back on it and want to follow up. Then you can close it.

[2020-03-10 14:27] jennmalcolm commented on #55
changes live on site

[2020-03-10 14:27] #55 closed

[2020-03-10 14:28] jennmalcolm commented on #51
@mentastc I can tell you who to talk to in RV to follow up on this.

[2020-03-10 14:36] jboroos commented on #58
Thank you @jennmalcolm and @lpgoldstein!  The prices look good and we're good to post @sudarr

[2020-03-10 15:24] jennmalcolm opened #59 "Write up for new deputy director"
We need to write a profile for the new deputy director to be added to onrr.gov next week when he starts.

[2020-03-10 15:36] jennmalcolm commented on #58
Feb prices are live now.

[2020-03-10 15:36] #58 closed

[2020-03-10 15:38] Maroyafaied commented on #42
Sending the requestor an email letting her know that the issue was forwarded to the help desk and provided her their email address.

[2020-03-10 15:38] #42 closed

[2020-03-10 17:29] mentastc commented on #59
Howard Cantor assumed duties as the Deputy Director of the Office of Natural Resources Revenue
(ONRR) on March 15, 2020.

As ONRR’s Deputy Director, Mr. Cantor oversees the day-to-day operations of the Denver
Office, as well as the ONRR field offices in Houston and Dallas, Texas; Oklahoma City and
Tulsa, Oklahoma; and Farmington, New Mexico.

Prior to his appointment as Deputy Director, he was the

[2020-03-10 18:43] Maroyafaied commented on #40
@mcharg @lpgoldstein  I worked through all the comments, please take another look and let me know if there are more changes. Thanks

[2020-03-10 19:44] ONRRamandagarrison opened #60 "New - Updates to onrr.gov for Indian Services"
Hello. I need to make several changes to a page on onrr.gov under the Indian Services/Indian Energy Service Center.

On our "home page" [https://www.onrr.gov/IndianServices/indian-energy-service-center.htm] we would like to post this video: https://app.vyond.com/videos/48871ba4-15c2-4960-8e7d-b786dd470053

I have the video downloaded as well. I don't know what the best method is for posting a vide

[2020-03-10 20:05] lpgoldstein opened #61 "Single sign on for datawarehouse and ecommerce"
These links both go to the same screen:
![image](https://user-images.githubusercontent.com/39419003/76354401-b9f50a00-62e8-11ea-9e86-99f47c9a3ca9.png)

![image](https://user-images.githubusercontent.com/39419003/76354470-e0b34080-62e8-11ea-9b19-1094485d8e82.png)

[2020-03-11 11:32] jennmalcolm opened #62 "Update payments page"
please update the ONRR Payments page at https://www.onrr.gov/ReportPay/payments.htm to include the following header and links for the “Renewable Energy Pay.gov Links”:

Electronic Payments

Pay.gov Instructions (free Internet Portal to U.S. Treasury)

Pay.gov Royalty Invoice Form FAQ, Instructions and Examples
Pay.gov Initial ROW/RUE Rental Form FAQ, Instructions and Example

Renewable Energy Pay.

[2020-03-11 11:42] jennmalcolm commented on #60
@mentastc could you put the job announcement on social media too?

[2020-03-11 12:17] mcharg commented on #40
@Maroyafaied Looks good.  I added a couple of additional comments.

[2020-03-11 12:48] jennmalcolm commented on #60
@ONRRamandagarrison could you provide the mp4 of the video as well? Thanks.

[2020-03-11 16:17] Maroyafaied commented on #40
@mcharg thank you, I worked through them and I was confused on one comment. I replied to it on the power point. Thanks

[2020-03-11 18:56] lpgoldstein opened #64 "Consolidate Findings ONRR.gov Homepage Concept"

[2020-03-11 19:42] jennmalcolm opened #63 "Work on Wiki for onrr.gov"
Let's get the parts that will be essential to have before our workshop done before the 19th.

[2020-03-12 11:20] jennmalcolm commented on #62
updates live

[2020-03-12 11:20] #62 closed

[2020-03-12 13:13] jennmalcolm commented on #46
We have come up with an agenda and assignments for each presenter. We will meet again next week to go through our slides and prepare--assuming we don't end up canceling the workshop.

Introductions - Jennifer​

How we work - Jennifer​

GitHub training - Jennifer​

User research – what is it, what we’ve done so far, finding – Maroya/Lindsay​

Product framing activity/workshop - Shannon

[2020-03-12 13:13] #46 closed

[2020-03-12 14:18] #45 closed

[2020-03-12 15:58] jennmalcolm commented on #60
Hi, @ONRRamandagarrison we need the video file to get that on there right, but the other changes are ready for review. I added the job announcement to the bottom of this page: http://2017onrr/IndianServices/indian-energy-service-center.htm, and you can check the contact revisions on this page: http://2017onrr/IndianServices/iescstaff.htm.

Let us know once you've reviewed these changes on the deve

[2020-03-12 16:22] #40 closed

[2020-03-12 17:33] mcharg commented on #36
Will create a new issue for the next iteration.

[2020-03-12 17:33] #36 closed

[2020-03-12 17:57] mcharg opened #65 "Continue homepage concepting"
Iterate based on user interview findings.

[2020-03-12 18:16] #43 closed

[2020-03-13 19:55] ONRRamandagarrison commented on #60
Jennifer,

I got your voicemail. All the Github emails were going into my junk folder and I didn’t see them or I would have responded sooner. I added the email address to the safe sender list so hopefully I won’t miss anymore communications.

Everything looks great! You can publish it whenever you want. I did send Bill the video already.

Thank you,
Amanda

Amanda Garrison

Supervisory Minerals Re

[2020-03-16 15:39] jennmalcolm commented on #59
profile is live

[2020-03-16 15:39] #59 closed

[2020-03-16 15:46] jennmalcolm opened #66 "Get IESC video on their page on onrr.gov"
Once it's added to ONRR's YouTube, we need to add IESC's new video to their page on onrr.gov

[2020-03-16 16:41] jennmalcolm commented on #60
All updates are live except the video, which I've opened #66 to do once it's on YouTube.

[2020-03-16 16:41] #60 closed

[2020-03-16 16:42] jennmalcolm opened #67 "Remove job announcement from bottom of IESC page after April 1"
Job closes April 1

[2020-03-16 17:54] jennmalcolm opened #68 "Events update"
Two email requests, one from OKC and one from FIMO, today to update the events calendar for addtional events and some cancellations.

[2020-03-16 18:35] jennmalcolm opened #69 "Training on GitHub and user research"
for ONRR.gov content team
March 19, 2020

[2020-03-16 20:28] jennmalcolm commented on #68
updates are live

[2020-03-16 20:28] #68 closed

[2020-03-17 12:02] jennmalcolm opened #70 "update lease agreement file"
Please replace the existing file located at: http://www.onrr.gov/ReportPay/CrossRef.htm [http://www.onrr.gov/ReportPay/CrossRef.htm] called “Downloadable Text Cross-Reference Lease to Agreement Number” from the file
[Mar 2020 Lease Agreement XREF.txt](https://github.com/ONRR/onrr.gov-site/files/4343289/Mar.2020.Lease.Agreement.XREF.txt)
 entitled “Mar 2020 Lease Agreement XREF.txt”.  It was querie

[2020-03-17 17:20] jennmalcolm commented on #70
site update

[2020-03-17 17:20] #70 closed

[2020-03-17 17:59] jennmalcolm opened #71 "Issue with interest rate tables"
There is an issue with the interest rates table on the Late Payment & Underpayment Interest Tables on the ONRR.gov website. The interest rate table is missing. Below are screenshots of what is showing currently and how it should look:![image (16).jpg](https://images.zenhubusercontent.com/5c59c5bee180620812ea29eb/cfee94eb-fe1c-46d8-b84c-42628d7dd657)![image (17).jpg](https://images.zenhubuserconten

[2020-03-18 04:23] #64 closed

[2020-03-19 14:30] jennmalcolm commented on #71
This is the page with the issue https://www.onrr.gov/ReportPay/interest.htm

[2020-03-19 15:40] sudarr opened #72 "Indian Index Zone county lists not working"
https://www.onrr.gov/Valuation/allzones.htm

The county list pop-ups for the three OK zones aren't working.

Also, we can remove the whole "Updated Zone Prices" frame on the right because those are now a year old and the pop-up isn't working anyway.

[2020-03-19 15:46] jennmalcolm opened #73 "TEST Update contact info for reporting"
Update offshore production contacts
[Bingo.pdf](https://github.com/ONRR/onrr.gov-site/files/4355486/Bingo.pdf)

[2020-03-19 15:48] jennmalcolm commented on #73
@lpgoldstein do you understand this issue? Test

[2020-03-19 15:48] jennmalcolm commented on #73
This was a test

[2020-03-19 15:48] #73 closed

[2020-03-19 17:21] jennmalcolm opened #74 "Request for onrr.gov issues/GitHub account instructions on onrresource"
I was wondering if you will be posting instructions on how to create an GitHub account and how to make a request on onrreosuce?

Email request:
As a web content member I have folks who will contact me about onrr.gov site changes and before I would just refer them to Chad. If there was an easy way for me to redirect them to the GitHub process that would be great. I figured a page on onrresource wou

[2020-03-19 18:14] jennmalcolm commented on #71
issue fixed

[2020-03-19 18:14] #71 closed

[2020-03-21 05:05] lpgoldstein opened #75 "Presentation for Homepage study"
Create presentation for homepage study

https://doimspp-my.sharepoint.com/:p:/r/personal/mchargs_mms_gov/_layouts/15/Doc.aspx?sourcedoc=%7BA8D183B8-FA53-4052-A99A-94F5F96205FE%7D&file=ONRR%20Homepage%20Findings.pptx&action=edit&mobileredirect=true&PreviousSessionID=8a12ec9a-66b4-0597-5ae3-f2f8aaeb7a56&cid=cf81ff0a-f930-4d16-a696-8a4aecbefad5

@Maroyafaied and @mcharg please take a look.

[2020-03-23 13:16] mcharg commented on #75
@lpgoldstein Looks good.  I fixed a couple typos.

[2020-03-23 14:21] jennmalcolm opened #76 "Update files on payments page"
Please update the following wepage Http://onrr.gov/ReportPay/payments.htm [http://onrr.gov/ReportPay/payments.htm] with the
 attached file's:

 Indian Leases Cross-walked to Distributee Codes

 Downloadable Excel Version Indian Leases Cross-walked to Distributee Codes

Also change (updated  2/28/2020) to read 3/13/2020 for both files.

 In addition to the above please update the (updated 2/28/2020

[2020-03-23 17:07] #37 closed

[2020-03-23 17:22] jennmalcolm commented on #61
Make sure to confirm that it goes the same place after signin.

[2020-03-23 18:18] jennmalcolm opened #77 "Links not working"
There are links on the Treasury Referrals page that do not work:

![image](https://user-images.githubusercontent.com/30806839/77349287-2ae8e880-6d11-11ea-8298-504f99a5af6e.png)

"Debt Collection Improvement Act of 1996" link does not work
"Debt collection Reporter Letter" link results does not work

[2020-03-23 18:19] jennmalcolm commented on #77
@Maroyafaied could you find what this links should be and correct? If you need help, let me know.

[2020-03-23 18:38] jennmalcolm commented on #72
Hi @sudarr we had another issue with some depricated third-party code that may have caused the county pop-up issues as well because we fixed that, and the county pop-ups seem to be working fine now. I've also removed the "Updated Zone Prices" in the dev site, so please review to let me know if this looks ok to you.  Thanks.

http://2017onrr/Valuation/allzones.htm

[2020-03-23 18:44] sudarr commented on #72
It looks great on the dev site and the pop ups work perfectly. Thanks

[2020-03-23 19:24] mentastc opened #78 "Add GOMESA Press Release"
DOI will be posting the GOMESA press release on DOI.gov on March 30th. Once its posted there I'll send to Data Display  so that it can be added to ONRR.gov's press release section.

[2020-03-23 19:27] jennmalcolm commented on #76
updates are live

[2020-03-23 19:27] #76 closed

[2020-03-23 19:27] jennmalcolm commented on #72
updates are live

[2020-03-23 19:27] #72 closed

[2020-03-23 19:38] Maroyafaied commented on #77
@jennmalcolm I think these should be the correct link, let me know if you agree and I'll make the changes.

Debt Collection Improvement Act of 1996
https://fiscal.treasury.gov/dms/about/about-dcia.html

Debt collection Reporter Letter
https://www.onrr.gov/ReportPay/PDFDocs/961125.pdf

[2020-03-23 20:07] jennmalcolm commented on #77
@Maroyafaied the first link looks good. I think the reporter letter link is fine, but for some reason that pdf was missing in production. It was in the dev folder, so I just copied it to prod too.

Could you fix the first link and confirm that the other is working on onrr.gov after about 15 mins?

[2020-03-23 20:08] jennmalcolm commented on #77
The email from the requester is in the shared box so you can contact them for review.

[2020-03-23 20:43] Maroyafaied commented on #77
@jennmalcolm The reporter letter link works now and I fixed the first link and send it to the requester for review. Thanks

http://2017onrr/compliance/Treasury-Referrals.htm

[2020-03-23 20:59] Maroyafaied commented on #77
The requester reviewed and links are now working on the site.

[2020-03-23 20:59] #77 closed

[2020-03-24 13:21] #69 closed

[2020-03-24 19:05] alenahuang opened #79 "ONRR Broken Links"
The bullet is the page that the broken link is on. The sub bullet is the actual link that is broken.

 - [x] **1** https://www.onrr.gov/About/contact.htm
 "USEITI Multi-Stakeholder Group"
- [x] **2**  https://www.onrr.gov/about/production-data.htm
  - U.S. Extractive Industries Transparency Initiative (USEITI)
  - Federal Production page of the USEITI Data Portal
  - available for download
- [x] *

[2020-03-24 20:27] mcharg opened #80 "onrr.gov analytics"
Now that I can get into DAP, I need to get caught up on analytics.

[2020-03-26 17:39] jennmalcolm commented on #66
currently waiting for version with closed captioning

[2020-03-26 18:49] #63 closed

[2020-03-26 18:52] #75 closed

[2020-03-30 17:21] jennmalcolm opened #81 "FRNotices page updates"
Attached is the published FRN for -  30 CFR Part 1243, Suspensions Pending Appeal and Bonding

Please make updates to the following web pages, as follows:

https://www.onrr.gov/Laws_R_D/FRNotices/ICR0122.htm [https://www.onrr.gov/Laws_R_D/FRNotices/ICR0122.htm]

  Under sub-heading Federal Register Publications and above the last posting, add"60-Day Agency Information Collection [https://www.onrr.

[2020-03-30 18:07] ONRR-31577 opened #82 "Production Reporting References"
[Gulf-Metering-Systems.pdf](https://github.com/ONRR/onrr.gov-site/files/4404598/Gulf-Metering-Systems.pdf)
[Gulf-Buy-Back.pdf](https://github.com/ONRR/onrr.gov-site/files/4404599/Gulf-Buy-Back.pdf)
[Gulf-Sales-Tanks.pdf](https://github.com/ONRR/onrr.gov-site/files/4404600/Gulf-Sales-Tanks.pdf)
[Gulf-Gas-Plants.pdf](https://github.com/ONRR/onrr.gov-site/files/4404601/Gulf-Gas-Plants.pdf)
[Gulf-Flas

[2020-03-30 18:09] ONRR-31577 commented on #82
Sorry, five files, not eight.

[2020-03-30 20:59] jennmalcolm opened #83 "Add obvious "revenue data" link to home page"
We need an easy, obvious way for people to get from onrr.gov to the NRRD home page. The button currently in the banner is changed based on announcements, e.g., press releases.

[2020-03-30 21:07] jennmalcolm commented on #78
press releases are live now

[2020-03-30 21:07] #78 closed

[2020-03-30 21:12] jennmalcolm opened #84 ""Find out more" on about menu doesn't go anywhere"
![image](https://user-images.githubusercontent.com/30806839/77962453-a0246280-72a9-11ea-86d3-d6b2bd034e19.png)
Not sure where it's supposed to go, but we should fix it.

[2020-03-30 21:15] jennmalcolm commented on #82
@ONRR-31577 the changes are ready for your review on the development site (requires VPN) http://2017onrr/reportpay/references.htm. Please let us know if they look good to push to production.

[2020-03-30 21:22] ONRR-31577 commented on #82
They look good. Please push them to production.
Thank you,

[2020-03-30 22:05] lpgoldstein commented on #82
@onrr-31577 changes are live if you want to take a look.

https://www.onrr.gov/ReportPay/references.htm

[2020-03-30 22:05] #82 closed

[2020-03-31 02:25] Maroyafaied commented on #81
http://2017onrr/Laws_R_D/FRNotices/ICR0122.htm

[2020-03-31 11:31] ONRR-31577 commented on #82
Everything looks great.
Thank you!

[2020-03-31 14:29] jennmalcolm opened #85 "Notice on home page"
Please post the following on the front page and it needs to be noticeable, meaning no scrolling or clicking another link and let me know when it is completed - thanks

Until further notice, all ONRR office deliveries (except for the United States Postal Service) must be shipped to the ONRR Denver Office at:

Office of Natural Resources Revenue

P.O. Box 25165, Entrance N1

Building 85, Eighth Stre

[2020-03-31 15:24] Maroyafaied opened #86 "Strategy on how to get users to submit issues on Github"
We are still receiving requests through service now or directly to Jennifer's email, we need to come up with a strategy or content to use for users to start using github.

[2020-03-31 16:17] lpgoldstein commented on #86
@Maroyafaied and @jennmalcolm we should just send them a nice email response that says "In order to have your request handled promptly, please submit through github and include the link to the wiki that shows how to set up an account and submit an issue.

[2020-03-31 16:38] jennmalcolm commented on #81
@Maroyafaied did you see that the requester approved to push to production by email?

[2020-03-31 16:42] Maroyafaied commented on #81
@jennmalcolm i just saw it, pushing it now.  I'll close the issue when it shows on the live site soon.

[2020-03-31 17:20] lpgoldstein commented on #79
- [ ] **1** https://www.onrr.gov/About/contact.htm
 "USEITI Multi-Stakeholder Group"

is ready for your review @jennmalcolm  @Maroyafaied http://2017onrr/about/contact.htm

[2020-03-31 17:26] lpgoldstein commented on #79
@jennmalcolm @Maroyafaied I think we should just delete this page all together. It's outdated.
 - [ ] **2**  https://www.onrr.gov/about/production-data.htm
  - U.S. Extractive Industries Transparency Initiative (USEITI)
  - Federal Production page of the USEITI Data Portal
  - available for download

[2020-03-31 17:30] jennmalcolm commented on #79
I agree we shouldn't have that page @lpgoldstein.

[2020-03-31 17:41] jennmalcolm commented on #81
I confirmed the changes are live. Thanks @Maroyafaied

[2020-03-31 17:41] #81 closed

[2020-03-31 18:56] jennmalcolm commented on #66
@ONRRamandagarrison I added the video to the container on the right side of the IESC page. Please review it in our dev site and let me know if you're ready to make it live. Thanks.

http://2017onrr/IndianServices/indian-energy-service-center.htm

[2020-03-31 19:30] ONRRamandagarrison commented on #66
It looks great! You can publish it.

Thank you so much,
Amanda

Amanda Garrison

Supervisory Minerals Revenue Specialist
Indian Energy Service Center
P: (720) 595-2025

From: Jennifer Malcolm <notifications@github.com>
Sent: Tuesday, March 31, 2020 12:57 PM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.github.com>
Cc: Garrison, Amanda T <Amanda.Garrison@onrr.gov>; Mention <mention@noreply.github.c

[2020-03-31 19:48] lpgoldstein commented on #79
3 https://www.onrr.gov/about/employment.htm
Find Recent Graduate Jobs
@jennmalcolm @Maroyafaied Ready for review -I deleted the above link and updated the "students and recent grads link"

[2020-03-31 19:54] lpgoldstein commented on #79
9 https://www.onrr.gov/IndianServices/fimo.htm
Bureau of Land Management (BLM) ready for review http://2017onrr/IndianServices/fimo.htm

[2020-03-31 20:01] jennmalcolm commented on #66
The video is live now.

[2020-03-31 20:01] #66 closed

[2020-03-31 20:22] jennmalcolm commented on #79
I've reviewed 1, 3, and 9. You can make those live.

[2020-04-01 11:33] #85 closed

[2020-04-01 11:43] #24 closed

[2020-04-01 20:19] luisaguilar-onrrgov opened #87 "Please update the Rules and Regulations web pages as indicated in the email."
Please submit this to the appropriate IT Web Team for processing.

Attached is the published FRN for -  30 CFR part 1220, OCS Net Profit Share Payment

Please make updates to the following web pages, as follows:

https://www.onrr.gov/Laws_R_D/FRNotices/ICR0073.htm

Under sub-heading Federal Register Publications and above the last posting, add"60-Day Agency Information Collection - (85 FR 17362--M

[2020-04-01 20:21] Maroyafaied commented on #87
@luisaguilar-onrrgov  thank you for submitting your issue on Github!

[2020-04-01 23:06] lpgoldstein commented on #79
- [ ]  4 https://www.onrr.gov/about/Presentations.htm

Five-Year Asset Management Strategic Business Plan FY 2008-2012
Five-Year Compliance Business Plan FY 2008-2012
Five-Year Financial Management Business Plan FY 2008-2012
Five-Year Indian Trust Business Plan FY 2008-2012
Five-Year Production Business Plan FY 2008-2012
Five-Year Resources and Information Management Strategic Business Plan FY 200

[2020-04-01 23:38] lpgoldstein commented on #79
- [ ] 10 https://www.onrr.gov/IndianServices/tribal-assistance.htm

Indian Distribution Dates for Current Calendar Year

@jennmalcolm ready for your review file://iondeniisp01/ONRR2017/IndianServices/tribal-assistance.htm

[2020-04-02 01:50] lpgoldstein commented on #79
- [ ] 8 https://www.onrr.gov/ReportPay/Handbooks/indian-payor-handbook-chapter-2.htm

(2.5.6.1 Production After July 1, 2015 Tab) February 15, 2015
(2.5.6.1 Production After July 1, 2015 Tab) August 21,2015

@jennmalcolm I think I figured out this one. The February date should actually be May and the pdfs were in a different folder so I copied them into this folder so that the link would work.

[2020-04-02 13:05] jennmalcolm commented on #79
@lpgoldstein I checked this morning and Dreamweaver didn't work to push all of the pages that have the about left side nav, so we'll have to push each individually. I did that for the about/overview (index) page. Could you work on finding and pushing the other pages that have the left side nav with production data still on it.

[2020-04-02 13:15] jennmalcolm commented on #79
I reviewed 4, 8, and 10. They look good.

[2020-04-02 14:25] Maroyafaied commented on #87
@luisaguilar-onrrgov please review the links on the staging website, if everything looks correct then please comment here and I'll make it live. Thanks!

http://2017onrr/Laws_R_D/FRNotices/ICR0073.htm
http://2017onrr/Laws_R_D/FRNotices/index.htm

[2020-04-02 16:35] jennmalcolm opened #88 "Appeals page update"
Appeals needs to update its ONRR webpage (located at https://www.onrr.gov/compliance/appeals.htm) to, among other things allow for electronic filing.  Attached is replacement text for that webpage.

Update the webpage with the attached text.
[Appeals & Surety Webpage.docx](https://github.com/ONRR/onrr.gov-site/files/4422296/Appeals.Surety.Webpage.docx)

The attached eliminates links that were in t

[2020-04-02 16:36] lpgoldstein commented on #79
@jennmalcolm I think I found all of the production data references on the left side nav! http://2017onrr/about/index.htm

- [ ]  2 https://www.onrr.gov/about/production-data.htm

[2020-04-02 16:47] jennmalcolm commented on #79
Thanks @lpgoldstein I think just the rules and regulations page still has production data, so I'll push that.

[2020-04-02 17:35] Maroyafaied commented on #87
@luisaguilar-onrrgov approved the changes and they are now on the live site.

[2020-04-02 17:35] #87 closed

[2020-04-02 17:51] jennmalcolm opened #89 "Create a style tile for onrr.gov"
Build off of ONRR logo, the NRRD color pallet, and the USWDS standards as a starting point for visual design for onrr.gov

[2020-04-02 18:40] jennmalcolm commented on #88
updates complete and live

[2020-04-02 18:40] #88 closed

[2020-04-03 16:05] lpgoldstein commented on #79
closing this issue and will address 6 in issue #51

[2020-04-03 16:05] #79 closed

[2020-04-03 19:35] forgravec opened #90 "Upload NYMEX March prices"
We have the monthly NYMEX prices and spreadsheet ready to be uploaded to the ONRR.gov website.  The spreadsheet is attached.  Please reference the shared document "Data for ONRR.gov" on OneDrive.
@sudarr
[NYMEX0320.xlsx](https://github.com/ONRR/onrr.gov-site/files/4429517/NYMEX0320.xlsx)

Thanks,
Cory Forgrave

[2020-04-03 19:42] damionschulte opened #91 "April 2020 Indian Index Zone Prices"
Hello,
 I've updated the Office 365 sheet ( Data for ONRR.gov.xlsx) to include the April Indian Index Zone prices for the http://2017onrr/Valuation/allzones.htm page.

Can you please post them to our development site and I'll review before we make them public?

@sudarr

[2020-04-06 04:10] lpgoldstein commented on #91
@jennmalcolm and @damionschulte These are ready for your review

[2020-04-06 04:12] lpgoldstein commented on #90
@jennmalcolm and @forgravec These are ready for your review http://2017onrr//Valuation/NYMEX.htm

[2020-04-06 13:26] forgravec commented on #90
@lpgoldstein The prices look good, but when I click on the spreadsheet to download it, I get an error. The February one downloads fine, but not March.

@Sudar, Robert J<mailto:Robert.Sudar@onrr.gov>

Thanks,
Cory Forgrave
Economist
Office of Natural Resources Revenue
303-231-3589
________________________________
From: lpgoldstein <notifications@github.com>
Sent: Sunday, April 5, 2020 10:12 PM
To:

[2020-04-06 13:35] jennmalcolm commented on #90
@forgravec and @sudarr the file download should be working now. Please confirm, and I will push to production. Thanks.

[2020-04-06 13:39] forgravec commented on #90
Looks good.
@Sudar, Robert J<mailto:Robert.Sudar@onrr.gov>

Thanks,
Cory Forgrave
Economist
Office of Natural Resources Revenue
303-231-3589
________________________________
From: Jennifer Malcolm <notifications@github.com>
Sent: Monday, April 6, 2020 7:36 AM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.github.com>
Cc: Forgrave, Cory J <Cory.Forgrave@onrr.gov>; Mention <mention@noreply.github.com

[2020-04-06 14:21] jennmalcolm opened #92 "update late payment and interest table"
On the Late Payment & Underpayment Interest Tables page, at https://onrr.gov/ReportPay/interest.htm [https://onrr.gov/ReportPay/interest.htm]

Late Payment & Underpayment Interest Tables [https://onrr.gov/ReportPay/interest.htm]
 It's Secure. This site is protected by a Secure Sockets Layer (SSL) Certificate authorized through the United States Government. The https:// means all transmitted data i

[2020-04-06 14:33] jennmalcolm commented on #90
Nymex March price now live on onrr.gov.

[2020-04-06 14:33] #90 closed

[2020-04-06 15:36] jennmalcolm opened #93 "outreach events canceled - update calendar"
I've made changes to the spreadsheet and canceled events for all of April 2020.  Please make the changes to the ONRR public website.  Thank-you.

[2020-04-06 17:07] jennmalcolm opened #94 "Update file"
Good morning, please see attached to be used to update the FS Federal Team contact sheet on ONRR.gov. The URL is https://www.onrr.gov/ReportPay/payments.htm [https://www.onrr.gov/ReportPay/payments.htm]

Below is a screenshot of the site and the document being referred to.

Please let me know if you need any additional information.
![image001](https://user-images.githubusercontent.com/30806839/785

[2020-04-06 17:07] jennmalcolm commented on #94
@Maroyafaied I've forwarded the email I got to the shared box for follow up.

[2020-04-06 17:30] Maroyafaied commented on #94
@jennmalcolm I made the update and send it for review and also let the requester know about Github.
http://2017onrr/ReportPay/payments.htm

[2020-04-06 18:15] jennmalcolm commented on #93
updates live

[2020-04-06 18:15] #93 closed

[2020-04-06 18:18] jennmalcolm commented on #94
Thanks @Maroyafaied the requester has reviewed and approved, so this can go live.

[2020-04-06 18:30] Maroyafaied commented on #94
It's live. Thanks

[2020-04-06 18:30] #94 closed

[2020-04-06 18:50] jennmalcolm commented on #92
updates live

[2020-04-06 18:50] #92 closed

[2020-04-06 21:09] jennmalcolm commented on #91
@lpgoldstein it looks good to me, but we will wait until we get the ok from @damionschulte or @sudarr to publish. Thanks.

[2020-04-07 12:00] damionschulte commented on #91
@jennmalcom , where to I view these?  Sorry new to this process :)

@sudarr

[2020-04-07 12:08] jennmalcolm commented on #91
@damionschulte here is the link: http://2017onrr/Valuation/allzones.htm

You'll need to use VPN.

[2020-04-07 12:12] damionschulte commented on #91
@jennmalcom, and @lpgoldstein, these prices look great!  Thank you both so much.

@sudarr

[2020-04-07 12:13] damionschulte commented on #91
@jennmalcom, and @lpgoldstein, Sorry do I need to hit the close issue button to finish this?

@sudarr

[2020-04-07 12:13] jennmalcolm commented on #91
No, @damionschulte, just the comment is good. We'll push the prices to the live site, and close once they're live. Thank you!

[2020-04-07 12:15] damionschulte commented on #91
@jennmalcom, and @lpgoldstein, Cool thank you again.  You guys are the best!

@sudarr

[2020-04-07 12:36] jennmalcolm commented on #91
The prices are live on onrr.gov.

[2020-04-07 12:36] #91 closed

[2020-04-07 14:00] jennmalcolm commented on #67
commented out job announcement so we can use again if they want.

[2020-04-07 14:00] #67 closed

[2020-04-07 17:45] jennmalcolm opened #95 "Fix mis-spelling on press release links 2019 and older"
![image](https://user-images.githubusercontent.com/30806839/78701987-e3985580-78d5-11ea-9d9c-4f00002f0ad5.png)

2020 also goes to mis-spelled version once you gone to an earlier year and then come back to 2020.

[2020-04-07 20:51] jboroos opened #96 "March Indian Oil IBMP prices on onrr.gov"
Can you please update the Indian Oil IBMP price page (https://www.onrr.gov/Valuation/IndianOilIBMP.htm) with the March prices?  These prices are in the IBMP tab of the "Data for ONRR.gov" spreadsheet on OneDrive.  Let me know if you have issues accessing the file.

Please update our development site (http://2017onrr/Valuation/IndianOilIBMP.htm) and let me know so I can review them before they go p

[2020-04-08 08:42] lpgoldstein commented on #96
@jennmalcolm @jboroos This is ready for your review http://2017onrr/Valuation/IndianOilIBMP.htm

[2020-04-08 12:51] jboroos commented on #96
Thank you @lpgoldstein.  This looks good to me.  @jennmalcolm @sudarr

[2020-04-08 13:17] jennmalcolm commented on #96
Thanks, @jboroos. The prices are live now.

[2020-04-08 13:17] #96 closed

[2020-04-08 15:29] jennmalcolm opened #97 "Review content audit and create issues"

[2020-04-08 15:30] jennmalcolm opened #98 "Review Ryan's evaluation and create issues"

[2020-04-08 17:40] jennmalcolm opened #99 "2020-0264 Agreement XREF Apr"
The data for April 2020 has been placed in the following file:

N:\MRM Shared\Data Transfers\Lease to Agreement Cross Reference

Please replace the existing file located at: http://www.onrr.gov/ReportPay/CrossRef.htm [http://www.onrr.gov/ReportPay/CrossRef.htm] called “Downloadable Text Cross-Reference Lease to Agreement Number” from the file in the following location: N:\MRM Shared\Data Transfers

[2020-04-08 17:45] forgravec opened #100 "Update NYMEX March spreadsheet"
When downloading the latest NYMEX Excel spreadsheet (March) we notice that we get a warning 'pop-up' that states "The file format...does not match.  The file could be corrupt..."  The end-user can choose to accept the risk and select "Yes" and open it, but we would prefer that the pop-up not happen.

It looks like it is due to the SS for March having a different file extension than prior months. T

[2020-04-08 18:38] jennmalcolm commented on #100
@forgravec we have to use the .xls with the code as it is right now, and all of the old files are also .xls. We will work on that in the future.

For the March error though, I was able to save the file in a different way that should get rid of the error. I pushed the fix live to onrr.gov already, so could you could confirm that it looks good to you?

[2020-04-08 18:43] forgravec commented on #100
The fix worked for opening the file, but what do you suggest we do for the future months. GitHub does not accept the .xls that is required by the website?

Should we email the .xls file directly to whomever is working on the request?

Thanks,
Cory Forgrave
Economist
Office of Natural Resources Revenue
303-231-3589
________________________________
From: Jennifer Malcolm <notifications@github.com>
S

[2020-04-08 18:47] jennmalcolm commented on #100
@forgravec you can just continue to put the .xlsx files on GitHub, and I will just make sure our team knows how to save them in the site files.

We will have a more permanent solution in the future, but we want to do as much as possible through GitHub because that is where the site will be in the future too. Thanks!

[2020-04-08 18:47] #100 closed

[2020-04-08 21:17] jennmalcolm commented on #99
updates live

[2020-04-08 21:17] #99 closed

[2020-04-09 10:38] lpgoldstein commented on #51
@jennmalcolm RV says they are still working on this so we can pull it out of this sprint.

[2020-04-09 13:11] mcharg opened #101 "Update links to all use the same case"
If they use different cases, they're getting split in the analytics.

For example, these two links to the EMARF instructions are coming up separately in analytics:
https://www.onrr.gov/reportpay/PDFDocs/EMARF_Instructions.pdf
https://www.onrr.gov/ReportPay/PDFDocs/EMARF_Instructions.pdf

The only difference I see in the url is capitalization of the "reportpay"/"ReportPay" portion of the url.

I'm

[2020-04-09 13:24] jennmalcolm commented on #101
Could you give us a list of the links that have variations based on what you're seeing in the analytics?Otherwise, it could be hard to find everything.

[2020-04-09 13:32] mcharg commented on #101
Sure

[2020-04-09 17:09] jennmalcolm opened #102 "Civil penalties matrix"
Reach out to determine if we should start building table and where it should go.

[2020-04-09 20:24] mcharg commented on #89
Designs:
https://w8tuba.axshare.com/

[2020-04-09 20:46] merrellc opened #103 "Web Page - Federal Onshore Terminable Leases"
Please update the following web page http://www.onrr.gov/ReportPay/royalty-reporting.htm with the attached PDF file:

Federal Onshore Terminable Leases - sorted by Due Date, Also change (3/2/2020) to read updated 4/4/2020.

[FLTerm.pdf](https://github.com/ONRR/onrr.gov-site/files/4458574/FLTerm.pdf)

[2020-04-09 21:47] jennmalcolm opened #104 "Get social media links in footers on every page"

[2020-04-09 21:47] jennmalcolm opened #105 "NRRD link should be in header of every page"
and move the follow ONRR to the footer in every page

or just home page?

[2020-04-09 21:48] jennmalcolm opened #106 "Responsive solution for big NRRD link in header"
right now it won't show on Mobile

[2020-04-09 22:18] jennmalcolm commented on #83
added link to header of home page - does not show up on mobile so created #106 for that

[2020-04-09 22:18] #83 closed

[2020-04-10 03:11] lpgoldstein commented on #103
@jennmalcolm This is ready for your review http://2017onrr/ReportPay/royalty-reporting.htm
Note that the document says 4/9/2020 but they want the updated date to say 4/4/2020. http://2017onrr/ReportPay/royalty-reporting.htm

[2020-04-10 19:51] mcharg commented on #80
Done except for search results and homepage clicks.  Will create new issues for those for next sprint.

https://github.com/ONRR/onrr.gov-site/wiki/Analytics

[2020-04-10 19:52] mcharg opened #107 "Analyze search term analytics"
These live in a separate site from our other analytics.

[2020-04-10 19:53] mcharg opened #108 "Create a homepage click report"
This will involve putting a screenshot in Axure and putting FY19 total numbers on each place you can click.

[2020-04-10 20:14] mcharg opened #109 "Identify links that use different capitalization"
Go through analytics to find instances that are being split up because of capitalization.

[2020-04-13 16:50] jennmalcolm commented on #103
I reached out by email, and @merrellc asked that we change the date to 4/9/20. I did that and pushed to production. The updates are now live.

[2020-04-13 16:50] #103 closed

[2020-04-13 16:54] jennmalcolm commented on #74
We have it in GitHub, so the next step is to find a place on onrresource and reach out to the requester to let him know where to find the instructions.

[2020-04-13 17:05] merrellc commented on #103
Jennifer, for clarification, was I suppose to go back in Github to reply to the message and close ticket out?

________________________________
From: Jennifer Malcolm <notifications@github.com>
Sent: Monday, April 13, 2020 10:50 AM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.github.com>
Cc: Merrell, Candace J <Candace.Merrell@onrr.gov>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re

[2020-04-13 17:09] jennmalcolm commented on #103
Yes @merrellc if you can approve through the GitHub issue or reply to the email notification you receive, your approval will be reflected in the issue. Thank you, and let us know if you have more questions.

[2020-04-13 18:11] jennmalcolm commented on #89
working on template with MUI now

[2020-04-13 18:11] #80 closed

[2020-04-13 20:15] mcharg commented on #108
Report: https://6s1obm.axshare.com/

Pink: Top ten, shows rank
Orange: Links with greater than 1,000 clicks, but not in top 10
Yellow: 500-999 clicks
Gray 100-499 clicks
Doesn't show links with fewer than 100 clicks.

[2020-04-13 20:15] #108 closed

[2020-04-13 20:32] mcharg opened #110 "Replace carousel on homepage"
Carousels are really bad for accessibility and the one on the homepage doesn't add much value.  Long-term, we can revisit what content we want to lead with on the homepage, but short-term, we can at least pull the content out of the carousel.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/118466b4-a9ab-44a0-98f9-a458a367cbb0)

[2020-04-13 20:37] mcharg opened #111 "Change contact icon"
The silhouette icon we have now is typically used for "my account" and could be confusing to users (we've seen it cause this problem with at least one user in user interviews).
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/4835ced7-b6ca-49f8-a6dd-83f97d8cf740)

We should switch it to an envelope or a phone, which are typically used for contact information.

We can use

[2020-04-13 20:38] mcharg opened #112 "Make logo in the header clickable"
Logos in the site header usually go to the homepage.  Ours isn't clickable.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/4583fb48-fbb5-4adf-81b3-681c55e72ae6)

[2020-04-13 20:44] mcharg opened #113 "Update primary nav to match best practices and analytics"
Current nav:
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/083db3f4-6059-4568-9cd1-ea5579b91121)

Proposed nav:
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/67b5af52-9ffe-4265-a5af-4afa3d031cbb)

Changes:
* Replaces logo with Home link to bring the link inline with best web practices
* Moves About to the end to bring the order inline with

[2020-04-14 12:25] jennmalcolm opened #114 "Update vision on about overview page"
The vision in the carousel on the home page is the newest one, but on the overview page, the old vision is still there.

[2020-04-14 12:39] jennmalcolm commented on #114
Corrected vision, removed quotes and italics from vision and mission, removed red color from mission, and changed mission to h3, like the other ones in the right panel.

[2020-04-14 12:58] jennmalcolm opened #115 "add expiration date to RPC"
on this page

https://www.onrr.gov/About/committees.htm

[2020-04-14 13:39] jennmalcolm commented on #114
changes are live

[2020-04-14 13:39] #114 closed

[2020-04-14 17:40] jennmalcolm opened #116 "contact update"
https://www.onrr.gov/About/office-locations.htm

Change contact from Karen to Chris on this page.

[2020-04-15 11:37] jennmalcolm commented on #116
Updated contact, consolidated to one, updated title.

[2020-04-15 11:37] #116 closed

[2020-04-15 14:44] Maroyafaied commented on #97
https://doimspp-my.sharepoint.com/personal/mchargs_mms_gov/_layouts/15/onedrive.aspx?sortField=LinkFilename&isAscending=true&id=%2Fpersonal%2Fmchargs%5Fmms%5Fgov%2FDocuments%2Fonrr%2Egov%2FContent%20Audit

[2020-04-15 14:46] mcharg opened #117 "Review Foresee reports and create issues"
Reports are located here:
https://doimspp-my.sharepoint.com/personal/mchargs_mms_gov/_layouts/15/onedrive.aspx?sortField=LinkFilename&isAscending=true&id=%2Fpersonal%2Fmchargs%5Fmms%5Fgov%2FDocuments%2Fonrr%2Egov%2FDiscovery%2FForesee

[2020-04-15 14:51] Maroyafaied opened #118 "About Page - Update ONRR organization chart"
https://www.onrr.gov/about/pdfdocs/ONRR_External_Org_Chart.pdf
![image](https://user-images.githubusercontent.com/40175688/79351739-469d7400-7ef6-11ea-8a9d-a2a55060ac43.png)

[2020-04-15 14:54] Maroyafaied opened #119 "About Page: Remove ONRR Highlights pdf"
This pdf highlights facts from FY 15, it should be removed or replaced with an updated one. https://www.onrr.gov/about/pdfdocs/Fact%20Sheet_ONRR%20Highlights_July%202016.pdf
![image](https://user-images.githubusercontent.com/40175688/79352162-bb70ae00-7ef6-11ea-9c06-9682bf58a65a.png)

[2020-04-15 14:58] Maroyafaied opened #120 "About page: Update FY 17 budge justification to FY 20"
Here is the the budget justification for FY 20 https://www.doi.gov/sites/doi.gov/files/uploads/2020_highlights_book.pdf
![image](https://user-images.githubusercontent.com/40175688/79352523-35089c00-7ef7-11ea-9634-d19219b7534c.png)

[2020-04-15 15:03] Maroyafaied opened #121 "Fix Broken links from the Content audit"
About page
- [ ] http://www.onrr.gov/FM/PDFDocs/20091106.pdf
- [ ] http://www.onrr.gov/AssetManagement/PDFDocs/FY09RIKAnnualReport.pdf

[2020-04-15 15:26] jennmalcolm commented on #106
Ok to not show on mobile since it's further down the page.

[2020-04-15 15:26] #106 closed

[2020-04-15 15:36] jennmalcolm opened #122 "Look at design for announcements"
E.g. mailing address, new payor letters, strategy about how long something stays in announcements section

[2020-04-15 15:40] jennmalcolm commented on #112
needs to also stay on mobile

[2020-04-15 15:48] jennmalcolm commented on #120
We will probably change navigation to all be the same--non-expanded version, so @Maroyafaied can you see if the document is on one of the about pages to update them there?

[2020-04-15 15:55] Maroyafaied commented on #118
This is the other location the org chart is located. https://www.onrr.gov/About/index.htm

![image](https://user-images.githubusercontent.com/40175688/79358936-24f4ba80-7eff-11ea-9af8-8277e4bd66aa.png)

Onrresource does not have the pdf organizational chart updated but they have this visual updated https://onrresource/Dynamic-Org-Chart/.

[2020-04-15 15:57] Maroyafaied commented on #121
These links are no longer an issue.

[2020-04-15 15:57] #121 closed

[2020-04-16 14:19] jennmalcolm opened #123 "change contact info for communications manager on office locations page"
They want two email boxes to show up separately:

onrrcongressionalaffairs@onrr.gov
onrrpublicaffairs@onrr.gov

[2020-04-16 14:35] jennmalcolm commented on #123
@mentastc please review your requested changes http://2017onrr/About/office-locations.htm

[2020-04-16 15:27] mentastc commented on #123
@jennmalcolm looks good! thank you for making that change!

[2020-04-16 15:48] jennmalcolm commented on #123
changes live

[2020-04-16 15:48] #123 closed

[2020-04-16 16:47] Maroyafaied commented on #74
I added a link in our data display page and reached out to the requester to let him know where the instructions are.

https://onrresource/Data-Display/

![image](https://user-images.githubusercontent.com/40175688/79483561-af0c5400-7fcf-11ea-8aad-14ebc3cf91fc.png)

[2020-04-16 16:57] mcharg commented on #89
MUI designs are now in the prototype.

[2020-04-16 17:17] Maroyafaied commented on #74
@jennmalcolm The requester liked where the link is. Let me know if you're ok with the changes and I'll close this issue. Thanks

[2020-04-16 17:25] jennmalcolm commented on #74
That works for me @Maroyafaied. Thanks

[2020-04-16 17:27] jennmalcolm opened #124 "update DD page on onrresource"
Remove Chris and Ryan and change my title to "Digital Services Specialist"

[2020-04-16 17:28] #74 closed

[2020-04-16 18:34] Maroyafaied commented on #86
@jennmalcolm @lpgoldstein  This is similar language to what I have been using. We could start by sending this to any requester sending emails or going through ServiceNow.  Feel free to make changes or suggest a different approach.

"We have received your request to make changes/updates on onrr.gov.  We would like to let you know that the Data Display team is now in charge of onrr.gov and our team

[2020-04-16 19:28] jennmalcolm opened #125 "request for notice on home page"
Description: Could we have the following notification put on the front page of ONRR.gov?

ONRR would like to let the mineral owners know that we are still operating, processing 2014’s and payments, as well as processing distributions. Our outreach group is also answering phones so if you have any questions or concerns, please call us. The contact numbers for our offices are below.

[2020-04-16 19:45] jennmalcolm commented on #125
Check with the requester, but it seems like this would be a better place for this announcement since it applies to allottees.

https://www.onrr.gov/IndianServices/index.htm

[2020-04-16 19:53] jennmalcolm commented on #86
I think this wording works. We should also decide if we need to try some other avenues to communicate the change to the organization? Maybe one of the weekly messages on onrresource or perhaps an email to all ONRR? We could also put a link in the footer of onrr.gov, which @Maroyafaied suggested.

[2020-04-16 19:54] jennmalcolm commented on #86
Just with the wording, we should probably be consistent about our capitalization of Data Display.

[2020-04-16 19:59] lpgoldstein commented on #125
Clarified the message and they want the message on the homepage and on the Indian Service Center homepage too. Appropriate contact information below.

https://www.onrr.gov/IndianServices/indian-energy-service-center.htm#
![image](https://user-images.githubusercontent.com/39419003/79500874-2a372f80-7ffb-11ea-8670-9ea1af917d5e.png)

[2020-04-16 20:09] jennmalcolm commented on #125
So, now they want those contact info to appear on the home page too? That doesn't make sense, but perhaps we could link to that page from the home page with the contact info.

[2020-04-16 20:17] Maroyafaied commented on #86
@jennmalcolm I fixed the capitalization. I think a mass email to all ONRR is a good idea, I'm not sure if many people read the weekly messages.

[2020-04-16 22:10] lpgoldstein commented on #125
Yep! That is a better idea. There isn't enough space on the homepage for all of the message.

[2020-04-17 03:48] lpgoldstein commented on #98
I created some notes on Ryan's notes. It seems like there are a few things we should be able to tackle quickly that will streamline the site and improve load time too. @jennmalcolm let's discuss on Monday https://doimspp-my.sharepoint.com/:w:/r/personal/mchargs_mms_gov/_layouts/15/Doc.aspx?sourcedoc=%7B8475B48F-24A5-4527-9C16-0A0E879CAE9C%7D&file=Notes%20on%20Ryan%27s%20notes.docx&action=default&m

[2020-04-17 18:22] mcharg opened #126 "Plan a card sort for onrr.gov"
Annie read an article about conducting a card sort using Trello and I think we could do it using Github Projects where each card is an issue and participants create categories using the column in the project.

First step is identifying cards to include in the sort.  It should be a mix of things we know people look for and things we know are hard to find and include good coverage of the site's cont

[2020-04-17 18:25] mcharg commented on #126
Here's a link to a test card sort in the research repo:
https://github.com/ONRR/research/projects/1

[2020-04-17 18:33] mcharg commented on #107
Done
https://github.com/ONRR/onrr.gov-site/wiki/Analytics

[2020-04-17 18:33] #107 closed

[2020-04-17 20:07] #125 closed

[2020-04-17 20:09] lpgoldstein commented on #86
@jennmalcolm @Maroyafaied I agree about the mass email, link and email response message.

[2020-04-17 20:21] mcharg commented on #109
The files with a "y" in the duplicate column of this spreadsheet are duplicates.  I just counted ones that were the same except for capitalization of any file in the path or %20 getting put in place of spaces.
https://doimspp-my.sharepoint.com/:x:/r/personal/mchargs_mms_gov/_layouts/15/Doc.aspx?sourcedoc=%7B8ad79412-343c-4d55-b38e-b05e20c3033d%7D&action=editnew

[2020-04-17 20:21] #109 closed

[2020-04-20 16:03] lpgoldstein commented on #51
@jennmalcolm This is ready for your review. The link has been removed. http://2017onrr/Valuation/index.htm

[2020-04-20 16:47] NRONRR opened #127 "New ONRR Anti-Harassment Page"
Hello,
We have been directed to create a page on ONRR.gov for ONRR's Anti-Harassment program.  It should have the same content as what's on this ONRResource page:  https://onrresource/ONRR-Anti-Harassment/

There will be more content coming, but this is most of it.  Please do not include the last item on the main page as I don't yet have that:
__*WES Results 2017 compared to 2019 Federal Employee

[2020-04-20 16:54] Maroyafaied opened #128 "Decide what to do with non accessible pdfs"
The content audit identified a lot of pdf documents on the site that are not accessible mainly because they are scanned. We need to decide what to with all of them.

[2020-04-20 17:03] Maroyafaied opened #129 "Indian Service menu navigation is not the same order as the side navigation"
This issue was found in the content audit.

https://www.onrr.gov/IndianServices/index.htm

![image](https://user-images.githubusercontent.com/40175688/79778530-1428b800-82f6-11ea-9eb4-fde89793d26f.png)

[2020-04-20 17:07] Maroyafaied opened #130 "Fix agency logos links on the Indian energy service center page."
This issue came from the content audit. Clicking on the agency logos just takes you to the top of the page not to the actual agency page.

https://www.onrr.gov/IndianServices/indian-energy-service-center.htm#
![image](https://user-images.githubusercontent.com/40175688/79778999-da0be600-82f6-11ea-9f75-67b2f465e6f7.png)

[2020-04-20 17:15] jennmalcolm commented on #127
@NRONRR should this page go under About and be on the main navigation under about? Is there a deadline for this page to be live or is it just ASAP?

[2020-04-20 17:32] jennmalcolm commented on #51
Looks good @lpgoldstein

[2020-04-20 17:33] NRONRR commented on #127
Hi Jennifer,

Please load this as soon as possible.  If there is a way for me to view prior to go-live, I’d appreciate it.

Yes, let’s load this off our “About” menu.

Thanks,

Nichelle Rogers
Communication, Performance, and Change Management Supervisor
Office of Natural Resources Revenue
Phone:  (303) 231-3755
Mobile:  (720) 202-8692
Fax:  (303) 231-3908
What have you found on ONRResource<http://

[2020-04-20 19:32] lpgoldstein commented on #51
removed the broken link from the website.

[2020-04-20 19:32] #51 closed

[2020-04-20 19:37] Maroyafaied opened #131 "Rules & Regulation page - Remove "page title goes here""
Issue found in the content audit.

https://www.onrr.gov/Laws_R_D/FRNotices/AC25.htm

![image](https://user-images.githubusercontent.com/40175688/79792363-00884c00-830c-11ea-8e31-2afe1464ac24.png)

[2020-04-20 19:45] Maroyafaied opened #132 "Rules & Regulation page - fix misspelling in title"
https://www.onrr.gov/Laws_R_D/FRNotices/AC59.htm

![image](https://user-images.githubusercontent.com/40175688/79793073-3da10e00-830d-11ea-8e63-b981ecb139f4.png)

[2020-04-20 19:55] Maroyafaied opened #133 "Report Pay Training page - PASR training videos "coming soon""
Another issue from the content audit.  Remove this not and upload with the right videos.

https://www.onrr.gov/ReportPay/training/PASR-Training-Videos.htm

![image](https://user-images.githubusercontent.com/40175688/79793915-9a50f880-830e-11ea-906a-b897faf5d5cd.png)

[2020-04-20 20:01] Maroyafaied opened #134 "ReportPay payments page - review/cleanup page structure and fix nav bar"
https://www.onrr.gov/reportpay/payments.htm#PIL-INSTRUCTIONS

![image](https://user-images.githubusercontent.com/40175688/79794379-61655380-830f-11ea-83f8-c60903add854.png)

[2020-04-20 20:04] Maroyafaied opened #135 "Reportpay production checklist - look into map icon for region"
Issue found from content audit "the map icon and blue text made it seem like i could click on it and see the region"

https://www.onrr.gov/reportpay/prod-checklist.htm

![image](https://user-images.githubusercontent.com/40175688/79794533-a7bab280-830f-11ea-82bb-11d21b9c0174.png)

[2020-04-20 20:06] Maroyafaied commented on #97
I have created several issues based on the content audit.

[2020-04-20 20:06] #97 closed

[2020-04-20 20:14] jennmalcolm commented on #127
@NRONRR you can take a look at the page in dev: http://2017onrr/About/anti-harassment.htm

I still need to add it to the navigation--which I will work on tomorrow because I need to make some other changes to the navigation as well. Let me know if you want any changes to this page. Thanks.

[2020-04-21 15:18] Maroyafaied commented on #128
@jennmalcolm I did a count of number of pdfs on the site and the number of those that are not accessible. There are 2898 pdfs total on the  site, and 127 of those pdfs were identified not accessible from the content audit.

[2020-04-21 19:20] jennmalcolm commented on #113
@mcharg could you take a look at the changes in dev? http://2017onrr/

I'm currently also making some changes to add an anti-harassment page, which is in the nav. They don't want to make it live until next week, so I'll push these changes next week too.

[2020-04-21 19:26] mcharg commented on #113
@jennmalcolm Looks good!

[2020-04-21 19:30] jennmalcolm commented on #113
Ok, I'm trying to get the alignment better, but I can't seem to get my css changes to update on files in Dreamweaver, so I'll see if I can figure that out.

[2020-04-22 16:30] jennmalcolm opened #136 "Update Allottee Assistance page"
@lpgoldstein this is from ServiceNow. I'll forward the email to our shared box for contact info so you can follow up.

I found a change that needs to be made on our Allottee Assistance page, the link is below.

https://www.onrr.gov/IndianServices/index.htm [https://www.onrr.gov/IndianServices/index.htm]

Regarding Distribution dates there are two links.

Indian Distribution Dates for Current Calen

[2020-04-22 16:51] lpgoldstein commented on #136
@jennmalcolm Got it!

[2020-04-22 17:26] lpgoldstein commented on #136
@jennmalcolm This is ready for your review. I confirmed the change with Marvin Hamsher and have sent the link to him as well.
http://2017onrr/IndianServices/index.htm
http://2017onrr/IndianServices/tribal-assistance.htm
http://2017onrr/IndianServices/consultation.htm

[2020-04-22 19:59] merrellc opened #137 "Webpage Update (Indian Fund Code)"
Please update the following webpage Http://onrr.gov/ReportPay/payments.htm with the attached files:

[FCIL.pdf](https://github.com/ONRR/onrr.gov-site/files/4518712/FCIL.pdf)
[FCIL.xlsx](https://github.com/ONRR/onrr.gov-site/files/4518713/FCIL.xlsx)

Indian Leases Cross-walked to Distributee Codes
Downloadable Excel Version Indian Leases Cross-walked to Distributee Codes

Also change (updated 3/13/

[2020-04-22 22:41] Maroyafaied commented on #137
@merrellc I have made the changes your requested, please review the links to our development site and let me know if everything is correct and I will make it live. Thanks

http://2017onrr/ReportPay/payments.htm
http://2017onrr/ReportPay/royalty-reporting.htm

[2020-04-22 23:02] Maroyafaied commented on #86
I have send an email for Nathan to approve to send to all on ONRR.

[2020-04-23 03:35] #136 closed

[2020-04-23 11:35] jennmalcolm commented on #136
Looks good. Thanks.

[2020-04-23 11:40] jennmalcolm opened #138 "update file change updated date"
Two service now issues came in to update the file and change the date. Here's the file.
[fedagmts.pdf](https://github.com/ONRR/onrr.gov-site/files/4522275/fedagmts.pdf)

Please change updated date for this document to read 4/01/2020.  The updated date is displaying 12/30/19. Thank you

 100% Federal Agreements with the Same Royalty Rate & Royalty Distributions.  Also change (updated  12/30/2019) t

[2020-04-23 12:07] jennmalcolm commented on #138
changes live

[2020-04-23 12:07] #138 closed

[2020-04-23 14:09] merrellc commented on #137
Everything is correct. Thank you.

________________________________
From: Maroyafaied <notifications@github.com>
Sent: Wednesday, April 22, 2020 4:41 PM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.github.com>
Cc: Merrell, Candace J <Candace.Merrell@onrr.gov>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] Webpage Update (Indian Fund Code) (#137)

@merrellc<http

[2020-04-23 15:18] lpgoldstein opened #139 "Create consistent link styles"
Link styles

Related to contrast, color should not be the only indication of the presence of a link. For people who are color blind or visually impaired, the links can be lost in the text. For links to be accessible, they should have a secondary visual characteristic (commonly underline) to distinguish them from other text.
![image](https://user-images.githubusercontent.com/39419003/80116527-15efb

[2020-04-23 15:23] lpgoldstein opened #140 "Change animated pictures to static pictures for ONRR Leadership"
https://www.onrr.gov/about/leadership/index.htm

[2020-04-23 15:25] lpgoldstein opened #141 "Delete third party tools - AddThis"
The site also includes a utility triggered by scroll depth that produces “Recommendations,” a utility from “AddThis,” a product from Oracle. The user benefit of this is unclear to me, as the recommended pages don’t appear to be related to the content the user is looking at presently. In this instance, a page for reporting forms produces a recommendation for Public Affairs and Office Locations:

![

[2020-04-23 15:27] lpgoldstein opened #142 "Get rid of embedded twitter feed"
From Ryan: It’s unclear to me why this Twitter feed is embedded here.

There’s no question the site takes a performance hit with this, requiring load time to pull it in.

Since ONRR has its own Twitter account, it’s unclear why the DOI feed is present instead. The use of the acronym “DOI” in “DOI Tweets” also isn’t ideal, since it’s never defined on the site and the branding isn’t that of the Depa

[2020-04-23 15:27] #98 closed

[2020-04-23 15:55] mcharg commented on #142
Also, nobody clicks on this according to analytics.

[2020-04-23 18:06] #89 closed

[2020-04-23 18:24] #137 closed

[2020-04-27 16:28] mcharg commented on #110
We completed this last sprint.

[2020-04-27 16:28] #110 closed

[2020-04-27 16:28] jpetersononrr opened #143 "Update the Valuation example"
I have updated the page for the valuation example (https://www.onrr.gov/valuation/2016-rule-processed-example.htm).  The revised page needs to be "put" live as well as the images file under "valuation" and in the PDF file "Processed-Gas-Example-Updated-Final-04272020".  I've made all the changes and checked all the links.  As long as the images file is put live as well, it should all work fine.  P

[2020-04-27 16:28] mcharg commented on #122
@jennmalcolm Are you good with what we did last sprint or do you want to explore further?

[2020-04-27 16:30] jennmalcolm commented on #122
I think it's fine for now. We will be looking at it again when we do a bigger homepage redesign.

[2020-04-27 16:30] #122 closed

[2020-04-27 16:37] jennmalcolm commented on #39
created #5020 for review and publication

[2020-04-27 16:37] #39 closed

[2020-04-27 16:47] jennmalcolm commented on #84
This is fixed in dev and I will push the changes to the navigation to the live site at the same time #127 is complete and goes live.

[2020-04-27 16:47] #84 closed

[2020-04-27 16:48] jennmalcolm commented on #86
I think this issue is done. We can create an issue to get the email out once Nathan approves.

[2020-04-27 16:48] #86 closed

[2020-04-27 17:26] jennmalcolm commented on #143
@jpetersononrr it is live now. Please check it and make sure you don't notice anything missing.

[2020-04-27 17:31] jpetersononrr commented on #143
One is missing--it's on me!  I forgot that "Example-processed-gas-statement-03102020" needs to be put from the pdf docs folder too.  Thank you!  Looks good otherwise!!

[2020-04-27 17:48] jpetersononrr commented on #143
Sorry don't know if I was supposed to tag you...@jennmalcolm.  New to this!

[2020-04-27 17:51] jennmalcolm commented on #143
No need to tag me since I'm already participating on this issue. I pushed the other file, and it should be live in about 10 mins.

[2020-04-27 18:25] mcharg opened #144 "April Analytics"

[2020-04-27 20:32] jennmalcolm commented on #113
going to close since these will go live when I push #127

[2020-04-27 20:32] #113 closed

[2020-04-27 22:38] jpetersononrr commented on #143
I'm so sorry.  You know how sometimes people don't think of things until later?  We got a late comment that was particularly valid.  Could you put the image folder, page itself, and the PDF "Processed-Gas-Example-Updated-04272020" again?  Thank you for your help!!!

[2020-04-28 11:47] jennmalcolm commented on #143
Done, @jpetersononrr. Please verify your changes are live.

[2020-04-28 12:16] jpetersononrr commented on #143
Thank you!!  It's great!

[2020-04-28 12:17] #143 closed

[2020-04-28 14:37] ONRR-31577 opened #145 "Update Production Reporting References"
On the ONRR.gov home page,
under Reporting/Paying
Production Reporting
Reporter Tools / References

Please replace the five existing Gulf Files and and replace the three Pacific Files with the attached files and change the "as of date to 04/28/20.

Thank you,

[Gulf-Metering-Systems.pdf](https://github.com/ONRR/onrr.gov-site/files/4546418/Gulf-Metering-Systems.pdf)
[Gulf-Sales-Tanks.pdf](https://g

[2020-04-28 15:45] jennmalcolm opened #146 "Update royalty reporting contacts"
This came from Service Now. I've forwarded the email to our shared web box so you have contact info @lpgoldstein
[royassign 04-28-2020.pdf](https://github.com/ONRR/onrr.gov-site/files/4546943/royassign.04-28-2020.pdf)

 Will you please post the attached listing on the onrr.gov web page at the following address: https://www.onrr.gov/ReportPay/PDFDocs/royassign.pdf [https://www.onrr.gov/ReportPay/PD

[2020-04-28 16:00] Maroyafaied commented on #145
@ONRR-31577 please review the development link for the changes you have requested. If everything looks correct, I will push it to the live site. Thanks h

ttp://2017onrr/ReportPay/references.htm

[2020-04-28 16:04] ONRR-31577 commented on #145
It looks good.
Thank you

[2020-04-28 16:17] jennmalcolm commented on #95
fixed

[2020-04-28 16:17] #95 closed

[2020-04-28 16:26] ONRR-31577 commented on #145
It looks good.
Thank you

Johnny Erle

Office of Natural Resources Revenue (ONRR)
RRM Team 1A
Minerals Revenue Specialist-GVS
john.erle@onrr.gov<mailto:john.erle@onrr.gov>
303-231-3577
800-525-7922  ext.13577
fax: 303-231-3566
________________________________
From: Maroyafaied <notifications@github.com>
Sent: Tuesday, April 28, 2020 12:00 PM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.github.com

[2020-04-28 16:52] Maroyafaied commented on #145
The requester approved and the changes are on the live site.

[2020-04-28 16:54] ONRR-31577 commented on #145
Please change the as of date on the live site. It still shows the old date.

[2020-04-28 16:58] Maroyafaied commented on #145
@ONRR-31577 I'm showing the updated dates on the live site, have you tried refreshing?
![image](https://user-images.githubusercontent.com/40175688/80515450-3c8c6400-893f-11ea-986f-12ad32779e55.png)

[2020-04-28 17:07] jennmalcolm commented on #145
@ONRR-31577 you may need to press ctrl and F5 to see the changes.

[2020-04-28 17:18] ONRR-31577 commented on #145
Jennifer,
    That was it.

Thanks,

Johnny Erle

Office of Natural Resources Revenue (ONRR)
RRM Team 1A
Minerals Revenue Specialist-GVS
john.erle@onrr.gov<mailto:john.erle@onrr.gov>
303-231-3577
800-525-7922  ext.13577
fax: 303-231-3566
________________________________
From: Jennifer Malcolm <notifications@github.com>
Sent: Tuesday, April 28, 2020 1:07 PM
To: ONRR/onrr.gov-site <onrr.gov-site@nor

[2020-04-28 17:26] #145 closed

[2020-04-28 18:31] lpgoldstein commented on #146
@jennmalcolm this is ready for your review http://2017onrr/ReportPay/PDFDocs/royassign.pdf

[2020-04-28 18:40] jennmalcolm commented on #146
Looks like the file sent in. Go ahead and push to production.

[2020-04-28 19:24] #146 closed

[2020-04-28 20:16] jennmalcolm commented on #112
Also fix overlapping text on small viewports ![image](https://user-images.githubusercontent.com/30806839/80533304-68bdda00-896b-11ea-9eb6-c8bd41f4a4d5.png)

[2020-04-29 19:02] jennmalcolm commented on #140
animations removed

[2020-04-30 17:48] jennmalcolm opened #147 "Get rid of two-part navigation menus for about and Reporting/paying"
Should we put any of the content in the expanded parts under the main navigation? Check analytics for how much they are clicked on.

Related to #120

[2020-04-30 18:01] Maroyafaied commented on #124
@jennmalcolm please review the changes, I changed the titles and Github link to go to all ONRR repositories.
https://onrresourcestage/Data-Display/

[2020-05-01 11:31] badeh opened #148 "Late Payment & Underpayment Interest Tables on ONRR.gov"
Good Morning,
Please eliminate the following narratives immediately:

Highlighted section - "Effective December 5, 2015, ONRR is no longer authorized to pay overpayment interest. On this date, H.R. 22, "Fixing America's Surface Transportation Act," was signed into law. Any bills issued after this date do not contain overpayment interest regardless of the sales month/year. The "FAST" act amended th

[2020-05-01 18:08] mcharg commented on #65
Here's the latest:
https://preview.uxpin.com/abd58e73b2d4621e00e99396350dfa04253c5afb#/pages/128184045/simulate/no-panels?mode=cvhid

[2020-05-01 18:08] mcharg opened #149 "Update onrr.gov personas based on user interviews"

[2020-05-01 18:10] mcharg commented on #126
Here's a draft of instructions for participants.
https://doimspp-my.sharepoint.com/:w:/r/personal/mchargs_mms_gov/_layouts/15/Doc.aspx?sourcedoc=%7B22988B47-0198-4BC9-8767-8A79D86069CE%7D&file=Card%20Sort%20Instructions.docx&action=default&mobileredirect=true

@lpgoldstein @Maroyafaied @persam2 @alenahuang Any of you want to test them out?

[2020-05-04 14:12] jennmalcolm opened #150 "Link on Enforcement page"
Could you have Enforcement's ONRR.gov website have a link to the DOI OIG's website at https://www.doioig.gov/?

I'm thinking just have a hyperlink where we have the word OIG.

[2020-05-04 14:37] Maroyafaied commented on #126
@mcharg yes, I'll test it out. Thanks

[2020-05-04 14:49] jennmalcolm opened #151 "Consider whether to remove links from going to new tabs"
A lot (I'm not sure about all) of our links to pdfs and external sites are set up to open in a new tab. This seems to not be the typical behavior, so we should decide if we have a reason to keep it this way and possible remove.

Here's an article that discusses when to use this behavior:

https://css-tricks.com/use-target_blank/

[2020-05-04 16:10] lpgoldstein opened #152 "Design way to flexibly find contacts"
Users have trouble finding contacts on the website. We need a better way to organize contacts and all allow users to search.

[2020-05-04 16:12] lpgoldstein opened #153 "Archive outdated FAQ page"
Delete outdated FAQ page

https://www.onrr.gov/about/faqs.htm

[2020-05-04 16:22] lpgoldstein opened #154 "New within text link design"
Link design needs to be consistent. Things to consider:
- underline vs no underline
- color
- hover state

[2020-05-04 16:26] lpgoldstein opened #155 "Page organization"
Consider when redesigning site and navigation
- Page titles require site name. Page titles are not consistent with site (browser tab) tiles. For example, Royalty Reporting hyperlink opens new page titled Royalty Reporting (except solid minerals).
- Link labels do not match page headings
- Global navigational items are differentiated from selected cascading menu items.
- Nested tier complicates nav

[2020-05-04 16:57] lpgoldstein commented on #153
http://2017onrr/about/faqs.htm

[2020-05-04 17:01] jennmalcolm commented on #153
Instead of simply deleting it, let's make sure we have an archive folder (maybe on onedrive) where we can move files that we don't want to keep on the site. That way at least we'll have some sort of record of what used to be there.

[2020-05-04 17:13] lpgoldstein commented on #153
@jennmalcolm that's a better idea.  I also need to figure out how to get rid of the link in the footer.

[2020-05-04 17:33] jennmalcolm commented on #153
From what I can find, we have to edit the header and footer on each page. I'm going to work on the header anyway, so I can probably make this change at the same time.

[2020-05-04 17:44] lpgoldstein commented on #153
Okay thanks. That's what it looked like to me too.

[2020-05-04 17:46] jennmalcolm commented on #148
@badeh I've made the changes in dev. Please review and let me know if you see any issues before I push it to production.

http://2017onrr/ReportPay/interest.htm

[2020-05-04 17:50] jennmalcolm commented on #124
This looks fine.

[2020-05-04 17:52] badeh commented on #148
Hi Jennifer,

The page looks great and can be loaded to production.

Thank you for getting this page updated!

​Hannah Bade
Office of Natural Resources Revenue
Financial Management/Financial Services
(303) 231-3373
Hannah.Bade@onrr.gov

________________________________
From: Jennifer Malcolm <notifications@github.com>
Sent: Monday, May 4, 2020 11:46 AM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply

[2020-05-04 18:02] #124 closed

[2020-05-04 18:38] jennmalcolm commented on #148
The changes are live.

[2020-05-04 18:38] #148 closed

[2020-05-04 18:40] badeh commented on #148
Thank you so much.

​Hannah Bade
Office of Natural Resources Revenue
Financial Management/Financial Services
(303) 231-3373
Hannah.Bade@onrr.gov

________________________________
From: Jennifer Malcolm <notifications@github.com>
Sent: Monday, May 4, 2020 12:38 PM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.github.com>
Cc: Bade, Hannah F <Hannah.Bade@onrr.gov>; Mention <mention@noreply.github.com

[2020-05-04 22:57] #117 closed

[2020-05-05 17:49] lpgoldstein commented on #153
Archived page stored here N:\IDM\DD\Archived ONRR pages

[2020-05-05 17:49] #153 closed

[2020-05-05 17:57] Maroyafaied opened #156 "Create a study plan for the card sorting study"

[2020-05-05 21:43] forgravec opened #157 "Update Indian Gas Index Zone prices - May"
The May Indian Gas Index Zone prices for May are ready to be published on ONRR.gov.
The Data for ONRR.gov spreadsheet has been updated in the OneDrive.
Please send link to verify prices once more before they go "live."
Thanks,
Cory Forgrave
@sudarr

[2020-05-06 12:04] lpgoldstein commented on #157
@forgravec @sudarr @jennmalcolm This is ready for your review

 http://2017onrr/Valuation/allzones.htm

[2020-05-06 13:48] forgravec commented on #157
Prices look good...Thanks!

@sudarr @lpgoldstein @jennmalcom

Cory Forgrave
Economist
Office of Natural Resources Revenue
303-231-3589

________________________________
From: lpgoldstein <notifications@github.com>
Sent: Wednesday, May 6, 2020 6:04 AM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.github.com>
Cc: Forgrave, Cory J <Cory.Forgrave@onrr.gov>; Mention <mention@noreply.github.com>
Subject

[2020-05-06 16:50] mcharg commented on #144
I got as far as I could with the reports I have.  Will create a new issue to update after I get back into DAP.

https://github.com/ONRR/onrr.gov-site/wiki/Analytics

[2020-05-06 16:50] #144 closed

[2020-05-06 16:51] mcharg opened #158 "Update April analytics after getting back into DAP"

[2020-05-06 17:07] mcharg commented on #156
I started a plan.
https://doimspp-my.sharepoint.com/:w:/r/personal/mchargs_mms_gov/_layouts/15/Doc.aspx?sourcedoc=%7B0f1fdd33-336a-4bd5-9c66-c1d155348f4f%7D&action=edit&wdPid=9dd3738

@jennmalcolm @Maroyafaied  Do you want to review?

[2020-05-06 17:12] mcharg opened #159 "Recruit participants for onrr.gov card sort"

[2020-05-06 17:12] mcharg opened #160 "Conduct onrr.gov card sort"

[2020-05-06 17:13] mcharg opened #161 "Analyze onrr.gov card sort findings"

[2020-05-06 17:13] #126 closed

[2020-05-06 20:44] Maroyafaied commented on #156
@mcharg it looks great, I added one comment at the end.

[2020-05-06 20:44] boices opened #162 "Upload NYMEX April prices"
We have the monthly NYMEX prices and spreadsheet ready to be uploaded to the ONRR.gov website. The spreadsheet is attached. Please reference the shared document "Data for ONRR.gov" on OneDrive.

@sudarr

[NYMEX0420.xlsx](https://github.com/ONRR/onrr.gov-site/files/4589387/NYMEX0420.xlsx)

[2020-05-06 21:02] jennmalcolm commented on #150
approved by requester
now live

[2020-05-06 21:02] #150 closed

[2020-05-06 21:05] jennmalcolm commented on #102
Waiting for OIG review, but received pdf matrices from requester and can start working on it in dev.
Asked requester if it should be a new page or on the current civil penalties page.

[2020-05-06 21:14] jennmalcolm commented on #162
ready for review @boices and @sudarr

http://2017onrr/Valuation/NYMEX.htm

[2020-05-06 21:17] boices commented on #162
That looks perfect--thanks!

[2020-05-06 21:19] jennmalcolm commented on #157
prices are live

[2020-05-06 21:19] #157 closed

[2020-05-06 21:23] jennmalcolm opened #163 "weird stuff on indian index zone price table borders"
in Chrome
![image](https://user-images.githubusercontent.com/30806839/81229541-fded4e00-8fbd-11ea-8d49-2b763884108a.png)

in IE
![image](https://user-images.githubusercontent.com/30806839/81229701-3f7df900-8fbe-11ea-8ec4-f064050f2dda.png)

[2020-05-06 22:24] jennmalcolm commented on #162
The prices are live now.

[2020-05-06 22:24] #162 closed

[2020-05-07 13:43] boices commented on #162
Thanks!

Sean Boice
Economist
Office of Natural Resources Revenue

From: Jennifer Malcolm <notifications@github.com>
Sent: Wednesday, May 6, 2020 4:25 PM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.github.com>
Cc: Boice, Sean P <sean.boice@onrr.gov>; State change <state_change@noreply.github.com>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] Upload NYMEX April prices (#162)

The prices are live n

[2020-05-07 15:12] badeh opened #164 "Narrative update on onrr.gov-site Late Payment & Underpayment Interest Tables"
Good Morning,
Please replace current narrative with below:

The Federal Oil and Gas Royalty Simplification and Fairness Act of 1996 (RSFA), required ONRR to pay interest on Federal oil and gas royalty overpayments. On December 4, 2015, the Fixing America’s Surface Transportation (FAST) Act was signed by the President. The FAST Act contained a provision that removed ONRR’s authority to pay interest

[2020-05-07 16:25] Maroyafaied commented on #164
@badeh please review the changes your requested, if everything looks correct then I will push it on to the live site. Thanks

http://2017onrr/ReportPay/interest.htm

[2020-05-07 16:36] badeh commented on #164
Looks good; please push to live site.

Thank you!

​Hannah Bade
Office of Natural Resources Revenue
Financial Management/Financial Services
(303) 231-3373
Hannah.Bade@onrr.gov

________________________________
From: Maroyafaied <notifications@github.com>
Sent: Thursday, May 7, 2020 10:25 AM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.github.com>
Cc: Bade, Hannah F <Hannah.Bade@onrr.gov>; Mention

[2020-05-07 18:06] #156 closed

[2020-05-07 18:20] #102 closed

[2020-05-07 18:34] #164 closed

[2020-05-07 21:08] merrellc opened #165 "Webpage Update (Cross Reference Lease to Agreement)"
Please update the following webpage http://www.onrr.gov/ReportPay/CrossRef.htm

-Cross-Reference Lease to Agreement Numbers sorted by AgreementName
-Cross-Reference lease to Agreement Numbers sorted by AgreementNumber
-Cross-Reference Lease to Agreement Numbers sorted by LeaseNumber
with the attached PDF files.
Please also change (updated 2/3/2020 and 12/02/19 to 05/01/2020).
Thank you
[CRAName.pd

[2020-05-07 21:16] jpetersononrr opened #166 "Menu on onrr.gov"
Something happened in the background code and the main menu bar across the top flips valuation and reporting/paying on everything but the home page.  Looks like you added "home" to the menu, so that may be when that happened.  Thanks!

[2020-05-07 21:16] merrellc opened #167 "Webpage - Federal Onshore Terminable Leases"
Please update the following webpage http;//www.onrr.gov/ReportPay/royalty-reporting.htm with the attached PDF file:

Federal Onshore Terminable Leases - sorted by Due Date
Also change (4/9/2020) to read (updated 5/01/2020).

Thank you
[202005.xlsx](https://github.com/ONRR/onrr.gov-site/files/4595842/202005.xlsx)

[2020-05-07 23:32] jennmalcolm commented on #166
Thanks @jpetersononrr. We actually are reorganizing all of the items in the navigation bars on all of the pages. We have them all updated in dev, but we are waiting until we're ready to push another change and add the anti-harassment page to push them all. The only reason some of them are changed on the live site already is because we have had to push other changes to those pages. We didn't expect

[2020-05-08 13:27] #65 closed

[2020-05-08 14:49] lpgoldstein commented on #167
@merrellc you have attached an excel file instead of a PDF. Would you please attach the correct file?

[2020-05-08 14:55] lpgoldstein commented on #165
@merrellc This is ready for your review: http://2017onrr/ReportPay/CrossRef.htm

[2020-05-08 16:31] merrellc commented on #165
File reviewed. Thank you!

[2020-05-08 16:31] #165 closed

[2020-05-08 16:49] merrellc commented on #167
Correct file attached.  Thank you
[FLTerm.pdf](https://github.com/ONRR/onrr.gov-site/files/4600401/FLTerm.pdf)

[2020-05-08 19:06] lpgoldstein commented on #167
@merrellc This is ready for your review: file://iondeniisp01/ONRR2017/reportpay/royalty-reporting.htm

[2020-05-08 19:15] merrellc commented on #167
Thank you

[2020-05-08 19:15] #167 closed

[2020-05-12 18:10] jboroos opened #168 "April IBMP Prices"
We've posted our April Indian Oil IBMP prices to the IBMP tab of the "Data for ONRR.gov" spreadsheet on OneDrive.  Can you please update (https://www.onrr.gov/Valuation/IndianOilIBMP.htm) with the new prices?

Please update our development site first (http://2017onrr/Valuation/IndianOilIBMP.htm) and let me know so I can review them before they go public.  Thanks! @jboroos @sudarr

[2020-05-12 22:36] lpgoldstein commented on #168
@jboroos @sudarr This is ready for your review http://2017onrr/Valuation/IndianOilIBMP.htm

[2020-05-13 14:45] jboroos commented on #168
Thanks @lpgoldstein. It looks like we lost our trailing 0s in the table.  Other than that, everything looks good.  @jboroos @sudarr

[2020-05-13 15:11] lpgoldstein commented on #168
@jboroos I'll fix that before it goes live.

[2020-05-13 16:06] lpgoldstein commented on #168
@jboroos @sudarr It should be live now.

[2020-05-13 16:06] #168 closed

[2020-05-13 16:51] jennmalcolm opened #169 "Add email to Allottee Assistance page"
Can you please add email address  onrroutreachokc@onrr.gov [mailto:onrroutreachokc@onrr.gov] [mailto:onrroutreachokc@onrr.gov [mailto:onrroutreachokc@onrr.gov]] to the following page:

https://www.onrr.gov/IndianServices/index.htm [https://www.onrr.gov/IndianServices/index.htm] below the Oklahoma City Toll Free Royalty Assistance phone number.

[2020-05-13 18:24] jboroos commented on #168
Thanks @lpgoldstein.  Looks good! @jboroos @sudarr

[2020-05-14 12:01] jennmalcolm commented on #169
changes live

[2020-05-14 12:01] #169 closed

[2020-05-14 12:07] jennmalcolm opened #170 "xref file update"
The data for May 2020 has been placed in the shared drive

Please replace the existing file located at: http://www.onrr.gov/ReportPay/CrossRef.htm [http://www.onrr.gov/ReportPay/CrossRef.htm] called “Downloadable Text Cross-Reference Lease to Agreement Number” from the file in the following location: N:\MRM Shared\Data Transfers\Lease to Agreement Cross Reference file entitled “May 2020 Lease Agre

[2020-05-14 12:13] jennmalcolm commented on #127
The page is live and it should be on the navigation menu on all pages.

[2020-05-14 12:13] #127 closed

[2020-05-14 12:16] NRONRR commented on #127
Thank you so much Jennifer!  Appreciate you doing this!

Thanks,

Nichelle Rogers
Communication, Performance, and Change Management Supervisor
Office of Natural Resources Revenue
Phone:  (303) 231-3755
Mobile:  (720) 202-8692
Fax:  (303) 231-3908
What have you found on ONRResource<http://onrresource/> lately?

From: Jennifer Malcolm <notifications@github.com>
Sent: Thursday, May 14, 2020 6:13 AM
T

[2020-05-14 12:17] jennmalcolm commented on #118
Since this is on the navigation menus, this will be a larger effort than first estimated.

[2020-05-14 12:20] jennmalcolm commented on #118
[ONRR External Org Chart, 5-6-2020.pdf](https://github.com/ONRR/onrr.gov-site/files/4628228/ONRR.External.Org.Chart.5-6-2020.pdf)

[2020-05-14 12:56] jennmalcolm commented on #118
Updated file on about page--overview. Still need to remove from navigation, along with #119, #120, #147.

[2020-05-14 16:34] jillbong79 opened #171 "RRM Handbook Files for Update on ONRR.gov"
[MRRH-Appendix-A.pdf](https://github.com/ONRR/onrr.gov-site/files/4629667/MRRH-Appendix-A.pdf)
[MRRH-Appendix-B.pdf](https://github.com/ONRR/onrr.gov-site/files/4629669/MRRH-Appendix-B.pdf)
[MRRH-Appendix-C.pdf](https://github.com/ONRR/onrr.gov-site/files/4629670/MRRH-Appendix-C.pdf)
[Uploading MRRH-Appendix-D.pdf…]
[MRRH-Appendix-E.pdf](https://github.com/ONRR/onrr.gov-site/files/4629672/MRRH-App

[2020-05-14 16:34] jillbong79 commented on #171
[MRRH-Appendix-D.pdf](https://github.com/ONRR/onrr.gov-site/files/4629705/MRRH-Appendix-D.pdf)
[MRRH-Appendix-F.pdf](https://github.com/ONRR/onrr.gov-site/files/4629706/MRRH-Appendix-F.pdf)

[2020-05-14 17:29] jennmalcolm commented on #170
update live

[2020-05-14 17:29] #170 closed

[2020-05-14 20:12] jennmalcolm commented on #166
All the menus should be the same, updated version now.

[2020-05-14 20:12] #166 closed

[2020-05-14 20:59] jennmalcolm commented on #119
@Maroyafaied this change is in dev. Please review.

[2020-05-14 20:59] jennmalcolm commented on #118
@Maroyafaied this is in dev for your review.

[2020-05-14 21:00] jennmalcolm commented on #147
@mcharg please review changes in dev.

[2020-05-14 21:02] jennmalcolm commented on #120
@Maroyafaied the FYbudget doc on the site is ONRR only. Can you find something similar for 2020?

[2020-05-14 21:25] Maroyafaied commented on #119
@jennmalcolm looks good.

[2020-05-15 13:49] mcharg commented on #147
Reporting/paying:
* Based on how little they're clicked, I would move the checklists to the bottom
* I don't think we need the "Resources" header (same goes for the headers on all the other menus)
* We should add a link to the main reporting/paying page (https://www.onrr.gov/ReportPay/index.htm) titled "Reporting/Paying Main" (same goes for the main pages on all the other menus)

About:
* I don't

[2020-05-15 20:34] mcharg commented on #158
I got back into DAP and made the updates.  I also setup monthly email reports, so I can still get data if I get locked out again.

The spike in onrr.gov users was either a fat finger or an issue with the report I had from the email.  the number is actually more in line with other months.
https://github.com/ONRR/onrr.gov-site/wiki/Analytics

[2020-05-15 20:34] #158 closed

[2020-05-15 21:24] CarlishaWells opened #172 "Update EMARF Links under quick forms on homepage"
The EMARF had been updated to a new version.  Please replace the “old” Electronic MRMSS Access Request Form (EMARF) link on ONRR.GOV page with the following “new” EMARF link: https://bseedev.servicenowservices.com/emarf

- Please see attached screen shot:

![onrr gov](https://user-images.githubusercontent.com/62393210/82097276-cec29500-96bf-11ea-9159-49641b27041f.PNG)

[2020-05-15 21:35] CarlishaWells opened #173 "Please update EMARF Link on ONRR.gov/https://www.onrr.gov/reportpay Page"
The EMARF has been updated to a newer version.  Please replace the “old” Electronic MRMSS Access Request Form (EMARF) link on https://www.onrr.gov/reportpay/reporter-maintenance.htm page
with the following “new” EMARF link:
https://bseedev.servicenowservices.com/emarf

- Please see attached screen shot:
![onrr gov-reportpay-reporter-maintenance htm](https://user-images.githubusercontent.com/623932

[2020-05-15 21:46] CarlishaWells opened #174 "Please Update EMARF Link on production reporter checklist"
The EMARF has been updated to a newer version.  Please replace the “old” Electronic MRMSS Access Request Form (EMARF) link on https://www.onrr.gov/ReportPay/prod-checklist.htm page
with the following “new” EMARF link:
https://bseedev.servicenowservices.com/emarf

Please See Attached File:
![onrr govReportPayprod-checklist htm](https://user-images.githubusercontent.com/62393210/82098934-37f7d780-96

[2020-05-15 21:58] CarlishaWells opened #175 "Please Update EMARF Link on production reporter checklist"
The EMARF has been updated to a newer version. Please replace the “old” Electronic MRMSS Access Request Form (EMARF) link on https://www.onrr.gov/ReportPay/production-reporter-checklist.htm
with the following “new” EMARF link:

https://bseedev.servicenowservices.com/emarf

Please See Attached File:

![onrr gov-ReportPay-production-reporter-checklist htm](https://user-images.githubusercontent.com/6

[2020-05-15 22:18] CarlishaWells opened #176 "Please Update EMARF Link on New Royalty Reporter Page"
The EMARF has been updated to a newer version. Please replace the “old” Electronic MRMSS Access Request Form (EMARF) link on www.onrr.gov/ReportPay/roy-checklist.htm
with the following “new” EMARF link:

https://bseedev.servicenowservices.com/emarf

Please See Attached File:

![onrr gov reportpay roy checklist htm](https://user-images.githubusercontent.com/62393210/82100544-1b5d9e80-96c7-11ea-9b82

[2020-05-15 22:27] CarlishaWells opened #177 "Please Update EMARF Link on New Solids Minerals Reporters Page"
The EMARF has been updated to a newer version. Please replace the “old” Electronic MRMSS Access Request Form (EMARF) link on https://www.onrr.gov/ReportPay/solids-checklist.htm
with the following “new” EMARF link:

https://bseedev.servicenowservices.com/emarf

Please See Attached File:
![onrr gov reportPay solids checklist htm](https://user-images.githubusercontent.com/62393210/82101126-dc304d00-9

[2020-05-15 22:46] CarlishaWells opened #178 "Please Update EMARF Link on Maintain Operator Information Page"
The EMARF has been updated to a newer version. Please replace the “old” Electronic MRMSS Access Request Form (EMARF) link on https://www.onrr.gov/ReportPay/access.htm
with the following “new” EMARF link:

https://bseedev.servicenowservices.com/emarf

Please See Attached File:
![onrr gov ReportPay access htm](https://user-images.githubusercontent.com/62393210/82102045-785b5380-96cb-11ea-8612-455241

[2020-05-18 12:15] jennmalcolm commented on #176
Hi @carlishawells, the link you provided is not working at all for me. I just want to confirm it is the right one before I change all of the links.  Thanks.

[2020-05-18 14:41] CarlishaWells commented on #176
Hi Jennifer

It was working last week.  I will check to see if something has changed. thanks for letting me know.
________________________________
From: Jennifer Malcolm <notifications@github.com>
Sent: Monday, May 18, 2020 6:16 AM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.github.com>
Cc: Wells, Carlisha <Carlisha.Wells@onrr.gov>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [O

[2020-05-18 15:20] Maroyafaied commented on #120
@jennmalcolm I edited the document to include only ONRR.  Here it is.
[fy2020_os_budget_justification.pdf](https://github.com/ONRR/onrr.gov-site/files/4645018/fy2020_os_budget_justification.pdf)

[2020-05-19 16:26] merrellc opened #179 "Webpage Update (Indian Fund Code)"
Please update the following webpage http://onrr.gov/ReportPay/payments.htm with the attached file's:

Indian Leases Cross-walked to Distributee Codes

Downloadable Excel Version Indian Leases Cross-walked to Distributee Codes

Also change (updated 4/21/2020) to read 5/19/2020 for both files.

In addition to the above please update the (updated 04/21/2020) to read 05/19/2020 on URL http://www.onrr.

[2020-05-19 20:27] Maroyafaied commented on #120
@jennmalcolm I added the pdf in the section we talked about, please review and let me know if I should push to production. Thanks

 http://2017onrr/About/index.htm

![image](https://user-images.githubusercontent.com/40175688/82374793-c8dcf480-99dc-11ea-8725-f18b8fbf099e.png)

[2020-05-20 15:27] jennmalcolm opened #180 "Determine success metrics for onrr.gov"

[2020-05-20 18:42] Maroyafaied commented on #179
@merrellc please review the changes your requested on the dev site. Thanks

http://2017onrr/ReportPay/payments.htm
http://2017onrr/ReportPay/royalty-reporting.htm

[2020-05-21 13:23] jennmalcolm commented on #172
Waiting on this and #173, #174, #175, #176, #177, #178 to get an updated link.

[2020-05-21 13:25] jennmalcolm commented on #120
That looks good @Maroyafaied. I will work on getting this and the other onrr.gov changes that are ready pushed to production today. Thanks!

[2020-05-21 14:57] merrellc commented on #179
Changes reviewed and correct.  Thank you!

[2020-05-21 14:57] #179 closed

[2020-05-21 17:17] jennmalcolm commented on #147
Here are my questions/clarifications/responses about your comments @mcharg

1.So do you think we need the org chart in the navigation menu? I can do that, but isn't it kind of weird to have a link to a pdf in the main navigation menu? Right now in dev, it is available on the about overview page.
2. I agree with you on the  headings. I'll remove them.
3. I will reorder the about and reporting/payin

[2020-05-21 17:27] mcharg commented on #147
1. I think it's fine just on the about overview page.
3. Will add separate comments for recommended orders for the additional sections.
4. I'm good with your suggestion.

[2020-05-21 17:30] mcharg commented on #147
Valuation
* Indian Gas Index Zone
* Indian Oil Major Portion
* NYMEX Oil Prices
* Unbundling
* Indian Gas Major Portion
* Valuation Regulations
* Federal Gas Index Option

Above is the order based on clicks, but it might still make sense to group like items regardless of clicks.

[2020-05-21 17:31] mcharg commented on #147
Compliance can stay in the order it's in.  The only two links that got over 100 clicks are the first two.

[2020-05-21 17:32] mcharg commented on #147
Indian Services can also stay in the order it's in.  They're in order of number of clicks.

[2020-05-21 17:37] jennmalcolm commented on #147
Ok, I think I'll keep the Indian items as the first three by moving up Indian gas major portion. Otherwise, I'll go with what you suggested for valuation. Thanks.

[2020-05-21 18:54] jennmalcolm commented on #147
I think I got all of these changes in dev. Could you give it one more once-over @mcharg?

[2020-05-21 18:56] jennmalcolm commented on #129
@Maroyafaied changes are in dev. Please review.

[2020-05-21 18:58] jennmalcolm commented on #115
I added expiration date and changed verbs to past tense for all committees.

@Maroyafaied please review.

[2020-05-21 19:19] #159 closed

[2020-05-21 19:22] Maroyafaied commented on #115
@jennmalcolm looks good.

[2020-05-21 19:27] Maroyafaied commented on #129
There is "contact us" on the left that's not on the drop down. Otherwise looks good.
![image](https://user-images.githubusercontent.com/40175688/82597735-aa0a6980-9b66-11ea-98fc-14267e85b0d7.png)

[2020-05-21 20:00] mcharg commented on #147
Looks good.

[2020-05-21 20:29] jennmalcolm commented on #129
In looking at that page more, I think maybe I should delete it from the left nav rather than adding it to the  main nav. It is only a page for FIMO, not for the other services like our outreach office or IESC, so I don't think it should just be on the nav and not clear whom the "Us" is. There is already a link at the top right of all of these pages to that same page. What do you think about just k

[2020-05-21 22:00] Maroyafaied commented on #129
@jennmalcolm yes I agree just deleted it from the left nav

[2020-05-22 13:51] mcharg commented on #21
We aren't using this anymore now that we have a separate repo.

[2020-05-22 13:51] #21 closed

[2020-05-26 13:11] jennmalcolm opened #181 "Make sure left side navs align with newly organized main nav"
also evaluate other places where items on these navs exist to see if all places are necessary

[2020-05-26 13:14] jennmalcolm opened #182 "Archive EITI page"
Change content to indicate withdrawal or simply remove/archive EITI page on onrr.gov

https://www.onrr.gov/eiti/index.htm

[2020-05-26 13:17] jennmalcolm commented on #182
For now, just creating archive folders and moving there.

[2020-05-26 13:17] #182 closed

[2020-05-26 15:11] jpetersononrr opened #183 "PDF "put" please :)"
I'm guessing you put all the pages sometime this weekend.  I had a page I was working on that thankfully was ready to go live, but the PDF that should be with it didn't get through nor did the images.  Could you "put" the images folder from Valuation and the "POP-example-Pre-2016-05212020-Final" in the pdf folder for Valuation?  Thank you!!  (Secretly also appreciate you just pushing the page ;))

[2020-05-26 16:12] jennmalcolm commented on #115
changes live

[2020-05-26 16:12] #115 closed

[2020-05-26 16:12] jennmalcolm commented on #119
changes live

[2020-05-26 16:12] #119 closed

[2020-05-26 16:12] jennmalcolm commented on #118
changes live

[2020-05-26 16:12] #118 closed

[2020-05-26 16:12] jennmalcolm commented on #147
changes live

[2020-05-26 16:12] #147 closed

[2020-05-26 16:13] jennmalcolm commented on #120
changes live

[2020-05-26 16:13] #120 closed

[2020-05-26 16:22] jennmalcolm commented on #183
Thanks @jpetersononrr I just pushed your requeted items to production. They should be live in 10 minutes or so. I did push all of the htm files this morning to get some changes to the navigation out there. I didn't notice that there was one you were working on, so I'm glad it wasn't a problem to get it out there. In the future, if you're working on a new page that you don't want to go live, could

[2020-05-26 16:25] jpetersononrr commented on #183
Absolutely!  Thank you!!

[2020-05-26 16:27] jennmalcolm opened #184 "continue work on revenue handbook"
Get table of contents complete and all files we have linked.

[2020-05-26 16:28] jennmalcolm commented on #184
related to #171

[2020-05-27 16:04] jennmalcolm commented on #129
changes live

[2020-05-27 16:04] #129 closed

[2020-05-27 17:55] #183 closed

[2020-05-27 21:24] jpetersononrr opened #185 "Couple items to "put""
Hi!

Could you please put the following for me?  With an additional example, I had to update a few things on the previous one (like a link to the new one).  Thank you!

1.  This page:  https://www.onrr.gov/valuation/2016-rule-processed-example.htm
2.  The image file for valuation
3.  The pdf "Processed-Gas-Example-Final-05262020"

Thanks for your help!

[2020-05-28 11:31] jennmalcolm commented on #185
This is done. Please review it on the live site. Thanks.

[2020-05-28 13:47] jpetersononrr commented on #185
Thank you!  Looks great!!

[2020-05-28 13:47] #185 closed

[2020-05-28 20:01] ONRR-31577 opened #186 "ONRR Resource Production Reporting References Update"
On the Production Reporting References page at https://onrr.gov/ReportPay/references.htm, in the Offshore section,
please
- replace the five Gulf link pdf files with the attached pdf files--the
file names are the same;
- replace the (as of ...) dates for all files with 28 May 2020.

Thank you,
[Gulf-Metering-Systems.pdf](https://github.com/ONRR/onrr.gov-site/files/4697930/Gulf-Metering-Systems.pdf

[2020-05-29 13:48] Maroyafaied commented on #186
@jennmalcolm @lpgoldstein I apologize, I didn't realize I was unassigned but I started working on this already, I'll add my name as assigned again and will send link to development soon.

[2020-05-29 13:59] Maroyafaied commented on #186
@ONRR-31577 Please review the changes you requested in the development site and let me know if everything looks correct. Thanks
http://2017onrr/ReportPay/references.htm

[2020-05-29 14:13] ONRR-31577 commented on #186
Hi,
   I see the dates have been updated , but the files look to be the same as last month?

Johnny Erle

Office of Natural Resources Revenue (ONRR)
RRM Team 1A
Minerals Revenue Specialist-GVS
john.erle@onrr.gov<mailto:john.erle@onrr.gov>
303-231-3577
800-525-7922  ext.13577
fax: 303-231-3566
________________________________
From: Maroyafaied <notifications@github.com>
Sent: Friday, May 29, 2020 9

[2020-05-29 14:19] Maroyafaied commented on #186
@ONRR-31577 the documents should be updated now, please refresh your browser and check again. Thanks

[2020-05-29 14:22] ONRR-31577 commented on #186
They look great, thank you!

Johnny Erle

Office of Natural Resources Revenue (ONRR)
RRM Team 1A
Minerals Revenue Specialist-GVS
john.erle@onrr.gov<mailto:john.erle@onrr.gov>
303-231-3577
800-525-7922  ext.13577
fax: 303-231-3566
________________________________
From: Maroyafaied <notifications@github.com>
Sent: Friday, May 29, 2020 10:19 AM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.github.com

[2020-05-29 14:31] #186 closed

[2020-05-29 17:04] jillbong79 commented on #171
Good morning, and happy Friday!
Glen has given the green light for these final documents.  These are ready for publication.  Please let me know if you have any questions.  Thank you!
[RRM-Abbreviations.pdf](https://github.com/ONRR/onrr.gov-site/files/4703141/RRM-Abbreviations.pdf)
[RRM-Appendix A.pdf](https://github.com/ONRR/onrr.gov-site/files/4703142/RRM-Appendix.A.pdf)
[RRM-Appendix B.pdf](http

[2020-05-29 19:46] ONRRamandagarrison opened #187 "Updates to IESC page on onrr.gov"
At this link:  https://www.onrr.gov/IndianServices/iescstaff.htm

![image](https://user-images.githubusercontent.com/62029054/83297868-9dae8e00-a1b0-11ea-9821-4a297c72d9e7.png)
Need to add  Abdelgadir Elmadani as IESC Engineering Branch Chief (Acting) email = aelmadani@blm.gov

Thank you!

[2020-06-01 11:48] jennmalcolm commented on #171
Thanks, @jillbong79

[2020-06-01 13:35] mcharg opened #188 "May analytics"

[2020-06-01 15:03] mcharg commented on #188
Done
https://github.com/ONRR/onrr.gov-site/wiki/Analytics

[2020-06-01 15:03] #188 closed

[2020-06-01 16:14] lpgoldstein commented on #187
@ONRRamandagarrison This is ready for your review: http://2017onrr/IndianServices/iescstaff.htm

[2020-06-01 19:30] jpetersononrr opened #189 "Training announcement"
Hello!

Could you please post the following under the announcement banner on the home page?  Under the "Dear Reporter Letter" one would work fine, if that's an option.

Header:  Processed Gas Valuation
Body:  Royalty Valuation will offer Processed Gas Reporting training addressing the changes resulting from the reinstatement of the 2016 Valuation Rule via WebEx on Wednesday, June 10, 2020.  This s

[2020-06-01 19:34] jpetersononrr commented on #189
Alternatively, if I need to just reword the "Dear Reporter" box to include that information as well as the letter (because we could title the whole thing 2016 Rule Implementation or something like that), I'm happy to do so.  Let me know what is easier!  Thanks!

[2020-06-01 22:15] jennmalcolm commented on #189
@jpetersononrr I added it as a separate announcement in dev. You can check it out here http://2017onrr/

I think it would look better if we can combine the two together like you suggested in your second comment. We have an abnormally high number of announcements right now, and it looks unbalanced with 4 in 3 columns. I can work on another design that looks better too, but it's probably faster to m

[2020-06-01 22:18] jpetersononrr commented on #189
Ok!

Let me get language approved and I'll have it for you as soon as (hopefully) tomorrow morning.  Harder to get people after 4!

[2020-06-01 22:19] jennmalcolm commented on #189
No problem, thanks.

[2020-06-02 13:32] ONRRamandagarrison commented on #187
Approved. Please publish.

Thank you very much,
Amanda

Amanda Garrison

Supervisory Minerals Revenue Specialist
Indian Energy Service Center
P: (720) 595-2025

From: lpgoldstein <notifications@github.com>
Sent: Monday, June 1, 2020 10:15 AM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.github.com>
Cc: Garrison, Amanda T <Amanda.Garrison@onrr.gov>; Mention <mention@noreply.github.com>
Subject: [EX

[2020-06-02 14:48] lpgoldstein commented on #187
@ONRRamandagarrison the change is live! https://www.onrr.gov/IndianServices/iescstaff.htm

[2020-06-02 14:48] #187 closed

[2020-06-02 20:55] jennmalcolm commented on #189
Hi @jpetersononrr if you want to keep the announcements separate, I can just make it two columns. I think that looks ok. Let me know what you think.
![image](https://user-images.githubusercontent.com/30806839/83568907-ba6cfd80-a4f1-11ea-9920-efcfd3ac9018.png)

[2020-06-02 22:19] jpetersononrr commented on #189
Sorry, Amy was pretty busy today!

That way works if you like it!  Otherwise all of this inside a header of “2016 Valuation Rule Implementation” would work too:

Please see the Dear Reporter (link) letter on extending the deadline for compliance with the 2016 Valuation Rule to July 1, 2020.

Royalty Valuation will also offer Processed Gas Reporting training addressing the changes resulting from th

[2020-06-03 11:49] jennmalcolm commented on #189
Thanks, Jodie. I've changed it back to the three columns and made the changes live.

[2020-06-03 11:49] #189 closed

[2020-06-03 13:49] jpetersononrr commented on #189
Thank you!  Looks great!

​Jodie Peterson
Minerals Revenue Specialist
Office of Natural Resources Revenue
​jodie.peterson@onrr.gov
(303)231-3719

Royalty Valuation - Consistent Answers to Complex Questions

From: Jennifer Malcolm <notifications@github.com>
Sent: Wednesday, June 3, 2020 5:50 AM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.github.com>
Cc: Peterson, Jodie F <Jodie.Peterson@onrr.gov>

[2020-06-03 17:10] merrellc opened #190 "Lease Assignments"
Please update to the current assignments.  See attached.
https://www.onrr.gov/ReportPay/PDFDocs/RS_LeAgAssignments.pdf

Thank you
[RS_LeAgAssignments.pdf](https://github.com/ONRR/onrr.gov-site/files/4724965/RS_LeAgAssignments.pdf)
Thank you

[2020-06-03 17:26] jennmalcolm opened #191 "Update document"
Please update the following webpage -

http://www.onrr.gov/ReportPay/CrossRef.htm [http://www.onrr.gov/ReportPay/CrossRef.htm] with the attahed .pdf file

 Active Leases - Sorted by State and Agency Lease Number (updated 10/01/2019 ).  Please change to read updated 4/7/2020.

This was submitted by @merrellc through service now, so please
[ALwState.pdf](https://github.com/ONRR/onrr.gov-site/files/4

[2020-06-03 18:16] boices opened #192 "Update index zone prices on ONRR.gov"
Please update the June index zone values on the ONRR.gov website. The data can be found in our OneDrive in a spreadsheet called "Data for ONRR.gov" in the first tab "Index-Zones".

@sudarr

Thanks!

[2020-06-03 18:38] Maroyafaied commented on #190
@merrellc the pdf you send seems to be the same as the one that's already on the website. Is there an updated one? They both have the updated date on the bottom of 2/25/2020

[2020-06-03 18:42] lpgoldstein commented on #192
@boices @sudarr This is ready for your review: http://2017onrr/Valuation/allzones.htm

[2020-06-03 18:49] boices commented on #192
All prices look good--thanks!

@sudarr

[2020-06-03 18:52] lpgoldstein commented on #192
@boices It should be live soon

[2020-06-03 19:12] merrellc commented on #190
I forgot to change the update date. It should be todays date.  Do I need to send an updated copy?

Thank you

​Candace Merrell
Minerals Revenue Analyst

Office of Natural Resources Revenue

Reference and Reporting Management

303-231-3517

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confident

[2020-06-03 19:15] merrellc commented on #191
Looks good.

Thank you

​Candace Merrell
Minerals Revenue Analyst

Office of Natural Resources Revenue

Reference and Reporting Management

303-231-3517

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosure under applicable law.  If the reader of this message is

[2020-06-03 19:18] Maroyafaied commented on #190
@merrellc yes please. Thank you

[2020-06-03 19:21] merrellc commented on #190
See attached. Thank you
[RS_LeAgAssignments.pdf](https://github.com/ONRR/onrr.gov-site/files/4725748/RS_LeAgAssignments.pdf)

[2020-06-03 19:23] Maroyafaied commented on #190
Thanks @merrellc please review http://2017onrr/ReportPay/PDFDocs/RS_LeAgAssignments.pdf

[2020-06-03 19:33] Maroyafaied commented on #191
It's live now. Thanks

[2020-06-03 19:33] #191 closed

[2020-06-03 19:34] merrellc opened #193 "Webpage Update-Cross Reference Lease to Agreement"
Please update the following webpage http://www.onrr.gov/ReportPay/CrossRef.htm

Cross-Reference Lease to Agreement Numbers sorted by AgreementName
Cross-Reference Lease to Agreement Numbers sorted by AgreementNumber
Cross-Reference Lease to Agreement Numbers sorted by Leasenumber
with the attached PDF files.
Please also change (updated 05/01/2020 to 06/01/2020)
Thank you
[CRAName.pdf](https://gith

[2020-06-03 19:42] merrellc opened #194 "Webpage - Federal Onshore Terminable Leases"
Please update the following webpage http://www.onrr.gov/ReportPay/royalty-reporting.htm with the attached PDF file:

Federal Onshore Terminable Leases-sorted by Due Date
Also change (updated 05/01/2020 to updated 06/01/2020)
Thank you
[202006.xlsx](https://github.com/ONRR/onrr.gov-site/files/4725837/202006.xlsx)

[2020-06-03 19:44] merrellc commented on #194
Corrected file.
[FLTerm.pdf](https://github.com/ONRR/onrr.gov-site/files/4725852/FLTerm.pdf)
Thank you

[2020-06-03 19:47] merrellc commented on #191
Thank you

​Candace Merrell
Minerals Revenue Analyst

Office of Natural Resources Revenue

Reference and Reporting Management

303-231-3517

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosure under applicable law.  If the reader of this message is not the inte

[2020-06-03 19:49] Maroyafaied commented on #190
It's live now. Thanks

[2020-06-03 19:49] #190 closed

[2020-06-03 22:04] lpgoldstein commented on #193
@merrellc This is ready for your review http://2017onrr/reportpay/CrossRef.htm

[2020-06-03 22:06] merrellc commented on #193
Thank you

​Candace Merrell
Minerals Revenue Analyst

Office of Natural Resources Revenue

Reference and Reporting Management

303-231-3517

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosure under applicable law.  If the reader of this message is not the inte

[2020-06-03 22:11] lpgoldstein commented on #194
This is ready for your review @merrellc http://2017onrr/reportpay/royalty-reporting.htm

[2020-06-03 22:17] #192 closed

[2020-06-03 22:19] lpgoldstein commented on #193
https://www.onrr.gov/reportpay/CrossRef.htm It's live @merrellc

[2020-06-03 22:19] #193 closed

[2020-06-04 00:22] merrellc commented on #194
Thank you

​Candace Merrell
Minerals Revenue Analyst

Office of Natural Resources Revenue

Reference and Reporting Management

303-231-3517

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosure under applicable law.  If the reader of this message is not the inte

[2020-06-04 00:22] merrellc commented on #193
Thank you

​Candace Merrell
Minerals Revenue Analyst

Office of Natural Resources Revenue

Reference and Reporting Management

303-231-3517

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosure under applicable law.  If the reader of this message is not the inte

[2020-06-04 03:13] #194 closed

[2020-06-04 12:55] jennmalcolm commented on #171
@jillbong79 in looking at the first table of contents vs. the newer table of contents for the supplemental documents, I have a question. Do you want the sections and subsections of the supplemental documents included in the searchable table of contents?

[2020-06-04 14:10] sghahn commented on #171
@jennmalcolm We would like to have the "supplemental" under it's own "tab" and under the Main TOC with all of the section and subsection documents included for search, if possible.

[2020-06-04 14:25] jennmalcolm commented on #171
Ok, thanks

[2020-06-04 14:42] boices opened #195 "Update NYMEX prices on ONRR.gov"
Please update the prices and upload the attached spreadsheet. Thanks!
@sudarr

[NYMEX0520.xlsx](https://github.com/ONRR/onrr.gov-site/files/4730748/NYMEX0520.xlsx)

[2020-06-04 15:15] jennmalcolm commented on #195
@boices it's ready for your review in dev.

http://2017onrr/Valuation/NYMEX.htm

[2020-06-04 15:21] jennmalcolm opened #196 "Add supplemental info to table of contents for revenue handbook"
They want to include sections and sub-sections as indicated the the draft table of contents in #171, but have the links go to web pages as shown in the separate supplemental table of contents in that issue.

[2020-06-04 15:22] jennmalcolm commented on #184
Maroya got through all the chapters. We will do the supplemental info on the table of contents next sprint. Work will continue in #196.

[2020-06-04 15:22] #184 closed

[2020-06-04 17:12] #160 closed

[2020-06-04 17:12] #161 closed

[2020-06-04 17:12] mcharg commented on #161
https://doimspp-my.sharepoint.com/personal/mchargs_mms_gov/_layouts/15/Doc.aspx?sourcedoc=%7BB1C2261A-6427-4200-98C4-DA5774B3D930%7D&file=Card%20Sort%20Findings.pptx&action=edit&mobileredirect=true&CT=1591290769953&OR=ItemsView

[2020-06-04 19:25] jennmalcolm commented on #195
@boices if you could review this today, that will help make sure I can get it pushed to production on time.We have a few people off tomorrow. Thanks.

[2020-06-04 19:37] boices commented on #195
That looks perfect--sorry for the delay!

@sudarr

[2020-06-04 19:48] jennmalcolm commented on #195
No problem @boices, I just wanted to make sure I got it done for you today. The changes are live now.

[2020-06-04 19:48] #195 closed

[2020-06-08 16:13] jennmalcolm opened #197 "Finish draft of product framing document"
Complete draft of product framing document
- [x] User scenarios
- [x] What we're not doing
- [x] Risks
- [ ] Prioritization

[2020-06-08 16:13] jennmalcolm commented on #38
Moving next three items to a separate issue #187

[2020-06-08 23:00] StaceyKaiser opened #198 "New file for onrr.gov"
Please replace the existing file located at: http://www.onrr.gov/ReportPay/CrossRef.htm called “Downloadable Text Cross-Reference Lease to Agreement Number” file entitled “Jun 2020 Lease Agreement XREF.txt”.  It was queried from the system on 6/3/2020.

[Jun 2020 Lease Agreement XREF.txt](https://github.com/ONRR/onrr.gov-site/files/4748998/Jun.2020.Lease.Agreement.XREF.txt)

[2020-06-09 12:37] jennmalcolm commented on #198
@StaceyKaiser please review the changes on our development site and let us know if it looks ok to push to production. Thanks.
http://2017onrr/ReportPay/CrossRef.htm

[2020-06-09 14:25] StaceyKaiser commented on #198
The file looks correct. Thank you!

[2020-06-09 15:28] jennmalcolm commented on #198
changes are live

[2020-06-09 15:28] #198 closed

[2020-06-09 19:54] damionschulte opened #199 "May 2020 IBMP Prices"
I've updated the Office 365 sheet ( Data for ONRR.gov.xlsx) to include the May 2020 IBMP prices for the https://www.onrr.gov/Valuation/IndianOilIBMP.htm page.

Can you please post them to our development site and I'll review before we make them public?

@sudarr

[2020-06-09 20:38] jennmalcolm commented on #199
@damionschulte the prices are ready for your review http://2017onrr/Valuation/IndianOilIBMP.htm

[2020-06-09 20:49] damionschulte commented on #199
This look great!  Thank you

From: Jennifer Malcolm <notifications@github.com>
Sent: Tuesday, June 9, 2020 2:39 PM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.github.com>
Cc: Schulte, Damion C <Damion.Schulte@onrr.gov>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] May 2020 IBMP Prices (#199)

@damionschulte<https://github.com/damionschulte> the prices are rea

[2020-06-09 21:19] jennmalcolm commented on #199
The prices are live now.

[2020-06-09 21:19] #199 closed

[2020-06-10 19:25] mcharg opened #200 "FAQ page linked from footer returns a 404 error"
Current url: https://www.onrr.gov/about/faqs.htm
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/6627ee3f-bc15-4b77-a991-4cf653e894bf)

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/21303c51-cd36-40b5-9033-9a2d2285a774)

[2020-06-11 20:16] Maroyafaied commented on #196
@jennmalcolm I added all the figures and tables under their designated chapters. I also added all the Appendices and the Supplemental Reporting Guidance. I want to note that Appendix C-G  and Supplemental Reporting Guidance V all have the same web link. I left out "Payment Quick Links" as we discussed.

[2020-06-12 20:37] jillbong79 commented on #171
@jennmalcolm

okie dokie.  here are the 508 compliant documents that are ready to go!  glen will be following up with an email to confirm.  please let me know if you have any questions.  thank you!

**Final Documents:**
[RRM-Multi-Unit Well Agreements.pdf](https://github.com/ONRR/onrr.gov-site/files/4773123/RRM-Multi-Unit.Well.Agreements.pdf)
[RRM-Form_CMP2014_Industry_FAQ.pdf](https://github.com/

[2020-06-12 20:41] jillbong79 commented on #171
**some of the documents didn't go through...these are final also:**
[RRM-Appendix B.pdf](https://github.com/ONRR/onrr.gov-site/files/4773137/RRM-Appendix.B.pdf)
[RRM-Appendix C.pdf](https://github.com/ONRR/onrr.gov-site/files/4773138/RRM-Appendix.C.pdf)
[RRM-Appendix A.pdf](https://github.com/ONRR/onrr.gov-site/files/4773139/RRM-Appendix.A.pdf)
[RRM-Overlapping Agreement Training 2020 Handbook.pdf

[2020-06-12 20:43] jillbong79 commented on #171
[RRM-Abbreviations.pdf](https://github.com/ONRR/onrr.gov-site/files/4773158/RRM-Abbreviations.pdf)

[2020-06-15 17:57] jennmalcolm commented on #171
Final title page
[RRM-Title page.pdf](https://github.com/ONRR/onrr.gov-site/files/4782056/RRM-Title.page.pdf)

[2020-06-15 23:38] lpgoldstein opened #201 "RRM production contacts"
per an email from an ONRR employee - updated information on this page - "We now have 2 production contact lists.  One for Onshore and one for offshore.  They are attached.  We'd like them put in this location":
![image](https://user-images.githubusercontent.com/39419003/84716009-0bdcaa00-af40-11ea-9256-8c59406bd129.png)

[Onshore Production Contacts 061520.pdf](https://github.com/ONRR/onrr.gov-sit

[2020-06-16 12:19] jennmalcolm opened #202 "Change deliveries announcement"
Can we add the highlighted language to the homepage deliveries announcement?

Deliveries:

Until further notice, and except as noted below for appeals-related documents, all ONRR office deliveries (except for the United States Postal Service) must be shipped to the ONRR Denver Office at:  Office of Natural Resources Revenue, P.O. Box 25165, Entrance N1, Building 85, Eighth Street, Denver Federal C

[2020-06-16 15:10] jennmalcolm commented on #202
changes made and live

[2020-06-16 15:10] #202 closed

[2020-06-16 18:08] #201 closed

[2020-06-18 17:54] mcharg commented on #38
Added user scenarios to #197, so closing this one.

[2020-06-18 17:54] #38 closed

[2020-06-18 21:09] jillbong79 commented on #171
@jennmalcolm

Howdy!  Hope you are doing well!

Here are the docs Glen emailed you about today.  Please let me know if you have any questions.
*Note: The first doc (sliding scale) is part of the supplemental documentation.

**Documents:**
[RRM-Step- sliding-scale royalty rates.pdf](https://github.com/ONRR/onrr.gov-site/files/4801159/RRM-Step-.sliding-scale.royalty.rates.pdf)
[RRM-Chapter 1.pdf](ht

[2020-06-19 17:56] mcharg commented on #149
Will review as part of product framing (#197)

[2020-06-19 17:56] #149 closed

[2020-06-23 14:35] #196 closed

[2020-06-23 15:39] jpetersononrr opened #203 "Homepage language"
Morning!

Could you please replace the language on the home page under the 2016 Valuation rule change to replace the training language with:

"An example of how to value processed gas under the new 2016 Valuation Rule can be found here."  (Link for "here":  https://www.onrr.gov/valuation/2016-rule-processed-example.htm)

Thanks!

[2020-06-23 15:58] jennmalcolm commented on #171
@jillbong79 you gave us a chapter 9, but we don't have chapter 9 on the table of contents. Is there a newer version of the table of contents that includes chapter 9? Thanks.

[2020-06-23 16:03] jillbong79 commented on #171
@jennmalcolm eek!  i don't know.  let me ask glen.  i don't work this particular section of RRM, so i'll have to see what glen says.  will get back with you today.  thanks!

[2020-06-23 16:04] jennmalcolm commented on #203
The changes are ready for your review in dev @jpetersononrr

[2020-06-23 16:07] jpetersononrr commented on #203
Looks great!  Thank you!!

​Jodie Peterson
Minerals Revenue Specialist
Office of Natural Resources Revenue
​jodie.peterson@onrr.gov
(303)231-3719

Royalty Valuation - Consistent Answers to Complex Questions

From: Jennifer Malcolm <notifications@github.com>
Sent: Tuesday, June 23, 2020 10:05 AM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.github.com>
Cc: Peterson, Jodie F <Jodie.Peterson@onrr.gov

[2020-06-23 16:32] jennmalcolm commented on #203
changes are live

[2020-06-23 16:32] #203 closed

[2020-06-23 16:53] jpetersononrr commented on #203
Thank you!

[2020-06-23 21:06] jdougherty913 opened #204 "FS Federal Contact Info Update - ONRR.GOV Payments Page"
[finserAssign.pdf](https://github.com/ONRR/onrr.gov-site/files/4821960/finserAssign.pdf)
Good afternoon, please see attached to be used to update the FS Federal Team contact sheet on ONRR.gov. The URL is https://www.onrr.gov/ReportPay/payments.htm

**I tried uploading the file, but it does not appear to be working. Please contact me so I can provide the file that needs uploaded. Jennifer.dougherty

[2020-06-24 13:44] jennmalcolm commented on #154
Another thing to consider:
A lot (I'm not sure about all) of our links to pdfs and external sites are set up to open in a new tab. This seems to not be the typical behavior, so we should decide if we have a reason to keep it this way and possible remove.

Here's an article that discusses when to use this behavior:

https://css-tricks.com/use-target_blank/

[2020-06-24 13:44] jennmalcolm commented on #151
Closing in favor of #154

[2020-06-24 13:44] #151 closed

[2020-06-24 13:45] jennmalcolm commented on #139
Closing in favor of #154

[2020-06-24 13:45] #139 closed

[2020-06-24 13:45] jennmalcolm commented on #154
Link styles

Related to contrast, color should not be the only indication of the presence of a link. For people who are color blind or visually impaired, the links can be lost in the text. For links to be accessible, they should have a secondary visual characteristic (commonly underline) to distinguish them from other text.
image

[2020-06-24 15:19] lpgoldstein commented on #204
@jdougherty913 This is ready for your review: http://2017onrr/ReportPay/PDFDocs/FSFederalCOAssignm.pdf

[2020-06-24 15:29] mcharg opened #205 "June analytics (onrr.gov)"

[2020-06-24 19:53] merrellc opened #206 "Webpage Update (Indian Fund Code)"
Please update the following webpage http://onrr.gov/ReportPay/payments.htm with the attached files:
Indian Leases Cross-walked to Distributee Codes
Downloadable Excel Version Indian Leases Cross-walked to Distributee Codes

Also change updated to read 06/24/2020 for both files.
[FCIL.pdf](https://github.com/ONRR/onrr.gov-site/files/4827618/FCIL.pdf)
[FCIL.xlsx](https://github.com/ONRR/onrr.gov-sit

[2020-06-24 20:11] jdougherty913 commented on #204
Thank you, I submitted the wrong file. Please use this file instead.
[finserAssign.pdf](https://github.com/ONRR/onrr.gov-site/files/4827688/finserAssign.pdf)

[2020-06-25 02:20] lpgoldstein commented on #204
@jdougherty913 This is ready for your review again.

[2020-06-25 03:09] jdougherty913 commented on #204
looks good, thank you!

[2020-06-25 03:28] lpgoldstein commented on #204
@jdougherty913 it should be live soon!

[2020-06-25 11:34] jennmalcolm opened #207 "EMARF troubles"
We have received a couple of emails about users not able to open the EMARF form even though they have an updated version of Adobe, so we should look into if we can save it differently or something to resolve that issue.

[2020-06-25 14:20] lpgoldstein commented on #133
@jennmalcolm No ETA on the videos for now - they have been filmed but not edited - and the team is working on another project right now. We should take down the placeholders for now.

[2020-06-25 14:22] jennmalcolm commented on #133
Ok, can you work on taking them down @lpgoldstein

[2020-06-25 14:48] Maroyafaied commented on #142
@mcharg are you referring to this section? I just want to make sure.
![image](https://user-images.githubusercontent.com/40175688/85742562-9354b680-b6c0-11ea-99ad-143c47593c5b.png)

[2020-06-25 14:57] mcharg commented on #142
Yes

[2020-06-25 16:30] jennmalcolm commented on #171
New table of contents submitted by email
[Table of Contents (working copy-Jennifer).docx](https://github.com/ONRR/onrr.gov-site/files/4832600/Table.of.Contents.working.copy-Jennifer.docx)

[2020-06-25 17:00] Maroyafaied commented on #206
@merrellc please review the dev site, if everything looks correct I will push it to the live site. Thanks

http://2017onrr/ReportPay/payments.htm
http://2017onrr/ReportPay/royalty-reporting.htm

[2020-06-25 17:08] sghahn commented on #171
@jennmalcolm, thank you.

[2020-06-25 17:11] lpgoldstein commented on #133
@jennmalcolm for your review: http://2017onrr/ReportPay/training/PASR-Training-Videos.htm

[2020-06-25 17:27] merrellc commented on #206
Everything looks correct. Thank you

Have a good and safe day!

​Candace Merrell
Minerals Revenue Analyst

Office of Natural Resources Revenue

Reference and Reporting Management

303-231-3517

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosure under applicabl

[2020-06-25 18:15] Maroyafaied commented on #206
Thanks, you too!

[2020-06-25 18:15] #206 closed

[2020-06-25 18:19] jillbong79 opened #208 "Online Files"
@jennmalcolm

Glen is sending you an email to explain these online files and requested I start another issue for these.  Please let me know if you have any questions!  Thank you!!

**Online Files:**
[RRM-Form ONRR-2014 Codes onrr website.pdf](https://github.com/ONRR/onrr.gov-site/files/4833116/RRM-Form.ONRR-2014.Codes.onrr.website.pdf)
[RRM-Step- sliding-scale royalty rates.pdf](https://github.com

[2020-06-25 21:17] jennmalcolm commented on #208
the updates are live

[2020-06-25 21:17] #208 closed

[2020-06-26 06:40] lpgoldstein commented on #171
@jennmalcolm think this is a space issue in TOC ![image.png](https://images.zenhubusercontent.com/5c59d3cd7592186396262002/a95e3e0b-da6d-4700-8bb3-5e5b5095f6d0)

[2020-06-26 12:22] jennmalcolm commented on #171
Thanks @lpgoldstein

[2020-06-26 14:26] jillbong79 commented on #171
morning @jennmalcolm

**Here are the files for the Table of Contents replacement chapters:**
[RRM-Chapter 5.pdf](https://github.com/ONRR/onrr.gov-site/files/4837445/RRM-Chapter.5.pdf)
[RRM-Chapter 7.pdf](https://github.com/ONRR/onrr.gov-site/files/4837448/RRM-Chapter.7.pdf)

**Here are the files for the Supplemental Information section:**
[RRM-Appendix B.pdf](https://github.com/ONRR/onrr.gov-site/

[2020-06-26 15:11] #133 closed

[2020-06-26 16:07] jennmalcolm commented on #171
Thanks @jillbong79 I will get these files saved. We are still waiting on chapter 4 and appendix E, correct?

[2020-06-26 16:43] jillbong79 commented on #171
@jennmalcolm you're welcome!  i still have those files coming.  I believe Lydia is finalizing them, and I will load them this evening or Monday morning.  I'm not quite sure when they will be done.  Thanks!  Appreciate ya!

[2020-06-26 16:48] jennmalcolm commented on #171
@jillbong79 @sghahn everything we have should be ready and linked to the table of contents if you want to review it here http://2017onrr/ReportPay/Handbooks/revenue-handbook/index.htm. Do you want us to publish what we have now live to onrr.gov or wait until we receive chapter 4 and appendix E?

[2020-06-26 16:50] jennmalcolm commented on #171
Also, @jillbong79 and @sghahn will we be receiving the full version of the handbook in one pdf? Glen said he would send that too. If not, I'll remove that link on the main handbook page (http://2017onrr/ReportPay/Handbooks/index.htm).

[2020-06-26 16:51] jennmalcolm commented on #133
Looks good, thanks!

[2020-06-26 16:57] jillbong79 commented on #171
@jennmalcolm talking to Glen now.  We don't know the status of 4 or E.  Lydia is supposed to be finishing those today.  Glen says yes to making it live, but we also have an update to Ch. 3.  The full version is a yes, but that won't be available to Tuesday.  Thank you!!

[2020-06-26 17:11] jillbong79 commented on #171
@jennmalcolm
i looked over the link and was wondering if it's possible to click on the hyperlink to the document and get a preview of the doc that a person can scroll through, before downloading the document.  if that makes sense.  if we talked about this already, i apologize.  maybe it's an idea we can do later, but if it's possible, i think it would be helpful.  thanks!!

[2020-06-26 17:15] jennmalcolm commented on #171
@jillbong79 do you mean for the full document? I think that’s the way it will work just like the rest of the PDFs. We just need the document first to link to. I can reword the link to make it clear that you don’t have to download it. I can change it to “view.”

[2020-06-26 17:19] jillbong79 commented on #171
@jennmalcolm yes!  that would be great.  thank you!

[2020-06-26 17:20] jennmalcolm commented on #171
Ok, I changed it to view, but I also removed the link for now and will add it back when we get the document.

[2020-06-26 17:20] sghahn commented on #171
@jennmalcolm and @jillbong79 I am waiting on Glen to reply on the full pdf for the link.

[2020-06-26 17:24] sghahn commented on #171
@jennmalcolm and @jillbong79 Glen said he should have it ready by Monday.  He isn't able to complete it until the final chapters are ready and he verifies that the page numbers for Chapter 3 & 4 are correct on the table of contents.

[2020-06-26 17:24] jillbong79 opened #209 "Solids Minerals Handbook Project"
@jennmalcolm

I will load files for this section of the handbook project at some point today.  I don't have access to the drive they are currently housed.  Thanks!

[2020-06-26 17:26] jennmalcolm commented on #171
Ok, @jillbong79 @sghahn I am waiting on the updates for chapter 3, and when I receive that, I will get what we have published live. Let me know if that plan doesn't work for you all. Thanks.

[2020-06-26 17:35] jillbong79 commented on #171
@jennmalcolm that works.  thank you!

[2020-06-26 17:49] jillbong79 commented on #209
@jennmalcolm
**Solids Operator Handbook Final PDFs:**
[Solid Minerals Chapter 6 - Value Adjustment.pdf](https://github.com/ONRR/onrr.gov-site/files/4838455/Solid.Minerals.Chapter.6.-.Value.Adjustment.pdf)
[Solid Minerals Chapter 7 - Other Obligations.pdf](https://github.com/ONRR/onrr.gov-site/files/4838456/Solid.Minerals.Chapter.7.-.Other.Obligations.pdf)
[Solid Minerals Chapter 8 - Volume-Value A

[2020-06-26 18:36] jennmalcolm commented on #209
@lpgoldstein can you work on replacing these files for the solid minerals handbook? We aren’t changing the structure for this one, just updating the files.

[2020-06-26 19:11] jdougherty913 commented on #204
I realized that the contact us page on onrr.gov needs to be updated as well with the same file I had provided previously provided for the Payments page.
[Doc1.docx](https://github.com/ONRR/onrr.gov-site/files/4838835/Doc1.docx)
[finserAssign.pdf](https://github.com/ONRR/onrr.gov-site/files/4838837/finserAssign.pdf)

[2020-06-26 19:33] lpgoldstein commented on #209
@jillbong79 I notice that there is no updated Chapter 10 or Appendix G included in your attached files. Should we remove the current files from the website?

[2020-06-26 19:35] lpgoldstein commented on #209
@jillbong79 This is ready for your review: http://2017onrr/ReportPay/Handbooks/index.htm#solids-handbook

[2020-06-26 20:46] jillbong79 opened #210 "Production Handbook Replacement Files"
@jennmalcolm

Here are the replacement files Glen sent me today.  I am off till Wednesday, but I will be checking this once a day while off.  Thanks!

[Appendix L - Product Codes wc.docx](https://github.com/ONRR/onrr.gov-site/files/4839187/Appendix.L.-.Product.Codes.wc.docx)
[MPRH-Abbreviations.docx](https://github.com/ONRR/onrr.gov-site/files/4839188/MPRH-Abbreviations.docx)
[Appendix B - Lse Agm

[2020-06-26 20:53] jillbong79 commented on #209
@lpgoldstein looks great; thanks!  I sent it to Glen to review.  Appreciate it!

[2020-06-26 21:44] sghahn commented on #171
Ch. 3 will belong to the (TOC) Table of Contents files.

[RRM-Chapter 3 Electronic 2014.pdf](https://github.com/ONRR/onrr.gov-site/files/4839342/RRM-Chapter.3.Electronic.2014.pdf)
[RRM-Chapter 3 Paper ONRR FORM-2014 Reporting.pdf](https://github.com/ONRR/onrr.gov-site/files/4839343/RRM-Chapter.3.Paper.ONRR.FORM-2014.Reporting.pdf)

This is the one for the Production handbook...

[Appendix L - Prod

[2020-06-26 22:08] jennmalcolm commented on #210
@jillbong79 do you want me to make these into PDFs rather than Word docs?

[2020-06-26 23:26] jennmalcolm commented on #210
I'm going to go ahead and convert them since I think they need to be live today. You can let me know later if something needs to be changed.

[2020-06-27 00:11] jillbong79 commented on #210
thank you!  Lydia is finishing up some docs, so I will send those tonight also.

Sincerely,

Jill Bongiovanni

Office of Natural Resources Revenue

Minerals Revenue Specialist

Production, Reporting & Verification (PRV), Onshore Team 1A

Direct Line: 303-231-3523

Please note **ONRR is bound by lease terms and therefore, pursuant to 30 CFR:  For production reporting of oil, gas and geothermal reso

[2020-06-27 00:27] jennmalcolm commented on #210
Ok, I will make what I have live now and try to check in tomorrow to see if there are more documents to add. Since I do not have all of the production handbook documents, should I change the release version and date on that one?
![image](https://user-images.githubusercontent.com/30806839/85910169-710b8780-b7eb-11ea-8b96-993e5f51e19a.png)

[2020-06-27 00:42] jennmalcolm commented on #209
I noticed that the links in the table of contents don't work. It looks like their relative document links, which means that it would require the user to have downloaded those items and saved them in the same folder for them to work. We also changed the document names so that we could just save over the old versions. I could show someone how to change those table of contents document links to be we

[2020-06-27 01:02] jillbong79 commented on #171
@jennmalcolm

Here is chapter 4 and appendix E.  They have been converted into a pdf.  Please let me know if you need me to do anything to these.  Thanks!
[Chapter 4 (Final Replacement).pdf](https://github.com/ONRR/onrr.gov-site/files/4839755/Chapter.4.Final.Replacement.pdf)
[Appendix E (Final Replacement).pdf](https://github.com/ONRR/onrr.gov-site/files/4839756/Appendix.E.Final.Replacement.pdf)

[2020-06-27 01:05] jillbong79 commented on #209
Sure!  That would be great.  Wanna set up a calendar invite for Wednesday?  We can do teams chat.

Sincerely,

Jill Bongiovanni

Office of Natural Resources Revenue

Minerals Revenue Specialist

Production, Reporting & Verification (PRV), Onshore Team 1A

Direct Line: 303-231-3523

Please note **ONRR is bound by lease terms and therefore, pursuant to 30 CFR:  For production reporting of oil, gas a

[2020-06-27 01:05] jillbong79 commented on #210
Let me ask Lydia about changing the release date.

Sincerely,

Jill Bongiovanni

Office of Natural Resources Revenue

Minerals Revenue Specialist

Production, Reporting & Verification (PRV), Onshore Team 1A

Direct Line: 303-231-3523

Please note **ONRR is bound by lease terms and therefore, pursuant to 30 CFR:  For production reporting of oil, gas and geothermal resources on Federal lands, Indian

[2020-06-27 01:10] jillbong79 commented on #210
I asked Lydia about the release version and date, and they want Release 3.0 and Date 6/25/2020.

Sincerely,

Jill Bongiovanni

Office of Natural Resources Revenue

Minerals Revenue Specialist

Production, Reporting & Verification (PRV), Onshore Team 1A

Direct Line: 303-231-3523

Please note **ONRR is bound by lease terms and therefore, pursuant to 30 CFR:  For production reporting of oil, gas and

[2020-06-27 01:12] jennmalcolm commented on #171
Thanks @jillbong79 all of the files we have now should be live on onrr.gov now. Do the updates to Chapter 4 require any changes to the table of contents? If so, you can let me know next week, and we can take care of it then.

[2020-06-27 01:14] jillbong79 commented on #171
@jennmalcolm

Welcome!  I will ask and let you know.  Appreciate it!  I believe we have 2 more files coming for the production piece in about an hour for Lydia.

[2020-06-27 01:18] jennmalcolm commented on #209
The files should all be live now. I'll set up a meeting about the table of contents. Invite whomever you want.

[2020-06-27 01:22] jillbong79 commented on #209
thank you!!

Sincerely,

Jill Bongiovanni

Office of Natural Resources Revenue

Minerals Revenue Specialist

Production, Reporting & Verification (PRV), Onshore Team 1A

Direct Line: 303-231-3523

Please note **ONRR is bound by lease terms and therefore, pursuant to 30 CFR:  For production reporting of oil, gas and geothermal resources on Federal lands, Indian lands, and in the Outer Continental S

[2020-06-27 15:08] sghahn commented on #171
These are the final changes to the TOC for Ch. 4...

- 4.6.3, change from "6A9" to "6a9"
- 4.6.6, delete "41" and replace with "55"
- 4.10.1, page # should be 4-93
- 4.12.2, Delete line

![image](https://user-images.githubusercontent.com/66125889/85925341-0db63f80-b855-11ea-821c-670dcafa96f2.png)

Glen is completing the printable handbook now.

[2020-06-27 15:21] Maroyafaied commented on #171
Thanks, I'll make those changes.

[2020-06-27 16:25] sghahn commented on #171
Thank you Maroya!!

[2020-06-27 22:15] sghahn commented on #171
Here is the final printable Minerals Revenue Handbook...

Please let us know if there are any questions.

Thank you for all of your support!!

[RRM-Printable Minerals Revenue Handbook.pdf](https://github.com/ONRR/onrr.gov-site/files/4841319/RRM-Printable.Minerals.Revenue.Handbook.pdf)

[2020-06-27 23:01] Maroyafaied commented on #171
Thanks , this is live now. https://www.onrr.gov/ReportPay/Handbooks/index.htm

[2020-06-27 23:45] jennmalcolm commented on #171
Thanks, Maroya!

[2020-06-28 00:56] sghahn commented on #171
Thank you everyone!

[2020-06-29 13:42] jennmalcolm commented on #131
fixed

[2020-06-29 13:42] #131 closed

[2020-06-29 14:59] jennmalcolm commented on #132
fixed

[2020-06-29 14:59] #132 closed

[2020-06-29 15:30] lpgoldstein commented on #204
@jdougherty913 This is ready for your review again: http://2017onrr/about/contact.htm

[2020-06-29 15:33] jdougherty913 commented on #204
Looks good, thank you!

Jennifer Dougherty
Supervisor, Financial Services Team 2
Revenue, Reporting, & Compliance Management
Office of Natural Resources Revenue
Bldg 85, Denver Federal Center
Denver, CO 80225
1-800-433-9801 ext. 3563
303.231.3563
jennifer.dougherty@onrr.gov<mailto:jennifer.dougherty@onrr.gov>

From: lpgoldstein <notifications@github.com>
Sent: Monday, June 29, 2020 9:31 AM
To: ONR

[2020-06-29 15:36] lpgoldstein commented on #204
@jdougherty913 - It should be live soon!

[2020-06-29 15:36] #204 closed

[2020-06-29 15:45] jennmalcolm commented on #210
All files provided were made live on Friday.

[2020-06-29 15:45] #210 closed

[2020-06-29 15:48] #171 closed

[2020-06-29 18:55] jennmalcolm commented on #209
Closing this since all files are live. Once table of contents links are fixed, we can open a new issue to update that.

[2020-06-29 18:55] #209 closed

[2020-06-29 18:56] jennmalcolm opened #211 "New royalty report right nav on bottom"
![image](https://user-images.githubusercontent.com/30806839/86044791-9d581b80-ba18-11ea-9419-18996f70594e.png)

[2020-06-29 22:07] ONRR-31577 opened #212 "Production Reporting References"
On the ONRR.gov home page, please update the five attached Gulf files for the five Gulf files under Production Reporting References. The date should be changed to As of 06/29/20.

Thank you,

[Gulf-Metering-Systems.pdf](https://github.com/ONRR/onrr.gov-site/files/4848271/Gulf-Metering-Systems.pdf)
[Gulf-Sales-Tanks.pdf](https://github.com/ONRR/onrr.gov-site/files/4848272/Gulf-Sales-Tanks.pdf)
[Gul

[2020-06-30 15:09] lpgoldstein commented on #212
@ONRR-31577 this is ready for your review; http://2017onrr/reportpay/references.htm

[2020-06-30 15:19] ONRR-31577 commented on #212
Everything looks good.

Thank you,

Johnny Erle

Office of Natural Resources Revenue (ONRR)
RRM Team 1A
Minerals Revenue Specialist-GVS
john.erle@onrr.gov<mailto:john.erle@onrr.gov>
303-231-3577
800-525-7922  ext.13577
fax: 303-231-3566
________________________________
From: lpgoldstein <notifications@github.com>
Sent: Tuesday, June 30, 2020 11:09 AM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.g

[2020-06-30 15:27] lpgoldstein commented on #212
@ONRR-31577 Change should be live in a bit!

[2020-06-30 15:27] #212 closed

[2020-06-30 15:36] Maroyafaied opened #213 "find another location for physical address change message"
![image](https://user-images.githubusercontent.com/40175688/86142195-279f8e80-bab0-11ea-8556-44146482e2db.png)

[2020-06-30 15:49] ONRR-31577 commented on #212
Thanks!
I just checked and everything looks great!

Johnny Erle

Office of Natural Resources Revenue (ONRR)
RRM Team 1A
Minerals Revenue Specialist-GVS
john.erle@onrr.gov<mailto:john.erle@onrr.gov>
303-231-3577
800-525-7922  ext.13577
fax: 303-231-3566
________________________________
From: lpgoldstein <notifications@github.com>
Sent: Tuesday, June 30, 2020 11:28 AM
To: ONRR/onrr.gov-site <onrr.go

[2020-06-30 16:31] Maroyafaied commented on #135
The map icons are removed.
https://www.onrr.gov/reportpay/prod-checklist.htm

[2020-06-30 16:31] #135 closed

[2020-06-30 16:34] Maroyafaied commented on #213
@jennmalcolm the physical address is already updated in the office location section, I can add to that section the part about visitor parking and who to call to gain entrance. Let me know you thoughts.
https://www.onrr.gov/About/office-locations.htm
 ![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/bb9e1c6b-7c81-4928-8468-33b78d85f03b)

[2020-06-30 16:43] jennmalcolm commented on #213
Yes, I think that works @Maroyafaied

[2020-06-30 18:23] Maroyafaied commented on #142
http://2017onrr/

[2020-06-30 21:17] jpetersononrr opened #214 "URGENT: New Dear Reporter Letter"
I sent the PDF to Jennifer, Lindsay, and Maroya.  We need to post the Dear Reporter letter on ONRR.gov.  The date is being extended to October 1, 2020.  Could you please post the letter here:  https://www.onrr.gov/DearRep.htm

Title:  Extending the Deadline for 2016 Valuation Rule Compliance to 10/01/2020

I believe the Dear Reporter letter section on the homepage is fed from that page automatical

[2020-06-30 21:42] lpgoldstein commented on #214
@jpetersononrr I'm taking care of this right now

[2020-06-30 22:10] lpgoldstein commented on #214
@jpetersononrr This is ready for your review:
http://2017onrr/DearRep.htm
http://2017onrr/

[2020-06-30 22:17] jpetersononrr commented on #214
Hi Lindsay,

The link on this page is wrong.  http://2017onrr/DearRep.htm Looks like the letter link needs an extra “20” to round out “2020”.  And if you could change the date to 06/30/2020 in the table.  Also maybe list updates after you publish? On the home page under the “Dear Reporter” tab.  Thanks for your help!

​Jodie Peterson
Minerals Revenue Specialist
Office of Natural Resources Revenue

[2020-06-30 22:25] lpgoldstein commented on #214
@jpetersononrr I've fixed the dear reporter page https://www.onrr.gov/DearRep.htm and am now working on the press release announcement area on the bottom of the homepage

[2020-06-30 22:27] jpetersononrr commented on #214
That looks good!  Thank you!

​Jodie Peterson
Minerals Revenue Specialist
Office of Natural Resources Revenue
​jodie.peterson@onrr.gov
(303)231-3719

Royalty Valuation - Consistent Answers to Complex Questions

From: lpgoldstein <notifications@github.com>
Sent: Tuesday, June 30, 2020 4:26 PM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.github.com>
Cc: Peterson, Jodie F <Jodie.Peterson@onrr.gov>;

[2020-06-30 22:36] lpgoldstein commented on #214
@jpetersononrr the announcement section at the bottom of the page is should work now too http://2017onrr/#letters

[2020-06-30 22:39] jpetersononrr commented on #214
That looks great!

My only concern is that the links on the announcement box and the dear reporter page start with 2017onrr.  The one on the dear reporter tab at the bottom of the homepage doesn’t work right now because it’s onrr.gov/pdfdoc/ etc.  Which is fine.  But I wanted to check those.  Thanks!

​Jodie Peterson
Minerals Revenue Specialist
Office of Natural Resources Revenue
​jodie.peterson@o

[2020-06-30 22:41] lpgoldstein commented on #214
@jpetersononrr for some reason it's not updating in Chrome but when I copied the link into explorer it worked

[2020-06-30 22:42] lpgoldstein commented on #214
![image](https://user-images.githubusercontent.com/39419003/86184085-a1f00300-baf0-11ea-8db1-32ca64c88bb7.png)
@jpetersononrr

[2020-06-30 22:42] jpetersononrr commented on #214
Ok!  Let’s put it live and we can check it before telling folks!

​Jodie Peterson
Minerals Revenue Specialist
Office of Natural Resources Revenue
​jodie.peterson@onrr.gov
(303)231-3719

Royalty Valuation - Consistent Answers to Complex Questions

From: lpgoldstein <notifications@github.com>
Sent: Tuesday, June 30, 2020 4:41 PM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.github.com>
Cc: Peterson,

[2020-06-30 22:46] lpgoldstein commented on #214
@jpetersononrr I've pushed everything and will keep checking on it until it's live

[2020-06-30 23:04] jpetersononrr commented on #214
Hi!

Looks like the announcement box is the only thing that didn’t change.  Thanks!

​Jodie Peterson
Minerals Revenue Specialist
Office of Natural Resources Revenue
​jodie.peterson@onrr.gov
(303)231-3719

Royalty Valuation - Consistent Answers to Complex Questions

From: lpgoldstein <notifications@github.com>
Sent: Tuesday, June 30, 2020 4:46 PM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.github

[2020-06-30 23:17] jpetersononrr commented on #214
Did you put the homepage live?  Still not seeing the announcement box.

​Jodie Peterson
Minerals Revenue Specialist
Office of Natural Resources Revenue
​jodie.peterson@onrr.gov<mailto:jodie.peterson@onrr.gov>
(303)231-3719

Royalty Valuation - Consistent Answers to Complex Questions

From: Peterson, Jodie F
Sent: Tuesday, June 30, 2020 5:04 PM
To: ONRR/onrr.gov-site <reply@reply.github.com<mailto:

[2020-07-01 04:00] #214 closed

[2020-07-01 16:50] jennmalcolm commented on #142
This is done

[2020-07-01 16:50] #142 closed

[2020-07-01 18:25] jennmalcolm commented on #211
fixed

[2020-07-01 18:25] #211 closed

[2020-07-01 18:56] mcharg commented on #205
Done https://github.com/ONRR/onrr.gov-site/wiki/Analytics

[2020-07-01 18:56] #205 closed

[2020-07-01 19:36] merrellc opened #215 "Webpage Update (Active Leases)"
Please update the following webpage -
http;//www.onrr.gov/reportpay/crossRef.htm with the attached pdf file.

Active Leases - sorted by state and Agency lease number. Please change to read updated 07/01/2020.
[ALwState.pdf](https://github.com/ONRR/onrr.gov-site/files/4860073/ALwState.pdf)

Thank you

[2020-07-01 19:59] lpgoldstein commented on #215
@merrellc this is ready for your review: http://2017onrr/ReportPay/CrossRef.htm

[2020-07-01 20:16] merrellc commented on #215
Looks ready to go. Thank you

​Candace Merrell
Minerals Revenue Analyst

Office of Natural Resources Revenue

Reference and Reporting Management

303-231-3517

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosure under applicable law.  If the reader of this mess

[2020-07-01 23:33] #215 closed

[2020-07-02 13:53] jennmalcolm opened #216 "Plan user testing on new handbook design"

[2020-07-02 15:50] jennmalcolm commented on #197
Completed user scenarios and will work other three items next sprint.

[2020-07-02 15:56] jennmalcolm commented on #134
This is a bigger project than originally anticipated, so we will need to work on it next sprint

[2020-07-02 17:53] forgravec opened #217 "ONRR.gov website - Update NYMEX price June"
I am requesting to update the NYMEX and NYMEX roll prices for June 2020 onto ONRR.gov valuation page.
The prices have been added to the Onedrive "Data for ONRR.gov" spreadsheet. The Excel spreadsheet for uploading to the site is attached.
[NYMEX0620.xlsx](https://github.com/ONRR/onrr.gov-site/files/4865894/NYMEX0620.xlsx)

Thanks,
Cory Forgrave

@sudarr

[2020-07-02 18:54] boices opened #218 "Update July index zone on ONRR.gov"
Please update the July index zone values on the ONRR.gov website. The data can be found in our OneDrive in a spreadsheet called "Data for ONRR.gov" in the first tab "Index-Zones".

@sudarr

Thanks!

[2020-07-02 19:03] lpgoldstein commented on #218
@boices @sudarr This is ready for your review: http://2017onrr/Valuation/allzones.htm

[2020-07-02 19:07] boices commented on #218
@lpgoldstein that looks perfect--thank you!

@sudarr

[2020-07-02 19:25] lpgoldstein commented on #217
@forgravec This is ready for your review: http://2017onrr/Valuation/NYMEX.htm

I had trouble seeing the preview in chrome so had to open it in IE. I promise it's there!

[2020-07-02 19:26] lpgoldstein commented on #218
@boices @sudarr It should be live https://www.onrr.gov/Valuation/allzones.htm

[2020-07-02 19:26] #218 closed

[2020-07-02 19:33] forgravec commented on #217
The prices look good.  Open question though, why do we post the negative roll prices as a double negative?  The parenthesis represent a negative, but we also include the '-' as well.

Cory Forgrave
Economist
Office of Natural Resources Revenue
303-231-3589

________________________________
From: lpgoldstein <notifications@github.com>
Sent: Thursday, July 2, 2020 1:25 PM
To: ONRR/onrr.gov-site <onr

[2020-07-02 19:34] lpgoldstein commented on #217
@forgravec I have no idea....is that what it always looks like? I'm just copying and pasting into a file.

[2020-07-02 19:46] lpgoldstein commented on #217
@forgravec It's live! https://www.onrr.gov/Valuation/NYMEX.htm Have a good weekend!

[2020-07-02 19:46] #217 closed

[2020-07-02 19:49] forgravec commented on #217
No worries...it has been like that and so I just chose not to raise the question until now.

Cory Forgrave
Economist
Office of Natural Resources Revenue
303-231-3589

________________________________
From: lpgoldstein <notifications@github.com>
Sent: Thursday, July 2, 2020 1:34 PM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.github.com>
Cc: Forgrave, Cory J <Cory.Forgrave@onrr.gov>; Mention <ment

[2020-07-06 11:41] jennmalcolm commented on #217
I have wondered about that too. That's just the formatting that they originally set up, but I would agree we should change that. We can put in an issue to work on that formatting. Would you want just the parentheses or just the minus sign?

[2020-07-06 14:33] forgravec commented on #217
We are going to keep the '-' sign and remove the parenthesis.  Would you like me to open a new request?

Robert also would like for the text of the negative  Roll numbers to be red and positive to be black (currently they are blue) In addition we would change the NYMEX prices to be black as well (currently they are green).

Cory Forgrave
Economist
Office of Natural Resources Revenue
303-231-3589

[2020-07-06 14:36] jennmalcolm commented on #217
Thanks @forgravec. I'll open an issue, and we'll work on it this sprint (next 2 weeks). We'll let you know when the changes are ready to review.

[2020-07-06 14:38] forgravec commented on #217
Thanks, I appreciate it.

Cory Forgrave
Economist
Office of Natural Resources Revenue
303-231-3589

________________________________
From: Jennifer Malcolm <notifications@github.com>
Sent: Monday, July 6, 2020 8:36 AM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.github.com>
Cc: Forgrave, Cory J <Cory.Forgrave@onrr.gov>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-s

[2020-07-06 14:40] jennmalcolm opened #219 "Changes to NYMEX formatting"
For negative numbers, keep the '-' sign and remove the parenthesis.

Also,  the text of the negative Roll numbers to be red and positive to be black (currently they are blue) In addition we would change the NYMEX prices to be black as well (currently they are green).

[2020-07-06 14:44] jennmalcolm commented on #219
@forgravec it looks like they probably made the NYMEX and roll prices green and blue to correspond to the colors on the line graph. We can look at adding labels to those lines or creating a legend for the graph or something else... Let us know if your team has ideas about how to make it clear what those lines represent if we're changing the text color?

![image](https://user-images.githubuserconte

[2020-07-06 14:48] forgravec commented on #219
I think a legend would be best. Is that graph automatically created within the code of the website? Or is it copied and pasted in?

I will ask Robert his thoughts and get back with you.

Cory Forgrave
Economist
Office of Natural Resources Revenue
303-231-3589

________________________________
From: Jennifer Malcolm <notifications@github.com>
Sent: Monday, July 6, 2020 8:44 AM
To: ONRR/onrr.gov-sit

[2020-07-06 14:57] forgravec commented on #219
Robert says a legend would be fine to add to the graph.

Cory Forgrave
Economist
Office of Natural Resources Revenue
303-231-3589

________________________________
From: Forgrave, Cory J <Cory.Forgrave@onrr.gov>
Sent: Monday, July 6, 2020 8:48 AM
To: ONRR/onrr.gov-site <reply@reply.github.com>
Subject: Re: [EXTERNAL] Re: [ONRR/onrr.gov-site] Changes to NYMEX formatting (#219)

I think a legend wou

[2020-07-06 15:23] jennmalcolm commented on #219
It is automatically created through the code, so we'll get one of our developers to help us look into how to improve it and add a legend. Thanks.

[2020-07-06 17:49] StaceyKaiser opened #220 "New file for onrr.gov"
Please replace the existing file located at: http://www.onrr.gov/ReportPay/CrossRef.htm called “Downloadable Text Cross-Reference Lease to Agreement Number” with the file entitled “July 2020 Lease Agreement XREF.txt”.  It was queried from the system on 7/6/2020.
[July 2020 Lease Agreement XREF.txt](https://github.com/ONRR/onrr.gov-site/files/4880452/July.2020.Lease.Agreement.XREF.txt)

[2020-07-06 18:27] merrellc opened #221 "Webpage Updates (Cross Reference Lease to Agreement)"
Please update the following webpage http://www.onrr.gov/ReportPay/CrossRef.htm

Cross-Reference Lease to Agreemnt Numbers sorted by Agreement Name
Cross-Reference Lease to Agreement Numbers sorted by Agreemnt Number
Cross-Refernce Lease to Agreemnt Numbers sorted by Lease Number
with the attached PDF files.  Please also update to 07/01/2020 for all three files.
Thank you
[CRAName.pdf](https://gith

[2020-07-06 18:32] merrellc opened #222 "Web Page-Federal Onshore Terminable Leases"
Please updated the following webpage http://www.onrr.gov/ReportPay/royalty-reporting.htm with the attached PDF file:
Federal Onshore Terminable leases-sorted by Due Date. Also update to 07/01/2020.

Thank you

[FLTerm.pdf](https://github.com/ONRR/onrr.gov-site/files/4880647/FLTerm.pdf)

[2020-07-06 18:54] StaceyKaiser commented on #220
Our methodology says to send an email to the onrrweb@onrr.gov mailbox after we submit this change to GitHub.  Is the email necessary or should I amend our methodology to eliminate the email step?

[2020-07-06 19:03] jennmalcolm commented on #220
That email is not necessary. Just submitting on GitHub is great. Thanks!

[2020-07-06 20:45] Maroyafaied commented on #220
@StaceyKaiser please review the changes on the development site link below, if everything looks correct then I will push it to the live site. Thanks

 http://2017onrr/reportpay/CrossRef.htm

[2020-07-06 21:31] merrellc opened #223 "Webpage Updage (Active Agreements)"
Please update the following webpage:
http://www.onrr.gove/ReportPay/CrossRef.htm
1. Active Agreements - sorted by state and Agreement name.
2. Active Agreements - sorted by State and Agency Agreement Number.
with the attached PDF files.  Please also change updated to 07/01/2020 for both files.

Thank you
[saaname.pdf](https://github.com/ONRR/onrr.gov-site/files/4881290/saaname.pdf)
[saanum.pdf](ht

[2020-07-06 21:31] StaceyKaiser commented on #220
@Maroyafaied the file on the development site looks good.  Thank you!

[2020-07-06 21:47] Maroyafaied commented on #220
This is live now. Thanks

[2020-07-06 21:47] #220 closed

[2020-07-07 00:30] lpgoldstein commented on #222
@merrellc this is ready for your review: http://2017onrr/ReportPay/royalty-reporting.htm

[2020-07-07 00:36] lpgoldstein commented on #221
@merrellc this is ready for your review: http://2017onrr/ReportPay/CrossRef.htm

[2020-07-07 00:41] lpgoldstein commented on #223
@merrellc this is ready for your review: http://2017onrr/ReportPay/CrossRef.htm

[2020-07-07 14:13] merrellc commented on #222
Reviewed and ready to go.

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosure under applicable law.  If the reader of this message is not the intended recipient or the employee or agent responsible for delivering this message to the intended recipient, you are

[2020-07-07 14:13] merrellc commented on #221
Reviewed and ready to go.

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosure under applicable law.  If the reader of this message is not the intended recipient or the employee or agent responsible for delivering this message to the intended recipient, you are

[2020-07-07 14:14] merrellc commented on #223
Reviewed and ready to go.

Thank you

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosure under applicable law.  If the reader of this message is not the intended recipient or the employee or agent responsible for delivering this message to the intended recipie

[2020-07-07 15:22] Maroyafaied commented on #213
We added the information in the office location page under the Denver section.  https://www.onrr.gov/About/office-locations.htm

[2020-07-07 15:22] #213 closed

[2020-07-07 16:02] forgravec opened #224 "Map additions to Indian Gas Index and Indian Gas Major Portion"
We have new maps created for the Indian Gas Index Zone and Indian Gas Major Portion prices areas and would like to make them available on the Valuation web pages similar to the Indian Oil Major Portion that is available.

For the Indian Index Zone map, if you could place it below the "Index Zones" that are located on the right side of the page, that would be good.  The oil map is a hyperlink title

[2020-07-07 16:27] lpgoldstein commented on #223
@merrellc it's live.

[2020-07-07 16:27] #223 closed

[2020-07-07 16:28] lpgoldstein commented on #222
@merrellc it's live!

[2020-07-07 16:28] #222 closed

[2020-07-07 16:28] lpgoldstein commented on #221
@merrellc it's on the live site

[2020-07-07 16:28] #221 closed

[2020-07-07 16:36] forgravec commented on #224
Jennifer,
I missed a map that Robert would like to be updated as well; the Indian Oil Major Portion map. There is currently a map on that webpage at the bottom under "Refereces", but we have a new version of it.
Thanks,
Cory
[Indian_Oil_Major_Portion_Map.pdf](https://github.com/ONRR/onrr.gov-site/files/4886022/Indian_Oil_Major_Portion_Map.pdf)

@sudarr

[2020-07-07 19:10] badeh opened #225 "Late Payment & Underpayment Interest Tables"
Please make the following updates.
Replace the Interest Calculator Excel file below the blue line on the page; I will email the Excel file to you.  The file name is the same; the content is updated.
Add a new line at the bottom of the Late Payments and Underpayments table for Period 07/1/2020 - 09/30/2020. Update Indian Oil & Gas Leases and Federal Oil and Gas Leases to 3.000%, Federal and Indian

[2020-07-07 19:20] jennmalcolm commented on #224
@forgravec, these are ready for your review:
http://2017onrr/Valuation/MonMajPP.htm
http://2017onrr/Valuation/allzones.htm
http://2017onrr/Valuation/IndianOilIBMP.htm

[2020-07-07 20:10] jennmalcolm commented on #225
@badeh you could email us at onrrweb@onrr.gov

[2020-07-08 13:38] jennmalcolm opened #226 "change name on checklist"
https://www.onrr.gov/ReportPay/prod-checklist.htm; under Onshore Production Reporters change Eugenia (Jeannie) Lynn to Justin Hatfield, 303-231-3886, Justin.hatfield@onrr.gov

This is from Service Now. If you make the changes in dev, I will review them, and then we can publish.

[2020-07-08 14:30] forgravec commented on #224
Jennifer,

They all look good, with one minor picky change.  For the "Indian Gas Major Portion map" will you capitalize 'Gas Major Portion' so that it matches the Indian Gas Index Zone one?

I haven't heard from Robert yet, but I think it looks great.

Thanks,
Cory Forgrave
Economist
Office of Natural Resources Revenue
303-231-3589

________________________________
From: Jennifer Malcolm <notifica

[2020-07-08 14:50] jennmalcolm commented on #224
Yes @forgravec I can change the capitalization. Do you want me to wait to make it live until Robert reviews it, or should I push these changes to production now?

[2020-07-08 14:55] forgravec commented on #224
I heard back from Robert and he thought they looked good and was in agreement on the capitalization.  So you are good for pushing them through.

Kind regards,
Cory Forgrave
Economist
Office of Natural Resources Revenue
303-231-3589

________________________________
From: Jennifer Malcolm <notifications@github.com>
Sent: Wednesday, July 8, 2020 8:50 AM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.

[2020-07-08 14:58] lpgoldstein commented on #226
@jennmalcolm this is ready for your review: http://2017onrr/reportpay/prod-checklist.htm

[2020-07-08 15:42] jennmalcolm commented on #224
These maps are live on onrr.gov now.

[2020-07-08 15:42] #224 closed

[2020-07-08 15:53] jennmalcolm commented on #226
Looks good. I moved i to the center because the alignment bothered me, but its good to go! Thanks.

[2020-07-08 15:54] forgravec commented on #224
Thanks for completing this so fast.

Cory Forgrave
Economist
Office of Natural Resources Revenue
303-231-3589

________________________________
From: Jennifer Malcolm <notifications@github.com>
Sent: Wednesday, July 8, 2020 9:42 AM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.github.com>
Cc: Forgrave, Cory J <Cory.Forgrave@onrr.gov>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [O

[2020-07-08 17:06] Maroyafaied commented on #225
@badeh I have made the requested changes to the table and will update the spread sheet once we receive it. http://2017onrr/ReportPay/interest.htm

[2020-07-08 17:26] badeh commented on #225
Thank you!

Please find attached the Interest Calculator spreadsheet.

​Hannah Bade
Office of Natural Resources Revenue
Financial Management/Financial Services
(303) 231-3373
Hannah.Bade@onrr.gov

________________________________
From: Maroyafaied <notifications@github.com>
Sent: Wednesday, July 8, 2020 11:07 AM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.github.com>
Cc: Bade, Hannah F <Hannah.B

[2020-07-08 17:52] Maroyafaied commented on #225
@badeh it looks like the file didn't attach, I send you an email. Thanks

[2020-07-08 18:00] #226 closed

[2020-07-08 18:53] Maroyafaied commented on #225
@badeh please review if everything looks correct on the development site. http://2017onrr/ReportPay/interest.htm

[2020-07-08 20:34] Maroyafaied commented on #225
The requester approved the changes.

[2020-07-08 20:34] #225 closed

[2020-07-08 21:20] merrellc opened #227 "Webpage Update (100% Fed Agrmt)"
Please update the following webpage http://www.onrr.gov/ReportPay/royalty-reporting.htm with the attached PDF file.

100% Federal Agreements with the Same Royalty Rate & Royalty Distributions.  Also change update to read 07/01/2020.

Thanks
[fedagmts.pdf](https://github.com/ONRR/onrr.gov-site/files/4893309/fedagmts.pdf)

[2020-07-09 14:24] Maroyafaied commented on #227
@merrellc please review the updates in the development site, if everything looks correct then I will publish it to the live site. http://2017onrr/ReportPay/royalty-reporting.htm

[2020-07-09 14:38] merrellc commented on #227
Thank you. You can publish to live site.

[2020-07-09 15:13] Maroyafaied commented on #227
This is live now.

[2020-07-09 15:13] #227 closed

[2020-07-09 17:53] jennmalcolm opened #228 "Plan/process for checking accessibiliy on new PDFs"
Making all documents on onrr.gov accessible will be huge (#128), but let's think about putting a process in place to check new documents provided to us and how to work with the document owners to make sure anything new we post is accessible.

[2020-07-09 20:23] jennmalcolm commented on #228
come up with action plan to present to Kimbra and Howard

[2020-07-13 11:41] jennmalcolm opened #229 "Changes to civil penalties page"
Source Link:
https://www.onrr.gov/compliance/civil-penalties.htm

The following changes are requests:
1.)	The civil penalty amounts have adjusted to the new higher amounts (listed in bold and underline). Please update with these amounts.
2.)	Please change the current link to a .PDF in the second paragraph (in bold and underline) to link to the GPO.gov “E-CFR” site at:
3.)	https://www.ecfr.gov/cgi-

[2020-07-13 16:28] jennmalcolm commented on #229
changes are live

[2020-07-13 16:28] #229 closed

[2020-07-13 19:29] jennmalcolm opened #230 "Remove names from OGOR Reporting Instructions CSV and ASCII"
See shared email box to have requester review.

Please see attachments for OGOR Reporting Instructions CSV and ASCII - https://www.onrr.gov/ReportPay/production-reporting.htm - under Sample Layouts.  Christina Garcia and Denise McGee need to be removed as contacts. Denise retired, Christina went to another department.

[https://app.zenhub.com/files/210892300/4bcf7f80-3d48-487b-89e5-329d705823c1/do

[2020-07-14 18:00] jennmalcolm commented on #219
Hi @forgravec could you please review the changes in dev?

http://2017onrr/Valuation/NYMEX.htm

[2020-07-14 19:37] forgravec commented on #219
Jennifer,

Overall the color of the prices look good but in the formatting can a '0' be added for the hundreds position in the price...for instance instead of $78.4 have it $78.40?

Thanks!
Cory Forgrave
Economist
Office of Natural Resources Revenue
303-231-3589

________________________________
From: Jennifer Malcolm <notifications@github.com>
Sent: Tuesday, July 14, 2020 12:01 PM
To: ONRR/onrr.g

[2020-07-14 19:44] jennmalcolm commented on #219
Yes, I made that change @forgravec. Let me know if it's ready to go live.

[2020-07-14 20:00] forgravec commented on #219
Is there  a new link to see the change? Using the prior link you sent I am not seeing the change. This is what I am seeing...
[cid:495fe819-372c-4d05-aed1-9ec0bbe017d1]

Thanks,
Cory Forgrave
Economist
Office of Natural Resources Revenue
303-231-3589

________________________________
From: Jennifer Malcolm <notifications@github.com>
Sent: Tuesday, July 14, 2020 1:45 PM
To: ONRR/onrr.gov-site <onrr

[2020-07-14 20:04] jennmalcolm commented on #219
@forgravec It's the same link. You may need to clear your cache. Try pressing ctrl and F5 or viewing it in another browser.

[2020-07-14 20:10] forgravec commented on #219
That worked. The prices look good.

Cory Forgrave
Economist
Office of Natural Resources Revenue
303-231-3589

________________________________
From: Jennifer Malcolm <notifications@github.com>
Sent: Tuesday, July 14, 2020 2:04 PM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.github.com>
Cc: Forgrave, Cory J <Cory.Forgrave@onrr.gov>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [ONR

[2020-07-14 20:51] jennmalcolm commented on #219
The changes are live now.

[2020-07-14 20:51] #219 closed

[2020-07-14 20:52] forgravec commented on #219
Thanks!

Cory Forgrave
Economist
Office of Natural Resources Revenue
303-231-3589

________________________________
From: Jennifer Malcolm <notifications@github.com>
Sent: Tuesday, July 14, 2020 2:51 PM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.github.com>
Cc: Forgrave, Cory J <Cory.Forgrave@onrr.gov>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] Changes to

[2020-07-15 00:14] damionschulte opened #231 "June 2020 IBMP Prices"
All I have updated the onrr.gov sheet on the one drive and the prices are ready to be published,  Please let me know when they are ready for review.  Thanks

@sudarr

[2020-07-15 11:50] jennmalcolm commented on #231
The prices are ready for your review @damionschulte.

http://2017onrr/Valuation/IndianOilIBMP.htm

[2020-07-15 12:13] damionschulte commented on #231
Prices look good.  Thank you

From: Jennifer Malcolm <notifications@github.com>
Sent: Wednesday, July 15, 2020 5:51 AM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.github.com>
Cc: Schulte, Damion C <Damion.Schulte@onrr.gov>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] June 2020 IBMP Prices (#231)

 This email has been received from outside of DOI - Use cautio

[2020-07-15 13:51] jennmalcolm commented on #231
The prices are live.

[2020-07-15 13:51] #231 closed

[2020-07-15 15:29] jennmalcolm commented on #216
Can talk to Glen for people to interview.

[2020-07-15 17:16] lpgoldstein commented on #134
@jennmalcolm I have all of the information in dev but I"m stuck on formatting if you want to take a look. file://iondeniisp01/ONRR2017/reportpay/payments.htm

[2020-07-16 18:15] #197 closed

[2020-07-16 18:15] lpgoldstein opened #232 "Add product framing document to github wiki"

[2020-07-16 20:34] jennmalcolm commented on #230
@lpgoldstein the requester sent a message to our shared box that the CSV file wasn't updated (see below), so I'm reopening.

I noticed on the ONRR.Gov website that the ASCII Record Layout was updated, but the CSV Record Layout was not updated.  Snippets are below.  I sent attachments for both ASCII and CSV.  Let me know if I need to go through GitHub.  I appreciate your help.
![image](https://user

[2020-07-16 20:39] lpgoldstein commented on #230
@jennmalcolm It seems to be correct in explorer?  https://www.onrr.gov/ReportPay/PDFDocs/OGOR-REPORTING-INSTRUCTIONS-ASCII-FORMAT.pdf

[2020-07-17 19:14] #230 closed

[2020-07-21 03:00] lpgoldstein commented on #232
@jennmalcolm @mcharg @Maroyafaied This is ready for your review: https://github.com/ONRR/onrr.gov-site/wiki/Product-framing

[2020-07-21 13:09] mcharg commented on #232
@lpgoldstein We might want to order the risks in order of criticality.  Otherwise, looks good.

[2020-07-22 17:17] badeh opened #233 "Late Payment & Underpayment Interest Tables"
Good morning,
A correction needs to be made to the last sentence of the second paragraph.

Current: Overpayment interest on oil and gas leases is calculated as compound interest using the Federal short-term rate plus 1 percentage point.

New: Overpayment interest on oil and gas leases is calculated as compound interest using the Federal short-term rate plus 2 percentage point.

Please let me know

[2020-07-23 16:13] Maroyafaied commented on #216
Here is an attempt draft for the plan, I spoke with Glen about task ideas and he will get back to me next week.
 https://doimspp-my.sharepoint.com/personal/mchargs_mms_gov/_layouts/15/doc.aspx?sourcedoc={1c9e364c-6571-49ef-b601-06de87ef89c1}&action=edit

[2020-07-23 16:38] mcharg commented on #216
@Maroyafaied Looks good!  I added a couple of comments.

[2020-07-23 18:23] Maroyafaied commented on #216
@mcharg Thanks, I'll add Glenn's tasks once he sends them. @jennmalcolm please review when you have time.

[2020-07-27 16:20] lpgoldstein commented on #233
@jennmalcolm This is ready for your review: file://iondeniisp01/ONRR2017/reportpay/interest.htm

[2020-07-27 16:24] jennmalcolm commented on #233
@badeh could you please review your changes in development: http://2017onrr/ReportPay/interest.htm?

Thanks

[2020-07-27 16:30] badeh commented on #233
Looks good Jennifer. Please publish to production.

Thank you,

​Hannah Bade
Office of Natural Resources Revenue
Financial Management/Financial Services
(303) 231-3373
Hannah.Bade@onrr.gov

________________________________
From: Jennifer Malcolm <notifications@github.com>
Sent: Monday, July 27, 2020 10:25 AM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.github.com>
Cc: Bade, Hannah F <Hannah.Bade@

[2020-07-27 16:36] jennmalcolm commented on #233
@lpgoldstein please push to production. Thanks.

[2020-07-27 17:51] mcharg commented on #180
Metrics (limited access): https://doimspp-my.sharepoint.com/:w:/r/personal/mchargs_mms_gov/_layouts/15/Doc.aspx?sourcedoc=%7B070886F4-ECA3-41F6-80E4-9A6C19501F01%7D&file=ONRR.gov%20Metrics%20FY2020.docx&action=default&mobileredirect=true

[2020-07-27 17:51] #180 closed

[2020-07-27 18:01] lpgoldstein commented on #233
@badeh The change is now live https://www.onrr.gov/ReportPay/interest.htm

[2020-07-27 18:06] badeh commented on #233
Perfect. Thank you,

​Hannah Bade
Office of Natural Resources Revenue
Financial Management/Financial Services
(303) 231-3373
Hannah.Bade@onrr.gov

________________________________
From: lpgoldstein <notifications@github.com>
Sent: Monday, July 27, 2020 12:01 PM
To: ONRR/onrr.gov-site <onrr.gov-site@noreply.github.com>
Cc: Bade, Hannah F <Hannah.Bade@onrr.gov>; Mention <mention@noreply.github.com>

[2020-07-27 18:21] #233 closed

[2020-07-29 15:26] #232 closed

[2020-07-29 21:03] ONRRamandagarrison opened #234 "URGENT (TIME SENSITIVE): Update to IESC page on onrr.gov"
On the page:  https://www.onrr.gov/IndianServices/indian-energy-service-center.htm

The following information and attachment need to be added by **8AM MT on Thursday, 7/30/20** if possible. This notice will allow trust beneficiaries to contact the Fort Berthold Agency to attend the webex training.

[Dear Landowers Letter ROW Market Analysis.pdf](https://github.com/ONRR/onrr.gov-site/files/4997417/