[2021-07-07 15:36] Maroyafaied commented on #810
This is live.

[2021-07-07 15:36] #810 closed

[2021-07-07 17:29] merrellc opened #812 "Webpage update - Active Leases"
Please update the the following webpage -
http://www.onrr.gov/ReportPay/CrossRef.htm with the attached .pdf file.

Active Leases - sorted by State and Agency Lease Number. Please change update to read updated 07/01/2021.

Thank you

[ALwState.xlsx](https://github.com/ONRR/onrr.gov-site/files/6779014/ALwState.xlsx)

[2021-07-07 17:36] merrellc opened #813 "Webpage - Federal Onshore Terminable Leases"
Please update the following webpage http:/www.onrr.gov/ReportPay/royalty-reporting.htm with the attached PDF file:

Federal Onshore Terminable Leases-sorted by Due Date. Also change update to read updated 07/01/2021.

Thank you
[20210701.xlsx](https://github.com/ONRR/onrr.gov-site/files/6779050/20210701.xlsx)

[2021-07-07 17:50] merrellc opened #814 "Webpage update - Active Agreements"
Please update the following webpage -
http://www.onrr.gov/ReportPay/CrossRef.htm

Active Agreement - sorted by State and Agreement name with the attached PDF file. Also change updated to read updated 07/01/2021.

Thank you
[Active Agreements sorted by Agreement Name.xlsx](https://github.com/ONRR/onrr.gov-site/files/6779118/Active.Agreements.sorted.by.Agreement.Name.xlsx)

[2021-07-07 17:59] Maroyafaied commented on #812
@meshanw this doc is accessible.

[2021-07-07 17:59] Maroyafaied commented on #813
@meshanw this doc is accessible.

[2021-07-07 17:59] Maroyafaied commented on #814
@meshanw this doc is accessible.

[2021-07-07 18:27] Maroyafaied commented on #679
@jnwang01 It's not letting me comment in axure but I think it's better for this sentence to move down after the lease creation box. ![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/82df1da9-a8d5-4c9b-976f-327e3ca87562)

[2021-07-07 21:40] meshanw commented on #813
@merrellc Please review http://2017onrr/reportpay/royalty-reporting.htm

[2021-07-07 21:46] meshanw commented on #814
@merrellc Please review http://2017onrr/reportpay/CrossRef.htm

[2021-07-07 22:37] merrellc commented on #812
Review completed.

Thank you
​Candace Merrell
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3517
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclos

[2021-07-07 22:37] merrellc commented on #813
Review completed.

Thank you
​Candace Merrell
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3517
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclos

[2021-07-07 22:37] merrellc commented on #814
Review completed.

Thank you
​Candace Merrell
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3517
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclos

[2021-07-08 14:23] meshanw commented on #813
Changes pushed to live site.

[2021-07-08 14:23] #813 closed

[2021-07-08 14:23] meshanw commented on #812
Changes pushed to live site.

[2021-07-08 14:23] #812 closed

[2021-07-08 14:23] meshanw commented on #814
Changes pushed to live site.

[2021-07-08 14:23] #814 closed

[2021-07-08 14:37] jnwang01 commented on #679
https://nrezre.axshare.com here is the updated lease diagram, switched to use tab and card visuals

[2021-07-08 14:52] daniel-coleman-1 commented on #811
Approved by requestor & pushed to live.

[2021-07-08 14:52] #811 closed

[2021-07-08 17:38] Maroyafaied opened #815 "Remove doc - Phase 2"
Patty Damon asked for this doc to be removed from the website.

https://www.onrr.gov/ReportPay/PDFDocs/Data_Warehouse_Password_Reset.pdf

[2021-07-08 17:41] #801 closed

[2021-07-08 17:41] Maroyafaied commented on #801
I emailed all the program managers that have remaining docs in phase 2.

[2021-07-08 20:57] Maroyafaied commented on #807
Notes to myself

- Reassign reporter letter to RRM that RV identified as not theirs
- Email Joe Coleman, Michael Marchetti, Christina Mathers and Rob Winter
- Look for issue from RV on docs they want to remove

[2021-07-09 14:52] Maroyafaied opened #816 "Remove doc - Phase 2 Rob Winter"
https://www.onrr.gov/ReportPay/PowerPoints/ORPS_FM_All_Hands.pptx

[2021-07-09 15:38] #816 closed

[2021-07-09 15:38] Maroyafaied commented on #816
Removed and updated tracking sheet.

[2021-07-09 15:45] #815 closed

[2021-07-09 15:45] Maroyafaied commented on #815
Removed and updated in tracking sheet. I couldn't delete the file from the folder for some reason but I took the link out of the website.

[2021-07-09 16:39] daniel-coleman-1 commented on #713
[AltText.07.09.docx](https://github.com/ONRR/onrr.gov-site/files/6792792/AltText.07.09.docx)

Here is a start @mcharg @arcasarana

I couldn't get the Determining Geothermal Lease page to load in Axshare, will revisit Monday.

[2021-07-09 21:03] StaceyKaiser opened #817 "Webpage Update - New Lease Agreement XREF file for onrr.gov"
Please replace the existing file located at: http://www.onrr.gov/ReportPay/CrossRef.htm called “Downloadable Text Cross-Reference Lease to Agreement Number” with the file entitled “June 2021 Lease Agreement XREF.xlsx”.  It was queried from the system on 7/9/2021.
[July 2021 Lease Agreement XREF.xlsx](https://github.com/ONRR/onrr.gov-site/files/6793916/July.2021.Lease.Agreement.XREF.xlsx)

[2021-07-12 14:59] mcharg commented on #679
@jnwang01 Is this page the latest? https://nrezre.axshare.com/#id=7xvuey&p=page_1&g=14

[2021-07-12 15:11] mcharg commented on #679
@jnwang01 I made comments in AxShare.  If you send me the Axure file, I can make edits if you don't have time.

[2021-07-12 16:32] merrellc opened #818 "Webpage Update - 100% Fed Agrmt"
Please update the following webpage http://www.onrr.gov/ReportPay/royalty-reporting.htm with the attached PDF file.

100% Federal Agreements with the Same Royalty Rate & Royalty Distributions  Also change updated to read 07/01/2021.

Thank you
[100pct fed agreements.xlsx](https://github.com/ONRR/onrr.gov-site/files/6802977/100pct.fed.agreements.xlsx)

[2021-07-12 16:44] CM805 commented on #744
@Maroyafaied I have not heard back.  Can you please follow up with Rob?

[2021-07-12 16:44] Maroyafaied commented on #817
@StaceyKaiser please review http://2017onrr/ReportPay/CrossRef.htm

[2021-07-12 16:47] Maroyafaied commented on #818
@daniel-coleman-1 this doc is accessible , please update in dev and post live after review is approved. Thanks

[2021-07-12 16:50] Maroyafaied commented on #744
@CM805 I just send an email following up. Thanks

[2021-07-12 19:03] mcharg commented on #713
@daniel-coleman-1 Can you please put the doc in Teams, so we can edit collaboratively?

[2021-07-12 21:03] Maroyafaied commented on #807
Email Bob Kronebush and Bill Blackburn

[2021-07-12 21:50] Maroyafaied opened #819 "Remove Docs (3) & Run accessibility report (1) for Heidi in Phase 3"
Please remove the 3 docs identified in the excel sheet to be removed and run accessibility report for the doc they identified as to be corrected and send to evelyn.shropshire@onrr.gov

https://doimspp-my.sharepoint.com/:x:/r/personal/mchargs_mms_gov/_layouts/15/Doc.aspx?sourcedoc=%7BA2233ADB-0155-46B9-8C98-6B719CC3C7FD%7D&file=Phase%203%20-%20Heidi%20Badaracco.xlsx&action=default&mobileredirect=tr

[2021-07-12 22:05] damionschulte opened #820 "June 2021 IBMP Prices"
All, I have updated the onrr.gov sheet on the OneDrive with the June 2021 IBMP prices. Can you please have them posted to the website?  Thank you

[2021-07-13 04:08] jnwang01 commented on #679
https://nrezre.axshare.com here is the updated link. I'm not sure about the geothermal, is there somewhere I can get the info?

[2021-07-13 12:45] Maroyafaied commented on #820
@damionschulte please review http://2017onrr/valuation/IndianOilIBMP.htm

[2021-07-13 12:48] Maroyafaied opened #821 "Collection: Pricing"
When adding pricing as a collection in the CMS , we should base it off of this excel sheet the pricing team updates monthly for updates on the webpage.

https://doimspp-my.sharepoint.com/:x:/r/personal/sudarr_mms_gov/_layouts/15/Doc.aspx?sourcedoc=%7B610913F6-CC44-4222-8521-FAD9EA5FEB0E%7D&file=Data%20for%20ONRR.gov.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&ct=1626180224678&wdOrigi

[2021-07-13 12:59] damionschulte commented on #820
Hye Maroya,  it looks like some of the prices at the top of the list were cut off (list below) can you see if something went wrong or am I not seeing something?  Thanks
Alabama/Coushatta
Blackfeet
Crow
Fort Peck
Jicarilla Apache

From: Maroyafaied ***@***.***>
Sent: Tuesday, July 13, 2021 6:46 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Schulte, Damion C ***@***.***>; Mention ***@***.***>
Subject:

[2021-07-13 13:01] mcharg commented on #679
@jnwang01 You can pull something about geothermal from here: https://qmcq5k.axshare.com/#id=up0lnh&p=geothermal

[2021-07-13 13:03] mcharg commented on #679
@jnwang01 When you click on the tabs, it reverts to the old wording.
![image](https://user-images.githubusercontent.com/38465926/125456300-29af87c2-54d4-42a6-8427-14948cb7759d.png)

[2021-07-13 13:07] damionschulte commented on #820
These look perfect!  Thank you.

From: Maroyafaied ***@***.***>
Sent: Tuesday, July 13, 2021 7:04 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Schulte, Damion C ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] June 2021 IBMP Prices (#820)

 This email has been received from outside of DOI - Use caution before clicking on links, opening attachments, or responding.

@dam

[2021-07-13 14:23] StaceyKaiser commented on #817
File looks good. Please move to the live site.  Thanks!

[2021-07-13 14:27] merrellc commented on #818
Approved. Thanks

Thank you
​Candace Merrell
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3517
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosu

[2021-07-13 15:33] Maroyafaied commented on #820
This is live.

[2021-07-13 15:33] #820 closed

[2021-07-13 15:34] Maroyafaied commented on #817
This is live.

[2021-07-13 15:34] #817 closed

[2021-07-13 15:35] Maroyafaied commented on #818
@merrellc I don't think @daniel-coleman-1 has made the changes in the dev site. @daniel-coleman-1 can you please update the doc in dev and send @merrellc the link to review? Thanks

[2021-07-13 17:05] daniel-coleman-1 commented on #818
@merrellc changes are implemented in dev here:
http://2017onrr/reportpay/royalty-reporting.htm

with your approval I will push changes live.

[2021-07-13 17:30] mcharg commented on #808
Instructions for onrr.gov analytics:
https://github.com/ONRR/onrr.gov-site/wiki/Analytics-Templates-&-Instructions

[2021-07-13 17:48] merrellc commented on #818
Approve.

Thank you
​Candace Merrell
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3517
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosure under

[2021-07-13 19:56] daniel-coleman-1 commented on #818
@merrellc @Maroyafaied
We are live!

[2021-07-13 19:56] #818 closed

[2021-07-13 20:14] mcharg commented on #760
@jnwang01's first pass.
https://qh1m7w.axshare.com/

Related feedback:

- I think the image works well.  I wonder if we can get an accessible overlay of the text on the image where it's a single image it'll be overlaying.  I also think we can remove the commodity icons under the intro text now that we have the image.
- The icons in the new to reporting section feel out of place.  Not sure if we wa

[2021-07-13 20:17] daniel-coleman-1 commented on #713
Alt text document:

https://teams.microsoft.com/l/file/707C8F9D-1192-4E43-9BED-4E7BC13354F2?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FDesign%2FDesign%20Reviews%20-%20ONRR%20teams%2FDesign%20Review%20-%20Alt%20Text%20for%20Graphics.docx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint

[2021-07-13 20:17] daniel-coleman-1 commented on #713
![Screenshot 2021-07-13 115211](https://user-images.githubusercontent.com/83892362/125518976-69724a49-1be4-434b-af9d-83de00e43e33.jpg)

Minor typo in one graphic, "least" needs to be changed to "lease"

[2021-07-13 20:18] daniel-coleman-1 commented on #713
![Screenshot 2021-07-13 141413](https://user-images.githubusercontent.com/83892362/125519096-561821c6-23b9-4dad-a877-307e2b7c7bee.jpg)

Minor typo in one graphic, "least" needs to be changed to "lease"

[2021-07-13 20:19] Maroyafaied opened #822 "About ONRR Page CMS - add content , children links and upload files."

[2021-07-13 20:26] Maroyafaied opened #823 "Write Business Justification for using Directus instead of Drupal"

[2021-07-13 20:38] mcharg opened #824 "Remove Indian Services Phase 3 PDFs"
https://www.onrr.gov/IndianServices/pdfdocs/so3215.pdf
https://www.onrr.gov/IndianServices/pdfdocs/SO-3317-Tribal-Consultation-Policy.pdf
https://www.onrr.gov/IndianServices/pdfdocs/EXOrder_13175.pdf

[2021-07-13 20:40] mcharg commented on #824
Duplicate of #819

[2021-07-13 20:41] mcharg commented on #819
Docs to be removed:
https://www.onrr.gov/IndianServices/pdfdocs/so3215.pdf
https://www.onrr.gov/IndianServices/pdfdocs/SO-3317-Tribal-Consultation-Policy.pdf
https://www.onrr.gov/IndianServices/pdfdocs/EXOrder_13175.pdf

Doc to run accessibility report:
https://www.onrr.gov/IndianServices/pdfdocs/ONRR-Tribal-Consultation-Policy.pdf

[2021-07-13 20:47] mcharg commented on #819
Accessibility report and link to dev sent to Evelyn.

[2021-07-13 20:52] mcharg commented on #819
Approved via email and pushed live.

[2021-07-13 20:52] #819 closed

[2021-07-14 15:45] #807 closed

[2021-07-14 15:48] Maroyafaied opened #825 "Follow up with April's group for Phase 3"
We've assigned reporter letters to April's group, they are going through the list to determine which ones don't belong to them.

1.We need to contact Bob Kronebush and any other owners they identify.
2. Ask if they need accessibility reports for the docs they decide to correct.
3. Create issue for docs they decide to be removed.

[2021-07-14 16:18] mcharg opened #826 "When adding a link to existing text, it doesn't pull that text into the link dialogue"
Can we populate the text you have highlighted into the Display Text field?

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/ca07bf95-b270-4697-9597-37b9c7434213)
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/b8e25318-a07f-4e90-ac9e-cbff53fc3482)
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/442e19d5-e086-46c6-b45c

[2021-07-14 16:19] mcharg opened #827 "No undo function in text editor"
Can we make Ctrl+Z do undo?

[2021-07-14 16:38] mcharg opened #828 "Add way to link to documents"
I want to be able to find the document I uploaded to link to.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/d0c48f2b-645b-497a-919d-865d94136b99)

[2021-07-14 22:12] Toddsand21 opened #829 "INDIAN HILLS POWWOW, OKLAHOMA CITY (To be added to Event Calendar)"
July 23-24, 2021

71st ANNUAL INDIAN HILLS POWWOW, OKLAHOMA CITY

Event Information
Location: 8980 N Sooner Rd, Oklahoma City, OK 73151
Time: Friday 5:00 pm-8:00 pm; Saturday 1:00 pm-8:00 pm

Description: The ONRR Indian Outreach Office will have an Information booth at the powwow to discuss oil and gas issues with Indian mineral owners on their Indian trust properties. If owners should have speci

[2021-07-15 00:47] daniel-coleman-1 opened #830 "Review ONRR.gov Content Guide"
[Content Guide](https://github.com/ONRR/onrr.gov-site/wiki/Content-guide)

@CM805 @mcharg @meshanw @Maroyafaied

[2021-07-15 00:52] daniel-coleman-1 commented on #830
![Screenshot 2021-07-14 185142](https://user-images.githubusercontent.com/83892362/125711008-91bfa1aa-3058-456d-9fb6-9c668bc109fc.jpg)

Text of Native American and legislation access

[2021-07-15 00:54] daniel-coleman-1 commented on #830
Gender use:

![Screenshot 2021-07-14 185341](https://user-images.githubusercontent.com/83892362/125711160-b61e2e6a-e0b2-443d-88d3-c68105559a5f.jpg)

![Screenshot 2021-07-14 185412](https://user-images.githubusercontent.com/83892362/125711163-28e14fe9-d0bc-4d8d-92e3-dded5e9cd70f.jpg)

[2021-07-15 00:56] daniel-coleman-1 commented on #830
Capitalization guidance for federal & tribal
![Screenshot 2021-07-14 185610](https://user-images.githubusercontent.com/83892362/125711296-a2d2c689-80dc-4e2f-9bdf-daec215ab4e0.jpg)

[2021-07-15 00:58] #770 closed

[2021-07-15 12:48] Maroyafaied commented on #829
@meshanw can you take this one?

[2021-07-15 12:58] meshanw commented on #829
@Maroyafaied Sure.

[2021-07-15 13:56] mcharg commented on #713
@daniel-coleman-1 This is a good start.  I added one comment to the doc.  Also fixed the typo in the geothermal diagram.

[2021-07-15 13:58] mcharg commented on #830
@daniel-coleman-1 onrr.gov doesn't have a how it works section.
![image](https://user-images.githubusercontent.com/38465926/125800523-40d0c87b-6779-4a2d-8b5d-25639a6888a3.png)

[2021-07-15 14:02] mcharg commented on #830
@daniel-coleman-1 @Maroyafaied We've been using Indian instead of Native American on onrr.gov because it has less of a public audience and all of the regulations and such use Indian.  Do we want to continue to do that? When I talked with Amanda Garrison from the Indian team, she thought it made sense to use Native American on NRRD and Indian on onrr.gov.

[2021-07-15 14:04] mcharg commented on #830
@daniel-coleman-1 onrr.gov doesn't currently use markdown.
![image](https://user-images.githubusercontent.com/38465926/125801315-e5683703-0ed9-4ac8-8397-bafb86dde70b.png)

[2021-07-15 14:05] mcharg commented on #830
@daniel-coleman-1 Do we want to continue only title casing H1s?  Jennifer told me not to do it for onrr.gov because the current site doesn't.  We should check this against the DOI style guides.
![image](https://user-images.githubusercontent.com/38465926/125801450-29d657a4-545a-44b2-9b16-ad95d6b6798d.png)

[2021-07-15 14:06] Maroyafaied commented on #830
@mcharg yes, we want to keep using Indian on onrr.gov. @daniel-coleman-1 as we spoke about during our check in, can you take out the Native American section from onrr.gov content guide and only include in the NRRD's content guide? Thanks

[2021-07-15 14:07] mcharg commented on #830
@daniel-coleman-1 @Maroyafaied We're now referencing the Outer Continental Shelf instead of waters in some places to improve readability and understandability, so we should revisit this one.
![image](https://user-images.githubusercontent.com/38465926/125801894-832235b7-bda8-4bc0-a9ac-caf9c2422e84.png)

[2021-07-15 14:08] mcharg commented on #830
Some of the specific words and phrases in here are NRRD specific and there are probably others to add for onrr.gov.

[2021-07-15 14:09] mcharg commented on #830
@daniel-coleman-1 This won't apply to onrr.gov.  We'll have to add the ability to add glossaries to the CMS.  The Jekyll part can also be removed from the NRRD one.
![image](https://user-images.githubusercontent.com/38465926/125802128-a4fc90aa-9623-464f-a0e9-5c93793a508b.png)

[2021-07-15 14:10] mcharg commented on #830
@daniel-coleman-1 Should we link to ONRR or DOI style guides here?

[2021-07-15 14:14] #824 closed

[2021-07-15 14:20] mcharg commented on #760
@jnwang01 Have you had a chance to iterate this?  I pulled the comments I made previous out of chat to better keep track of them.

[2021-07-15 14:23] mcharg opened #831 "Plan CMS usability study"
Maybe when we have content owners update contacts.

[2021-07-15 14:25] mcharg opened #832 "Visual design for onrr.gov diagrams"
- [x] Determining Geothermal Lease Class https://qmcq5k.axshare.com/#id=up0lnh&p=geothermal&g=14
- [x] How Valuation Works https://qmcq5k.axshare.com/#id=l9inb4&p=valuation___pricing&g=14
- [x] Compliance https://qmcq5k.axshare.com/#id=wxa2eb&p=compliance&g=14
- [x] About ONRR > Our History https://qmcq5k.axshare.com/#id=vsgcdx&p=about_onrr&g=14

[2021-07-15 14:25] mcharg commented on #828
@mojobnichols @jlouis-onrr Do you want some design help from one of the interns with this?

[2021-07-15 14:28] mcharg opened #833 "Add ability to add glossaries to CMS"

[2021-07-15 15:10] mcharg opened #834 "Adding an image asks for a size, can we make them responsive?"
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/9f20b2d4-a93c-4e53-8785-af64e3d0fced)

[2021-07-15 15:18] mcharg commented on #822
About ONRR page is in:
https://dev-onrr-frontend.app.cloud.gov/about-onrr

[2021-07-15 15:20] mcharg opened #835 "Add tabs to CMS"
Need for Public Affairs page.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/922e715d-e1e2-4419-8d37-3e7b0688907d)

[2021-07-15 15:20] mcharg opened #836 "Collection: Press Releases"
Needed for Public Affairs page.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/1ee0c850-cd5f-45d9-ad59-1ce4f3e7efc2)

[2021-07-15 15:27] mcharg opened #837 "Allow setting hero image by section"
So we can have the same image for all the pages in a section.

[2021-07-15 15:28] mcharg opened #838 "Allow navigating folders in the file library when browsing photos"
Right now it's all flat.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/e19b4b42-c46b-4b48-8702-d4fb0ef62ccb)

[2021-07-15 16:02] mcharg opened #839 "Reassign Phase 3 reporter letters from RRM"

[2021-07-15 16:06] mcharg opened #840 "Not all files show up when browsing"
When I uploaded the leadership photos, I created a Leadership folder within the About folder, but it's not showing up.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/16815fe5-44bd-4f2b-a2d1-67bc255aee10)

[2021-07-15 16:19] sghahn opened #841 "RRM 508 Phase 3 Extended"
@mcharg
- [x] [Dear Reporter Letter - OGOR B, Form MMS-4054-B, Change to Product Disposition for Certain Gas Sales.pdf](https://github.com/ONRR/onrr.gov-site/files/6824655/Dear.Reporter.Letter.-.OGOR.B.Form.MMS-4054-B.Change.to.Product.Disposition.for.Certain.Gas.Sales.pdf)
- [x] [Reporter Letter for Oil & Gas re CRs.pdf](https://github.com/ONRR/onrr.gov-site/files/6824658/Reporter.Letter.for.Oil.

[2021-07-15 16:28] mcharg opened #842 "Allow reordering of menu items across pages"
There's no way to drag items from the second page to the first page.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/37732047-f02e-4234-8b0e-2416e5130d03)

[2021-07-15 16:35] meshanw commented on #829
@Toddsand21 Please review http://2017onrr/events.htm

[2021-07-15 16:52] meshanw commented on #830
@Maroyafaied  @mcharg  @daniel-coleman-1 Will this content guide cover both onrr.gov and NRRD? Or will their be separate guides for each site?

[2021-07-15 17:10] Toddsand21 commented on #829
Looks good but could you add **Email:** after our phone number and before our email.

(Note: Some of our readers are like me and wouldn't notice it as an email address.  Thanks!)

[2021-07-15 17:30] meshanw commented on #829
@Toddsand21 Added Email: to this and all other events. Please review http://2017onrr/events.htm

[2021-07-15 17:41] Toddsand21 commented on #829
Looks great and ready to post!  Thank you.

[2021-07-15 17:54] mcharg opened #843 "Add document card component"
Examples:
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/deddff60-561c-41f0-8a0f-e2999e5008c1)
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/c7ac5c31-da58-46ea-8e11-1e8eaf1d14e5)
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/3f7cc519-f45b-4b7e-ae53-9598810695c5)
![image.png](https://images.zenhubusercontent.com/5

[2021-07-15 17:59] mcharg opened #844 "Collection: Office Locations"
For formatting things like addresses.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/d44d7a99-3621-4281-ab36-3d94b0dd9dba)

[2021-07-15 18:00] mcharg opened #845 "Template: Create a multi-column/box page layout"
So we can implement pages like this.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/7a4868c0-6ad9-43de-87ac-89d7dbe2f689)

[2021-07-15 18:06] jlouis-onrr opened #846 "Create nightly db backups of cms"

[2021-07-15 18:09] Maroyafaied commented on #743
@mojobnichols will break it down to 3 issues.

[2021-07-15 18:10] mojobnichols opened #847 "Add links to collect to CMS"

[2021-07-15 18:12] mojobnichols opened #848 "Modify Link dialog to be based on link collection"

[2021-07-15 18:13] Maroyafaied commented on #740
next step : new version of view JS in dev

[2021-07-15 18:13] #740 closed

[2021-07-15 18:13] mojobnichols opened #859 "Create trigger to create collection of links"

[2021-07-15 18:16] #789 closed

[2021-07-15 18:21] meshanw commented on #829
Changes pushed to live site.

[2021-07-15 18:21] #829 closed

[2021-07-15 18:23] #800 closed

[2021-07-15 18:28] Maroyafaied commented on #790
use onrrweb@onrr.gov mailbox

[2021-07-15 18:57] mcharg opened #849 "Figure out hero image cropping/zooming functionality"

[2021-07-15 18:58] mcharg commented on #845
Another example.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/0e91e2fd-14c4-4d44-a887-7dd227f09ef2)

[2021-07-16 13:03] mcharg commented on #841
@sghahn  Reporter Letter for Oil & Gas re CRs.pdf was on the list of FM.  I replaced the doc.  Should we leave it assigned to FM or is it RRM's?

[2021-07-16 13:14] mcharg commented on #841
@Maroyafaied Thoughts on the links in 12_24_15_Reporter_Letter.pdf?  I could setup redirects, since they're all links to onrr.gov. The document was only downloaded 17 times in the year we looked at.

[2021-07-16 13:25] mcharg commented on #841
@sghahn I'm assuming you want to keep this issue open until all the remaining docs are updated?

[2021-07-16 13:29] mcharg commented on #806
@CM805 I probably messed up your formula here.  A bunch of RV files were reassigned to RRM and then to other teams and I didn't want to updated them in multiple places, so I updated them in the accessibility tracking sheet, but not the content audit.

[2021-07-16 14:04] mcharg commented on #844
There's also weirdness where if I paste things in they're italic and I can't make the unitalic.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/ca65631d-2d45-484b-ad74-1add3249d66a)

[2021-07-16 14:05] mcharg commented on #844
And sometimes if I paste, there's not the extra row, but I can't get it to do that other than pasting in.

[2021-07-16 14:12] mcharg commented on #844
Heading levels aren't always working right.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/cdeedba4-3238-4527-a74e-bc939e2c9b07)

[2021-07-16 14:20] mcharg opened #850 "Embedding a YouTube video doesn't work"
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/53884dab-e7da-4d5d-8069-e7086d12a159)

[2021-07-16 14:42] mcharg opened #851 "Add hero image to homepage and apply visual design"
Design:
https://qh1m7w.axshare.com/#id=5g8mg4&p=home_visual_2&g=1

[2021-07-16 18:17] mcharg commented on #851
https://qh1m7w.axshare.com/#id=e1wh3o&p=home_visual&g=1

[2021-07-16 18:30] mcharg commented on #849
@jlouis-onrr Interesting that the Vue version is cropping totally differently from the React version.

[2021-07-16 18:41] mcharg opened #852 "Component: Table (apply variations and styling)"

[2021-07-16 18:44] mcharg opened #853 "Create spreadsheet for redirects from old site to new site"

[2021-07-16 18:45] mcharg commented on #853
Also documents.

[2021-07-16 18:45] mcharg opened #854 "Have a way to view all the locations a document is linked from the document properties"

[2021-07-16 18:52] mcharg opened #855 "Section home page should be a link in the left nav on all pages in the section"
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/64eb26d5-849f-48c0-ba41-64c068926fc2)
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/e0f8f6d0-7c3e-4838-ab66-e69e166f14d7)

[2021-07-16 18:53] mcharg opened #856 "Clicking on the menu should open up the section home page."
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/f9e5d2e7-a09b-4994-8128-a275f55b7dc9)

[2021-07-16 19:02] mcharg opened #857 "Design event calendar"
I just have it as a tab on the reporter training page (https://qmcq5k.axshare.com/#id=cwcm9b&p=reporter_training) right now, but most of the events are actually for Tribal Consultation (https://www.onrr.gov/events.htm), so we need to rethink.

[2021-07-16 19:28] mcharg commented on #822
@Maroyafaied @daniel-coleman-1 The FOIA and Anti-harassment program pages would be good ones for you to start with.  They don't have tabs, so should be doable with the components we have now.

All documents that are uploaded to link to should go in the About folder I created and if they aren't already accessible, I'm tagging them with an Accessibility Errors tag, so we know to fix them before we g

[2021-07-16 20:24] jlouis-onrr opened #858 "Add mobile menu drawer"

[2021-07-19 12:57] arcasarana commented on #713
@daniel-coleman-1 @mcharg

I added some of my versions for alt-text informed by what Daniel wrote and Shannon's comment.  I didn't make edits over Daniel's and just copied and pasted my versions so it's easier to read.

[2021-07-19 16:01] sghahn commented on #841
@mcharg Yes, please keep this issue open, thank you.

[2021-07-19 16:11] daniel-coleman-1 commented on #713
@arcasarana @mcharg Sarah's versions look great to me

[2021-07-19 16:44] Maroyafaied commented on #839
- [ ] Amy Lunt
- [ ] Bob Kronebusch
- [ ] Christina Mathers
- [ ] Heidi Badaracco
- [ ] James Smith
- [ ] Jeff Carlson
- [ ] Karen Garza
- [ ] Ken Stamper
- [ ] Matt Collins
- [ ] Michael Marchetti
- [ ] Patty Damon
- [ ] Rhonda Baker
- [ ] Robert Winter
- [ ] Stacey Browne

[2021-07-19 16:55] mcharg commented on #760
Since I haven't heard from @jnwang01 in a while and we want to make sure we have a homepage before we start demoing the dev site with anyone, I took a stab at this.

https://qh1m7w.axshare.com/#id=5g8mg4&p=home_visual_2&g=1

[2021-07-19 16:56] mcharg commented on #760
@Maroyafaied @arcasarana @CM805 @meshanw @jlouis-onrr @daniel-coleman-1 Any feedback?

[2021-07-19 17:22] mcharg commented on #760
I spot checked a bunch of the shades in the gradient behind the text over the image and they're all accessible levels of contrast.

[2021-07-19 17:23] Maroyafaied commented on #839
@mcharg I made the excel sheets and send all the emails, can you please change the status from blank to sent on all of the above in the excel tracking sheet? Thanks

[2021-07-19 17:24] mcharg commented on #839
@Maroyafaied Done

[2021-07-19 17:24] #839 closed

[2021-07-19 17:25] mcharg commented on #679
@jnwang01 Can you please send me the Axure file for the latest, so I can import it into the overall prototype?

[2021-07-19 18:00] meshanw commented on #760
I like the colors and contrast. Layout is straightforward and not too busy. My only comment is can the "Paying" header be changed to "Payment" or a better term? I know on the current homepage, it's Reporting/Paying which makes it look a bit better when it's combined but when it's separated, "Paying" just jumps out at me. Even when you hover over and the drop down appears, 'Paying Home' displays. S

[2021-07-19 18:06] #743 closed

[2021-07-19 18:15] #713 closed

[2021-07-19 18:19] Maroyafaied commented on #822
@daniel-coleman-1 will do FOIA and @Maroyafaied will do Anti-harassments.

[2021-07-19 18:26] Maroyafaied commented on #742
Includes light and dark theme.

[2021-07-19 18:30] #760 closed

[2021-07-19 18:32] Maroyafaied commented on #790
Create issue to get SSO on production not in dev.

[2021-07-19 18:32] #790 closed

[2021-07-19 18:50] mcharg opened #860 "Continue putting content for static pages in CMS"

[2021-07-19 18:51] Maroyafaied commented on #843
@jlouis-onrr will start by installing storybook

[2021-07-19 18:54] daniel-coleman-1 opened #861 "ONRR.gov Site Map Update Section 1.0 and 2.0"

[2021-07-19 19:20] mcharg opened #862 "Remove RIK documents"

[2021-07-19 19:28] mcharg opened #863 "Remove remaining Indian document"

[2021-07-19 19:31] mcharg opened #864 "Review verb construction of menu options"
@meshanw pointed out that Paying sounds weird in the menu, but it matches the construction of Reporting.  Since we didn't have a content strategist, we didn't do a thorough look of verb construction in the menu options, so we should do that now.

[2021-07-19 19:32] mcharg commented on #864
@daniel-coleman-1 Something to consider as you're becoming familiar with the menus while doing the sitemap.

[2021-07-19 19:33] mcharg commented on #841
@sghahn Maroya said we can leave the links broken, since that's a separate issue from accessibility.  The last doc is updated.

[2021-07-19 19:50] mcharg commented on #863
Updated in dev and sent email for approval.

[2021-07-19 19:53] mcharg commented on #863
Approved via email and pushed live.

[2021-07-19 19:53] #863 closed

[2021-07-19 20:03] meshanw commented on #864
Reporting could be 'Report' or 'How to Report' or 'How to Report to ONRR' or 'Report Royalties.' Then in the drop down Reporting Home could be ' {Insert new header here} Home."

Then Paying can be 'Pay.' "Paying Home" in the drop down can be "Payment Home" or "Payment Overview"

The other headers and dropdown items look fine to me.

[2021-07-19 20:04] sghahn commented on #841
@mcharg I'm not sure what you are referencing with earlier comment on broken links, it's Monday, so I may be forgetting something?

[2021-07-19 20:06] mcharg commented on #841
@sghahn The ones in this doc that you didn't want to fix, since it was signed. 12_24_15_Reporter_Letter.pdf

[2021-07-19 20:11] sghahn commented on #841
@mcharg ooh, see it's Monday, the doc is accessible except for one link, cool :) and thank you.

[2021-07-19 20:37] mcharg commented on #862
Updated in dev and sent email for approval.
http://2017onrr/DearRep.htm

[2021-07-19 22:08] daniel-coleman-1 commented on #830
@mcharg do you know if the DOI has a style guide?  I am not finding one.

[2021-07-19 23:31] daniel-coleman-1 commented on #864
I'm getting the impression that every item in the menu (first and second level) is a noun...except Reporting and Paying (I guess you could argue that they are being used as nouns but nevertheless...).

I like "Report/Pay" in the top, and keep "Payments" the same as it is now.

I was thinking of adding Resources and having:
"Production Reporting Resources"
"Royalty Reporting Resources"
"Solid Miner

[2021-07-20 12:18] mcharg commented on #830
@daniel-coleman-1 I sent an email to DeRon, who runs the DOI Web Council, and copied you.

[2021-07-20 12:25] mcharg commented on #864
@daniel-coleman-1 I think you're looking at the categories in the live site.  You should be looking at the categories in the redesign wireframes.
https://qmcq5k.axshare.com/

[2021-07-20 12:31] Maroyafaied commented on #830
@daniel-coleman-1 I'm not able to open onrr.gov's content style guide , this is what I see when I click on it in the wiki.
![image](https://user-images.githubusercontent.com/40175688/126324334-988cd1bf-e7ee-47de-b738-df60dfde757d.png)

[2021-07-20 12:54] mcharg commented on #830
@Maroyafaied The link in the right nav got broken (Daniel must have changed the page name). It should work now.

[2021-07-20 13:08] Maroyafaied commented on #830
@daniel-coleman-1 @mcharg we say that we build our style guide based off 18F's, we should review their style guide as well to take ideas.  For example, I noticed they have guidance about plain language and using active voice and we don't have guidance about that and I know these principals are important to ONRR. I made an issue for plain language and active voice but it should be reviewed and comp

[2021-07-20 14:30] #862 closed

[2021-07-20 14:30] mcharg commented on #862
Approved via email and pushed live.
https://www.onrr.gov/DearRep.htm

[2021-07-20 14:40] Maroyafaied commented on #864
@daniel-coleman-1 the same with this issue, it's not assigned to this sprint so it can wait till it's assigned.

[2021-07-20 15:17] daniel-coleman-1 opened #865 "Add Inclusive Language section to ONRR.gov Wiki"
for reference:
https://content-guide.18f.gov/our-style/inclusive-language/

[2021-07-20 15:21] daniel-coleman-1 commented on #864
@mcharg you're right, I was on the live site, thanks for the link!

@Maroyafaied sounds good

[2021-07-20 15:24] daniel-coleman-1 commented on #830
This is a really good point, I'm still thinking "Hmmmmmmmm..." about it.  Will compare to DOI style guide when we have it, thanks for sending that email.

[2021-07-20 15:32] mcharg opened #866 "Remove RV reporter letters (83)"

[2021-07-20 15:33] daniel-coleman-1 commented on #830
@meshanw I'm going to create a separate issue for the NRRD content guide

[2021-07-20 16:00] mcharg commented on #822
Link format for files.

You should be able to grab the file id from the url when viewing it under assets.

If you want to download it you can add the download param, like:
<a href="https://your-directus.com/assets/<file-id>?download" target="_blank" download="Your File.pdf">Download</a>

So for this file: https://dev-onrr-cms.app.cloud.gov/admin/files/28df066e-f610-48f4-a3e8-605b202148b2

It would

[2021-07-20 17:14] mcharg commented on #822
Add the file number to the Content Audit sheet in the Accessibility Tracking spreadsheet.

[2021-07-20 17:15] daniel-coleman-1 opened #867 "Create "How to Update Pages in CMS" guide for ONRR.gov wiki"

[2021-07-20 17:21] mcharg opened #868 "Add a way to overwrite old versions of a file when a new one is uploaded with the same name"
And save the old one as a version.

Right now it just uploads the second document separately.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/160d828b-d2f9-4424-b1b7-f06e48ad483a)

[2021-07-20 17:37] daniel-coleman-1 opened #869 "Complete FOIA page on CMS"
FOIA:
Page in CMS: https://dev-onrr-cms.app.cloud.gov/admin/collections/pages/31
Page preview: https://dev-onrr-frontend.app.cloud.gov/about-onrr/foia (you may have to go to the homepage and navigate through the menu to not get the 404 page)
Wireframe: https://qmcq5k.axshare.com/#id=7ctmer&p=freedom_of_information_act__foia_
Live page (needed for links that aren't specified in the wireframe): http

[2021-07-20 17:55] mcharg commented on #866
Updated in dev and sent email for approval.
http://2017onrr/DearRep.htm

[2021-07-20 17:57] mcharg opened #870 "Remove regulations docs (231)"

[2021-07-20 19:17] Maroyafaied commented on #822
@mcharg @daniel-coleman-1 I added the anti-harassments page, for file links I did what Mojo suggested and uploaded all the files for that page in a folder I created (About > Anti-harassment) . I also updated the audit content with the CMS path for all the files.

Please review https://dev-onrr-frontend.app.cloud.gov/

[2021-07-20 19:29] mcharg commented on #822
@Maroyafaied Looks good.

[2021-07-20 19:30] mcharg commented on #822
@Maroyafaied Should I put the ones from the About ONRR Home page in a Home folder under About?

[2021-07-20 19:31] Maroyafaied commented on #822
@mcharg Yes please do, I think doing it that way will help us be better organized long term.

[2021-07-20 20:14] mcharg commented on #822
@Maroyafaied Done

[2021-07-20 20:18] mcharg commented on #870
Page: http://2017onrr/reportpay/roy-checklist.htm
- [ ] https://www.onrr.gov/ReportPay/PDFDocs/30_CFR_re_TIN.pdf

[2021-07-20 21:15] daniel-coleman-1 commented on #869
Two issues:
I need the link for "How to Make a Request"
How do I turn the "Submit a Request here" text into a button?

Will bring up tomorrow at stand up

[2021-07-21 12:58] cmathers1 opened #871 "Remove Documents from onrr.gov"
Good morning,

Please remove the attached documents from onrr.gov.  Thank you!
[MOU FIMO 11-27-2001.pdf](https://github.com/ONRR/onrr.gov-site/files/6855848/MOU.FIMO.11-27-2001.pdf)
[MOU FIMO 01-31-2001.pdf](https://github.com/ONRR/onrr.gov-site/files/6855849/MOU.FIMO.01-31-2001.pdf)
[MOU FIMO 10-1994.pdf](https://github.com/ONRR/onrr.gov-site/files/6855850/MOU.FIMO.10-1994.pdf)
[MOU FIMO 9-1996 (

[2021-07-21 12:58] Maroyafaied commented on #869
@daniel-coleman-1 Nice job, it's looking good.  Here is the link for [how to make a request ](https://www.doi.gov/foia/make-a-request) . Can you also make "Other Information" an  H2, and make the two bullet points under it as links rather than writing out the link (I think @mcharg has it like that in the wireframe as a reminder to what the link is).  And delete the content link to the wireframe. T

[2021-07-21 14:14] mcharg commented on #869
@daniel-coleman-1

- The NRRD link should go to: https://revenuedata.doi.gov/ (it thinks it's a relative link)
- The Presentations & Testimony link should be a relative link to the Engagement page: /about-onrr/engagement
- The Press Releases link should be a relative link to the Public Affairs page: /about-onrr/public-affairs
- You can remove the How to Make a Request link.  I have no idea where I

[2021-07-21 14:17] mcharg commented on #822
@Maroyafaied I just test out the links on the Anti-Harassment page and the Culture Transformation page doesn't appear to exist anymore. Can we just remove the link or do we need to try to find a replacement?
https://www.doi.gov/employees/culturetransformation

[2021-07-21 14:51] daniel-coleman-1 commented on #869
@mcharg @Maroyafaied thanks! edits made in page

[2021-07-21 14:53] Maroyafaied commented on #822
@mcharg I'm not finding a link that replaces it, I'll remove it from CMS and live site. Thanks

[2021-07-21 14:53] mcharg commented on #860
@meshanw Here's a list of pages to start.

- [ ] Federal Register Notices
Wireframe: https://qmcq5k.axshare.com/#id=kkqoxq&p=federal_register_notices
Current Page: https://www.onrr.gov/Laws_R_D/FRNotices/index.htm (very different from wireframe, but in case you need any links)
Page in CMS: https://dev-onrr-cms.app.cloud.gov/admin/collections/pages/45

- [ ] Unpaid Debt
Wireframe: https://qmcq5k.ax

[2021-07-21 14:54] mcharg commented on #869
@daniel-coleman-1 Looks good.

[2021-07-21 14:55] daniel-coleman-1 commented on #869
@mcharg I need to find out how to add the button, is that an HTML+CSS function?

[2021-07-21 14:58] mcharg commented on #869
@daniel-coleman-1 I don't think that's something in the CMS yet.  Please create an issue to add the ability to add buttons.

[2021-07-21 15:12] mcharg opened #872 "Reduce the width of in page content to reduce reading line length"
Start with a cap at 1200 px

[2021-07-21 16:35] jlouis-onrr opened #873 "Create site search (add code snippets from search.gov)"
@mojobnichols I set up a site for search.gov. I think we just need to add in this code somewhere.

Form Snippet
[code]

Type-ahead search and Search.gov Tag Snippet
[code]

[2021-07-21 16:38] daniel-coleman-1 opened #874 "Add Buttons to CMS"
We need to create buttons that look like the button in the wireframe:

![Screenshot 2021-07-21 103638](https://user-images.githubusercontent.com/83892362/126526178-7dbb6277-25a7-4ffe-a74f-ee9d1db010b1.jpg)

[2021-07-21 16:42] daniel-coleman-1 opened #875 "Consolidate Add/Insert Link Options in CMS"
Currently if a user clicks the link button, the get Add/Edit Link:
![Screenshot 2021-07-21 103958](https://user-images.githubusercontent.com/83892362/126526496-9a21768b-837d-4e4e-96a7-59939c00d7d8.jpg)

If the user right clicks and selects "link," they see Insert/Edit Link:
![Screenshot 2021-07-21 104113](https://user-images.githubusercontent.com/83892362/126526692-58e7350b-436a-4864-983d-a6cbbe4c

[2021-07-21 17:38] meshanw commented on #860
@mcharg Please review

[2021-07-21 17:47] Maroyafaied commented on #744
@CM805 Please remove the two pdfs and add the attached excel sheet. Send the dev link to review for Rob Winter and Antoinette. [https://app.zenhub.com/files/210892300/00edf197-2b18-4c30-9311-159df3f025a8/download](https://app.zenhub.com/files/210892300/00edf197-2b18-4c30-9311-159df3f025a8/download)

[2021-07-21 18:19] mcharg commented on #860
@meshanw

Upaid Debt

- Debt Collection Rule can link here: https://www.federalregister.gov/documents/2012/05/02/2012-10361/debt-collection-and-administrative-offset-for-monies-due-the-federal-government
- Debt Collection Act can link here: https://www.govinfo.gov/content/pkg/FR-1994-07-11/html/94-16632.htm
- Debt Collection Improvement Act can link here: https://fiscal.treasury.gov/dms/about/abou

[2021-07-21 18:24] mcharg commented on #860
@meshanw

Federal Register Notices

- Remove link to wireframe
- National Archives and Records Administration (NARA) Federal Register can link here: http://www.archives.gov/
- ONRR_RegulationsMailbox@onrr.gov can link to: mailto:ONRR_RegulationsMailbox@onrr.gov
- Rules & Regulations can link here: References/regulations/
- Information Collection Requests can link here: Regerences/icrs/
- Major Por

[2021-07-21 18:28] mcharg opened #876 "Refine visual design"

[2021-07-21 18:28] mcharg opened #877 "Refine visual design"

[2021-07-21 18:30] mcharg commented on #876
Duplicate

[2021-07-21 18:30] #876 closed

[2021-07-21 19:23] sghahn commented on #841
@mcharg 6 documents:

- [ ] [20100430.pdf](https://github.com/ONRR/onrr.gov-site/files/6857768/20100430.pdf)
- [ ] [20031201.pdf](https://github.com/ONRR/onrr.gov-site/files/6857769/20031201.pdf)
- [ ] [Geothermal-Report-06-19-2013.pdf](https://github.com/ONRR/onrr.gov-site/files/6857770/Geothermal-Report-06-19-2013.pdf)
- [ ] [20091106.pdf](https://github.com/ONRR/onrr.gov-site/files/6857771/2009

[2021-07-21 19:25] mcharg commented on #877
We will review during standup tomorrow:
https://qh1m7w.axshare.com

[2021-07-21 20:01] mcharg commented on #871
@cmathers1 These are all removed in dev.  Let me know if it looks good to post the changes to the live site.
http://2017onrr/about/MOUs-and-SOPs.htm

[2021-07-21 20:02] mcharg commented on #866
@jpetersononrr Can you let me know if these changes are good to push to the live site?

[2021-07-21 20:12] mcharg commented on #841
@sghahn Those 5 docs are all removed.

[2021-07-21 21:37] meshanw commented on #860
@mcharg All listed changes have been made to FRN and Unpaid debt pages in CMS

[2021-07-21 22:03] daniel-coleman-1 opened #878 "Create PDF Icon"

[2021-07-22 13:09] Maroyafaied opened #879 "Phase 3 - Training videos"
The video production team will identify the content owner for each video. Our team will contact the content owner and ask if they want the video to be removed or corrected, if they chose for it to be correct then they have to submit a service ticket.

[2021-07-22 14:31] mcharg commented on #860
@meshanw

Unpaid Debt
- Can you add the contact info to the bottom of the page, for now, since we don't have the ability to add a second column?
![image](https://user-images.githubusercontent.com/38465926/126656544-229b4882-63e4-42a6-9ed0-c8b8371e15b8.png)
- It looks like there's an extra line under the first paragraph that can be removed.
![image](https://user-images.githubusercontent.com/3846592

[2021-07-22 14:34] mcharg commented on #860
@meshanw

FRNs
- There's text that's showing up twice.
![image](https://user-images.githubusercontent.com/38465926/126657011-f174a1ca-140d-479c-bd9e-22f19ce9da87.png)

- Remove extra lines.
![image](https://user-images.githubusercontent.com/38465926/126657078-6b3e7dbf-ed29-42c6-a22c-917569f4d16c.png)

[2021-07-22 14:34] mcharg commented on #860
@cthomasONRR Can you help us find the links for "Most recent annual publication" and "Docket for past publications" for the FRNs page?

[2021-07-22 14:54] daniel-coleman-1 commented on #808
Completed, my only comment is that outbound links dropped significantly this month.
![Screenshot 2021-07-22 085403](https://user-images.githubusercontent.com/83892362/126660441-e04b84de-6958-473a-957d-9963c62083ba.png)

[2021-07-22 14:57] mcharg commented on #808
@daniel-coleman-1 You date range may have gotten set back to the default.  This is what I'm getting for the month.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/d0cfc6bd-a9f5-4807-9995-67502dccb4b9)

[2021-07-22 15:38] daniel-coleman-1 commented on #808
@mcharg you were right, I had the date range wrong.  Nice catch! Corrected.

[2021-07-22 15:43] mcharg commented on #808
Looks good.

[2021-07-22 15:43] #808 closed

[2021-07-22 16:24] Maroyafaied commented on #825
This is done.

[2021-07-22 16:24] #825 closed

[2021-07-22 16:42] Maroyafaied commented on #836
1. create collection
2. use of collection at frontend

[2021-07-22 16:48] #840 closed

[2021-07-22 16:50] #842 closed

[2021-07-22 16:53] Maroyafaied commented on #844
Create issue for Office collection, the rest of the issues should be fixed with page layout.

[2021-07-22 16:56] Maroyafaied commented on #857
Event collection

[2021-07-22 16:58] bowlenj opened #880 "Lease/Agreement Maintenance Contacts"
Please update the contact list at the below link with the attached list:

https://www.onrr.gov/reportpay/PDFDocs/RS_LeAgAssignments.pdf
[Lease Agreement Maintenance Contacts_7-22-21.pdf](https://github.com/ONRR/onrr.gov-site/files/6863971/Lease.Agreement.Maintenance.Contacts_7-22-21.pdf)

[2021-07-22 17:08] cthomasONRR commented on #860
Major Portion most recent annual publication: https://www.federalregister.gov/documents/2021/04/07/2021-07092/major-portion-prices-and-due-date-for-additional-royalty-payments-on-gas-produced-from-indian-lands

Major Portion docket: https://www.regulations.gov/docket/ONRR-2011-0012

Marginal Properties most recent annual publication: https://www.federalregister.gov/documents/2020/12/11/2020-27267/

[2021-07-22 18:08] daniel-coleman-1 commented on #861
https://92ix0j.axshare.com/

[2021-07-22 18:55] #822 closed

[2021-07-22 18:56] #869 closed

[2021-07-22 21:15] CaGarcia1 opened #881 "508 Compliant Form 4110"
[4110.pdf](https://github.com/ONRR/onrr.gov-site/files/6865257/4110.pdf)

[2021-07-23 14:28] mcharg opened #882 "Update links to 4292 and 4293 Schedule 1 forms on solids page"
They currently link to the main forms.

[2021-07-23 14:41] cthomasONRR commented on #882
I talked with Alexis on the Regs Team, and they are OK with removing form 4292 and 4293 from https://www.onrr.gov/Laws_R_D/FRNotices/ICR0074.htm. This ICR 1010-0074 is a discontinued ICR. The forms 4292 and 4293 are updated and part of current ICR 1012-0010 (https://www.onrr.gov/Laws_R_D/FRNotices/ICR0120.htm).

[2021-07-23 15:59] jlouis-onrr opened #883 "Create page builder using directus m2a"

[2021-07-23 17:05] meshanw commented on #880
@bowlenj please review http://2017onrr/reportpay/PDFDocs/LeaseAgreementMaintenanceContacts_7-22-21.pdf

[2021-07-23 17:06] meshanw commented on #860
@mcharg On FRN page - extra lines removed and major portion links updated.
Unpaid debt page - contact added, space added, extra line referred to is included in wireframe (Should we remove in CMS?)

[2021-07-23 17:17] bowlenj commented on #880
Looks great, thank you!

Thank You,
Jessica Bowlen
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resource Revenue
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from dis

[2021-07-23 17:50] mcharg commented on #860
@meshanw Looks good.

I added in the second set of links for Marginal Properties on the FRN page, so I think we're good to close this issue.

[2021-07-23 17:50] #860 closed

[2021-07-23 18:24] mcharg commented on #881
@CaGarcia1 This document is now updated on the dev and live sites.  It might be a bit before it shows up on the live site.

[2021-07-23 18:24] #881 closed

[2021-07-23 18:28] mcharg commented on #882
@sghahn The Solids page now links to the Schedule 1 docs in dev. Let me know if they look good to push to the live site.
http://2017onrr/reportpay/solids.htm

[2021-07-23 18:38] sghahn commented on #882
@mcharg the links are correct to push live. I have added the documents to the list to be made 508 compliant.

[2021-07-23 19:04] meshanw commented on #880
Changes pushed to live site.

[2021-07-23 19:38] mcharg commented on #882
@sghahn Pushed live.  Might be a bit before it shows up on the live site.

[2021-07-23 19:38] #882 closed

[2021-07-23 20:38] mcharg commented on #870
Sent email to Matt seeing if he wants someone on his team to review the changes in dev or if he wants @cthomasONRR to review.

[2021-07-26 15:00] daniel-coleman-1 opened #884 "Add hyphen guidance to content guide"

[2021-07-26 16:52] cmathers1 commented on #871
Hi Shannon,

Thank you. Everything looks good! I forgot to included the 2017 FIMO MOU, http://2017onrr/about/PDFDocs/SIGNED_FIMO_MOU_08_21_17.pdf, can we please remove as well?

Thanks!

Sincerely,

Christina

Christina Mathers
Staff Assistant
Director/Deputy Director's Office
Office of Natural Resources Revenue
6th Avenue and Kipling Street Bldg. 85
Denver, Colorado 80225
Phone:  303-231-3429
Cel

[2021-07-26 16:59] mcharg commented on #871
@cmather1 Of course!

@cthomasONRR Do you want to try removing the additional doc Christina said to remove and then I can show you how we push to the live site?

[2021-07-26 17:02] cthomasONRR commented on #871
@mcharg - Sure! I might need some help. I will text you.

[2021-07-26 17:32] cthomasONRR commented on #871
@cmathers1 and @mcharg I updated the dev to remove that additional PDF. Please let me know if it looks good to post the changes to the live site. http://2017onrr/about/MOUs-and-SOPs.htm

[2021-07-26 17:43] CM805 commented on #744
There were two accessibility issues.  @mcharg or @Maroyafaied do you know if Antoinette has a GitHub username?  I didn't find one by just looking for her name.

![image](https://user-images.githubusercontent.com/83783622/127034350-def45298-4e2f-44f9-9581-fed6d08b5ee2.png)

[2021-07-26 17:56] CM805 commented on #744
@mcharg when I add the new file to the Accessibility Tracking sheet do you want me to add it to the bottom and just give it the next number in line?

[2021-07-26 17:59] mcharg commented on #744
@CM805 That works.

[2021-07-26 18:39] mcharg commented on #866
Approved via email and pushed to the live site.

[2021-07-26 18:39] #866 closed

[2021-07-26 18:48] #877 closed

[2021-07-26 19:05] CM805 opened #885 "Expand and Fix Conditional formaating on the Accessibility Tracking Worksheet"
I realized we needed to add conditional formatting for "Sent" and "Not Accessible" to be red.  I've worked on it off and on this morning.  Came back to it and it's not working properly.  @Baymatt can you please take a look and try to get it corrected?

[2021-07-26 19:15] CM805 commented on #744
I've updated with the non-accessible file in Dev, so once I have the new file I just need to replace it.  I've also added the file to the Accessibility tracking sheet and content audit sheet as "Not Accessible".  Will update this after receipt and replacement with new file.  Indicated two old files as "Removed" on Accessibility tracking sheet, and grayed out on Content Audit sheet.

[2021-07-26 22:01] jlouis-onrr opened #886 "Add ability to position image within cms content editor"

[2021-07-27 13:26] mcharg opened #887 "Design single page for ICRs"
Now that all the documents are gone, it can be a table.

[2021-07-27 16:22] CM805 commented on #830
Here is some food for thought.  I'm not making a suggestion or expressing a preference.  Just giving what I have found for the team's consideration.

A link to the ONRR Content Guide can be found here:  https://onrresource/Program-Areas/Communication---don-t-use/
         - Toward the end of this it stays that ONRR used the GPO style guide.  "Use the GPO style guide for all other grammar rules."

[2021-07-27 16:37] daniel-coleman-1 opened #888 "Update Production Reporting References"
Modify dates to 07/27/2021

[Gulf-Sales-Tanks.xlsx](https://github.com/ONRR/onrr.gov-site/files/6887272/Gulf-Sales-Tanks.xlsx)
[Gulf-Gas-Plants.xlsx](https://github.com/ONRR/onrr.gov-site/files/6887273/Gulf-Gas-Plants.xlsx)
[Gulf-Flash-Gas.xlsx](https://github.com/ONRR/onrr.gov-site/files/6887274/Gulf-Flash-Gas.xlsx)
[Gulf-Buy-Back.xlsx](https://github.com/ONRR/onrr.gov-site/files/6887275/Gulf-Buy

[2021-07-27 17:51] cthomasONRR commented on #870
@mcharg

First round review completed. I found the following issues:

http://2017onrr/Laws_R_D/FRNotices/ICR0107.htm - Has some spacing issues in the oldest bullet points.
http://2017onrr/Laws_R_D/FRNotices/ICR0104.htm - I think the "(Expires February 29, 2008)" can be removed.
http://2017onrr/Laws_R_D/FRNotices/ICR0061.htm – All 7 PDFs that should have been removed are still present
http://2017on

[2021-07-27 19:31] mcharg opened #889 "How Valuation Works visual design"
https://qmcq5k.axshare.com/#id=l9inb4&p=valuation___pricing&g=14

[2021-07-27 19:32] mcharg commented on #832
Created #899 for How Valuation Works diagram.

[2021-07-27 19:47] cthomasONRR commented on #870
@mcharg

I corrected the 4 issues above! I can move on to getting the archived files downloaded for Regs Team.

[2021-07-27 20:47] #888 closed

[2021-07-27 20:51] cmathers1 commented on #871
The page looks great!  I am checking the other three documents for accessibility.  I can get them to you tomorrow if you don't mind waiting until then to make the site live. Thank you!

Sincerely,

Christina

Christina Mathers
Staff Assistant
Director/Deputy Director's Office
Office of Natural Resources Revenue
6th Avenue and Kipling Street Bldg. 85
Denver, Colorado 80225
Phone:  303-231-3429
Cell

[2021-07-27 20:55] cthomasONRR commented on #871
@cmathers1 and @mcharg

Thanks Christina, that sounds great! We will hold off until you get the other 3 documents to us.

[2021-07-27 20:59] cthomasONRR commented on #870
Got all 231 documents archived and saved onto the Regs Team's N-drive. I have folders for both Phase 2 and Phase 3 documents.

N:\CEVA\Regulations\MISC\508 Compliance - PDF backups from website

[2021-07-28 15:50] mcharg commented on #870
Changes are now live.

[2021-07-28 15:50] #870 closed

[2021-07-28 17:28] cthomasONRR commented on #889
I reviewed over chat. Here are my comments:

I like the grey boxes around the items that were previously 'floating'. In my view, the arrows you had in the 'calculating oil royalties' and 'calculating gas royalties' are now missing... should those be added back in, or are they no longer needed now that the equations have been flipped? Also, should the top equation be flipped (MATH = Royalty Value)

[2021-07-28 19:07] cthomasONRR opened #890 "Remove AM PDFs for 508 Phase 3"
- [x] https://www.onrr.gov/ReportPay/PDFDocs/20051202.pdf
- [x] https://www.onrr.gov/ReportPay/PDFDocs/20080311.pdf
- [x] https://www.onrr.gov/ReportPay/PDFDocs/20010925.pdf
- [x] https://www.onrr.gov/ReportPay/PDFDocs/880229.pdf
- [x] https://www.onrr.gov/ReportPay/PDFDocs/20120130.pdf
- [x] https://www.onrr.gov/ReportPay/PDFDocs/931115.pdf
- [x] https://www.onrr.gov/ReportPay/PDFDocs/940405.pdf

[2021-07-28 19:18] mcharg opened #891 "Transfer all documents on onrr.gov to the N Drive"
There has been a request to put everything on the N drive after we're done with 508 compliance when we go to the new site.
N:\MRM Shared\Data Transfers

[2021-07-28 19:33] cthomasONRR commented on #890
PDFs have been removed, and updated in Dev.

Shannon sent an email to the AM Team for approval

[2021-07-28 20:40] cthomasONRR commented on #890
We got approval from Yvette Smith for the changes to go live.
Shannon pushed the changes to the live site.

This project can now be closed.

[2021-07-28 20:40] #890 closed

[2021-07-29 14:38] mcharg commented on #679
I pulled this into my Axure file and made the remaining edits.
https://qmcq5k.axshare.com/#id=1t0m2d&p=how_leasing_works

[2021-07-29 14:39] mcharg opened #892 "Visual design for how leasing works diagram"
Wireframe: https://qmcq5k.axshare.com/#id=1t0m2d&p=how_leasing_works

[2021-07-29 14:40] mcharg commented on #679
Created #892 to finalize visual design.

@Maroyafaied You can close this after you review next week.

[2021-07-29 14:44] mcharg commented on #871
@cmathers1 Do you have those remaining docs?

[2021-07-29 17:24] mcharg opened #893 "Visual design for geothermal diagram"
https://qmcq5k.axshare.com/#id=up0lnh&p=geothermal&g=14

[2021-07-29 17:25] mcharg opened #894 "Visual design for compliance diagram"
https://qmcq5k.axshare.com/#id=wxa2eb&p=compliance&g=14

[2021-07-29 17:26] mcharg opened #895 "Visual design for ONRR history diagram"
https://qmcq5k.axshare.com/#id=vsgcdx&p=about_onrr&g=14

[2021-07-29 17:26] mcharg commented on #832
Created separate issues for remaining diagrams #892, #893, #894, #895

[2021-07-29 17:26] #832 closed

[2021-07-29 18:07] #798 closed

[2021-07-29 18:07] #858 closed

[2021-07-29 18:11] #830 closed

[2021-07-29 18:13] #883 closed

[2021-07-29 18:15] #843 closed

[2021-07-29 18:17] mcharg commented on #846
@mojobnichols will send a request to get one of the automated backups, to see if it meets our needs.

[2021-07-29 18:47] mcharg commented on #889
@CM805 is researching whether we have the right boxes paired from the first diagram to the other diagrams.

[2021-07-29 19:30] CM805 commented on #744
Updated on Dev and Live.  Emailed link to verify live change to Antoinette and Rob.

[2021-07-29 19:30] #744 closed

[2021-07-29 19:31] CM805 commented on #885
@Baymatt thought it might also be good to add data validation to column with the status

[2021-07-29 19:37] Sheetsj opened #896 "Update Contact list on ONRR.gov"
Hello,

I need to update the contact list on ONRR.gov. Location, "Contact US>under Online Resources> under ONRR Contacts by Company Assignment>File "Accounts Receivable, Billing, and Financial Issues information--Federal.

File can be located on N'Drive: \ISEDENNAS\DEN_Common\FMD\FinancialServices\Admin\Fed Assignment Contact List
Name of PDF file finserAssign
[finserAssign.pdf](https://github.com

[2021-07-29 20:20] mcharg opened #897 "July analytics"

[2021-07-29 20:24] mcharg commented on #856
This one has been fixed.

[2021-07-29 20:39] cthomasONRR commented on #896
@sheetsj

I downloaded the new PDF, and it failed the accessibility check.

Here are the errors we are seeing:
![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/611a3094-ec33-4d17-a97e-89b674bf6aff)

This table summary errors are OK and you do not need to fix them since the rest of the table passed the accessibility test:
![image.png](https://images.zenhubusercontent.com/6

[2021-07-30 12:08] Sheetsj commented on #896
Hello Christine,

That is weird that it failed. I did the check before I sent it over to you. I will look at it again to see why it is doing that.

Jessica Sheets
Financial Services Staff Accountant
Office of Natural Resources Revenue
Phone: 303-231-3401
________________________________
From: Christine Thomas ***@***.***>
Sent: Thursday, July 29, 2021 2:39 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc

[2021-07-30 12:56] mcharg commented on #885
@CM805 I downloaded the Accessibility tracking sheet and sent it to Matt.  When he completes the edits, we'll need to check to see if changes have been made to the spreadsheet in OneDrive before uploading the version with edits.

@cthomasONRR @daniel-coleman-1 @Maroyafaied FYI - If you make edits to the Accessibility Tracking sheet before this is closed, let @CM805 know.

[2021-07-30 13:12] mcharg commented on #835
@jlouis-onrr Is this done?

[2021-07-30 13:13] mcharg commented on #788
@Maroyafaied Should we start planning a study on the wireframes next sprint?  I think it's going to be a while before we get the live site to a place where it's ready to do a study.

[2021-07-30 13:15] mcharg opened #898 "Identify all the components used in the wireframes"

[2021-07-30 13:16] mcharg opened #899 "Wireframe for valuation example page"
The current page uses nonstandard components, so we need to make one using standard components.

[2021-07-30 13:48] mcharg opened #900 "Create logic for new reporter checklist"
Dynamic checklist in Getting Started:
https://qmcq5k.axshare.com/#id=muwj32&p=new_reporter_setup

New Reporter Setup tabs on Reporting pages:
https://qmcq5k.axshare.com/#id=sw7sll&p=oil___gas_production
https://qmcq5k.axshare.com/#id=5ud60e&p=oil___gas_revenue
https://qmcq5k.axshare.com/#id=hi0nnh&p=solid_minerals
https://qmcq5k.axshare.com/#id=up0lnh&p=geothermal

Logic: https://qmcq5k.axshare.co

[2021-07-30 13:50] mcharg opened #901 "Build video player"
https://qmcq5k.axshare.com/#id=tgwtqb&p=new_reporter_training
https://qmcq5k.axshare.com/#id=cwcm9b&p=reporter_training
https://qmcq5k.axshare.com/#id=tzo87j&p=assistance (Indian Outreach tab)

[2021-07-30 13:53] mcharg opened #902 "Template: Handbook page (evaluate what to do)"
This one is the format we want:
https://qmcq5k.axshare.com/#id=8gmoji&p=minerals_revenue_reporter_handbook&g=1
https://www.onrr.gov/reportpay/Handbooks/revenue-handbook/index.htm

These ones need to get into that format in the easiest way possible:
https://www.onrr.gov/reportpay/Handbooks/index.htm
https://qmcq5k.axshare.com/#id=ucmj7g&p=minerals_production_reporter_handbook&g=1
https://qmcq5k.axs

[2021-07-30 13:55] mcharg commented on #852
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/cbc1abdd-bae1-486b-b41d-2fcb8cabc1bd)

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/35aa3803-351f-4cc3-b8e2-1e427df46f8f)

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/fdeae82d-b46b-4f85-9e72-20573c103e6f)

[2021-07-30 13:59] mcharg commented on #852
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/f73c6b94-1e52-4c10-97ef-0e703aed1427)

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/31f3e01d-284f-4ca6-8053-122e27833f0c)

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/4809350c-ab07-47d3-83cf-b6cc44c005b2)

![image.png](https://images.zenhubusercontent.com/5c589fe5

[2021-07-30 14:00] mcharg opened #903 "Component: Collapsible accordion - allow expansion panels to be defaulted to open"
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/b2124daf-a8ad-4e23-a0de-bea7b0b17b20)

[2021-07-30 14:00] mcharg commented on #852
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/139b3b33-10a7-489f-b9f6-b03008f30e81)

[2021-07-30 14:03] mcharg commented on #855
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/0fa38293-4e4a-4b61-9487-0a109de6f185)

[2021-07-30 14:05] mcharg commented on #874
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/12a6d4f1-59b6-4811-9f51-713c3a5ea42a)

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/ab81b10e-5988-4cd9-95de-c6eb3353abbb)

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/29e0bd4a-ba98-4858-9279-ffcc2de1d64d)

[2021-07-30 14:11] mcharg commented on #874
We should have styling for primary and secondary buttons.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/58fbb7d7-091b-43d4-9738-a50ecb6be215)

[2021-07-30 14:13] mcharg commented on #845
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/3ebc48bc-7c14-4610-86e3-245174eb60d6)

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/a9474a6e-9ee8-40fb-a104-790b529cb17f)

[2021-07-30 14:14] mcharg commented on #845
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/23ea5c89-6175-40a9-bbce-16d1d2eed907)

[2021-07-30 14:16] mcharg opened #904 "Component: Announcements"
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/7c05e43d-beaf-4cce-b8d7-9693f6d9a65d)

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/ae7737da-fbdd-43b7-9d7a-20c17f00f247)

[2021-07-30 14:16] mcharg commented on #845
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/86d7c627-e35f-491f-9a3c-68340dcc3dbe)

[2021-07-30 14:18] mcharg commented on #901
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/d36dc04c-7d3b-4216-b728-924ed93b9ddb)

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/37f17fc5-2d52-4d1a-9fa9-784685620662)

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/ed094bfb-7b6c-4d65-b481-98a0dcc6ff5d)

![image.png](https://images.zenhubusercontent.com/5c589fe5

[2021-07-30 14:20] mcharg commented on #898
I went through the wireframes and added issues with "Component:" in the title for all the components I found.

[2021-07-30 14:21] mcharg opened #905 "Identify collections needed"
Spreadsheet I started: https://teams.microsoft.com/l/file/33FE485C-BA9E-4323-8AE2-291A3D1F5993?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FDesign%2FCollections%2FCollections.xlsx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD&serviceName=teams&threadId=19:34f9f9ee6

[2021-07-30 14:23] cthomasONRR commented on #887
I'm first developing a table in Word to capture all the information currently captured on the Discontinued ICRs webpage (https://www.onrr.gov/Laws_R_D/FRNotices/FRICRDisCont.htm)

The Word document is saved on Teams:
NRRD Team - General - ONRR.gov - Design - Regulations
(https://teams.microsoft.com/l/file/D0C4DEEF-0D13-4A9D-A582-B411D5B4D48D?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=d

[2021-07-30 14:25] mcharg opened #906 "Identify glossary terms for onrr.gov"
@cthomasONRR  will identify based on top 5 pages visited for users. @codyeckstein will send a list used for onboarding.

[2021-07-30 16:52] Sheetsj commented on #896
[finserAssign.pdf](https://github.com/ONRR/onrr.gov-site/files/6909003/finserAssign.pdf)
Okay, I think I fixed all the issues.

[2021-07-30 16:54] mcharg opened #907 "Component: Banner"
We'll need it for things like a shutdown banner or one for not supporting certain browsers, etc.  We can use the NRRD one as the design.

[2021-07-30 17:02] cthomasONRR commented on #896
@sheetsj

Thanks! It's now on the Dev Site: http://2017onrr/about/contact.htm

Please review and let us know if it's good to go live.

Thanks,
Christine

[2021-07-30 17:07] Sheetsj commented on #896
Looks good! Thank you, you can go live with it!

[2021-07-30 17:49] cthomasONRR commented on #896
@sheetsj

Great! We just pushed it over to the live site (https://www.onrr.gov/about/contact.htm). There is usually some lag time before it appears.

Please let us know if you have any questions.

Thanks!
Christine

[2021-07-30 17:49] #896 closed

[2021-07-30 18:15] cthomasONRR opened #908 "FM 508 Phase 3 Docs"
We received 6 document from Antoinette Urioste in FM. I first need to make sure these documents are 508 compliant. Expecting some back and forth to get the docs ready to go live.

Antoinette emails Christine, Shannon, and Maroya with more documents as she gets them 508-compliant. This issue is staying open to catalog FM's remaining documents.

[2021-07-30 18:19] cthomasONRR commented on #908
- [ ] [850710](https://app.zenhub.com/files/210892300/3b4397ea-c37a-4a9d-bc60-2a3b5299b97f/download)
- [ ] [961125](https://app.zenhub.com/files/210892300/607cd116-4bbe-48d9-bdb0-c1a4bbdc00ef/download)
- [ ] [20100607](https://app.zenhub.com/files/210892300/2323fc7a-d5ce-446a-899b-f5d9126fd4bc/download)
- [ ] [20110120](https://app.zenhub.com/files/210892300/502af6d9-4627-4bf4-920b-74338d5d04ad/do

[2021-07-30 19:15] Toddsand21 opened #909 "EVENT CALNDAR Note: Please add to Event Calendar on Allottee Assistance page."
AUGUST 18, 2021

CONCHO AREA MEETING

Event Information
Location:  By Telephone
Time: 1:00 pm to 2:00 pm CST

Description:  Meeting will be a Call-in Meeting to hear a presentation and updates from ONRR Outreach Office and representatives from BLM, BTFM, and BIA will discuss topics regarding Indian Oil & Gas leases, IIM Accounts and Indian Trust properties.    A limited number of lines will be ava

[2021-08-02 13:36] Maroyafaied commented on #788
@mcharg Ya we can the study on the wireframes and maybe include questions about our color choices when we go live.

[2021-08-02 15:14] Maroyafaied commented on #679
This looks good.

[2021-08-02 15:14] #679 closed

[2021-08-02 16:12] cthomasONRR commented on #871
I've been meeting with Christina about remediating these last PDF documents. They are very long (200ish pages) and are table-heavy, It's taking longer than expected to remediate these docs. Moving to the next sprint.

[2021-08-02 16:42] cthomasONRR opened #910 "Defining State/Offshore Region Query Data terms in NRRD"
There are 4 undefined terms within the State/Offshore Region Query Data:
Location not published
Not tied to a lease
Not tied to a location
Not tied to a region

![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/b5de1b19-8853-4457-acc7-8e2a4939eeed)

These 4 terms and the data associated with them need to be analyzed, to determine if they need to be defined, combined with a

[2021-08-02 17:29] cthomasONRR commented on #908
I'm communicating with Antoinette Urioste via email on this project. She is working on getting these 3 PDFs 508 compliant.

[2021-08-02 18:04] jlouis-onrr opened #911 "Build out page builder blocks"

[2021-08-02 18:18] Maroyafaied commented on #846
There is automatic snapshots. @mojobnichols will test it.

[2021-08-02 18:39] cthomasONRR commented on #887
I completed the Word document. Waiting until @mcharg gets back to take next steps.

[2021-08-02 18:54] Maroyafaied opened #912 "Recursive queries in CMS"

[2021-08-02 18:58] Maroyafaied opened #913 "Identify content types for CMS"
What type of sections of pages will non developers interact with?

[2021-08-02 22:29] #865 closed

[2021-08-03 00:05] cmathers1 opened #914 "Replace Documents on the About ONRR Page"
Good afternoon,

Please replace these three documents on the ONRR About Us MOU/SOP page:
http://2017onrr/about/MOUs-and-SOPs.htm

[FINAL Interagency SOP - 09-23-13.pdf](https://github.com/ONRR/onrr.gov-site/files/6920166/FINAL.Interagency.SOP.-.09-23-13.pdf)

[Concurrence Memo June 2013 (1).pdf](https://github.com/ONRR/onrr.gov-site/files/6920171/Concurrence.Memo.June.2013.1.pdf)

[Signed SOP Memo

[2021-08-03 12:51] cthomasONRR commented on #914
Good morning, @cmathers1 -
All 3 files passed the accessibility check! Congrats! Thank you for all your hard work!

I have updated the documents on the Dev Site: http://2017onrr/about/MOUs-and-SOPs.htm

Please let us know if it looks good, and give us your approval for it to go on the live site.

@Maroyafaied - I am still in the process of getting full access to the Z-drive and will need help movi

[2021-08-03 12:53] cthomasONRR commented on #871
Closing this issue, as Christina opened a new issue for updating the other 3 documents mentioned here (Issue #914)
https://app.zenhub.com/workspaces/data-display-5464fa79c3cc8d7f4c384eaf/issues/onrr/onrr.gov-site/914

[2021-08-03 12:53] #871 closed

[2021-08-03 15:44] Maroyafaied commented on #909
@Toddsand21 would you like us to remove the July events?

[2021-08-03 15:51] Maroyafaied commented on #909
@Toddsand21 Please review the dev site and let us know if you'd like the July events removed. Thanks

http://2017onrr/events.htm

[2021-08-03 16:51] Toddsand21 commented on #909
On the Concho Meeting :  1)  could we add an "S" in between the CT on the time for central standard time (CST).  2)  And also in the paragraph Other Information: could we add the words "toll-free"  in the sentence to read  "to get the toll-free call-in number and passcode"
And last delete the July Ft Duchesne Meeting but keep the 71st Indian Hills Powwow info on there (just to show we are doing bo

[2021-08-03 17:05] Maroyafaied commented on #909
@daniel-coleman-1 Can you please make the changes above. Thanks

[2021-08-03 17:45] daniel-coleman-1 commented on #909
@Maroyafaied changes updated and verified in dev, moving to the live site now.

[2021-08-03 18:02] Toddsand21 commented on #909
Great! Thanks Guys!

[2021-08-03 18:18] Maroyafaied commented on #884
@daniel-coleman-1 did you mean to close this issue? Was this already worked on? If so, can you add a comment and someone to review? Thanks

[2021-08-03 18:23] daniel-coleman-1 commented on #884
@Maroyafaied  I closed it since we are collaborating with the ONRR Web team for the style guide. I didn't want to dig into the most granular aspects like specific punctuation rules beforehand, especially because I'm not sure if setting a rule for hyphen use is necessary.

[2021-08-03 18:25] daniel-coleman-1 commented on #909
@Maroyafaied @Toddsand21

[We are live!](https://onrr.gov/events.htm)

[2021-08-03 18:41] #884 closed

[2021-08-03 18:43] Maroyafaied commented on #909
@daniel-coleman-1 looks great, thanks!

[2021-08-03 18:43] #909 closed

[2021-08-03 18:57] cthomasONRR commented on #914
I got Christina's approval via Teams chat.

@Maroyafaied - I was able to move these 3 PDFs from to Y-drive to the Z-drive without issues.

@cmathers1 - the changes should be live shortly!

I will go ahead and close this request.
Thanks!

[2021-08-03 18:57] #914 closed

[2021-08-03 21:16] merrellc opened #915 "Webpage - Federal Onshore Terminable Leases"
Please update the following webpage http://www.onrr.gov/ReportPay/royalty-reporting.htm with the atached PDF file:

Federal Onshore Terminable Leases - sorted by Due Date. Also change update to read updated 8/2/2021.

Thank you
[20210802.xlsx](https://github.com/ONRR/onrr.gov-site/files/6927095/20210802.xlsx)

[2021-08-03 21:19] Maroyafaied commented on #915
@daniel-coleman-1 can you take this one? Let me know if you need help. Thanks

[2021-08-03 21:54] daniel-coleman-1 commented on #915
The page is updated in the dev site:
[Click here to preview](Y:\reportpay\royalty-reporting.htm)

@merrellc with your permission I will push to the live site.

[2021-08-03 22:10] merrellc commented on #915
Ready for live site.

Thank you,
​Candace Merrell
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3517
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from dis

[2021-08-03 22:31] daniel-coleman-1 commented on #915
@Maroyafaied @merrellc
Fantastic, we are live!

[2021-08-04 12:31] cthomasONRR commented on #908
Antoinette emailed letting us know that she needs more time for 508 remediation of these 3 documents. She is hoping to get them completed by August 10.

[2021-08-04 16:16] StaceyKaiser opened #916 "Webpage Update - New Lease Agreement XREF file for onrr.gov"
Please replace the existing file located at: http://www.onrr.gov/ReportPay/CrossRef.htm called “Downloadable Text Cross-Reference Lease to Agreement Number” with the file entitled “August 2021 Lease Agreement XREF.xlsx”.  It was queried from the system on 8/4/2021.
[August 2021 Lease Agreement XREF.txt](https://github.com/ONRR/onrr.gov-site/files/6932758/August.2021.Lease.Agreement.XREF.txt)

[2021-08-04 16:45] daniel-coleman-1 commented on #916
@StaceyKaiser I'm getting a .txt file there, could you convert to an .xlsx file?

[2021-08-04 16:46] Maroyafaied commented on #916
@daniel-coleman-1 We agreed with Stacy and her team to go back to text files instead of excel. Thanks for taking this issue!

[2021-08-04 16:47] daniel-coleman-1 commented on #916
@StaceyKaiser my mistake, disregard!
Thank you @Maroyafaied

[2021-08-04 17:00] daniel-coleman-1 commented on #916
@StaceyKaiser changes have been implemented in the dev site:
file:///Y:/reportpay/CrossRef.htm

With your approval I will push changes to the live site.

[2021-08-04 18:38] StaceyKaiser commented on #916
We get a server error when trying to download this file

[2021-08-04 18:51] Daphnesmum commented on #916
Received this error again this month when I click on the link to the file.
[Error for Data Display.docx](https://github.com/ONRR/onrr.gov-site/files/6933709/Error.for.Data.Display.docx)

[2021-08-04 19:58] daniel-coleman-1 commented on #916
@StaceyKaiser nice catch!  I have corrected the error and the file is downloading correctly on my end.  With your approval, I will push changes to the live site.

[2021-08-04 20:36] StaceyKaiser commented on #916
@daniel-coleman-1 the file is good and can be pushed to the live site.  Thanks!

[2021-08-04 21:11] daniel-coleman-1 commented on #916
@StaceyKaiser fantastic, we are live!
[Live site](https://www.onrr.gov/ReportPay/CrossRef.htm)

[2021-08-05 16:45] daniel-coleman-1 commented on #861
Here is the menu option file I used:
https://qmcq5k.axshare.com/#id=e1wh3o&p=home_v3

And here is the site map file:
https://92ix0j.axshare.com/#id=6cfibl&p=7_0_about_onrr&g=1

I'd like access to that file to edit it, and to the menu options to update them as well.  Will bring up in the meeting.

Document:
[Site_Map_New.docx](https://github.com/ONRR/onrr.gov-site/files/6940288/Site_Map_New.docx)

[2021-08-05 16:59] Maroyafaied commented on #861
@daniel-coleman-1 I believe @mcharg invited you to access the AxShare folder, can you check?

[2021-08-06 03:16] daniel-coleman-1 opened #917 "Edit Unbundling Page"
Email Issue:

Good afternoon,
We have discovered an error with the Unbundling website. There are two Ignacio gas plants. We would like to remove the Ignacio UCA that says it is in NM and was published in 2014? (currently on page three)
Thank you!

![for webteam 2021 08 05](https://user-images.githubusercontent.com/83892362/128450749-08340598-ec02-425a-96b8-10c5cae05296.JPG)

[2021-08-06 14:01] daniel-coleman-1 commented on #917
Changes implemented in dev, requested review from requestor via email

[2021-08-06 18:25] forgravec opened #918 "NYMEX July prices ready for ONRR.gov"
The July NYMEX and Roll prices are ready to be updated as well as the spreadsheet ready to be added to ONRR.gov
[NYMEX072021.xlsx](https://github.com/ONRR/onrr.gov-site/files/6947334/NYMEX072021.xlsx)

Thanks,
Cory Forgrave
@sudarr

[2021-08-06 18:49] merrellc opened #919 "Webpage Update (Indian Fund Code)"
Please update the following webpage http://onrr.gov/ReportPay/payments.htm with the attached file:
Indian Leases Cross-walked to Distributee Codes.

Also change updated to read 08/06/2021.

In addition to the above please update to read 08/06/2021 on http://onrr.gov/ReportPay/royalty-reporting.htm for the same file.
Thank you
[FCIL.xlsx](https://github.com/ONRR/onrr.gov-site/files/6947436/FCIL.xls

[2021-08-06 19:12] penvosej opened #920 "August Indian Index Zone prices"
Please include the Indian Index Zone prices for August on ONRR.gov. The "Data for ONRR.gov" Excel spreadsheet has been updated with the newest prices.

@sudarr

[2021-08-06 19:14] daniel-coleman-1 commented on #919
@merrellc changes are implemented in the dev site, with your permission I will push changes live.

file:///Y:/reportpay/royalty-reporting.htm
file:///Y:/reportpay/payments.htm

[2021-08-06 21:03] daniel-coleman-1 commented on #917
Changes approved by requestor and pushed to live site.

[2021-08-06 21:49] merrellc commented on #919
Push live.

Thank you,
​Candace Merrell
Minerals Revenue Specialist - Staff
Reference, Royalty and Production
Reference and Reporting Management
Office of Natural Resources Revenue
303-231-3517
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosure un

[2021-08-09 11:54] mcharg commented on #861
@daniel-coleman-1 I sent you the Axure file via chat and gave you access to the AxShare folder to be able to publish changes to the same link.

[2021-08-09 12:12] mcharg commented on #887
@cthomasONRR This is a great start!  I'll mock up what it looks like in accordions similar to the ones we have for contacts.

[2021-08-09 12:13] mcharg commented on #905
@Maroyafaied @daniel-coleman-1 What's the next step on this?  I thought we wanted the developers to weigh in on which would actually be collections.

[2021-08-09 12:14] mcharg commented on #913
@daniel-coleman-1 Have you started anything on this?

[2021-08-09 12:28] cthomasONRR commented on #887
@mcharg Great! Please let me know if I can help!

[2021-08-09 12:34] mcharg opened #921 "Remove RRM Phase 3 documents"
- [ ] https://www.onrr.gov/ReportPay/PDFDocs/940919.pdf

[2021-08-09 12:54] Maroyafaied commented on #920
@cthomasONRR I'll schedule us for today to work on the pricing update issues together.

[2021-08-09 12:56] cthomasONRR commented on #920
@Maroyafaied Sounds good- thanks for the help!

[2021-08-09 13:06] mcharg opened #922 "Updated AM documents"
Lori sent me an email with these two docs on AM's list.  They have errors, so I asked her to fix them.

- [x] [8-27-12--2.pdf](https://app.zenhub.com/files/210892300/14c97b6c-5684-4330-8feb-0f9887eae8b7/download)
- [x] [20141106.pdf](https://app.zenhub.com/files/210892300/bd10c25b-15ad-4b98-a05c-f7ab1d84681b/download)

[2021-08-09 14:30] mcharg commented on #921
Checking with @sghahn to see if there are others.

[2021-08-09 14:35] mcharg commented on #885
@CM805 This looks like it was updated in the spreadsheet.  Can we close this issue?

[2021-08-09 14:38] mcharg commented on #917
@daniel-coleman-1 Which document did you remove?

https://www.onrr.gov/unbundling/pdf/Ignacio-UCA-Table-20180208.pdf
or
https://www.onrr.gov/unbundling/pdf/Williams_San_Juan_Conventional_Trransportation_System_Ignacia_Plant.pdf

It needs to be updated in the accessibility tracking and content audit sheets.

[2021-08-09 14:40] mcharg commented on #916
@daniel-coleman-1 The change back to the .txt file needs to be updated in the Content Audit sheet.

[2021-08-09 14:40] cthomasONRR commented on #885
@mcharg I believe this issue can be closed.

We are now using Matt's new excel sheet (https://app.zenhub.com/workspaces/data-display-5464fa79c3cc8d7f4c384eaf/issues/onrr/onrr.gov-site/841)

And we made a new file in the 508 One Drive to house older versions of the excel tracker (https://doimspp-my.sharepoint.com/:f:/r/personal/mchargs_mms_gov/Documents/onrr.gov/508/Archive%20for%20AccessibilityTra

[2021-08-09 14:42] mcharg commented on #915
@daniel-coleman-1 You changed the file name on this.  We keep the original file names, so bookmarks and any other links to the file don't get broken and we don't have to update the content audit.  Please change the file name to this:
https://www.onrr.gov/reportpay/PDFDocs/FLTerm.xlsx

[2021-08-09 14:57] mcharg commented on #885
Thanks for the update @cthomasONRR!

[2021-08-09 14:57] #885 closed

[2021-08-09 15:03] mcharg commented on #861
@daniel-coleman-1 The file is now also on Teams. https://doimspp.sharepoint.com/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Sitemap/sitemap_2021.rp

[2021-08-09 15:37] mcharg commented on #880
@cthomasONRR Will rename this to the old file name:

https://www.onrr.gov/reportpay/PDFDocs/RS_LeAgAssignments.pdf

To fix broken links.

[2021-08-09 15:52] cthomasONRR commented on #880
@mcharg Updated the document with the old file name and updated the file name in Atom for http://2017onrr/reportpay/royalty-reporting.htm

[2021-08-09 15:54] mcharg commented on #880
@cthomasONRR Looks good to me in dev, so you can go ahead and push live.

[2021-08-09 15:58] bowlenj commented on #880
That's the royalty page, we need it to take us to the contact sheet for lease agreement maintaince - http://2017onrr/about/contact.htm

Thank You,
Jessica Bowlen
Office of Natural Resource Revenue
Distribution and Disbursement Support Services
Team 1B
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain infor

[2021-08-09 16:15] daniel-coleman-1 commented on #919
Excellent, we are live!

[Report Pay](https://onrr.gov/ReportPay/royalty-reporting.htm)
[Payments](https://onrr.gov/ReportPay/payments.htm)

[2021-08-09 16:16] #919 closed

[2021-08-09 16:17] daniel-coleman-1 commented on #913
@mcharg here's the teams doc:

https://teams.microsoft.com/l/file/3141268f-ed5a-4386-832e-af660d02f595?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp-my.sharepoint.com%2Fpersonal%2Fcolemanw_mms_gov%2FDocuments%2FMicrosoft%2520Teams%2520Chat%2520Files%2FContent%2520Types.docx&baseUrl=https%3A%2F%2Fdoimspp-my.sharepoint.com%2Fpersonal%2Fcolemanw_mms_gov&s

[2021-08-09 16:24] bowlenj commented on #880
Thank you, that looks like it worked!

Thank You,
Jessica Bowlen
Office of Natural Resource Revenue
Distribution and Disbursement Support Services
Team 1B
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosure under applicable law.  If th

[2021-08-09 16:25] mcharg commented on #913
@daniel-coleman-1 Please give me access to the file.

[2021-08-09 16:25] cthomasONRR commented on #880
Awesome! Glad I could help. I will close this project again.

[2021-08-09 16:25] #880 closed

[2021-08-09 16:36] bowlenj commented on #880
Thank you, it looks great!

Thank You,
Jessica Bowlen
Office of Natural Resource Revenue
Distribution and Disbursement Support Services
Team 1B
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosure under applicable law.  If the reader of

[2021-08-09 16:44] #917 closed

[2021-08-09 16:50] cmathers1 opened #923 "Remediated Documents for onrr.gov"
Good morning,

Please post these remediated document on onrr.gov.  Thank you!

[ONRR WES Supplemental Statistical Report 2017-09-29 (2) (1).pdf](https://github.com/ONRR/onrr.gov-site/files/6956063/ONRR.WES.Supplemental.Statistical.Report.2017-09-29.2.1.pdf)

[ONRR Proposed Workplace Environment Response Plan 04042018.pdf](https://github.com/ONRR/onrr.gov-site/files/6956065/ONRR.Proposed.Workplace.

[2021-08-09 16:52] cmathers1 opened #924 "Remove Documents from onrr.gov"
Good morning, Please remove this document from onrr.gov

[ONRR FY20 Q1 WES Action Plan Reports.pdf](https://github.com/ONRR/onrr.gov-site/files/6956086/ONRR.FY20.Q1.WES.Action.Plan.Reports.pdf)

Thank you!
Christina

[2021-08-09 16:52] #916 closed

[2021-08-09 17:15] Maroyafaied commented on #918
1. Save file here as "NYMEX0721" \\iondeniisp01\ONRR2017\valuation\ExcelFiles
2.  Add date, calendar month avg, NYMEX roll and name of excel file (step 1) to this excel sheet \\iondeniisp01\ONRR2017\assets\NYMX
3. Check dev site if most recent month is updated  and send link to review http://2017onrr/valuation/NYMEX.htm

[2021-08-09 17:21] Maroyafaied commented on #920
1. Copy prices for most recent month from this shared spreadsheet https://doimspp-my.sharepoint.com/:x:/r/personal/sudarr_mms_gov/_layouts/15/Doc.aspx?sourcedoc=%7B610913F6-CC44-4222-8521-FAD9EA5FEB0E%7D&file=Data%20for%20ONRR.gov.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&ct=1628529521799&wdOrigin=OFFICECOM-WEB.START.OTHER&cid=ecd8e4fe-d9f0-4804-8353-8afe18a9c432
2. Paste prices he

[2021-08-09 17:42] cthomasONRR commented on #918
@forgravec I updated the Dev site (http://2017onrr/valuation/NYMEX.htm). Please review and let us know if you approve for these changes to go live. Thanks!

[2021-08-09 17:47] daniel-coleman-1 commented on #915
Corrected, roger that and thank you, @mcharg

https://www.onrr.gov/ReportPay/royalty-reporting.htm

[2021-08-09 17:47] #915 closed

[2021-08-09 17:48] forgravec commented on #918
Prices look good...Thanks!

Cory Forgrave
Economist
Office of Natural Resources Revenue
303-231-3589
***@***.***

________________________________
From: Christine Thomas ***@***.***>
Sent: Monday, August 9, 2021 11:42 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Forgrave, Cory J ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] NYMEX July prices ready for ONRR.gov (#918

[2021-08-09 17:49] cthomasONRR commented on #920
@penvosej I made the updates on the Dev site (http://2017onrr/valuation/allzones.htm). Could you please review and give us your approval for it to go live? Thanks!

[2021-08-09 17:57] penvosej commented on #920
Hi Christine,

The Indian Index Zone prices for August look good. Can you please do me one small favor, though? Could you please correct the January & June NRM prices to have a "0" in the hundredths place, and do the same for the July San Juan Basin price? I try to catch these but I guess the times I've been assigned the primary role for Indian Index Zone this year I must have missed them.

Thanks

[2021-08-09 18:03] cthomasONRR commented on #920
@penvosej - Just fixed! Please let me know what you think!

[2021-08-09 18:07] penvosej commented on #920
Everything looks great; thank you so much for fixing those! The data looks good to go live.

From: Christine Thomas ***@***.***>
Sent: Monday, August 9, 2021 12:04 PM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Penvose, Jessica M ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] August Indian Index Zone prices (#920)

 This email has been received from outside of DOI - Us

[2021-08-09 18:21] cmathers1 opened #925 "Remediated Documents for onrr.gov"
Good afternoon,

Please replace the existing documents with the attached remediated documents on the Testimony page. Thank you!
[OMB cleared FAIR Act statement.pdf](https://github.com/ONRR/onrr.gov-site/files/6956546/OMB.cleared.FAIR.Act.statement.pdf)
[BOEMRE_Reorg_testimony_7-15-11.pdf](https://github.com/ONRR/onrr.gov-site/files/6956547/BOEMRE_Reorg_testimony_7-15-11.pdf)
[ONRR-Testimony-3-17-1

[2021-08-09 18:36] cthomasONRR commented on #918
@forgravec I just made the changes live (https://www.onrr.gov/valuation/NYMEX.htm). Please allow around 30min for these changes to appear on the live site. Press Ctrl+F5 to refresh the page. Thanks!

[2021-08-09 18:36] daniel-coleman-1 commented on #925
@cmathers1  changes have been implemented in dev, with your approval I will push the changes live.

file:///Y:/about/presentations.htm

[2021-08-09 18:37] cthomasONRR commented on #920
@penvosej I just made the changes live (https://www.onrr.gov/valuation/allzones.htm). Please allow around 30min for these changes to appear on the live site. Press Ctrl+F5 to refresh the page. Thanks!

[2021-08-09 18:44] cthomasONRR commented on #923
All 3 files passed the accessibility test! I'm working on getting them updated on the Dev site.

[2021-08-09 18:46] cmathers1 commented on #923
Thank you!  Have a great day!

Sincerely,

Christina

Christina Mathers
Staff Assistant
Director/Deputy Director's Office
Office of Natural Resources Revenue
6th Avenue and Kipling Street Bldg. 85
Denver, Colorado 80225
Phone:  303-231-3429
Cell: 303-503-1315
________________________________
From: Christine Thomas ***@***.***>
Sent: Monday, August 9, 2021 12:44 PM
To: ONRR/onrr.gov-site ***@***.**

[2021-08-09 18:46] cmathers1 commented on #925
Thank you. Please post them to the live site Have a great day!

Sincerely,

Christina

Christina Mathers
Staff Assistant
Director/Deputy Director's Office
Office of Natural Resources Revenue
6th Avenue and Kipling Street Bldg. 85
Denver, Colorado 80225
Phone:  303-231-3429
Cell: 303-503-1315
________________________________
From: daniel-coleman-1 ***@***.***>
Sent: Monday, August 9, 2021 12:37 PM

[2021-08-09 18:54] cthomasONRR commented on #923
@cmathers1

These 3 PDFs are updated on the Dev site (http://2017onrr/about/anti-harassment.htm). Please review and give us your approval for the changes to go live.

Thank you so much for your efforts in making all the documents 508-Compliant!!!

[2021-08-09 18:56] Maroyafaied commented on #925
@daniel-coleman-1 Thanks for taking this issue, please update the accessibility tracking sheet once these are updated live. Thanks

[2021-08-09 19:01] cthomasONRR commented on #924
@cmathers1

I removed the document on the Dev site (http://2017onrr/about/anti-harassment.htm).
Please review and give us your approval to make the changes live.

Thanks!!

[2021-08-09 19:03] cthomasONRR commented on #920
@penvosej

The changes are now live for me. Closing this issue.

[2021-08-09 19:03] #920 closed

[2021-08-09 19:04] cthomasONRR commented on #918
@forgravec

The changes are now live for me. Closing this issue.

[2021-08-09 19:04] #918 closed

[2021-08-09 19:05] cmathers1 commented on #924
Thank you, Christine!  Yes, please make the changes live.

Sincerely,

Christina

Christina Mathers
Staff Assistant
Director/Deputy Director's Office
Office of Natural Resources Revenue
6th Avenue and Kipling Street Bldg. 85
Denver, Colorado 80225
Phone:  303-231-3429
Cell: 303-503-1315
________________________________
From: Christine Thomas ***@***.***>
Sent: Monday, August 9, 2021 1:01 PM
To: ON

[2021-08-09 19:07] Maroyafaied commented on #924
@cthomasONRR please update the status on the accessibility tracking sheet once these go live, thanks!

[2021-08-09 19:14] cthomasONRR commented on #924
@cmathers1 - I updated the live site with this change (https://www.onrr.gov/about/anti-harassment.htm). Please allow around 30min for these changes to go live. Please use Ctrl+F5 to refresh the page.

@Maroyafaied - The tracking spreadsheet is update :)

[2021-08-09 19:18] daniel-coleman-1 commented on #925
@Maroyafaied  updated in accessibility tracking spreadsheet

[2021-08-09 19:18] daniel-coleman-1 commented on #925
@cmathers1 Fantastic, we are live!

[Presentations & Testimony](https://www.onrr.gov/About/Presentations.htm)

[2021-08-09 19:18] #925 closed

[2021-08-09 20:17] cthomasONRR opened #926 "Create a "how-to" guide for uploading MSA prices to ONRR.gov"
I created a how-to guide for uploading MSA pricing data to ONRR.gov.

It is located on Teams: NRRD > General > ONRR.gov
The word document is called ["How to upload MSA monthly prices"](https://teams.microsoft.com/l/file/7DAF2AF4-F328-4B2C-B58F-B477552029A1?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%

[2021-08-09 20:31] cthomasONRR commented on #924
The changes are now live. Closing this issue.

[2021-08-09 20:31] #924 closed

[2021-08-09 20:42] Maroyafaied commented on #926
@cthomasONRR GREAT JOB! Thanks for getting on top of that so quickly, it looks great! We also upload the gas major portion (IndianMajorPortionGasPrices excel file) and oil major portion pricing (IBMP excel file), it's a very similar process to the Index zone update where we copy and paste from the file MSA sends us.  Can you create a section for both of these prices with the same instructions as t

[2021-08-09 22:05] daniel-coleman-1 commented on #861
Here is my updated site map:

https://doimspp-my.sharepoint.com/:u:/g/personal/mchargs_mms_gov/ETT05UVj2-1KtJd1L6FA8kEBq-rtSMiVu0kmG88arkeVjg?e=fRxz4I

I kept everything from both versions, so I am assuming we will consolidate some menu options.

Do we want to change the order around at all?
@mcharg @Maroyafaied

[2021-08-09 22:22] Maroyafaied commented on #861
@daniel-coleman-1 I'm not able to open the link, I get this message.
![image](https://user-images.githubusercontent.com/40175688/128781686-7696098a-e034-48cc-9469-4a514304157d.png)

[2021-08-09 22:27] daniel-coleman-1 commented on #861
Ahh, ok, I understand how linking the pages works now.
https://92ix0j.axshare.com/

@Maroyafaied

[2021-08-09 22:52] Maroyafaied commented on #861
@daniel-coleman-1 I'm not sure if I'm checking the correct folder but I'm checking the "After Redesign" folder, I looked a bit at the primary nav section and "7.0 About ONRR" section and I'm finding quite a few things not matching the wireframe. I added a few comments in axure. Can you schedule a meeting with @mcharg and I tomorrow to make sure we're all on the same page and I'm reviewing the corr

[2021-08-09 23:00] daniel-coleman-1 commented on #861
@Maroyafaied sounds good, there may be extra to pare down.  I set us a meeting with @mcharg for 11:30 tomorrow morning.

[2021-08-10 12:35] cthomasONRR commented on #926
@Maroyafaied - I added in those sections. They are ready for your review.

[2021-08-10 12:39] mcharg commented on #861
@daniel-coleman-1 You have to publish your Axure file to AxShare, like I showed you, to get a link where people can comment.

@Maroyafaied You're commenting on the last version I did in December.

[2021-08-10 12:40] mcharg commented on #861
@daniel-coleman-1 The menus in the wireframes are pretty well vetted with stakeholders, so we don't want to change them unless we have a good reason to.

[2021-08-10 12:44] Maroyafaied commented on #926
@cthomasONRR looks good.

[2021-08-10 13:24] cthomasONRR commented on #923
@cmathers1 - can we get your approval to go live? Thanks!

[2021-08-10 13:29] cmathers1 commented on #923
Good morning,

Yes, we can go live. Thank you!

Sincerely,

Christina

Christina Mathers
Staff Assistant
Director/Deputy Director's Office
Office of Natural Resources Revenue
6th Avenue and Kipling Street Bldg. 85
Denver, Colorado 80225
Phone:  303-231-3429
Cell: 303-503-1315
________________________________
From: Christine Thomas ***@***.***>
Sent: Tuesday, August 10, 2021 7:25 AM
To: ONRR/onrr.g

[2021-08-10 14:12] mcharg commented on #913
@daniel-coleman-1 I still don't have access to the doc.  Please move it into one of the shared folders, like I showed you how to do yesterday.

[2021-08-10 14:16] cthomasONRR commented on #923
@cmathers1

Great! Thanks!
I made these changes live (https://www.onrr.gov/about/anti-harassment.htm). Please allow around 30min for the changes to appear on the live site. Press "Ctrl+F5" to refresh the page.

[2021-08-10 14:21] cthomasONRR commented on #926
@Maroyafaied Awesome!

I'm thinking of creating a new folder within ONRR.gov to house documentation like this... or should it go on the onrr.gov wiki instead?

[2021-08-10 14:47] daniel-coleman-1 commented on #861
@Maroyafaied updated the document based on your notes

[2021-08-10 14:55] daniel-coleman-1 commented on #913
@mcharg

https://doimspp-my.sharepoint.com/:w:/r/personal/mchargs_mms_gov/Documents/onrr.gov/Content%20Audit/Content%20Types.docx?d=w50e896e9a659497d9e22c1ce28dcef1a&csf=1&web=1&e=LgZEAC

[2021-08-10 14:58] Maroyafaied commented on #926
@cthomasONRR Yes, let's create a folder in teams. We can add it to the wiki under releasing changes but take the link out to the spreadsheet that MSA provides, I don't want to make it public even though I know you have to request access but better to take precaution incase they put prices in there they don't want us to publish yet.

[2021-08-10 15:01] cthomasONRR commented on #926
@Maroyafaied - Great! I made a folder in Teams. Let me know when you're out of the doc and I can move it over.

I can work on creating a wiki section for it too, will hopefully finish that this week.

[2021-08-10 15:03] #923 closed

[2021-08-10 16:25] Maroyafaied commented on #898
@mcharg @jlouis-onrr would adding  icons such as a pdf icon next  to docs  or a glossary icon be considered a "component"? Also do we need something for the new reporter set up page for building checklists?

[2021-08-10 16:27] mcharg commented on #898
I figured the checklist would be a page template and created #900 for that.

[2021-08-10 16:45] mcharg commented on #887
Here's the mock up with the accordions: https://qmcq5k.axshare.com/#id=tqf3j1&p=information_collection_requests

[2021-08-10 17:00] mcharg commented on #788
Draft plan is ready.
https://doimspp.sharepoint.com/:w:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/User%20Research/Studies/08_Wireframes/Research%20plan%20ONRR.gov.docx?d=wb237a438c97c4ae98b926bfa5df47a31&csf=1&web=1&e=twHrAG

@Maroyafaied @cthomasONRR Can you please review?

[2021-08-10 17:34] CM805 commented on #889
I've been taking a look at this today, but I'd really like to wait and look at some hard copy documents that I have at home.

[2021-08-10 17:43] cthomasONRR commented on #887
@mcharg It looks good to me! I cross checked it with the Word doc.

[2021-08-10 17:50] mcharg commented on #887
@Maroyafaied This is ready for you to review.
https://qmcq5k.axshare.com/#id=tqf3j1&p=information_collection_requests

[2021-08-10 17:59] cthomasONRR commented on #926
@Maroyafaied The GitHub Wiki is ready for your review: https://github.com/ONRR/onrr.gov-site/wiki/Releasing-changes-to-production

[2021-08-10 18:18] Maroyafaied commented on #905
To identify which collections will need to be updated by non developers to know what kind of permissions are needed.

[2021-08-10 18:20] #898 closed

[2021-08-10 18:23] Maroyafaied commented on #913
This was for identifying UI components which has already been done.

[2021-08-10 18:23] #913 closed

[2021-08-10 18:45] mcharg commented on #921
@cthomasONRR Shannon H. confirmed that this is the only one to remove, so you can go ahead and do it when you get time.

[2021-08-10 18:49] sghahn commented on #841
@mcharg Here are 10 documents for upload.

- [ ] [881114a.pdf](https://github.com/ONRR/onrr.gov-site/files/6963804/881114a.pdf)
- [ ] [930712.pdf](https://github.com/ONRR/onrr.gov-site/files/6963806/930712.pdf)
- [ ] [990812.pdf](https://github.com/ONRR/onrr.gov-site/files/6963807/990812.pdf)
- [ ] [20010925.pdf](https://github.com/ONRR/onrr.gov-site/files/6963808/20010925.pdf)
- [ ] [20080820.pdf

[2021-08-10 18:50] sghahn commented on #841
@mcharg 9 documents for upload:

- [ ] [880630.pdf](https://github.com/ONRR/onrr.gov-site/files/6963836/880630.pdf)
- [ ] [881114b.pdf](https://github.com/ONRR/onrr.gov-site/files/6963837/881114b.pdf)
- [ ] [890119.pdf](https://github.com/ONRR/onrr.gov-site/files/6963838/890119.pdf)
- [ ] [900615.pdf](https://github.com/ONRR/onrr.gov-site/files/6963839/900615.pdf)
- [ ] [910612.pdf](https://github

[2021-08-10 18:51] cthomasONRR commented on #921
@mcharg I can do this tomorrow if that's ok.

[2021-08-10 18:55] mcharg commented on #905
@Maroyafaied Column for who needs to edit is added, if you want to review.

[2021-08-10 18:57] cthomasONRR commented on #923
I verified that these 508-compliant PDFs made it to the live site before closing this issue.

[2021-08-10 20:21] damionschulte opened #927 "July IBMP Prices"
All, I have updated the ONRR.gov sheet with the July 2021 IBMP prices.  Can you please publish them to the website?  Thank you
@sudarr

[2021-08-10 21:36] Maroyafaied commented on #887
@mcharg Looks good, the only difference I noticed is for this entry below (Aug,31,2004) , it says "Expired" on the site currently, so I'm not sure if want to include that word in the table.
![image](https://user-images.githubusercontent.com/40175688/128938331-c89ad142-5534-46c2-b731-a8b7266f42a5.png)

[2021-08-10 22:27] Maroyafaied commented on #927
@cthomasONRR we can work on this one together tomorrow during our check in.

[2021-08-10 22:28] Maroyafaied commented on #926
@cthomasONRR looks great. Thanks

[2021-08-10 22:30] cthomasONRR commented on #926
Great! I will close this issue.

[2021-08-10 22:30] #926 closed

[2021-08-10 22:37] Maroyafaied commented on #905
@mcharg I added a couple of comments but looks good. @jlouis-onrr can you take a look at the spreadsheet to see if all of these would be considered collections. Thanks

[2021-08-10 22:50] cthomasONRR commented on #922
@mcharg

- [ ]  8-27-12--2.pdf
This PDF is not 508-Compliant. It has issues with Alt Text and Headings.

- [ ]  20141106.pdf
This PDF is not 508-Compliant. It has issues with Alt Text and Headings.

[2021-08-10 23:05] cthomasONRR commented on #921
@mcharg and @sghahn

I removed this document in the Dev site (http://2017onrr/DearRep.htm).
Shannon H - please review and give us your approval to go live. Thanks!

[2021-08-10 23:19] cthomasONRR commented on #841
18/19 files passed the accessibility check:
- [ ] 20060523.pdf failed accessibility check - has issues with tagged annotations.

[2021-08-11 00:03] cthomasONRR commented on #841
@mcharg and @sghahn

I got all the files updated in Dev (http://2017onrr/) except for:

- [ ] 20060523.pdf  - failed accessibility check - has issues with tagged annotations.
- [ ] Reporter Letter for Solids re CRs.pdf  - is a duplicate, not sure what to do with it.

Note Shannon M:
Pacific_TIMS_Contacts.pdf - I could not find it in the content audit tab of the accessibility tracking excel, but mo

[2021-08-11 00:24] daniel-coleman-1 commented on #861
Wrapping up for the day, completed through the Reporting tab:

https://92ix0j.axshare.com/

[2021-08-11 12:49] Maroyafaied commented on #861
@daniel-coleman-1 Just to make sure what to review, did you work on getting started and all the subsections under it?

[2021-08-11 12:58] mcharg commented on #887
I'll defer to @cthomasONRR on that.  Does expired mean something different from discontinued?

[2021-08-11 13:00] Maroyafaied commented on #861
@daniel-coleman-1 please specify which section you worked on and ready for review? I reviewed the Oil and Gas Production section that we discussed completing yesterday and it still needs updating? I also looked at the Getting Started section and there's some updates needed there too.

[2021-08-11 13:06] cthomasONRR commented on #887
@mcharg When ICRs get 'discontinued', it just means that we let them expire without any intention of renewing them. I think it's OK to be consistent and use the word 'discontinued' everywhere. Hope this is helpful!

[2021-08-11 13:08] mcharg commented on #861
@daniel-coleman-1 I don't think you published your latest changes.  The last file was uploaded to AxShare at 10:45 AM yesterday.

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/8702aee6-2be6-4b4f-8ca7-d3c24f0d602e)

[2021-08-11 13:10] mcharg commented on #887
Great.  I'll go ahead and close this issue.

[2021-08-11 13:10] #887 closed

[2021-08-11 13:15] mcharg commented on #922
@cthomasONRR I asked Lori to correct the issues.  I'll post the updated versions when she sends them.

[2021-08-11 13:18] mcharg commented on #841
@cthomasONRR The Reporter Letter for Solids re CRs.pdf one is in our list twice, so you can just mark both rows as accessible.  We have it assigned to Rob Winter, so you can change that to April Lockler.  I'll go into Rob's list and mark it as reassigned.

[2021-08-11 13:26] sghahn commented on #921
@cthomasONRR , yes please push the removal to the live site. Thanks.

[2021-08-11 13:28] mcharg opened #928 "Add production reporting contacts page to content audit"
We realized this page is missing.
https://www.onrr.gov/reportpay/contacts.htm

[2021-08-11 13:38] sghahn commented on #841
@cthomasONRR @mcharg

Corrected the following:
- [ ] [20060523.pdf](https://github.com/ONRR/onrr.gov-site/files/6968838/20060523.pdf)

Pacific_TIMS_Contacts.pdf was originally assigned to Heidi

[2021-08-11 13:47] cthomasONRR commented on #921
@sghahn

Thanks! I just removed it from the live site. I will check to make sure this change goes live in about 30 min, then close this issue.

[2021-08-11 14:02] sghahn commented on #921
@cthomasONRR
Thank you. If I find additional documents to remove I will re-open this issue, but I don't expect it to happen.

[2021-08-11 14:11] cthomasONRR commented on #928
PDFs from from [Production Reporting (except for solids)](https://www.onrr.gov/reportpay/contacts.htm) link in the [Contact Us](https://www.onrr.gov/about/contact.htm) page have been added to the content audit tab of the accessibility tracking excel.

![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/888d7ca3-eabc-426d-b390-8c48dacaf55b)

[2021-08-11 14:34] cthomasONRR commented on #928
Good to close!

[2021-08-11 14:34] #928 closed

[2021-08-11 14:42] cthomasONRR commented on #921
OK, the 9/19/1994 Dear Reporter Letter is off the live site. Closing this issue.

[2021-08-11 15:21] cthomasONRR commented on #927
@damionschulte

The July prices are on the Dev site: http://2017onrr/valuation/IndianOilIBMP.htm
Please review and let us know if you approve for the changes to go live. Thanks!

[2021-08-11 15:38] damionschulte commented on #927
These look great! Thank you.

From: Christine Thomas ***@***.***>
Sent: Wednesday, August 11, 2021 9:21 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Schulte, Damion C ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] July IBMP Prices (#927)

 This email has been received from outside of DOI - Use caution before clicking on links, opening attachments, or responding.

@da

[2021-08-11 15:41] mcharg commented on #861
@daniel-coleman-1 I went through and commented on the Getting Started and Reporting sections and resolved comments that have been addressed.

[2021-08-11 15:43] cthomasONRR commented on #927
@damionschulte

Great- I just pushed the changes to the live site (https://www.onrr.gov/valuation/IndianOilIBMP.htm)
It sometimes takes up to 30min for the changes to appear live, use Ctrl+F5 to refresh the webpage.

I will close this issue once I see the changes live.

Thanks!

[2021-08-11 16:07] cthomasONRR commented on #927
July data made it to the live site. Closing this issue now.

[2021-08-11 16:07] #927 closed

[2021-08-11 16:08] daniel-coleman-1 commented on #861
@mcharg thanks for the comments, going through and making edits now.

[2021-08-11 16:09] Maroyafaied commented on #788
@mcharg this looks good, I added one comment. I'm wondering if we could also use this study to ask about the how leasing works diagram design and homepage visual design like the icons, what do you think?

[2021-08-11 16:12] damionschulte commented on #927
Awesome thank you!

From: Christine Thomas ***@***.***>
Sent: Wednesday, August 11, 2021 10:08 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Schulte, Damion C ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] July IBMP Prices (#927)

 This email has been received from outside of DOI - Use caution before clicking on links, opening attachments, or responding.

July data ma

[2021-08-11 16:35] mcharg commented on #788
@Maroyafaied If we have time we can cover those.

[2021-08-11 16:39] mcharg commented on #788
@Maroyafaied I added those to the plan.

[2021-08-11 16:39] #788 closed

[2021-08-11 16:40] mcharg opened #929 "Recruit participants for onrr.gov study"

[2021-08-11 18:55] daniel-coleman-1 commented on #861
@Maroyafaied I put in most of @mcharg 's edits, but I stripped the 2.1, 2.2, 2.3, and 2.4 pages of most of their content to keep the items on the pages for each tab.  I think it conveys the info more clearly, but I'm welcome welcome to feedback.  I still need to add in the lists of documents, but other than that the Reporting section is good to go.

[2021-08-11 20:10] Maroyafaied commented on #861
@daniel-coleman-1 I reviewed everything in reporting and put my comments, I also looked at the Getting Started but it seems like that section and sub sections hasn't been updated.

[2021-08-11 20:55] mcharg commented on #899
@cthomasONRR Here's a first pass.  Thoughts?  I'm going to put the second example that lives on the live site into this framework tomorrow because that one's got a tab that's a drop-down that I need to figure out what to do with.

https://qmcq5k.axshare.com/#id=0royo3&p=valuation_example

[2021-08-12 13:20] cthomasONRR commented on #899
@mcharg

I really like this! I especially like how you can be in one of the subtabs of the detailed example, quickly check the example statement, and when you go back to the detailed example tab, it remembers what specific subtab you were on. It will definitely be easier for someone actively working through the example to navigate through the webpage!

For the 'Royalty Value Less Allowances' subta

[2021-08-12 13:44] mcharg commented on #861
@daniel-coleman-1 I reviewed the Reporting section again.  It's looking pretty good.  Most of my comments are numbering and box color coding.

[2021-08-12 16:38] mcharg commented on #899
@Maroyafaied This is ready for you to review and I scheduled a meeting with Jodie and Amy to get their feedback.
Example 1 wireframe: https://qmcq5k.axshare.com/#id=0royo3&p=valuation_example&g=1
Example 2 wireframe: https://qmcq5k.axshare.com/#id=nm9ju1&p=valuation_example_2&g=1

[2021-08-12 17:36] Maroyafaied opened #930 "Difference between 508 compliance and reasonable accommodations"
Nathan wants us to verify the difference with Sid

[2021-08-12 18:09] #846 closed

[2021-08-12 18:13] #742 closed

[2021-08-12 18:13] Maroyafaied commented on #742
Jerome implemented color palette. Will create a new issue for establishing dark theme colors.

[2021-08-12 18:14] #851 closed

[2021-08-12 18:24] #806 closed

[2021-08-13 14:10] cthomasONRR commented on #908
Antoinette emailed me another new PDF [930430](https://app.zenhub.com/files/210892300/de3718bf-81cd-4d0b-92c2-33edfe07e641/download) that passes 508-compliance. The updated document is now on the live site (https://www.onrr.gov/DearRep.htm).

The doc is also updated in the accessibility tracking spreadsheet.

[2021-08-13 21:59] Jared-ONRR opened #931 "Update File on ONRR.gov"
[Gas_Plant_Listing.xlsx](https://github.com/ONRR/onrr.gov-site/files/6985314/Gas_Plant_Listing.xlsx)

Good Afternoon,

I have a file that needs updated on ONRR.GOV. The direct link for the file is as follows: https://www.onrr.gov/ReportPay/PDFDocs/Gas_Plant_Listing.pdf

The link is found on https://www.onrr.gov/ReportPay/references.htm in the Manuals and Guidance section as •Gas Plant List for Ons

[2021-08-16 13:03] cthomasONRR commented on #908
On Friday, Antoinette sent the following PDFs that pass 508-compliance:

- [ ] [850710](https://app.zenhub.com/files/210892300/5e2887c9-8052-4089-ba9b-31d52ac79d3e/download)
- [ ] [961125](https://app.zenhub.com/files/210892300/f8f89f87-4950-42c5-94d1-80b20ad3671d/download)
- [ ] [20100607](https://app.zenhub.com/files/210892300/48f3331e-9eb9-44f1-bef1-fa0d9021bb4d/download)
- [ ] [20080314](https

[2021-08-16 13:33] mcharg opened #932 "Review new 508 compliance rule"
And see if anything affects onrr.gov.

https://www.federalregister.gov/documents/2021/08/11/2021-16363/federal-acquisition-regulation-section-508-based-standards-in-information-and-communication

[2021-08-16 14:47] daniel-coleman-1 commented on #931
Hi @Jared-ONRR, changes have been implemented in the dev site for your review:
file:///Y:/reportpay/references.htm

I listed 8/13 as the publish date for the document, is that correct?

With your approval, I will push these changes live.

[2021-08-16 15:40] Jared-ONRR commented on #931
Hi Daniel,

Can you please verify the dev site link?  As far as I know, I don't have access to the Y drive.  The 08/13/2021 date is correct.

Thank you very much,

Jared

Jared Good
Minerals Revenue Specialist - Production Analyst
Reference, Royalty and Production Team 1B
Reference and Reporting Management
Office of Natural Resources Revenue
Office Phone: (303) 231-3319
___________________________

[2021-08-16 16:55] Maroyafaied commented on #931
@Jared-ONRR here is the correct link to the dev site http://2017onrr/reportpay/references.htm
@daniel-coleman-1 please give the dev site links for review, internal ONRR employees don't have access to the Y drive. Thanks

[2021-08-16 17:20] Jared-ONRR commented on #931
The file looks good, but the as of date does need corrected to 2021, not 2020 (see below)
[cid:71dc6e13-d79e-4a9b-b3ae-663e2e3d9c21]

Other than that, it looks good.

Thank you very much,

Jared

Jared Good
Minerals Revenue Specialist - Production Analyst
Reference, Royalty and Production Team 1B
Reference and Reporting Management
Office of Natural Resources Revenue
Office Phone: (303) 231-3319
__

[2021-08-16 18:16] #932 closed

[2021-08-16 18:21] Maroyafaied commented on #912
@jlouis-onrr working on an approach where don't need to do this.

[2021-08-16 18:21] #912 closed

[2021-08-16 18:22] Maroyafaied commented on #930
Emailed sid and forwarded info to Nathan.

[2021-08-16 18:37] jlouis-onrr opened #933 "Output page builder editor fields"

[2021-08-16 18:41] daniel-coleman-1 commented on #931
@Jared-ONRR nice catch!  Corrected the date.

Thanks for correcting the link there, @Maroyafaied

Page is updated and we are live!
https://www.onrr.gov/ReportPay/references.htm

[2021-08-16 18:42] #930 closed

[2021-08-16 21:53] mcharg opened #934 "Fix ZenHub for onrr.gov issues"

[2021-08-17 12:54] mcharg commented on #934
Test

[2021-08-17 14:18] cmathers1 opened #935 "Remove Documents from onrr.gov"
Good morning,

Please remove the attached documents from onrr.gov
[950327.pdf](https://github.com/ONRR/onrr.gov-site/files/7000659/950327.pdf)
[880623.pdf](https://github.com/ONRR/onrr.gov-site/files/7000660/880623.pdf)
[930618.pdf](https://github.com/ONRR/onrr.gov-site/files/7000661/930618.pdf)
[20010315.pdf](https://github.com/ONRR/onrr.gov-site/files/7000662/20010315.pdf)
[930111.pdf](https://g

[2021-08-17 15:22] cmathers1 opened #936 "Remediated Document"
Good morning,

Can you please replace the existing document on onrr.gov with the attached remediated document that is Section 508 Compliant. Thank you!
[911220.pdf](https://github.com/ONRR/onrr.gov-site/files/7001197/911220.pdf)

[2021-08-17 19:11] mlvanvleet opened #937 "Update Website Information"
On our payments page under the Lockbox payment instructions for Ute Indian Tribe the Information needs to change to:

Lockbox Mailing address:
Ute Indian Tribe #3
LB 003271
PO Box 35146
Seattle, WA 98124-5146

There should be no reference to courier information only this payment information. Website Link: https://www.onrr.gov/reportpay/payments.htm
Scroo down to Lockbox tribes and Addresses and th

[2021-08-17 19:43] Toddsand21 opened #938 "Event Calendar"
Please delete the July event: "71st ANNUAL INDIAN HILLS POWWOW, OKLAHOMA CITY from the Event Calendar on the Allottee Assistance page.

[2021-08-17 21:06] luisaguilar-onrrgov opened #939 "Please upload ONRR form 4425 as follows:"
Please note that the attached PDF form is 508 compliant.
Under the following link: https://www.onrr.gov/Laws_R_D/FRNotices/ICR0107.htm, please replace and update as follows:

Change the (Expires April 30, 2021) to (Expires July 31, 2024)
Under the “Forms” section, replace the “ONRR-4425 and Instructions” PDF with the attached PDF.
Under the following link: https://www.onrr.gov/reportpay/Forms/inde

[2021-08-17 22:23] daniel-coleman-1 commented on #897
Need to determine total number of site searches, Outbound links, downloads, mobile browsers & tablet browsers and Untrackable views.

[2021-08-18 10:08] lpgoldstein commented on #935
@cmathers1 I've removed the documents from the dev site, please review: http://2017onrr/DearRep.htm

[2021-08-18 10:14] lpgoldstein commented on #936
@cmathers1 I've replaced the pdf in the dev site, please check: http://ONRR2017/reportpay/PDFDocs/911220.pdf
http://2017onrr/DearRep.htm

[2021-08-18 12:05] #934 closed

[2021-08-18 12:34] cmathers1 commented on #935
Thank you.  I reviewed and didn't see the documents. Thank you.

Sincerely,

Christina

Christina Mathers
Staff Assistant
Director/Deputy Director's Office
Office of Natural Resources Revenue
6th Avenue and Kipling Street Bldg. 85
Denver, Colorado 80225
Phone:  303-231-3429
Cell: 303-503-1315
________________________________
From: lpgoldstein ***@***.***>
Sent: Wednesday, August 18, 2021 4:08 AM
T

[2021-08-18 12:36] cmathers1 commented on #936
Good morning,

I am having trouble accessing the link. Thank you.

Sincerely,

Christina

Christina Mathers
Staff Assistant
Director/Deputy Director's Office
Office of Natural Resources Revenue
6th Avenue and Kipling Street Bldg. 85
Denver, Colorado 80225
Phone:  303-231-3429
Cell: 303-503-1315
________________________________
From: lpgoldstein ***@***.***>
Sent: Wednesday, August 18, 2021 4:14 AM

[2021-08-18 13:00] cthomasONRR commented on #938
@Toddsand21

Good morning, this entry is deleted from the dev site (http://2017onrr/events.htm).
Please review and give us your approval for this change to go live.

Thanks!
Christine

[2021-08-18 13:13] cthomasONRR commented on #939
Luis emailed me the PDF [ONRR Form 4425](https://app.zenhub.com/files/210892300/520c671a-318b-434e-a3dc-8f95e9ea69f2/download)

@luisaguilar-onrr The updated Form 4425 is now on the dev site (http://2017onrr/Laws_R_D/FRNotices/ICR0107.htm). Please review and give us your approval for the changes to go live.

Thanks!
Christine

[2021-08-18 13:19] Toddsand21 commented on #938
Yes it looks fine. Thanks!  Do you think we would have room to start adding September events before we delete August's events?

[2021-08-18 13:27] cthomasONRR commented on #938
@Toddsand21

Great- I just made this change live. It can take up to 30min for it to appear on the live site, please use "Ctrl+F5" to refresh.

I believe we have room to add in September events. Please send them over and I will add them.

Thanks,
Christine

[2021-08-18 13:37] cthomasONRR commented on #908
Antoinette submitted another document for compliance: 1_15_16_Reporter_Letter_EFT](https://app.zenhub.com/files/210892300/7e54e078-94ad-47d8-a353-7a4668ab74cf/download).

It still had a error (table summary - table was unnecessary formatting for the text it highlighted, so I deleted it and the error resolved), but I fixed it and put the new document online. I also updated the accessibility trackin

[2021-08-18 13:52] cthomasONRR commented on #937
@mlvanvleet

Could you please verify that I understand:

I need to:
1. Update the mailing address, and
2. Remove everything in the "Courier (delivery) address" section

Thanks,
Christine

[2021-08-18 14:48] luisaguilar-onrrgov commented on #939
Approved... Thanks.

[2021-08-18 14:52] cthomasONRR commented on #939
@luisaguilar-onrrgov Great! I made the updates to the live site, so those should appear in about 30min. I will close this issue once I see the live site has updated. Thanks!

[2021-08-18 15:04] mcharg opened #940 "Make the site work in IE"
Currently it brings up nothing and 25% of onrr.gov users use IE.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/8d62eb65-81fb-41d9-bb1d-b84b1f958a59)

[2021-08-18 15:10] mlvanvleet commented on #937
Good Morning,

Yes, thank you, address updated and removing the courier address information.

Michelle Van Vleet
Accountant, General Ledger
Bldg 85, Denver Federal Center
Denver, CO 80225
Office of Natural Resources Revenue
(303) 231-3178

"Be the Change you want to see in the world"  Mahatma Gandhi

________________________________
From: Christine Thomas ***@***.***>
Sent: Wednesday, August 18, 2

[2021-08-18 15:31] cthomasONRR commented on #939
Live site updated- closing issue.

[2021-08-18 15:31] #939 closed

[2021-08-18 15:48] mlvanvleet commented on #937
Thank you so much! I saw the information has been updated.  Have a great day!

Michelle Van Vleet
Accountant, General Ledger
Bldg 85, Denver Federal Center
Denver, CO 80225
Office of Natural Resources Revenue
(303) 231-3178

"Be the Change you want to see in the world"  Mahatma Gandhi

________________________________
From: Christine Thomas ***@***.***>
Sent: Wednesday, August 18, 2021 9:31 AM
To:

[2021-08-18 15:52] #937 closed

[2021-08-18 16:24] Toddsand21 commented on #938
Is it a new Issue?

[2021-08-18 16:28] cthomasONRR commented on #938
Yes, let's make it a new issue. This helps our metrics be more accurate :) I will close out this issue and look for your new one. Thanks!

[2021-08-18 16:28] #938 closed

[2021-08-18 16:30] Toddsand21 commented on #938
That will be great. Thanks!

[2021-08-18 16:31] lpgoldstein commented on #935
@mcharg will you please spot check just in case?

[2021-08-18 16:36] lpgoldstein commented on #936
@cmathers1 Please check again now - it's working for me http://2017onrr/reportpay/PDFDocs/911220.pdf

[2021-08-18 16:40] cmathers1 commented on #936
Thank you! Yes, I can see it now. We are good.

Sincerely,

Christina

Christina Mathers
Staff Assistant
Director/Deputy Director's Office
Office of Natural Resources Revenue
6th Avenue and Kipling Street Bldg. 85
Denver, Colorado 80225
Phone:  303-231-3429
Cell: 303-503-1315
________________________________
From: lpgoldstein ***@***.***>
Sent: Wednesday, August 18, 2021 10:36 AM
To: ONRR/onrr.gov

[2021-08-18 16:53] Toddsand21 opened #941 "EVENT CALENDAR (Please add the following to the ONRR Outreach Event Calendar under Allottee Assistance Pg)"
**KAULEY VIRTUAL OUTREACH MEETING**
SEPTEMBER 15, 2021

EVENT INFORMATION
LOCATION: By Telephone
TIME: 1:00 PM – 2:00 PM CST

DESCRIPTION: Meeting will be a Call-in Meeting to hear a presentation and updates from the ONRR Outreach Office  Representatives from the BLM, BTFA, and BIA will also be on the call to discuss topics regarding Indian Oil & Gas leases, IIM Accounts and Indian Trust propertie

[2021-08-18 16:57] cmathers1 commented on #935
I did a search by number and subject, and I couldn't pull any of them up.  I have one more payor/reporter letter on the spreadsheet to check on to see if it still needs to be on onrr.gov. Thanks!

Sincerely,

Christina

Christina Mathers
Staff Assistant
Director/Deputy Director's Office
Office of Natural Resources Revenue
6th Avenue and Kipling Street Bldg. 85
Denver, Colorado 80225
Phone:  303-23

[2021-08-18 17:02] cmathers1 opened #942 "Remove Letter from onrr.gov"
Good morning,

Please remove the attached Dear Reporter Letter from onrr.gov. Thank you!
[970926.pdf](https://github.com/ONRR/onrr.gov-site/files/7008939/970926.pdf)

[2021-08-18 17:04] mcharg commented on #935
I'm not seeing any of them in the list in dev.

[2021-08-18 17:08] cthomasONRR commented on #941
@toddsand21

I have these 3 new entries on the dev site (http://2017onrr/events.htm).
Please review and give us approval to make these changes live.

Thanks!
Christine

[2021-08-18 18:30] lpgoldstein commented on #936
@cmathers1 This should be live soon

[2021-08-18 18:33] lpgoldstein commented on #935
@cmathers1 These changes should be live

[2021-08-18 19:31] cthomasONRR commented on #942
Hi Christina,

I removed this Dear Reporter Letter (9/26/1997) from the dev and live sites. I'll close this issue once I see it removed from the live site.

Thanks!
Christine

[2021-08-18 19:35] Toddsand21 commented on #941
1) In the first sentence of the Kauley Meeting after the Description:  Please put a period after it reads "ONRR Outreach Office.    2)In the Shawnee Meeting: after Description: Change the "M" to and an "A" where it reads: Representatives from the BLM, BTFM (change to"BTFA" )
Everything else looks fine.

[2021-08-18 19:37] cmathers1 commented on #942
Thank you, Christine!  Have a great day!

Sincerely,

Christina

Christina Mathers
Staff Assistant
Director/Deputy Director's Office
Office of Natural Resources Revenue
6th Avenue and Kipling Street Bldg. 85
Denver, Colorado 80225
Phone:  303-231-3429
Cell: 303-503-1315
________________________________
From: Christine Thomas ***@***.***>
Sent: Wednesday, August 18, 2021 1:31 PM
To: ONRR/onrr.gov-s

[2021-08-18 19:38] cthomasONRR commented on #941
Great! I made these changes to the dev site (http://2017onrr/events.htm). Please do one more look-though, and with your approval, I will go live. Thanks!

[2021-08-18 20:01] cthomasONRR commented on #942
PDF removed from the live site. Closing this issue.

[2021-08-18 20:01] #942 closed

[2021-08-18 20:11] Toddsand21 commented on #941
It looks fine!  Thanks.

[2021-08-18 20:15] cthomasONRR commented on #941
Great! I just moved the changes over to the live site. I will close this issue once I see the changes go live.

[2021-08-18 20:31] cthomasONRR commented on #941
Updates are now live. Closing issue.

[2021-08-18 20:31] #941 closed

[2021-08-18 20:51] Toddsand21 commented on #941
What is it I hit to refresh it or update the website?  F11 or what?

[2021-08-18 20:54] cthomasONRR commented on #941
It's "Ctrl+F5" I see it live (https://www.onrr.gov/events.htm).

[2021-08-19 12:58] Maroyafaied commented on #899
@mcharg sorry for the late response on this. I added some comments but we'll see what Amy thinks. Also, I liked what you did with example 2 for disallowed costs but put a comment in there asking if we checked with Jerome it's something we can do within the tabs.

[2021-08-19 13:05] mcharg commented on #899
@Maroyafaied I did check with Jerome on that.

[2021-08-19 15:18] Maroyafaied commented on #348
Did this as part of creating and reviewing wireframes. Once the new site is up , we will do a content audit as a baseline.

[2021-08-19 15:22] #468 closed

[2021-08-19 15:24] #599 closed

[2021-08-19 15:34] #826 closed

[2021-08-19 15:34] Maroyafaied commented on #826
closing this, falls under customized links.

[2021-08-19 15:35] Maroyafaied commented on #827
Need to look if it exists in editor Js

[2021-08-19 15:38] mcharg opened #943 "Collection: Glossaries"

[2021-08-19 15:44] Maroyafaied commented on #834
@mcharg Review in editor JS once its in development website.

[2021-08-19 15:51] #837 closed

[2021-08-19 16:39] #935 closed

[2021-08-19 16:39] #936 closed

[2021-08-19 17:54] mcharg commented on #922
Testing chat integration

[2021-08-19 20:35] mcharg opened #944 "Component: Math"
Can we have the ability to put in text like this?
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/40d1fb93-b402-4ac1-bb4d-ac622b433317)

[2021-08-19 20:37] mcharg commented on #944
@jpetersononrr Are there any more complicated examples that it would be good for our developers to look at when researching whether we can add math text?

[2021-08-19 20:41] jpetersononrr commented on #944
I can share the draft copies of our stuff with you.  It’s going to be the same concept as the ones that already exist in terms of equations.  They don’t get more complicated than what’s already in the processed example.  If you’d like to share a word version with them or anything, let me know and I’ll send you a file!

​Jodie Peterson
Minerals Revenue Specialist
Office of Natural Resources Revenue

[2021-08-19 20:48] mcharg opened #945 "Component: Callout"
Caution:
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/f58e990a-72d7-4590-a91e-6a521d1d93b8)

FYI/Idea:
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/86b3d3e5-18a5-45e1-a025-2ac5e43c8752)

[2021-08-19 20:50] mcharg commented on #944
@jpetersononrr, @mojobnichols found this that will allow editing math equations: https://www.npmjs.com/package/editorjs-math

[2021-08-20 12:10] mcharg commented on #944
@jpetersononrr here's another option. http://www.mathjax.org/

[2021-08-20 16:07] jpetersononrr commented on #944
This second one looks pretty easy to pick up. A few of the html items I tried didn’t work (we use subscript on some of our math) but that doesn’t mean someone couldn’t help me do it correctly.  That would be nice!

​Jodie Peterson
Minerals Revenue Specialist
Office of Natural Resources Revenue
***@***.***
(303)231-3719

Royalty Valuation - Consistent Answers to Complex Questions

From: mcharg ***@

[2021-08-20 19:32] cthomasONRR commented on #922
Lori emailed Shannon a 508-Compliant version of [8-27-12--2](https://app.zenhub.com/files/210892300/19c9ad7a-3bf7-4358-ae6b-565a10a9767b/download). I uploaded to the dev and live sites, and updated the accessibility tracking spreadhseet.

[2021-08-20 20:31] cthomasONRR commented on #922
Lori emailed Shannon a 508-Compliant version of [20141106](https://app.zenhub.com/files/210892300/48f4b33a-d18f-4ece-b882-a80391310d67/download).

I uploaded to the dev and live sites, and updated the accessibility tracking spreadsheet.

[2021-08-20 20:33] mcharg commented on #922
@cthomasONRR I think this issue is good to close.

[2021-08-20 20:34] cthomasONRR commented on #922
Closing this issue.

[2021-08-20 20:34] #922 closed

[2021-08-23 12:14] mentastc opened #946 "508 compliance upload for COS"
Hi guys!

Attached are the first 62 documents from the 508 compliance file I'll complete the remaining files when I return from paternity leave. I've also updated  the share xls for tracking.

- [x] [20110620.pdf](https://github.com/ONRR/onrr.gov-site/files/7031727/20110620.pdf)
- [x] [20110720.pdf](https://github.com/ONRR/onrr.gov-site/files/7031728/20110720.pdf)
- [x] [20110913.pdf](https://gith

[2021-08-23 12:43] Maroyafaied commented on #946
@mcharg @cthomasONRR I've assigned this to next sprint, I'm thinking we can have the cross trainers assist with this one.

[2021-08-23 12:51] cthomasONRR commented on #946
@Maroyafaied Sounds good- I start start working on this first thing next week. (Taking this Wednesday-Friday off.)

[2021-08-23 13:08] cthomasONRR commented on #908
Antoinette submitted 4 more documents. They are on the live site and the accessibility tracking spreadsheet is updated.

- [ ] [920514](https://app.zenhub.com/files/210892300/6ad09974-454c-4f3f-b0a6-c1426c5b54ee/download)
- [ ] [950925](https://app.zenhub.com/files/210892300/7081de5d-c12d-4542-83d5-eadf3d06b473/download)
- [ ] [20070511](https://app.zenhub.com/files/210892300/34e7ea59-2714-4dec-ac

[2021-08-23 14:40] mcharg commented on #899
@Maroyafaied @cthomasONRR I applied the changes to the first example.
https://qmcq5k.axshare.com/#id=0royo3&p=valuation_example&g=1

A few things to note:
* I only applied changes to the first tab of the detailed example.
* I applied visual design, so we can see how the tips and letters work with that overall.
* I used green instead of blue for the letters, since blue means clickable everywhere el

[2021-08-23 16:13] cthomasONRR commented on #899
@mcharg - I think this looks good.

My one question: for the first tab of the detailed example, is there a way to make the call-out boxes directly associated with a bullet point within a step? Right now, the first green info box is kind of in between subsets, and I'm wondering if we can make it a little more defined so the call-out boxes aren't 'floating' in the right margin. Maybe something like

[2021-08-23 16:16] Maroyafaied opened #947 "Add ONRR's certificate for healthy workplace leader"
This is a request from Kimbra and Tiffany Duval to add that ONRR was formally recognized as a Certified Healthy Workplace Leader for our commitment to health, safety, and wellness.  They would like to add the 2021 Leader Logo (image attached) and the content below on the employment page. @mcharg We will need to update the wireframe with this info as well. @CM805 let me know if you have time to mak

[2021-08-23 16:19] mcharg commented on #899
@cthomasONRR I have a feeling that would be difficult to code.  We may not even have the ability for them to be in a separate column, at first, and may have to move them inline with the text.

[2021-08-23 16:24] cthomasONRR commented on #899
@mcharg - OK just curious about what we can do. Being inline with the text might be better, as it will help the reader directly associated it with a specific substep.

[2021-08-23 17:17] Maroyafaied commented on #899
@mcharg I think this looks great, there's just some formatting things with step 2.  We just need to be consistent with the ( ) and there's some spacing issue but that's just small stuff, the overall look of the wireframe is great!
![image](https://user-images.githubusercontent.com/40175688/130489392-e0592d26-f291-4bed-89d2-af3407735565.png)

[2021-08-23 17:20] mcharg commented on #899
@Maroyafaied It's because Axure can't do a second level of bullets and I had to put in a line break and spaces to get the second line of the fake bullets to line up, which looks different depending on the browser.

[2021-08-23 18:55] cthomasONRR commented on #946
I'm updating these in groups of 10... the first group of 10 is updated in dev and live sites, and accessibility tracking spreadsheet is updated.
![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/a6957ff4-22b6-4e60-ab6c-73dac658accc)

[2021-08-23 19:06] cthomasONRR commented on #946
Documents 11-12 are updated in dev and live sites, and accessibility tracking spreadsheet is updated.
![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/b300ad9d-d1d9-4d0d-a10f-de2b651a7af7)

[2021-08-23 19:21] cthomasONRR commented on #946
Documents 21-30 are updated in dev and live sites, and accessibility tracking spreadsheet is updated.
![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/c1d1d3e6-44a1-49b2-9013-abe30d0bc7e1)

Two documents needed the title updated. I did that, saved a new version, and uploaded this new version:
- [ ] [20130104](https://app.zenhub.com/files/210892300/f49be870-d9b4-4a7b-99ed-

[2021-08-23 19:36] cthomasONRR commented on #946
Documents 31-40 are updated in dev and live sites, and accessibility tracking spreadsheet is updated.
![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/5869ca3d-ed83-4408-b555-53b1d96c156e)

[2021-08-23 20:17] cthomasONRR commented on #946
Documents 41-50 are updated in dev and live sites, and accessibility tracking spreadsheet is updated.
![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/c8a4d176-6d14-4ae0-a5eb-8c5c8051f82c)

3 docs needed table summaries added. I added table summaries, saved an updated version, and uploaded this new version:
- [ ] [GOMESAFY2011Final](https://app.zenhub.com/files/210892300/

[2021-08-23 20:32] mcharg commented on #946
@cthomasONRR Do you need me to double check any of the links?

[2021-08-23 21:32] KerriGallant commented on #841
@mcharg @cthomasONRR
2 documents to upload:

- [ ]
[930818.pdf](https://github.com/ONRR/onrr.gov-site/files/7035001/930818.pdf)

- [ ]
[920106.pdf](https://github.com/ONRR/onrr.gov-site/files/7035003/920106.pdf)

(Amariles)

[2021-08-24 11:42] Maroyafaied commented on #946
@mcharg please do review the links since Chris won't be doing a review. Thanks

[2021-08-24 12:41] cthomasONRR commented on #946
Documents 51-64 are updated in dev and live sites, and accessibility tracking spreadsheet is updated.
![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/cc02e78a-5c51-4f9a-8696-7f485367c4a6)

1 docs needed a table summary added. I added table summary, saved an updated version, and uploaded this new version:
- [ ] [20101104a](https://app.zenhub.com/files/210892300/ba8222b2-d

[2021-08-24 12:47] cthomasONRR commented on #841
@KerriGallant @mcharg

Thanks for sending these 2 documents over. They are updated in dev and live sites. (Shannon- our accessibility tracking spreadsheet is also updated.)

[2021-08-24 18:30] daniel-coleman-1 commented on #861
@Maroyafaied @mcharg for your review:
https://92ix0j.axshare.com

[2021-08-24 18:35] Maroyafaied commented on #861
@daniel-coleman-1 sorry can you remind me which sections are ready for review?

[2021-08-24 18:36] daniel-coleman-1 commented on #861
@Maroyafaied Just 1.0 Getting Started for now

[2021-08-24 18:56] Maroyafaied commented on #861
@daniel-coleman-1 That section looks fine for me, let me know when other sections are ready for review. Thanks

[2021-08-24 19:31] mcharg commented on #861
@daniel-coleman-1 I also reviewed 1.0 Getting Started.

[2021-08-25 12:50] mcharg commented on #861
@daniel-coleman-1 Can we review the Reporting section to make sure all of the previous comments have been addressed?

[2021-08-25 13:12] mcharg commented on #947
@Maroyafaied @CM805 Got the paragraphs down to grade 11.  Any thoughts on further improvements?

The Department of the Interior (DOI) places a high value on diversity of experience and cultural perspectives. We encourage applications from all interested eligible candidates. Diversity, equity, inclusion, and accessibility (DEIA) are fundamental principles. They guide DOI and allow us to achieve our

[2021-08-25 13:14] daniel-coleman-1 commented on #861
@mcharg they haven't all been addressed yet, I'll let you know when it's ready

[2021-08-25 13:34] mcharg commented on #947
Wireframe is updated: https://qmcq5k.axshare.com/#id=gs7kbk&p=employment

[2021-08-25 13:36] mcharg commented on #946
Looks good.

[2021-08-25 13:36] #946 closed

[2021-08-25 13:51] Maroyafaied commented on #947
@mcharg here are both images.

![2021 Healthlinks badge](https://user-images.githubusercontent.com/40175688/130803075-630368dc-8c7a-4bb5-b4db-51c60056d83f.png)
![2021_leader_web](https://user-images.githubusercontent.com/40175688/130803090-5dd7b9d5-9cb3-48c6-bbb6-373114775647.png)

[2021-08-25 13:55] mcharg commented on #947
@Maroyafaied I have no preference.  It took me a minute to even notice what's different between the two.

[2021-08-25 14:18] Maroyafaied commented on #947
@mcharg this brings it to grade 10.

The Department of the Interior (DOI) values diversity of experience and cultural perspectives. We encourage applications from all interested eligible candidates.  Diversity, equity, inclusion, and accessibility (DEIA) are fundamental principles. They guide DOI and allow us to achieve our mission.

We are proud that Health Links recognizes ONRR as a 2021 Certifi

[2021-08-25 14:30] CM805 commented on #889
@mcharg can you make me a PDF of the page that I can mark up?  I tried to print to PDF from the preview link, but I can't get the formatting right.  Maybe you know of another method?

[2021-08-25 14:41] mcharg commented on #889
@CM805 I was able to export it to an image.  Does that work?
![ValEquation](https://user-images.githubusercontent.com/38465926/130811502-6faa1f11-18d9-4601-9f72-d30bcb99e571.png)

[2021-08-25 14:54] mcharg commented on #947
Wireframe is updated with grade 10 language.

[2021-08-25 16:16] mcharg commented on #899
Changes applied to second example.
https://qmcq5k.axshare.com/#id=nm9ju1&p=valuation_example_2&g=1

[2021-08-26 16:24] Maroyafaied opened #948 "ONRR.gov Site Map Update Sections 3.0 & 4.0"
**3.0 References**

- [x] 3.0 References (Home)
- [x]  3.1 Statutes
- [x]  3.2 Rules & Regulations
- [x]  3.3 Federal Register Notices
- [x]  3.4 Information Collection Requests
- [x]  3.5 Forms
- [x]  3.5.1 System Access
- [x]  3.5.2 Oil & Gas Production Reporting
- [x]  3.5.3 Oil & Gas Revenue Reporting
- [x]  3.5.4 Solid Mineral Reporting
- [x]  3.5.5 Geothermal Reporting
- [x]  3.5.6 Appeal Su

[2021-08-26 18:19] mcharg opened #949 "Refine valuation equation"

[2021-08-26 21:01] daniel-coleman-1 opened #950 "August Analytics"

[2021-08-27 15:37] lpgoldstein opened #951 "August production reporting references gulf files"
[Gulf-Buy-Back.xlsx](https://github.com/ONRR/onrr.gov-site/files/7068087/Gulf-Buy-Back.xlsx)
[Gulf-Flash-Gas.xlsx](https://github.com/ONRR/onrr.gov-site/files/7068089/Gulf-Flash-Gas.xlsx)
[Gulf-Gas-Plants.xlsx](https://github.com/ONRR/onrr.gov-site/files/7068090/Gulf-Gas-Plants.xlsx)
[Gulf-Metering-Systems.xlsx](https://github.com/ONRR/onrr.gov-site/files/7068091/Gulf-Metering-Systems.xlsx)
[Gulf-

[2021-08-27 16:58] #951 closed, assigned to lpgoldstein

[2021-08-27 19:18] jlouis-onrr opened #952 "Creating issue from postman"

[2021-08-27 20:25] mcharg opened #953 "Apply visual design to onrr.gov prototype for user testing"

[2021-08-27 20:25] mcharg opened #954 "Make new reporter checklists work for user testing"

[2021-08-27 20:26] mcharg opened #955 "Review wireframes and 508 compliance and remove links in wireframes that have been removed"

[2021-08-27 20:27] mcharg opened #956 "Replace links to solids contacts pdf with link to contacts tab in the wireframes"

[2021-08-27 23:58] KerriGallant commented on #841
@mcharg @cthomasONRR
2 documents to upload:

- [ ] [970916.pdf](https://github.com/ONRR/onrr.gov-site/files/7069820/970916.pdf)

- [ ] [20001006.pdf](https://github.com/ONRR/onrr.gov-site/files/7069821/20001006.pdf)

- [ ] [970916.pdf](https://github.com/ONRR/onrr.gov-site/files/7069825/970916.pdf)
[20001006.pdf](https://github.com/ONRR/onrr.gov-site/files/7069826/20001006.pdf)
[910314.pdf](https:

[2021-08-30 13:12] mcharg commented on #861
@daniel-coleman-1 I took another pass through and there's just one outstanding comment on the solids handbook.

[2021-08-30 13:12] cthomasONRR commented on #908
Antoinette submitted 3 more documents. They are on the live site and the accessibility tracking spreadsheet is updated.

- [ ] [20000405](https://app.zenhub.com/files/210892300/aa517dda-abab-4fdd-b981-b792e8419e11/download)
- [ ] [20070723](https://app.zenhub.com/files/210892300/12102d51-bd40-4f28-883b-0828c89fc3f6/download)
- [ ] [20070911](https://app.zenhub.com/files/210892300/70e4b12e-ff82-468

[2021-08-30 13:17] mcharg commented on #899
I scheduled a meeting to review, since we haven't gotten a response via email.

[2021-08-30 13:22] cthomasONRR commented on #841
@KerriGallant @mcharg

Thanks for sending these 3 documents over. They are updated in dev and live sites. (Shannon- our accessibility tracking spreadsheet is also updated.)

[2021-08-30 14:03] daniel-coleman-1 commented on #861
@mcharg resolved, thanks!

@Maroyafaied ready for your review.

[2021-08-30 14:27] Maroyafaied commented on #861
@daniel-coleman-1 @mcharg Axure is not letting me comment for some reason, but it's looking great. I only had one question/comment in the pic below. I was curious if this needed it's own box since it's a link in the overview tab, it's probably done correctly but just wanted to make sure.
![image](https://user-images.githubusercontent.com/40175688/131355013-8d036ba1-3656-4fd0-930d-b84248724cc9.png)

[2021-08-30 14:30] mcharg commented on #861
@Maroyafaied It's at the bottom of both tabs.

[2021-08-30 14:31] daniel-coleman-1 commented on #861
@mcharg do you think it's good as is or should I bring it to below  both 1.4.1 and 1.4.2 to reflect it's in both tabs?

[2021-08-30 14:59] mcharg commented on #861
@daniel-coleman-1 It's good as is.

[2021-08-30 15:00] Maroyafaied commented on #861
@daniel-coleman-1 you can close this issue now.

[2021-08-30 15:00] daniel-coleman-1 commented on #861
Woooo!

[2021-08-30 15:00] #861 closed

[2021-08-30 16:21] CM805 opened #957 "Add "This Week at Interior" photo to Slack"
Add the image with the buffalo to the #visual-design channel in Slack and note the source

[2021-08-30 16:43] Maroyafaied opened #958 "Contact document owners Phase 2 - 508 Compliance"

[2021-08-30 16:47] Maroyafaied opened #959 "BPR update"
Understand what BPR is working on when it comes to software developed and review process .

[2021-08-30 18:26] sghahn commented on #841
@mcharg @cthomasONRR

14 files for upload:

- [ ] [920423.pdf](https://github.com/ONRR/onrr.gov-site/files/7078708/920423.pdf)
- [ ] [920618.pdf](https://github.com/ONRR/onrr.gov-site/files/7078709/920618.pdf)
- [ ] [921015a.pdf](https://github.com/ONRR/onrr.gov-site/files/7078710/921015a.pdf)
- [ ] [930513.pdf](https://github.com/ONRR/onrr.gov-site/files/7078711/930513.pdf)
- [ ] [940112.pdf](htt

[2021-08-30 18:55] sghahn commented on #841
@cthomasONRR @mcharg

3 files for upload:

- [ ] [880316a.pdf](https://github.com/ONRR/onrr.gov-site/files/7078904/880316a.pdf)
- [ ] [980602.pdf](https://github.com/ONRR/onrr.gov-site/files/7078910/980602.pdf)
- [ ] [20080421.pdf](https://github.com/ONRR/onrr.gov-site/files/7078912/20080421.pdf)

(Hahn)

[2021-08-30 18:57] cthomasONRR commented on #841
@sghahn the "980323b" PDF failed the accessibility check. Could you fix and resend this document? I will work on getting the others updated. Thanks!
![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/6133e59a-4d72-457f-836a-c77301fa51c1)

[2021-08-30 19:16] cthomasONRR commented on #841
@mcharg and @sghahn
I have all these files EXCEPT for "980323b.pdf" updated in dev and live sites. (Shannon- our accessibility tracking spreadsheet is also updated.)

[2021-08-30 19:44] #957 closed

[2021-08-30 19:44] codyeckstein commented on #957
Closing this. Hope I did this correctly.

[2021-08-30 20:04] sghahn commented on #841
@cthomasONRR @mcharg

1 Corrected: file:
- [ ] [980323b.pdf](https://github.com/ONRR/onrr.gov-site/files/7079326/980323b.pdf)

3 new files for upload:
- [ ] [20000602.pdf](https://github.com/ONRR/onrr.gov-site/files/7079327/20000602.pdf)
- [ ] [4292s1.pdf](https://github.com/ONRR/onrr.gov-site/files/7079328/4292s1.pdf)
- [ ] [4293s1.pdf](https://github.com/ONRR/onrr.gov-site/files/7079329/4293s1.p

[2021-08-30 20:15] cthomasONRR commented on #841
@sghahn @mcharg

Thanks for sending these 4 documents over. They are updated in dev and live sites. (Shannon M- our accessibility tracking spreadsheet is also updated.)

[2021-08-30 20:16] daniel-coleman-1 commented on #948
https://qmcq5k.axshare.com/#id=e1wh3o&p=home_v3

[2021-08-30 20:29] cthomasONRR commented on #958
@Maroyafaied Based on the accessibility tracking spreadsheet, here are the 9 files still left in Phase 2:

![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/5d8be918-59ae-4d7d-9f3c-3d9f7c90c4c1)

[2021-08-30 20:39] Maroyafaied commented on #958
@cthomasONRR Awesome, thank you!

[2021-08-30 20:43] mcharg commented on #949
@jpetersononrr and Jahed Nabiyar are the ones from RV to include in this discussion.

[2021-08-30 20:45] mcharg commented on #959
@Maroyafaied Jodie said to ask Robert Sudar, John Swedin, and Crystel Sandos. I'll send an email.

[2021-08-30 22:10] Maroyafaied opened #960 "Re-write intro paragraph on onrresource for our team"
@daniel-coleman-1 can you rewrite this paragraph to be simpler and take out what's not relevant and add something about onrr.gov. Carrie is making changes to IDM's page and asked each team to provide 1-3 sentences along with 1-2 bullet points with important info in the intro page.

![image](https://user-images.githubusercontent.com/40175688/131412280-c2fcdfb7-530c-4779-b0a3-8eddaf35174d.png)

[2021-08-31 13:43] mcharg commented on #960
We should also add a link to the blog.

[2021-08-31 16:03] cthomasONRR commented on #959
I had a chat with Robert Sudar to make sure I'm in the loop for tomorrow's BPR meeting. This first meeting is supposed to be very high level. The main topic for us will just be explaining that the CMS is for uploading files/information to the website and NOT for creating any type of documents. Robert knew this already. Their focus will be making sure that any automation system they create (for exa

[2021-08-31 16:57] Maroyafaied commented on #958
@cthomasONRR @mcharg I'm looking on what's left in phase 2 and it looks like some of the titles are not correct anymore. I can fix it manually but wondering if it's something with the formatting? ![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/a49b74a2-fc62-4fd2-ab70-2306492bada5)

[2021-08-31 17:05] mcharg commented on #958
@Maroyafaied It should be pulling the title from the content audit sheet.  I'll take a look.

[2021-08-31 17:05] cthomasONRR commented on #958
Oh weird... It looks like when I sorted by Program Manager, than the entire table didn't conform to the sort.

[2021-08-31 17:10] mcharg commented on #958
Fixed the titles

[2021-08-31 17:14] cthomasONRR commented on #958
@mcharg Thanks!!!

[2021-08-31 17:23] mcharg commented on #944
RV will continue providing the equations as images with alt text.

[2021-08-31 17:23] #944 closed

[2021-08-31 19:26] #899 closed

[2021-08-31 19:27] mcharg opened #961 "Refine colors on onrr.gov for color blindness"
Coming out of the valuation example wireframe review, we need to revisit colors.  I'm meeting with two color blind employees to review options.

[2021-08-31 19:44] cthomasONRR commented on #929
@mcharg Do you have a list of people who have previously participated in the wireframe studies? Should we start by contacting those who indicated they would like to participate in future studies? I also want to avoid people that might not want to participate again. Thanks!

[2021-08-31 21:23] daniel-coleman-1 commented on #948
@mcharg Section 3.0 is ready for your review

[2021-08-31 21:30] cthomasONRR commented on #929
I will work on sending emails out the the following people this week. I'm hoping that since I know them/have worked with them in the past, they might be more responsive.  @mcharg Please let me know if there is an email template that's been used previously, and I will start with that and customize it.

- [ ] Alexis Long
- [ ] Luis Aguilar
- [ ] Jessica Penvose
- [ ] Corey Forgrave
- [ ] Jessica She

[2021-08-31 22:01] daniel-coleman-1 commented on #960
@Maroyafaied what do you think about this?  I know we are supposed to only have one paragraph but I like it in two paragraphs, the first paragraph describing the What and the second paragraph describing the How.

Grade level is 15, I'm going to revisit the verbiage tomorrow to try and simplify.

https://teams.microsoft.com/l/file/?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectU

[2021-08-31 22:10] Maroyafaied commented on #960
@daniel-coleman-1 the link is not opening for me.

[2021-08-31 22:12] Maroyafaied commented on #929
@mcharg @lpgoldstein I think it would be helpful for Christine and the cross trainers to schedule a meeting showing the wireframes , the study plan, and how we've done recruiting & scheduling in the past.

[2021-08-31 22:19] daniel-coleman-1 commented on #960
@Maroyafaied how about this one?

https://teams.microsoft.com/l/file/?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp-my.sharepoint.com%2Fpersonal%2Fcolemanw_mms_gov%2FDocuments%2FMicrosoft%2520Teams%2520Chat%2520Files%2FD3paragraph.docx&serviceName=recent

[2021-08-31 22:34] jlouis-onrr opened #962 "Creating issue from postman"

[2021-08-31 22:34] jlouis-onrr commented on #962
testing...

[2021-08-31 22:34] #962 closed

[2021-08-31 22:43] Maroyafaied commented on #960
@daniel-coleman-1 No it didn't work, are you saving it in the shared drive? I've been having computer issues so I'll try again in tomorrow morning.

[2021-09-01 12:32] Maroyafaied commented on #960
@daniel-coleman-1 it's not opening for me still, I tried looking for it in the shared folder and I couldn't find it. Can you put it in the content folder here https://doimspp-my.sharepoint.com/personal/mchargs_mms_gov/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fmchargs%5Fmms%5Fgov%2FDocuments%2FNRRD%20Portal%2FContent

[2021-09-01 14:07] mcharg commented on #929
@Maroyafaied I scheduled a meeting.

@cthomasONRR We've done templates for NRRD, but should probably tweak that to create one for onrr.gov.  Here are the NRRD ones. https://doimspp.sharepoint.com/:f:/r/sites/NRRD/Shared%20Documents/General/NRRD/User%20Research/Templates?csf=1&web=1&e=aDzfuV

I also pinged Jodie and she said she can give us email addresses for people who have contacted RV, but she'

[2021-09-01 14:12] daniel-coleman-1 commented on #960
How's this:
https://doimspp-my.sharepoint.com/:w:/g/personal/mchargs_mms_gov/ER9ZZXYu3yJCnQSkNE3Xww0BcVzagl6HoIyxuVMRoFkEKg?e=EfvRzy

[2021-09-01 14:27] Maroyafaied commented on #960
@daniel-coleman-1 Yes that opened for me, I'll review today. Thanks

[2021-09-01 15:01] Maroyafaied opened #963 "Upload Content in CMS - About Page"
Please put your name on the section you will update

- [x] About ONRR home @cthomasONRR
- [ ] Public Affairs - @Maroyafaied
- [ ] Organization & Leadership @cthomasONRR
- [ ] Office Locations @daniel-coleman-1
- [x] Employment @mcharg
- [ ] Engagement @daniel-coleman-1
- [ ] Interagency Coordination - @mcharg
- [x] Freedom of Information Act (FOIA) @cthomasONRR
- [ ] Anti-Harassment Program - @dan

[2021-09-01 15:21] daniel-coleman-1 commented on #963
@mcharg I only have two, may I steal one from you?

[2021-09-01 15:24] mcharg commented on #963
@daniel-coleman-1 I figured Jerome already did Employment, so that one just needs a sanity check with the wireframes and Contact Us needs to wait for the accordion component for most of the page, so I'll just be moving over intro copy.

[2021-09-01 15:24] Maroyafaied commented on #960
@daniel-coleman-1 I added my comments.

[2021-09-01 15:25] cthomasONRR commented on #963
I would like to do at least one... I'm in a BPR meeting and trying to focus on that this morning...

[2021-09-01 15:25] mcharg commented on #963
@cthomasONRR There are two left for you.

[2021-09-01 15:29] Maroyafaied commented on #963
@daniel-coleman-1 you can have my anti-harassments section, feel free to remove my name.

[2021-09-01 15:33] daniel-coleman-1 commented on #963
@Maroyafaied done, thanks!

[2021-09-01 15:47] mcharg commented on #948
@daniel-coleman-1 I reviewed section 3.0.

[2021-09-01 15:58] mcharg commented on #963
I gave @cthomasONRR Organization & Leadership, since she didn't have any with tabs.

[2021-09-01 16:45] jlouis-onrr opened #964 "Creating issue from directus custom api hook"

[2021-09-01 17:21] daniel-coleman-1 commented on #950
@mcharg for your review:
https://github.com/ONRR/onrr.gov-site/wiki/Analytics

I think we can close this if you're good with it.  Thanks so much for your help with this last month!!  Feeling a lot better about it,

[2021-09-01 17:51] jlouis-onrr opened #965 "CMS content ready for review"

[2021-09-01 17:54] cthomasONRR commented on #959
The BPR meeting was from 8-10 today (9/1/21).

This "Push Data" BPR is about identifying recurring processes (for example: communication of data to the public, scheduled/standard reports, prices, and recurring company requests) that ONRR follows to develop and share solutions which communicate the agency's data to internal and/or external stakeholders. The keyword here is 'recurring' and this BPR

[2021-09-01 17:56] jlouis-onrr opened #966 "CMS content ready for review"

[2021-09-01 17:58] mcharg commented on #959
@cthomasONRR Might also be worth bringing up that all data pushed to the public should be compliant with the Integrated Digital Experience Act (IDEA) and follow user-centered design principles.

[2021-09-01 17:59] cthomasONRR commented on #959
@mcharg - Thanks! I will bring that up next meeting... I believe there will be another one next week but haven't gotten the invite yet.

[2021-09-01 19:33] mcharg opened #967 "Image block component"

[2021-09-01 19:40] mcharg commented on #967
@daniel-coleman-1 Mobile and tablet need to be swapped.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/e0bd6b24-42ce-4049-bb7c-8ed250ca7c2d)

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/d45b0f24-f63c-4cee-b089-8ca380289464)

[2021-09-01 19:45] mcharg commented on #950
@daniel-coleman-1 Mobile and tablet need to be swapped.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/e0bd6b24-42ce-4049-bb7c-8ed250ca7c2d)

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/d45b0f24-f63c-4cee-b089-8ca380289464)

[2021-09-01 19:46] mcharg commented on #950
@daniel-coleman-1 I would call this file XREF.txt - that's what we refer to it as.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/415993f4-e3ff-473d-a80d-e32d45499bd3)

[2021-09-01 19:48] mcharg commented on #950
Otherwise, looks good.

[2021-09-01 19:58] mcharg commented on #961
The green was difficult to see, so made the following changes.

- Changed the green line under the title and the highlight in the left nav to yellow.
- Changed the letters on the valuation example to gold.
- Changed the info boxes to magenta.

I told Megan and Gina to poke around and let me know if they find anything else hard to see in the prototype, so will keep this open for a bit.

@Maroyafaie

[2021-09-01 20:00] daniel-coleman-1 commented on #950
@mcharg thanks! Corrections implemented.

[2021-09-01 20:00] #950 closed

[2021-09-01 20:00] bowlenj opened #968 "Federal Onshore Terminable Leases"
Please update the following webpage http://www.onrr.gov/ReportPay/royalty-reporting.htm with the attached excel file:

Federal Onshore Terminable Leases - sorted by Due Date, please change (08/02/2021) to read (updated 09/01/2021)
[20210901.xlsx](https://github.com/ONRR/onrr.gov-site/files/7093897/20210901.xlsx)

[2021-09-01 20:38] daniel-coleman-1 commented on #968
@bowlenj Update implemented for your review:
http://2017onrr/reportpay/royalty-reporting.htm

[2021-09-01 22:04] #964 closed

[2021-09-01 22:22] jlouis-onrr opened #969 "CMS content ready for review"

[2021-09-01 22:26] #969 closed

[2021-09-02 12:06] Maroyafaied opened #970 "Upload corrected docs from Carrie"
@cthomasONRR I'm opening this issue for next sprint, I'd like to use it to train the cross trainers. Thanks

Carrie has corrected the documents left from Chris Mentasti's list and has shared them in this folder. https://doimspp-my.sharepoint.com/personal/andersca_mms_gov/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fandersca%5Fmms%5Fgov%2FDocuments%2F508%20Compliance%20Accessible&ct=1630584089668&or=

[2021-09-02 12:23] bowlenj commented on #968
Good Morning,

When I open the file it's last months report, date in the top right shows 8/1/2021.  Can you please verify that the new file sent is added, top right date will be 9/1/2021?

Thank You,
Jessica Bowlen
Office of Natural Resource Revenue
Distribution and Disbursement Support Services
Team 1B
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or

[2021-09-02 12:31] Maroyafaied commented on #968
@bowlenj sorry about that. @daniel-coleman-1 please upload the new file attached in the issue and save it as the same name as the previous file ( "FLTerm"). Thanks

[2021-09-02 12:49] #959 closed

[2021-09-02 14:13] cthomasONRR commented on #970
- [ ] [11-13-DOI-SummaryDisbursementsData.pdf](https://github.com/ONRR/onrr.gov-site/files/7099437/11-13-DOI-SummaryDisbursementsData.pdf)
- [ ] [12-14-FY-2014-SummaryDisbursements.pdf](https://github.com/ONRR/onrr.gov-site/files/7099469/12-14-FY-2014-SummaryDisbursements.pdf)
- [ ] [20130812.pdf](https://github.com/ONRR/onrr.gov-site/files/7099470/20130812.pdf)
- [ ] [20131119a.pdf](https://githu

[2021-09-02 15:42] cthomasONRR commented on #963
I completed the 'About ONRR home' page - there was no way for me to imbed links, and the image under 'History' is not appearing on the dev site (https://dev-onrr-frontend.app.cloud.gov/about-onrr).

[2021-09-02 15:46] Maroyafaied commented on #960
@daniel-coleman-1 I made changes in the document, if it looks good to you  then I'll send it to Carrie. Thanks

The Open Data, Design, and Development team manages ONRR’s public websites using agile project management methodology and user-centered design process.  The Natural Resources Revenue Data website publicly displays timely and useful data about how the government manages federal energy and

[2021-09-02 16:07] cthomasONRR commented on #963
I completed the 'FOIA' page. There was no way for me to imbed links, so I will need to go back and do that once we're able to. I also need to figure out how to make 2 columns so the 'Contact' information isn't at the bottom.

[2021-09-02 16:08] cthomasONRR commented on #963
I'm not able to complete the 'Organization & Leadership' page because the tab nesting functionality is not yet ready for us to use.

[2021-09-02 16:09] Maroyafaied commented on #968
@bowlenj this should be corrected now, please review again. Thanks

[2021-09-02 16:26] Maroyafaied commented on #960
Send to Carrie

[2021-09-02 16:26] #960 closed

[2021-09-02 17:34] bowlenj commented on #968
Looks great, thank you!

Thank You,
Jessica Bowlen
Office of Natural Resource Revenue
Distribution and Disbursement Support Services
Team 1B
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosure under applicable law.  If the reader of th

[2021-09-02 17:34] bowlenj commented on #968
Looks great, thank you

Thank You,
Jessica Bowlen
Office of Natural Resource Revenue
Distribution and Disbursement Support Services
Team 1B
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosure under applicable law.  If the reader of thi

[2021-09-02 18:02] boices opened #971 "Update August NYMEX prices on onrr.gov"
Hello,

Please update onrr.gov with the August NYMEX prices as attached. @sudarr

Thanks!
[NYMEX082021.xlsx](https://github.com/ONRR/onrr.gov-site/files/7100832/NYMEX082021.xlsx)

[2021-09-02 18:35] cthomasONRR commented on #971
@boices The August NYMEX prices are on the dev site (http://2017onrr/valuation/NYMEX.htm). Please review and give us your approval to go live.

Thanks!
Christine

[2021-09-02 18:59] daniel-coleman-1 commented on #968
@bowlenj changes have been pushed to the live site and confirmed.
@Maroyafaied thank you for your help with this one!

[2021-09-02 18:59] #968 closed

[2021-09-02 19:06] boices commented on #971
That's perfect--thanks again!

[2021-09-02 19:17] cthomasONRR commented on #971
@boices Awesome! I just made these changes live.

It can take up to 30min for the live site to update, please use “Ctrl+F5” to refresh. (https://www.onrr.gov/valuation/NYMEX.htm)

I will close this issue once I see the changes live.

Thanks,
Christine

[2021-09-02 19:30] cthomasONRR commented on #971
August prices are live! Closing this issue.

[2021-09-02 19:30] #971 closed

[2021-09-02 19:57] forgravec opened #972 "ONRR.gov Indian Index Zone prices - September 2021"
The September Indian Index Zone prices are ready to be updated.
The prices were placed into the "Data for ONRR.gov" spreadsheet in the OneDrive

Please copy Robert Sudar on the email chain for when the webpage with the new prices are ready for review and when it goes live. I will be gone the next couple business days, and he will need to verify the prices.

Thanks,
Cory Forgrave

@sudarr

[2021-09-02 20:55] mcharg commented on #953
Done.  If anyone notices any links that aren't blue or any other places that obviously haven't had visual design applied, let me know.
https://qmcq5k.axshare.com

[2021-09-02 20:55] #953 closed

[2021-09-02 21:17] jlouis-onrr opened #973 "Custom Webhook API Example"

[2021-09-02 21:19] jlouis-onrr opened #974 "Another CMS API Hook"

[2021-09-02 21:20] #973 closed

[2021-09-02 21:20] #974 closed

[2021-09-02 21:27] jlouis-onrr opened #975 "Custom Webhook API Example"

[2021-09-02 22:28] jlouis-onrr opened #976 "Another Custom Webhook API Example"

[2021-09-02 22:29] jlouis-onrr opened #977 "Another Custom Webhook API Example"

[2021-09-02 22:29] jlouis-onrr opened #978 "Another Custom Webhook API Example"

[2021-09-02 22:30] #976 closed

[2021-09-02 22:30] #977 closed

[2021-09-02 22:30] #978 closed

[2021-09-02 22:39] jlouis-onrr opened #979 "Yet another custom webhook api example"

[2021-09-02 22:39] jlouis-onrr opened #980 "Yet another custom webhook api example"

[2021-09-02 22:39] #980 closed

[2021-09-02 22:40] #979 closed

[2021-09-02 22:46] daniel-coleman-1 commented on #948
@mcharg Section 4.0 is ready for your review

[2021-09-02 22:47] jlouis-onrr opened #981 "Another Custom Webhook API Example"

[2021-09-02 22:49] #981 closed

[2021-09-02 22:50] jlouis-onrr opened #982 "Another Custom Webhook API Example"

[2021-09-02 22:50] jlouis-onrr opened #983 "Another Custom Webhook API Example"

[2021-09-02 22:51] #982 closed

[2021-09-02 22:51] #983 closed

[2021-09-02 22:54] jlouis-onrr opened #984 "Another Custom Webhook API Example"

[2021-09-02 22:55] jlouis-onrr opened #985 "Another Custom Webhook API Example"

[2021-09-02 22:55] #984 closed

[2021-09-02 22:55] #985 closed

[2021-09-03 14:10] lpgoldstein commented on #972
@sudarr This is ready for your review http://2017onrr/valuation/allzones.htm

[2021-09-03 14:49] mcharg commented on #948
@daniel-coleman-1 I took a pass back through 3.0 and through 4.0.  Several pages of 4.0 have nothing on them (4.2, 4.3, and 4.4) and a few sections of 4.1 need significant updates to match the wireframe - it looks like you left what was already there, which has changed significantly.

[2021-09-03 15:00] daniel-coleman-1 commented on #948
@mcharg Just updated, could you take another look?

[2021-09-03 15:08] mcharg commented on #948
@mcharg The missing pages are now there - I took a look at those.  You can go through and see if any of my other comments have been addressed.  I've already spent an hour reviewing this morning and have my own work to do.

[2021-09-03 15:09] daniel-coleman-1 commented on #948
@mcharg thanks!

[2021-09-03 15:11] sudarr commented on #972
@lpgoldstein  This looks great to me, please post it. Thanks

[2021-09-03 15:43] jlouis-onrr opened #986 "Another Custom Webhook API Example"

[2021-09-03 15:54] #986 closed

[2021-09-03 15:55] jlouis-onrr opened #987 "Another Custom Webhook API Example"

[2021-09-03 15:56] jlouis-onrr opened #988 "Another Custom Webhook API Example"

[2021-09-03 15:59] #988 closed

[2021-09-03 16:12] lpgoldstein commented on #972
@sudarr These are live https://onrr.gov/valuation/allzones.htm

[2021-09-03 16:24] #987 closed

[2021-09-03 16:24] jlouis-onrr opened #989 "Another Custom Webhook API Example"

[2021-09-03 16:32] #989 closed

[2021-09-03 16:35] jlouis-onrr opened #990 "Another Custom Webhook API Example"

[2021-09-03 16:35] Maroyafaied commented on #948
@daniel-coleman-1 Please make sure the latest version is updated before posting for review so we're not wasting time and also make sure each section is matching the wireframes. At this point, reviewing should go pretty quickly. Thanks!

[2021-09-03 16:38] daniel-coleman-1 commented on #948
@Maroyafaied roger that, will do!

[2021-09-03 17:35] cvojslavek commented on #929
- I checked with Bruce Rumburg to see if it was okay to ask STRAC members for volunteers after my presentation at the STRAC meeting on September 15. He said that would be fine and let him how he can help.

- Then I asked if he wanted to volunteer and he said yes, but after the STRAC meeting (September 14-16).

- Bruce mentioned Peter Hanley may be interested too, so I will add him to my list to re

[2021-09-03 17:38] #972 closed

[2021-09-03 17:46] #990 closed

[2021-09-03 19:16] bowlenj opened #991 "Royalty Reporting and Error Correction Contact List Update"
Please replace the Royalty Reporting and Error Correction contact list at the following location - https://www.onrr.gov/reportpay/PDFDocs/royassign.pdf, with the attached updated version.
[royassign.pdf](https://github.com/ONRR/onrr.gov-site/files/7108065/royassign.pdf)

[2021-09-03 19:19] mcharg commented on #949
Added @jkwonatx since he's reviewing the user research plan to incorporate the equation.

RV and RRM should be meeting to come up with a final equation before we test.

[2021-09-03 19:24] cthomasONRR commented on #991
@bowlenj

This updated document is on the dev site (http://2017onrr/reportpay/royalty-reporting.htm).
Please review and give us your approval to go live.

Thanks,
Christine

[2021-09-03 19:33] mcharg commented on #929
@Maroyafaied Do you think we should exclude anyone who participated in stakeholder reviews of the wireframes?  A lot of the people on @cthomasONRR's list participated in the reviews.

[2021-09-03 21:34] #975 closed

[2021-09-03 21:40] jlouis-onrr opened #992 "Custom Webhook API Example"
New content ready for review: http://localhost:8055/admin/collections/pages/59

[2021-09-07 12:43] Maroyafaied commented on #929
@mcharg Yes, I think we should try to avoid interviewing those who were involved in the stakeholders reviews since the wireframes are build based on their feedback, I think it would be best to recruit people that we haven't spoken to already. @cvojslavek Thanks for getting a list of names, if you're friend uses a screen reader than that won't work with the wireframes but it would be good to have t

[2021-09-07 12:52] Maroyafaied commented on #991
@mcharg can you show @cthomasONRR the contact excel sheet we're using for the CMS to see if contacts need to be updated with this issue. Thanks

[2021-09-07 12:56] cthomasONRR commented on #991
@bowlenj

Hi Jessica,

Just checking in to see if you've been able to review:

This updated document is on the dev site (http://2017onrr/reportpay/royalty-reporting.htm).
Please review and give us your approval to go live.

Thanks,
Christine

[2021-09-07 12:57] mcharg commented on #991
@Maroyafaied Will do.

[2021-09-07 13:05] mcharg commented on #929
@cthomasONRR I added a column to the participant spreadsheet indicating which were involved in stakeholder reviews of the wireframes.

[2021-09-07 13:10] bowlenj commented on #991
Hello,

Thank you, this looks great!

Thank You,
Jessica Bowlen
Office of Natural Resource Revenue
Distribution and Disbursement Support Services
Team 1B
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosure under applicable law.  If the

[2021-09-07 13:22] cthomasONRR commented on #991
@bowlenj Thanks! I just moved the document to the live site (https://www.onrr.gov/reportpay/PDFDocs/royassign.pdf). Please allow about 30 minutes for the changes to appear on the live site. Please use "Ctrl+F5" to refresh the page.

@Maroyafaied and @mcharg - I updated the spreadsheet as well.

I will close this issue once I see the changes live.

Thanks,
Christine

[2021-09-07 13:33] #961 closed

[2021-09-07 13:35] cthomasONRR commented on #991
New PDF is live! Closing this issue.

[2021-09-07 13:35] #991 closed

[2021-09-07 13:42] cthomasONRR commented on #929
OK - I put a strickthrough on the names of those that were involved in the stakeholder reviews. I updated the [following spreadheet](https://teams.microsoft.com/l/file/CF95F231-CAB5-4B62-B409-321AD4633073?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FUser%20Research%2FStudies%2F0

[2021-09-07 14:34] jkwonatx commented on #949
@mcharg I added comments to the research plan for review.

[2021-09-07 15:02] mcharg commented on #954
The checklists all now work.  @cthomasONRR or @lpgoldstein Does one of you want to review to make sure I didn't hook anything up wrong?
https://qmcq5k.axshare.com/#id=muwj32&p=new_reporter_setup

[2021-09-07 15:05] cthomasONRR commented on #954
@mcharg Sure! I'll go in and see if I can break anything ;)

[2021-09-07 15:08] mcharg commented on #949
@jkwonatx Great! I made some revisions based on your comments.

[2021-09-07 15:22] #956 closed

[2021-09-07 15:24] cthomasONRR commented on #954
@mcharg

Questions:
- For Forms ONRR-4444 and W-9, is the only option for new reporters to physically mail them in? No email or fax options? Maybe RRM will provide us better information/want to update this when they review.
- This is likely just the wireframe setup, but if I want to switch between options for 'What are you reporting?' I have to refresh the page for it to work.
-  For Solid Mineral

[2021-09-07 15:36] mcharg commented on #954
@cthomasONRR
* I'm pretty sure they have to mail the 4444 and W-9.
* That is the wireframe setup.  It would be a lot more work to make it changeable without refreshing.
* I just swapped out the pdf with a link to the solids contacts page.  That team really likes sending people to the contacts list.  Maybe they'll change their mind once we show them how easy it is to update contact info in the CMS.

[2021-09-07 15:48] #954 closed

[2021-09-07 16:08] cthomasONRR commented on #929
@mcharg Here is my draft email. Please let me know if anything should be modified:

SUBJECT: New onrr.gov website - request for feedback

Hi [Name],

I hope you are all doing well! The Data Display team is working on a new version of onrr.gov and we would love your feedback.

We are planning a study to understand what users think about the format of the updated website, and if it is meeting your n

[2021-09-07 16:12] mcharg commented on #929
@cthomasONRR Looks good!

[2021-09-07 16:15] mcharg commented on #706
@cthomasONRR Can you please add the eCommerce guide above to the accessibility tracking sheet assigned to Stacey Browne?  It's not on the site yet, but we want it added and it has accessibility errors.

[2021-09-07 16:32] cthomasONRR commented on #706
@mcharg I added it to the accessibility tracking tab, but could not get the formulas to work in the content audit tab.

[2021-09-07 16:36] mcharg commented on #931
@daniel-coleman-1 When I was reviewing links in the wireframes, I noticed this file is no longer listed on the site.  Can you please put it back or look into why it's missing?
https://www.onrr.gov/reportpay/references.htm

CC: @Maroyafaied

[2021-09-07 16:43] Maroyafaied commented on #931
@mcharg I see the file on the live site under Manuals and Guidance, it could've been that the previous file was a pdf and it's excel now, if that's the case then @daniel-coleman-1 please update the content audit sheet.
![image](https://user-images.githubusercontent.com/40175688/132381281-b32c9147-22bf-4e6d-82af-5977a7723018.png)

[2021-09-07 17:02] mcharg commented on #931
@Maroyafaied I was looking for it in the list with the other files under offshore.  Sorry for the confusion.

[2021-09-07 17:02] #931 closed

[2021-09-07 17:05] #992 closed

[2021-09-07 17:08] jlouis-onrr opened #993 "Custom Webhook API Example"
New content ready for review: http://localhost:8055/admin/collections/pages/60

[2021-09-07 18:42] jlouis-onrr opened #994 "Page Builder Example"
New content ready for review: http://localhost:8055/admin/collections/pages/58

[2021-09-07 19:08] mcharg commented on #853
Data intern can help by creating a spreadsheet mapping old urls to new urls.

[2021-09-07 19:14] cthomasONRR commented on #929
I sent emails to the following people, with a request for them to participate in an interview:

- [ ] Jessica Sheets
- [ ] Janice Gonzales
- [ ] Kelsey Zabrusky
- [ ] Latisha Williams
- [ ] Forence Vigil
- [ ] Alicia Pterson
- [ ] Matthew Decker
- [ ] Michelle Nichols

[2021-09-07 19:40] mcharg opened #995 "Find links for Crude Oil Market Centers publications"
We have them listed with no links.
https://www.onrr.gov/valuation/Crude-Oil-Market-Centers.htm

[2021-09-07 19:45] cthomasONRR commented on #995
We should have someone from MSA review/approve this too.

- [ ] Argus American Crude: https://www.argusmedia.com/en/crude-oil/argus-americas-crude
- [ ] Platts Oilgram Price Report: https://www.spglobal.com/platts/en/products-services/oil/oilgram-price-report

[2021-09-07 20:09] mojobnichols opened #996 "Hot Rod cms package scripts"
Clean up scripts for starting stopping building cms

[2021-09-07 20:13] mojobnichols opened #997 "Create global package script#"
Create scripts that start stop clear rebuild, etc docker compose database and docker compose cms.

[2021-09-07 20:21] cthomasONRR commented on #995
@Baymatt I'm having trouble finding a direct link to the following:
- [ ] Platts Price Average Supplement

Can you see if you can find a direct link like the ones I have above? I'm suspicious that this is for supplement prices within the Platts Oilgram Price Report, but I might be wrong.

Once you research, we will send an email to a MSA contact for them to verify.

Thanks!

[2021-09-07 20:32] Baymatt commented on #995
@cthomasONRR The closest document I've found is https://www.spglobal.com/platts/PlattsContent/_assets/_files/en/our-methodology/methodology-specifications/market-parity-price-faq.pdf within the Crude Oil Methodology Supporting Materials found here, https://www.spglobal.com/platts/en/our-methodology/methodology-specifications/oil/crude-oil-methodology

Let me know if this isn't what we're looking f

[2021-09-07 20:42] damionschulte opened #998 "August 2021 IBMP Pirces"
All I have updated the onrr.gov spreadsheet on the OneDrive with the August 2021 IBMP prices.  Can you please have them published to the web?  Thanks

@sudarr

Damion Schulte

[2021-09-07 20:42] cthomasONRR commented on #995
@Baymatt Thanks! Tomorrow I will draft an email to Damion Schulte and see if he can verify that we found the correct links.

[2021-09-08 14:35] lpgoldstein commented on #998
@codyeckstein Let's work on this together this morning. I'm available anytime.

[2021-09-08 15:30] daniel-coleman-1 commented on #963
Anti-Harassment Program is good to go (https://qmcq5k.axshare.com/#id=l88jo0&p=anti-harassment_program)

Engagement needs the tab nesting function, content card components and a table component.
Office locations needs content card components.

[2021-09-08 15:39] Maroyafaied commented on #963
@daniel-coleman-1 The anti-harassment page is not showing on the dev site, the content that I added in that page a while ago needs to be moved to the page builder box for it to show in dev.  https://dev-onrr-frontend.app.cloud.gov/about-onrr/anti-harassment

[2021-09-08 15:48] mcharg commented on #949
RV and RRM met yesterday and they hope to have an update to us this afternoon.

[2021-09-08 15:52] mcharg opened #999 "Figure out what to put on how to price Indian page"
I reached out to the Indian team because they had wanted to put something like "go see the handbook" in place of what I have in the wireframe. Now they're saying to use the language on the existing site, which doesn't exist.  It would be good for someone to work with them on a middle ground.

https://qmcq5k.axshare.com/#id=y89dq7&p=indian_pricing

[2021-09-08 16:04] cthomasONRR commented on #995
I sent the following email to Damion:

"Hi Damion,

We are working on updating the onrr.gov website, and I noticed that the Crude Oil Market Centers webpage (https://www.onrr.gov/valuation/Crude-Oil-Market-Centers.htm) does not have links for the approved publications.

I went online and tried to find appropriate links. Could you review and approve the links I found? Or, if you do not want the lin

[2021-09-08 16:19] lpgoldstein commented on #998
@damionschulte Please check dev site http://2017onrr/valuation/IndianOilIBMP.htm

[2021-09-08 16:19] mcharg opened #1000 "Update sitemap (sections 1-4) to remove documents removed with 508 compliance"
I added notes to the sitemap Axure preview.

[2021-09-08 16:23] damionschulte commented on #998
These look amazing. Once again you guys have delivered.  Thank you.

From: lpgoldstein ***@***.***>
Sent: Wednesday, September 8, 2021 10:20 AM
To: ONRR/onrr.gov-site ***@***.***>
Cc: Schulte, Damion C ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ONRR/onrr.gov-site] August 2021 IBMP Pirces (#998)

 This email has been received from outside of DOI - Use caution before clicking on lin

[2021-09-08 16:23] cthomasONRR commented on #995
Damion responded and included Robert Sudar for his input:

"Hey Christine,  So for the approved publication a company has to have a subscription to them in order to get into them.  My guess would be that anyone looking for the market centers would already have these subscriptions.  I’m not sure if putting the links in there is a good idea or not.  Thanks is why I included Robert on this.  That bei

[2021-09-08 16:47] Maroyafaied commented on #963
I did what I could on the Public Affairs page while page builder was working. https://dev-onrr-frontend.app.cloud.gov/about-onrr/public-affairs

[2021-09-08 17:29] cthomasONRR commented on #995
Response from Robert Sudar:

"We added the links to the Federal Gas Index page. For consistency, I see why we'd add the links here. However, I think oil market centers are only used in non-arm's length valuation situations and most of those situations are companies that already have a subscription to one of these so a link might not be worth it.

Damion's right, the price supplement is part of the

[2021-09-08 17:51] bowlenj opened #1001 "Royalty and Error Correction Contact List Update"
Additional revisions were needed,
[royassign_revised_9-8-21.pdf](https://github.com/ONRR/onrr.gov-site/files/7130884/royassign_revised_9-8-21.pdf)
Please replace the Royalty Reporting and Error Correction contact list at the following location - https://www.onrr.gov/reportpay/PDFDocs/royassign.pdf, with the attached updated version.
royassign.pdf

[2021-09-08 17:57] Maroyafaied commented on #1001
@lpgoldstein @codyeckstein let me know if you have time to take this one, also please update the contact spreadsheet we're using for the CMS if needed. Thanks

[2021-09-08 18:03] lpgoldstein commented on #998
@damionschulte This is live! https://onrr.gov/valuation/IndianOilIBMP.htm

[2021-09-08 18:03] #998 closed

[2021-09-08 18:19] mcharg opened #1002 "Editor JS bugs"

[2021-09-08 18:31] cthomasONRR commented on #995
I will add the following links:

•	Argus American Crude: https://www.argusmedia.com/en/crude-oil/argus-americas-crude
•	Platts Oilgram Price Report: https://www.spglobal.com/platts/en/products-services/oil/oilgram-price-report
•	Platts Price Average Supplement: https://www.spglobal.com/platts/en/products-services/oil/oilgram-price-report

[2021-09-08 18:40] cthomasONRR commented on #995
@mcharg
Can you review the dev site to make sure I added in the links correctly? They look ok to me but want an extra set of eyes before moving it to the live site.
http://2017onrr/valuation/Crude-Oil-Market-Centers.htm

[2021-09-08 18:42] mcharg commented on #995
@cthomasONRR Looks good.

[2021-09-08 19:05] codyeckstein commented on #929
I work with Alicia, Latisha, and Janice--I'd be happy to sit in on their interviews.

[2021-09-08 19:11] codyeckstein commented on #1001
Confirmed- this list is no good as of today.  Will see if I can get the updated list.

[2021-09-08 19:13] cthomasONRR commented on #995
Links are now live. Closing issue.

[2021-09-08 19:13] #995 closed

[2021-09-08 19:18] #955 closed

[2021-09-08 19:27] codyeckstein commented on #1001
Upon receiving further clarification- they want us to upload this one for now. @lpgoldstein and I will do this tomorrow.

[2021-09-08 19:51] daniel-coleman-1 commented on #948
@mcharg and @Maroyafaied

I've reviewed and edited through 3.0 and 4.0, just took another look at 4.0 and made some updates.  4.0 should be good to go.

[2021-09-08 20:35] mcharg commented on #948
@daniel-coleman-1 I'll take a look in the morning.

[2021-09-09 13:51] mcharg commented on #948
@daniel-coleman-1 I went back through and there's another round of comments.  There were also a number that you had marked resolved that hadn't been resolved.  I noted those with a comment when unresolving.

[2021-09-09 15:25] Maroyafaied commented on #948
@mcharg can you create a checklist for things you look for when reviewing so @daniel-coleman-1 can use when he does his own review.  Thanks

[2021-09-09 15:28] mcharg commented on #948
Checklist:

- [ ] Sitemap reflects what's in the wireframe.
- [ ] Ensure the correct document or page type is reflected in the coloring or line styles.
- [ ] All coloring and line styles match the key.
- [ ] Numbering is accurate.
- [ ] Numbering that refers to other pages is accurate (check to make sure section numbers for those haven't changed).

[2021-09-09 16:35] jlouis-onrr opened #1003 "Page Builder Example"
New content ready for review: http://localhost:8055/admin/collections/pages/58

[2021-09-09 17:09] codyeckstein commented on #1001
Accessibility check failed. Requested updated document.

[2021-09-09 17:37] codyeckstein commented on #1001
http://2017onrr/ @bowlenj Does it look ok on the dev site?

[2021-09-09 17:39] mcharg commented on #949
Jodie said they sent the updates to the RRM folks and gave them until end of day today to provide feedback.  Then she'll get it to me, so I can update the prototype tomorrow, so it's ready to test on Monday.

[2021-09-09 17:59] mcharg opened #1004 "Review FOIA wireframes with FOIA team"

[2021-09-09 18:04] daniel-coleman-1 opened #1005 "ONRR.gov Site Map Update Sections 5.0, 6.0, & 7.0"

[2021-09-09 18:09] bowlenj commented on #1001
Looks great, thank you!

Thank You,
Jessica Bowlen
Office of Natural Resource Revenue
Distribution and Disbursement Support Services
Team 1B
303-231-3202
***@***.***

Warning:  This message is intended only for use of the individual or entity to which it is addressed and may contain information that is privileged or confidential and exempt from disclosure under applicable law.  If the reader of th

[2021-09-09 18:10] #859 closed

[2021-09-09 18:11] #847 closed

[2021-09-09 18:15] #958 closed

[2021-09-09 18:18] #967 closed

[2021-09-09 18:20] #793 closed

[2021-09-09 18:36] codyeckstein commented on #1001
@bowlenj This is live!

[2021-09-09 18:36] #1001 closed

[2021-09-09 19:24] Maroyafaied commented on #1002
@jlouis-onrr page builder not loading, here are the dev errors and my browser version
![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/d9ebf9a5-385a-4cdd-b1b3-a62cc127e153)![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/91340ac9-316a-4e7f-999e-bb98aacb1a3f)

[2021-09-09 20:09] daniel-coleman-1 commented on #948
@mcharg is it possible to make those images of the handbooks interactive?  I can't interact with the pages so don't know where links go, what they contain etc.

[2021-09-09 20:46] mcharg commented on #948
@daniel-coleman-1 Use what's on the live site.
https://www.onrr.gov/reportpay/Handbooks/index.htm

[2021-09-09 22:19] daniel-coleman-1 commented on #948
Updated and all issues resolved, @Maroyafaied I think this one is good to close once you've reviewed it.

[2021-09-09 23:01] Maroyafaied commented on #948
@daniel-coleman-1 I'll review this tomorrow if I log on, otherwise I'll review Monday morning. Thanks

[2021-09-10 13:29] mcharg opened #1006 "Revisit contacts organization"
I just pulled categories from the existing docs.  There's room for improvement.

These are the categories used in the wireframes:
https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/ONRR.gov/Design/Contacts/ContactsFiles.xlsx?d=wee2fc3b441964dce928684aaf6e25e00&csf=1&web=1&e=sfnILQ

[2021-09-10 13:36] mcharg commented on #949
Sent to Jodie, Jahed, Megan, and Gina for review.
https://qmcq5k.axshare.com/#id=l9inb4&p=valuation___pricing

[2021-09-10 13:39] mcharg commented on #857
@jlouis-onrr @mojobnichols Would this be a good issue to put Chris on and have him work with the UX interns to iterate based on what comes out of the box?

[2021-09-10 15:50] #949 closed

[2021-09-10 16:12] Maroyafaied commented on #948
@daniel-coleman-1 I reviewed, I added comments mainly in the Mineral Revenue Handbook and the Indian Payor handbook sections.  Please address the comments before closing this issue. Thanks

[2021-09-10 16:20] Maroyafaied opened #1007 "Conduct onrr.gov study"

[2021-09-10 17:19] codyeckstein commented on #1006
@mcharg let's have a quick meeting on this.

[2021-09-10 17:23] mcharg commented on #1006
@codyeckstein My calendar is up to date, if you want to schedule one.

[2021-09-10 18:20] mcharg opened #1008 "Add ability to put alt text on images"

[2021-09-10 18:25] mcharg commented on #850
Needed for employment page. https://dev-onrr-frontend.app.cloud.gov/about-onrr/employment

[2021-09-10 18:26] mcharg commented on #845
Right column for logos needed for Employment page: https://dev-onrr-frontend.app.cloud.gov/about-onrr/employment

[2021-09-10 18:26] mcharg commented on #834
@jlouis-onrr Is this fixed?

[2021-09-10 18:29] mcharg opened #1009 "Refine contacts collection"
Needs visual design and expanding sections.

https://dev-onrr-frontend.app.cloud.gov/about-onrr/contact-us

[2021-09-10 18:32] mcharg opened #1010 "Can't copy and paste text onto a tab"
It's pasting below the tabs.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/c95c26bc-7c43-41e8-b49b-8a54c808c37c)

[2021-09-10 19:46] mcharg commented on #1010
Same thing when trying to paste into the tab content.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/8431af41-41ca-4ec7-907d-3c4e7d4b8796)

[2021-09-10 19:48] mcharg commented on #1010
Pasting as plain text using the right click menu works, but I can't use the enter button to add another paragraph.  It just puts an extra row below the tabs.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/b450048f-0a4d-40ec-b31d-cf07f16bd571)

[2021-09-10 19:50] mcharg commented on #963
Got as far as I could with Employment and Contact Us.  Created #1010 for issues with tabs that stopped me on Interagency Coordination.

[2021-09-10 19:52] jlouis-onrr commented on #1010
@mcharg, try out shift + enter after the paragraph

[2021-09-10 19:54] mcharg commented on #1010
@jlouis-onrr That works.

[2021-09-10 19:55] mcharg commented on #1010
@jlouis-onrr Except it just renders it all in one blob.  I think we need to add the plus sign into the tab content, so we can have headers and images within tabs.

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/3b630f82-30c0-4b0c-91c2-ec26f23238a2)

[2021-09-10 19:56] mcharg commented on #1010
@jlouis-onrr It takes out the carriage returns when saving the page.

[2021-09-10 19:58] jlouis-onrr commented on #1010
@mcharg, Might be best to not add any content except for basic text to the tabs until we can add the rich tool editor to the textarea.

[2021-09-10 20:14] mcharg commented on #1010
@jlouis-onrr Should we use this issue for adding the rich tool editor to tabs?

[2021-09-10 20:16] jlouis-onrr commented on #1010
@mcharg, probably not as this is an issue with the content editable div's innerHTML tags being stripped out once saved.  This should be a quick fix to get basic tags to work within the textarea.

[2021-09-10 20:16] codyeckstein commented on #929
Sent emails to Crowheart (hoping for a newer reporter) and Judy at EOG (seasoned reporter),

[2021-09-10 20:19] mcharg opened #1011 "Add rich editor tool to tabs"

[2021-09-10 20:19] mcharg commented on #1010
@jlouis-onrr I created a new issue (#1011) for adding the rich editor tool to tabs.

[2021-09-10 20:20] mcharg commented on #1006
We're going to wait until after the usability study for findings related to this.

[2021-09-13 15:04] StaceyKaiser opened #1012 "Webpage Update - New Lease Agreement XREF file for onrr.gov"
Please replace the existing file located at: http://www.onrr.gov/ReportPay/CrossRef.htm called “Downloadable Text Cross-Reference Lease to Agreement Number” with the file entitled “September 2021 Lease Agreement XREF.txt”.  It was queried from the system on 9/13/2021.
[September 2021 Lease Agreement XREF.txt](https://github.com/ONRR/onrr.gov-site/files/7155285/September.2021.Lease.Agreement.XREF.t